<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

    <!-- enable autowire -->
    <context:annotation-config/>

    <bean class="com.tuotiansudai.etcd.ETCDPropertySourcesPlaceholderConfigurer"/>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <!-- enable component scanning (beware that this does not enable mapper scanning!) -->
    <context:component-scan base-package="com.tuotiansudai.service,com.tuotiansudai.repository,com.tuotiansudai.client,
    com.tuotiansudai.spring,com.tuotiansudai.console.util,com.tuotiansudai.util,com.tuotiansudai.coupon,
    com.tuotiansudai.console.bi,com.tuotiansudai.point,com.tuotiansudai.task.aspect,com.tuotiansudai.transfer,
    com.tuotiansudai.console.service,com.tuotiansudai.membership,com.tuotiansudai.cache,com.tuotiansudai.ask.service,
    com.tuotiansudai.activity.service,com.tuotiansudai.log.service,com.tuotiansudai.rest.client"/>

    <bean id="hikariCPDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg>
            <bean class="com.zaxxer.hikari.HikariConfig">
                <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
                <property name="jdbcUrl"
                          value="jdbc:mysql://${common.jdbc.host}:${common.jdbc.port}/aa?useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="${common.jdbc.username}"/>
                <property name="password" value="${common.jdbc.password}"/>
                <property name="minimumIdle" value="${console.aa.minimumIdle}"/>
                <property name="maximumPoolSize" value="${console.aa.maximumPoolSize}"/>
                <property name="idleTimeout" value="${common.jdbc.idleTimeout}"/>
                <property name="dataSourceProperties">
                    <props>
                        <prop key="cachePrepStmts">${common.jdbc.cachePrepStmts}</prop>
                        <prop key="prepStmtCacheSize">${common.jdbc.prepStmtCacheSize}</prop>
                        <prop key="prepStmtCacheSqlLimit">${common.jdbc.prepStmtCacheSqlLimit}</prop>
                    </props>
                </property>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="jobHikariCPDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg>
            <bean class="com.zaxxer.hikari.HikariConfig">
                <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
                <property name="jdbcUrl"
                          value="jdbc:mysql://${common.jdbc.host}:${common.jdbc.port}/job_worker?useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="${common.jdbc.username}"/>
                <property name="password" value="${common.jdbc.password}"/>
                <property name="minimumIdle" value="${console.job.minimumIdle}"/>
                <property name="maximumPoolSize" value="${console.job.maximumPoolSize}"/>
                <property name="idleTimeout" value="${common.jdbc.idleTimeout}"/>
                <property name="dataSourceProperties">
                    <props>
                        <prop key="cachePrepStmts">${common.jdbc.cachePrepStmts}</prop>
                        <prop key="prepStmtCacheSize">${common.jdbc.prepStmtCacheSize}</prop>
                        <prop key="prepStmtCacheSqlLimit">${common.jdbc.prepStmtCacheSqlLimit}</prop>
                    </props>
                </property>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="askHikariCPDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg>
            <bean class="com.zaxxer.hikari.HikariConfig">
                <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
                <property name="jdbcUrl"
                          value="jdbc:mysql://${common.jdbc.host}:${common.jdbc.port}/${ask.jdbc.schema}?useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="${ask.jdbc.username}"/>
                <property name="password" value="${ask.jdbc.password}"/>
                <property name="minimumIdle" value="${console.ask.minimumIdle}"/>
                <property name="maximumPoolSize" value="${console.ask.maximumPoolSize}"/>
                <property name="idleTimeout" value="${common.jdbc.idleTimeout}"/>
                <property name="dataSourceProperties">
                    <props>
                        <prop key="cachePrepStmts">${common.jdbc.cachePrepStmts}</prop>
                        <prop key="prepStmtCacheSize">${common.jdbc.prepStmtCacheSize}</prop>
                        <prop key="prepStmtCacheSqlLimit">${common.jdbc.prepStmtCacheSqlLimit}</prop>
                    </props>
                </property>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="activityHikariCPDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg>
            <bean class="com.zaxxer.hikari.HikariConfig">
                <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
                <property name="jdbcUrl"
                          value="jdbc:mysql://${common.jdbc.host}:${common.jdbc.port}/${activity.jdbc.schema}?useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="${activity.jdbc.username}"/>
                <property name="password" value="${activity.jdbc.password}"/>
                <property name="minimumIdle" value="${console.activity.minimumIdle}"/>
                <property name="maximumPoolSize" value="${console.activity.maximumPoolSize}"/>
                <property name="idleTimeout" value="${common.jdbc.idleTimeout}"/>
                <property name="dataSourceProperties">
                    <props>
                        <prop key="cachePrepStmts">${common.jdbc.cachePrepStmts}</prop>
                        <prop key="prepStmtCacheSize">${common.jdbc.prepStmtCacheSize}</prop>
                        <prop key="prepStmtCacheSqlLimit">${common.jdbc.prepStmtCacheSqlLimit}</prop>
                    </props>
                </property>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="anxinHikariCPDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg>
            <bean class="com.zaxxer.hikari.HikariConfig">
                <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
                <property name="jdbcUrl"
                          value="jdbc:mysql://${common.jdbc.host}:${common.jdbc.port}/${anxin.jdbc.schema}?useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="${anxin.jdbc.username}"/>
                <property name="password" value="${anxin.jdbc.password}"/>
                <property name="minimumIdle" value="${anxin.anxin.minimumIdle}"/>
                <property name="maximumPoolSize" value="${anxin.anxin.maximumPoolSize}"/>
                <property name="idleTimeout" value="${common.jdbc.idleTimeout}"/>
                <property name="dataSourceProperties">
                    <props>
                        <prop key="cachePrepStmts">${common.jdbc.cachePrepStmts}</prop>
                        <prop key="prepStmtCacheSize">${common.jdbc.prepStmtCacheSize}</prop>
                        <prop key="prepStmtCacheSqlLimit">${common.jdbc.prepStmtCacheSqlLimit}</prop>
                    </props>
                </property>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="messageHikariCPDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg>
            <bean class="com.zaxxer.hikari.HikariConfig">
                <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
                <property name="jdbcUrl"
                          value="jdbc:mysql://${common.jdbc.host}:${common.jdbc.port}/${message.jdbc.schema}?useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="${message.jdbc.username}"/>
                <property name="password" value="${message.jdbc.password}"/>
                <property name="minimumIdle" value="${console.message.minimumIdle}"/>
                <property name="maximumPoolSize" value="${console.message.maximumPoolSize}"/>
                <property name="idleTimeout" value="${common.jdbc.idleTimeout}"/>
                <property name="dataSourceProperties">
                    <props>
                        <prop key="cachePrepStmts">${common.jdbc.cachePrepStmts}</prop>
                        <prop key="prepStmtCacheSize">${common.jdbc.prepStmtCacheSize}</prop>
                        <prop key="prepStmtCacheSqlLimit">${common.jdbc.prepStmtCacheSqlLimit}</prop>
                    </props>
                </property>
            </bean>
        </constructor-arg>
    </bean>


    <bean id="logHikariCPDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg>
            <bean class="com.zaxxer.hikari.HikariConfig">
                <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
                <property name="jdbcUrl"
                          value="jdbc:mysql://${common.jdbc.host}:${common.jdbc.port}/${log.jdbc.schema}?useUnicode=true&amp;characterEncoding=UTF-8"/>
                <property name="username" value="${log.jdbc.username}"/>
                <property name="password" value="${log.jdbc.password}"/>
                <property name="minimumIdle" value="${console.log.minimumIdle}"/>
                <property name="maximumPoolSize" value="${console.log.maximumPoolSize}"/>

                <property name="idleTimeout" value="${common.jdbc.idleTimeout}"/>
                <property name="dataSourceProperties">
                    <props>
                        <prop key="cachePrepStmts">${common.jdbc.cachePrepStmts}</prop>
                        <prop key="prepStmtCacheSize">${common.jdbc.prepStmtCacheSize}</prop>
                        <prop key="prepStmtCacheSqlLimit">${common.jdbc.prepStmtCacheSqlLimit}</prop>
                    </props>
                </property>
            </bean>
        </constructor-arg>
    </bean>

    <!-- transaction manager, use JtaTransactionManager for global tx -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="hikariCPDataSource"/>
    </bean>

    <bean id="askTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="askHikariCPDataSource"/>
    </bean>

    <bean id="activityTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="activityHikariCPDataSource"/>
    </bean>

    <bean id="messageTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="messageHikariCPDataSource"/>
    </bean>

    <bean id="jobStoreBuilder" class="com.tuotiansudai.quartz.JobStoreBuilder">
        <constructor-arg ref="jobHikariCPDataSource"/>
    </bean>

    <bean id="schedulerBuilder" class="com.tuotiansudai.quartz.SchedulerBuilder">
        <constructor-arg ref="jobStoreBuilder"/>
    </bean>

    <bean class="com.tuotiansudai.job.JobManager">
        <constructor-arg ref="schedulerBuilder"/>
    </bean>

    <!-- define the SqlSessionFactory -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="hikariCPDataSource"/>
        <property name="typeAliasesPackage" value="com.tuotiansudai.repository.model,com.tuotiansudai.point.repository.model,com.tuotiansudai.console.bi.repository.model,
                                                   com.tuotiansudai.console.repository.model,com.tuotiansudai.membership.repository.model"/>
    </bean>

    <bean id="askSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="askHikariCPDataSource"/>
        <property name="typeAliasesPackage" value="com.tuotiansudai.ask.repository.model"/>
    </bean>

    <bean id="anxinSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="anxinHikariCPDataSource"/>
        <property name="typeAliasesPackage" value="com.tuotiansudai.cfca.model"/>
    </bean>

    <bean id="activitySqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="activityHikariCPDataSource"/>
        <property name="typeAliasesPackage" value="com.tuotiansudai.activity.repository.model"/>
    </bean>

    <bean id="logSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="logHikariCPDataSource"/>
        <property name="typeAliasesPackage" value="com.tuotiansudai.log.repository.model"/>
    </bean>

    <bean id="messageSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="messageHikariCPDataSource"/>
        <property name="typeAliasesPackage" value="com.tuotiansudai.message.repository.model"/>
    </bean>

    <!-- scan for mappers and let them be autowired -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage" value="com.tuotiansudai.repository.mapper,com.tuotiansudai.console.bi.repository.mapper,com.tuotiansudai.point.repository.mapper,
                                            com.tuotiansudai.console.repository.mapper,com.tuotiansudai.membership.repository.mapper"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="askSqlSessionFactory"/>
        <property name="basePackage" value="com.tuotiansudai.ask.repository.mapper"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="anxinSessionFactory"/>
        <property name="basePackage" value="com.tuotiansudai.cfca.mapper"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="activitySqlSessionFactory"/>
        <property name="basePackage" value="com.tuotiansudai.activity.repository.mapper"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="messageSqlSessionFactory"/>
        <property name="basePackage" value="com.tuotiansudai.message.repository.mapper"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="logSessionFactory"/>
        <property name="basePackage" value="com.tuotiansudai.log.repository.mapper"/>
    </bean>

    <!--for test-->
    <bean id="httpServletRequest" class="org.springframework.mock.web.MockHttpServletRequest"/>

    <bean class="com.tuotiansudai.mq.config.MQProducerConfig"/>
</beans>
