<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.membership.repository.mapper.MembershipPurchaseMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache"/>

    <resultMap id="membershipPurchaseResultMap" type="MembershipPurchaseModel">
        <id column="id" property="id"/>
        <result column="login_name" property="loginName"/>
        <result column="mobile" property="mobile"/>
        <result column="user_name" property="userName"/>
        <result column="level" property="level"/>
        <result column="duration" property="duration"/>
        <result column="amount" property="amount"/>
        <result column="source" property="source"/>
        <result column="status" property="status"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

    <insert id="create" parameterType="MembershipPurchaseModel">
        insert into membership_purchase (id, login_name, mobile, user_name, level, duration, amount, source, status, created_time)
        value(#{id}, #{loginName}, #{mobile}, #{userName}, #{level}, #{duration}, #{amount}, #{source}, #{status}, #{createdTime})
    </insert>

    <select id="findById" resultMap="membershipPurchaseResultMap" parameterType="long">
        select * from membership_purchase where id = #{id}
    </select>

    <update id="update" parameterType="MembershipPurchaseModel">
        update membership_purchase
        set login_name = #{loginName},
        mobile = #{mobile},
        user_name = #{userName},
        level = #{level},
        duration = #{duration},
        amount = #{amount},
        source = #{source},
        status = #{status}
        where id = #{id}
    </update>

    <select id="countByPagination" resultType="long" parameterType="map">
        select count(1) from membership_purchase
        where status = 'SUCCESS'
        <if test="mobile != null and mobile !=''">
            and mobile = #{mobile}
        </if>
        <if test="duration != null">
            and duration = #{duration}
        </if>
        <if test="source != null">
            and source = #{source}
        </if>
        <if test="startTime != null">
            and created_time >= #{startTime}
        </if>
        <if test="endTime != null">
            and created_time &lt;= #{endTime}
        </if>
    </select>

    <select id="findByPagination" resultMap="membershipPurchaseResultMap" parameterType="map">
        select * from membership_purchase
        where status = 'SUCCESS'
        <if test="mobile != null and mobile !=''">
            and mobile = #{mobile}
        </if>
        <if test="duration != null">
            and duration = #{duration}
        </if>
        <if test="source != null">
            and source = #{source}
        </if>
        <if test="startTime != null">
            and created_time >= #{startTime}
        </if>
        <if test="endTime != null">
            and created_time &lt;= #{endTime}
        </if>
        order by created_time desc, id asc
        limit #{index}, #{pageSize}
    </select>

</mapper>