<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.membership.repository.mapper.UserMembershipMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache"/>

    <resultMap id="UserMembershipResultMap" type="UserMembershipModel">
        <id column="id" property="id"/>
        <result column="login_name" property="loginName"/>
        <result column="membership_id" property="membershipId"/>
        <result column="expired_time" property="expiredTime"/>
        <result column="created_time" property="createdTime"/>
        <result column="type" property="type"/>
        <result column="membership_give_id" property="membershipGiveId"/>
    </resultMap>

    <resultMap id="UserMembershipItemResultMap" type="UserMembershipItemView">
        <id column="id" property="id"/>
        <result column="login_name" property="loginName"/>
        <result column="user_name" property="realName"/>
        <result column="mobile" property="mobile"/>
        <result column="membership_point" property="membershipPoint"/>
        <result column="level" property="membershipLevel"/>
        <result column="type" property="userMembershipType"/>
        <result column="register_time" property="registerTime"/>
        <result column="created_time" property="createdTime"/>
        <result column="expired_time" property="expiredTime"/>
    </resultMap>

    <insert id="create" parameterType="UserMembershipModel" useGeneratedKeys="true" keyProperty="id">
        insert into user_membership (login_name, membership_id, expired_time, created_time, type, membership_give_id)
        value(#{loginName}, #{membershipId}, #{expiredTime}, #{createdTime}, #{type}, #{membershipGiveId})
    </insert>

    <insert id="createBatch" parameterType="UserMembershipModel">
        INSERT INTO `aa`.`user_membership` (login_name, membership_id, expired_time, created_time, type,
        membership_give_id)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.loginName}, #{item.membershipId}, #{item.expiredTime}, #{item.createdTime}, #{item.type},
            #{item.membershipGiveId})
        </foreach>
    </insert>

    <update id="update" parameterType="UserMembershipModel">
        update user_membership set login_name = #{loginName}, membership_id = #{membershipId}, expired_time = #{expiredTime}, expired_time = #{createdTime}, type = #{type} where id = #{id}
    </update>

    <select id="findById" resultMap="UserMembershipResultMap" parameterType="long">
        select * from user_membership where id = #{id}
    </select>

    <select id="findByLoginName" resultMap="UserMembershipResultMap" parameterType="string">
        select * from user_membership where login_name = #{loginName}
    </select>

    <select id="findUserMembershipItemViews" resultMap="UserMembershipItemResultMap">
        SELECT * FROM (
        SELECT
        user_membership.id,
        user_membership.login_name,
        account.user_name,
        user.mobile,
        account.membership_point,
        membership.level,
        user_membership.type,
        user.register_time,
        user_membership.created_time,
        user_membership.expired_time
        FROM `aa`.`user_membership`
        JOIN `aa`.`membership`
        JOIN `aa`.`user`
        JOIN `aa`.`account` ON `user_membership`.`membership_id` = `membership`.`id`
        AND `user_membership`.`login_name` = `user`.`login_name`
        AND `user_membership`.`login_name` = `account`.`login_name`
        AND `user_membership`.`expired_time` > now()
        <where>
            <if test="loginName != null and loginName != ''">
                user_membership.login_name = #{loginName}
            </if>
            <if test="mobile != null and mobile != ''">
                AND user.mobile = #{mobile}
            </if>
            <if test="registerStartTime != null">
                AND user.register_time &gt;= #{registerStartTime}
            </if>
            <if test="registerEndTime != null">
                AND user.register_time &lt;= #{registerEndTime}
            </if>
            <if test="type != null and type.name() != 'ALL' ">
                AND user_membership.type = #{type}
            </if>
            <if test="levels != null and levels.size() > 0">
                AND membership.level in
                <foreach collection="levels" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY membership.level DESC) t
        GROUP BY login_name
        limit #{pageIndex}, #{pageSize}
    </select>

    <select id="findCountUserMembershipItemViews" resultType="int">
        SELECT COUNT(1) FROM (
        SELECT * FROM (
        SELECT
        user_membership.id,
        user_membership.login_name,
        account.user_name,
        user.mobile,
        account.membership_point,
        membership.level,
        user_membership.type,
        user.register_time,
        user_membership.created_time,
        user_membership.expired_time
        FROM `aa`.`user_membership`
        JOIN `aa`.`membership`
        JOIN `aa`.`user`
        JOIN `aa`.`account` ON `user_membership`.`membership_id` = `membership`.`id`
        AND `user_membership`.`login_name` = `user`.`login_name`
        AND `user_membership`.`login_name` = `account`.`login_name`
        AND `user_membership`.`expired_time` > now()
        <where>
            <if test="loginName != null and loginName != ''">
                user_membership.login_name = #{loginName}
            </if>
            <if test="mobile != null and mobile != ''">
                AND user.mobile = #{mobile}
            </if>
            <if test="registerStartTime != null">
                AND user.register_time &gt;= #{registerStartTime}
            </if>
            <if test="registerEndTime != null">
                AND user.register_time &lt;= #{registerEndTime}
            </if>
            <if test="type != null and type.name() != 'ALL' ">
                AND user_membership.type = #{type}
            </if>
            <if test="levels != null and levels.size() > 0">
                AND membership.level in
                <foreach collection="levels" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY membership.level DESC) t
        GROUP BY login_name ) t
    </select>

    <select id="findActiveByLoginName" resultMap="UserMembershipResultMap" parameterType="string">
        select * from user_membership where login_name = #{loginName} and expired_time > now() and type = 'GIVEN' order by membership_id desc, created_time desc limit 1
    </select>

    <select id="findCurrentMaxByLoginName" resultMap="UserMembershipResultMap" parameterType="java.lang.String">
        SELECT user_membership.*
        FROM
        (SELECT *
        FROM user_membership
        WHERE login_name = #{loginName}
        AND expired_time > now()) user_membership
        JOIN membership ON user_membership.membership_id = membership.id
        ORDER BY membership.level DESC LIMIT 1
    </select>

    <select id="findRateByLoginName" resultType="double" parameterType="string">
        select m.fee from user_membership um join membership m on um.membership_id = m.id where um.login_name = #{loginName} and um.expired_time > now() order by m.level desc limit 1
    </select>

    <select id="findRealLevelByLoginName" resultType="Integer" parameterType="string">
        select m.level from user_membership um join membership m on um.membership_id = m.id where um.login_name = #{loginName} and um.expired_time > now() and um.type = 'UPGRADE' order by um.created_time desc limit 1
    </select>

    <select id="findMembershipPointByLoginName" resultType="long" parameterType="string">
        select membership_point from account where login_name = #{loginName}
    </select>

    <select id="countMembershipByLevel" resultType="long" parameterType="int">
        select count(1)
        from user_membership
        join membership on user_membership.membership_id = membership.id
        where not exists (select 1
                          from user_membership other_user_membership
                          join membership other_membership on other_user_membership.membership_id = other_membership.id
                          where other_user_membership.id <![CDATA[ <> ]]> user_membership.id
                          and other_user_membership.login_name = user_membership.login_name
                          and other_membership.level > membership.level
                          and other_user_membership.expired_time > now())
        and user_membership.expired_time > now()
        and membership.level = #{level}
    </select>

    <update id="updateMembershipPoint" parameterType="map">
        update account set membership_point = #{membershipPoint} where login_name = #{loginName}
    </update>

    <select id="findByLoginNameByType" resultMap="UserMembershipResultMap" parameterType="map">
        select * from user_membership where login_name = #{loginName} and type =  #{type}
    </select>

    <select id="findByLoginNameByMembershipId" resultMap="UserMembershipResultMap" parameterType="map">
        select * from user_membership where login_name = #{loginName} and membership_id =  #{membershipId} and expired_time > now()
    </select>

    <select id="findByLoginNameOrInvestTime" resultType="long" parameterType="map">
        select IFNULL(MAX(membership_id),1) from user_membership where login_name = #{loginName}
        <if test="investTime != null">
            AND expired_time &gt; #{investTime}
            AND created_time &lt; #{investTime}
        </if>
    </select>

    <select id="findGiveMembershipsByLoginNameAndGiveId" resultMap="UserMembershipResultMap">
        SELECT * FROM `aa`.`user_membership`
        WHERE
        membership_give_id = #{membershipGiveId}
        AND type = 'GIVEN'
        <if test="loginName != null and loginName != ''">
            AND login_name = #{loginName}
        </if>
        LIMIT #{index}, #{pageSize}
    </select>

    <select id="findCountGiveMembershipsByLoginNameAndGiveId" resultType="java.lang.Long">
        SELECT COUNT(1) FROM `aa`.`user_membership`
        WHERE
        membership_give_id = #{membershipGiveId}
        AND type = 'GIVEN'
        <if test="loginName != null and loginName != ''">
            AND login_name = #{loginName}
        </if>
    </select>

</mapper>