<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.membership.repository.mapper.UserMembershipMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache"/>

    <resultMap id="UserMembershipResultMap" type="UserMembershipModel">
        <id column="id" property="id"/>
        <result column="login_name" property="loginName"/>
        <result column="membership_id" property="membershipId"/>
        <result column="expired_time" property="expiredTime"/>
        <result column="created_time" property="createdTime"/>
        <result column="type" property="type"/>
        <result column="membership_give_id" property="membershipGiveId"/>
    </resultMap>

    <resultMap id="UserMembershipItemResultMap" type="UserMembershipItemView">
        <id column="id" property="id"/>
        <result column="login_name" property="loginName"/>
        <result column="user_name" property="realName"/>
        <result column="mobile" property="mobile"/>
        <result column="membership_point" property="membershipPoint"/>
        <result column="level" property="membershipLevel"/>
        <result column="type" property="userMembershipType"/>
        <result column="register_time" property="registerTime"/>
        <result column="created_time" property="createdTime"/>
        <result column="expired_time" property="expiredTime"/>
    </resultMap>

    <insert id="create" parameterType="UserMembershipModel" useGeneratedKeys="true" keyProperty="id">
        insert into user_membership (login_name, membership_id, expired_time, created_time, type, membership_give_id)
        value(#{loginName}, #{membershipId}, #{expiredTime}, #{createdTime}, #{type}, #{membershipGiveId})
    </insert>

    <insert id="createBatch" parameterType="UserMembershipModel">
        INSERT INTO `aa`.`user_membership` (login_name, membership_id, expired_time, created_time, type,
        membership_give_id)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.loginName}, #{item.membershipId}, #{item.expiredTime}, #{item.createdTime}, #{item.type},
            #{item.membershipGiveId})
        </foreach>
    </insert>

    <update id="update" parameterType="UserMembershipModel">
        UPDATE `aa`.`user_membership`
        SET
        login_name = #{loginName},
        membership_id = #{membershipId},
        expired_time = #{expiredTime},
        created_time = #{createdTime},
        type = #{type},
        membership_give_id = #{membershipGiveId}
        WHERE
        id = #{id}
    </update>

    <select id="findById" resultMap="UserMembershipResultMap" parameterType="long">
        select * from user_membership where id = #{id}
    </select>

    <select id="findByLoginName" resultMap="UserMembershipResultMap" parameterType="string">
        select * from user_membership where login_name = #{loginName}
    </select>

    <select id="findUserMembershipItemViews" resultMap="UserMembershipItemResultMap">
        SELECT * FROM (
        SELECT
        user_membership.id,
        user_membership.login_name,
        user.user_name,
        user.mobile,
        bank_account.membership_point,
        membership.level,
        user_membership.type,
        user.register_time,
        user_membership.created_time,
        user_membership.expired_time
        FROM `aa`.`user_membership`
        JOIN `aa`.`membership`
        JOIN `aa`.`user`
        JOIN `aa`.`bank_account` ON `user_membership`.`membership_id` = `membership`.`id`
        AND `user_membership`.`login_name` = `user`.`login_name`
        AND `user_membership`.`login_name` = `bank_account`.`login_name`
        AND `user_membership`.`expired_time` > now()
        AND `aa`.`bank_account`.role_type = 'INVESTOR'
        <where>
            <if test="loginName != null and loginName != ''">
                user_membership.login_name = #{loginName}
            </if>
            <if test="mobile != null and mobile != ''">
                AND user.mobile = #{mobile}
            </if>
            <if test="registerStartTime != null">
                AND user.register_time &gt;= #{registerStartTime}
            </if>
            <if test="registerEndTime != null">
                AND user.register_time &lt;= #{registerEndTime}
            </if>
            <if test="type != null and type.name() != 'ALL' ">
                AND user_membership.type = #{type}
            </if>
            <if test="levels != null and levels.size() > 0">
                AND membership.level in
                <foreach collection="levels" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY membership.level DESC) t
        GROUP BY login_name
        limit #{pageIndex}, #{pageSize}
    </select>

    <select id="findCountUserMembershipItemViews" resultType="int">
        SELECT COUNT(1) FROM (
        SELECT * FROM (
        SELECT
        user_membership.id,
        user_membership.login_name,
        user.user_name,
        user.mobile,
        bank_account.membership_point,
        membership.level,
        user_membership.type,
        user.register_time,
        user_membership.created_time,
        user_membership.expired_time
        FROM `aa`.`user_membership`
        JOIN `aa`.`membership`
        JOIN `aa`.`user`
        JOIN `aa`.`bank_account` ON `user_membership`.`membership_id` = `membership`.`id`
        AND `user_membership`.`login_name` = `user`.`login_name`
        AND `user_membership`.`login_name` = `bank_account`.`login_name`
        AND `user_membership`.`expired_time` > now()
        AND `aa`.`bank_account`.role_type = 'INVESTOR'
        <where>
            <if test="loginName != null and loginName != ''">
                user_membership.login_name = #{loginName}
            </if>
            <if test="mobile != null and mobile != ''">
                AND user.mobile = #{mobile}
            </if>
            <if test="registerStartTime != null">
                AND user.register_time &gt;= #{registerStartTime}
            </if>
            <if test="registerEndTime != null">
                AND user.register_time &lt;= #{registerEndTime}
            </if>
            <if test="type != null and type.name() != 'ALL' ">
                AND user_membership.type = #{type}
            </if>
            <if test="levels != null and levels.size() > 0">
                AND membership.level in
                <foreach collection="levels" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
        ORDER BY membership.level DESC) t
        GROUP BY login_name ) t
    </select>

    <select id="findCurrentMaxByLoginName" resultMap="UserMembershipResultMap" parameterType="java.lang.String">
        SELECT user_membership.*
        FROM
        (SELECT *
        FROM user_membership
        WHERE login_name = #{loginName}
        AND expired_time > now()) user_membership
        JOIN membership ON user_membership.membership_id = membership.id
        ORDER BY membership.level DESC LIMIT 1
    </select>

    <select id="findCurrentUpgradeMaxByLoginName" resultMap="UserMembershipResultMap" parameterType="java.lang.String">
        SELECT user_membership.*
        FROM
        (SELECT *
        FROM user_membership
        WHERE login_name = #{loginName}
        AND expired_time > now() AND type = 'UPGRADE') user_membership
        JOIN membership ON user_membership.membership_id = membership.id
        ORDER BY membership.level DESC LIMIT 1
    </select>

    <select id="countMembershipByLevel" resultType="long" parameterType="int">
        select count(1)
        from user_membership
        join membership on user_membership.membership_id = membership.id
        where not exists (select 1
                          from user_membership other_user_membership
                          join membership other_membership on other_user_membership.membership_id = other_membership.id
                          where other_user_membership.id <![CDATA[ <> ]]> user_membership.id
                          and other_user_membership.login_name = user_membership.login_name
                          and other_membership.level > membership.level
                          and other_user_membership.expired_time > now())
        and user_membership.expired_time > now()
        and membership.level = #{level}
    </select>

    <select id="findByLoginNameAndMembershipId" resultMap="UserMembershipResultMap" parameterType="map">
        select * from user_membership
        where login_name = #{loginName}
        and membership_id =  #{membershipId}
        and expired_time > now()
    </select>

    <select id="findExpiredUserMembership" resultMap="UserMembershipResultMap" parameterType="date">
        select * from user_membership
        where datediff(#{expiredDate}, expired_time) = 0
    </select>

    <select id="findGiveMembershipsByLoginNameAndGiveId" resultMap="UserMembershipResultMap">
        SELECT * FROM `aa`.`user_membership`
        WHERE
        membership_give_id = #{membershipGiveId}
        AND type = 'GIVEN'
        <if test="loginName != null and loginName != ''">
            AND login_name = #{loginName}
        </if>
        LIMIT #{index}, #{pageSize}
    </select>

    <select id="findCountGiveMembershipsByLoginNameAndGiveId" resultType="java.lang.Long">
        SELECT COUNT(1) FROM `aa`.`user_membership`
        WHERE
        membership_give_id = #{membershipGiveId}
        AND type = 'GIVEN'
        <if test="loginName != null and loginName != ''">
            AND login_name = #{loginName}
        </if>
    </select>

    <select id="sumSuccessInvestAmountByLoginName" parameterType="map" resultType="long">
        select IFNULL(sum(amount),0)
        from invest
        <where>
            <if test="loanId != null">
                and loan_id = #{loanId}
            </if>
            <if test="loginName != null">
                and login_name = #{loginName}
            </if>
            and EXISTS (select 1 from loan l where l.id = invest.loan_id and l.product_type != 'EXPERIENCE')
        </where>
        and status = 'SUCCESS'
    </select>

    <select id="findByLoginNameByType" resultMap="UserMembershipResultMap" parameterType="map">
        select * from user_membership where login_name = #{loginName} and type =  #{type}
    </select>

    <select id="findCountMembershipByLevel" resultType="java.lang.Long">
        SELECT
            count(1)
        FROM
            `user_membership` t1
                JOIN
            `membership` ON t1.`membership_id` = `membership`.id
        WHERE
            `expired_time` >= NOW() AND level = #{level}
                AND level > (SELECT
                    IFNULL(MAX(level), - 1)
                FROM
                    `user_membership`
                        JOIN
                    `membership` ON `membership_id` = `membership`.id
                WHERE
                    `user_membership`.`login_name` = t1.`login_name`
                        AND `expired_time` > NOW()
                        AND t1.`id` != `user_membership`.id)
    </select>

    <select id="findLoginNameMembershipByLevel" resultType="java.lang.String">
        SELECT
            `login_name`
        FROM
            `user_membership` t1
                JOIN
            `membership` ON t1.`membership_id` = `membership`.id
        WHERE
            `expired_time` >= NOW() AND level = #{level}
                AND level > (SELECT
                    IFNULL(MAX(level), - 1)
                FROM
                    `user_membership`
                        JOIN
                    `membership` ON `membership_id` = `membership`.id
                WHERE
                    `user_membership`.`login_name` = t1.`login_name`
                        AND `expired_time` > NOW()
                        AND t1.`id` != `user_membership`.id)
    </select>


</mapper>