<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.BankMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache" />

    <resultMap id="bankResultMap" type="BankModel">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="bank_code" property="bankCode"/>
        <result column="image_url" property="imageUrl"/>
        <result column="seq" property="seq"/>
        <result column="single_amount" property="singleAmount"/>
        <result column="single_day_amount" property="singleDayAmount"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="is_bank" property="isBank"/>
    </resultMap>

    <select id="findById" parameterType="map" resultMap="bankResultMap">
        select * from bank where id = #{id}
    </select>

    <update id="update" parameterType="BankModel">
        update bank set
          seq = #{seq},
          single_amount = #{singleAmount},
          single_day_amount = #{singleDayAmount},
          updated_by = #{updatedBy},
          updated_time = #{updatedTime}
        where id = #{id}
    </update>

    <select id="findBankList" parameterType="map" resultMap="bankResultMap">
        select * from bank WHERE is_bank = 1
        <if test="singleAmount != null">
            and single_amount > #{singleAmount}
        </if>
        <if test="singleDayAmount != null">
            and single_day_amount > #{singleDayAmount}
        </if>
        order by seq, id asc
    </select>

    <select id="findUmpBankList" parameterType="map" resultMap="bankResultMap">
        select * from bank WHERE is_bank = 0
        <if test="singleAmount != null">
            and single_amount > #{singleAmount}
        </if>
        <if test="singleDayAmount != null">
            and single_day_amount > #{singleDayAmount}
        </if>
        order by seq, id asc
    </select>

    <select id="findByBankCode" parameterType="java.lang.String" resultMap="bankResultMap">
        select * from bank where bank_code = #{bankCode}
    </select>

</mapper>