<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.CreditLoanRechargeMapper">

    <resultMap id="creditLoanRechargeResultMap" type="creditLoanRechargeModel">
        <id column="id" property="id"></id>
        <result column="operator_name" property="operatorName"></result>
        <result column="account_name" property="accountName"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="amount" property="amount"></result>
        <result column="updated_time" property="updatedTime"></result>
        <result column="status" property="status"></result>
    </resultMap>

    <insert id="create" parameterType="creditLoanRechargeModel" useGeneratedKeys="true" keyProperty="id">
        insert into credit_loan_recharge (id, operator_name,account_name,created_time,updated_time,amount,status)
        value( #{id},#{operatorName}, #{accountName},#{createdTime}, #{updatedTime}, #{amount}, #{status})
    </insert>

    <select id="findById" parameterType="long" resultMap="creditLoanRechargeResultMap">
        select * from credit_loan_recharge where id = #{id}
    </select>

    <update id="updateCreditLoanRecharge" parameterType="com.tuotiansudai.repository.model.CreditLoanRechargeModel">
        update credit_loan_recharge set updated_time = #{updatedTime},status = #{status} where id = #{id}
    </update>

    <select id="findByLoginName" parameterType="string" resultMap="creditLoanRechargeResultMap">
        select * from credit_loan_recharge where account_name = #{accountName}
    </select>

</mapper>