<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.ExperienceGoldBillMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache" />

    <resultMap id="ExperienceGoldBillResultMap" type="ExperienceGoldBillModel">
        <id column="id" property="id"/>
        <result column="login_name" property="loginName"/>
        <result column="amount" property="amount"/>
        <result column="experience_type" property="experienceType"/>
        <result column="note" property="note"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

    <insert id="create" parameterType="ExperienceGoldBillModel">
        insert into experience_gold_bill(id, login_name, amount, experience_type, note, created_time)
        values(#{id}, #{loginName}, #{amount}, #{experienceType}, #{note}, #{createdTime})
    </insert>

    <select id="findById" parameterType="java.lang.Long" resultMap="ExperienceGoldBillResultMap">
        select * from experience_gold_bill where id = #{id}
    </select>

    <update id="update" parameterType="ExperienceGoldBillModel">
        update experience_gold_bill set
          login_name = #{loginName},
          amount = #{amount},
          experience_type = #{experienceType},
          note = #{note},
          created_time = #{createdTime}
        where id = #{id}
    </update>

</mapper>