<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.FinanceReportMapper">

    <resultMap id="FinanceReportMap" type="FinanceReportItemView">
        <result column="id" property="loanId"/>
        <result column="name" property="loanName"/>
        <result column="type" property="loanType"/>
        <result column="loaner_user_name" property="loanerUserName"/>
        <result column="agent_login_name" property="agentLoginName"/>
        <result column="base_rate" property="baseRate"/>
        <result column="activity_rate" property="activityRate"/>
        <result column="duration" property="duration"/>
        <result column="loan_amount" property="loanAmount"/>
        <result column="verify_time" property="verifyTime"/>
        <result column="invest_time" property="investTime"/>
        <result column="recheck_time" property="recheckTime"/>
        <result column="invest_id" property="investId"/>
        <result column="login_name" property="investLoginName"/>
        <result column="user_name" property="investRealName"/>
        <result column="referrer" property="referrer"/>
        <result column="amount" property="investAmount"/>
        <result column="repay_date" property="repayTime"/>
        <result column="period" property="period"/>
        <result column="expect_interest" property="expectInterest"/>
        <result column="overdue_interest" property="overdueInterest"/>
        <result column="actual_interest" property="actualInterest"/>
        <result column="overdue_fee" property="overdueFee"/>
        <result column="actual_fee" property="fee"/>
        <result column="repay_amount" property="actualRepayAmount"/>
        <result column="coupon_id" property="couponId"/>
        <result column="extra_rate" property="extraRate"/>
        <result column="extra_amount" property="extraAmount"/>
    </resultMap>

    <select id="findFinanceReportViews" resultMap="FinanceReportMap">
        SELECT loan.id, loan.name, loan.type, loan.loaner_user_name, loan.agent_login_name, loan.base_rate,
        loan.activity_rate, loan.duration, loan.loan_amount, loan.verify_time, invest.invest_time, loan.recheck_time,
        invest.id as invest_id, invest.login_name, user.user_name, user.referrer, invest.amount,
        invest_repay.repay_date,
        invest_repay.period, invest_repay.actual_interest, invest_repay.actual_fee, invest_repay.repay_amount,
        coupon.coupon_id, invest_extra_rate.extra_rate, invest_extra_rate.actual_interest AS extra_amount,

        invest_repay.corpus + invest_repay.expected_interest - invest_repay.expected_fee +
        if(loan.periods = invest_repay.period , ifnull(invest_extra_rate.expected_interest - invest_extra_rate.expected_fee, 0), 0) +
        if(coupon.coupon_type = 'RED_ENVELOPE', 0, ifnull(coupon_repay.expected_interest - coupon_repay.expected_fee, 0)) as expect_interest,
        invest_repay.overdue_interest as overdue_interest,
        invest_repay.overdue_fee as overdue_fee

        FROM
        `aa`.`loan` JOIN `aa`.`invest` JOIN `aa`.`invest_repay` JOIN `aa`.`user`
        ON
        loan.id = invest.loan_id AND invest.id = invest_repay.invest_id AND invest.login_name = user.login_name
        LEFT JOIN (SELECT user_coupon.coupon_id, user_coupon.invest_id, coupon.coupon_type FROM `aa`.`user_coupon` JOIN
        `aa`.`coupon` ON user_coupon.coupon_id = coupon.id) coupon ON coupon.invest_id = invest.id
        LEFT JOIN (SELECT expected_interest, expected_fee, extra_rate, actual_interest, invest_id FROM `aa`.`invest_extra_rate`) invest_extra_rate ON
        invest_extra_rate.invest_id = invest.id
        Left join (select invest_id, expected_interest, expected_fee, period from coupon_repay) coupon_repay on coupon_repay.invest_id = invest.id and coupon_repay.period = invest_repay.period

        <where>
            <if test="loanId != null">
                AND loan.id = #{loanId}
            </if>
            <if test="period != null">
                AND invest_repay.period = #{period}
            </if>
            <if test="investLoginName != null and investLoginName != ''">
                AND invest.login_name = #{investLoginName}
            </if>
            <if test="investStartTime != null">
                AND invest.invest_time &gt;= #{investStartTime}
            </if>
            <if test="investEndTime != null">
                AND invest.invest_time &lt;= #{investEndTime}
            </if>
            <if test="repayStartTime != null">
                AND invest_repay.repay_date &gt;= #{repayStartTime}
            </if>
            <if test="repayEndTime != null">
                AND invest_repay.repay_date &lt;= #{repayEndTime}
            </if>
            <if test="preferenceType != null and preferenceType.name() == 'INVEST_BENEFIT'">
                AND invest_extra_rate.extra_rate IS NOT NULL
            </if>
            <if test="preferenceType != null and preferenceType.name() != 'INVEST_BENEFIT'">
                AND coupon.coupon_type = #{preferenceType}
            </if>
        </where>
        ORDER BY invest.invest_time DESC , invest.login_name, invest_repay.period
        LIMIT #{index}, #{pageSize}
    </select>

    <select id="findCountFinanceReportViews" resultType="int">
        SELECT
        COUNT(1)
        FROM
        `aa`.`loan` JOIN `aa`.`invest` JOIN `aa`.`invest_repay` JOIN `aa`.`user`
        ON
        loan.id = invest.loan_id AND invest.id = invest_repay.invest_id AND invest.login_name = user.login_name
        LEFT JOIN (SELECT user_coupon.coupon_id, user_coupon.invest_id, coupon.coupon_type FROM `aa`.`user_coupon` JOIN
        `aa`.`coupon` ON user_coupon.coupon_id = coupon.id) coupon ON coupon.invest_id = invest.id
        LEFT JOIN (SELECT extra_rate, actual_interest, invest_id FROM `aa`.`invest_extra_rate`) invest_extra_rate ON
        invest_extra_rate.invest_id = invest.id
        <where>
            <if test="loanId != null">
                AND loan.id = #{loanId}
            </if>
            <if test="period != null">
                AND invest_repay.period = #{period}
            </if>
            <if test="investLoginName != null and investLoginName != ''">
                AND invest.login_name = #{investLoginName}
            </if>
            <if test="investStartTime != null">
                AND invest.invest_time &gt;= #{investStartTime}
            </if>
            <if test="investEndTime != null">
                AND invest.invest_time &lt;= #{investEndTime}
            </if>
            <if test="repayStartTime != null">
                AND invest_repay.repay_date &gt;= #{repayStartTime}
            </if>
            <if test="repayEndTime != null">
                AND invest_repay.repay_date &lt;= #{repayEndTime}
            </if>
            <if test="preferenceType != null and preferenceType.name() == 'INVEST_BENEFIT'">
                AND invest_extra_rate.extra_rate IS NOT NULL
            </if>
            <if test="preferenceType != null and preferenceType.name() != 'INVEST_BENEFIT'">
                AND coupon.coupon_type = #{preferenceType}
            </if>
        </where>
    </select>
</mapper>