<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.HTrackingUserMapper">

    <resultMap id="hTrackingUserModel" type="HTrackingUserModel">
        <result column="mobile" property="mobile"/>
        <result column="device_id" property="deviceId"/>
        <result column="status" property="status"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

    <insert id="create" parameterType="HTrackingUserModel">
        insert into htracking_user (mobile, device_id, status, created_time)
        value(#{mobile}, #{deviceId}, #{status}, now())
    </insert>


    <update id="update" parameterType="HTrackingUserModel">
        update htracking_user set mobile = #{mobile},
        device_id = #{deviceId},
        status = #{status},
        updated_time = now(),
        where id = #{id}
    </update>

    <select id="findHTrackingUserModels" parameterType="string" resultMap="hTrackingUserModel">
        select * from htracking_user where mobile = #{mobile}
    </select>

    <select id="findByMobileAndDeviceId" parameterType="map" resultMap="hTrackingUserModel">
        select * from htracking_user
        <where>
            <if test="mobile != null and mobile != ''">
                and mobile = #{mobile}
            </if>

            <if test="deviceId != null and deviceId != ''">
                and device_id = #{deviceId}
            </if>

        </where>
    </select>


</mapper>