<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.InvestRepayMapper">

    <cache-ref namespace="com.tuotiansudai.repository.mapper.InvestMapper"/>

    <resultMap id="investRepayInAccountResultMap" type="LatestInvestView">
        <result column="created_time" property="investTime"/>
        <result column="loanName" property="loanName"/>
        <result column="loanId" property="loanId"/>
        <result column="investId" property="investId"/>
        <result column="repay_date" property="repayDate"/>
        <result column="corpus" property="corpus"/>
        <result column="expected_interest" property="expectedInterest"/>
        <result column="default_interest" property="defaultInterest"/>
        <result column="expected_fee" property="expectedFee"/>
        <result column="amount" property="investAmount"/>
        <result column="repay_amount" property="repayAmount"/>
        <result column="status" property="status"/>
        <result column="product_type" property="productType"/>
    </resultMap>

    <resultMap id="investRepayResultMap" type="InvestRepayModel">
        <id column="id" property="id"/>
        <result column="invest_id" property="investId"/>
        <result column="corpus" property="corpus"/>
        <result column="expected_interest" property="expectedInterest"/>
        <result column="actual_interest" property="actualInterest"/>
        <result column="default_interest" property="defaultInterest"/>
        <result column="expected_fee" property="expectedFee"/>
        <result column="actual_fee" property="actualFee"/>
        <result column="repay_amount" property="repayAmount"/>
        <result column="period" property="period"/>
        <result column="repay_date" property="repayDate"/>
        <result column="actual_repay_date" property="actualRepayDate"/>
        <result column="status" property="status"/>
        <result column="is_transferred" property="isTransferred"/>
        <result column="transfer_status" property="transferStatus"/>
        <result column="bank_order_no" property="bankOrderNo"/>
        <result column="bank_order_date" property="bankOrderDate"/>
    </resultMap>

    <resultMap id="investRepayResultMapWithLoanResultMap" type="InvestRepayModel">
        <id column="id" property="id"></id>
        <result column="invest_id" property="investId"></result>
        <result column="corpus" property="corpus"></result>
        <result column="expected_interest" property="expectedInterest"></result>
        <result column="actual_interest" property="actualInterest"></result>
        <result column="default_interest" property="defaultInterest"></result>
        <result column="expected_fee" property="expectedFee"></result>
        <result column="actual_fee" property="actualFee"></result>
        <result column="repay_amount" property="repayAmount"></result>
        <result column="period" property="period"></result>
        <result column="repay_date" property="repayDate"></result>
        <result column="actual_repay_date" property="actualRepayDate"></result>
        <result column="status" property="status"></result>
        <association property="loan" javaType="com.tuotiansudai.repository.model.LoanModel">
            <id column="loan_id" property="id"/>
            <result column="name" property="name"></result>
            <result column="agent" property="agentLoginName"></result>
            <result column="loaner" property="loanerLoginName"></result>
            <result column="type" property="type"></result>
            <result column="periods" property="periods"></result>
            <result column="loan_amount" property="loanAmount"></result>
            <result column="description_text" property="descriptionText"></result>
            <result column="description_html" property="descriptionHtml"></result>
            <result column="base_rate" property="baseRate"></result>
            <result column="loan_amount" property="loanAmount"></result>
            <result column="min_invest_amount" property="minInvestAmount"></result>
            <result column="invest_increasing_amount" property="investIncreasingAmount"></result>
            <result column="max_invest_amount" property="maxInvestAmount"></result>
            <result column="activity_type" property="activityType"></result>
            <result column="activity_rate" property="activityRate"></result>
            <result column="contract_id" property="contractId"></result>
            <result column="fundraising_start_time" property="fundraisingStartTime"></result>
            <result column="fundraising_end_time" property="fundraisingEndTime"></result>
            <result column="show_on_home" property="showOnHome"></result>
            <result column="loan_created_time" property="createdTime"></result>
            <result column="verify_time" property="verifyTime"></result>
            <result column="recheck_time" property="recheckTime"></result>
            <result column="loan_status" property="status"></result>
            <result column="loan_amount" property="loanAmount"></result>
            <result column="duration" property="duration"></result>
            <result column="product_type" property="productType"></result>
        </association>
    </resultMap>

    <resultMap id="bankLoanRepayInvestResultMap" type="BankLoanRepayInvestDataView">
        <result column="invest_id" property="investId"/>
        <result column="invest_repay_id" property="investRepayId"/>
        <result column="transfer_invest_id" property="transferInvestId"/>
        <result column="invest_amount" property="investAmount"/>
        <result column="loan_tx_no" property="loanTxNo"/>
        <result column="login_name" property="loginName"/>
        <result column="mobile" property="mobile"/>
        <result column="bank_user_name" property="bankUserName"/>
        <result column="bank_account_no" property="bankAccountNo"/>
        <result column="corpus" property="corpus"/>
        <result column="expected_interest" property="expectedInterest"/>
        <result column="default_interest" property="defaultInterest"/>
        <result column="expected_fee" property="expectedFee"/>
        <result column="invest_fee_rate" property="investFeeRate"/>
        <result column="trading_time" property="tradingTime"/>
        <result column="invest_bank_order_no" property="investBankOrderNo"/>
        <result column="invest_bank_order_date" property="investBankOrderDate"/>
    </resultMap>

    <sql id="columns">
        id, invest_id, corpus, default_interest, expected_interest, actual_interest, expected_fee, actual_fee, repay_amount, period, repay_date, actual_repay_date, status, is_transferred, created_time, updated_time
    </sql>

    <insert id="create" parameterType="java.util.List">
        insert into invest_repay ( <include refid="columns"></include> )
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.investId}, #{item.corpus}, #{item.defaultInterest}, #{item.expectedInterest},
            #{item.actualInterest}, #{item.expectedFee}, #{item.actualFee}, #{item.repayAmount}, #{item.period},
            #{item.repayDate}, #{item.actualRepayDate}, #{item.status}, #{item.isTransferred}, #{item.createdTime},
            now())
        </foreach>
    </insert>

    <select id="findById" parameterType="long" resultMap="investRepayResultMap">
        select <include refid="columns"></include> from invest_repay where id = #{id}
    </select>

    <select id="findByInvestIdAndPeriodAsc" parameterType="long" resultMap="investRepayResultMap">
        select <include refid="columns"></include> from invest_repay where invest_id = #{investId} order by period asc
    </select>

    <select id="findByLoginNameAndInvestId" parameterType="map" resultMap="investRepayResultMap">
        select invest_repay.*, invest.transfer_status AS transfer_status
        from invest_repay join invest on invest_repay.invest_id = invest.id
        where invest_id = #{investId}
        and invest.login_name = #{loginName}
        order by period asc
    </select>

    <select id="findByInvestId" parameterType="long"  resultMap="investRepayResultMap">
        select * from invest_repay where invest_id = #{investId}
    </select>

    <select id="findByInvestIdAndPeriod" parameterType="map" resultMap="investRepayResultMap">
        select * from invest_repay where invest_id = #{investId} and period = #{period}
    </select>

    <select id="findByInvestIdAndLTPeriod" parameterType="map" resultMap="investRepayResultMap">
        select * from invest_repay where invest_id = #{investId} and period &lt; #{period}
    </select>

    <select id="findCompletedInvestRepayByIdAndPeriod" parameterType="map" resultMap="investRepayResultMap">
        select * from invest_repay where invest_id = #{investId} and period = #{period} and status = 'COMPLETE'
    </select>

    <update id="update" parameterType="InvestRepayModel">
        update invest_repay
        set corpus = #{corpus},
            expected_interest = #{expectedInterest},
            expected_fee = #{expectedFee},
            repay_date = #{repayDate},
            actual_interest = #{actualInterest},
            actual_fee = #{actualFee},
            actual_repay_date = #{actualRepayDate},
            default_interest = #{defaultInterest},
            is_transferred = #{isTransferred},
            repay_amount = #{repayAmount},
            status = #{status},
            bank_order_no = #{bankOrderNo},
            bank_order_date = #{bankOrderDate},
            updated_time = now()
        where id = #{id}
    </update>

    <select id="findByLoginNameAndTimeAndSuccessInvestRepay" parameterType="map" resultType="long">
        SELECT
          IFNULL(SUM(
            ir.`corpus` + ir.`actual_interest` + ir.`default_interest` - ir.`actual_fee`
          ),0)
        FROM
          invest_repay ir
          JOIN
            (SELECT
              i.`id` AS investId,
              l.`name` AS loanName,
              l.`activity_rate`,
              l.`base_rate`,
              l.`periods`
            FROM
              invest i
              JOIN loan l
                ON i.`loan_id` = l.`id`
                AND l.`status` IN ('COMPLETE', 'REPAYING')
            WHERE i.`login_name` = #{loginName}) t
            ON ir.`invest_id` = t.investId
        WHERE ir.`status` = 'COMPLETE'
          AND ir.`actual_repay_date` BETWEEN #{startTime}
          AND #{endTime}
    </select>

    <select id="findByLoginNameAndTimeAndNotSuccessInvestRepay" parameterType="map" resultType="long">
        SELECT
          IFNULL(SUM(
            ir.`corpus` + ir.`expected_interest` + ir.`default_interest` - ir.`expected_fee`
          ),0)
        FROM
          invest_repay ir
          JOIN
            (SELECT
              i.`id` AS investId,
              l.`name` AS loanName,
              l.`activity_rate`,
              l.`base_rate`,
              l.`periods`
            FROM
              invest i
              JOIN loan l
                ON i.`loan_id` = l.`id`
                AND l.`status` IN ('COMPLETE', 'REPAYING')
            WHERE i.`login_name` = #{loginName}) t
            ON ir.`invest_id` = t.investId
        WHERE ir.`status` != 'COMPLETE'
          AND ir.`repay_date` BETWEEN #{startTime}
          AND #{endTime}
    </select>

    <select id="findByLoginNameAndTimeSuccessInvestRepayList" parameterType="map"
            resultMap="investRepayResultMapWithLoanResultMap">
        SELECT
          ir.*,
          t.loanName AS `name`,
          t.activity_rate,
          t.base_rate,
          t.periods,
          t.duration,
          t.`loan_id`,
        t.type,
        t.product_type
        FROM
          invest_repay ir
          JOIN
            (SELECT
              i.`id` AS investId,
              l.`name` AS loanName,
              l.`activity_rate`,
              l.`base_rate`,
              l.`periods`,
              l.`duration`,
              l.`id` as loan_id,
              l.`type`,
              l.product_type
            FROM invest i JOIN loan l ON i.`loan_id` = l.`id`
              AND (l.`status` IN ('COMPLETE', 'REPAYING') or (l.product_type='EXPERIENCE' and TO_DAYS(now()) - TO_DAYS(invest_time) &gt; l.duration))
            WHERE i.`login_name` = #{loginName} and i.`status` = 'SUCCESS'
            ) t
            ON ir.`invest_id` = t.investId
        WHERE ir.`status` = 'COMPLETE'
          AND ir.`actual_repay_date` BETWEEN #{startTime} AND #{endTime}
        ORDER BY ir.`actual_repay_date` DESC
        LIMIT #{startLimit}, #{endLimit}
    </select>

    <select id="findByLoginNameAndTimeNotSuccessInvestRepayList" parameterType="map"
            resultMap="investRepayResultMapWithLoanResultMap">
        SELECT
          ir.*,
          t.loanName AS `name`,
          t.activity_rate,
          t.base_rate,
          t.periods,
          t.duration,
          t.`loan_id`,
        t.type,
        t.product_type
        FROM
          invest_repay ir
          JOIN
            (SELECT
              i.`id` AS investId,
              l.`name` AS loanName,
              l.`activity_rate`,
              l.`base_rate`,
              l.`periods`,
              l.`duration`,
              l.`id` as `loan_id`,
        l.type,
        l.product_type
            FROM
              invest i
              JOIN loan l
                ON i.`loan_id` = l.`id`
        AND l.`status` IN ('COMPLETE', 'REPAYING') or (l.product_type='EXPERIENCE' and TO_DAYS(now()) -
        TO_DAYS(invest_time) &lt;= l.duration)
        WHERE i.`login_name` = #{loginName} and i.`status` = 'SUCCESS'
        ) t
            ON ir.`invest_id` = t.investId
        WHERE ir.`status` != 'COMPLETE'
          AND ir.`repay_date` BETWEEN #{startTime}
          AND #{endTime}
        ORDER BY ir.`repay_date`
        LIMIT #{startLimit}, #{endLimit}
    </select>

    <select id="findLatestInvestByLoginName" parameterType="map" resultMap="investRepayInAccountResultMap">
        SELECT
          temp.`created_time`,
          temp.`name` AS loanName,
          temp.loanId AS loanId,
          temp.id AS investId,
          temp2.`repay_date`,
          temp2.`corpus`,
          temp2.`expected_interest`,
          temp2.`default_interest`,
          temp2.`expected_fee`,
          temp.`amount`,
        temp2.`status`,
        product_type
        FROM
          (SELECT
            i.`id`,
            i.`created_time`,
            i.`amount`,
            l.`name`,
        l.`id` AS loanId,
        l.product_type
          FROM
            invest i
            JOIN loan l
              ON i.`loan_id` = l.`id`
              AND l.`status` != 'WAITING_VERIFY'
          WHERE i.`status` = 'SUCCESS'
            AND i.`login_name` = #{loginName}) temp
          LEFT JOIN
            (SELECT
              t.`invest_id`,
              t.`corpus`,
              t.`expected_interest`,
              t.`default_interest`,
              t.`expected_fee`,
              t.`repay_date`,
              t.`status`
            FROM
              invest_repay t
              JOIN
                (SELECT
                  ir.`invest_id`,
                  MIN(ir.`repay_date`) AS `repay_date`
                FROM
                  invest_repay ir
                WHERE ir.`status` != 'COMPLETE'
                GROUP BY ir.`invest_id`) m
                ON t.`invest_id` = m.`invest_id`
                AND t.`repay_date` = m.`repay_date`
                AND t.`status` != 'COMPLETE') temp2
            ON temp.`id` = temp2.`invest_id`
        ORDER BY temp.`created_time` DESC
        LIMIT #{startLimit}, #{endLimit}
    </select>

    <select id="findSumRepayingInterestByLoginName" parameterType="map" resultType="long">
        SELECT
          IFNULL(SUM(
            ir.`expected_interest` + ir.`default_interest` - ir.`expected_fee`
          ),0)
        FROM
          invest_repay ir
          JOIN invest i
            ON ir.`invest_id` = i.`id`
            AND i.`status` = 'SUCCESS'
            AND i.`login_name` = #{loginName}
        WHERE ir.`status` IN ('REPAYING', 'OVERDUE') and EXISTS (select 1 from loan l where l.id = i.loan_id and l.product_type != 'EXPERIENCE')
    </select>

    <select id="findSumRepayingCorpusByLoginName" parameterType="map" resultType="long">
        SELECT
        IFNULL(SUM(ir.`corpus`),0)
        FROM
          invest_repay ir
          JOIN invest i
            ON ir.`invest_id` = i.`id`
            AND i.`status` = 'SUCCESS'
            AND i.`login_name` = #{loginName}
        WHERE ir.`status` IN ('REPAYING', 'OVERDUE') and EXISTS (select 1 from loan l where l.id = i.loan_id and l.product_type != 'EXPERIENCE')
    </select>

    <select id="findByLoginNameAndStatus" parameterType="map" resultMap="investRepayResultMap">
        select ir.id, ir.invest_id, ir.corpus, ir.default_interest, ir.expected_interest, ir.actual_interest,
        ir.expected_fee, ir.actual_fee, ir.repay_amount, ir.period, ir.repay_date, ir.actual_repay_date, ir.status,
        ir.created_time
        from invest_repay ir
        inner join invest on invest.id = ir.invest_id
        where invest.login_name = #{loginName}
        <if test="paidStatus == 'paid'">
            and ir.status = 'COMPLETE'
            order by actual_repay_date desc
        </if>
        <if test="paidStatus == 'unpaid'">
            and ir.status &lt;&gt; 'COMPLETE'
            order by repay_date asc
        </if>
        limit #{rowLimit} offset #{rowIndex}
    </select>

    <select id="findCountByLoginNameAndStatus" parameterType="map" resultType="long">
        select count(*)
        from invest_repay ir
        inner join invest on invest.id = ir.invest_id
        where invest.login_name = #{loginName}
        <if test="paidStatus == 'paid'">
            and ir.status = 'COMPLETE'
        </if>
        <if test="paidStatus == 'unpaid'">
            and ir.status &lt;&gt; 'COMPLETE'
        </if>
    </select>
    <select id="findInvestRepayByLoanIdAndPeriod" parameterType="map" resultMap="investRepayResultMap">
        SELECT
          ir.*
        FROM
          invest_repay ir
          JOIN invest i
            ON ir.`invest_id` = i.`id`
            AND i.`loan_id` = #{loanId}
        WHERE ir.`period` = #{period} AND ir.`status` != 'COMPLETE'
    </select>

    <select id="findByLoanId" parameterType="long" resultMap="investRepayResultMap">
        select *
        from invest_repay
            inner join invest on invest_repay.invest_id = invest.id
            inner join loan on loan.id = invest.loan_id
        where loan.id = #{loanId}
    </select>
    <select id="findLeftPeriodByTransferInvestIdAndPeriod" parameterType="map" resultType="int">

        select count(1) from invest_repay where invest_id = #{transferInvestId} and period >= #{period}

    </select>

    <select id="findInvestRepayByLoginNameAndRepayTime" parameterType="map" resultMap="investRepayResultMap">
        SELECT r.* FROM invest_repay r LEFT JOIN invest i ON r.invest_id = i.id
        WHERE i.login_name = #{loginName}
        AND r.status IN ('REPAYING','COMPLETE')
        <if test="year != null and year != ''">
            AND (DATE_FORMAT(repay_date, '%Y') = #{year} AND actual_repay_date is null or (actual_repay_date is not null
            and DATE_FORMAT(actual_repay_date, '%Y') = #{year}))
        </if>
        <if test="month != null and month != ''">
            AND (DATE_FORMAT(repay_date, '%m') = #{month} AND actual_repay_date is null or (actual_repay_date is not
            null and DATE_FORMAT(actual_repay_date, '%m') = #{month}))
        </if>
        <if test="day != null and day != ''">
            AND (DATE_FORMAT(repay_date, '%Y-%m-%d') = #{day} AND actual_repay_date IS NULL or (actual_repay_date is not
            null and DATE_FORMAT(actual_repay_date, '%Y-%m-%d') = #{day}))
        </if>
        ORDER BY r.repay_date
    </select>
    
    <select id="queryBankInvestRepayData" parameterType="map" resultMap="bankLoanRepayInvestResultMap">
        select
        `invest`.`id` as invest_id,
        `invest`.`transfer_invest_id` as transfer_invest_id,
        `invest`.`amount` as invest_amount,
        `invest_repay`.`id` as invest_repay_id,
        `loan`.`loan_tx_no` as loan_tx_no,
        `user`.`login_name` as login_name,
        `user`.`mobile` as mobile,
        `bank_account`.`bank_user_name` as bank_user_name,
        `bank_account`.`bank_account_no` as bank_account_no,
        `invest_repay`.`corpus` as `corpus`,
        `invest_repay`.`expected_interest` as expected_interest,
        `invest_repay`.`default_interest` as default_interest,
        `invest_repay`.`expected_fee` as expected_fee,
        `invest`.`bank_order_no` as invest_bank_order_no,
        `invest`.`bank_order_date` as invest_bank_order_date,
        `invest`.`invest_fee_rate` as invest_fee_rate,
        `invest`.`trading_time` as trading_time
        from `invest_repay`
        join `invest` on `invest_repay`.`invest_id` = `invest`.`id` and `invest_repay`.`is_transferred` = false and `invest`.`loan_id` = #{loanId} and `invest_repay`.`period` = #{period}
        join `loan` on `invest`.`loan_id` = `loan`.`id`
        join `user` on `invest`.`login_name` = `user`.`login_name`
        join `bank_account` on `bank_account`.`login_name` = `user`.`login_name` where `bank_account`.role_type = 'INVESTOR'
        order by invest_id
    </select>

</mapper>