<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.LoanerEnterpriseInfoMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache"/>

    <resultMap id="resultMap" type="LoanerEnterpriseInfoModel">
        <id column="id" property="id"/>
        <result column="loan_id" property="loanId"/>
        <result column="company_name" property="companyName"/>
        <result column="factoring_company_name" property="factoringCompanyName"/>
        <result column="factoring_company_desc" property="factoringCompanyDesc"/>
        <result column="address" property="address"/>
        <result column="purpose" property="purpose"/>
    </resultMap>

    <insert id="create" parameterType="LoanerEnterpriseInfoModel" useGeneratedKeys="true" keyProperty="id">
        insert into loaner_enterprise_info (loan_id, company_name, factoring_company_name, factoring_company_desc, address, purpose)
        values (#{loanId}, #{companyName}, #{factoringCompanyName}, #{factoringCompanyDesc}, #{address}, #{purpose})
    </insert>

    <select id="getByLoanId" resultMap="resultMap" parameterType="map">
        select * from loaner_enterprise_info where loan_id = #{loanId}
    </select>

    <delete id="deleteByLoanId">
        delete from loaner_enterprise_info where loan_id = #{loanId}
    </delete>

</mapper>