<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.LoanTitleMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache" />

    <resultMap id="titleResultMap" type="LoanTitleModel">
        <id column="id" property="id"></id>
        <result column="type" property="type"></result>
        <result column="title" property="title"></result>
    </resultMap>

    <insert id="create" parameterType="com.tuotiansudai.repository.model.LoanTitleModel">
        insert into loan_title(id,type,title)VALUES (#{id},#{type},#{title})
    </insert>

    <select id="findAll" resultMap="titleResultMap">
        select * from loan_title
    </select>

    <select id="findById" parameterType="long" resultMap="titleResultMap">
        select * from loan_title where id = #{id}
    </select>

</mapper>