<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.LoanerEnterpriseDetailsMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache"/>

    <resultMap id="resultMap" type="LoanerEnterpriseDetailsModel">
        <id column="id" property="id"/>
        <result column="loan_id" property="loanId"/>
        <result column="juristic_person" property="juristicPerson"/>
        <result column="address" property="address"/>
        <result column="purpose" property="purpose"/>
        <result column="source" property="source"/>
    </resultMap>

    <insert id="create" parameterType="LoanerEnterpriseDetailsModel" useGeneratedKeys="true" keyProperty="id">
        insert into loaner_enterprise_details (loan_id, juristic_person, address, purpose, source)
        values (#{loanId}, #{juristicPerson}, #{address}, #{purpose}, #{source})
    </insert>

    <select id="getByLoanId" resultMap="resultMap" parameterType="map">
        select * from loaner_enterprise_details where loan_id = #{loanId}
    </select>

    <delete id="deleteByLoanId">
        delete from loaner_enterprise_details where loan_id = #{loanId}
    </delete>

</mapper>