<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.LoanerDetailsMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache"/>

    <resultMap id="LoanerDetailsResultMap" type="LoanerDetailsModel">
        <id column="id" property="id"/>
        <result column="loan_id" property="loanId"/>
        <result column="login_name" property="loginName"/>
        <result column="user_name" property="userName"/>
        <result column="gender" property="gender"/>
        <result column="age" property="age"/>
        <result column="identity_number" property="identityNumber"/>
        <result column="marriage" property="marriage"/>
        <result column="region" property="region"/>
        <result column="source" property="source"/>
        <result column="income" property="income"/>
        <result column="employment_status" property="employmentStatus"/>
        <result column="purpose" property="purpose"/>
    </resultMap>

    <insert id="create" parameterType="LoanerDetailsModel">
        INSERT INTO `aa`.`loaner_details`
        (id, loan_id, login_name, user_name, gender, age, identity_number, marriage, region, source, income, employment_status, purpose)
        VALUES
        (#{id}, #{loanId}, #{loginName}, #{userName}, #{gender}, #{age}, #{identityNumber}, #{marriage}, #{region}, #{source}, #{income},
        #{employmentStatus}, #{purpose})
    </insert>

    <select id="getByLoanId" resultMap="LoanerDetailsResultMap">
        SELECT
        *
        FROM
        `aa`.`loaner_details`
        WHERE
        loan_id = #{loanId}
    </select>

    <delete id="deleteByLoanId">
        DELETE FROM
        `aa`.`loaner_details`
        WHERE
        loan_id = #{loanId}
    </delete>

</mapper>