<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.LoanApplicationMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache"/>

    <resultMap id="LoanApplicationResultMap" type="LoanApplicationModel">
        <id column="id" property="id"/>
        <result column="login_name" property="loginName"/>
        <result column="mobile" property="mobile"/>
        <result column="user_name" property="userName"/>
        <result column="region" property="region"/>
        <result column="amount" property="amount"/>
        <result column="period" property="period"/>
        <result column="pledge_type" property="pledgeType"/>
        <result column="pledge_info" property="pledgeInfo"/>
        <result column="comment" property="comment"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_time" property="updatedTime"/>

        <result column="identity_number" property="identityNumber"/>
        <result column="address" property="address"/>
        <result column="age" property="age"/>
        <result column="marriage" property="marriage"/>
        <result column="have_credit_report" property="haveCreditReport"/>
        <result column="work_position" property="workPosition"/>
        <result column="sesame_credit" property="sesameCredit"/>
        <result column="home_income" property="homeIncome"/>
        <result column="loan_usage" property="loanUsage"/>
        <result column="else_pledge" property="elsePledge"/>
        <result column="sex" property="sex"/>
        <result column="loan_id" property="loanId"/>
        <result column="status" property="status"/>
        <result column="together_loaner" property="togetherLoaner"/>
        <result column="together_loaner_identity" property="togetherLoanerIdentity"/>
    </resultMap>

    <resultMap id="LoanApplicationMaterialsResultMap" type="LoanApplicationMaterialsModel">
        <id column="id" property="id"/>
        <result column="loan_application_id" property="loanApplicationId"/>
        <result column="identity_prove_urls" property="identityProveUrls"/>
        <result column="income_prove_urls" property="incomeProveUrls"/>
        <result column="credit_prove_urls" property="creditProveUrls"/>
        <result column="marriage_prove_urls" property="marriageProveUrls"/>
        <result column="property_prove_urls" property="propertyProveUrls"/>

        <result column="together_prove_urls" property="togetherProveUrls"/>
        <result column="drivers_license" property="driversLicense"/>
    </resultMap>

    <insert id="create" parameterType="LoanApplicationModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `aa`.`loan_application`
        (id, login_name, mobile, user_name, region, amount, period, pledge_type, pledge_info, comment, created_time,
        updated_by, updated_time,identity_number,address,age,marriage,have_credit_report,work_position,sesame_credit,
        home_income,loan_usage,else_pledge,sex,status,together_loaner, together_loaner_identity)
        VALUES
        (#{id}, #{loginName}, #{mobile}, #{userName}, #{region}, #{amount}, #{period}, #{pledgeType}, #{pledgeInfo},
        #{comment}, #{createdTime}, #{updatedBy}, #{updatedTime},#{identityNumber},#{address},#{age},#{marriage},
        #{haveCreditReport},#{workPosition},#{sesameCredit},#{homeIncome},#{loanUsage},#{elsePledge},#{sex},
        #{status},#{togetherLoaner},#{togetherLoanerIdentity})
    </insert>

    <update id="update" parameterType="LoanApplicationModel">
        UPDATE
        `aa`.`loan_application`
        SET
        <if test="loginName != null and loginName != ''">
            login_name = #{loginName},
        </if>
        <if test="mobile != null and mobile != ''">
            mobile = #{mobile},
        </if>
        <if test="userName != null and userName != ''">
            user_name = #{userName},
        </if>
        <if test="region != null">
            region = #{region},
        </if>
        <if test="pledgeType != null">
            pledge_type = #{pledgeType},
        </if>
        <if test="pledgeInfo != null and pledgeInfo != ''">
            pledge_info = #{pledgeInfo},
        </if>
        <if test="createdTime != null">
            created_time = #{createdTime},
        </if>
        <if test="updatedBy != null and updatedBy != ''">
            updated_by = #{updatedBy},
        </if>
        <if test="updatedTime != null">
            updated_time = #{updatedTime},
        </if>

        <if test="identityNumber != null">
            identity_number = #{identityNumber},
        </if>
        <if test="address != null">
            address = #{address},
        </if>
        <if test="age != null">
            age = #{age},
        </if>
        <if test="marriage != null">
            marriage = #{marriage},
        </if>
        <if test="haveCreditReport != null">
            have_credit_report = #{haveCreditReport},
        </if>
        <if test="workPosition != null">
            work_position = #{workPosition},
        </if>
        <if test="sesameCredit != null">
            sesame_credit = #{sesameCredit},
        </if>
        <if test="homeIncome != null">
            home_income = #{homeIncome},
        </if>
        <if test="loanUsage != null">
            loan_usage = #{loanUsage},
        </if>
        <if test="elsePledge != null">
            else_pledge = #{elsePledge},
        </if>
        <if test="sex != null">
            sex = #{sex},
        </if>
        comment = #{comment},
        amount = #{amount},
        period = #{period}
        WHERE
        id = #{id}
    </update>

    <update id="updateStatus" parameterType="map">
        update loan_application set status = #{status} where id = #{id}
    </update>

    <update id="updateLoanId" parameterType="map">
        update loan_application set loan_id = #{loanId} where id = #{id}
    </update>

    <select id="findById" resultMap="LoanApplicationResultMap">
        SELECT * FROM `aa`.`loan_application` WHERE id = #{id}
    </select>

    <select id="findByLoanId" resultMap="LoanApplicationResultMap">
        SELECT * FROM `aa`.`loan_application` WHERE loan_id = #{loanId}
    </select>

    <select id="findPagination" resultMap="LoanApplicationResultMap">
        SELECT * FROM `aa`.`loan_application` where pledge_type in ('VEHICLE', 'HOUSE')
        ORDER BY created_time DESC
        LIMIT #{index}, #{pageSize}
    </select>

    <select id="findCount" resultType="java.lang.Long">
        SELECT COUNT(1) FROM `aa`.`loan_application` where pledge_type in ('VEHICLE', 'HOUSE')
    </select>

    <select id="findConsumeApply" resultMap="LoanApplicationResultMap" parameterType="map">
        SELECT * from loan_application WHERE pledge_type = 'NONE'
        <if test="keyWord !=null and keyWord!=''">
            and (login_name like CONCAT('%', #{keyWord}, '%') or mobile like CONCAT('%', #{keyWord}, '%'))
        </if>
        <if test="status !=null">
            and status = #{status}
        </if>
        <if test="startTime != null">
            and created_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and created_time &lt;= #{endTime}
        </if>
        ORDER BY created_time DESC
        LIMIT #{index}, #{pageSize}
    </select>

    <select id="findConsumeApplyCount" resultType="java.lang.Long">
        SELECT COUNT(1) FROM `aa`.`loan_application` where pledge_type = 'NONE'
        <if test="keyWord !=null and keyWord!=''">
            and (login_name like CONCAT('%', #{keyWord}, '%') or mobile like CONCAT('%', #{keyWord}, '%'))
        </if>
        <if test="status !=null">
            and status = #{status}
        </if>
        <if test="startTime != null">
            and created_time &gt;= #{startTime}
        </if>
        <if test="endTime != null">
            and created_time &lt;= #{endTime}
        </if>
    </select>

    <insert id="createMaterials" parameterType="LoanApplicationMaterialsModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `aa`.`loan_application_materials`
        (loan_application_id, identity_prove_urls, income_prove_urls, credit_prove_urls, marriage_prove_urls,
        property_prove_urls, together_prove_urls, drivers_license)
        VALUES
        (#{loanApplicationId}, #{identityProveUrls}, #{incomeProveUrls}, #{creditProveUrls}, #{marriageProveUrls},
         #{propertyProveUrls},#{togetherProveUrls},#{driversLicense})
    </insert>

    <select id="findMaterialsByLoanApplicationId" parameterType="map" resultMap="LoanApplicationMaterialsResultMap">
        select * from loan_application_materials where loan_application_id = #{loanApplicationId}
    </select>

</mapper>