<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.LoanDetailsMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache"/>

    <resultMap id="LoanDetailsResultMap" type="LoanDetailsModel">
        <id column="id" property="id"/>
        <result column="loan_id" property="loanId"/>
        <result column="declaration" property="declaration"/>
        <result column="extra_source" property="extraSource" typeHandler="com.tuotiansudai.util.mybatis.SourceListTypeHandler"/>
        <result column="activity" property="activity"/>
        <result column="activity_desc" property="activityDesc"/>
        <result column="non_transferable" property="nonTransferable"/>
        <result column="disable_coupon" property="disableCoupon"/>
        <result column="push_message" property="pushMessage"/>
        <result column="grant_reward" property="grantReward"/>
        <result column="reward_rate" property="rewardRate"/>
        <result column="estimates" property="estimates" typeHandler="com.tuotiansudai.util.mybatis.EstimateListTypeHandler"/>
    </resultMap>

    <insert id="create" parameterType="LoanDetailsModel">
        INSERT INTO `aa`.`loan_details`
        (id, loan_id, declaration, extra_source, activity, activity_desc, non_transferable, push_message, disable_coupon, grant_reward, reward_rate, estimates)
        VALUES
        (#{id}, #{loanId}, #{declaration}, #{extraSource,typeHandler=com.tuotiansudai.util.mybatis.SourceListTypeHandler}, #{activity}, #{activityDesc},
        #{nonTransferable}, #{pushMessage}, #{disableCoupon}, #{grantReward}, #{rewardRate},
        #{estimates,typeHandler=com.tuotiansudai.util.mybatis.EstimateListTypeHandler})
    </insert>

    <select id="getByLoanId" resultMap="LoanDetailsResultMap">
        SELECT
        *
        FROM
        `aa`.`loan_details`
        WHERE
        loan_id = #{loanId}
    </select>

    <update id="updateByLoanId" parameterType="LoanDetailsModel">
        UPDATE
          `aa`.`loan_details`
        <trim prefix="set" suffixOverrides=",">
            <if test="declaration !=null"> declaration = #{declaration},</if>
            <if test="extraSource !=null"> extra_source = #{extraSource,typeHandler=com.tuotiansudai.util.mybatis.SourceListTypeHandler},</if>
            <if test="activity !=null">activity = #{activity},</if>
            <if test="activityDesc !=null">activity_desc = #{activityDesc},</if>
            <if test="nonTransferable !=null">non_transferable = #{nonTransferable},</if>
            <if test="disableCoupon !=null">disable_coupon = #{disableCoupon},</if>
            <if test="pushMessage !=null and pushMessage != ''">push_message = #{pushMessage},</if>
            <if test="grantReward !=null">grant_reward = #{grantReward},</if>
            <if test="rewardRate !=null">reward_rate = #{rewardRate}</if>
            <if test="estimates !=null"> estimates = #{estimates,typeHandler=com.tuotiansudai.util.mybatis.EstimateListTypeHandler},</if>
        </trim>
        WHERE
          loan_id = #{loanId}
    </update>

    <delete id="deleteByLoanId">
        DELETE FROM
        `aa`.`loan_details`
        WHERE
        loan_id = #{loanId}
    </delete>

</mapper>