<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.PledgeHouseMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache"/>

    <resultMap id="AbstractPledgeDetailResultMap" type="AbstractPledgeDetail">
        <id column="id" property="id"/>
        <result column="loan_id" property="loanId"/>
        <result column="pledge_location" property="pledgeLocation"/>
        <result column="estimate_amount" property="estimateAmount"/>
        <result column="loan_amount" property="loanAmount"/>
    </resultMap>

    <resultMap id="PledgeHouseResultMap" type="PledgeHouseModel" extends="AbstractPledgeDetailResultMap">
        <result column="square" property="square"/>
        <result column="property_card_id" property="propertyCardId"/>
        <result column="property_right_certificate_id" property="propertyRightCertificateId"/>
        <result column="estate_register_id" property="estateRegisterId"/>
        <result column="authentic_act" property="authenticAct"/>
    </resultMap>

    <insert id="create" parameterType="PledgeHouseModel">
        INSERT INTO `aa`.`pledge_house`
        (id, loan_id, pledge_location, estimate_amount, loan_amount, square, property_card_id, property_right_certificate_id, estate_register_id, authentic_act)
        VALUES
        (#{id}, #{loanId}, #{pledgeLocation}, #{estimateAmount}, #{loanAmount}, #{square}, #{propertyCardId}, #{propertyRightCertificateId},
        #{estateRegisterId}, #{authenticAct})
    </insert>

    <select id="getByLoanId" resultMap="PledgeHouseResultMap">
        SELECT
        *
        FROM
        `aa`.`pledge_house`
        WHERE
        loan_id = #{loanId}
    </select>

    <update id="updateByLoanId" parameterType="PledgeHouseModel">
        UPDATE
          `aa`.`pledge_house`
        <trim prefix="set" suffixOverrides=",">
            <if test="pledgeLocation != null and pledgeLocation != ''">
                pledge_location = #{pledgeLocation},
            </if>
            <if test="estimateAmount != null and estimateAmount != ''">
                estimate_amount = #{estimateAmount},
            </if>
            <if test="loanAmount != null and loanAmount != ''">
                loan_amount = #{loanAmount},
            </if>
            <if test="square != null and square != ''">
                square = #{square},
            </if>
            <if test="propertyCardId != null and propertyCardId !=''">
                property_card_id = #{propertyCardId},
            </if>
            <if test="propertyRightCertificateId != null and propertyRightCertificateId !=''">
                property_right_certificate_id = #{propertyRightCertificateId},
            </if>
            <if test="estateRegisterId != null and estateRegisterId != ''">
                estate_register_id = #{estateRegisterId},
            </if>
            <if test="authenticAct != null and authenticAct != ''">
                authentic_act = #{authenticAct}
            </if>
        </trim>
        WHERE
        loan_id = #{loanId}
    </update>

    <delete id="deleteByLoanId">
        DELETE FROM
          `aa`.`pledge_house`
        WHERE
          loan_id = #{loanId}
    </delete>
</mapper>