<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- enable autowire -->
    <context:annotation-config/>


    <context:property-placeholder location="classpath*:ttsd-env.properties,classpath*:ttsd-biz.properties" />

    <tx:annotation-driven transaction-manager="transactionManager"/>
    <aop:aspectj-autoproxy expose-proxy="true" />

    <!-- enable component scanning (beware that this does not enable mapper scanning!) -->

    <context:component-scan base-package="com.tuotiansudai.service, com.tuotiansudai.repository, com.tuotiansudai.client, com.tuotiansudai.security, com.tuotiansudai.util,com.tuotiansudai.cache, com.tuotiansudai.coupon.aspect, com.tuotiansudai.coupon"/>


    <bean id="boneCPDataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://${common.jdbc.host}:${common.jdbc.port}/aa?useUnicode=true&amp;characterEncoding=UTF-8"/>
        <property name="username" value="${common.jdbc.username}"/>
        <property name="password" value="${common.jdbc.password}"/>
        <property name="minConnectionsPerPartition" value="${web.aa.minConnectionsPerPartition}"/>
        <property name="maxConnectionsPerPartition" value="${web.aa.maxConnectionsPerPartition}"/>
        <property name="acquireIncrement" value="${web.aa.acquireIncrement}"/>
        <property name="idleMaxAgeInSeconds" value="600"/>
        <property name="statementsCacheSize" value="100"/>
    </bean>

    <bean id="jobBoneCPDataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://${common.jdbc.host}:${common.jdbc.port}/job_worker?useUnicode=true&amp;characterEncoding=UTF-8"/>
        <property name="username" value="${common.jdbc.username}"/>
        <property name="password" value="${common.jdbc.password}"/>
        <property name="minConnectionsPerPartition" value="1"/>
        <property name="maxConnectionsPerPartition" value="1"/>
        <property name="acquireIncrement" value="1"/>
        <property name="idleMaxAgeInSeconds" value="600"/>
        <property name="statementsCacheSize" value="100"/>
    </bean>

    <!-- transaction manager, use JtaTransactionManager for global tx -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="boneCPDataSource"/>
    </bean>

    <bean id="jobStoreBuilder" class="com.tuotiansudai.util.quartz.JobStoreBuilder">
        <property name="dataSource" ref="jobBoneCPDataSource"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="boneCPDataSource"/>
        <property name="typeAliasesPackage" value="com.tuotiansudai.repository.model,com.tuotiansudai.coupon.repository.model"/>
    </bean>

    <!-- define the SqlSessionFactory -->
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <!-- scan for mappers and let them be autowired -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.tuotiansudai.repository.mapper,com.tuotiansudai.coupon.repository.mapper"/>
    </bean>

    <bean id="okHttpClient" class="com.squareup.okhttp.OkHttpClient" />
</beans>