<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
		   http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		   http://www.springframework.org/schema/security
		   http://www.springframework.org/schema/security/spring-security-4.1.xsd">

    <beans:bean id="myAccessDeniedHandler" class="com.tuotiansudai.spring.security.MyAccessDeniedHandler">
        <beans:property name="errorPage" value="/error/404"/>
        <beans:property name="accessDeniedExceptionRedirect">
            <beans:map>
                <beans:entry key="com.tuotiansudai.spring.UserRoleAccessDeniedException" value="/register/account"/>
                <beans:entry key="org.springframework.security.web.csrf.MissingCsrfTokenException" value="/login"/>
            </beans:map>
        </beans:property>
        <beans:property name="errorPageMapping">
            <beans:map>
                <beans:entry key="/login" value="/"/>
                <beans:entry key="/m/login" value="/m"/>
                <beans:entry key="/logout" value="/"/>
                <beans:entry key="/m/logout" value="/m"/>
                <beans:entry key="/register/account" value="/"/>
                <beans:entry key="/m/register/account" value="/m"/>
            </beans:map>
        </beans:property>
    </beans:bean>

    <beans:bean id="webExpressionVoter" class="org.springframework.security.web.access.expression.WebExpressionVoter"/>

    <beans:bean id="affirmativeBased" class="com.tuotiansudai.spring.security.MyAffirmativeBased">
        <beans:constructor-arg ref="webExpressionVoter"/>
    </beans:bean>

    <beans:bean id="myLoginUrlAuthenticationEntryPoint" class="com.tuotiansudai.spring.security.MyLoginUrlAuthenticationEntryPoint">
        <beans:constructor-arg name="loginFormUrl" value="/login"/>
    </beans:bean>

    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="myAuthenticationProvider"/>
    </authentication-manager>

    <http auto-config="true" use-expressions="true" create-session="always" access-decision-manager-ref="affirmativeBased" authentication-manager-ref="authenticationManager"
          entry-point-ref="myLoginUrlAuthenticationEntryPoint">
        <headers>
            <frame-options policy="ALLOW-FROM" strategy="whitelist" value="https://www.growingio.com"/>
        </headers>
        <access-denied-handler ref="myAccessDeniedHandler"/>
        <form-login login-page="/login"
                    authentication-details-source-ref="myWebAuthenticationDetailsSource"
                    authentication-success-handler-ref="mySimpleUrlAuthenticationSuccessHandler"
                    authentication-failure-handler-ref="mySimpleUrlAuthenticationFailureHandler"/>

        <logout logout-url="/logout" success-handler-ref="mySimpleUrlLogoutSuccessHandler"/>

        <session-management session-fixation-protection="none"/>

        <custom-filter ref="myPreAuthenticatedProcessingFilter" position="PRE_AUTH_FILTER"/>

        <!--DO NOT MODIFY THE BELLOW CONFIG ANYTIME!-->
        <intercept-url pattern="/html/**" access="permitAll()"/>
        <intercept-url pattern="/style/**" access="permitAll()"/>
        <intercept-url pattern="/images/**" access="permitAll()"/>
        <intercept-url pattern="/js/**" access="permitAll()"/>
        <intercept-url pattern="/tpl/**" access="permitAll()"/>
        <intercept-url pattern="/upload/**" access="permitAll()"/>
        <intercept-url pattern="/robots.txt" access="permitAll()"/>
        <intercept-url pattern="/MP_verify_tAISeNgSQ4egUaw1.txt" access="permitAll()"/>
        <intercept-url pattern="/favicon.ico" access="permitAll()"/>

        <intercept-url pattern="/isLogin" access="permitAll()"/>

        <intercept-url pattern="/login/captcha" access="permitAll()"/>
        <intercept-url pattern="/login/**" access="isAnonymous()"/>
        <intercept-url pattern="/logout/" access="not isAnonymous()"/>

        <intercept-url pattern="/register/account/success" access="hasAnyAuthority('INVESTOR', 'LOANER')"/>
        <intercept-url pattern="/register/account/" access="hasAuthority('USER') and not hasAnyAuthority('INVESTOR', 'LOANER')"/>

        <!--menus-->
        <!--PC rules start-->
        <intercept-url pattern="/loan-list/**" access="permitAll()"/>
        <intercept-url pattern="/account/**" access="hasAnyAuthority('USER', 'INVESTOR', 'LOANER')"/>
        <intercept-url pattern="/investor/invest-list" access="hasAnyAuthority('USER', 'INVESTOR')"/>
        <intercept-url pattern="/investor/invest-list-data" access="hasAnyAuthority('USER', 'INVESTOR')"/>
        <intercept-url pattern="/transferrer/**" access="hasAnyAuthority('USER', 'INVESTOR')"/>
        <intercept-url pattern="/user-bill/**" access="hasAnyAuthority('USER', 'INVESTOR', 'LOANER')"/>
        <intercept-url pattern="/message/**" access="hasAnyAuthority('USER', 'INVESTOR', 'LOANER')"/>
        <intercept-url pattern="/point/sign-in" access="hasAnyAuthority('INVESTOR', 'LOANER')" method="POST"/>
        <intercept-url pattern="/point/**" access="hasAnyAuthority('USER', 'INVESTOR', 'LOANER')"/>
        <intercept-url pattern="/personal-info/**" access="hasAnyAuthority('USER', 'INVESTOR', 'LOANER')"/>
        <intercept-url pattern="/anxinSign" access="hasAnyAuthority('USER', 'INVESTOR', 'LOANER')"/>
        <intercept-url pattern="/auto-invest" access="hasAnyAuthority('USER', 'INVESTOR', 'LOANER')" method="GET"/>
        <intercept-url pattern="/auto-invest/agreement" access="hasAnyAuthority('USER', 'INVESTOR', 'LOANER')" method="GET"/>
        <intercept-url pattern="/auto-invest/**" access="hasAnyAuthority('INVESTOR', 'LOANER')"/>
        <intercept-url pattern="/referrer/**" access="hasAnyAuthority('USER', 'INVESTOR', 'LOANER')"/>
        <intercept-url pattern="/my-treasure/**" access="hasAnyAuthority('USER', 'INVESTOR', 'LOANER')"/>

        <intercept-url pattern="/recharge/**" access="not isAnonymous()" method="GET"/>
        <intercept-url pattern="/recharge/**" access="hasAnyAuthority('INVESTOR', 'LOANER')" method="POST"/>
        <intercept-url pattern="/withdraw/**" access="not isAnonymous()" method="GET"/>
        <intercept-url pattern="/withdraw/**" access="hasAnyAuthority('INVESTOR', 'LOANER')" method="POST"/>
        <intercept-url pattern="/bind-card/**" access="not isAnonymous()" method="GET"/>
        <intercept-url pattern="/bind-card/**" access="hasAnyAuthority('INVESTOR', 'LOANER')" method="POST"/>
        <intercept-url pattern="/agreement/**" access="hasAnyAuthority('INVESTOR', 'LOANER')"/>

        <intercept-url pattern="/invest/**" access="hasAnyAuthority('INVESTOR')"/>
        <intercept-url pattern="/no-password-invest/**" access="hasAnyAuthority('INVESTOR', 'LOANER')"/>
        <intercept-url pattern="/invest-success/**" access="hasAnyAuthority('INVESTOR', 'LOANER')"/>

        <intercept-url pattern="/loaner/**" access="hasAnyAuthority('LOANER')"/>

        <intercept-url pattern="/bind-email/**" access="not isAnonymous()"/>

        <intercept-url pattern="/activity/draw-tiandou" access="hasAnyAuthority('INVESTOR', 'LOANER')"/>
        <intercept-url pattern="/activity/point-lottery" access="hasAnyAuthority('INVESTOR', 'LOANER')"/>

        <intercept-url pattern="/loan-application/create" access="hasAnyAuthority('INVESTOR', 'LOANER')" method="POST"/>
        <intercept-url pattern="/loan-application/create-consume" access="hasAnyAuthority('INVESTOR', 'LOANER')" method="POST"/>
        <intercept-url pattern="/loan-application/upload" access="hasAnyAuthority('INVESTOR', 'LOANER')" method="POST"/>
        <intercept-url pattern="/loan-application/borrow-apply" access="hasAnyAuthority('INVESTOR', 'LOANER')" method="GET"/>
        <intercept-url pattern="/assign-coupon" access="not isAnonymous()"/>
        <intercept-url pattern="/risk-estimate/**" access="not isAnonymous()"/>
        <intercept-url pattern="/contract/**" access="hasAnyAuthority('USER', 'INVESTOR')"/>
        <!--PC rules end-->

        <!--M rules start-->
        <intercept-url pattern="/m/login/**" access="isAnonymous()"/>
        <intercept-url pattern="/m/account/**" access="hasAnyAuthority('USER', 'INVESTOR', 'LOANER')"/>
        <intercept-url pattern="/m/register/account/" access="hasAuthority('USER') and not hasAnyAuthority('INVESTOR', 'LOANER')"/>
        <intercept-url pattern="/m/recharge/**" access="not isAnonymous()" method="GET"/>
        <intercept-url pattern="/m/recharge/**" access="hasAnyAuthority('INVESTOR', 'LOANER')" method="POST"/>
        <intercept-url pattern="/m/withdraw/**" access="not isAnonymous()" method="GET"/>
        <intercept-url pattern="/m/withdraw/**" access="hasAnyAuthority('INVESTOR', 'LOANER')" method="POST"/>
        <intercept-url pattern="/m/bind-card/**" access="not isAnonymous()" method="GET"/>
        <intercept-url pattern="/m/bind-card/**" access="hasAnyAuthority('INVESTOR', 'LOANER')" method="POST"/>
        <intercept-url pattern="/m/agreement/**" access="hasAnyAuthority('INVESTOR', 'LOANER')"/>
        <intercept-url pattern="/m/investor/invest-list" access="hasAnyAuthority('USER', 'INVESTOR')"/>
        <intercept-url pattern="/m/investor/invest-list-data" access="hasAnyAuthority('USER', 'INVESTOR')"/>
        <intercept-url pattern="/m/my-treasure/**" access="hasAnyAuthority('USER', 'INVESTOR', 'LOANER')"/>
        <intercept-url pattern="/m/personal-info/**" access="hasAnyAuthority('USER', 'INVESTOR', 'LOANER')"/>
        <intercept-url pattern="/m/anxinSign" access="hasAnyAuthority('USER', 'INVESTOR', 'LOANER')"/>
        <intercept-url pattern="/m/settings/**" access="hasAnyAuthority('USER')"/>
        <intercept-url pattern="/m/about/refer-reward" access="hasAnyAuthority('USER')"/>

        <intercept-url pattern="/m/account-anonymous" access="permitAll()"/>
        <intercept-url pattern="/**" access="permitAll()"/>

        <csrf request-matcher-ref="csrfSecurityRequestMatcher"/>
    </http>

    <beans:bean id="csrfSecurityRequestMatcher" class="com.tuotiansudai.spring.CsrfSecurityRequestMatcher">
        <beans:property name="excludedUrls">
            <beans:list>
            </beans:list>
        </beans:property>
    </beans:bean>

</beans:beans>