<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
		   http://www.springframework.org/schema/beans/spring-beans.xsd
		   http://www.springframework.org/schema/security
		   http://www.springframework.org/schema/security/spring-security.xsd">

    <beans:bean id="saltSource" class="org.springframework.security.authentication.dao.ReflectionSaltSource">
        <beans:property name="userPropertyToUse" value="salt"/>
    </beans:bean>

    <beans:bean id="myAccessDeniedHandler" class="com.tuotiansudai.security.MyAccessDeniedHandler">
        <beans:property name="errorPage" value="/403"/>
        <beans:property name="errorPageMapping">
            <beans:map>
                <beans:entry key="/register" value="/"/>
            </beans:map>
        </beans:property>
    </beans:bean>

    <!--<http pattern="/login" security="none"/>-->

    <http auto-config="true" use-expressions="true">
        <access-denied-handler ref="myAccessDeniedHandler"/>
        <!--<form-login login-page="/login" />-->
        <intercept-url pattern="/" access="permitAll()"/>
        <intercept-url pattern="/register/**" access="isAnonymous()"/>

        <intercept-url pattern="/*" access="hasRole('USER')"/>
    </http>

    <authentication-manager alias="authenticationManager">
        <authentication-provider user-service-ref="myUserDetailsService">
            <password-encoder ref="myShaPasswordEncoder">
                <salt-source ref="saltSource"/>
            </password-encoder>
        </authentication-provider>
    </authentication-manager>

</beans:beans>