$orangeBg:#ff5d0d;
$orangeBorder:#ffd200;
$yellowFont:#fdff62;
$yellowCircle:#fffe18;
body {

}
p {
  margin-bottom: 2px;
}
.layui-layer-dialog .layui-layer-content {
  font-size: 11px!important;
}
.marginTop100 {
  margin-top: 1rem;
}
.circle-btn {
  width: 2.79rem;
  height: 2.79rem;
  margin: 0 auto;
  display: block;
  border: none;
  &.invite-btn {
    background: url("../../images/2018/july-activity/invite_btn.png") no-repeat;
    background-size: contain;
  }
  &.cash-btn {
    background: url("../../images/2018/july-activity/cash_btn.png") no-repeat;
    background-size: contain;
  }
  &.open-btn {
    background: url("../../images/2018/july-activity/open_btn.png") no-repeat;
    background-size: contain;
  }
}
.part {
  width: 5.1rem;
  margin-left: auto;
  margin-right: auto;
  border: 0.02rem solid $orangeBorder;
  border-radius: 0.08rem;
  box-sizing: border-box;
  position: relative;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  .circle {
    width: 0.12rem;
    height: 0.12rem;
    border-radius: 0.06rem;
    background: $yellowCircle;
    position: absolute;
    top: -0.06rem;
    &.left-circle {
      left: 1.09rem;
    }
    &.right-circle {
      right: 1.09rem;
    }

  }
  .part-title {
    width: 2.64rem;
    height: 0.67rem;
    position: absolute;
    left: 50%;
    margin-left: -1.32rem;
    top: -0.34rem;
    background-color: $orangeBg;
  }
  .main-content {
    p {
      color: #fff;
    }
  }
}
.invite-friend-container {
  padding-bottom: 1.1rem;
  position: relative;
  background: $orangeBg url("../../images/2018/july-activity/bolang.png") no-repeat center bottom;
  background-size: contain;
  .bolang {
    position: absolute;
    top: 16rem;
    width: 100%;
    height: 1.76rem;
    background: url("../../images/2018/july-activity/bolang.png") no-repeat;
    background-size: contain;
  }
  .invite-banner {
    height: 4.8rem;
    background: url("../../images/2018/july-activity/wechat_banner.png") no-repeat;
    background-size: contain;
    padding-top: 4.2rem;
    box-sizing: border-box;
    .risk-tip {
      color: rgba(255,255,255,0.6);
      font-size: 12px;
      margin: 0 auto;
      text-align: center;
    }
  }
  .invite-friend-fonts {
    margin: 0 auto;
    width: 4.75rem;
    height: 1.55rem;
    background: url("../../images/2018/july-activity/invite_friend_fonts.png") no-repeat;
    background-size: contain;
  }
  .red-ware {
    width: 7.5rem;
    height: 7.29rem;
    background: url("../../images/2018/july-activity/red_ware_big.png") no-repeat;
    background-size: contain;
    padding-top: 1.1rem;
    box-sizing: border-box;
    .invite-wrap {
      width: 3.5rem;
      margin: 0 auto;
      p {
        font-size: 0.24rem;
        color: $yellowFont;
        text-align: center;
        line-height: 0.34rem;
        strong {
          font-size: 0.34rem;
        }
      }
      .to-join-btn {
        display: block;
        margin: 0 auto;
        margin-top: 1.2rem;
        width: 3.07rem;
        height: 1.18rem;
        background: url("../../images/2018/july-activity/to_join_btn.png") no-repeat;
        background-size: contain;
      }
    }
  }
  .part-one {
    .part-title {
      background: $orangeBg url("../../images/2018/july-activity/end_btn.png") no-repeat;
      background-size: contain;
    }
    .main-content {
      padding-top: 0.1rem;
      padding-bottom: 0;
      .time {
        font-size: 0.9rem;
        font-weight: bold;
        text-align: center;
        color: #fff;
      }
    }
  }
  .bolang-wrap {
    position: relative;
    .bolang2 {
      position: absolute;
      bottom: -1.2rem;
      width: 100%;
      height: 1.76rem;
      background: url("../../images/2018/july-activity/bolang.png") no-repeat;
      background-size: contain;
    }
  }
  .part-two {
    .part-title {
      background: $orangeBg url("../../images/2018/july-activity/has_got_btn.png") no-repeat;
      background-size: contain;
    }
    .main-content {
      padding-top: 0.4rem;
      padding-bottom: 0.2rem;
      ul {
        li {
          color: #fff;
          height: 0.6rem;
          line-height: 0.6rem;
          font-size: 0.24rem;
        }
      }
    }
  }
  .part-three {
    .part-title {
      background: $orangeBg url("../../images/2018/july-activity/activity_rules.png") no-repeat;
      background-size: contain;
    }
    .main-content {
      padding-top: 0.6rem;
      padding-bottom: 0.45rem;
      p {
        font-size: 0.21rem;
        line-height: 0.34rem;
        color: #fff;
      }
      .calculation-formula {
        border: 1px solid #fff;
        border-bottom: none;
        border-right: none;
        margin-top: 0.25rem;
        margin-bottom: 0.3rem;
        table {
          tr {
            td {
              color: #fff;
              font-size: 0.18rem;
              height: 0.7rem;
              line-height: 0.7rem;
              padding: 0;
              margin: 0;
              border-bottom: 1px solid #fff;
              border-right: 1px solid #fff;
              box-sizing: border-box;
              &.last-td {
                width: 2.3rem;
                line-height: 0.3rem;
                box-sizing: border-box;
                span {
                  display: block;
                  text-align: left;
                  padding-left: 0.3rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

.wechat-tip {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  padding-top: 1.2rem;
  box-sizing: border-box;
  background: rgba(0,0,0,0.85);
  .share-tip {
    width: 7.5rem;
    height: 3.84rem;
    background: url("../../images/2018/july-activity/wechat_invite_tip.png") no-repeat;
    background-size: contain;
  }
  .open-ware-tip {
    margin: 0 auto;
    width: 5.37rem;
    height: 8.83rem;
    background: url("../../images/2018/july-activity/wechat_open_ware_invite.png") no-repeat;
    background-size: contain;
    padding-top: 6.33rem;
    .open-ware-btn {
      display: block;
      width: 2.25rem;
      height: 0.75rem;
      margin: 0 auto;
      border: none;
      &.open-now {
        background: url("../../images/2018/july-activity/comfirm_btn.png") no-repeat;
        background-size: contain;
      }
      &.no-open {
        margin-top: 0.3rem;
        background: url("../../images/2018/july-activity/cancal_btn.png") no-repeat;
        background-size: contain;
      }
    }
  }
  .tip-btn {
    display: block;
    width: 3.18rem;
    height: 1.30rem;
    margin: 0 auto;
    margin-top: 1.2rem;
    background: url("../../images/2018/july-activity/known_btn.png") no-repeat;
    background-size: contain;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 102.4px;
  }
}
@media screen and (max-width: 750px) {
  html {
    font-size: 100px;
  }
}
@media screen and (max-width: 720px) {
  html {
    font-size: 96px;
  }
}
@media screen and (max-width: 640px) {
  html {
    font-size: 85.33px;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 80px;
  }
}
@media screen and (max-width: 540px) {
  html {
    font-size: 72px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 64px;
  }
}
@media screen and (max-width: 414px) {
  html {
    font-size: 55.2px;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 53.33px;
  }
}
@media screen and (max-width: 393px) {
  html {
    font-size: 52.4px;
  }
}
@media screen and (max-width: 384px) {
  html {
    font-size: 51.2px;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 50px;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 48px;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 42.66px;
  }
}
@media screen and (max-width: 240px) {
  html {
    font-size: 32px;
  }
}