html {
  height: 100%;
}
body {
  height: 100%;
}
.container {
  width: 100%;
  height: 100%;
  background:url("../../images/2018/peach-blossom-festival/wechat_spring_bg.png") no-repeat;
  background-size: 100%;
  overflow: hidden;
  .get-button {
    width: 3.02rem;
    height: .99rem;
    margin: 0 auto;
    margin-top: 2.63rem;
    background:url("../../images/2018/peach-blossom-festival/to_get.png") no-repeat;
    background-size: 100%;
    &.got_it_btn {
      background:url("../../images/2018/peach-blossom-festival/has_get.png") no-repeat;
      background-size: 100%;
    }
  }
}