body {
	font-size: 12px;
}
.main-frame {
	width: 100%;
}
.width100 {
	width: 100%;
}
.height100 {
	height: 100%;
}
input {
	padding: 0;
	margin: 0;
}
.error {
	color: #fff;
}
.borderRadius {
	border-radius: 3px;
}

p {
	margin-bottom: 0;
	line-height: 1;
}
.my-page-width {
	width: 1100px;
	margin: 0 auto;
}

.textCenter {
	text-align: center;
}

.border-section {
	box-sizing: border-box;
	border-radius: 8px;
	border: 3px solid #e2b573;
}

.fl {
	float: left;
}

.fr {
	float: right;
}

@media screen and (max-width: 1024px){
	.btn-red {
		width: 2.08rem;
		height: 0.56rem;
		line-height: 0.56rem;
		font-size: 0.32rem;
		text-align: center;
		background: #bc3434;
		box-sizing: border-box;
		border-radius: 8px;
		color: #fff;
		display: inline-block;
		&:hover {
			color: #fff;
		}
	}
	.error {
		font-size: 0.24rem;
	}
	.desc-container {
		display: none;
	}
	.btn-red {
		width: 2.08rem;
		height: 0.56rem;
		line-height: 0.56rem;
		font-size: 0.32rem;
		text-align: center;
	}
	body {
		background: #d32c31 url("../../images/landingpage/body_bg_wap.png") no-repeat center top;
		background-size: contain;
	}
	.landing-page-container {
		.app-container-landing {
			display: block;
			height: 1.32rem;
			background: rgba(0,0,0,0.6);
			position: fixed;
			bottom: 0;
			left: 0;
			width: 100%;
			z-index: 9999;
			.logo {
				width: 0.83rem;
				height: 0.83rem;
				float: left;
				background: url("../../images/landingpage/landing_logo.png") no-repeat;
				background-size: contain;
				margin-left: 0.1rem;
				margin-top: 0.26rem;
				margin-right: 0.1rem;
			}
			.app-detail {
				float: left;
				color: #fff;
				line-height: 0.4rem;
				font-size: 0.38rem;
				margin-top: 0.3rem;
				em {
					font-size: 0.26rem;
				}
			}
			.open-app {
				float: right;
				width: 87px;
				height: 30px;
				background: #d0282e;
				color: #fff;
				font-size: 15px;
				margin-right: 30px;
				margin-top: 20px;
				text-align: center;
				line-height: 30px;
			}
			.close-app {
				width: 13px;
				height: 13px;
				position: absolute;
				top: 5px;
				right: 5px;
				background: url("../../../m-web/images/share/icon_close.png") no-repeat;
				background-size: contain;
				cursor: pointer;
			}
		}
      #register_btn {
        font-size: 13px;
        position: absolute;
        right: 3%;
        top: 10px;
        color: #fff;
        width: 57px;
        height: 30px;
        line-height: 30px;
        background: #2d2544;
        text-align: center;
        border-radius: 5px;
      }
      .success-con {
        .share-refer-info {
          text-align: center;
          color: #fff0b5;
          padding-top: 0.35rem;
          padding-bottom: 0.35rem;
          line-height: 0.6rem;
          span {
            font-size: 0.4rem;
          }
          strong {
            font-size: 0.42rem;
            font-weight: normal;
          }
        }
        .share-old {
          margin: 0 auto;
          margin-top: 0.3rem;
          width: 5.93rem;
          height: 1.4rem;
          background: url("../../images/shareapp/share-old.png") no-repeat center top;
          background-size: contain;
        }
        .gift-icon {
          margin: 0 auto;
          margin-top: 0.2rem;
          margin-bottom: 0.2rem;
          width: 5.36rem;
          height: 4.3rem;
          background: url("../../images/shareapp/gift-icon.png") no-repeat center top;
          background-size: 100%;
        }
        .btn-app {
          color: #820401;
          background: #fff0b5;
          display: inline-block;
          width: 6rem;
          height: 0.8rem;
          line-height: 0.8rem;
          margin-bottom: 0.4rem;
          font-size: 0.3rem;
          border-radius: 0.12rem ;
        }
      .invite-friend-invest {
       p {
         color: #fff0b5;
         font-size: 0.3rem;
         text-align: center;
         line-height: 0.5rem;
         span {
           font-size: 0.36rem;
         }
       }
      }

      }

		.login-wrap {
			width: 7.5rem;
			position: static;
			font-size: 0.37rem;
			.refer-person-info {
				text-align: center;
				color: #fff0b5;
				padding-top: 0.35rem;
				padding-bottom: 0.35rem;
				line-height: 0.8rem;
				span {
					font-size: 0.37rem;
				}
				strong {
					font-size: 0.48rem;
				}
			}
			.refer-info-other {
				display: none;
				font-size: 0.24rem;
				line-height: 0.4rem;
				p {
					font-size: 0.24rem;
					text-align: center;
					color: #fff;
					line-height: 0.4rem;
					strong {
						color: #fff0b5;
					}
				}
			}
			.risk-tip {
				width: 3.86rem;
				height: 0.4rem;
				background: rgba(0,0,0,0.3);
				color: rgba(255,255,255,0.5);
				text-align: center;
				border-radius: 0.16rem;
				margin: 0 auto;
				margin-top: 0.2rem;
				margin-bottom: 0.1rem;
				font-size: 0.16rem;
				line-height: 0.4rem;
			}

			.login-con {
				background: none;
				box-sizing: border-box;
				padding: 0.12rem  0.3rem;
				ul {
					li {
						height: 0.96rem;
						margin-bottom: 0.6rem;
						&.captcha-li {
							position: relative;
							margin-bottom: 0.4rem;
							.voice-captcha {
								position: absolute;
								right: 0;
								bottom: -0.64rem;
								color: #fff;
								font-size: 0.24rem;
								a {
									color: #fff0b5;
								}
							}
						}
						&.agreement-li {
							height: 0.6rem;
							margin-bottom: 5px;
							font-size: 0.3rem;
							margin-left: -0.5rem;
							a {
								color: #3a84cf;
								vertical-align: middle;
								font-size: 0.3rem;
							}
							#agreementLable {
								display: inline-block;
							}
							.agreement-check {
								visibility: hidden;
								vertical-align: middle;
							}
							.icon-yesOrNo-checked {
								display: inline-block;
								vertical-align: middle;
								width: 0.36rem;
								height: 0.36rem;
								background: url("../../images/landingpage/checkbox_bg_no.png") no-repeat center center;
								background-size: 100%;
								&.checked {
									background: url("../../images/landingpage/checkboxed_bg.png") no-repeat center center;
									background-size: 100%;
								}
							}
							.check-label {
								color: #fff;
								vertical-align: middle;
							}
						}
						&.recomender-iphone {
							margin-bottom: 0;
							display: none;
							&.show {
								display: block;
							}
						}
						&.recommend {
							height: 0.6rem;
							color: #fff;
							margin-bottom: 0;
							cursor: pointer;
							margin-top: 0.2rem;
							>span {
								vertical-align: middle;
								display: inline-block;
								font-size: 0.34rem;
							}
							.icon-arrow-bottom {
								width: 0.28rem;
								height: 0.32rem;
								background: url("../../images/landingpage/traingle_right.png") no-repeat center center;
								background-size: 100%;
								margin-right: 5px;
								&.active {
									background: url("../../images/landingpage/traingle_bg.png") no-repeat center center;
									background-size: 100%;
								}
							}
						}
						input{
							border: 0;
							color: #959794;
							text-indent: 1.04rem;
							font-size: 0.28rem;
                          &.mobileIcon {
                            background:#fff url("../../images/landingpage/iphone_icon.png") no-repeat 0.3rem center;
							  background-size: 8%;
                          }
                          &.passwordIcon {
                            background:#fff url("../../images/landingpage/password_icon.png") no-repeat 0.3rem center;
							  background-size: 8%;
                          }
                          &.captchaIcon {
                            background:#fff url("../../images/landingpage/captcha_icon.png") no-repeat 0.3rem center;
							  background-size: 13%;
                          }
                          &.smsIcon {
							  width: 4.3rem;
                            background:#fff url("../../images/landingpage/email_icon.png") no-repeat 0.3rem center;
							  background-size: 13%;
                          }
						}
						#input_img_captcha {
							width: 4.3rem;
						}
						.image-captcha {
							display: inline-block;
							width: 2.1rem;
							height: 0.96rem;
							float: right;
							margin-right: 0;
							img {
								width: 100%;
								height: 100%;
							}
						}
						.nextImg {
							font-size: 0.32rem;
							color: #3a84cf;
							cursor: pointer;
						}
						.get-captcha {
							width: 2.1rem;
							vertical-align: middle;
							display: inline-block;
							background: #fce9a0;
							color: #d0282e;
							text-align: center;
							line-height: 0.8rem;
							float: right;
							text-indent: 0;
							cursor: pointer;
							&:disabled {
								background: #ccc;
								cursor: default;
								color: #fff;
							}
						}

						.register-sub {
							background: url("../../images/landingpage/register_btn_bg.png") no-repeat center center;
							background-size: 100%;
							color: #820401;
							font-size: 0.45rem;
							text-indent: 0;
							border-radius: 0.16rem;
							&:disabled {
								background: #ccc;
								color: #fff;
							}
						}
					}
				}
			}
		}
		.landing-main {
			background: none;
			.star-content {
				background: none;

				.newbie-register-wrap {
					padding-top: 0.1rem;
					.newbie-register-title {
                      margin: 0 auto;
						margin-bottom: 0.2rem;
						width: 6.51rem;
						height: 1.16rem;
						background: url("../../images/landingpage/new_title_wap.png") no-repeat center center;
						background-size: 100%;
					}

					.to-experience {
						display: none;
						margin-top: 60px;
						margin-bottom: 60px;
					}

				}

				.wap-con-swiper {
					margin: 0 auto;
					//width: 5.96rem;
					width: 7.5rem;
					height: 3.9rem;
					.swiper-container {
						//width: 5.96rem;
						width: 7.5rem;
						height: 3.9rem;
						margin: 0 auto;
						overflow: visible!important;
						.swiper-wrapper {
							.swiper-slide{
								width: 5.96rem;
								.get-btn {
									position: absolute;
									bottom: 0.6rem;
									left: 50%;
									margin-left: -1.98rem;
									width: 3.86rem;
									height: 0.64rem;
									background: url("../../images/landingpage/get_btn_wap.png") no-repeat center center;
									background-size: 100%;
									color: #fff;
									font-size: 0.26rem;
									line-height: 0.64rem;
									text-align: center;
								}
								img{
									width: 100%;
								}
							}
							.swiper-slide-prev {
								margin-top: 0.5rem;
								height: 2.9rem!important;
								img{
									height: 2.9rem!important;
								}
							}
							.swiper-slide-next{
								margin-top: 0.5rem;
								height: 2.9rem!important;
								img{
									height: 2.9rem!important;
								}
							}
							.swiper-slide-active{
								width: 5.96rem;
								height: 3.9rem;
							}

						}
						.controlsBtn {
							width: 0.7rem;
							height: 0.7rem;
							position: absolute;
							top: 50%;
							margin-top: -0.35rem;
							background: rgba(0,0,0,0.3);
							border-radius: 0.35rem;
							z-index: 3000;
							background-repeat: no-repeat;
							background-position: center center;
							background-size: 30%;
							cursor: pointer;
							&.prevBtn {
								left: -0.08rem;
								background-image: url("../../images/2018/new-year-increase-interest/leftBtn.png");
							}
							&.nextBtn {
								right:-0.08rem;
								background-image: url("../../images/2018/new-year-increase-interest/rightBtn.png");
							}
						}
					}
				}


				.red-ware-wrap {
					display: none;
				}
				.newbie-increase-wrap {
					display: none;
				}

				.six-advance-wrap {
					margin: 0 auto;
					.title {
						margin: 0 auto;
						width: 7.5rem;
						height: 1.16rem;
						margin-top: 0;
						margin-bottom: 0.2rem;
						background: url("../../images/landingpage/six_advance_wap.png") no-repeat center center;
						background-size: 100%;
					}
					.advance-con {
						width: 7.5rem;
						margin: 0 auto;
						dl {
							width: 3.5rem;
							margin-bottom: 0.26rem;
							float: left;
							text-align: center;
							dt {
								width: 1.97rem;
								height: 1.98rem;
								display: inline-block;
								&.icon-advance1 {
									background: url("../../images/landingpage/icon_advance1.png") no-repeat center center;
									background-size: 100%;
								}
								&.icon-advance2 {
									background: url("../../images/landingpage/icon_advance2.png") no-repeat center center;
									background-size: 100%;
								}
								&.icon-advance3 {
									background: url("../../images/landingpage/icon_advance3.png") no-repeat center center;
									background-size: 100%;
								}
								&.icon-advance4 {
									background: url("../../images/landingpage/icon_advance4.png") no-repeat center center;
									background-size: 100%;
								}
								&.icon-advance5 {
									background: url("../../images/landingpage/icon_advance5.png") no-repeat center center;
									background-size: 100%;
								}
								&.icon-advance6 {
									background: url("../../images/landingpage/icon_advance6.png") no-repeat center center;
									background-size: 100%;
								}
							}
							dd {
								.profile {
									font-size: 0.34rem;
									line-height: 0.34rem;
									color: #fbf1c5;
								}
								.font {
									font-size: 0.24rem;
									line-height: 0.34rem;
									color: #fbf1c5;
								}

							}
						}
					}
					.gift-link {
						display: none;
					}
				}
				.good-project-wap {
					display: block;
					width: 7.5rem;
					margin: 0 auto;
					margin-top: 0.2rem;
					margin-bottom: 0.25rem;
					.title {
						margin: 0 auto;
						width: 5.38rem;
						height: 1.16rem;
						background: url("../../images/landingpage/good_project.png") no-repeat center center;
						background-size: 100%;
					}
					.project-list {
						li {
							.pro-item {
								width: 7.5rem;
								height: 2.52rem;
								position: relative;
								&.item1 {
									background: url("../../images/landingpage/good_project1.png") no-repeat center center;
									background-size: 100%;
								}
								&.item2 {
									background: url("../../images/landingpage/good_project2.png") no-repeat center center;
									background-size: 100%;
								}
								&.item3 {
									background: url("../../images/landingpage/good_project3.png") no-repeat center center;
									background-size: 100%;
								}
								&.item4 {
									background: url("../../images/landingpage/good_project4.png") no-repeat center center;
									background-size: 100%;
								}
								.btn-red {
									position: absolute;
									right: 0.7rem;
									bottom: 0.6rem;
								}
							}
						}

					}
				}
				.kindly-tips-wrap {
					width: 6.64rem;
					margin: 0 auto;
					.title {
						font-size: 0.38rem;
						position: relative;
						text-align: center;
						color: #faf0c3;
					}
					.tip-line {
						display: none;
					}
					.squre {
						display: inline-block;
						vertical-align: middle;
						width: 0.16rem;
						height: 0.16rem;
						background: #faf0c3;
						margin-right: 0.2rem;
						&.right-first {
							margin-left: 0.2rem;
						}
					}
					.kindly-tips-con {
						padding-bottom: 0.4rem;
						p {
							line-height: 0.34rem;
							margin-bottom: 1px;
							font-size: 0.24rem;
							color: #faf0c3;
						}
					}

				}
			}
		}
	}

}

@media screen and (max-width: 768px) {
	html {
		font-size: 102.4px;
	}
}
@media screen and (max-width: 750px) {
	html {
		font-size: 100px;
	}
}
@media screen and (max-width: 720px) {
	html {
		font-size: 96px;
	}
}
@media screen and (max-width: 640px) {
	html {
		font-size: 85.33px;
	}
}
@media screen and (max-width: 600px) {
	html {
		font-size: 80px;
	}
}
@media screen and (max-width: 540px) {
	html {
		font-size: 72px;
	}
}
@media screen and (max-width: 480px) {
	html {
		font-size: 64px;
	}
}
@media screen and (max-width: 414px) {
	html {
		font-size: 55.2px;
	}
}
@media screen and (max-width: 400px) {
	html {
		font-size: 53.33px;
	}
}
@media screen and (max-width: 384px) {
	html {
		font-size: 51.2px;
	}
}
@media screen and (max-width: 375px) {
	html {
		font-size: 50px;
	}
}
@media screen and (max-width: 360px) {
	html {
		font-size: 48px;
	}
}
@media screen and (max-width: 320px) {
	html {
		font-size: 42.66px;
	}
}
@media screen and (max-width: 240px) {
	html {
		font-size: 32px;
	}
}