**/*.db
**/.sass-cache
**/*.log
spike.py
**/*.pyc
**/.idea/
**/out/
**/build/
**/*.iml
**/.gradle/
**/.DS_Store
**/*.key.p8
**/war/
.gradle
**/gradlew.bat
**/gradlew
**/gradle/
**/classes/
**/node_modules/
ttsd-web/src/main/webapp/style/*.css.map
ttsd-web/src/main/webapp/style/*.css
SignVerProp.properties
cs/.env
