.main-frame{
  width:100%;
  margin:0;
  .global-member-order {
    float:left;
    width:100%;
    .wp{
      width:1000px;
      margin:0 auto;
      position: relative;
      &.order-item{
        background:#fff;
        margin-bottom:20px;
      }
      .order-top{
        float:left;
        width:100%;
        color:#808080;
        font-size:16px;
        margin:20px 0;
        a{
          color:#808080;
        }
        span{
          color:#fc4a52;
        }
      }
      .container-order{
        float:left;
        width:960px;
        margin:0 20px;
        padding:20px 0;
        .order-place{
          float:left;
          width:100%;
          margin-bottom:30px;
          .address-model{
            float:left;
            width:100%;
            h3{
              float:left;
              width:100%;
              font-size:18px;
              color:#4d4d4d;
            }
            .address-item{
              float:left;
              width:290px;
              height:100px;
              padding:20px 30px;
              border:1px dashed #ccc;
              position: relative;
              &:hover{
                border-color:#ff000b;
                .address-set{
                  display:block;
                  color:#ff000b;
                }
              }
              .add-place{
                color:#178fe6;
                font-size: 18px;
                width:100px;
                height:40px;
                line-height:40px;
                padding-left:40px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -20px;
                margin-left: -70px;
                cursor:pointer;
                background:url("../images/add-place.png") no-repeat 5% 50%;
              }
              .address-set{
                width:40px;
                position: absolute;
                top:15px;
                right:20px;
                font-size:14px;
                color:#808080;
                display:none;
              }
              p{
                font-size:16px;
                color:#808080;
                margin-bottom:0;
                overflow: hidden;
                text-overflow: ellipsis;
                word-wrap: break-word;
                white-space: nowrap;
                &.user-name{
                  color:#4c4c4c;
                }
              }
            }
          }
          .fix-address{
            float:left;
            width:100%;
            display:none;
            .addr-form{
              float:left;
              width:660px;
              padding:20px;
              .input-group{
                float:left;
                width:100%;
                margin-bottom:20px;
                &.box-item{
                  width:50%;
                }
                label{
                  float:left;
                  width:85px;
                  padding: 10px 0;
                  font-size:14px;
                  height: 16px;
                  line-height: 16px;
                  em{
                    color: #f00;
                  }
                }
                .input-box{
                  float:left;
                  margin-left:10px;
                  position: relative;
                  .text-input{
                    float:left;
                    padding: 10px;
                    height: 16px;
                    width: 158px;
                    font-size: 14px;
                    color: #666;
                    border: 1px solid #e1e1e1;
                    line-height: 16px;
                    &:focus{
                      border:1px solid #178fe6;
                    }
                  }
                  span.error{
                    position: absolute;
                    left:0;
                    bottom:-18px;
                    width:100%;
                    padding:0;
                  }
                  .text-area{
                    float:left;
                    width: 488px;
                    padding: 10px;
                    border: 1px solid #e1e1e1;
                    font-family: 'Microsoft Yahei','\5FAE\8F6F\96C5\9ED1',Arial,'Hiragino Sans GB','\5B8B\4F53';
                    &:focus{
                      border:1px solid #178fe6;
                    }
                  }
                }
              }
              .btn-group{
                float:left;
                width:100%;
                text-align:center;
                .btn-save{
                  display:inline-block;
                  background:#178fe6;
                  border: 1px solid #178fe6;
                  border-radius:0;
                  color:#fff;
                  &:disabled{
                    border: 1px solid #ccc;
                    background:#ccc;
                    color:#fff;
                  }
                }
              }
            }
          }
        }
        .order-info{
          float:left;
          width:100%;
          h3{
            float:left;
            width:100%;
            font-size:18px;
            color:#4c4c4c;
            margin-bottom:30px;
            border-bottom:1px solid #e6e6e6;
          }
          .order-table{
            float:left;
            width:100%;
            padding-bottom:20px;
            border-bottom:1px solid #e6e6e6;
            p{
              font-size:16px;
              color:#808080;
              line-height:25px;
              margin-bottom:0;
              &.name-text{
                margin-bottom:10px;
                font-size:18px;
                color:#4d4d4d;
              }
              &.title-text{
                font-size:16px;
                color:#808080;
                margin-bottom:15px;
              }
            }
            .order-picture{
              float:left;
              width:140px;
              margin-right:50px;
              p{
                float:left;
                width:100%;
                margin-bottom:0;
                &.mater-img{
                  &.coupon-bg{
                    width: 140px;
                    height: 42px;
                    padding:36px 0;
                    background:url("../images/coupon-bg.png") no-repeat center;
                    background-size:100%;
                    span{
                      float:left;
                      width:100%;
                      font-size:14px;
                      color:#fc933c;
                      line-height:20px;
                      text-align:center;
                      i{
                        font-size:20px;
                        color:#fc8d32;
                      }
                    }
                  }
                  &.bag-bg{
                    width: 140px;
                    height: 60px;
                    padding: 27px 0;
                    background:url("../images/bag-bg.png") no-repeat center;
                    background-size:100%;
                    span{
                      float:left;
                      width:100%;
                      font-size:16px;
                      color:#fff;
                      line-height:20px;
                      text-align:center;
                      i{
                        font-size:30px;
                      }
                    }
                  }
                  &.jia-bg {
                    width: 140px;
                    height: 42px;
                    padding: 36px 0;
                    background: url("/../images/jia-bg.png") no-repeat center;
                    background-size:100%;
                    span {
                      float: left;
                      width: 100%;
                      font-size: 14px;
                      color: #ff7a78;
                      line-height: 20px;
                      text-align: center;
                      i {
                        font-size: 20px;
                        color: #ff7a78;
                      }
                    }
                    &.picture-item {
                      width: 140px;
                      height: 114px;
                    }
                  }
                }
              }
            }
            .order-name{
              float:left;
              width:240px;

            }
            .order-price{
              float:left;
              width:180px;
              i{
                color:#fc4a52;
              }
            }
            .order-number{
              float:left;
              width:210px;
              span{
                float:left;
                &.count-btn{
                  width:26px;
                  height:24px;
                  font-size:22px;
                  text-align:center;
                  line-height:24px;
                  cursor:pointer;
                  border:1px solid #d1d6de;
                  &:active{
                    background:#ccc;
                  }
                }
                &.total-num{
                  font-size:14px;
                  color:#808080;
                  i{
                    color:#fc4a52;
                  }
                  .tip {
                    float:none;
                    display: block;
                    color: #fc4a52;
                    font-size:12px;
                  }
                }
              }
              .count-list{
                float:left;
                width:100%;
                margin-bottom:0;
                .num-text{
                  float:left;
                  width: 50px;
                  height: 24px;
                  line-height: 25px;
                  text-align: center;
                  padding: 0;
                  border: none;
                  border-top: 1px solid #d1d1d1;
                  border-bottom: 1px solid #d1d1d1;
                }
              }
            }
            .order-count{
              float:left;
              width:120px;
            }
          }
        }
        .order-total{
          float:left;
          width:100%;
          padding-top:30px;
          p{
            text-align:right;
            span{
              font-size:18px;
              color:#4d4d4d;
              i{
                color:#fc4a52;
              }
            }
            .order-btn{
              display:inline-block;
              width: 160px;
              height: 40px;
              line-height: 20px;
              color: #fff;
              font-size: 16px;
              text-align: center;
              border: none;
              cursor: pointer;
              background: #fc4a52;
              &[disabled] {
                background: #ccc;
              }
            }
          }
        }
      }
    }
    .container-ad{
      float:left;
      width:100%;
      height:80px;
      background:url("../images/bottom-img.jpg") no-repeat center;
    }
    .error-tip{
      float:left;
      width:300px;
      padding:20px 0;
      text-align:center;
      display:none;
      h3{
        font-size:20px;
        text-align:center;
        color:#ff9c1b;
        background: url("../images/error-tip.png") no-repeat 30% 50%;
      }
      p{
        font-size:16px;
        color:#4c4c4c;
      }
      .close-layer{
        display:inline-block;
        width:160px;
        height:40px;
        color:#fff;
        font-size:16px;
        background:#178fe6;
        line-height: 40px;
        text-decoration: none;
      }
    }
  }
}
.order-info.my-order-info {
  margin-top: 20px;
}

#comment {
  padding: 5px;
  width: 850px;
  height: 60px;
  vertical-align: top;
  border: 1px solid #e6e6e6;
}

textarea::-webkit-input-placeholder {
  color: #808080;
}
