.main-frame{
  width:100%;
  margin:0;
  .global-member-task {
    float:left;
    width:100%;
    .wp{
      width:1000px;
      margin:0 auto;
      position: relative;
      @media (max-width:999px) {
        width:100%;
      }
      .choi-beans-list {
        float:left;
        width: 900px;
        padding:30px 50px;
        background:#fff;
        @media (min-width:701px) and (max-width:768px) {
          width:100%;
          box-sizing:border-box;
        }
        .title-task {
          border-bottom: 1px solid #e7eaee;
          span {
            font-size:16px;
            display: inline-block;
            padding: 2px 16px;
            float: left;
            cursor: pointer;
            &.active {
              background: #e7eaee;
            }
          }
        }
        .notice-tip {
          border:1px solid #e7eaee;
          padding:10px;
          margin-top:10px;
          color:#ff7200;
          font-size:14px;
          padding: 4px 10px;
          position: relative;
          cursor: pointer;
          i {
            position: absolute;
            right: 10px;
            top: 10px;
            color: #666;
          }
        }
        .task-frame {
          margin-bottom:20px;
          .task-box {
            float: left;
            width:360px;
            height:190px;
            padding:10px;
            margin:10px 25px 0 0;
            position: relative;
            border:1px solid #e7eaee;
            @media (min-width:701px) and (max-width:768px) {
              width:48%;
              margin:1%;
              height:230px;
              box-sizing:border-box;
            }
            .serial-number {
              color: #cccccc;
              font-size: 50px;
              position: absolute;
              top: -15px;
              left: 10px;
            }
            .step-content {
              line-height: 39px;
              font-size: 16px;
              position: absolute;
              left: 76px;
              top: 10px;
              dt {
                font-weight: bold;
                color: #000;
              }
              dd {
                &.reward {
                  background: #edf1f5;
                  display: inline-block;
                  line-height: 26px;
                  padding-right: 25px;
                  span {
                    color: #fc4a52;
                    display: inline-block;
                  }
                  margin-bottom:10px;
                }
                a.btn-normal {
                  border: 1px solid #fc4a52;
                  border-radius:0;
                  background:#fc4a52;
                  &:hover{
                    background:#fa7278;
                  }
                }
              }
            }
          }
        }
        .task-status {
          float:left;
          width:100%;
          display:none;
          &.active{
            display:block;
          }
          .border-box {
            height:auto;
            overflow: auto;
            margin-top:10px;
            border:1px solid #e7eaee;
            padding:10px 20px;
            &:nth-of-type(n+5){
                display:none;
            }
            &.one-col {
              line-height: 36px;
            }
            &.two-col {
              padding-top: 9px;
              line-height: 20px;
              padding-bottom: 7px;
            }
            dl {
              .color-key{
                color:#fc4a52;
              }
              dt {
                font-size: 16px;
                font-weight: bold;
              }
            }
          }
          a.btn-normal {
            border: 1px solid #fc4a52;
            border-radius:0;
            background:#fc4a52;
            &:hover{
              background:#fa7278;
            }
          }
          .button-more {
            margin-top: 30px;
            a {
              background: #e7eaee ;
              display: inline-block;
              font-size:16px;
              color: #4c4c4c;
              padding: 7px 14px 7px 14px;
              i {
                font-size:19px;
              }
            }
          }
        }
      }
    }
  }
}






