.main-frame{
  width:100%;
  margin:0;
  .global-member-record {
    float:left;
    width:100%;
    .wp{
      width:1000px;
      margin:0 auto;
      position: relative;
      @media (max-width:999px) {
        width:100%;
      }
      .detail-top{
        float:left;
        width:100%;
        color:#808080;
        font-size:16px;
        margin-top:10px;
        margin-bottom:20px;
        @media (min-width:701px) and (max-width:768px) {
          box-sizing:border-box;
          padding:0 20px;
        }
        a{
          color:#808080;
        }
        span{
          color:#fc4a52;
        }
      }
      .container-detail{
        float:left;
        background:#fff;
        width:100%;
        .type-list{
          float:left;
          width:100%;
          margin-bottom:10px;
          span{
            float:left;
            padding:10px 0;
            &.active{
              border-bottom:3px solid #fc4a52;
              a{
                color:#fc4a52;
              }
            }
            a{
              float:left;
              width:100px;
              font-size:16px;
              color:#808080;
              text-align:center;
            }
          }
        }
        .data-list{
          table>thead>tr>th{
            font-size:16px;
            color:#4c4c4c;
          }
          table>tbody>tr>td{
            font-size:14px;
            color:#808080;
          }
        }
      }
      .pagination{
        float:left;
        width:100%;
        span{
          font-size:16px;
          &.count{
            color:#4c4c4c;
          }
        }
      }
    }
    .container-ad{
      float:left;
      width:100%;
      height:80px;
      background:url("../images/bottom-img.jpg") no-repeat center;
    }
  }
}






