.main-frame{
  width:100%;
  margin:0;
  .global-member-detail {
    float:left;
    width:100%;
    .wp{
      width:1000px;
      margin:0 auto;
      position: relative;
      @media (max-width:999px) {
        width:100%;
      }
      &.detail-model{
        background:#fff;
        margin-top:20px;
        margin-bottom:20px;
      }
      .container-detail{
        float:left;
        width:940px;
        margin:0 30px;
        @media (min-width:701px) and (max-width:999px) {
          width:100%;
          margin:0;
        }
        .detail-top{
          float:left;
          width:100%;
          color:#808080;
          font-size:16px;
          margin-top:10px;
          margin-bottom:20px;
          a{
            color:#808080;
          }
          span{
            color:#fc4a52;
          }
        }
        .detail-info{
          float:left;
          width:100%;
          .detail-left{
            float:left;
            width:300px;
            height:244px;
            margin:60px 120px 100px 60px;
            @media (min-width:701px) and (max-width:999px) {
              width:40%;
              margin:0;
            }
            p{
              margin-bottom:0;
              &.mater-img{
                &.coupon-bg{
                  width: 220px;
                  height: 70px;
                  padding: 87px 40px;
                  background:url("../images/coupon-bg.png") no-repeat center;
                  background-size:100%;
                  span{
                    float:left;
                    width:100%;
                    font-size:20px;
                    color:#fc933c;
                    line-height:30px;
                    text-align:center;
                    i{
                      font-size:40px;
                      color:#fc8d32;
                    }
                  }
                }
                &.bag-bg{
                  width: 220px;
                  height: 140px;
                  padding: 52px 40px;
                  background:url("../images/bag-bg.png") no-repeat center;
                  background-size:100%;
                  span{
                    float:left;
                    width:100%;
                    font-size:20px;
                    color:#fff;
                    line-height:30px;
                    text-align:center;
                    i{
                      font-size:30px;
                    }
                  }
                }
                &.jia-bg {
                  width: 220px;
                  height: 70px;
                  padding: 87px 40px;
                  background: url("../images/jia-bg.png") no-repeat center;
                  background-size:100%;
                  span {
                    float: left;
                    width: 100%;
                    font-size: 20px;
                    color: #ff7a78;
                    line-height: 30px;
                    text-align: center;
                    i {
                      font-size: 40px;
                      color: #ff7a78;
                    }
                  }
                  &.picture-item {
                    width: 300px;
                    height: 244px;
                  }
                }
              }
            }
          }
          .detail-right{
            float:left;
            width:460px;
            @media (min-width:701px) and (max-width:999px) {
              width:60%;
              margin:0;
            }
            h3{
              float:left;
              width:100%;
              font-size:26px;
              color:#4c4c4c;
            }
            .info-text{
              float:left;
              width:100%;
              .tip {
                color: red;
                display: inline-block;
                padding-left:15px;
                padding-top: 17px;
              }
              &.mt-price{
                margin:20px 0;
                padding-bottom:20px;
                border-bottom:1px solid #e6e6e6;
              }
              &.mt-20{
                margin-top:20px;
              }
              .info-name{
                float:left;
                width:80px;
                font-size:16px;
                color:#999999;
              }
              .info-content{
                float:left;
                width:360px;
                p{
                  font-size:16px;
                  color:#999;
                  margin-bottom:0;
                }
                .price-text{
                  float:left;
                  width:100%;
                  font-size:16px;
                  color:#4c4c4c;
                  line-height:30px;
                  span{
                    font-size:23px;
                    color:#fc4a52;
                    &.old-price{
                      font-size:14px;
                      color:#999;
                      text-decoration:line-through;
                    }
                    &.point-unit{
                      font-size:16px;
                      color:#999;
                    }
                  }
                }
                .count-list{
                  float:left;
                  width:100%;
                  span{
                    float:left;
                    &.count-btn{
                      width:26px;
                      height:24px;
                      font-size:22px;
                      text-align:center;
                      line-height:24px;
                      cursor:pointer;
                      border:1px solid #d1d6de;
                      &:active{
                        background:#ccc;
                      }
                    }
                    &.total-num{
                      margin-left:20px;
                      font-size:14px;
                      color:#4c4c4c;
                      i{
                        color:#fc4a52;
                      }
                    }
                  }
                  .num-text{
                    float:left;
                    width: 50px;
                    height: 24px;
                    line-height: 25px;
                    text-align: center;
                    padding: 0;
                    border: none;
                    border-top: 1px solid #d1d1d1;
                    border-bottom: 1px solid #d1d1d1;
                  }
                }
              }
              .tip-text{
                color:#fc4a52;
                font-size:14px;
                font-weight: bold;
              }
              .get-btn{
                float:left;
                width:160px;
                height:40px;
                color:#fff;
                font-size:16px;
                text-align:center;
                border:none;
                border-radius: 0;
                cursor:pointer;
                background:#fc4a52;
                padding: 0;
                line-height: 40px;
                &.disabled {
                  background: #ccc;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }
    .container-ad{
      float:left;
      width:100%;
      height:80px;
      background:url("../images/bottom-img.jpg") no-repeat center;
    }
  }
}






