@charset "UTF-8";

body {
    font-size: 14px;
    background: #f5f5f5;
}

.main-layout {
    display: block;
    text-align: center;

    background: #fff;
    margin: 2rem 1rem;
}

.img {
    width: 85%;
    margin: 1rem auto;
}

.info-title {
    font-size: 1.5rem;
    color: #2e3033;
    padding: 1.5rem 0;
    font-weight: normal;
    border-bottom: 1px solid #e6e6e6;
}

.info-title i {
    width: 30px;
    height: 30px;
    background: url('../images/icon-ok.png') left center no-repeat;
    display: inline-block;
    background-size: 100%;
    margin-right: 10px;
    vertical-align: middle;
}
.info-detail {
    padding: 2rem 1.5em;
    font-size: 1rem;
    line-height: 2.8rem;
    height: auto;
    overflow: auto;
    color: #8a8f99;
}
.info-detail li {
    height: auto;
    overflow: auto;
}
.info-detail .col-info {
    float: right;
    text-align: right;
    color: #2e3033;
}
.info-detail .col-info.text-card {
    float: right;
    width:100%;
    text-align: center;
    color: #2e3033;
}
.info-detail .title {
    display: block;
    text-align: left;
    float: left;
}
.btn-success {
    margin: 2rem;
    font-size: 1.2rem;
    padding: 3%;
    color: #fff;
    background: #ff5400;
    text-decoration: none;
    display: block;
    text-align: center;
    letter-spacing: 5px;
}
.btn-disabled {
    margin: 2rem;
    font-size: 1.2rem;
    padding: 3%;
    color: #333;
    background: #ccc;
    text-decoration: none;
    display: block;
    text-align: center;
    letter-spacing: 5px;
}


