$CK1:#ffac2a;
//Account Overview
.account-overview {
  padding: 0 !important;
  .new-user-award {
    background: #fff1e5;
    margin-top: 10px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #ff7200;
    border-radius: 2px;
    span {
      background: #ff0000;
      color: #fff;
      padding: 3px 8px;
      border-radius: 10px;
      margin: 0 10px;
    }
  }
  .sign-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 999;
    display: none;
    .sign-layer-list {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -208px;
      margin-left: -230px;
      width: 460px;
      height: 416px;
      border-radius: 5px;
      overflow: hidden;
      background: url("/images/myaccount/sign-bg.png") no-repeat;
      .sign-top {
        float: left;
        width: 100%;
        min-height: 250px;
        padding-top: 75px;
        text-align:center;
        position: relative;
        .close-btn {
          position: absolute;
          top: 15px;
          right: 15px;
          width: 24px;
          height: 24px;
          background: url("/images/myaccount/bean-bg.png") no-repeat;
          background-size: 100%;
          cursor: pointer;
        }
        .sign-text{
          display:inline-block;
          width:100%;
          height:60px;
          line-height:60px;
          margin-top:20px;
          font-size:36px;
          color:#fff;
          text-align:center;
        }
        .sign-content{
          display:inline-block;
          width:400px;
          height:260px;
          background:#fffdee;
          border-bottom-left-radius:15px;
          border-bottom-right-radius:15px;
          p {
            color: #9a3528;
            text-align: center;
            margin-bottom: 0;
            &.sign-point {
              margin-top: 10px;
              font-size: 20px;
              span{
                font-size:36px;
              }
            }
            &.tomorrow-text {
              margin-bottom:20px;
              font-size: 16px;
              border-bottom:1px dashed #9a3528;
            }
            &.intro-text {
              font-size: 14px;
            }
            &.sign-reward{
              margin-top:10px;
              a{
                display: inline-block;
                width: 180px;
                height: 40px;
                line-height: 40px;
                text-align: center;
                font-size: 16px;
                color: #9a3528;
                background: #fceb5e;
                border-radius: 40px;
                box-shadow: 0 4px 0 #eeb33d;
                position: relative;
                &:hover {
                  top: 2px;
                  box-shadow: 0 2px 0 #eeb33d;
                }
              }
            }
          }
        }
      }
    }
  }
  .error-tip{
    float:left;
    width:300px;
    padding:20px 0;
    text-align:center;
    display:none;
    h3{
      font-size:20px;
      text-align:center;
      color:#ff9c1b;
      background: url("/images/myaccount/error-tip.png") no-repeat 30% 50%;
    }
    p{
      font-size: 14px;
      color: #4c4c4c;
      padding: 0 20px;
    }
    .go-to{
      display:inline-block;
      width:160px;
      height:40px;
      color:#fff;
      font-size:16px;
      background:#178fe6;
      line-height: 40px;
      text-decoration: none;
    }
  }
  &.content-container {
    border: 0;
    border-radius: 0;
    background: none;
  }
  .birth-icon {
    float: left;
    width: 20px;
    height: 20px;
    background: url(/images/sign/birthday.png) no-repeat center;
    background-size: 15px;
    left: 50px;
    position: relative;
  }

  .accountImg {
    margin-right: 10px;
    width: 71px;
    height: 71px;
  }
  .proList {
    margin-top: 4px;

    li {
      a {
        display: block;
      }
      &.fl {
        font-size: 20px;
        line-height: 0;
        margin-top: 14px;
        margin-right: 3px;

        a {
          display: block;
        }
        &.sign-top {
          margin-top: 5px !important;
          padding: 5px 0;
          background: #ff7200;
          color: #fff;
          border-radius: 0px;
          width: 80px;
          height: 20px;
          line-height: 20px;
          text-align: center;

          &.no-click {
            background: #ccc;
          }
          span {
            float: left;
            text-align: center;
            line-height: 20px;
            font-size: 14px;

            &.will-sign {
              float: left;
              width: 60px;
              text-align: center;
              line-height: 20px;
              background: url("/images/sign/icon-sign.png") no-repeat left;
              background-position: 15px 2px;
              padding-left: 20px;
              font-size: 14px;
              cursor: pointer;
            }
            &.finish-sign {
              width: 100%;
              cursor: no-drop;
            }
          }
        }
        &.beans-number {
          margin-top: 18px !important;
          margin-left: 25px !important;
          font-size: 14px !important;
          color: #4c4c4c;
          line-height: 14px !important;
        }
        &.fl {
          font-size: 20px;
          line-height: 0;
          margin-top: 14px;
          margin-right: 3px;

          a {
            color: $CK1;
            cursor: pointer;

            &.fa-mobile {
              font-size: 24px;
              margin-top: -3px;
            }
            &.fa-envelope-o {
              color: #666;
            }
          }
          &.fa-mobile {
            font-size: 24px;
            margin-top: -3px;
          }
          &.fa-envelope-o {
            color: #666;
          }
        }
      }
      .btn-primary, .btn-normal {
        margin-left: 10px;
        padding: 8px 20px;
      }
    }
  }
  .vip {
    display: inline-block;
    width: 38px;
    height: 14px;
    vertical-align: middle;
    &.vip0 {
      background: url("/images/icons/vip/account-vip/v0.png") no-repeat;
    }
    &.vip1 {
      background: url("/images/icons/vip/account-vip/v1.png") no-repeat;
    }
    &.vip2 {
      background: url("/images/icons/vip/account-vip/v2.png") no-repeat;
    }
    &.vip3 {
      background: url("/images/icons/vip/account-vip/v3.png") no-repeat;
    }
    &.vip4 {
      background: url("/images/icons/vip/account-vip/v4.png") no-repeat;
    }
    &.vip5 {
      background: url("/images/icons/vip/account-vip/v5.png") no-repeat;
    }
  }
  .user-info {
    display: inline-block;
    width: 20px;
    height: 14px;
    vertical-align: middle;
    background: url("/images/icons/vip/account-vip/user-info.png") no-repeat;
  }

  .newProjects {
    &.bRadiusBox {
      padding: 0;
      border-bottom-width: 0px;

      caption {
        border-width: 0px;
        font-size: 16px;
        padding-left: 15px;

        .fr {
          font-size: 13px;
          padding-top: 5px;
        }
      }
    }
    .birth-icon {
      float: left;
      width: 20px;
      height: 20px;
      background: url(/images/sign/birthday.png) no-repeat center;
      background-size: 15px;
      left: 50px;
      position: relative;
    }
    .trade-detail {
      width: 170px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .LastMonth, .tMonthPayment {
    table {
      border: 1px solid $CK1;

      caption {
        border-color: $CK1;
        color: $CK1;
      }
      tr:nth-last-child(1) > td {
        border-bottom-width: 0;
      }
    }
  }
  .tMonthPayment {
    table {
      tr:nth-last-child(1) > td {
        border-bottom-width: 0;
      }
      tfoot tr td {
        border-top: 1px solid $CK1;
        border-bottom: 1px solid $CK1;
      }
    }
  }
  .assets-box {
    overflow: hidden;
    box-sizing: border-box;

    .assets-report {
      width: 39%;
      height: 142px;

      h3 {
        line-height: 15px;
        padding-bottom: 10px;
      }
    }
    .assets-detail {
      height: 142px;
      width: 53%;

      .detail-list {
        margin-top: 5px;

        li {
          float: left;
          width: 50%;
          box-sizing: border-box;
          padding-left: 20px;

          b {
            font-weight: normal;
          }
          span {
            display: inline-block;
            padding-left: 20px;
            color: $CK1;
            padding-right: 3px;
          }
        }
      }
    }
  }
  .PaymentSwitch {
    li {
      float: left;
      font-size: 16px;
      margin-right: 18px;
      margin-bottom: 10px;

      a {
        color: #000;
      }
      &.current a {
        color: $CK1;
      }
    }
  }
}