//msg tip
.layui-layer.msg-tip-box {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.5);
  border-width: 0;
  .layer-msg-tip {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    display: block;
    text-align: center;
    i {
      display: inline-block;
      width: 45px;
      height: 45px;
      background: url('/images/myaccount/an-ic-ok.png') left 5px no-repeat;
      vertical-align: middle;
    }
  }
}

.info-list {
  color: #797979;
  line-height: 38px;
  em.info {
    display: inline-block;
  }
  .fa {
    font-size: 16px;
    padding-right: 5px;
  }
  .info-title {
    font-weight: bold;
    display: inline-block;
    width: 70px;
    text-align: right;
    margin-right: 20px;
    color: #000;
  }
  .binding-set {
    display: inline-block;
    width: 140px;
    float: right;

    .ok {
      color: #2ac30c;
    }
    .no {
      color: #ff1010;
    }
    a.setlink {
      color: #ffac2a;
      padding-left: 10px;
    }
  }
}