<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
		   http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		   http://www.springframework.org/schema/security
		   http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <beans:bean id="myAccessDeniedHandler" class="com.tuotiansudai.spring.MyAccessDeniedHandler">
        <beans:property name="errorPage" value="/error/404"/>
        <beans:property name="accessDeniedExceptionRedirect">
            <beans:map>
                <beans:entry key="org.springframework.security.web.csrf.MissingCsrfTokenException" value="${web.server}/login"/>
            </beans:map>
        </beans:property>
    </beans:bean>

    <beans:bean id="webExpressionVoter" class="org.springframework.security.web.access.expression.WebExpressionVoter"/>

    <beans:bean id="affirmativeBased" class="com.tuotiansudai.spring.MyAffirmativeBased">
        <beans:constructor-arg ref="webExpressionVoter"/>
    </beans:bean>

    <beans:bean id="myLoginUrlAuthenticationEntryPoint" class="com.tuotiansudai.spring.MyLoginUrlAuthenticationEntryPoint">
        <beans:constructor-arg name="loginFormUrl" value="${web.server}/login"/>
    </beans:bean>

    <http auto-config="true" use-expressions="true" entry-point-ref="myLoginUrlAuthenticationEntryPoint">
        <access-denied-handler ref="myAccessDeniedHandler"/>
        <form-login login-page="${web.server}/login" />


        <!--DO NOT MODIFY THE BELLOW CONFIG ANYTIME!-->
        <intercept-url pattern="/point//style/**" access="permitAll()"/>
        <intercept-url pattern="/point/images/**" access="permitAll()"/>
        <intercept-url pattern="/point//js/**" access="permitAll()"/>
        <intercept-url pattern="/tpl/**" access="permitAll()"/>
        <intercept-url pattern="/upload/**" access="permitAll()"/>
        <intercept-url pattern="/robots.txt" access="permitAll()"/>

        <!--menus-->
        <intercept-url pattern="/point-shop/order/**" access="hasAnyAuthority('INVESTOR', 'LOANER')"/>
        <intercept-url pattern="/point-shop/task/**" access="hasAnyAuthority('INVESTOR', 'LOANER')"/>
        <intercept-url pattern="/point-shop/bill/**" access="hasAnyAuthority('INVESTOR', 'LOANER')"/>

        <intercept-url pattern="/point-shop/**" access="permitAll()"/>

        <csrf request-matcher-ref="csrfSecurityRequestMatcher"/>
    </http>

    <beans:bean id="csrfSecurityRequestMatcher" class="com.tuotiansudai.spring.CsrfSecurityRequestMatcher">
        <beans:property name="excludedUrls">
            <beans:list>
                <beans:value>/point-shop/point-index</beans:value>
            </beans:list>
        </beans:property>
    </beans:bean>

</beans:beans>