.main-frame {
  width: 1000px;
  height: auto;
  margin: 20px auto; }

.help-center-container {
  padding-bottom: 40px; }
  .help-center-container .picture-group {
    float: left;
    width: 100%;
    height: 260px; }
  .help-center-container .model-group {
    float: left;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    background: #fff;
    border: 1px solid #e6e6e6;
    box-sizing: border-box; }
    .help-center-container .model-group h3 {
      float: left;
      width: 100%;
      font-size: 22px;
      color: #4e4e4e;
      border-bottom: 1px solid #e6e6e6; }
    .help-center-container .model-group .problem-list-item {
      float: left;
      width: 100%;
      padding: 10px 0; }
      .help-center-container .model-group .problem-list-item li {
        float: left;
        width: 33.333333%;
        height: 40px;
        line-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
        .help-center-container .model-group .problem-list-item li a {
          color: #808080;
          font-size: 13px; }
          .help-center-container .model-group .problem-list-item li a:hover {
            color: #ff9000;
            -webkit-transition: all .2s;
            -moz-transition: all .2s;
            transition: all .2s; }
    .help-center-container .model-group .model-list-item {
      float: left;
      width: 100%;
      padding: 20px 0 0; }
      .help-center-container .model-group .model-list-item li {
        float: left;
        width: 20%;
        padding: 20px 0;
        text-align: center;
        box-sizing: border-box;
        border: 1px solid transparent; }
        .help-center-container .model-group .model-list-item li:hover {
          box-sizing: border-box;
          border: 1px solid #e6e6e6;
          box-shadow: 0 0 15px 2px #e6e6e6;
          -webkit-transition: all .5s ease;
          -moz-transition: all .5s ease;
          transition: all .5s ease; }
        .help-center-container .model-group .model-list-item li a {
          display: inline-block; }
          .help-center-container .model-group .model-list-item li a .icon {
            display: inline-block;
            width: 100px;
            height: 100px;
            background: url("/images/helpcenter/model-list.png") no-repeat; }
            .help-center-container .model-group .model-list-item li a .icon.icon-account {
              background-position: 0px 0px;
              background-size: 100%; }
            .help-center-container .model-group .model-list-item li a .icon.icon-user {
              background-position: 0px -110px;
              background-size: 100%; }
            .help-center-container .model-group .model-list-item li a .icon.icon-money {
              background-position: 0px -220px;
              background-size: 100%; }
            .help-center-container .model-group .model-list-item li a .icon.icon-product {
              background-position: 0px -330px;
              background-size: 100%; }
            .help-center-container .model-group .model-list-item li a .icon.icon-other {
              background-position: 0px -440px;
              background-size: 100%; }
          .help-center-container .model-group .model-list-item li a p {
            font-size: 16px;
            color: #4e4e4e; }
    .help-center-container .model-group .contact-list-item {
      float: left;
      width: 100%;
      text-align: center;
      padding: 20px 0 0; }
      .help-center-container .model-group .contact-list-item li {
        display: inline-block;
        width: 240px;
        padding: 25px 0;
        box-sizing: border-box;
        border: 1px solid transparent; }
        .help-center-container .model-group .contact-list-item li:hover {
          box-sizing: border-box;
          border: 1px solid #e6e6e6;
          box-shadow: 0 0 15px 2px #e6e6e6;
          -webkit-transition: all .5s ease;
          -moz-transition: all .5s ease;
          transition: all .5s ease; }
        .help-center-container .model-group .contact-list-item li .icon {
          display: inline-block;
          width: 45px;
          height: 45px;
          margin: 0 5px 0 15px; }
          .help-center-container .model-group .contact-list-item li .icon.icon-phone {
            background: url("/images/helpcenter/icon-phone.png") no-repeat center; }
        .help-center-container .model-group .contact-list-item li p {
          display: inline-block;
          width: 160px;
          text-align: left;
          margin-bottom: 0; }
          .help-center-container .model-group .contact-list-item li p span {
            float: left;
            width: 100%;
            line-height: 25px; }
            .help-center-container .model-group .contact-list-item li p span.title-text {
              font-size: 22px;
              color: #666666; }
            .help-center-container .model-group .contact-list-item li p span.time-text {
              font-size: 13px;
              color: #808080; }

.help-center-group {
  background: #fff;
  padding: 10px 30px 30px 40px;
  overflow: hidden;
  min-height: 400px;
  margin-bottom: 20px; }
  .help-center-group h3 {
    line-height: 50px; }
    .help-center-group h3 a {
      font-size: 16px;
      color: #4c4c4c; }
      .help-center-group h3 a:hover {
        color: #ff7200; }
  .help-center-group .problem-list-group {
    float: left;
    width: 100%;
    border: 1px solid #e6e6e6; }
    .help-center-group .problem-list-group .problem-title-item {
      float: left;
      width: 100%;
      border-bottom: 1px solid #e6e6e6; }
      .help-center-group .problem-list-group .problem-title-item span {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        color: #4e4e4e;
        padding: 0 20px;
        text-align: center;
        cursor: pointer; }
        .help-center-group .problem-list-group .problem-title-item span.active {
          color: #ff7200; }
    .help-center-group .problem-list-group .problem-content-item {
      float: left;
      width: 100%;
      padding: 20px;
      box-sizing: border-box; }
      .help-center-group .problem-list-group .problem-content-item .list-group {
        float: left;
        width: 100%;
        display: none; }
        .help-center-group .problem-list-group .problem-content-item .list-group.active {
          display: block; }
        .help-center-group .problem-list-group .problem-content-item .list-group .problem-single-item {
          float: left;
          width: 100%;
          background: #fcfcfc;
          position: relative;
          padding: 10px;
          box-sizing: border-box;
          margin-bottom: 10px;
          border: 1px solid #fff; }
          .help-center-group .problem-list-group .problem-content-item .list-group .problem-single-item:hover {
            background: #ebeff5; }
          .help-center-group .problem-list-group .problem-content-item .list-group .problem-single-item.active {
            border: 1px solid #e6e6e6; }
            .help-center-group .problem-list-group .problem-content-item .list-group .problem-single-item.active:hover {
              background: #fcfcfc; }
            .help-center-group .problem-list-group .problem-content-item .list-group .problem-single-item.active p.single-answer {
              display: block; }
          .help-center-group .problem-list-group .problem-content-item .list-group .problem-single-item .fa {
            position: absolute;
            top: 5px;
            right: 10px;
            font-size: 30px;
            color: #b2b2b2; }
          .help-center-group .problem-list-group .problem-content-item .list-group .problem-single-item p {
            font-size: 13px;
            margin-bottom: 0; }
            .help-center-group .problem-list-group .problem-content-item .list-group .problem-single-item p.single-title {
              color: #666; }
            .help-center-group .problem-list-group .problem-content-item .list-group .problem-single-item p.single-answer {
              color: #999;
              display: none; }

/*# sourceMappingURL=help_center.css.map */
