@mixin border-color ($color) {
  border:1px solid $color;
}
.pop-window {
  text-align: center;
  padding:30px 10px;
}
.banner-box {
  background: red url("../images/ask_banner.jpg") no-repeat;
  height:140px;
  a {
    display: block;
    height:100%;
  }
}
.main-frame-ask {
  @media (min-width:701px) and (max-width:999px) {
    width:100%;
  }
  .btn-main {
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
    padding: 8px 22px;
    margin-bottom: 0;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.3;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    color: #fff;
    background: #ff7200;

  }
  .btn {
    padding: 8px 22px;
    font-size: 18px;
    background: #ff9d1a;
    border:0;
    color: #fff;
    letter-spacing: 1px;
    &[disabled], &[disabled]:hover {
      background: #ccc;
      border:0;
    }
  }
  input,textarea,select {
    @include border-color(#e5e5e5);
    width:96%;
    padding: 6px 10px;
    font-size:14px;

  }
  .input-short {
    width:100px;
  }
  .mobile-menu {
    display: none;
  }

  .pagination {
    text-align: center;
    margin-top:20px;
    a {
      display: inline-block;
      background: #fff;
      line-height: 15px;
      padding: 8px 12px;
      margin-left:auto;
      margin-right:auto;
      border:1px solid #e5e5e5;
      &.active {
        background:#ff9700;
        color: #fff;
      }
    }
  }

  .border-ask-box {
    border: 1px solid #e5e5e5;
    padding: 20px;
    height: auto;
    background: #fff;
  }

  .red-color {
    color: red;
  }

  .m-title {
    font-size:18px;
    color:#333333;
    font-weight: bold;
    line-height: 50px;
  }


  .pc-search-box {
    width: 75%;
    margin: 0 auto;
    @media (min-width:700px) and (max-width:999px) {
      width:100%;
    }
    .input-search {
      width: 450px;
      height: 25px;
      vertical-align: middle;

    }
    .btn-search {
      margin-right: 10px;
    }
    .want-question {
      background: #fff;
      border: 1px solid #ccc;
      color: #666;
    }
    .search-result {
      color: #666;
      padding-top: 5px;
      em {
        color: #ff7200;
      }
    }

  }
  .answer-container {
    .ad-answer {
      width:700px;
      height:90px;
      background: url('../images/ad-answer.jpg') 0 0 no-repeat;
      a {
        display: block;
        height:100%;
      }
    }
  }

  .agree-ok,.agree-ok-no {
    @include border-color(#e5e5e5);
    padding: 8px 20px 8px 40px;
    padding-right: 20px!important;
    background: url('../images/zan-n.png') 20px 7px no-repeat;
    color: #808080;
    cursor: pointer;
    &.active {
      background-image: url("../images/zan.png");
      color: #ff7200;
      cursor: default;
    }
  }
  .tag {
    background: #f1f6fa;
    border:1px solid #e5e5e5;
    border-radius: 18px;
    line-height: 15px;
    border-radius: 18px;
    padding: 5px 18px;
    a {
      color: #808080;
    }

  }
  .answers-box {
    height: auto;
    overflow: auto;
    dl.answers-list {
      margin-bottom: 15px;
      margin-top: 10px;
      border-bottom:1px solid #e5e5e5;
      padding-left: 40px;
      padding-right: 40px;
      padding-bottom:20px;
      color: #808080;
      height: auto;
      overflow: auto;

      &:nth-last-child(1) {
        margin-bottom: 0px;
        border-bottom-width: 0;
      }

      dt {
        font-weight: bold;
        font-size:18px;
        color: #333;
      }
      dd {
        //padding-bottom:20px;
        span {
          display: inline-block;
          margin-right:6px;
          line-height: 15px;
          padding-right:10px;
          border-right:1px solid #e5e5e5;
          &.datetime {
            border-right-width: 0;
          }
          &.tag {
            padding: 5px 18px;
          }

        }
        em.tag {
          margin-right:6px;
        }
        &.tag-answer {
          display: block;
          clear: both;
          margin-top:5px;
          margin-bottom: 5px;
        }
        &.answer-button {
          margin-top:15px;
          span {
            background: #f1f6fa;
            border:1px solid #e6e6e6;
            color: #333;
            padding: 5px 10px;
            &.accept {
              background: #ff9d1a;
              border:1px solid #ff9d1a;
              color: #fff;
            }
          }
        }
        &.detail {
          text-overflow: -o-ellipsis-lastline;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          margin-bottom: 10px;
        }
      }
    }
  }

  .download-mobile {
    display: none;
  }
  .hot-question-category { display: none;}
  .date-time-answer {
    color: #808080;
    margin-top: 20px;
  }

  .question-container {
    margin-top:10px;
    .article-content {
      width:700px;
      @media (min-width:700px) and (max-width: 768px) {
        width:60%;
      }
      .switch-menu {
        clear: both;
        height:auto;
        overflow:auto;
        li {
          height:auto;
          overflow:auto;
          display: inline-block;
          float: left;
          background: #fff;
          padding:7px 30px;
          margin-right:10px;
          border:1px solid #e5e5e5;
          border-bottom-width: 0;
          &.active {
            a {
              color: #ff7200;
            }
          }
          .hot {
            color: #ff7200;
          }
        }
      }
      .border-ask-box {
        padding:0;
      }
    }
    .category-title {
      border:1px solid #e5e5e5;
      border-bottom-width: 0;
      padding:5px 40px;
      background: #fff;
      span {
        color: #ff7200;
      }
    }
    .aside-frame {
      width:288px;
      @media (min-width:700px) and (max-width: 768px) {
        width:38%;
        margin-left: 2%;
      }
      .profile-box {
        width:100%;
        height:210px;
        background: #fff;
        position: relative;
        @include border-color(#e5e5e5);
        i {
          position: absolute;
          left:18px;
          top:38px;
          width:92px;
          height:92px;
          background: url('../images/profile.jpg');
        }
        .welcome-info {
          position: absolute;
          top:40px;
          left:130px;
          .username {
            font-size:15px;
            font-weight: bold;
          }
          .new-answer-alert.false {
            display: none;
          }
          .new-answer-adopted-alert.false {
            display: none;
          }
          a {
            color: #ff752a;
            text-decoration: underline;
          }
        }
        .button-layer {
          position: absolute;
          bottom:0;
          width:100%;
          a {
            float: left;
            padding-left:0;
            padding-right:0;
            width:50%;
          }
        }
        .vertical-line {
          position: absolute;
          height: 47px;
          width:1px;
          background: #fff;
          left:50%;
          bottom:0;
        }
      }
      .hot-questions {
        @include border-color(#e5e5e5);
        background: #fff;
        .qa-title {
          font-size: 18px;
          font-weight: bold;
          border-bottom:1px solid #e5e5e5;
          padding: 12px 20px;
        }
        .qa-list {
          padding-bottom:10px;
          li {
            width: 40%;
            float: left;
            margin-left: 6%;
            border: 1px solid #e6e6e6;
            margin-top: 10px;
            text-align: center;
            a {
              display: block;
              padding: 3px 0;
              &.active,&:hover {
                background: #ff9d1a;
                color:#fff;
              }
            }
          }
        }
      }
      .ad-welfare {
        display: inline-block;
        width:290px;
        height:250px;
        background: url('../images/welfare.jpg') no-repeat;
      }
    }

    .to-answer-box {
      background: #f1f6fa;
      @include border-color(#e5e5e5);
      border-top-width:0;
      padding:10px 40px;
      margin-bottom:10px;
      .form-answer-in {
        height: auto;
        overflow: auto;
        margin-bottom: 10px;
        span.isAnonymous {
          @include border-color(#e5e5e5);
          width:96%;
          padding: 6px 10px;
          font-size:14px;
          display: inline-block;
          background: #fff;
          margin-bottom:20px;
          color: #999;

          &.text-area {
            height:50px;
            a {
              color: #ff752a;
            }
          }
          &.captcha {
            width:100px;
            padding: 3px 6px;
          }
        }
        .is-nologn-btn {
          background: #ccc;
          cursor: default;
        }
        .text-area-error {
          margin-top:-11px;
        }
        i.error {
          visibility: visible;
          display: block;
        }
        .captcha {
          width:85px;
        }
      }
    }
    .best-answer {
      position: relative;
      padding-top: 15px!important;
      .answers-box dl.answers-list {
        color: #333333;
      }
      .best-answer-sign {
        width: 70px;
        height: 70px;
        background: url('../images/best-answer.png') no-repeat;
        position: absolute;
        bottom: 35px;
        right:190px;
      }
      .date-time-answer {
        margin-bottom: 40px;
      }
    }
    .other-title {
      padding:10px 10px 10px 40px;
      color: #666;
      border-bottom:1px solid #e5e5e5;
    }
  }

  .ask-question-box {
    @include border-color(#e5e5e5);
    background: #fff;
    padding-bottom: 30px;
    .m-title {
      padding-left:40px;
      border-bottom:1px solid #e5e5e5;
    }
    .ask-question-con {
      padding-top:10px;
      color: #666666;
      span.isAnonymous {
        @include border-color(#e5e5e5);
        width:96%;
        padding: 6px 10px;
        font-size:14px;
        display: inline-block;
        &.ask-con {
          a {
            color: #ff752a;
          }
        }
        &.addition {
          height:50px;
        }
        &.captcha {
          width:100px;

        }
      }
      textarea {
        height:100px;
      }
      dl.ask-question-list {
        dt {
          line-height: 40px;
          margin-left: 40px;
          margin-right: 40px;
        }
        dd {
          margin-left: 40px;
          margin-right: 40px;
          line-height: 20px;
          &.dd-captcha {
            margin-left:0;
            padding-left:40px;
            padding-top:20px;
            border-top:1px solid #e5e5e5;
          }
          &.tag-list {
            padding-top:20px;
            label,span {
              margin-right: 32px;
              margin-bottom: 18px;
              display: inline-block;
              padding: 5px 0;
              width: 65px;
              text-align: center;
              cursor: pointer;
              &.checked {
                background: #ff9d1a;
                border:1px solid #ff9d1a;
                color: #fff;
              }
            }
            span {
              cursor: default;
            }
            input.tag:checked + label {
              background: #ff9d1a;
              border:1px solid #ff9d1a;
              color: #fff;
            }
            //.tag-category {
            //  display: block;
            //}
          }
        }
      }
    }
    .ask-button {
      span {
        background: #ccc;
      }
      margin-top:40px;
      .btn {
        padding: 5px 32px;
      }
    }
  }

  .popWindow-overlay {
    background: rgba(0,0,0,0.2);
    width:100%;
    height:100%;
    position: absolute;
    left: 0;
    top:0;
  }
  .popWindow {
    position:absolute;
    border:1px solid #ccc;
    background:#fff;
    border-radius:0px;
    padding:5px;
    box-shadow:2px 2px 5px rgba(0,0,0,0.1), -2px -2px 5px rgba(0,0,0,0.1);

    .pop-title {
      height:35px;
      line-height: 35px;
      background:#f2f2f2;
      padding-left:10px;
      em.close {
        float: right;
        margin-top: 5px;
        margin-right: 8px;
        width: 20px;
        height: 20px;
        display: block;
        cursor: pointer;
        background: url("../../public/images/close-btn.png") no-repeat center center;
      }
    }
    p {
      padding:20px;
      padding-bottom:0px;
      text-align: center;
      .to-login {
        clear: both;
        margin-top: 20px;
      }
    }
  }
}


@media screen and (max-width: 700px) {

  body { line-height: 25px;}
  .banner-box {
    display: none;
  }
  .main-frame-ask {
    .btn {
      font-size:13px;
    }
    .border-ask-box {
      border-left-width: 0;
      border-right-width: 0;
    }
    .answers-box dl.answers-list {
      padding-left: 15px;
      padding-right: 5px;
      margin-bottom: 0;
      padding-bottom: 10px;
      dt ,dd{
        font-size:13px;
      }
      dd.answer-button {
        margin-bottom:10px;
      }
    }
    .page-width,.main-frame { width:100%; }
    .main-frame {
      margin-bottom:20px;
    }

    .pc-search-box {
      display: none;
    }
    .mobile-menu {
      display: block;
      .my-question,.my-answer {
        display: inline-block;
      }
      .btn-main {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        font-size: 15px;
        white-space: pre-wrap;
        padding: 8px 8px 8px 12px;
        margin-left: 15px;
        margin-right: 15px;

        &.my-question {
          background: #ff9700;
        }
        &.my-answer {
          background: #00c961;
        }
      }
    }
    .question-container {
      .article-content {
        width:100%;
        .switch-menu {
          li {
            width: 32%;
            margin-right: 1%;
            padding-left:0;
            padding-right:0;
            text-align: center;
            box-sizing:border-box;
            &:nth-child(1) {
              border-left-width: 0;
            }
          }
        }
        .answers-list {
          dd.detail,.answerNum,.tag {
            display: none;
          }

        }
      }
    }
    .aside-frame {
      display: none;
    }
    .download-mobile {
      display: block;
      height:110px;
      background: url("../images/downloadApp.jpg") no-repeat center center;
      background-size: cover;
      a {
        display: block;
        height: 100%;
      }
    }
    .download-mobile img {
      width:100%;
    }
    .hot-question-category {
      margin-top:10px;
      background: #fff;
      display: block;
      .m-title {
        border:1px solid #e5e5e5;
        border-left-width: 0;
        border-right-width: 0;
        padding-left:15px;
        color:#686868;
        line-height: 50px;
        cursor: pointer;
        i {
          width: 28px;
          height: 30px;
          display: inline-block;
          background: url("../../public/images/arrow-bo.png") no-repeat left center;
          float: right;
          margin-right:10px;
          background-size: 80%;
          margin-top:7px;
        }
      }
      .qa-list {
        li {
          width: 20%;
          float: left;
          margin-left: 3%;
          border: 1px solid #e6e6e6;
          margin-top: 10px;
          text-align: center;
          a {
            display: block;
            padding: 3px 0;
            &.active,&:hover {
              background: #ff9d1a;
              color:#fff;
            }
          }
        }
      }
    }
    .answer-container {

      .answers-box dl.answers-list {
        padding-left: 15px;
        padding-right: 5px;
        padding-bottom:5px;
        dd {
          color: #999;
          span.agree-ok {
            border:0;
            padding: 8px 0px 8px 40px;
            margin-right:0;
            padding-right: 0px!important;
            cursor: pointer;
          }
        }
        .tag {
          display: inline-block;
          padding: 4px 8px;
          margin-right: 5px;
        }
        .answer-button {
          .btn {
            font-size:14px;
          }
        }
      }
      .answerNum {
        display: none;
      }
      .best-answer {
        .best-answer-sign {
          background-size: 76%;
          right: 68px;
          bottom: 10px;
          width: 40px;
          height: 40px;
        }
      }
      .date-time-answer {
        margin-bottom: 10px!important;
        margin-top:0;
      }
    }
    .question-container {
      .category-title,.other-title {
        padding-left:15px;
        font-size:15px;
      }
      .to-answer-box {
        padding:10px 15px;
        border-left-width: 0;
        border-right-width: 0;
      }
    }

    .answer-container .ad-answer {
      display: none;
    }
    .ask-question-box {
      .m-title {
        padding-left:15px;
      }
      .ask-question-con dl.ask-question-list {

        dt,dd {
          margin: 0px 15px;
        }
        dd {
          &.tag-list span {
            width: 20%;
            margin-right: 2%;
          }
          &.dd-captcha {
            padding-left: 15px;
          }
          &.ask-button {
            margin-top: 20px;
            .btn {
              padding:8px 35px;
              font-size:14px;
            }
          }
        }

      }
    }
  }

}

