<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.activity.repository.autumn.mapper.AutumnMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache"/>

    <resultMap id="referrerRelationResultMap" type="com.tuotiansudai.activity.repository.autumn.model.AutumnReferrerRelationView">
        <result column="referrer_login_name" property="referrerLoginName"/>
        <result column="login_name" property="loginName"/>
        <result column="level" property="level"/>
    </resultMap>

    <select id="findByLoginNameAndLevel" parameterType="map" resultMap="referrerRelationResultMap">
        select * from referrer_relation where login_name = #{loginName} and level = #{level}
    </select>

    <select id="findByReferrerLoginNameAndLevelAndRegisterTime" parameterType="map" resultMap="referrerRelationResultMap">
        select rr.* from referrer_relation rr
        INNER JOIN user u on rr.login_name = u.login_name
        where referrer_login_name = #{referrerLoginName}
        and u.register_time BETWEEN  #{startTime} AND #{endTime}
    </select>

</mapper>