<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.activity.repository.mapper.UserLotteryPrizeMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache" />

    <resultMap id="userLotteryPrizeModel" type="com.tuotiansudai.activity.repository.model.UserLotteryPrizeModel">
        <id column="id" property="id"></id>
        <result column="mobile" property="mobile"></result>
        <result column="login_name" property="loginName"></result>
        <result column="user_name" property="userName"></result>
        <result column="prize" property="prize"></result>
        <result column="lottery_time" property="lotteryTime"></result>
        <result column="prize_type" property="prizeType"></result>
    </resultMap>

    <resultMap id="userLotteryPrizeView" type="com.tuotiansudai.activity.repository.model.UserLotteryPrizeView">
        <result column="mobile" property="mobile"></result>
        <result column="user_name" property="userName"></result>
        <result column="prize" property="prize"></result>
        <result column="lottery_time" property="lotteryTime"></result>
    </resultMap>

    <insert id="create" parameterType="userLotteryPrizeModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `edxactivity`.`user_lottery_prize`(`id`,`mobile`,`login_name`,`user_name`,`prize`,`lottery_time`,`prize_type`)
        VALUES(#{id},#{mobile},#{loginName},#{userName},#{prize},#{lotteryTime},#{prizeType});

    </insert>

    <update id="update" parameterType="userLotteryPrizeModel">
        UPDATE `edxactivity`.`user_lottery_prize`
        SET
        `id` = #{id},
        `mobile` = #{mobile},
        `login_name` = #{login_name},
        `user_name` = #{user_name},
        `prize` = #{prize},
        `lottery_time` = #{lotteryTime},
        `prize_type` = #{prizeType}
        WHERE `id` = #{id}
    </update>

    <select id="findUserLotteryPrizeViews" parameterType="map" resultMap="userLotteryPrizeView">
        select p.lottery_time,p.mobile,p.user_name,p.prize from `edxactivity`.`user_lottery_prize` p
        <where>
            <if test="mobile !=null and mobile !='' ">
                and p.mobile like '${mobile}%'
            </if>
            <if test="lotteryPrize !=null and lotteryPrize.description !='' ">
                and p.prize like '${lotteryPrize}%'
            </if>
            <if test="startTime != null">
                and p.lottery_time >= #{startTime}
            </if>
            <if test="endTime != null">
                <![CDATA[ and p.lottery_time <= #{endTime} ]]>
            </if>
            <if test="prizeType != null">
                and prize_type = #{prizeType}
            </if>
        </where>
        order by p.lottery_time DESC
        limit #{index}, #{pageSize}
    </select>

    <select id="findUserLotteryPrizeCountViews" parameterType="map" resultType="int">
        select count(1) from `edxactivity`.`user_lottery_prize` p
        <where>
            <if test="mobile !=null and mobile !='' ">
                and p.mobile like '${mobile}%'
            </if>
            <if test="lotteryPrize !=null and lotteryPrize.description !='' ">
                and p.prize like '${lotteryPrize}%'
            </if>
            <if test="startTime != null">
                and p.lottery_time >= #{startTime}
            </if>
            <if test="endTime != null">
                <![CDATA[ and p.lottery_time <= #{endTime} ]]>
            </if>
            <if test="prizeType != null">
                and prize_type = #{prizeType}
            </if>
        </where>
    </select>

    <select id="findLotteryPrizeByMobileAndPrize" parameterType="map" resultMap="userLotteryPrizeView">
        select lottery_time,mobile,prize from `edxactivity`.`user_lottery_prize`
        <where>
            <if test="mobile !=null and mobile !='' ">
                and mobile = '${mobile}'
            </if>

            <if test="lotteryPrizes != null ">
                and prize NOT IN
                <foreach collection="lotteryPrizes" item="prize" open="(" separator="," close=")">
                    #{prize}
                </foreach>
            </if>

            <if test="prizeType != null">
                and prize_type = #{prizeType}
            </if>
        </where>
        order by lottery_time DESC
    </select>

</mapper>