<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.activity.repository.mapper.UserLotteryTimeMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache" />

    <resultMap id="userLotteryTimeView" type="com.tuotiansudai.activity.repository.model.UserLotteryTimeView">
        <result column="mobile" property="mobile"></result>
        <result column="user_name" property="userName"></result>
        <result column="used_count" property="useCount"></result>
        <result column="unused_count" property="unUseCount"></result>
    </resultMap>

    <select id="findUserLotteryTimeViews" parameterType="map" resultMap="userLotteryTimeView">
        select l.mobile,a.user_name,used_count,unused_count from `aa`.`user_lottery_time` l join `aa`.`account` a on l.login_name = a.login_name
        <where>
            <if test="mobile !=null and mobile !='' ">
                and l.mobile like '${mobile}%'
            </if>
        </where>
        order by l.updated_time DESC
        limit #{index}, #{pageSize}
    </select>

    <select id="findUserLotteryTimeCountModels" parameterType="map" resultType="int">
        select count(1) from `aa`.`user_lottery_time`
        <where>
            <if test="mobile !=null and mobile !='' ">
                and mobile like '${mobile}%'
            </if>
        </where>
    </select>

</mapper>