/* my treasure*/
.my-treasure-content .column-title em.title-navli {
  border-bottom: 4px solid #999;
  color: #999;
  cursor: pointer;
  margin-right: 40px; }
.my-treasure-content .column-title em.active {
  border-bottom: 4px solid #ff7200;
  color: #ff7200; }
.my-treasure-content .column-title span {
  float: right;
  border-bottom: none;
  font-size: 14px;
  font-weight: normal;
  color: #666;
  cursor: pointer; }
  .my-treasure-content .column-title span.rule-show {
    color: #ff7200; }
.my-treasure-content .rule-list {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none; }
  .my-treasure-content .rule-list .rule-com {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -260px;
    margin-left: -320px;
    width: 510px;
    height: 520px;
    background: #fff;
    padding: 10px 60px;
    border: 1px solid #ccc; }
    .my-treasure-content .rule-list .rule-com h3 {
      font-size: 18px;
      text-align: center;
      margin-bottom: 20px; }
      .my-treasure-content .rule-list .rule-com h3 span {
        color: #ff7200;
        padding: 10px 65px;
        line-height: 35px;
        border-bottom: 1px solid #ff7200; }
    .my-treasure-content .rule-list .rule-com dl {
      margin-bottom: 25px; }
      .my-treasure-content .rule-list .rule-com dl dt {
        font-size: 14px;
        color: #333; }
      .my-treasure-content .rule-list .rule-com dl dd {
        font-size: 12px;
        color: #666; }
    .my-treasure-content .rule-list .rule-com .close-icon {
      width: 15px;
      height: 15px;
      position: absolute;
      top: 15px;
      right: 15px;
      cursor: pointer;
      background: url("/images/sign/close-btn.png") no-repeat center; }
    .my-treasure-content .rule-list .rule-com .close-text {
      text-align: center; }
      .my-treasure-content .rule-list .rule-com .close-text span {
        padding: 10px 25px;
        color: #fff;
        background: #ff7200;
        border-radius: 5px;
        cursor: pointer; }
.my-treasure-content .filters-list {
  float: left;
  width: 100%;
  position: relative; }
  .my-treasure-content .filters-list li {
    float: left;
    color: #4c4c4c;
    font-size: 12px;
    padding: 5px 15px;
    margin-right: 10px;
    cursor: pointer; }
    .my-treasure-content .filters-list li.active {
      color: #fff;
      background: #ff752a;
      border-radius: 5px; }
  .my-treasure-content .filters-list .get-coupon-code {
    width: 375px;
    height: 35px;
    position: absolute;
    top: 0;
    right: 0; }
    .my-treasure-content .filters-list .get-coupon-code label {
      float: right; }
      .my-treasure-content .filters-list .get-coupon-code label span {
        float: left;
        line-height: 33px; }
      .my-treasure-content .filters-list .get-coupon-code label .coupon-by-code {
        float: left; }
      .my-treasure-content .filters-list .get-coupon-code label .submit-code {
        float: left;
        margin-left: 10px;
        padding: 6px 35px; }
      .my-treasure-content .filters-list .get-coupon-code label p.tip-text {
        position: absolute;
        top: 35px;
        left: 100px;
        width: 160px;
        display: none; }
      .my-treasure-content .filters-list .get-coupon-code label p.error-color {
        display: block;
        color: #ff1010; }
        .my-treasure-content .filters-list .get-coupon-code label p.error-color .fa-times-circle {
          display: block; }
      .my-treasure-content .filters-list .get-coupon-code label p.success-color {
        display: block;
        color: #2ac30c; }
        .my-treasure-content .filters-list .get-coupon-code label p.success-color .fa-check-circle {
          display: block; }
      .my-treasure-content .filters-list .get-coupon-code label p i {
        float: left;
        margin-top: 10px;
        display: none; }
.my-treasure-content .model-list {
  float: left;
  width: 100%; }
  .my-treasure-content .model-list .coupon-com {
    float: left;
    width: 100%;
    display: none; }
    .my-treasure-content .model-list .coupon-com.active {
      display: block; }
  .my-treasure-content .model-list .coupon-list {
    float: left;
    width: 100%; }
    .my-treasure-content .model-list .coupon-list.used-card li {
      width: 100%;
      margin-right: 0; }
    .my-treasure-content .model-list .coupon-list li {
      float: left;
      width: 285px;
      margin-top: 35px;
      margin-right: 90px; }
      .my-treasure-content .model-list .coupon-list li.yellow-type .top-com .left-name {
        background: #ff752a;
        color: #fff; }
        .my-treasure-content .model-list .coupon-list li.yellow-type .top-com .left-name i {
          border: 1px solid #ff752a; }
      .my-treasure-content .model-list .coupon-list li.yellow-type .top-com .right-coupon {
        border: 1px solid #ff752a;
        background: url("/images/sign/yellow-bg.png") no-repeat;
        background-position: 180px 10px; }
        .my-treasure-content .model-list .coupon-list li.yellow-type .top-com .right-coupon p {
          color: #ff752a; }
          .my-treasure-content .model-list .coupon-list li.yellow-type .top-com .right-coupon p .pro-icon {
            border: 1px solid #ff752a; }
            .my-treasure-content .model-list .coupon-list li.yellow-type .top-com .right-coupon p .pro-icon em.circle-com {
              background: #ff752a; }
      .my-treasure-content .model-list .coupon-list li.yellow-type .bottom-time a {
        background: #ff752a;
        cursor: pointer; }
      .my-treasure-content .model-list .coupon-list li.yellow-type .detail-com p.bottom-line {
        border-bottom: 1px dashed #ff752a; }
      .my-treasure-content .model-list .coupon-list li.yellow-type .detail-com p span {
        color: #ff752a; }
      .my-treasure-content .model-list .coupon-list li.yellow-type .detail-com p .see-detail {
        background: #ff752a; }
      .my-treasure-content .model-list .coupon-list li.new-type .top-com .left-name {
        background: #ffae00;
        color: #fff; }
        .my-treasure-content .model-list .coupon-list li.new-type .top-com .left-name i {
          border: 1px solid #ffae00; }
      .my-treasure-content .model-list .coupon-list li.new-type .top-com .right-coupon {
        border: 1px solid #ffae00;
        background: url("/images/sign/new-bg.png") no-repeat;
        background-position: 180px 10px; }
        .my-treasure-content .model-list .coupon-list li.new-type .top-com .right-coupon p {
          color: #ffae00; }
          .my-treasure-content .model-list .coupon-list li.new-type .top-com .right-coupon p .pro-icon {
            border: 1px solid #ffae00; }
            .my-treasure-content .model-list .coupon-list li.new-type .top-com .right-coupon p .pro-icon em.circle-com {
              background: #ffae00; }
      .my-treasure-content .model-list .coupon-list li.new-type .bottom-time a {
        background: #ffae00;
        cursor: pointer; }
      .my-treasure-content .model-list .coupon-list li.new-type .detail-com p.bottom-line {
        border-bottom: 1px dashed #ffae00; }
      .my-treasure-content .model-list .coupon-list li.new-type .detail-com p span {
        color: #ffae00; }
      .my-treasure-content .model-list .coupon-list li.new-type .detail-com p .see-detail {
        background: #ffae00; }
      .my-treasure-content .model-list .coupon-list li.bite-type .top-com .left-name {
        background: #ff7b7b;
        color: #fff; }
        .my-treasure-content .model-list .coupon-list li.bite-type .top-com .left-name i {
          border: 1px solid #ff7b7b; }
      .my-treasure-content .model-list .coupon-list li.bite-type .top-com .right-coupon {
        border: 1px solid #ff7b7b;
        background: url("/images/sign/bite-bg.png") no-repeat;
        background-position: 180px 10px; }
        .my-treasure-content .model-list .coupon-list li.bite-type .top-com .right-coupon p {
          color: #ff7b7b; }
          .my-treasure-content .model-list .coupon-list li.bite-type .top-com .right-coupon p .pro-icon {
            border: 1px solid #ff7b7b; }
            .my-treasure-content .model-list .coupon-list li.bite-type .top-com .right-coupon p .pro-icon em.circle-com {
              background: #ff7b7b; }
      .my-treasure-content .model-list .coupon-list li.bite-type .bottom-time a {
        background: #ff7b7b;
        cursor: pointer; }
      .my-treasure-content .model-list .coupon-list li.bite-type .detail-com p.bottom-line {
        border-bottom: 1px dashed #ff7b7b; }
      .my-treasure-content .model-list .coupon-list li.bite-type .detail-com p span {
        color: #ff7b7b; }
      .my-treasure-content .model-list .coupon-list li.bite-type .detail-com p .see-detail {
        background: #ff7b7b; }
      .my-treasure-content .model-list .coupon-list li.birth-type .top-com .left-name {
        background: #ff5984;
        color: #fff; }
        .my-treasure-content .model-list .coupon-list li.birth-type .top-com .left-name i {
          border: 1px solid #ff5984; }
      .my-treasure-content .model-list .coupon-list li.birth-type .top-com .right-coupon {
        border: 1px solid #ff5984;
        background: url("/images/sign/birth-bg.png") no-repeat;
        background-position: 180px 10px; }
        .my-treasure-content .model-list .coupon-list li.birth-type .top-com .right-coupon p {
          color: #ff5984; }
          .my-treasure-content .model-list .coupon-list li.birth-type .top-com .right-coupon p .birth-text {
            font-size: 30px; }
          .my-treasure-content .model-list .coupon-list li.birth-type .top-com .right-coupon p .pro-icon {
            border: 1px solid #ff5984; }
            .my-treasure-content .model-list .coupon-list li.birth-type .top-com .right-coupon p .pro-icon em.circle-com {
              background: #ff5984; }
      .my-treasure-content .model-list .coupon-list li.birth-type .bottom-time a {
        background: #ff5984;
        cursor: pointer; }
      .my-treasure-content .model-list .coupon-list li.birth-type .detail-com p.bottom-line {
        border-bottom: 1px dashed #ff5984; }
      .my-treasure-content .model-list .coupon-list li.birth-type .detail-com p span {
        color: #ff5984; }
      .my-treasure-content .model-list .coupon-list li.birth-type .detail-com p .see-detail {
        background: #ff5984; }
      .my-treasure-content .model-list .coupon-list li.yellow-type-get .top-com .left-name {
        background: #ff752a;
        color: #fff; }
        .my-treasure-content .model-list .coupon-list li.yellow-type-get .top-com .left-name i {
          border: 1px solid #ff752a; }
      .my-treasure-content .model-list .coupon-list li.yellow-type-get .top-com .right-coupon {
        border: 1px solid #ff752a;
        background: url("/images/sign/yellow-bg-get.png") no-repeat;
        background-position: 180px 10px; }
        .my-treasure-content .model-list .coupon-list li.yellow-type-get .top-com .right-coupon p {
          color: #ff752a; }
          .my-treasure-content .model-list .coupon-list li.yellow-type-get .top-com .right-coupon p .pro-icon {
            border: 1px solid #ff752a; }
            .my-treasure-content .model-list .coupon-list li.yellow-type-get .top-com .right-coupon p .pro-icon em.circle-com {
              background: #ff752a; }
      .my-treasure-content .model-list .coupon-list li.yellow-type-get .bottom-time a {
        background: #ff752a;
        cursor: pointer; }
      .my-treasure-content .model-list .coupon-list li.yellow-type-get .detail-com p.bottom-line {
        border-bottom: 1px dashed #ff752a; }
      .my-treasure-content .model-list .coupon-list li.yellow-type-get .detail-com p span {
        color: #ff752a; }
      .my-treasure-content .model-list .coupon-list li.yellow-type-get .detail-com p .see-detail {
        background: #ff752a; }
      .my-treasure-content .model-list .coupon-list li.new-type-get .top-com .left-name {
        background: #ffae00;
        color: #fff; }
        .my-treasure-content .model-list .coupon-list li.new-type-get .top-com .left-name i {
          border: 1px solid #ffae00; }
      .my-treasure-content .model-list .coupon-list li.new-type-get .top-com .right-coupon {
        border: 1px solid #ffae00;
        background: url("/images/sign/new-bg-get.png") no-repeat;
        background-position: 180px 10px; }
        .my-treasure-content .model-list .coupon-list li.new-type-get .top-com .right-coupon p {
          color: #ffae00; }
          .my-treasure-content .model-list .coupon-list li.new-type-get .top-com .right-coupon p .pro-icon {
            border: 1px solid #ffae00; }
            .my-treasure-content .model-list .coupon-list li.new-type-get .top-com .right-coupon p .pro-icon em.circle-com {
              background: #ffae00; }
      .my-treasure-content .model-list .coupon-list li.new-type-get .bottom-time a {
        background: #ffae00;
        cursor: pointer; }
      .my-treasure-content .model-list .coupon-list li.new-type-get .detail-com p.bottom-line {
        border-bottom: 1px dashed #ffae00; }
      .my-treasure-content .model-list .coupon-list li.new-type-get .detail-com p span {
        color: #ffae00; }
      .my-treasure-content .model-list .coupon-list li.new-type-get .detail-com p .see-detail {
        background: #ffae00; }
      .my-treasure-content .model-list .coupon-list li.bite-type-get .top-com .left-name {
        background: #ff7b7b;
        color: #fff; }
        .my-treasure-content .model-list .coupon-list li.bite-type-get .top-com .left-name i {
          border: 1px solid #ff7b7b; }
      .my-treasure-content .model-list .coupon-list li.bite-type-get .top-com .right-coupon {
        border: 1px solid #ff7b7b;
        background: url("/images/sign/bite-bg-get.png") no-repeat;
        background-position: 180px 10px; }
        .my-treasure-content .model-list .coupon-list li.bite-type-get .top-com .right-coupon p {
          color: #ff7b7b; }
          .my-treasure-content .model-list .coupon-list li.bite-type-get .top-com .right-coupon p .pro-icon {
            border: 1px solid #ff7b7b; }
            .my-treasure-content .model-list .coupon-list li.bite-type-get .top-com .right-coupon p .pro-icon em.circle-com {
              background: #ff7b7b; }
      .my-treasure-content .model-list .coupon-list li.bite-type-get .bottom-time a {
        background: #ff7b7b;
        cursor: pointer; }
      .my-treasure-content .model-list .coupon-list li.bite-type-get .detail-com p.bottom-line {
        border-bottom: 1px dashed #ff7b7b; }
      .my-treasure-content .model-list .coupon-list li.bite-type-get .detail-com p span {
        color: #ff7b7b; }
      .my-treasure-content .model-list .coupon-list li.bite-type-get .detail-com p .see-detail {
        background: #ff7b7b; }
      .my-treasure-content .model-list .coupon-list li.default-type-get .top-com .left-name {
        background: #ccc;
        color: #fff; }
        .my-treasure-content .model-list .coupon-list li.default-type-get .top-com .left-name i {
          border: 1px solid #ccc; }
      .my-treasure-content .model-list .coupon-list li.default-type-get .top-com .right-coupon {
        border: 1px solid #ccc;
        background: url("/images/sign/default-type-get.png") no-repeat;
        background-position: 180px 10px; }
        .my-treasure-content .model-list .coupon-list li.default-type-get .top-com .right-coupon p {
          color: #ccc; }
          .my-treasure-content .model-list .coupon-list li.default-type-get .top-com .right-coupon p .pro-icon {
            border: 1px solid #ccc; }
            .my-treasure-content .model-list .coupon-list li.default-type-get .top-com .right-coupon p .pro-icon em.circle-com {
              background: #ccc; }
      .my-treasure-content .model-list .coupon-list li.default-type-get .bottom-time a {
        background: #ccc;
        cursor: pointer; }
      .my-treasure-content .model-list .coupon-list li.default-type-get .detail-com p.bottom-line {
        border-bottom: 1px dashed #ff752a; }
      .my-treasure-content .model-list .coupon-list li.default-type-get .detail-com p span {
        color: #ff7b7b; }
      .my-treasure-content .model-list .coupon-list li.default-type-get .detail-com p .see-detail {
        background: #ff752a; }
      .my-treasure-content .model-list .coupon-list li .top-com {
        float: left;
        width: 300px;
        height: 125px;
        overflow: hidden; }
        .my-treasure-content .model-list .coupon-list li .top-com .left-name {
          float: left;
          width: 50px;
          height: 125px;
          background: #ccc;
          color: #fff;
          font-size: 16px;
          text-align: center;
          line-height: 22px;
          border-radius: 5px;
          position: relative; }
          .my-treasure-content .model-list .coupon-list li .top-com .left-name span {
            display: inline-block;
            vertical-align: middle;
            width: 30px;
            margin-left: 5px; }
          .my-treasure-content .model-list .coupon-list li .top-com .left-name em {
            display: inline-block;
            width: 1px;
            height: 100%;
            vertical-align: middle; }
          .my-treasure-content .model-list .coupon-list li .top-com .left-name i {
            position: absolute;
            left: 45px;
            width: 10px;
            height: 10px;
            border: 1px solid #ccc;
            background: #fff;
            border-radius: 50%; }
            .my-treasure-content .model-list .coupon-list li .top-com .left-name i.circle-top {
              top: -5px; }
            .my-treasure-content .model-list .coupon-list li .top-com .left-name i.circle-bottom {
              bottom: -5px; }
        .my-treasure-content .model-list .coupon-list li .top-com .right-coupon {
          float: left;
          width: 227px;
          height: 123px;
          padding-left: 20px;
          border: 1px solid #ccc;
          border-radius: 5px;
          background: url("/images/sign/default-bg.png") no-repeat;
          background-position: 180px 10px; }
          .my-treasure-content .model-list .coupon-list li .top-com .right-coupon p {
            margin-bottom: 0;
            color: #ccc;
            line-height: 20px; }
            .my-treasure-content .model-list .coupon-list li .top-com .right-coupon p.mt-10 {
              margin-top: 10px; }
            .my-treasure-content .model-list .coupon-list li .top-com .right-coupon p span {
              line-height: 36px; }
              .my-treasure-content .model-list .coupon-list li .top-com .right-coupon p span.num-text {
                font-size: 40px; }
              .my-treasure-content .model-list .coupon-list li .top-com .right-coupon p span.unit-text {
                font-size: 16px; }
            .my-treasure-content .model-list .coupon-list li .top-com .right-coupon p .pro-icon {
              border: 1px solid #ccc;
              border-radius: 20px;
              text-align: center;
              margin: 0 2px;
              line-height: 21px;
              padding: 2px 4px;
              position: relative;
              overflow: hidden; }
              .my-treasure-content .model-list .coupon-list li .top-com .right-coupon p .pro-icon em {
                position: absolute; }
                .my-treasure-content .model-list .coupon-list li .top-com .right-coupon p .pro-icon em.bg-com {
                  bottom: -7px;
                  right: -2px;
                  width: 10px;
                  height: 10px;
                  background: #fff; }
                .my-treasure-content .model-list .coupon-list li .top-com .right-coupon p .pro-icon em.circle-com {
                  bottom: 2px;
                  right: 1px;
                  width: 2px;
                  height: 2px;
                  background: #ccc;
                  border-radius: 2px; }
      .my-treasure-content .model-list .coupon-list li .bottom-time {
        float: left;
        width: 300px;
        height: 30px;
        padding: 15px 0;
        line-height: 30px; }
        .my-treasure-content .model-list .coupon-list li .bottom-time span {
          float: left;
          width: 190px;
          text-align: right;
          font-size: 12px;
          color: #999; }
        .my-treasure-content .model-list .coupon-list li .bottom-time a {
          float: left;
          width: 80px;
          margin-left: 15px;
          background: #ccc;
          font-size: 12px;
          color: #fff;
          text-align: center;
          border-radius: 5px;
          cursor: no-drop; }
      .my-treasure-content .model-list .coupon-list li .detail-com {
        float: left;
        width: 410px;
        margin-left: 30px; }
        .my-treasure-content .model-list .coupon-list li .detail-com p {
          float: left;
          width: 100%;
          margin-bottom: 0;
          line-height: 30px; }
          .my-treasure-content .model-list .coupon-list li .detail-com p.bottom-line {
            padding: 10px 0 15px 0;
            border-bottom: 1px dashed #ff752a;
            margin-bottom: 10px; }
          .my-treasure-content .model-list .coupon-list li .detail-com p span {
            font-size: 12px;
            color: #ff752a; }
            .my-treasure-content .model-list .coupon-list li .detail-com p span.status-text {
              float: left;
              color: #999; }
            .my-treasure-content .model-list .coupon-list li .detail-com p span.left-text {
              float: left; }
            .my-treasure-content .model-list .coupon-list li .detail-com p span.right-text {
              float: right; }
          .my-treasure-content .model-list .coupon-list li .detail-com p .see-detail {
            float: right;
            width: 80px;
            margin-left: 15px;
            background: #ff752a;
            font-size: 12px;
            color: #fff;
            line-height: 30px;
            text-align: center;
            border-radius: 5px;
            cursor: pointer; }

/*# sourceMappingURL=_my_treasure.css.map */
