/* if use the css, the page will be show full screen */
body {
  background-color: #fff; }

.full-screen {
  width: 100% !important;
  margin: 0; }

.home-page-container .banner-box {
  height: 350px;
  width: 100%;
  overflow: hidden;
  position: relative; }
  .home-page-container .banner-box .banner-img-list {
    width: 100%;
    height: 100%;
    position: relative; }
    .home-page-container .banner-box .banner-img-list a {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0; }
      .home-page-container .banner-box .banner-img-list a img {
        height: 350px; }
    .home-page-container .banner-box .banner-img-list a:first-child {
      z-index: 1; }
  .home-page-container .banner-box .scroll-num {
    position: absolute;
    left: 500px;
    bottom: 10px;
    z-index: 2; }
    .home-page-container .banner-box .scroll-num li {
      float: left;
      margin-right: 15px;
      width: 10px;
      height: 10px;
      text-align: center;
      border-radius: 5px;
      background: #fff;
      line-height: 20px;
      color: #666;
      cursor: pointer; }
      .home-page-container .banner-box .scroll-num li.selected {
        background: #ff7a2a;
        color: #fff; }
  .home-page-container .banner-box .page-width {
    height: 100%; }
  .home-page-container .banner-box .register-ad-box {
    position: absolute;
    z-index: 10;
    top: 25px;
    right: 100px;
    width: 300px;
    height: 300px;
    box-sizing: border-box;
    padding: 50px 50px 10px;
    opacity: 0.9;
    background-color: white;
    border-radius: 10px; }
    .home-page-container .banner-box .register-ad-box .num-text {
      float: left;
      width: 100%;
      margin: 0; }
      .home-page-container .banner-box .register-ad-box .num-text .percent {
        color: #ff7200;
        font-size: 60px;
        line-height: 1;
        font-weight: bold; }
      .home-page-container .banner-box .register-ad-box .num-text .num-unit {
        font-size: 26px;
        color: #666;
        font-weight: bold; }
    .home-page-container .banner-box .register-ad-box .h-title {
      float: left;
      text-align: center;
      width: 100%;
      color: #666;
      font-size: 24px; }
    .home-page-container .banner-box .register-ad-box .btn-normal {
      width: 100%;
      padding: 8px 0; }
    .home-page-container .banner-box .register-ad-box i {
      float: left;
      width: 100%;
      display: block;
      padding-top: 15px; }
    .home-page-container .banner-box .register-ad-box .welcome-text {
      float: left;
      width: 100%;
      position: relative;
      margin: 0 0 10px 0; }

@media screen and (max-width: 700px) {
  .home-page-container .banner-box {
    height: 150px; }
    .home-page-container .banner-box .banner-img-list a {
      display: block; }
      .home-page-container .banner-box .banner-img-list a img {
        width: 100%;
        height: 150px; } }
.full-screen .media-container .banner-box {
  height: 350px;
  width: 100%;
  overflow: hidden;
  position: relative; }
  .full-screen .media-container .banner-box .media-img-list {
    width: 100%;
    height: 100%;
    position: relative; }
    .full-screen .media-container .banner-box .media-img-list a {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0; }
      .full-screen .media-container .banner-box .media-img-list a img {
        height: 350px;
        width: 100%; }
    .full-screen .media-container .banner-box .media-img-list a:first-child {
      z-index: 1; }
  .full-screen .media-container .banner-box .scroll-num {
    position: absolute;
    left: 500px;
    bottom: 10px;
    z-index: 2;
    list-style: none; }
    .full-screen .media-container .banner-box .scroll-num li {
      float: left;
      margin-right: 15px;
      width: 10px;
      height: 10px;
      text-align: center;
      border-radius: 5px;
      background: #fff;
      line-height: 20px;
      cursor: pointer; }
      .full-screen .media-container .banner-box .scroll-num li.selected {
        background: #ff7a2a; }
.full-screen .media-container .media-center {
  text-align: center;
  font-size: 20px; }
.full-screen .media-container .media-type-list {
  float: left;
  width: 100%; }
  .full-screen .media-container .media-type-list dd {
    float: left;
    width: 25%;
    border: 1px solid grey;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    margin: 0; }
.full-screen .media-container .media-article-list .media-title {
  font-size: 14px; }
.full-screen .media-container .media-article-list .media-date {
  font-size: 7px; }
.full-screen .media-container .media-article-list .media-read {
  float: left;
  padding-left: 10%; }
.full-screen .media-container .media-article-list .media-praise {
  float: right;
  padding-right: 10%; }
.full-screen .media-container .media-article-list img {
  width: 100%;
  height: 100%; }

@media screen and (max-width: 700px) {
  .media-container .banner-box {
    height: 150px !important; }
    .media-container .banner-box .media-img-list a {
      display: block; }
      .media-container .banner-box .media-img-list a img {
        width: 100% !important;
        height: 150px !important; } }

/*# sourceMappingURL=media_center.css.map */
