@charset "UTF-8";

body {
    font-size: 14px;
    background: #f5f5f5;
    margin: 0;
}

.btn-success {
    margin: 2rem;
    font-size: 1.2rem;
    padding: 3%;
    color: #fff;
    background: #ff635a;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 50px;
    letter-spacing: 5px;
}

.btn-disabled {
    margin: 2rem;
    font-size: 1.2rem;
    padding: 3%;
    color: #808080;
    background: #ccc;
    text-decoration: none;
    display: block;
    text-align: center;
    letter-spacing: 5px;
    border-radius: 50px;
}

/*有信息的成功页*/
.success-info-container {
    display: inline-block;
    width: 100%;
    background: #fff;
    margin-top: 10px;
    text-align: center;
}

.success-info-container .success-icon {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../images/success-icon.png') no-repeat center;
    background-size: 100%;
}

.success-info-container p {
    font-size: 14px;
    color: #808080;
}

.success-info-container .info-item {
    display: inline-block;
    width: 100%;
    background: #fff;
    border-top: 1px solid #e5e5e5;
    box-sizing: border-box;
    padding: 0 10px;
}

.success-info-container .info-item li {
    display: inline-block;
    width: 100%;
}

.success-info-container .info-item li .info-title {
    float: left;
    font-size: 12px;
    color: #808080;
    line-height: 40px;
}

.success-info-container .info-item li .info-text {
    float: right;
    font-size: 12px;
    color: #808080;
    line-height: 40px;
}

.success-info-container p.fix-nav {
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    font-size: 12px;
    line-height: 30px;
}