@charset "UTF-8";

body {
    font-size:14px;
}
.main{ display: block; text-align: center; padding: 1rem;}
.img{  width: 85%; margin: 1rem auto;}

.info{ font-size: 2.0rem; color: #f7b291;  margin: 3rem 0;}
.btn-success{ margin: 2rem;
    font-size: 1.8rem; padding:3%; border-radius: 1rem; color: #fff; background: #fd9b30; text-decoration: none; display: block;}
