<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd 
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd"
	xmlns:tx="http://www.springframework.org/schema/tx" default-lazy-init="true">
	<bean id="userHome" class="com.esoft.umpay.user.controller.UmPayUserHome" scope="view"></bean>
    <bean id="bankCardHome" class="com.esoft.umpay.bankcard.controller.UmPayBankCardHome" scope="view"></bean>
	<bean id="bankCardList" class="com.esoft.umpay.bankcard.controller.UmPayBankCardList" scope="view"></bean>
	<bean id="rechargeHome" class="com.esoft.umpay.recharge.controller.UmpayRechargeHome" scope="view"></bean>
	<bean id="loanHome" class="com.esoft.umpay.loan.controller.UmPayLoanHome" scope="view"></bean>
    <bean id="investHome" class="com.esoft.umpay.invest.controller.UmPayInvestHome" scope="view"></bean>
    <bean id="repayHome" class="com.esoft.umpay.repay.controller.UmPayRepayHome" scope="view"></bean>
    <bean id="withdrawHome" class="com.esoft.umpay.withdraw.controller.UmPayWithdrawHome" scope="view"></bean>
    <bean id="withdrawCashService" class="com.esoft.umpay.withdraw.service.impl.UmPayWithdrawCashServiceImpl"></bean>
  <!--
   <bean id="trusteeshipService" class=""></bean>
   <bean id="autoInvestHome" class="" scope="view"></bean>
   <bean id="autoInvestService" class=""></bean>
   -->
</beans>