.article-frame {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: auto;
	:global {

		.back-link{
			position: fixed;
			top:8px;
			left:5px;
			background:url('../images/back-icon.png') no-repeat center;
			background-size:100%;
			width:40px;
			height:40px;
			line-height:40px;
			text-align:center;
			border-radius:50%;
			font-size:10px;
			color:#fff;
		}
		article {
			padding: 10px 7px;
			font-size: 14px;
		}
		h1 {
			font-weight: normal;
			font-size: 18px;
			color:#2f3034;
		}
		.meta {
			margin-top: 12px;
			color: #5c5f66;
			time {
				margin-left: 10px;
			}
		}
		.show-picture {
			margin-top: 10px;
			img {
				width: 100%;
			}
		}
		.content {
			margin-top: 10px;
			p:first-child {
				margin-top: 0;
			}
			img:first-child {
				margin-top: 0;
			}
			img {
				max-width: 100%;
				margin: 10px auto;
				display: block;
			}
			p, div, section {
				margin-top: 10px;
				text-indent: 2em;
			}
		}
		.info {
			padding-top: 12px;
			.readed {
				color: #103d70;
			}
			&.noDisplay {
				display: none;
			}
		}
	}

}