.message-center-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  :global {
    article {
      font-size: 14px;
      position: relative;
    }
    .meta {
      padding-top:20px;/*px*/
      height:90px;/*px*/
      h1 {
        text-align:center;
        font-weight: 100;
        font-size: 15px;/*px*/
        color:#FF635A;
        a{
          color:#FF635A;
        }
      }
      time {
        margin-top:13px;/*px*/
        margin-right: 2em;
        font-size:12px;/*px*/
        color:#A2A2A2;
      }
    }
    .line{
      height:1px;
      background: #ccc;
    }
    .content {
      margin-top: 20px;
      padding:0 2em;
      font-size:14px;
      color:#808080;
      padding-bottom:60px;
      p:first-child {
        margin-top: 0;
      }
      p, div, section {
        margin-top: 1em;
        text-indent: 2em;
      }
      p.text-right{
        margin-top:.5em;
        text-align:right;
      }
    }
    .info {
      position: fixed;
      bottom:0;
      left:0;
      width:100%;
      background: #ff473c;
      text-align:center;
      box-shadow: 0 0 20px 0 #CCC;/*px*/
      a {
        display:inline-block;
        width:100%;
        height:55px;/*px*/
        line-height:55px;/*px*/
        color: #fff;
        font-size:18px;/*px*/
        background:#FF635A;
      }
    }
  }
}