.message-center-frame {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  :global {
    article {
      font-size: 14px;
      position: relative;
    }
    .meta {
      padding-top: 20px;
      height: 90px;
      h1 {
        text-align: center;
        font-weight: 300;
        font-size: 15px;
        color: #fd594f;
        a {
          color: #fd594f;
        }
      }
      time {
        margin-top: 13px;
        margin-right: 2em;
        font-size: 12px;
        color: #A2A2A2;
      }
    }
    .line {
      height: 1px;
      background: #ccc;
    }
    .content {
      margin-top: 20px;
      padding: 0 2em;
      font-size: 14px;
      color: #808080;
      padding-bottom: 60px;
      word-wrap: break-word;
      word-break: break-all;
      p:first-child {
        margin-top: 0;
      }
      p, div, section {
        margin-top: 0.3em;
      }
      p.text-right {
        margin-top: .5em;
        text-align: right;
      }
    }
    .info {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background: #ff473c;
      text-align: center;
      box-shadow: 0 0 20px 0 #CCC;
      a {
        display: inline-block;
        width: 100%;
        height: 55px;
        line-height: 55px;
        color: #fff;
        font-size: 18px;
        background: #FF635A;
      }
    }
  }
}