.main {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  :global {
    article {
      font-size: 28px;/*px*/
      position: relative;
    }
    .meta {
      padding-top:42px;/*px*/
      height:180px;/*px*/
      h1 {
        text-align:center;
        font-weight: 100;
        font-size: 30px;/*px*/
        color:#FF635A;
        a{
          color:#FF635A;
        }
      }
      time {
        margin-top:26px;/*px*/
        margin-right: 2em;
        font-size:24px;/*px*/
        color:#A2A2A2;
      }
    }
    .line{
      height:1px;/*px*/
      background: #ccc;
    }
    .content {
      margin-top: 40px;/*px*/
      padding:0 2em;
      font-size:28px;/*px*/
      color:#808080;
      padding-bottom:120px;/*px*/
      p:first-child {
        margin-top: 0;
      }
      p, div, section {
        margin-top: 1em;
        text-indent: 2em;
      }
      p.text-right{
        margin-top:.5em;
        text-align:right;
      }
    }
    .info {
      position: fixed;
      bottom:0;
      left:0;
      width:100%;
      background: #ff473c;
      text-align:center;
      box-shadow: 0 0 40px 0 #CCC;/*px*/
      a {
        display:inline-block;
        width:100%;
        height:110px;/*px*/
        line-height:110px;/*px*/
        color: #fff;
        font-size:36px;/*px*/
        background:#FF635A;
      }
    }
  }
}