@charset "UTF-8";

.success-body {
    font-size: 14px;
    background: #f5f5f5;
    margin:0;

    /*成功提示页*/
    .success-container{
        width:100%;
        height:100%;
        position: fixed;
        top:0;
        left:0;
        background: #fff;
        text-align: center;
        box-sizing: border-box;
        padding-top: 50px;
    }
    .success-container p{
        font-size: 14px;
        color:#808080;
    }
    .success-container p .v5-icon{
        display: inline-block;
        width:20px;
        height:22px;
        background: url('../images/v5-icon.png') no-repeat center;
        background-size: 100%;
        vertical-align: middle;
    }
    .success-container p.fix-nav{
        width:100%;
        position: absolute;
        left:0;
        bottom:0;
        font-size:12px;
        line-height: 30px;
    }
    .success-container .success-icon{
        display: inline-block;
        width:40px;
        height:40px;
        background: url('../images/success-icon.png') no-repeat center;
        background-size: 100%;
    }
    .btn-success {
        margin: 2rem;
        font-size: 1.2rem;
        padding: 3%;
        color: #fff;
        background: #ff635a;
        text-decoration: none;
        display: block;
        text-align: center;
        border-radius:50px;
        letter-spacing: 5px;
    }
    .btn-disabled {
        margin: 2rem;
        font-size: 1.2rem;
        padding: 3%;
        color: #808080;
        background: #ccc;
        text-decoration: none;
        display: block;
        text-align: center;
        letter-spacing: 5px;
        border-radius:50px;
    }
    /*有信息的成功页*/
    .success-info-container{
        display: inline-block;
        width:100%;
        background: #fff;
        margin-top:10px;
        text-align:center;
        padding-top:50px;
    }
    .success-info-container .success-icon{
        display: inline-block;
        width:40px;
        height:40px;
        background: url('../images/success-icon.png') no-repeat center;
        background-size: 100%;
    }
    .success-info-container p{
        font-size: 14px;
        color:#808080;
    }
    .success-info-container .my_style_p {
        text-align: left;
        padding-left: 20px;
    }
    .success-info-container .info-item{
        margin-top:50px;
        display: inline-block;
        width: 100%;
        background: #fff;
        border-top: 1px solid #e5e5e5;
        box-sizing: border-box;
        padding: 0 10px;
    }
    .success-info-container .info-item li{
        display: inline-block;
        width:100%;
    }
    .success-info-container .info-item li .info-title{
        float:left;
        font-size:12px;
        color:#808080;
        line-height: 40px;
    }
    .success-info-container .info-item li .info-text{
        float:right;
        font-size:12px;
        color:#808080;
        line-height: 40px;
    }
    .success-info-container p.fix-nav{
        width:100%;
        position: fixed;
        left:0;
        bottom:0;
        font-size:12px;
        line-height: 30px;
    }
}

