.task-center-frame {
    margin: 0;
    background-color: #ffefaf;
    height: auto;
    overflow: auto;
    :global {
        .bodyCon {
            height:auto;
            overflow: auto;
            transform:translate3d(0,0,0);
        }

        .loading {
            text-align:center;
            font-size:15px;
            i { color:#fff;}
        }
        .title-newer {
            height:60px;
            background: url('../images/title-one.png') center center no-repeat;
            background-size: 100%;
            margin-bottom:10px;
        }
        .title-finished {
            height:60px;
            background: url('../images/title-two.png') center center no-repeat;
            background-size: 100%;
            margin-bottom:10px;
        }
        .image-top-head {
            width: 100%;
            img {
                width: 100%;
            }
        }
        .MenuBox {
            width:50%;
            z-index:100;
            height: 45px;
            line-height: 45px;
            margin: 0 auto;
            &.fix-menu {
                width:100%;
                position: absolute;
                top:0;
            }
        }
        .MenuBox ul {
            border-radius: 3px;
            height: 100%;
            width:100%;
            margin: 0px auto;
        }
        .MenuBox ul .MenuBoxItemNormal {
            float: left;
            display: block;
            cursor: pointer;
            width: 50%;
            height:100%;
            text-align: center;
            color: #808080;
            background-color: #fff;
            font-size: 13px;
            font-style: normal;
            &.active {
                color: #ff473c;
                border-bottom:1px solid #ff473c;
            }
            -webkit-transform: translate3d(0, 0, 0);
        }
        .content-box {
            margin:0 10px;
        }
        .task-box {
            margin-top:0px;
        }

        .task-list {
            li {
                position: relative;
                height:auto;
                overflow: auto;
                text-align: left;
                background: #fff;
                border-radius: 10px;
                margin-bottom: 10px;

                .serial {
                    position: absolute;
                    top:0;
                    left:0;
                    width:35px;
                    height:35px;
                    color: #fff;
                    font-size: 18px;

                    border-bottom-right-radius: 70px;
                    text-align: left;
                    padding-left: 5px;
                    box-sizing: border-box;
                }
                &.completed {
                    .serial {
                        background:#e5e5e5;
                    }
                }
                &.working {
                    .serial {
                        background:#ff635a;
                    }
                }
                .detail {
                    display: inline-block;
                    padding: 10px 0px 10px 32px;
                    color: #999;
                    text-align: left;
                    font-size: 13px;
                    i {
                        display: block;
                    }
                    b {
                        font-size: 16px;
                        display: block;
                        color: #525252;
                    }
                    em.reward {
                        color: #ffcc00;
                        font-size: 12px;
                        text-align: left;
                        margin:8px 0;
                        border:1px solid #ffcc00;
                        border-radius:10px;
                        padding:2px 7px 2px 25px;
                        display: inline-block;
                        background: url('../images/money-icon.png') left top no-repeat;
                        background-size: contain;
                        s {
                            color: #ff635a;
                            display: inline-block;
                            text-decoration: none;
                        }
                        span{
                            color:#ff635a;
                        }
                        img{
                            vertical-align: middle;
                            margin-right:5px;
                            margin-bottom: 4px;
                        }
                    }
                }
                &.advance-task {
                    .detail {
                        padding-left:12px;
                    }
                }
                .btn-action {
                    display: inline-block;
                    padding: 0 10px;
                    height: 35px;
                    line-height: 35px;
                    background-color: #ff5959;
                    border-radius: 8px;
                    font-size: 14px;
                    color: #fff;
                    font-style: normal;
                    position:absolute;
                    right: 10px;
                    top: 30%;
                    border:0px;
                    text-align: center;
                    &.disabled {
                        background-color: #cccccc;
                    }
                }
            }
        }
    }

}