body {
  font-weight: normal;
}
.period {
  position: relative;
  top: -11px;
  &:after {
    display: inline-block;
    content: '365';
    border-top:1px solid #FF473C;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: 15px;
    width: 100%;
    text-align: center;
    line-height: 20px;
  }
}
.main-content {
  padding: 0 10px 20px 10px;
}
.bonus-rule {
  background: #fff;
  em.key {
    color: #FF473C;
    display: inline-block;
  }
  .box-column {
    text-align: center;
    height:200px;
    &:nth-child(2) {
      background: #F2F2F2;
    }
    h2 {
      font-size: 14px;
      color: #525252;
      padding:20px 0;
    }
    .box-in {
      display: flex;
      justify-content: space-around;
      align-items: center;
      font-size: 12px;
      color: #525252;
      line-height: 18px;
      span.man-col {
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        flex:3;
      }
      i.man {
        width:65px;
        height:65px;
        display: block;
        margin-bottom: 10px;
        &.img-friend {
          background: url('../../images/account/rule-friend.png') left top no-repeat;
          background-size: 100%;
        }
        &.img-you {
          background: url('../../images/account/rule-you.png') left top no-repeat;
          background-size: 100%;
        }
        &.img-friend-one {
          background: url('../../images/account/rule-friend-once.png') left top no-repeat;
          background-size: 100%;
        }

      }

      .arrow-col {
        font-size: 14px;
        color: #FF473C;
        padding-bottom: 30px;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        .icon-arrow {
          width:30px;
          height:17px;
          background: url('../../images/account/rule-arrow.png') left top no-repeat;
          background-size: 100%;
          display: block;
        }
      }
    }
  }

  .box-total {
    background: #F2F2F2;
    font-size: 14px;
    color: #525252;
    width: 80%;
    margin: 20px auto;
    text-align: center;
    padding: 15px;
    box-sizing: border-box;
  }

  .rule-award {
    font-size: 12px;
    color: #525252;
    line-height: 30px;
    b {
      display: block;
      text-align: center;
      font-size:14px;
      font-weight: normal;
    }

  }

  table {
    border:1px solid #F2F2F2;
    margin-top: 15px;
    caption {
      background: #f5f5f5;
      border:1px solid #F2F2F2;
      color: #525252;
      text-align: center;
    }
    th ,td {
      background: #fff;
      border:1px solid #F2F2F2;
      color: #525252;
      font-weight: lighter;
    }
    td {
      color: #FF473C;
      &.title {
        color: #525252;
      }
    }
  }
}

.recommend-rule {

  .recommend-note {
    line-height: 30px;
    color: #525252;
    border: 1px solid #F7F7F7;
    border-radius: 50px;
    padding: 10px 25px;
    border-top-left-radius: 0;
  }
  .learn-more {
    text-align: right;
    padding: 10px 20px;
    a {
      text-decoration: underline;
      color: #FF473C;
    }
  }
  .rule-award-how {
    margin-top: 30px;
    background: #F2F2F2;
    border-radius: 1px;
    font-size: 13px;
    color: #525252;
    line-height: 20px;
    padding:20px;
    position: relative;
    .icon-kaola {
      width:80px;
      height:80px;
      display: inline-block;
      background: url('../../images/account/kaola.png') left top no-repeat;
      background-size: 100%;
      position: absolute;
      left:50%;
      top: -35px;
      transform: translate(-50%);
    }
    b {
      display: block;
      font-size: 14px;
      color: #FF473C;
      text-align: center;
      padding:10px;
      font-weight: normal;
    }
  }

  .share-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      font-size: 14px;
      color: #525252;
      padding: 20px;
    }
    .share-box-inner {

      width: 100%;
      overflow: hidden;
    }
    .share-list {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      position: relative;

      span {
        font-size: 11px;
        color: #525252;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        i {
          width:50px;
          height:50px;
          display: inline-block;
          background-position: left top;
          background-repeat: no-repeat;
        }
        &.share-face {
          i {
            background-image: url('../../images/share/face.png');
            background-size: 100%;
          }
        }


      }
    }

  }
}

.layer-share {
  background: rgba(0,0,0,0.8);
  color: #fff;
  position: absolute;
  left:0;
  top:0;
  z-index: 10;
  height:100%;
  width:100%;


  .img-pointer {
    position: absolute;
    width:155px;
    height:97px;
    background: url('../../images/share/bg-share-brower.png') left top no-repeat;
    background-size: 100%;
    left:50%;
    transform: translate(-50%);
    bottom:0;
  }
}

.wechat-android {
  position: fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  text-align: right;
  background: rgba(0, 0, 0, 0.8) url("../../images/share/bg-share-wechat.png") center top no-repeat;

  background-size: contain;
}


@media screen and (max-width:320px) {
  .recommend-rule .recommend-note {
    border-radius: 0;
    padding: 0px;
    border-width: 0;
  }
}
.code-item{
  margin-top:60px;
  p{
    text-align:center;
    font-size: 15px;
    color: #525252;
    letter-spacing: -0.36px;
    margin-bottom: 0;
    span{
      display:inline-block;
      width:200px;
      height:200px;
      background:url('../../images/account/scan-code.png') no-repeat center;
      background-size:100%;
    }
  }
}
.info-item{
  padding:0 20px;
  margin-top: 50px;
  box-sizing:border-box;
  dt{
    font-size: 13px;
    color: #525252;
  }
  dd{
    font-size: 12px;
    color: #525252;
  }
}
.my-account-content {
  min-height: 100%;
}
