.edit-payment-password {
  margin-top:.4rem;

  .forget-password {
    text-align: right;
    padding-top: .5rem;
    padding-right: 1rem;
  }

}

.reset-payment-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: .8rem;
    color: #808080;
    padding:1.5rem 0 1rem 0;
  }
  #resetPassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .input-box {
      position: relative;
      width: 12.5rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      box-sizing: border-box;
      height: 2.25rem;
      background: #FFFFFF;
      border: 1px solid #C9C9C9;
      border-radius: 2.85rem;
      overflow: hidden;
      &.androd_border {
        border: .1rem solid #C9C9C9;
      }
      input {
        position: absolute;
        top: .5rem;
        flex: 1;
        border: 0;
        width: 25%;
        font-size: 1rem;
        color: #525252;
        font-weight: normal;
        text-align: center;
        height: 1.25rem;
        padding: 0;
        & + input {
          border-left: 1px solid #C9C9C9;
          border-radius: 0;
          //&.androd_border {
          //  border-left: .1rem solid #C9C9C9;
          //}
        }
        &.num {
          width: 2.8rem;
        }
        &.num1 {
          left: 0.3rem;
        }
        &.num2 {
          left: 25%;
        }
        &.num3 {
          left: 50%;
        }
        &.num4 {
          left: 75%;
        }
      }
    }

  }

}

#goBack_container {
  position: relative;
  width: 100%;
  height: 2.2rem;
  line-height: 2.2rem;
  text-align: center;
  font-size: .85rem;
  font-weight: normal;
  color: #fff;
  background: #FF473C;
  .go-back-container {
    position: absolute;
    left: .1rem;
    top: .35rem;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    .go-back{
      display: block;
      margin: .4rem 0 0 .5rem;
      width: .45rem;
      height: .7rem;
      background: url("../../images/go_back.png") no-repeat;
      background-size: contain;
    }
  }
}
#sendShortMsg {
  display: block;
  width: 15rem;
  height: 2.25rem;
  line-height: 2.25rem;
  text-align: center;
  background: #FF635A;
  border-radius: 5rem;
  color: #fff;
  font-weight: normal;
  padding: 0;
  font-size: 1rem;
  margin: 2.5rem auto auto auto;
}