$color333:#333;
$color8080:#808080;
$colora2a2:#A2A2A2;
$colorYellow:#F6AA16;
body {
  background: #f2f2f2;
}
em {
  font-weight: normal;
}
.icon-sign {
  font-size: .18rem;
  padding: .02rem .05rem;
}

.noList {
  margin-top: 1.48rem;
  margin-bottom: .7rem;
  width: 4.2rem;
  margin: 0 auto;
  text-align: center;
  .img {
    margin-top: 1.5rem;
    width: 4.2rem;
    height: 4.2rem;
    background: url("../../images/account/noInvestList.png") no-repeat;
    background-size: contain;
  }
  button {
    width: 3rem;
    height: .9rem;
    margin-top: .7rem;
    color:#fff;
    background: #FF635A;
    line-height: .9rem;
    text-align: center;
    border: none;
    border-radius: .5rem;
    font-size: .4rem;
  }
}
.invest-list-wrap {
  position: relative;
  font-size: .24rem;
  font-family: 'PingFang SC', 'Microsoft Yahei', 'WenQuanYi Micro Hei', Arial, Verdana, sans-serif;
  .invest-list-box {
    background: #f2f2f2;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    top: 1.8rem;
    overflow: hidden;
    z-index: -100;
    .invest-item {
      padding-left: .17rem;
      padding-right: .17rem;
      padding-top: .44rem;
      margin-top: .2rem;
      background: #fff;
      dl {
        line-height: .44rem;
        padding-left: .3rem;
        padding-right: .3rem;
        box-sizing: border-box;
        &.dl-l {
          width: 50%;
          float: left;
          dt {
            em {
              font-size: .5rem;
            }
            color: $color333;
          }
          dd {
            font-size: .24rem;
            color: $color8080;
            padding-left: .2rem;
          }
        }
        &.dl-r {
          width: 50%;
          float: right;
          text-align: right;
          dt {
            display: inline-block;
            padding-left: .34rem;
            padding-right: .34rem;
            font-size: .24rem;
            color: #fff;
            background: #facc72;
            border-radius: .5rem;
            position: relative;
            em {
              position: absolute;
              left: 0;
              display: inline-block;
              width: 1.22rem;
              height: .44rem;
              background: #F6AA16;
              border-radius: .5rem;
              z-index: 2;

            }
            i {
              position: relative;
              z-index: 200;
            }
          }
          dd {
            color: $color8080;
            em {
              color: $colorYellow;
              font-size: .24rem;
            }
          }
        }
        &.bottom {
          border-top: 1px solid #E5E5E5;
          height: .6rem;
          line-height: .6rem;
          padding-right: 0;
          dt {
            width: 50%;
            float: left;
          }
          dd {
            width: 50%;
            float: right;
            text-align: right;
          }
        }

      }
    }
  }
}
.m-header {
  height: .88rem;
  line-height: .88rem;
  text-align: center;
  color: #fff;
  font-size: .36rem;
  background: #FF473C;
  position: relative;
  .icon-left {
    position: absolute;
    left: .2rem;
    top: .04rem;
    i{
      font-size: .6rem;
    }
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 102.4px;
  }
}
@media screen and (max-width: 750px) {
  html {
    font-size: 100px;
  }
}
@media screen and (max-width: 720px) {
  html {
    font-size: 96px;
  }
}
@media screen and (max-width: 640px) {
  html {
    font-size: 85.33px;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 80px;
  }
}
@media screen and (max-width: 540px) {
  html {
    font-size: 72px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 64px;
  }
}
@media screen and (max-width: 414px) {
  html {
    font-size: 55.2px;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 53.33px;
  }
}
@media screen and (max-width: 384px) {
  html {
    font-size: 51.2px;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 50px;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 48px;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 42.66px;
  }
}
@media screen and (max-width: 240px) {
  html {
    font-size: 32px;
  }
}