.footer-wap-container {
  display: flex;
}

.account-overview {

  .title {
    padding-top: 10px;

    span{
      font-size: 16px;
    }
  }
  .summary-box{
    em{
      i{
        margin:auto 1px;
      }
    }
  }

  .menu-quick {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 55px;
    background: #fff;
    a {
      font-size: 16px;
      color: #525252;
      position: relative;
      flex: 1;
      text-align: center;
      &:after {
        display: inline-block;
        content: '|';
        color: #C7C7CC;
        position: absolute;
        right: 0;
        top: 3px;
        font-size: 12px;
        font-weight: lighter;
      }
      &:nth-last-child(1) {
        &:after {
          content: ''
        }
      }
    }
  }

  .menu-list {
    font-size: 16px;
    color: #525252;
    li {
      margin-top: 1px;
      height: 55px;
      background: #fff;
      a {
        display: block;
        line-height: 55px;
        padding-left: 10px;
        position: relative;
        .experience-amount {
          position: absolute;
          right: 20px;
          font-size: 14px;
          color: #F6AA16;
        }
        .fa {
          position: absolute;
          right: 10px;
          top: 13px;
          color: #C9C9C9;
          font-size: 25px;
        }
      }
    }
    .top-distance {
      margin-top: 10px;
    }
  }

}
html{
  height: 100%;
  body {
    height: 100%;
  }
}

.anonymous-page {
  height: 100%;
  background: #fff8aa;
  overflow: hidden;
  .anomymous-wrap {
    height: 100%;
    .top {
      background: #ff593c;
    }
    .anomous-tip {
      background: #ff593c;
      color: #fff;
      font-size: 24px;
      height: 5rem;
      text-align: center;
      line-height: 33px;
      padding-top: 1.5rem;
      @media screen and(max-width: 414px){
        height: 3.5rem;
      }
      @media screen and(max-width: 384px){
        height: 3rem;
        padding-top: .2rem;
      }

      @media screen and(max-width: 360px){
        height: 3.3rem;
        padding-top: 1.5rem;
      }
      @media screen and(max-width: 320px){
        padding-top: 0.5rem;
        height: 4rem;
      }
    }
    .img {
      height: 19.55rem;
      margin: 0;
      padding: 0;
      img {
        width: 100%;
        display: block;
      }
    }


  }
  .login-container {
    position: absolute;
    bottom: 2.5rem;
    text-align: center;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    overflow: hidden;
    @media screen and(max-width: 320px){
      bottom: 2.6rem;
    }
    .tip-btn {
      display: inline-block;
      width: 300px;
      height: 2.5rem;
      color: #fff;
      font-size: 20px;
      line-height: 2.5rem;
      text-align: center;
      background: #FF635A;
      border-radius: 22px;
    }
    .to-login {
      display: inline-block;
      color: #FF473C;
      font-size: 14px;
      margin-top: .5rem;
      @media screen and(max-width: 320px){
        margin-top: .1rem;
      }

    }
  }
}
.iconRight {
  display: inline-block;
  position: relative;
  float: right;
  margin-right: 10px;
  top: 22px;
  width: 9px;
  height: 14px;
  background: url("../../images/icon_goRight.png") no-repeat;
  background-size: contain;
}
.liandong-tip {
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 60px;
  font-size: 13px;
  color: #808080;
}
