
.personal-profile {
  margin-top: 10px;
  .input-list{
    margin-top:10px;
  }
  .manage-note {
    display: block;
    text-align: center;
    margin-top:30px;
    font-size: 14px;
    color: #64646D;
  }
}

.m-header {
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background: #FF473C;
  position: relative;
  .icon-left {
    position: absolute;
    left: 10px;
    top: 2px;
    i{
      font-size: 30px;
    }
  }
}
