
.input-list li {
  a {
    font-size: .7rem;
    color: #A2A2A2;
  }
  span.update-payment-nopwd {
    width:50px;
    height:28px;
    padding: 1px;
    background: #ccc;
    border-radius: 40px;
    display: flex;
    justify-content: flex-start;
    i {
      width:50%;
      border-radius:50%;
      background: #FFFFFF;
      border: 1px solid rgba(0,0,0,0.10);
      box-shadow: 0 3px 1px 0 rgba(0,0,0,0.05), 0 2px 2px 0 rgba(0,0,0,0.10), 0 3px 3px 0 rgba(0,0,0,0.05);
    }
    &.opened {
      justify-content: flex-end;
      background: #FF473C;
    }
  }
}

.tip-to-close,.tip-result-success {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .icon-notice {
    width:40px;
    height:40px;
    display: block;
  }
  p {
    margin-bottom:10px;
  }
  span {
    margin-top: 20px;
    text-align: center;
    &.code-number-hidden {
      visibility: visible;
      height: 20px;
      display: block;
      text-align: left;
      width: 100%;
      margin-top: 2px;
      margin-bottom: 2px;
    }
  }
  &.send-captcha {
    font-size:12px;
  }

  .form-captcha {
    border: 1px solid #F2F2F2;
    height:35px;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top:5px;
    input {
      width: 70%;
      font-size: 12px;
      color: #C9C9C9;
      border: 0;
      border-right: 1px solid #F2F2F2;
    }
    button,img {
      width:30%;
      font-size: 12px;
      color: #FF473C;
      background: transparent;
      border:0;
    }
  }
}
.tip-result-success {
  padding-top: 32px;
}

.open-success-result {
  font-size: 12px;
  a {
    display: block;
  }
}

.goBack_wrapper {
  position: relative;
  width: 100%;
  height: 2.2rem;
  line-height: 2.2rem;
  text-align: center;
  font-size: .85rem;
  color: #fff;
  background: #FF473C;
  .go-back-container {
    position: absolute;
    left: .1rem;
    top: .35rem;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    .go-back{
      display: block;
      margin: .4rem 0 0 .5rem;
      width: .45rem;
      height: .7rem;
      background: url("../../images/go_back.png") no-repeat;
      background-size: contain;
    }
  }
}
#settingBox {
  margin-top: .5rem;
  .input-list {
    li {
      height: 2.75rem;
      line-height: 2.75rem;
      font-size: .7rem;
      label {
        font-size: .8rem;
        color: #525252;
      }
      i {
        position: relative;
        top: -.05rem;
      }
    }
  }
  .btn-wap-normal {
    display: block;
    margin: 8.4rem auto auto auto;
    padding: 0;
    width: 15rem;
    height: 2.25rem;
    line-height: 2.25rem;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    border-radius: 5rem;
    background: #FF635A;
  }
}

