.wrapper-list {
  background: #fff;
  padding: 10px 5px;
  margin-bottom:20px;
  li {
    padding: 3px 12px;
    margin-top: 15px;
    display: none;
    &:nth-child(1) {
      position: relative;
      display: block;
      margin-top: 1px;
      em {
        position: absolute;
        right:5px;
        top: 0px;
        padding: 2px 8px;
        border:1px solid #ccc;
        color: #4d4d4d;
        font-size: 12px;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        &.show-less {
          display: none;
        }
        s {
          text-decoration: none;
        }
        i {
          color: #ccc;
          font-size: 19px;
          vertical-align: middle;
          margin-top: -2px;
        }
      }
    }
    span {
      padding-right: 10px;
      display: inline-block;
      width: 85px;
    }
    a {
      color: #000;
      font-size: 12px;
      padding: 7px 13px;

      &:hover, &.active {
        color: #fff;
        background: #ffac2a;
        border-radius: 3px;
      }
    }

  }
}