@import '../common/variables';
@import '../plugins/daterangepicker';
@import "../module/coupon_alert";
@import "top-sub-menu";
@import "../module/login_tip";
////隐藏顶部菜单
//.swiper-container {
//  display: none;
//}
.layui-layer-btn {
  text-align: center !important;
  .layui-layer-btn1 {
    padding: 3px 35px;
    background: nth($CK1, 2) !important;
    border-radius: 4px;
    border: 1px solid nth($CK1, 2) !important;
    border-color: nth($CK1, 2) !important;
    letter-spacing: 3px;
    color: #fff;
  }
  .layui-layer-btn0{
    padding:3px 35px;
    color:#808080!important;
    border: 1px solid #dedede!important;
    background: #f1f1f1!important;
    border-radius: 4px;
  }
}
.main-frame{
  .layui-layer-content{
    color:#4c4c4c;
  }
}
.get-skipphone-tip{
  float:left;
  width:100%;
  height:auto;
  text-align:center;
  padding:20px 0 35px;
  display:none;
  .tip-item{
    float:left;
    width:100%;
    span{
      display:inline-block;
      margin:0 2px;
      &.skip-error{
        float:left;
        font-size:12px;
        color:#ff0000;
        margin-left: 50px;
      }
      .skip-phone-code{
        float:left;
        width:170px;
        height:30px;
        font-size:12px;
        border:1px solid #ccc;
        box-sizing:border-box;
        text-indent:1em;
      }
      .get-skip-code{
        float:left;
        width:100px;
        height:30px;
        border:1px solid #ccc;
        box-sizing:border-box;
        text-align:center;
        font-size:12px;
        color:#4c4c4c;
        background:#fafafa;
      }
      .microphone{
        float:left;
        width:30px;
        height:30px;
        background:#fafafa;
        text-align:center;
        border:1px solid #ccc;
        border-left:none;
        box-sizing:border-box;
      }
    }
    .skip-intro{
      float:right;
      font-size:12px;
      color:#4c4c4c;
      margin-right:40px;
    }
    .get-skip-btn{
      display:inline-block;
      width:250px;
      height:35px;
      line-height:35px;
      text-align:center;
      background:#ff752a;
      color:#fff;
      font-size:14px;
      border:none;
      margin:30px 0 10px;
      cursor:pointer;
      .active{
        background:#ff985d;
      }
    }
    label{
      display:inline-block;
      .skip-icon{
        display:inline-block;
        width:14px;
        height:14px;
        background:url('/images/icons/skip-checkbox.png') no-repeat center;;
        background-position: 0px 0px;
        cursor:pointer;
        vertical-align: middle;
        &.active{
          background-position: -24px 0px;
        }
      }
    }
    .skip-text{
      display:inline-block;
      font-size:12px;
      color:#4d4d4d;
      span{
        color:#999999;
        cursor:pointer;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}
.skip-success-tip{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:999999;
  display:none;
  span{
    width:290px;
    height:90px;
    line-height:90px;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-45px;
    margin-left:-145px;
    font-size:18px;
    color:#fff;
    background:rgba(0,0,0,.5);
    text-align:center;
    border-radius:10px;
    .skip-icon{
      margin-right:10px;
    }
  }
}
/* loan detail */
.transfer-detail-content {
  .detail-intro{
    float:left;
    width:998px;
    background:#fff;
    border: 1px solid #e6e6e6;
    border-radius:3px;
    .transfer-top{
      float:left;
      width:100%;
      border-bottom:1px solid #e6e6e6;
      span{
        line-height:50px;
        &.product-name{
          float:left;
          font-size:20px;
          color:#4c4c4c;
          margin-left:40px;
        }
        &.product-type{
          float:left;
          font-size:18px;
          color:#808080;
          margin-left:20px;
        }
        &.product-tip{
          float:right;
          font-size:12px;
          color:#4c4c4c;
          margin-right:30px;
        }
      }
    }
    .transfer-info{
      float:left;
      width: 570px;
      margin:10px 15px;
      padding-right: 40px;
      border-right: 1px solid #e6e6e6;
      .transfer-info-dl {
        margin-top: 20px;
        dl {
          width: 25%;
          float:left;
          color: #808080;
          font-size: 16px;
          text-align:center;
          dd {
            color: #999;
            em {
              font-size: 26px;
              color: #ff7200;
            }
            i {
              font-size: 16px;
              color: #ff7200;
            }
          }
        }
      }
      .info-detail{
        float:left;
        width:100%;
        margin-top: 20px;
        border-top:1px dashed #e6e6e6;
        padding:10px 0;
        .detail-list{
          float:left;
          width:100%;
          li{
            float:left;
            width:50%;
            span{
              float:left;
              padding-left:30px;
              font-size:12px;
              color:#808080;
            }
          }
        }
      }
    }
    .transfer-operat{
      float:left;
      width:325px;
      padding-top:10px;
      margin: 10px 15px;
      p{
        float:left;
        width:270px;
        padding:0 10px;
        font-size:14px;
        color:#4c4c4c;
        margin-bottom:5px;
        &.get-money{
          font-size:18px;
          padding:15px 10px;
          border:1px solid #efefef;
        }
        &.user-money{
          color:#7f7f7f;
          font-size:14px;
        }
        &.img-status{
          padding: 20px 10px;
          text-align: center;
        }
        &.status-text{
          font-size:16px;
        }
        .btn-pay{
          width: 100%;
        }
        span{
          &.name-text{
            float:left;
          }
          &.money-text{
            float:right;
            strong{
              color:#ff752a;
            }
          }
        }
        .invest-btn{
          width: 168px;
          margin: 10px 15px 0;
        }
        &.skip-group{
            display:inline-block;
            text-align:left;
            label{
              float:left;
              width:20px;
              .skip-icon{
                display:inline-block;
                width:14px;
                height:14px;
                background:url('/images/icons/skip-checkbox.png') no-repeat center;;
                background-position: 0px 0px;
                cursor:pointer;
                margin-top:5px;
                &.active{
                  background-position: -24px 0px;
                }
              }
              &.skip-text{
                float:left;
                width:250px;
                font-size:12px;
                color:#4d4d4d;
                a{
                  color:#999999;
                  span{
                    cursor:pointer;
                    &.check-tip{
                      display:none;
                      color:#ff2b00;
                    }
                    &:hover{
                      text-decoration: underline;
                    }
                  }
                }
              }
            }
          }
      }
    }
  }
  .detail-record{
    float:left;
    width:998px;
    background:#fff;
    margin-top:20px;
    margin-bottom:40px;
    border: 1px solid #e6e6e6;
    border-radius:3px;
    .transfer-top{
      position: relative;
      border-bottom:1px solid #e6e6e6;
      height:49px;
      ul {
        position: absolute;
        top:-1px;
        left:0;
        height:49px;
        li {
          float: left;
          display: block;
          font-size:18px;
          color:#4c4c4c;
          border-right:1px solid #e6e6e6;
          height: 100%;
          padding: 0 40px;
          line-height: 49px;
          cursor: pointer;
          &.active {
            border-bottom: 1px solid #fff;
            border-top:2px solid #ff6900;
            background: #fff;
            color: #ff6900;
            font-weight: bold;
          }
        }
      }
    }
    .old-project {
      span {
        display: inline-block;
        width:33%;
      }
    }
    .detail-record-info {
      padding: 15px 40px 15px 55px;
      line-height: 30px;
      color: #808080;
      p {
        color: #808080;
      }
      .record-title {
        margin-left:-15px;
        margin-bottom:10px;
        margin-top:10px;
        color: #333333;
        &:before {
          height: 27px;
          width: 6px;
          display: inline-block;
          background: #ff6900;
          border-radius: 10px;
          content: '';
          vertical-align: middle;
        }
        span {
          display: inline-block;
          background: #f5f5f5;
          width: 97%;
          margin-left: 10px;
          padding-left: 10px;
          line-height: 30px;
        }
      }
      .question-list {
        width:88%;
        dl {
          border:1px solid #e6e6e6;
          margin-bottom: 10px;
          dt {
            border-bottom:1px solid #e6e6e6;
            padding: 0 10px;
            background: #fafafa;
            i {
                margin-top: 6px;
                color: #ff780c;
                font-size: 16px;
            }
          }
          dd {
            padding: 5px 10px;
            line-height: 22px;
          }
        }
      }
    }
    .transfer-table{
      width:920px;
      margin-left: -15px;
      table{
        border:1px solid #e6e6e6;
        i{
          color:#0079e5;
        }
      }
    }
  }
}




@media screen and (max-width:700px) {

}
