<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/tomcat/ttsd-borrow-wrapper-consumer.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>/var/log/tomcat/ttsd-borrow-wrapper.log_%d{yyyy-MM-dd}</FileNamePattern>
            <MaxHistory>30</MaxHistory>
            <CleanHistoryOnStart>false</CleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>[${LOG_LEVEL_PATTERN:-%5p}] [%d{yyyy-MM-dd HH:mm:ss.SSS zzz}] %C{0}:%L %method - [%t] %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}</pattern>
        </encoder>
    </appender>

    <logger name="com.tuotiansudai" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>
