/*about us*/
$orange:#ff6c00;
$gray: #fafafa;
$gray2:#525252;
$gray3:#e7eaee;
$gray4:#999;
$gray5:#333333;
.marginTop20 {
  margin-top: 20px;
}
.about-us-container {
  background: #fff!important;
  padding: 10px 30px 30px 40px;
  overflow: hidden;
  @media (min-width: 701px) and (max-width: 999px) {
    padding: 0 10px;
  }
  .refer-reward-box {
    position: relative;
    img {
      width: 100%;
    }
    .detail-button {
      display: inline-block;
      padding: 4px 30px;
      font-size: 24px;
      color: #ffef00;
      background: #823700;
      position: absolute;
      left: 35%;
      bottom: 95px;
    }
  }
  p {
    font-size: 14px;
    color: #4c4c4c;
    .give-number {
      color: #ff7200;
    }
  }
  .company-info {
    .text-padding {
      padding-left: 2em;
    }

    b.text-m {
      padding-bottom: 10px;
      display: inline-block;
    }
  }
  .company-map {
    width:340px;
    height:210px;
    background: url('../images/sign/aboutus/company-map.png');
    background-size: 100%;
    float: right;
  }
  .company-img {
    width:343px;
    height:431px;
    background: url('../images/sign/aboutus/company.png') left top no-repeat;
    float: right;
  }
  .aptitude-new {
    width: 504px;
    height:294px;
    margin: 0 auto;
    margin-top: 40px;
    padding-bottom: 30px;
   ul {
     margin-left: -60px;
     li {
       float: left;
       margin-left: 60px;
     }
   }
  }
  .notice-list {
    li {
      border-bottom: 1px dotted #ccc;
      color: #4c4c4c;
      padding-top: 7px;
      position: relative;
      font-size: 14px;
      line-height: 2;

      i {
        color: #ff7200;
        padding-right: 7px;
        float: left;
      }
      a {
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 80%;
        color: #4c4c4c;
      }
      span {
        position: absolute;
        right: 0;
        top: 5px;
      }
    }
  }
  .real-attention {
    margin-top: 15px;
    margin-bottom: 15px;

    li {
      width: 50%;
      float: left;
      vertical-align: bottom;
      display: inline-block;
      i {
        border: 1px solid #ccc;
        vertical-align: bottom;
        margin-right: 15px;
        width: 204px;
        height: 204px;
        background-size: 98%;
      }

    }
  }
  .team-box {
     border-bottom: 1px solid #ccc;
     padding-bottom: 15px;
     padding-top: 15px;
     color: #4c4c4c;
     &.com-list {
       border-bottom: none;
     }
     .sign-profile {
       width:180px;
       height:220px;
       display: inline-block;
       float: left;
       margin-right: 20px;
       &.user-one {
         background: url('../images/sign/aboutus/user-one.png') left top no-repeat;
         background-size: cover;
       }
       &.user-two {
         background: url('../images/sign/aboutus/user-two.png') left top no-repeat;
         background-size: cover;
       }
       &.user-three {
         background: url('../images/sign/aboutus/user-three.png') left top no-repeat;
         background-size: cover;
       }
       &.user-four {
         background: url('../images/sign/aboutus/user-four.png') left top no-repeat;
         background-size: cover;
       }
       &.user-team1 {
         width:340px;
         height:226px;
         margin-right: 50px;
         background: url('../images/sign/aboutus/team1.png') left top no-repeat;
         background-size: cover;
       }
       &.user-team2 {
         width:340px;
         height:226px;
         margin-left: 50px;
         float: right;
         background: url('../images/sign/aboutus/team2.png') left top no-repeat;
         background-size: cover;
       }
       &.user-team3 {
         width:340px;
         height:226px;
         margin-right: 50px;
         background: url('../images/sign/aboutus/team3.png') left top no-repeat;
         background-size: cover;
       }
       &.user-team4 {
         width:340px;
         height:226px;
         margin-left: 50px;
         float: right;
         background: url('../images/sign/aboutus/team4.png') left top no-repeat;
         background-size: cover;
       }
       &.user-team5 {
         width:340px;
         height:226px;
         margin-right: 50px;
         background: url('../images/sign/aboutus/team5.jpg') left top no-repeat;
         background-size: cover;
       }
       &.photo-big01 {
         background: url('../images/sign/aboutus/photo_01.jpg') left top no-repeat;
         background-size: contain;
       }
       &.photo-big02 {
         background: url('../images/sign/aboutus/photo_02.jpg') left top no-repeat;
         background-size: contain;
       }
       &.photo-big03 {
         background: url('../images/sign/aboutus/photo_03.jpg') left top no-repeat;
         background-size: contain;
       }
       &.photo-big04 {
         background: url('../images/sign/aboutus/photo_04.jpg') left top no-repeat;
         background-size: cover;
       }
       &.photo-big05 {
         background: url('../images/sign/aboutus/photo_05.jpg') left top no-repeat;
         background-size: contain;
       }
     }
     dl {
       overflow: hidden;
       &.company-user{
         margin-top:0;
         dt{
           padding-bottom:0;
           span{
             font-size:12px;
             color:#ff7200;
             margin-left: 10px;
           }
         }
         dd {
           font-size: 12px;
         }
       }
       dt {
         font-size: 16px;
         font-weight: bold;
       }
     }
     &.last {
       border-bottom-width: 0;
     }
   }
  .common-problem {
    border-bottom: 1px solid #ccc;
    color: #4c4c4c;
    dl {
      overflow: hidden;
      padding-bottom: 20px;
      dt {
        padding-bottom: 10px;
        i {
          font-size: 14px;
        }
        span {
          font-size: 14px;
          font-weight: normal;
          cursor: pointer;
          &:hover {
            color: #ff7200;
          }
        }
      }
      dd {
        color: #808080;
        padding: 10px;
        margin: 0 0 10px 0;
        display: none;
        font-size: 12px;
        background: #fbfbfb;
        position: relative;
        border: 1px solid #efefef;
        &:before {
          position: absolute;
          top: -6px;
          left: 30px;
          content: "";
          display: block;
          width: 0;
          height: 0;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-bottom: 6px solid #efefef;
        }
        &.active {
          display: block;
        }
      }
    }
    &.last {
      border-bottom-width: 0;
    }
  }
  .com-place {
    float: left;
    width: 100%;
    li {
      float: left;
      width: 240px;
      height: 200px;
      margin-right: 15px;
      margin-bottom: 15px;
      position: relative;
      @media (min-width: 701px) and (max-width: 999px) {
        width: 46%;
        margin: 10px 2%;
        overflow: hidden;
        img {
          width: 100%;
        }
      }
      span {
        width: 100%;
        line-height: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 18px;
        color: #fff;
        text-align: center;
        background: rgba(0, 0, 0, .5)
      }
    }
  }
  .partner-list {
    float: left;
    width: 100%;
    li {
      float: left;
      width: 100%;
      padding: 20px 0;
      border-bottom: 1px dashed #ff7200;
      &:last-child {
        border-bottom: none;
      }
      p {
        float: left;
        margin-bottom: 0;
        &.icon-logo {
          width: 170px;
          height: 80px;
          border: 1px solid #e5e5e5;
          @media (min-width: 701px) and (max-width: 999px) {
            width: 20%;
            box-sizing: border-box;
          }
        }
        &.logo-one {
          background: url("../images/homepage/logo-lian.png") center center no-repeat;
        }
        &.logo-three {
          background: url("../images/homepage/logo-cfca.png") center center no-repeat;
        }
        &.partner-intro {
          width: 570px;
          margin-left: 20px;
          @media (min-width: 701px) and (max-width: 999px) {
            width: 78%;
            margin-left: 2%;
          }
          span {
            float: left;
            width: 100%;
            font-size: 12px;
            color: #808080;
            &.partner-name {
              font-size: 14px;
              color: #4c4c4c;
            }
          }
        }
      }
    }
  }
  .data-model {
    float: left;
    width: 100%;
    h3 {
      width: 100%;
      .font-right {
        float: right;
        color: $gray4;
        font-size: 12px;
      }
    }
    .font16 {
      font-size: 16px;
      color: $gray5;
      margin-bottom: 0;
    }
    .font14 {
      font-size: 14px;
      color: $gray2;
    }
    .model-container {
      float: left;
      width: 100%;
      margin-bottom: 20px;
      margin-top: 10px;
      background: #fff!important;
      &.chart-dom {
        width: 765px;
        height: 250px;
        padding-left: 20px;
      }
      .model-title {
        float: left;
        width: 100%;
        li {
          float: left;
          width: 180px;
          height: 80px;
          padding-top: 20px;
          &.model-one {
            background: #e9ecf2;
            margin-right: 100px;
            p {
              color: #1a1a1a;
            }
          }
          &.model-two {
            background: #ff9c1b;
            margin-right: 100px;
            p {
              color: #fff;
            }
          }
          &.model-three {
            background: #e9ecf2;
            p {
              color: #1a1a1a;
            }
          }
          p {
            text-align: center;
            margin-bottom: 0;
            line-height: 30px;
            font-size: 20px;
          }
        }
      }
      .table {
        border: 1px solid #b3b3b3;
        thead {
          th {
            color: #fff;
            background: #15aacd;
            border: 1px solid #b3b3b3;
          }
        }
        tbody {
          td {
            border: 1px solid #b3b3b3;
          }
        }
      }
    }
  }
}
.operational-wrap {
  background: none!important;
}
@media screen and (max-width: 700px) {

  .about-us-container {
    padding: 10px !important;

    .company-img,.aptitude-new {
      width:100%;
      background-size: 100%;
    }
    .aptitude-new {
      height:300px;
      margin-top: 10px;
      margin-bottom: 10px;
      padding-bottom: 0;
    }
    .refer-reward-box {
      .detail-button {
        position: static;
        margin: 20px auto 0 auto;
        padding: 6px 30px;
        font-size: 14px;
      }
    }

    .real-attention {
      li {
        text-align: center;
        i {
          width: 50%;
          height: 138px;
          border: 0;
          display: block;
          margin: 0 auto;
        }
      }
    }

    .company-info {
      width: 100% !important;
    }
    .team-box{

      .sign-profile {
        width: 100%!important;
        height: 420px;
        margin-left:0;
        margin-right: 0;
        float: none;

        &.user-team1 ,&.user-team2,&.user-team3,&.user-team4,&.user-team5 {
          margin:0;
          float: none;
        }

      }

    }
    .notice-list {
      li {
        a {
          width: 65%;
        }
      }
    }
    .crumb-lead {
      display: none;
    }
    .detail-content {
      img {
        width: 100%;
      }
      p {
        margin-bottom: 0;
      }
    }
    .com-place{
      li{
        width:100%;
        margin-right:0;
        img{
          width:100%;
          height: 100%;
        }
      }
    }
    .partner-list {
      li {
        p {
          &.icon-logo {
            display: none;
          }
          &.logo-one {
            background-position: -170px 0;
          }
          &.logo-two {
            background-position: 0 0;
          }
          &.partner-intro {
            width: 100%;
            margin-left: 0;
            span {
              float: left;
              width: 100%;
              font-size: 12px;
              color: #808080;
              &.partner-name {
                font-size: 14px;
                color: #4c4c4c;
              }
            }
          }
        }
      }
    }
    .data-model {
      &.cheat-model {
        overflow: hidden;
        overflow-x: scroll;
      }
      .model-container {
        .model-title {
          li {
            float: left;
            width: 33.333333%;
            height: auto;
            padding: 10px 0;
            &.model-one {
              margin-right: 0;
            }
            &.model-two {
              margin-right: 0;
            }
            p {
              font-size: 12px;
            }
          }
        }
      }
    }
  }

}

@media screen and (min-width:320px) and (max-width:350px) {

  .about-us-container{
    .aptitude-new {
      height:250px;
    }
  }

}

.section-wrap {
  box-sizing: border-box;

}
.paddingLeft {
  padding-left: 30px;
  padding-top: 30px;
}
.operater-days-wrap {
  height: 100px;
  text-align: center;
  padding-top: 30px;
  background: #fff;
  .operater-day {
    display: inline-block;
    margin: 0 auto;
    >span {
      float: left;
      height: 35px;
      line-height: 35px;
      font-size: 26px;
      text-align: center;
      color: #ff6c00;
      margin-left: 10px;
      @media screen and(max-width: 768px){
        margin-left: 5px;
      }
      &.assurance {
        font-size: 18px;
        color: #525252;
      }
      &.data-bg {
        color: #fff;
        background: $orange;
        padding-left: 8px;
        padding-right: 8px;
      }
    }
  }
}
.invest-section {
  background: #fff;
  margin-top: 8px;
}
.data-wrap {
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
  .line {
    position: absolute;
    left: 50%;
    top: 30px;
    width: 1px;
    height: 50px;
    background: #e7eaee;
  }
  ul {
    background: #fff;
    margin-bottom: 20px;
    li {
      width: 33.33%;
      &.loan {
        width: 49%;
      }
      height: 112px;
      float: left;
      box-sizing: border-box;
      padding-top: 20px;

      p {
        line-height: 36px;
        color: $gray2;
        font-size: 18px;
        @media screen and (max-width: 768px){
          font-size: 11px;
        }
        text-align: center;
        margin: 0;
        em {
          color: $orange;
          font-size: 26px;
          @media screen and (max-width: 768px){
            font-size: 14px;
          }
        }
      }
    }
  }
}

.invest-wrap {
  .data-model {
    float: left;
    width: 50% !important;
    .model-container {
      height: 300px;
    }
  }
}

.loan-title {
  padding-top: 20px;
}
.loan-section {
  background: #fff;
  margin-top: 10px;
  h4,h3 {
    padding-left: 30px;
    padding-top: 30px;
  }
}
.organizational-structure {
  width: 765px;
  margin: 0 auto;
  @media screen and (max-width:700px) {
    width: 100%;
  }
 img {
   width: 100%;
 }
  margin-bottom: 20px;
  padding-top: 10px;


}
.geographical-item {
  width: 100%;
  padding-left: 24px;
  padding-bottom: 10px;
  @media screen and (max-width: 768px){
    overflow-x: scroll;
    overflow-y:hidden;
  }
  ul {
    min-width: 610px;
    height: 100%;
    li {
      display: inline-block;
      height: 20px;
      margin-top: 25px;
      >div {
        height: 100%;
        font-size: 16px;
        color: #333;
        line-height: 20px;
        &.fl {
          float: left;
        }
        &.fr {
          float: right;
        }
        &.percent {
          width: 500px;
          margin: 0 auto;
          background: #f0f0f0;
          >span {
            display: inline-block;
            height: 100%;
            background: #ff9b1b;
          }
        }

      }
    }
  }
}
.font14 {
  font-size: 14px;
  color: $gray2;
}
.region-wrap {
  margin-bottom: 20px;
  background: #fff;
}
.marginTop20 {
  margin-top: 20px;
}
.total-view {
  margin-top: 20px;
  margin-bottom: 10px;
}
.marginBottom10 {
  margin-bottom: 10px;
}
.marginLeft10 {
  margin-left: 10px;
}


//工商信息
.business-circles {
  tr {
    td {
      padding: 9px 0 8px 0!important;
    }
    &:nth-child(even) {
      background: #fafafa;
    }
    &.scope-operation {
      .desc {
        padding-left: 70px!important;
        padding-right: 70px!important;
        text-align: left!important;
        padding-bottom: 14px!important;
      }
    }
  }

  margin-bottom: 30px;
}
//控股名单

.holding-list {
  background: #fafafa;
  padding-top: 24px;
  padding-bottom: 30px;
  clear: both;
  .line {
    float: left;
    width: 1px;
    height: 70px;
    background: #e7eaee;
    margin-top: 30px;
  }
  dl {
    float: left;
    width: 48%;
    text-align: center;
    cursor: pointer;
    dt {
      width: 66px;
      height: 66px;
      display: inline-block;
      &.one {
        background: url("../images/sign/aboutus/icon_ren .png");
      }
      &.two {
        background: url("../images/sign/aboutus/ico_muban .png");
      }
    }
    dd {

    }
  }
}

.layui-layer-title {
  text-align: center!important;
}
.name-content {
  color: #808080;
  font-size: 14px;
  text-align: left;
  strong {
    color: #333;
  }
  table {
    background: #fafafa;
    margin-top: 15px;
    td {
      border:1px solid #e7eaee;
    }
  }
}
//审计报告
.report-container {
  background: #fff!important;
  h2 {
    height: 50px;
    line-height: 50px;
    margin-top: 20px;
  }
  ul {
    li {
      width: 373px;
      height: 515px;
      float: left;
      img {
        width: 100%;
      }
    }

  }
}
//团队介绍新增从业背景
.employment-bg {
  width: 644px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 25px;
  margin-top: 30px;
  .arrow-btn {
    width: 20px;
    height: 36px;
    position: absolute;
    top: 194px;
    cursor: pointer;
    &.prevBtn {
      left: -40px;
      background: url("../images/sign/aboutus/left_btn.png") no-repeat;
    }
    &.nextBtn {
      right: -40px;
      background: url("../images/sign/aboutus/right_btn.png") no-repeat;
    }
  }
  .container-wrap {
    width: 644px;
    height: 450px;
    overflow: hidden;
    position: relative;
    ul {
      width: 1320px;
      position: absolute;
      li {
        width: 310px;
        height: 450px;
        background: #fafafa;
        float: left;
        margin-left: 20px;
        padding: 0 20px;
        box-sizing: border-box;
        &:nth-child(1){
          margin-left: 0;
        }
        .data-wrap {
          height: 280px;
        }
        h2 {
          font-size: 14px;
          color: #333;
          height: 50px;
          line-height: 50px;
          text-align: center;
        }
        .desc {
          color: #333;
          font-size: 12px;
        }
      }
    }
  }

}