body {
  font-family: Microsoft YaHei,Helvetica, sans-serif;
  font-size: 12px;
  background: #fdf3e9;
  padding:0;
  margin:0;
  line-height: 22px;
}
.hide {
  display: none;
}

@mixin triangle() {
  content: '';
  display: inline-block;
  width: 0px;
  height: 0px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  position: absolute;
  bottom: -15px;
  left: 45%;
  border-top: 15px solid #fbf3e9;
}
.clearfix:after,.clearfix:before {
  content: "";
  display: block;
  clear: both;
  line-height: 0;
  height: 0;
  font-size:0;
}
.app-logo {
  display: inline-block;
  width:60%;
  height:60px;
  background: url('../images/app-download/logo.jpg') center center no-repeat;
  background-size: contain;
}
.column-text {
  margin-top:20px;
  color: #ee7c2f;
  b {
    font-size: 17px;
    color: #3e3f50;
    display: inline-block;
  }
  p {
    font-size: 10px;
  }
  i {
    padding-top: 29px;
    display: inline-block;
    font-style: normal;
    margin-top: 10px;
    &.icon-clock {
      background: url("../images/app-download/base-clock.png") center top no-repeat;
      background-size: 50%;
    }
    &.icon-calendar {
      background: url("../images/app-download/base-calendar.png") center top no-repeat;
      background-size: 50%;
    }
    &.icon-air {
      background: url("../images/app-download/base-air.png") center top no-repeat;
      background-size: 50%;
    }
    &.icon-lock {
      background: url("../images/app-download/base-lock.png") center top no-repeat;
      background-size: 50%;
    }
    &.icon-account {
      background: url("../images/app-download/base-account.png") center top no-repeat;
      background-size: 33% 50%;
    }
    &.icon-point {
      background: url("../images/app-download/base-point.png") center top no-repeat;
      background-size: 50%;
    }
    &.icon-hand {
      background: url("../images/app-download/base-hand.png") center top no-repeat;
      background-size: 50%;
    }
  }
}
.download-header {
  text-align: center;
  padding:50px 0;
  position: relative;
  z-index: 10;
  img {
    width:50%;
  }
  .btn-download {
    width:50%;
    background: #ff5400;
    color: #fff;
    height:40px;
    line-height: 40px;
    font-size: 18px;
    display: inline-block;
    margin-top: 30px;
    text-decoration: none;

  }
}
.column-box {
  position: relative;
  &:nth-child(2n) {
    background: #fff;
    .column-text {
      color: #b2b2b2;
    }
  }
}
.bond-box {
  padding-top: 54px;
  padding-bottom: 23px;
  z-index: 2;
  .top-decorate {
    position: absolute;
    width: 100%;
    height: 100px;
    background: #fbf3e9;
    border-radius: 50%;
    top: -29%;
    left: 50%;
    transform: translateX(-50%);
    &:after {
      @include triangle();
    }
  }
  img {
    width:49%;
    float: left;
    margin-right:20px;
  }
  &:after {
    @include triangle();
    border-top: 15px solid #fff;
  }
}
.fund-box {
  img {
    width: 100%;
    margin-top: 90px;
    margin-bottom: -7px;
  }
  .column-text {
    position: absolute;
    top:20px;
    left:20px;
  }
}
.hand-invest {
  background: none!important;
  img {
    width:100%;
  }
  .column-text {
    background: rgba(29, 61, 108, 0.4);
    padding: 30px 12px;
    display: inline-block;
    position: absolute;
    top: -15px;
    right: 10px;
  }
}

.safety-account-box {
  img {
    float: right;
    width: 42%;
    margin: 30px 20px;
  }
  .column-text {
    margin-left: 20px;
    i {
      margin-right: 10px;
    }
  }
}

.point-box  {
  padding-top:20px;
  &:before {
    @include triangle();
    top: 0;
    bottom:auto;
  }
  img {
    width:35%;
    margin:10px 20px;
    float: left;
  }
}

.wechat-android {
  position: fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  text-align: right;
  background: rgba(0, 0, 0, 0.8) url("../images/app-download/wxDownload-new.png") center top no-repeat;
  
  background-size: contain;
}

@media screen and (max-width: 350px) {
  .column-text {
    transform: scale(0.7);
    margin-top: -20px;
  }
  .bond-box {
    padding-bottom:0;
    img {
      margin-top:20px;
    }
  }

  .safety-account-box .column-text {
    margin-left: -29px;
    margin-top: 7px;
  }
  .fund-box .column-text {
    top: 26px;
    left: -6px;
  }
  .point-box {
    padding-top:10px;
    .column-text {
      margin-top: -10px;
    }
  }
}

