@charset "utf-8";
.forget-phone-box {
  .re-title {
    font-size: 18px;
    color: #e64d0a;
    font-weight: bold;
    padding:30px;
  }
  .retrieve-box {
    width:420px;
    margin:0 auto;
    text-align: left;
    &.input-password-box {
      width:480px;
    }
    li {
      margin-bottom:10px;
      position: relative;
      .fetch-captcha {
        position: absolute;
        padding: 9px 6px;
        letter-spacing: 0;
        font-size: 12px;
        top: 2px;
        right: 148px;
        &:disabled {
          background: #aaa!important;
          border:1px solid #aaa!important;
        }

      }

      input[type='text'],input[type='password'] {
        color: #999;
        width: 210px;
        border: #cecece 1px solid;
        border-radius: 3px;
        padding: 9px 2px 9px 5px;
      }
      input[type="submit"] {
        margin-left: -100px;
      }

    }
  }
}

.image-captcha-dialog {
  .image-captcha-form {
    .image-captcha-inner {
      padding:20px;
      position: relative;
    }
    i {
      display: inline-block;
      position: absolute;
      left: 21px;
      top: 23px;
      z-index: 20;
    }
    input.image-captcha-text {
      width: 80%;
      border-radius: 3px;
      font-size: 15px;
      padding: 11px 6px 10px 7px;
      &.error + label.error{
        display: block!important;
      }
    }
    img.image-captcha {
      margin: 1px 24px;
      padding-top: 1px;
      width: 80px;
      height: 38px;
      border-radius: 3px;
      background: #e4e4e4;
      border: #bababa 1px solid;
      cursor: pointer;
      position: absolute;
      right: 38px;
      top: 20px;
    }
    .image-captcha-confirm {
      margin-top:25px;
    }
  }

  .image-captcha-confirm.loading {
    background: url("../images/icons/loading.gif") no-repeat center center;
    cursor: default;
    text-indent: -9999px;
    border:0px;
  }
}