.main-frame {
  width: 1000px;
  height: auto;
  margin: 20px auto;
}

.help-center-container {
  padding-bottom: 40px;

  .model-group {
    float: left;
    width: 100%;
    padding: 20px;
    margin-top: 10px;
    background: #fff;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    h3 {
      float: left;
      width: 100%;
      font-size: 22px;
      color: #4e4e4e;
      border-bottom: 1px solid #e6e6e6;
    }
    .problem-list-item {
      padding: 10px 0;
      li {
        float: left;
        width: 33.333333%;
        height: 40px;
        line-height: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        a {
          color: #808080;
          font-size: 13px;
          &:hover {
            color: #ff9000;
            -webkit-transition: all .2s;
            -moz-transition: all .2s;
            transition: all .2s;
          }
        }
      }
    }
    .model-list-item {
      float: left;
      width: 100%;
      padding: 20px 0 0;
      li {
        float: left;
        width: 20%;
        padding: 20px 0;
        text-align: center;
        box-sizing: border-box;
        border: 1px solid transparent;
        &:hover {
          box-sizing: border-box;
          border: 1px solid #e6e6e6;
          box-shadow: 0 0 15px 2px #e6e6e6;
          -webkit-transition: all .5s ease;
          -moz-transition: all .5s ease;
          transition: all .5s ease;
        }
        a {
          display: inline-block;
          .icon {
            display: inline-block;
            width: 100px;
            height: 100px;
            background: url('../images/helpcenter/model-list.png') no-repeat;
            &.icon-account {
              background-position: 0px 0px;
              background-size: 100%;
            }
            &.icon-user {
              background-position: 0px -110px;
              background-size: 100%;
            }
            &.icon-money {
              background-position: 0px -220px;
              background-size: 100%;
            }
            &.icon-product {
              background-position: 0px -330px;
              background-size: 100%;
            }
            &.icon-other {
              background-position: 0px -440px;
              background-size: 100%;
            }
          }
          p {
            font-size: 16px;
            color: #4e4e4e;
          }
        }
      }
    }
    .contact-list-item {
      float: left;
      width: 100%;
      text-align: center;
      padding: 20px 0 0;
      li {
        display:inline-block;
        width: 240px;
        padding: 25px 0;
        box-sizing: border-box;
        border: 1px solid transparent;
        &:hover {
          box-sizing: border-box;
          border: 1px solid #e6e6e6;
          box-shadow: 0 0 15px 2px #e6e6e6;
          -webkit-transition: all .5s ease;
          -moz-transition: all .5s ease;
          transition: all .5s ease;
        }
        .icon {
          display: inline-block;
          width: 45px;
          height: 45px;
          margin: 0 5px 0 15px;
          &.icon-phone {
            background: url('../images/helpcenter/icon-phone.png') no-repeat center;
          }
        }
        p {
          display: inline-block;
          width: 160px;
          text-align: left;
          margin-bottom: 0;
          span {
            float: left;
            width: 100%;
            line-height: 25px;
            &.title-text {
              font-size: 22px;
              color: #666666;
            }
            &.time-text {
              font-size: 13px;
              color: #808080;
            }
          }
        }
      }
    }
  }
}

.help-center-group {
  background: #fff;
  padding: 10px 30px 30px 40px;
  overflow: hidden;
  min-height: 400px;
  margin-bottom: 20px;
  h3 {
    line-height: 50px;
    a {
      font-size: 16px;
      color: #4c4c4c;
      &:hover {
        color: #ff7200;
      }
    }
  }
  .problem-list-group {
    float: left;
    width: 100%;
    border: 1px solid #e6e6e6;
    .problem-title-item {
      float: left;
      width: 100%;
      border-bottom: 1px solid #e6e6e6;
      span {
        display: inline-block;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        color: #4e4e4e;
        padding: 0 20px;
        text-align: center;
        cursor: pointer;
        &.active {
          color: #ff7200;
        }
      }
    }
    .problem-content-item {
      float: left;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      .list-group {
        float: left;
        width: 100%;
        display: none;
        &.active {
          display: block;
        }
        .problem-single-item {
          float: left;
          width: 100%;
          background: #fcfcfc;
          position: relative;
          padding: 10px;
          box-sizing: border-box;
          margin-bottom: 10px;
          border: 1px solid #fff;
          &:hover {
            background: #ebeff5;
          }
          &.active {
            border: 1px solid #e6e6e6;
            &:hover {
              background: #fcfcfc;
            }
            p {
              &.single-answer {
                display: block;
              }
            }
          }
          .fa {
            position: absolute;
            top: 5px;
            right: 10px;
            font-size: 30px;
            color: #b2b2b2;
          }
          p {
            font-size: 13px;
            margin-bottom: 0;
            &.single-title {
              color: #666;
            }
            &.single-answer {
              color: #999;
              display: none;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .main-frame {
    width:100%;
  }
  .main-frame .swiper-container {
    width:300%;
  }
  .main-frame .left-nav {
    width:100%;
  }
  .main-frame .left-nav li {
    float: left;
    width:150px;
  }
  .help-center-group {
    padding:10px;
    h3 a {
      font-size:12px;
    }

    .problem-list-group .problem-title-item span {
      height:35px;
      line-height: 40px;
      font-size: 14px;
    }
  }
  .help-center-container .model-group {
    .problem-list-item li {
      width:100%;
      float: none;
    }
    .model-list-item li {
      width:50%;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px){
  .main-frame {
    width:100%;
  }
}
.content-wrap {
  padding-bottom: 40px;
}
.content-title {
  height: 50px;
  line-height: 50px;
  padding-left: 20px;
  color: #ff7200;
  font-size: 16px;
  box-sizing: border-box;
  border-bottom: 1px solid #e6e6e6;
}
.content-wrap .content{
  margin-top: 22px;
  margin-left: 20px;
  background: #fcfcfc;
  border: 1px solid #e6e6e6;
  padding: 24px;
  box-sizing: border-box;
}
.solve-wrap {
  text-align: center;
  margin-top: 30px;
}
.solve-btn {
  width: 100px;
  height: 34px;
  line-height: 34px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid #e6e6e6;
  display: inline-block;
  text-indent: 25px;
  background-repeat: no-repeat;
  background-position: 15px center;
  &.resolved-btn {
    background-image: url('../images/helpcenter/icon_resoved.png');
    &.selected {
      background-image: url('../images/helpcenter/icon_resoved_selected.png');
      color: #fff;
      background-color: #ff7102;
    }
  }
  &.unsolved-btn {
    margin-left: 22px;
    background-image: url('../images/helpcenter/icon_unresolve.png');
    &.selected {
      background-image: url('../images/helpcenter/icon_unresolve_selected.png');
      color: #fff;
      background-color: #ff7102;
    }
  }

}