@charset "utf-8";
.main-frame {
  width: 100%;
  height: 580px;
  background: #f75d5d;
}
.login-submit.btn-normal {
  width: 298px!important;
}
.login-container {
  height: 430px;
  margin: 75px auto;
  text-align: center;
  font-size: 0;

   .login-app {
      display: inline-block;
      border-right-width: 0;
      background: url('../images/sign/login_wechat_pic.png') center no-repeat;
      width:610px;
      height:429px;
      background-size: contain;
      @media (min-width:701px) and (max-width:999px) {
        //display:none;
        width: 100%;
      }
    }
    .login-box {
      display: inline-block;
      vertical-align: top;
      width: 300px;
      height: 349px;
      padding: 40px 45px;
      background: #fff;
      font-size: 13px;
      text-align: left;
      h3 {
        font-size: 16px;
        color: #4d4d4d;
        font-weight: normal;
        line-height: 24px;
        margin-bottom:20px;
      }
      label {
        display: block;
        margin-top: 20px;
        input {
          border: #e5e5e5 1px solid;
          width: 280px;
          height: 28px;
          padding-left: 10px;
        }
        input.captcha {
          width: 162px;
          margin-right: 14px;
        }
        .image-captcha {
          width: 80px;
          overflow: hidden;
          height: 28px;
          cursor: pointer;
          #imageCaptcha {
            width: 100px;
            height: 40px;
          }
        }
        .name {
          width: 60px;
          text-align: left;
          line-height: 30px;
          float: left;
        }
        .name i {
          padding: 0 8px;
        }
      }
      .bottom_tip_text {
        width: 100%;
        height: 30px;
        line-height: 30px;
        .error-box {
          float: left;
          font-size: 12px;
          height: 30px;
          line-height: 30px;
          padding-top: 0;
          visibility: hidden;
          &::before {
            content: ''
          }
        }
        .tr {
         float: right;
          a {
            font-size: 12px;
            &.register {
              color: #ff6900;
            }
          }
        }
      }
      .forgot-password {
        font-size: 12px;
        a {
          color: #545353;
        }
      }
      b {
        width: 298px;
        color: #797979;
        padding-left: 20px;
        margin-left: -10px;
        margin-top: 10px;
        font-weight: normal;
        display: inline-block;
      }
    }
}

.register-container {
  height: auto;
  overflow: hidden;
  background: #fff;
  margin: 12px auto;
  border: #cecece 1px solid;
  border-radius: 3px;
  position: relative;
}


@media screen and (max-width: 700px) {
  .login-container {
    margin:0 auto!important;
    .login-app {
      width: 100%;
      height: 50%;
    }
  }
  .invest-success-phone{
    display:block;
  }
}

@media screen and (max-width: 700px){
  .main-frame {
    height: 575px;
  }
  .login-container {
    .login-box {
      padding: 0;
      width: 100%;
      height: 360px;
      text-align: center;
      h3 {
        text-align: center;
        margin-top: 20px;
      }
      label {
        display: block;
        margin-top: 20px;
        input {
          width: 80%;
          height: 28px;
          padding-left: 10px;
        }
        input.captcha {
          width: 53%;
          margin-right: 14px;
        }
        .image-captcha {
          #imageCaptcha {
            width: 23%;
            height: 40px;
          }
        }
      }
      .bottom_tip_text {
        width: 100%;
        height: 30px;
        line-height: 30px;
        .error-box {
         margin-left: 7%;
        }
        .tr {
          margin-right: 6%;
        }
      }
    }
  }
}

@media (min-width:701px) and (max-width:999px) {
  .main-frame {
    height: 789px;
  }
  .login-container {
    margin: 0 auto;
    .login-box {
      padding: 0;
      width: 100%;
      height: 360px;
      text-align: center;
      h3 {
        text-align: center;
        margin-top: 20px;
      }
      label {
        display: block;
        margin-top: 20px;
        input {
          width: 80%;
          height: 28px;
          padding-left: 10px;
        }
        input.captcha {
          width: 55%;
          margin-right: 14px;
        }
        .image-captcha {
          #imageCaptcha {
            width: 23%;
            height: 40px;
          }
        }
      }
      .bottom_tip_text {
        width: 100%;
        height: 30px;
        line-height: 30px;
        .error-box {
          margin-left: 9%;
        }
        .tr {
          margin-right: 9%;
        }
      }
    }
  }
}

#green {
  height: 20px;
  .welcome_text {
    float: left;
    @media screen and (max-width: 700px) {
      margin-left: 7%;
    }
    @media (min-width:701px) and (max-width:999px) {
      margin-left: 9%;
    }
  }
  .register {
    float: right;
    font-size: 12px;
    color: #ff6900;
    @media screen and (max-width: 700px) {
      margin-right: 7%;
    }
    @media (min-width:701px) and (max-width:999px) {
      margin-right: 9%;
    }
  }
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: #cbcbcb!important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #cbcbcb!important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #cbcbcb!important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: #cbcbcb!important;
}

@media screen and (max-width: 700px) {
  .login-submit.btn-normal {
    width: 85%!important;
    padding: 8px 6px 8px 10px;
  }
}

@media (min-width:701px) and (max-width:999px) {
  .login-submit.btn-normal {
    width: 82%!important;
    padding: 8px 6px 8px 10px;
  }
}