.invest-success-container{
  float:left;
  width:100%;
  height:300px;
  margin:60px 0 110px;
  background:#fffaf3;
  position: relative;
  .invest-text-model{
    width:510px;
    height:210px;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-105px;
    margin-left:-205px;
    .success-tip{
      float:left;
      width:60px;
      height:60px;
      margin-top:10px;
      margin-left: -80px;
      background:url("../images/icons/success-tip.png") no-repeat left top;
    }
    p{
      float:left;
      width:100%;
      margin-bottom:0;
      &.pay-tip{
        font-size:20px;
        color:#ff9c1b;
      }
      &.pay-text{
        font-size:16px;
        color:#4c4c4c;
      }
      &.pay-problem{
        font-size:16px;
        color:#808080;
        margin-top:75px;
      }
    }
  }
}
.invest-success-phone{
  display:none;
  background:#fffaf3;
  float:left;
  width:90%;
  margin:20px 5%;
  position: relative;
  .success-tip{
    position: absolute;
    top:25px;
    left:0;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: 3%;
    background:url("../images/icons/success-tip.png") no-repeat left top;
    background-size: 100%;
  }
  p{
    float:left;
    width:85%;
    margin:30px 0 0 15%;
    margin-bottom:0;
    &.pay-tip{
      font-size:16px;
      color:#ff9c1b;
    }
    &.pay-text{
      font-size:14px;
      color:#4c4c4c;
      margin-top:20px;
    }
    &.pay-problem{
      font-size:12px;
      color:#808080;
      margin-top:20px;
      margin-bottom:10px;
    }
  }
}

@media screen and (max-width: 700px) {
  .invest-success-container{
    display:none;
  }
  .invest-success-phone{
    display:block;
  }
}