.login-tip {
  float: left;
  width: 750px;
  height: 410px;
  display: none;
  position: relative; }
  @media (max-width: 700px) {
    .login-tip {
      width: 320px;
      height: auto; } }
  .login-tip .login-box {
    float: left;
    width: 290px;
    font-size: 13px;
    text-align: left;
    margin: 0 70px; }
    @media (max-width: 700px) {
      .login-tip .login-box {
        margin: 0 15px; } }
    .login-tip .login-box h3 {
      font-size: 20px;
      color: #4c4c4c;
      font-weight: normal;
      line-height: 24px;
      margin: 30px 0 10px 0; }
    .login-tip .login-box label {
      float: left;
      width: 100%;
      margin-top: 20px;
      border: #dadada 1px solid;
      box-sizing: border-box;
      position: relative; }
      .login-tip .login-box label.error {
        position: absolute;
        bottom: -23px;
        left: 0;
        margin-bottom: 0;
        border: none;
        width: 100%; }
      .login-tip .login-box label input {
        float: left;
        width: 240px;
        border: none;
        line-height: 30px; }
        .login-tip .login-box label input.captcha {
          width: 120px; }
      .login-tip .login-box label .image-captcha {
        width: 120px;
        overflow: hidden;
        height: 43px;
        cursor: pointer; }
      .login-tip .login-box label .name {
        float: left;
        width: 30px;
        height: 30px;
        text-align: left;
        margin: 5px 0 0 5px;
        background: url("/images/logintip/result_20160901.png") no-repeat; }
        .login-tip .login-box label .name.user {
          background-position: 2px 1px; }
        .login-tip .login-box label .name.pass {
          background-position: 5px -36px; }
        .login-tip .login-box label .name.capt {
          background-position: 3px -70px; }
    .login-tip .login-box .forgot-password {
      float: left;
      width: 100%;
      font-size: 12px;
      margin-top: 20px; }
      .login-tip .login-box .forgot-password .btn-normal {
        width: 100%;
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 27px; }
      .login-tip .login-box .forgot-password .fl a {
        color: #e64d0a; }
      .login-tip .login-box .forgot-password a {
        font-size: 14px;
        color: #545353; }
        .login-tip .login-box .forgot-password a.register {
          color: #e64d0a; }
  .login-tip .code-item {
    float: left;
    width: 310px;
    height: 305px;
    margin-top: 75px;
    background: url("/images/logintip/code-line.png") no-repeat;
    background-position: 0 0; }
    @media (max-width: 700px) {
      .login-tip .code-item {
        display: none; } }
    .login-tip .code-item p {
      font-size: 14px;
      color: #4c4c4c;
      text-align: center;
      margin-bottom: 0; }
      .login-tip .code-item p.code-img {
        margin: 15px 0 30px; }
  .login-tip .close-btn {
    position: absolute;
    top: 10px;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url("/images/logintip/result_20160901.png") no-repeat;
    background-position: 0 -108px; }

.coupon-alert {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999; }
  .coupon-alert .coupon-model-list {
    float: left;
    width: 590px;
    height: 546px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -273px;
    margin-left: -295px;
    background: url("/images/sign/red-bag/coupon-bag-info.png") no-repeat center;
    background-size: 80%; }
    .coupon-alert .coupon-model-list .coupon-close {
      width: 30px;
      height: 30px;
      cursor: pointer;
      position: absolute;
      top: 50px;
      right: 20px;
      background: url("../../images/sign/red-bag/coupon-close.png") no-repeat center;
      background-size: 100%; }
    .coupon-alert .coupon-model-list .coupon-text {
      width: 227px;
      height: 84px;
      position: absolute;
      top: 100px;
      left: 180px;
      text-align: center;
      color: #ec4d35;
      line-height: 84px; }
      .coupon-alert .coupon-model-list .coupon-text span.text-number {
        font-size: 40px; }
      .coupon-alert .coupon-model-list .coupon-text span.text-unit {
        font-size: 30px; }
    .coupon-alert .coupon-model-list .coupon-name {
      width: 227px;
      height: 26px;
      position: absolute;
      top: 190px;
      left: 180px;
      text-align: center;
      color: #ff752a;
      line-height: 26px;
      font-size: 20px;
      letter-spacing: 8px; }
    .coupon-alert .coupon-model-list .coupon-tip {
      width: 227px;
      position: absolute;
      top: 280px;
      left: 182px;
      text-align: center;
      color: #fbea44;
      font-size: 22px;
      line-height: 32px; }
    .coupon-alert .coupon-model-list .coupon-place {
      width: 290px;
      position: absolute;
      top: 360px;
      left: 150px;
      text-align: center;
      color: #fff9c0;
      font-size: 12px;
      line-height: 25px;
      background: rgba(0, 0, 0, 0.2);
      border-radius: 26px; }
    .coupon-alert .coupon-model-list .coupon-link {
      width: 180px;
      height: 40px;
      position: absolute;
      top: 415px;
      left: 200px;
      background: #fbea44;
      color: #f9212c;
      font-size: 18px;
      text-align: center;
      line-height: 40px;
      border-radius: 5px; }

/* project schedule progress */
.progress-bar {
  position: relative;
  top: -14px; }
  .progress-bar .p-title {
    font-size: 13px;
    color: #666;
    line-height: 1.8; }
  .progress-bar .process-percent {
    background: #e6e6e6;
    height: 4px;
    width: 65%;
    overflow: hidden;
    position: relative; }
    .progress-bar .process-percent .percent {
      width: 50px;
      position: absolute;
      height: 100%;
      background: #ff752a; }
  .progress-bar .point {
    position: absolute;
    left: 69%;
    top: 26px;
    font-size: 12px;
    color: #808080; }

.loan-tag-vip {
  background: url("/images/homepage/icon-vip.png") left -1px no-repeat;
  padding-left: 31px;
  height: 20px;
  line-height: 16px;
  color: #666;
  font-size: 12px;
  display: block; }

.full-screen {
  width: 100%;
  margin-top: 0;
  border-top: 1px solid #ff9c1b; }

.bg-screen {
  background: #fff; }

.home-page-container .label-title {
  font-size: 20px;
  color: #333;
  line-height: 45px;
  height: 45px;
  border-bottom: 1px solid #e6e6e6; }
.home-page-container .hot-more {
  float: right;
  font-size: 14px;
  color: #808080;
  line-height: 45px; }
  .home-page-container .hot-more:hover {
    text-decoration: underline;
    color: #ff752a; }
.home-page-container .icon-title {
  width: 6px;
  height: 18px;
  border-radius: 10px;
  background: #ff9c1b;
  display: inline-block;
  vertical-align: middle;
  margin: auto 15px 3px 10px; }
.home-page-container .main-column-title {
  font-size: 20px;
  color: #333;
  margin-top: 20px;
  margin-bottom: 10px; }
.home-page-container .btn-normal {
  font-size: 18px;
  padding: 8px 0px;
  width: 150px; }
  .home-page-container .btn-normal.preheat-btn {
    background: transparent;
    border: 1px solid #ff752a;
    font-size: 14px;
    color: #ff752a;
    letter-spacing: 0; }
.home-page-container .percent-number {
  color: #ff5400;
  display: block;
  text-decoration: none;
  font-size: 20px; }
  .home-page-container .percent-number i {
    font-size: 30px; }
  .home-page-container .percent-number .sign-plus {
    display: inline-block;
    margin: 0px;
    font-size: 20px;
    text-decoration: none; }
.home-page-container .duration-day {
  font-size: 30px;
  color: #4c4c4c; }
.home-page-container .target-category-box {
  display: table;
  width: 100%;
  color: #666; }
  .home-page-container .target-category-box .target-title, .home-page-container .target-category-box .transfer-title {
    display: table-header-group; }
    .home-page-container .target-category-box .target-title span, .home-page-container .target-category-box .transfer-title span {
      display: table-cell;
      font-size: 16px;
      padding: 15px 0 15px 10px;
      border-bottom: 1px solid #e6e6e6;
      box-sizing: border-box;
      width: 20%; }
      .home-page-container .target-category-box .target-title span:nth-child(1), .home-page-container .target-category-box .transfer-title span:nth-child(1) {
        padding-left: 30px;
        width: 23%; }
      .home-page-container .target-category-box .target-title span:nth-last-child(1), .home-page-container .target-category-box .transfer-title span:nth-last-child(1) {
        width: auto; }
  .home-page-container .target-category-box .transfer-title span:nth-child(1) {
    width: 23%; }
  .home-page-container .target-category-box .transfer-title span:nth-child(2) {
    width: 16%; }
  .home-page-container .target-category-box .transfer-title span:nth-child(3) {
    width: 16%; }
  .home-page-container .target-category-box .transfer-title span:nth-child(4) {
    width: 16%; }
  .home-page-container .target-category-box .transfer-title span:nth-child(5) {
    width: 10%; }
  .home-page-container .target-category-box .transfer-title span:nth-child(6) {
    width: auto; }
  .home-page-container .target-category-box .target-column-con {
    display: table-row-group;
    cursor: pointer;
    width: 100%;
    background: #fff; }
    .home-page-container .target-category-box .target-column-con:hover {
      background: rgba(255, 255, 255, 0.5); }
    .home-page-container .target-category-box .target-column-con .table-row {
      display: table-cell;
      border-bottom: 1px solid #e6e6e6;
      padding: 20px 0 20px 10px;
      box-sizing: border-box;
      font-size: 18px;
      width: 20%;
      text-align: left; }
      .home-page-container .target-category-box .target-column-con .table-row:nth-child(1) {
        padding-left: 30px;
        width: 23%; }
      .home-page-container .target-category-box .target-column-con .table-row:nth-last-child(1) {
        width: auto; }
      .home-page-container .target-category-box .target-column-con .table-row .app {
        display: none;
        text-decoration: none;
        color: #999;
        font-size: 13px; }
      .home-page-container .target-category-box .target-column-con .table-row.btn-col {
        padding-left: 0;
        text-align: right;
        padding-right: 30px; }
      .home-page-container .target-category-box .target-column-con .table-row.progress-column {
        padding-left: 10px; }
      .home-page-container .target-category-box .target-column-con .table-row .number {
        color: #4c4c4c;
        font-size: 24px; }
      .home-page-container .target-category-box .target-column-con .table-row .period {
        color: #ff752a;
        font-size: 24px; }
    .home-page-container .target-category-box .target-column-con.target-transfer-con .table-row:nth-child(1) {
      width: 23%; }
    .home-page-container .target-category-box .target-column-con.target-transfer-con .table-row:nth-child(2) {
      width: 16%; }
    .home-page-container .target-category-box .target-column-con.target-transfer-con .table-row:nth-child(3) {
      width: 16%; }
    .home-page-container .target-category-box .target-column-con.target-transfer-con .table-row:nth-child(4) {
      width: 16%; }
    .home-page-container .target-category-box .target-column-con.target-transfer-con .table-row:nth-child(5) {
      width: 10%; }
    .home-page-container .target-category-box .target-column-con.target-transfer-con .table-row:nth-child(6) {
      width: auto; }
.home-page-container .banner-box {
  height: 350px;
  width: 100%;
  overflow: hidden;
  position: relative; }
  .home-page-container .banner-box .banner-box-inner {
    height: 100%; }
  .home-page-container .banner-box .banner-img-list {
    width: 100%;
    height: 100%;
    position: relative; }
    @media (max-width: 1920px) {
      .home-page-container .banner-box .banner-img-list {
        margin-left: calc((1920px - 100%) / 2 * -1); } }
    .home-page-container .banner-box .banner-img-list li {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 1; }
      .home-page-container .banner-box .banner-img-list li:nth-child(1) {
        z-index: 2; }
      .home-page-container .banner-box .banner-img-list li a {
        width: 100%;
        height: 100%;
        display: block; }
        .home-page-container .banner-box .banner-img-list li a img.pc-img {
          height: 350px; }
      .home-page-container .banner-box .banner-img-list li.active {
        z-index: 10; }
  .home-page-container .banner-box .countNum {
    position: absolute;
    left: calc((100% - 100px) / 2 );
    bottom: 14px;
    z-index: 20; }
    .home-page-container .banner-box .countNum li {
      width: 10px;
      height: 10px;
      float: left;
      color: #fff;
      border-radius: 50%;
      background: #fff;
      text-align: center;
      margin-right: 15px;
      cursor: pointer; }
      .home-page-container .banner-box .countNum li.current {
        background: #ff7a2a;
        font-weight: bold; }
  .home-page-container .banner-box .page-width {
    height: 100%;
    position: relative; }
  .home-page-container .banner-box .register-ad-box {
    position: absolute;
    z-index: 10;
    top: -324px;
    right: 0;
    width: 280px;
    height: 300px;
    box-sizing: border-box;
    padding: 35px 35px 10px;
    background-color: rgba(0, 0, 0, 0.4);
    background: url("../../images/homepage/base-bg-transport.png") left top repeat\9;
    color: #fff; }
    .home-page-container .banner-box .register-ad-box i a {
      color: #ff752a; }
    .home-page-container .banner-box .register-ad-box .num-text {
      width: 100%;
      margin: 0 0 20px; }
      .home-page-container .banner-box .register-ad-box .num-text .percent {
        color: #ff7200;
        font-size: 40px;
        line-height: 1;
        font-weight: bold;
        margin-left: -5px; }
    .home-page-container .banner-box .register-ad-box .h-title {
      float: left;
      text-align: center;
      width: 100%;
      font-size: 18px;
      margin-bottom: 20px; }
    .home-page-container .banner-box .register-ad-box .btn-normal {
      width: 100%;
      padding: 8px 0; }
    .home-page-container .banner-box .register-ad-box i {
      float: left;
      width: 100%;
      display: block;
      padding-top: 15px; }
    .home-page-container .banner-box .register-ad-box .welcome-text {
      float: left;
      width: 100%;
      font-size: 14px;
      color: #fff;
      line-height: 12px;
      position: relative;
      margin: 0 0 20px; }
      .home-page-container .banner-box .register-ad-box .welcome-text:before {
        content: '';
        width: 48px;
        height: 1px;
        position: absolute;
        top: 7px;
        left: 0;
        background: url("../../images/homepage/icon-line.png") no-repeat center; }
      .home-page-container .banner-box .register-ad-box .welcome-text:after {
        content: '';
        width: 48px;
        height: 1px;
        position: absolute;
        top: 7px;
        right: 0;
        background: url("../../images/homepage/icon-line.png") no-repeat center; }
.home-page-container .notice-container {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #e6e6e6;
  overflow: hidden; }
  .home-page-container .notice-container h3 {
    float: left;
    width: 134px;
    font-size: 16px;
    text-align: center;
    border-right: 1px solid #e6e6e6;
    color: #999;
    background: url(../../images/homepage/icon-notice.png) left center no-repeat; }
  .home-page-container .notice-container .notice-text {
    margin-left: 134px;
    position: relative;
    height: 40px; }
    .home-page-container .notice-container .notice-text ul {
      width: 735px;
      position: absolute;
      left: 35px;
      top: 0;
      height: 100%; }
      .home-page-container .notice-container .notice-text ul a {
        color: #b2b2b2; }
        .home-page-container .notice-container .notice-text ul a:hover {
          color: #ff752a; }
    .home-page-container .notice-container .notice-text .text-href {
      color: #808080;
      float: right; }
      .home-page-container .notice-container .notice-text .text-href:hover {
        text-decoration: underline; }
.home-page-container .main-advantage {
  padding: 15px 0; }
  .home-page-container .main-advantage dl {
    text-align: center;
    font-size: 14px;
    color: #4d4d4d; }
    .home-page-container .main-advantage dl dd {
      width: 36%;
      display: inline-block;
      min-height: 88px;
      text-align: left; }
      .home-page-container .main-advantage dl dd a {
        display: inline-block;
        padding-left: 90px; }
      .home-page-container .main-advantage dl dd.guide {
        background: url(/images/homepage/icon-guide.png) left center no-repeat; }
      .home-page-container .main-advantage dl dd.risk {
        background: url(/images/homepage/icon-risk.png) left center no-repeat; }
      .home-page-container .main-advantage dl dd.assurance {
        width: 27%;
        background: url(/images/homepage/icon-assurce.png) left center no-repeat; }
      .home-page-container .main-advantage dl dd b {
        font-size: 20px;
        display: block; }
      .home-page-container .main-advantage dl dd span {
        color: #999;
        display: inline-block;
        line-height: 20px; }
.home-page-container .newer-exclusive-box .newer-experience {
  width: 340px;
  background: #fff;
  float: left;
  margin-right: 10px;
  position: relative; }
  .home-page-container .newer-exclusive-box .newer-experience:hover {
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.07), -1px -1px 8px rgba(0, 0, 0, 0.07); }
  .home-page-container .newer-exclusive-box .newer-experience .tag-icon {
    width: 56px;
    height: 75px;
    display: inline-block;
    position: absolute;
    top: -5px;
    right: 0;
    background: #fff url(../../images/homepage/icon-newer.png) right 0 no-repeat; }
  .home-page-container .newer-exclusive-box .newer-experience.hack-newbie .tag-icon {
    background: #fff url(../../images/homepage/icon-newuse.png) right 0 no-repeat; }
  .home-page-container .newer-exclusive-box .newer-experience .con-inner {
    padding: 18px 28px; }
  .home-page-container .newer-exclusive-box .newer-experience .newer-title {
    color: #333;
    font-size: 20px;
    font-weight: normal; }
    .home-page-container .newer-exclusive-box .newer-experience .newer-title span {
      color: #ff9c1b;
      font-size: 14px; }
  .home-page-container .newer-exclusive-box .newer-experience .loan-info {
    color: #666;
    margin-top: 28px;
    margin-bottom: 28px; }
    .home-page-container .newer-exclusive-box .newer-experience .loan-info li {
      line-height: 30px;
      float: left; }
      .home-page-container .newer-exclusive-box .newer-experience .loan-info li:nth-child(1) {
        width: 150px;
        border-right: 1px solid #e6e6e6; }
      .home-page-container .newer-exclusive-box .newer-experience .loan-info li:nth-child(2) {
        margin-left: 38px; }
.home-page-container .media-coverage-box {
  margin-top: 20px;
  padding: 10px 30px;
  background: #fff; }
  .home-page-container .media-coverage-box a {
    color: #666; }
    .home-page-container .media-coverage-box a:hover {
      color: #ff770f; }
  .home-page-container .media-coverage-box ul {
    background: url("/images/homepage/media.png") right top no-repeat;
    margin-top: 15px;
    margin-bottom: 15px; }
    .home-page-container .media-coverage-box ul li {
      font-size: 14px;
      color: #b2b2b2;
      padding-top: 5px;
      padding-bottom: 13px;
      position: relative;
      width: 58%; }
      .home-page-container .media-coverage-box ul li:nth-last-child(1) {
        padding-bottom: 0px; }
      .home-page-container .media-coverage-box ul li i {
        margin-right: 8px;
        color: #ff752a; }
      .home-page-container .media-coverage-box ul li time {
        position: absolute;
        right: 0;
        top: 3px; }
.home-page-container .partner-box {
  margin-top: 20px;
  padding: 10px 30px;
  background: #fff; }
  .home-page-container .partner-box .partner-list {
    margin-top: 30px; }
    .home-page-container .partner-box .partner-list li {
      float: left;
      margin-right: 80px; }
    .home-page-container .partner-box .partner-list a {
      width: 180px;
      height: 70px;
      display: inline-block;
      border: 1px solid #e6e6e6;
      text-align: center;
      position: relative; }
      .home-page-container .partner-box .partner-list a img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto; }
      .home-page-container .partner-box .partner-list a:hover {
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.07), -1px -1px 8px rgba(0, 0, 0, 0.07); }
.home-page-container .book-box-layer .layui-layer-title {
  font-size: 20px;
  color: #ff752a; }
.home-page-container .book-box-layer .book-invest-frame {
  padding: 30px; }
  .home-page-container .book-box-layer .book-invest-frame .book-invest-form {
    margin: 0 100px 0px 40px; }
  .home-page-container .book-box-layer .book-invest-frame .book-table-column .fl {
    width: 24%;
    font-size: 16px;
    color: #4c4c4c;
    text-align: right;
    padding-right: 3%; }
  .home-page-container .book-box-layer .book-invest-frame .book-table-column .fr {
    width: 73%; }
  .home-page-container .book-box-layer .book-invest-frame .book-table-column .book-invest-table {
    margin-bottom: 10px; }
    .home-page-container .book-box-layer .book-invest-frame .book-table-column .book-invest-table th {
      background: #f2f3f5; }
    .home-page-container .book-box-layer .book-invest-frame .book-table-column .book-invest-table th, .home-page-container .book-box-layer .book-invest-frame .book-table-column .book-invest-table td {
      border: 1px solid #e6e6e6;
      padding: 5px;
      color: #4c4c4c; }
      .home-page-container .book-box-layer .book-invest-frame .book-table-column .book-invest-table th label, .home-page-container .book-box-layer .book-invest-frame .book-table-column .book-invest-table td label {
        display: block;
        cursor: pointer; }
  .home-page-container .book-box-layer .book-invest-frame .book-dl {
    margin-bottom: 10px; }
    .home-page-container .book-box-layer .book-invest-frame .book-dl dt {
      float: left;
      width: 24%;
      font-size: 16px;
      color: #4c4c4c;
      text-align: right;
      padding-right: 3%; }
    .home-page-container .book-box-layer .book-invest-frame .book-dl dd {
      width: 73%;
      float: left; }
      .home-page-container .book-box-layer .book-invest-frame .book-dl dd span {
        display: block;
        border: 1px solid #e6e6e6;
        height: 35px;
        line-height: 35px;
        text-align: right;
        padding-right: 10px; }
        .home-page-container .book-box-layer .book-invest-frame .book-dl dd span input {
          float: left;
          height: 33px;
          padding: 0;
          width: 90%;
          border: 0;
          vertical-align: middle;
          text-align: center; }
    .home-page-container .book-box-layer .book-invest-frame .book-dl.book-bottom-notice {
      margin-top: 30px; }
      .home-page-container .book-box-layer .book-invest-frame .book-dl.book-bottom-notice dt {
        color: #808080; }
      .home-page-container .book-box-layer .book-invest-frame .book-dl.book-bottom-notice dd {
        color: #999999;
        font-size: 12px; }
.home-page-container .book-invest-box {
  padding: 20px 30px 20px 25px;
  margin-bottom: 10px; }
  .home-page-container .book-invest-box .book-info {
    display: inline-block;
    padding-top: 7px;
    background: url("../../images/homepage/clock-tip-s.png") left 13px no-repeat;
    display: inline-block;
    padding-left: 30px;
    font-size: 16px;
    color: #666; }

@media screen and (max-width: 700px) {
  .book-invest-box {
    padding: 10px; }
    .book-invest-box .book-invest-form {
      margin: 0; }
    .book-invest-box .book-table-column .fl {
      width: 100%;
      font-size: 13px;
      padding-right: 0;
      text-align: left; }
    .book-invest-box .book-table-column .fr {
      width: 100%; }
    .book-invest-box .book-dl {
      margin-bottom: 10px; }
      .book-invest-box .book-dl dt {
        width: 100%;
        font-size: 13px;
        padding-right: 0;
        text-align: left; }
      .book-invest-box .book-dl dd {
        width: 100%; }

  .loan-tag-vip {
    display: inline-block; }

  .back-top {
    display: none !important; }

  .page-width {
    padding-left: 6px;
    padding-right: 6px; }

  .home-page-container .book-box-layer {
    width: 98% !important;
    left: 1% !important; }
    .home-page-container .book-box-layer .layui-layer-title {
      font-size: 14px;
      color: #ff752a;
      padding-left: 10px; }
    .home-page-container .book-box-layer .book-invest-frame {
      padding: 10px; }
      .home-page-container .book-box-layer .book-invest-frame .book-invest-form {
        margin: 0; }
      .home-page-container .book-box-layer .book-invest-frame .book-table-column .fl {
        width: 100%;
        font-size: 13px;
        padding-right: 0;
        text-align: left; }
      .home-page-container .book-box-layer .book-invest-frame .book-table-column .fr {
        width: 100%; }
      .home-page-container .book-box-layer .book-invest-frame .book-dl {
        margin-bottom: 10px; }
        .home-page-container .book-box-layer .book-invest-frame .book-dl dt {
          width: 100%;
          font-size: 13px;
          padding-right: 0;
          text-align: left; }
        .home-page-container .book-box-layer .book-invest-frame .book-dl dd {
          width: 100%; }
  .home-page-container .btn-normal {
    font-size: 13px;
    padding: 8px 0px;
    width: 82px;
    border: 1px solid #ff6400 !important;
    background: #fff !important;
    color: #ff6400 !important;
    letter-spacing: 0; }
  .home-page-container .percent-number {
    text-align: center;
    font-size: 13px; }
    .home-page-container .percent-number .sign-plus {
      margin: 0px 3px; }
    .home-page-container .percent-number i {
      font-size: 20px; }
  .home-page-container .duration-day {
    font-size: 18px; }
  .home-page-container .main-advantage, .home-page-container .register-ad-box, .home-page-container .notice-container, .home-page-container .media-coverage-box, .home-page-container .partner-box {
    display: none; }
  .home-page-container .main-column-title {
    margin-top: 10px;
    font-size: 14px; }
  .home-page-container .hot-more {
    font-size: 12px; }
  .home-page-container .book-invest-box {
    padding: 5px 5px 5px 10px;
    cursor: pointer; }
    .home-page-container .book-invest-box .book-info {
      padding-left: 0;
      background: none;
      width: calc(100% - 85px);
      font-size: 13px; }
  .home-page-container .newer-exclusive-box img.fr {
    display: none; }
  .home-page-container .newer-exclusive-box .newer-experience {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px; }
    .home-page-container .newer-exclusive-box .newer-experience .con-inner {
      padding: 10px;
      position: relative; }
      .home-page-container .newer-exclusive-box .newer-experience .con-inner .btn-normal {
        position: absolute;
        right: 5px;
        top: 43px; }
    .home-page-container .newer-exclusive-box .newer-experience .newer-title {
      font-size: 15px; }
      .home-page-container .newer-exclusive-box .newer-experience .newer-title span {
        font-size: 12px; }
    .home-page-container .newer-exclusive-box .newer-experience .tag-icon {
      width: 30px;
      height: 40px;
      background-size: 100%; }
    .home-page-container .newer-exclusive-box .newer-experience.hack-newbie .tag-icon {
      background-size: 100%; }
    .home-page-container .newer-exclusive-box .newer-experience .loan-info {
      margin-top: 8px;
      margin-bottom: 5px; }
      .home-page-container .newer-exclusive-box .newer-experience .loan-info li:nth-child(1) {
        width: 36%; }
      .home-page-container .newer-exclusive-box .newer-experience .loan-info li:nth-child(2) {
        margin-left: 20px; }
  .home-page-container .banner-box {
    height: 170px; }
    .home-page-container .banner-box .banner-img-list {
      width: 100%;
      margin: 0; }
      .home-page-container .banner-box .banner-img-list li img {
        width: 100%; }
  .home-page-container .target-category-box {
    display: block; }
    .home-page-container .target-category-box .target-title, .home-page-container .target-category-box .transfer-title {
      display: none; }
    .home-page-container .target-category-box .target-column-con {
      position: relative;
      display: block;
      height: 155px;
      border-bottom: 1px solid #e6e6e6; }
      .home-page-container .target-category-box .target-column-con .table-row {
        width: auto !important;
        position: absolute;
        font-size: 15px;
        padding: 0 5px;
        border-bottom-width: 0px; }
        .home-page-container .target-category-box .target-column-con .table-row .app {
          display: block; }
        .home-page-container .target-category-box .target-column-con .table-row.btn-col {
          right: 5px;
          top: 30px;
          padding-right: 0; }
        .home-page-container .target-category-box .target-column-con .table-row.progress-column {
          left: 0;
          top: 127px;
          width: 100% !important; }
          .home-page-container .target-category-box .target-column-con .table-row.progress-column .progress-bar .p-title {
            width: 105px;
            font-size: 12px;
            float: left; }
          .home-page-container .target-category-box .target-column-con .table-row.progress-column .progress-bar .process-percent {
            width: calc(100% - 215px);
            float: left;
            margin-top: 10px;
            margin-left: 10px; }
          .home-page-container .target-category-box .target-column-con .table-row.progress-column .progress-bar .point {
            top: 0;
            left: auto;
            margin-left: 10px; }
        .home-page-container .target-category-box .target-column-con .table-row:nth-child(1) {
          left: 10px;
          top: 10px;
          line-height: 22px;
          padding-left: 0; }
        .home-page-container .target-category-box .target-column-con .table-row:nth-child(2) {
          left: 10px;
          top: 40px; }
        .home-page-container .target-category-box .target-column-con .table-row:nth-child(3) {
          left: 132px;
          top: 67px; }
      .home-page-container .target-category-box .target-column-con.target-transfer-con s {
        text-decoration: none; }
      .home-page-container .target-category-box .target-column-con.target-transfer-con .table-row:nth-child(3) {
        left: 8px;
        top: 105px; }
        .home-page-container .target-category-box .target-column-con.target-transfer-con .table-row:nth-child(3) .app {
          display: inline-block; }
        .home-page-container .target-category-box .target-column-con.target-transfer-con .table-row:nth-child(3) .number {
          font-size: 20px; }
      .home-page-container .target-category-box .target-column-con.target-transfer-con .table-row:nth-child(4) {
        display: none; }
      .home-page-container .target-category-box .target-column-con.target-transfer-con .table-row:nth-child(5) {
        left: 132px;
        top: 42px; } }
@media screen and (max-width: 350px) {
  .home-page-container .banner-box {
    height: 147px; } }

/*# sourceMappingURL=home_page_v2.css.map */