<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes,target-densitydpi=device-dpi" />
<title>绑卡成功</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="../style/base.css" rel="stylesheet">
<link href="../style/ttsd-mobile.css" rel="stylesheet">
</head>
<body>
    <div class="main">
    	<div class="img">
    		<img src="../images/bind-card-success.png" alt="">
    	</div>
		<div class="info">绑卡成功</div>
		<a href="tuotian://bindcard" class="btn-success">确认</a>
    </div>
</body>
</html>