<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.message.repository.mapper.PushMapper">

    <resultMap id="pushResultMap" type="PushModel">
        <id column="id" property="id"/>
        <result column="push_type" property="pushType"/>
        <result column="push_source" property="pushSource"/>
        <result column="content" property="content"/>
        <result column="jump_to" property="jumpTo"/>
        <result column="created_time" property="createdTime"/>
        <result column="created_by" property="createdBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="updated_by" property="updatedBy"/>
    </resultMap>

    <insert id="create" parameterType="pushModel" useGeneratedKeys="true" keyProperty="id">
        insert into push (push_type, push_source, content, jump_to, created_time, created_by, updated_time, updated_by)
        value(#{pushType}, #{pushSource}, #{content}, #{jumpTo}, #{createdTime}, #{createdBy}, #{updatedTime}, #{updatedBy})
    </insert>

    <update id="update" parameterType="pushModel">
        update push
        set
        push_type = #{pushType},
        push_source = #{pushSource},
        content = #{content},
        jump_to = #{jumpTo},
        updated_time = now(),
        updated_by = #{updatedBy}
        where id = #{id}
    </update>

    <select id="findById" parameterType="long" resultMap="pushResultMap">
        select * from push where id = #{id}
    </select>

    <delete id="deleteById" parameterType="long">
        delete from push where id = #{id}
    </delete>
</mapper>