<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.1.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- enable autowire -->
    <context:annotation-config/>

    <bean class="com.tuotiansudai.etcd.ETCDPropertySourcesPlaceholderConfigurer"/>

    <!-- enable component scanning (beware that this does not enable mapper scanning!) -->
    <context:component-scan base-package="com.tuotiansudai.cfca,com.tuotiansudai.util,com.tuotiansudai.client,
    com.tuotiansudai.rest.client"/>

    <aop:aspectj-autoproxy expose-proxy="true"/>

    <tx:annotation-driven transaction-manager="transactionManager" />

    <bean id="hikariCPDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg>
            <bean class="com.zaxxer.hikari.HikariConfig">
                <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
                <property name="jdbcUrl" value="jdbc:mysql://${common.jdbc.host}:${common.jdbc.port}/aa?useUnicode=true&amp;characterEncoding=UTF-8&amp;useSSL=false"/>
                <property name="username" value="${common.jdbc.username}"/>
                <property name="password" value="${common.jdbc.password}"/>
                <property name="minimumIdle" value="${pay.aa.minimumIdle}"/>
                <property name="maximumPoolSize" value="${pay.aa.maximumPoolSize}"/>
                <property name="idleTimeout" value="${common.jdbc.idleTimeout}"/>
                <property name="dataSourceProperties">
                    <props>
                        <prop key="cachePrepStmts">${common.jdbc.cachePrepStmts}</prop>
                        <prop key="prepStmtCacheSize">${common.jdbc.prepStmtCacheSize}</prop>
                        <prop key="prepStmtCacheSqlLimit">${common.jdbc.prepStmtCacheSqlLimit}</prop>
                    </props>
                </property>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="jobHikariCPDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg>
            <bean class="com.zaxxer.hikari.HikariConfig">
                <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
                <property name="jdbcUrl" value="jdbc:mysql://${common.jdbc.host}:${common.jdbc.port}/job_worker?useUnicode=true&amp;characterEncoding=UTF-8&amp;useSSL=false"/>
                <property name="username" value="${common.jdbc.username}"/>
                <property name="password" value="${common.jdbc.password}"/>
                <property name="minimumIdle" value="${pay.job.minimumIdle}"/>
                <property name="maximumPoolSize" value="${pay.job.maximumPoolSize}"/>
                <property name="idleTimeout" value="${common.jdbc.idleTimeout}"/>
                <property name="dataSourceProperties">
                    <props>
                        <prop key="cachePrepStmts">${common.jdbc.cachePrepStmts}</prop>
                        <prop key="prepStmtCacheSize">${common.jdbc.prepStmtCacheSize}</prop>
                        <prop key="prepStmtCacheSqlLimit">${common.jdbc.prepStmtCacheSqlLimit}</prop>
                    </props>
                </property>
            </bean>
        </constructor-arg>
    </bean>

    <bean id="anxinHikariCPDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <constructor-arg>
            <bean class="com.zaxxer.hikari.HikariConfig">
                <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
                <property name="jdbcUrl" value="jdbc:mysql://${common.jdbc.host}:${common.jdbc.port}/${anxin.jdbc.schema}?useUnicode=true&amp;characterEncoding=UTF-8&amp;useSSL=false"/>
                <property name="username" value="${anxin.jdbc.username}"/>
                <property name="password" value="${anxin.jdbc.password}"/>
                <property name="minimumIdle" value="${anxin.anxin.minimumIdle}"/>
                <property name="maximumPoolSize" value="${anxin.anxin.maximumPoolSize}"/>
                <property name="idleTimeout" value="${common.jdbc.idleTimeout}"/>
                <property name="dataSourceProperties">
                    <props>
                        <prop key="cachePrepStmts">${common.jdbc.cachePrepStmts}</prop>
                        <prop key="prepStmtCacheSize">${common.jdbc.prepStmtCacheSize}</prop>
                        <prop key="prepStmtCacheSqlLimit">${common.jdbc.prepStmtCacheSqlLimit}</prop>
                    </props>
                </property>
            </bean>
        </constructor-arg>
    </bean>

    <!-- transaction manager, use JtaTransactionManager for global tx -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="hikariCPDataSource"/>
    </bean>

    <bean id="jobStoreBuilder" class="com.tuotiansudai.quartz.JobStoreBuilder">
        <constructor-arg ref="jobHikariCPDataSource"/>
    </bean>

    <bean id="schedulerBuilder" class="com.tuotiansudai.quartz.SchedulerBuilder">
        <constructor-arg ref="jobStoreBuilder"/>
    </bean>

    <bean id="jobManager" class="com.tuotiansudai.job.JobManager">
        <constructor-arg ref="schedulerBuilder"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="hikariCPDataSource"/>
        <property name="typeAliasesPackage"
                  value="com.tuotiansudai.repository.model"/>
        <property name="configLocation" value="WEB-INF/mybatis-configuration.xml"/>
    </bean>

    <bean id="anxinSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="anxinHikariCPDataSource"/>
        <property name="typeAliasesPackage" value="com.tuotiansudai.cfca.model"/>
        <property name="configLocation" value="WEB-INF/mybatis-configuration.xml"/>
    </bean>

    <!-- scan for mappers and let them be autowired -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
        <property name="basePackage"
                  value="com.tuotiansudai.repository.mapper"/>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="sqlSessionFactoryBeanName" value="anxinSessionFactory"/>
        <property name="basePackage" value="com.tuotiansudai.cfca.mapper"/>
    </bean>

    <bean class="com.tuotiansudai.mq.config.MQProducerConfig"/>

</beans>