<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>拓天速贷-我要提现</title>
    <link rel="stylesheet" type="text/css" href="../style/index.css"/>
    <link rel="stylesheet" type="text/css" href="../style/global.css"/>
    <link rel="stylesheet" type="text/css" href="../style/footer.css"/>
    <link rel="stylesheet" type="text/css" href="../style/warningMask.css"/>
    <script src="../js/libs/require.js" defer async="true" data-main="../js/main"></script>
</head>
<body>
<div class="top"><!--top begin-->
    <div>
        <p>客服电话：400-169-1188<span>沟通时间：(9:00-18:00)</span></p>
        <ul>
            <li><a href="javascript:;">帮助中心</a></li>
            <li><a href="javascript:;">登陆</a></li>
            <li>|<a href="javascript:;">注册</a></li>
        </ul>
    </div>
</div>
<!--top end-->
<div class="nav"><!--nav begin-->
    <div class="nav-main">
        <a href="homepage.html" class="logo"> <img src="../images/logo.png" alt=""></a>
        <ul>
            <li><a href="javascript:;">首页</a></li>
            <li id="nav-mouseover"><a href="javascript:;">我要出借</a>
                <ol class="subnav">
                    <li><a href="javascript:;">新手投资</a></li>
                    <li><a href="javascript:;">普通投资</a></li>
                    <li><a href="javascript:;">加息投资</a></li>
                    <li><a href="javascript:;">定向投资</a></li>
                    <li><a href="javascript:;">债权转让</a></li>
                </ol>
            </li>
            <li><a href="javascript:;">我的账户</a></li>
            <li><a href="javascript:;">安全保障</a></li>
            <li><a href="javascript:;">拓天问答</a></li>
        </ul>
    </div>
</div>
<!--nav end-->
<div class="content"><!--content begin-->
    <ul class="email-nav">
        <li><a href="javascript:;">账户总览</a> </li>
        <li><a href="javascript:;">投资记录</a> </li>
        <li><a href="javascript:;">债权转让</a> </li>
        <li><a href="javascript:;">资金管理</a> </li>
        <li><a href="javascript:;">个人资产</a> </li>
        <li><a href="javascript:;">积分红包</a> </li>
        <li><a href="javascript:;">我们推广</a> </li>
    </ul>
    <div class="content-cash">
        <p class="p-e"><em>我要提现</em></p>
        <p class="p-f">可提现额度：<i>0.00元</i><b>(注：当日充值金额不可提现，充值未投资金额每日仅可提现10000元)</b></p>
        <div>
            <p>输入提现金额:</p>
            <input type="text" value="" id="money">元
            <span id="span-a">您现在可提现金额为0元</span>
            <span id="span-b">最小提现金额为50元</span>
            <span id="span-c">只能输入数字</span>
            <em class="em-ts">(提现手续费：3.00元)</em>
            <a href="javascript:;" class="confirm">确认提现</a>
        </div>
        <p class="p-g">如您的银行卡，已在我们的移动端使用过连连支付进行充值，更换或解绑请联系客服。</p>
        <div class="cash-description">
            <p>提现说明</p>
            <p>1.每提现一笔，提现操作手续费为3元。</p>
            <p>2.充值未投资的金额，每日最多提现（提现上限）10000元；投资回本金额的提现不受影响。</p>
            <p>3.提现操作，大行T+1日完成，小行大于T+1日完成，均受节假日影响。</p>
            <p>4.最小提现金额为50元。</p>
            <p>5.提现银行卡姓名应与实名认证身份一致，才可提现。</p>
        </div>
    </div>
</div><!--content end-->
<div class="mask" id="mask"><!--mask-->
</div><!--mask-->
<div class="bind-card"><!--bind-card begin-->
    <span class="close2">X</span>
    <h4>安全验证</h4>
    <p>您还未绑定银行卡，请您绑定银行卡！</p>
    <a href="javascript:;" class="now">立即去绑定</a>
</div><!--bind-card end-->
<div class="foot"><!--foot begin-->
    <div class="foot-main">
        <ul class="foot-about">
            <p>关于我们</p>
            <li><a href="javascript:;">公司介绍</a></li>
            <li><a href="javascript:;">安全保障</a></li>
            <li><a href="javascript:;">媒体报道</a></li>
            <li><a href="javascript:;">联系我们</a></li>
        </ul>
        <ul class="foot-help">
            <p>帮助中心</p>
            <li><a href="javascript:;">新手指引</a></li>
            <li><a href="javascript:;">网站费用</a></li>
            <li><a href="javascript:;">网站服务协议</a></li>
        </ul>
        <ol class="foot-phone">
            <span>客服电话</span>

            <p>400-169-1188<em>(沟通时间：9:00--18:00)</em></p>
            <li>客服邮箱:kefu@tuotiansudai.com</li>
            <li>地址:北京市丰台区洋桥12号天路蓝图大厦8层</li>
        </ol>
    </div>
    <div class="copyright">
        <span>拓天伟业(北京)金融信息服务有限公司 版权所有 京ICP备14008676号</span>

        <p><a href="javascript:;"></a></p>
    </div>
</div>
<!--foot end-->
</body>
</html>