<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″ />
    <title>拓天速贷-个人资料</title>
    <link rel="stylesheet" type="text/css" href="../style/index.css">
    <script src="../js/libs/require.js" defer async="true" data-main="../js/main"></script>
</head>
<body>
<div id="top"><!--top begin-->
    <div>
        <p>客服电话：400-169-1188<span>沟通时间：(9:00-18:00)</span></p>
        <ul>
            <li><a href="javascript:;">帮助中心</a></li>
            <li><a href="javascript:;">登陆</a></li>
            <li>|<a href="javascript:;">注册</a></li>
        </ul>
    </div>
</div>
<!--top end-->
<div id="nav"><!--nav begin-->
    <div class="nav_main">
        <a href="homepage.html" class="logo"> <img src="../images/logo.png" alt=""></a>
        <ul>
            <li><a href="javascript:;">首页</a></li>
            <li id="nav_mouseover"><a href="javascript:;">我要出借</a>
                <ol class="subnav">
                    <li><a href="javascript:;">新手投资</a></li>
                    <li><a href="javascript:;">普通投资</a></li>
                    <li><a href="javascript:;">加息投资</a></li>
                    <li><a href="javascript:;">定向投资</a></li>
                    <li><a href="javascript:;">债权转让</a></li>
                </ol>
            </li>
            <li><a href="javascript:;">我的账户</a></li>
            <li><a href="javascript:;">安全保障</a></li>
            <li><a href="javascript:;">拓天问答</a></li>
        </ul>
    </div>
</div>
<!--nav end-->
<div class="content"><!--content begin-->
    <ul class="email_nav">
        <li><a href="javascript:;">账户总览</a> </li>
        <li><a href="javascript:;">投资记录</a> </li>
        <li><a href="javascript:;">债权转让</a> </li>
        <li><a href="javascript:;">资金管理</a> </li>
        <li><a href="javascript:;">个人资产</a> </li>
        <li><a href="javascript:;">积分红包</a> </li>
        <li><a href="javascript:;">我们推广</a> </li>
    </ul>
    <div class="content_pcenter">
        <h3>个人资料</h3>
        <p>个人资料</p>
        <ul>
            <li><i>用 户 名</i><span>dongshao</span></li>
            <li><i>姓   名</i><span>皮**</span><em>已认证</em></li>
            <li><i>身份认证</i><span>411 *********0516</span><em>已认证</em></li>
            <li><i>手   机</i><span>186****7890</span><em>已绑定</em><b class="modify_pcenter_a">修改</b>
                <div class="change_mobile">
                    <p><em>修改手机</em><span class="pcenter_close">X</span></p>
                    <ul>
                        <li><i>手机：</i>186 **** 7890</li>
                        <li><i>验证码：</i><input type="text" value="" class="mobil_pcenter"/><a href="javascript:;" class="send_vcode">发送验证码</a> </li>
                        <input type="button" value="确认" class="sure_pcenter"/>
                    </ul>
                </div>
            </li>
            <li><i>邮   箱</i><span>绑定邮箱后，您可及时了解交易情况和拓天速贷的最新状态</span><em>已绑定</em><b class="binding_pcenter">修改</b>
                <div class="change_email">
                    <p><em>添加邮箱</em><span class="pcenter_close">X</span></p>
                    <ul>
                        <li><i>请输入邮箱:</i><input type="text" value="" class="email_pcenter"/></li>
                        <input type="button" value="添加" class="sure_pcenter"/>
                    </ul>
                </div>
            </li>
            <li><i>紧急联系人</i><span>皮东，联系电话：12345678901</span><em>已添加</em><b class="modify_pcenter_b">修改</b>
                <div class="change_content">
                    <p><em>修改紧急联系人</em><span class="pcenter_close">X</span></p>
                    <ul style="padding-top: 0px;">
                        <li><i>姓名:</i><input type="text" value="" class="email_pcenter"/></li>
                        <li><i>手机号:</i><input type="text" value="" class="email_pcenter"/></li>
                        <li><i>与你的关系:</i><input type="text" value="" class="email_pcenter"/></li>
                        <input type="button" value="修改" class="sure_change"/>
                    </ul>
                </div>
            </li>
            <li><i>密   码</i><span>******</span><em>已设置</em><b class="modify_pcenter_c">修改</b>
                <div class="change_password">
                    <p><em>修改紧急联系人</em><span class="pcenter_close">X</span></p>
                    <ul style="padding-top: 0px;">
                        <li><i>请输入原密码:</i><input type="text" value="" class="email_pcenter"/></li>
                        <li><i>请输入新密码:</i><input type="text" value="" class="email_pcenter"/></li>
                        <li><i>请确认新密码:</i><input type="text" value="" class="email_pcenter"/></li>
                        <input type="button" value="修改" class="sure_change"/>
                    </ul>
                </div>
            </li>
        </ul>
        <div class="Level">
            <span>低</span>
            <span>中</span>
            <span>高</span>
            <div><b>您的安全等级</b><i></i><em></em><strong></strong></div>
        </div>
    </div>
    <div class="pcenter_mask">

    </div>
</div><!--content end-->
<div class="mask" id="mask"><!--mask-->
</div><!--mask-->
<div class="bind_card"><!--bind_card begin-->
    <span class="close2">X</span>
    <h4>安全验证</h4>
    <p>您还未绑定银行卡，请您绑定银行卡！</p>
    <a href="javascript:;" class="now">立即去绑定</a>
</div><!--bind_card end-->
<div class="foot"><!--foot begin-->
    <div class="foot_main">
        <ul class="foot_about">
            <p>关于我们</p>
            <li><a href="javascript:;">公司介绍</a></li>
            <li><a href="javascript:;">安全保障</a></li>
            <li><a href="javascript:;">媒体报道</a></li>
            <li><a href="javascript:;">联系我们</a></li>
        </ul>
        <ul class="foot_help">
            <p>帮助中心</p>
            <li><a href="javascript:;">新手指引</a></li>
            <li><a href="javascript:;">网站费用</a></li>
            <li><a href="javascript:;">网站服务协议</a></li>
        </ul>
        <ol class="foot_phone">
            <span>客服电话</span>

            <p>400-169-1188<em>(沟通时间：9:00--18:00)</em></p>
            <li>客服邮箱:kefu@tuotiansudai.com</li>
            <li>地址:北京市丰台区洋桥12号天路蓝图大厦8层</li>
        </ol>
    </div>
    <div class="copyright">
        <span>拓天伟业(北京)金融信息服务有限公司 版权所有 京ICP备14008676号</span>

        <p><a href="javascript:;"></a></p>
    </div>
</div>
<!--foot end-->
</body>
</html>