<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″ />
    <title>拓天速贷-我要充值</title>
    <link rel="stylesheet" type="text/css" href="../style/index.css">
    <script src="../js/require.js" defer async="true" data-main="../js/main"></script>
</head>
<body>
<div id="top"><!--top begin-->
    <div>
        <p>客服电话：400-169-1188<span>沟通时间：(9:00-18:00)</span></p>
        <ul>
            <li><a href="javascript:;">帮助中心</a></li>
            <li><a href="javascript:;">登陆</a></li>
            <li>|<a href="javascript:;">注册</a></li>
        </ul>
    </div>
</div>
<!--top end-->
<div id="nav"><!--nav begin-->
    <div class="nav_main">
        <a href="homepage.html" class="logo"> <img src="../images/logo.png" alt=""></a>
        <ul>
            <li><a href="javascript:;">首页</a></li>
            <li id="nav_mouseover"><a href="javascript:;">我要出借</a>
                <ol class="subnav">
                    <li><a href="javascript:;">新手投资</a></li>
                    <li><a href="javascript:;">普通投资</a></li>
                    <li><a href="javascript:;">加息投资</a></li>
                    <li><a href="javascript:;">定向投资</a></li>
                    <li><a href="javascript:;">债权转让</a></li>
                </ol>
            </li>
            <li><a href="javascript:;">我的账户</a></li>
            <li><a href="javascript:;">安全保障</a></li>
        </ul>
    </div>
</div>
<!--nav end-->
<div class="content"><!--content begin-->
    <ul class="email_nav">
        <li><a href="javascript:;">账户总览</a> </li>
        <li><a href="javascript:;">投资记录</a> </li>
        <li><a href="javascript:;">债权转让</a> </li>
        <li><a href="javascript:;">资金管理</a> </li>
        <li><a href="javascript:;">个人资产</a> </li>
        <li><a href="javascript:;">积分红包</a> </li>
        <li><a href="javascript:;">我们推广</a> </li>
    </ul>
    <div class="content_recharge">
        <p class="p_e"><em>我要充值</em></p>
        <div class="banking">
            <h5>个人网银</h5>
            <ol>
                <p>充值银行</p>
                <li><input type="radio" name="bank" id="bank_zs"><label for="bank_zs"><img src="../images/bank_zs.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank_gs"><label for="bank_gs"><img src="../images/bank_gs.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank_ms"><label for="bank_ms"><img src="../images/bank_ms.jpg" alt=""> </label></li>
                <li class="m_right_0"><input type="radio" name="bank" id="bank_js"><label for="bank_js"><img src="../images/bank_js.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank_zg"><label for="bank_zg"><img src="../images/bank_zg.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank_pf"><label for="bank_pf"><img src="../images/bank_pf.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank_xy"><label for="bank_xy"><img src="../images/bank_xy.jpg" alt=""> </label></li>
                <li class="m_right_0"><input type="radio" name="bank" id="bank_jt"><label for="bank_jt"><img src="../images/bank_jt.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank_gd"><label for="bank_gd"><img src="../images/bank_gd.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank_yz"><label for="bank_yz"><img src="../images/bank_yz.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank_hx"><label for="bank_hx"><img src="../images/bank_hx.jpg" alt=""> </label></li>
                <li class="m_right_0"><input type="radio" name="bank" id="bank_bj"><label for="bank_bj"><img src="../images/bank_bj.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank_zx"><label for="bank_zx"><img src="../images/bank_zx.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank_wz"><label for="bank_wz"><img src="../images/bank_wz.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank_s"><label for="bank_s"><img src="../images/bank_sh.jpg" alt=""> </label></li>
                <li class="m_right_0"><input type="radio" name="bank_n" id="bank_ny"><label for="bank_ny"><img src="../images/bank_ny.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank_gf"><label for="bank_gf"><img src="../images/bank_gf.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank_dy"><label for="bank_dy"><img src="../images/bank_dy.jpg" alt=""> </label></li>
            </ol>
        </div>
        <div class="recharge_bank">
            <p>账户可用余额:<i>0.00</i>元<b>(注：项目起投金额为100的整数倍)</b></p>
            <p>输入充值金额：<input type="text" value="" class="recharge_cz">元 </p>
            <p class="p_h"><span>充值费用：<em>0.00</em> 元</span>    <span>实际支付金额：<em>0.00 </em>元</span></p>
            <a href="javascript:;" class="recharge_qr">确认充值</a>
        </div>
        <div class="cash_description">
            <p>温馨提示</p>
            <p>1、为了您的账户安全，请在充值前进行身份认证、手机绑定以及提现密码设置。</p>
            <p>2、您的账户资金将通过第三方平台进行充值。</p>
            <p>3、请注意您的银行卡充值限制，以免造成不便。</p>
            <p>4、禁止洗钱、信用卡套现、虚假交易等行为，一经发现并确认，将终止该账户的使用。</p>
            <p>5、如果充值金额没有及时到账，请联系客服。</p>
        </div>
    </div>
</div><!--content end-->
<div class="mask" id="mask"><!--mask-->
</div><!--mask-->
<div class="bind_card"><!--bind_card begin-->
    <span class="close2">X</span>
    <h4>安全验证</h4>
    <p>您还未绑定银行卡，请您绑定银行卡！</p>
    <a href="javascript:;" class="now">立即去绑定</a>
</div><!--bind_card end-->
<div class="foot"><!--foot begin-->
    <div class="foot_main">
        <ul class="foot_about">
            <p>关于我们</p>
            <li><a href="javascript:;">公司介绍</a></li>
            <li><a href="javascript:;">安全保障</a></li>
            <li><a href="javascript:;">媒体报道</a></li>
            <li><a href="javascript:;">联系我们</a></li>
        </ul>
        <ul class="foot_help">
            <p>帮助中心</p>
            <li><a href="javascript:;">新手指引</a></li>
            <li><a href="javascript:;">网站费用</a></li>
            <li><a href="javascript:;">网站服务协议</a></li>
        </ul>
        <ol class="foot_phone">
            <span>客服电话</span>

            <p>400-169-1188<em>(沟通时间：9:00--18:00)</em></p>
            <li>客服邮箱:kefu@tuotiansudai.com</li>
            <li>地址:北京市丰台区洋桥12号天路蓝图大厦8层</li>
        </ol>
    </div>
    <div class="copyright">
        <span>拓天伟业(北京)金融信息服务有限公司 版权所有 京ICP备14008676号</span>

        <p><a href="javascript:;"></a></p>
    </div>
</div>
<!--foot end-->
</body>
</html>