<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv=″X-UA-Compatible″ content=″IE=edge,chrome=1″/>
    <title>拓天速贷-我要充值</title>
    <link rel="stylesheet" type="text/css" href="../style/dest/global.css">
    <link rel="stylesheet" type="text/css" href="../style/dest/recharge.css">
    <script src="../js/libs/require.js" defer async="true" data-main="../js/main"></script>
</head>
<body>
<header class="header">
    <div class="top"><!--top begin-->
        <div>
            <p>客服电话：400-169-1188<span>沟通时间：(9:00-18:00)</span></p>
            <ul>
                <li><a href="javascript:;">帮助中心</a></li>
                <li><a href="javascript:;">登陆</a></li>
                <li>|<a href="javascript:;">注册</a></li>
            </ul>
        </div>
    </div>
    <!--top end-->
    <div class="nav"><!--nav begin-->
        <div class="nav-main">
            <a href="homepage.html" class="logo"> <img src="../images/logo.png" alt=""></a>
        </div>
    </div>
    <!--nav end-->
</header>
<!--nav end-->
<div class="content"><!--content begin-->
    <ul class="email-nav">
        <li><a href="javascript:;">账户总览</a></li>
        <li><a href="javascript:;">投资记录</a></li>
        <li><a href="javascript:;">债权转让</a></li>
        <li><a href="javascript:;">资金管理</a></li>
        <li><a href="javascript:;">个人资产</a></li>
        <li><a href="javascript:;">积分红包</a></li>
        <li><a href="javascript:;">我们推广</a></li>
    </ul>
    <div class="content-recharge">
        <p class="p-e"><em>我要充值</em></p>

        <div class="banking">
            <h5>个人网银</h5>
            <ol>
                <p>充值银行</p>
                <li><input type="radio" name="bank" id="bank-zs"><label for="bank-zs"><img
                        src="../images/recharge/bank-zs.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank-gs"><label for="bank-gs"><img
                        src="../images/recharge/bank-gs.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank-ms"><label for="bank-ms"><img
                        src="../images/recharge/bank-ms.jpg" alt=""> </label></li>
                <li class="m-right-0"><input type="radio" name="bank" id="bank-js"><label for="bank-js"><img
                        src="../images/recharge/bank-js.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank-zg"><label for="bank-zg"><img
                        src="../images/recharge/bank-zg.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank-pf"><label for="bank-pf"><img
                        src="../images/recharge/bank-pf.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank-xy"><label for="bank-xy"><img
                        src="../images/recharge/bank-xy.jpg" alt=""> </label></li>
                <li class="m-right-0"><input type="radio" name="bank" id="bank-jt"><label for="bank-jt"><img
                        src="../images/recharge/bank-jt.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank-gd"><label for="bank-gd"><img
                        src="../images/recharge/bank-gd.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank-yz"><label for="bank-yz"><img
                        src="../images/recharge/bank-yz.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank-hx"><label for="bank-hx"><img
                        src="../images/recharge/bank-hx.jpg" alt=""> </label></li>
                <li class="m-right-0"><input type="radio" name="bank" id="bank-bj"><label for="bank-bj"><img
                        src="../images/recharge/bank-bj.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank-zx"><label for="bank-zx"><img
                        src="../images/recharge/bank-zx.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank-wz"><label for="bank-wz"><img
                        src="../images/recharge/bank-wz.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank-s"><label for="bank-s"><img
                        src="../images/recharge/bank-sh.jpg" alt=""> </label></li>
                <li class="m-right-0"><input type="radio" name="bank-n" id="bank-ny"><label for="bank-ny"><img
                        src="../images/recharge/bank-ny.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank-gf"><label for="bank-gf"><img
                        src="../images/recharge/bank-gf.jpg" alt=""> </label></li>
                <li><input type="radio" name="bank" id="bank-dy"><label for="bank-dy"><img
                        src="../images/recharge/bank-dy.jpg" alt=""> </label></li>
            </ol>
        </div>
        <div class="recharge-bank">
            <p>账户可用余额:<i>0.00</i>元<b>(注：项目起投金额为100的整数倍)</b></p>

            <p>输入充值金额：<input type="text" value="" class="recharge-cz">元 </p>

            <p class="p-h"><span>充值费用：<em>0.00</em> 元</span> <span>实际支付金额：<em>0.00 </em>元</span></p>
            <a href="javascript:;" class="recharge-qr">确认充值</a>
        </div>
        <div class="cash-description">
            <p>温馨提示</p>

            <p>1、为了您的账户安全，请在充值前进行身份认证、手机绑定以及提现密码设置。</p>

            <p>2、您的账户资金将通过第三方平台进行充值。</p>

            <p>3、请注意您的银行卡充值限制，以免造成不便。</p>

            <p>4、禁止洗钱、信用卡套现、虚假交易等行为，一经发现并确认，将终止该账户的使用。</p>

            <p>5、如果充值金额没有及时到账，请联系客服。</p>
        </div>
    </div>
</div>
<!--content end-->
<div class="mask" id="mask"><!--mask-->
</div>
<!--mask-->
<div class="bind-card"><!--bind-card begin-->
    <span class="close2">X</span>
    <h4>安全验证</h4>

    <p>您还未绑定银行卡，请您绑定银行卡！</p>
    <a href="javascript:;" class="now">立即去绑定</a>
</div>
<!--bind-card end-->
<div class="footer"><!--foot begin-->
    <div class="footer-main">
        <ul class="footer-about">
            <p>关于我们</p>
            <li><a href="javascript:;">公司介绍</a></li>
            <li><a href="javascript:;">安全保障</a></li>
            <li><a href="javascript:;">媒体报道</a></li>
            <li><a href="javascript:;">联系我们</a></li>
        </ul>
        <ul class="footer-help">
            <p>帮助中心</p>
            <li><a href="javascript:;">新手指引</a></li>
            <li><a href="javascript:;">网站费用</a></li>
            <li><a href="javascript:;">网站服务协议</a></li>
        </ul>
        <ol class="footer-phone">
            <span>客服电话</span>

            <p>400-169-1188<em>(沟通时间：9:00--18:00)</em></p>
            <li>客服邮箱:kefu@tuotiansudai.com</li>
            <li>地址:北京市丰台区洋桥12号天路蓝图大厦8层</li>
        </ol>
    </div>
    <div class="copyright">
        <span>拓天伟业(北京)金融信息服务有限公司 版权所有 京ICP备14008676号</span>

        <p><a href="javascript:;"></a></p>
    </div>
</div>
<!--foot end-->
</body>
</html>