<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv=”X-UA-Compatible” content=”IE=edge,chrome=1″/>
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="../style/index.css">
    <script src="../js/require.js" defer async="true" data-main="../js/main"></script>
</head>
<body>
<div class="warning_mask"></div>
<div class="Warning"><!--Warning begin-->
    <p>警告！</p>
    <span>您的浏览器版本过低，请用IE9以上版本浏览器浏览本网站！</span>
</div>
<!--Warning end-->
<div id="top"><!--top begin-->
    <div>
        <p>客服电话：400-169-1188<span>沟通时间：(9:00-18:00)</span></p>
        <ul>
            <li><a href="javascript:;">帮助中心</a></li>
            <li><a href="javascript:;">登陆</a></li>
            <li>|<a href="javascript:;">注册</a></li>
        </ul>
    </div>
</div>
<!--top end-->
<div id="nav"><!--nav begin-->
    <div class="nav_main">
        <a href="homepage.html" class="logo"> <img src="../images/logo.png" alt=""></a>

        <p>注册</p>
        <span>已有账号，请<a href="javascript:;">登陆</a> </span>
    </div>
</div>
<!--nav end-->
<!--registered begin-->
<div class="registered">
    <ul>
        <li class="reg_one"><a href="javascript:;"><span>1</span>注册</a></li>
        <li class="reg_two"><a href="javascript:;"><span>2</span>实名验证</a></li>
        <li class="reg_three"><a href="javascript:;"><span>3</span>充值投资</a></li>
    </ul>
    <div class="step_one">
        <ol>
            <form>
                <li class="step_one_phone"><input type="text" placeholder="请输入您的手机号"
                                                  class="phone"/><b>手机号不能为空！</b><em></em><strong></strong></li>
                <li class="step_two_verCode"><input type="text" placeholder="请输入验证码" class="vcode"/>
                    <span class="send_vcode">获取验证码</span><b>验证码不能为空</b><em></em><strong></strong></li>
                <li class="step_three_password"><input type="password" placeholder="请输入6-16位字母、数字密码组合" class="password"/> <b>密码不能为空</b><em></em></li>
                <li class="step_four_email"><input type="text" placeholder="请输入邮箱" class="email"/><b>邮箱不能为空</b><em></em><strong></strong>
                </li>
                <li class="step_five_user"><input type="text" placeholder="请输入推荐人用户（选填）"
                                                  class="user"/><b>没有这个用户！</b><em></em><strong></strong></li>
            </form>
        </ol>
        <a href="javascript:;" class="next_reg">下一步</a>

        <p><input type="checkbox" class="check_input">同意拓天速贷<span class="reg_show"> 《服务协议》</span></p>
    </div>
    <div class="step_two">
        <p><span>姓名：</span><input type="text" value=""></p>

        <p class="vcard"><span>身份证号：</span><input type="text" value="" class="idcard"/><b>身份证号输入错误！</b><em></em></p>
        <a href="javascript:;">下一步</a>
    </div>
    <div></div>
</div>
<div class="reg_mask"></div>
<div class="areen">
    <h3>拓天速贷服务协议</h3>

    <p>央广网北京6月11日消息（记者刘乐）中共中央总书记、国家主席习近平11日在人民大会堂会见了由主席昂山素季率领的缅甸全国民主联盟代表团。</p>

    <p>习近平指出，中缅是亲密友好的邻居。建交65年来，中缅传统友谊历经风雨从未改变，各领域务实合作成果丰富，成为休戚与共的利益共同体和命运共同体。这是两国历代领导人和两国人民共同努力的结果，要倍加珍惜。</p>

    <p>
        习近平强调，中方始终从战略高度和长远角度看待中缅关系，支持缅甸维护主权独立和领土完整，尊重缅甸自主选择发展道路，支持缅甸民族和解进程，坚定不移推进中缅传统友好和务实合作。希望并且相信，缅方在中缅关系问题上的立场也将是一贯的，无论国内形势如何变化，都将积极致力于推动中缅友好关系发展。</p>

    <p>央广网北京6月11日消息（记者刘乐）中共中央总书记、国家主席习近平11日在人民大会堂会见了由主席昂山素季率领的缅甸全国民主联盟代表团。</p>

    <p>习近平指出，中缅是亲密友好的邻居。建交65年来，中缅传统友谊历经风雨从未改变，各领域务实合作成果丰富，成为休戚与共的利益共同体和命运共同体。这是两国历代领导人和两国人民共同努力的结果，要倍加珍惜。</p>

    <p>
        习近平强调，中方始终从战略高度和长远角度看待中缅关系，支持缅甸维护主权独立和领土完整，尊重缅甸自主选择发展道路，支持缅甸民族和解进程，坚定不移推进中缅传统友好和务实合作。希望并且相信，缅方在中缅关系问题上的立场也将是一贯的，无论国内形势如何变化，都将积极致力于推动中缅友好关系发展。</p>

    <p>央广网北京6月11日消息（记者刘乐）中共中央总书记、国家主席习近平11日在人民大会堂会见了由主席昂山素季率领的缅甸全国民主联盟代表团。</p>

    <p>习近平指出，中缅是亲密友好的邻居。建交65年来，中缅传统友谊历经风雨从未改变，各领域务实合作成果丰富，成为休戚与共的利益共同体和命运共同体。这是两国历代领导人和两国人民共同努力的结果，要倍加珍惜。</p>

    <p>
        习近平强调，中方始终从战略高度和长远角度看待中缅关系，支持缅甸维护主权独立和领土完整，尊重缅甸自主选择发展道路，支持缅甸民族和解进程，坚定不移推进中缅传统友好和务实合作。希望并且相信，缅方在中缅关系问题上的立场也将是一贯的，无论国内形势如何变化，都将积极致力于推动中缅友好关系发展。</p>

    <p>央广网北京6月11日消息（记者刘乐）中共中央总书记、国家主席习近平11日在人民大会堂会见了由主席昂山素季率领的缅甸全国民主联盟代表团。</p>

    <p>习近平指出，中缅是亲密友好的邻居。建交65年来，中缅传统友谊历经风雨从未改变，各领域务实合作成果丰富，成为休戚与共的利益共同体和命运共同体。这是两国历代领导人和两国人民共同努力的结果，要倍加珍惜。</p>

    <p>
        习近平强调，中方始终从战略高度和长远角度看待中缅关系，支持缅甸维护主权独立和领土完整，尊重缅甸自主选择发展道路，支持缅甸民族和解进程，坚定不移推进中缅传统友好和务实合作。希望并且相信，缅方在中缅关系问题上的立场也将是一贯的，无论国内形势如何变化，都将积极致力于推动中缅友好关系发展。</p>

    <p>央广网北京6月11日消息（记者刘乐）中共中央总书记、国家主席习近平11日在人民大会堂会见了由主席昂山素季率领的缅甸全国民主联盟代表团。</p>

    <p>习近平指出，中缅是亲密友好的邻居。建交65年来，中缅传统友谊历经风雨从未改变，各领域务实合作成果丰富，成为休戚与共的利益共同体和命运共同体。这是两国历代领导人和两国人民共同努力的结果，要倍加珍惜。</p>

    <p>
        习近平强调，中方始终从战略高度和长远角度看待中缅关系，支持缅甸维护主权独立和领土完整，尊重缅甸自主选择发展道路，支持缅甸民族和解进程，坚定不移推进中缅传统友好和务实合作。希望并且相信，缅方在中缅关系问题上的立场也将是一贯的，无论国内形势如何变化，都将积极致力于推动中缅友好关系发展。</p>

    <p>央广网北京6月11日消息（记者刘乐）中共中央总书记、国家主席习近平11日在人民大会堂会见了由主席昂山素季率领的缅甸全国民主联盟代表团。</p>

    <p>习近平指出，中缅是亲密友好的邻居。建交65年来，中缅传统友谊历经风雨从未改变，各领域务实合作成果丰富，成为休戚与共的利益共同体和命运共同体。这是两国历代领导人和两国人民共同努力的结果，要倍加珍惜。</p>

    <p>
        习近平强调，中方始终从战略高度和长远角度看待中缅关系，支持缅甸维护主权独立和领土完整，尊重缅甸自主选择发展道路，支持缅甸民族和解进程，坚定不移推进中缅传统友好和务实合作。希望并且相信，缅方在中缅关系问题上的立场也将是一贯的，无论国内形势如何变化，都将积极致力于推动中缅友好关系发展。</p>

    <p>央广网北京6月11日消息（记者刘乐）中共中央总书记、国家主席习近平11日在人民大会堂会见了由主席昂山素季率领的缅甸全国民主联盟代表团。</p>

    <p>习近平指出，中缅是亲密友好的邻居。建交65年来，中缅传统友谊历经风雨从未改变，各领域务实合作成果丰富，成为休戚与共的利益共同体和命运共同体。这是两国历代领导人和两国人民共同努力的结果，要倍加珍惜。</p>

    <p>
        习近平强调，中方始终从战略高度和长远角度看待中缅关系，支持缅甸维护主权独立和领土完整，尊重缅甸自主选择发展道路，支持缅甸民族和解进程，坚定不移推进中缅传统友好和务实合作。希望并且相信，缅方在中缅关系问题上的立场也将是一贯的，无论国内形势如何变化，都将积极致力于推动中缅友好关系发展。</p>

    <p>央广网北京6月11日消息（记者刘乐）中共中央总书记、国家主席习近平11日在人民大会堂会见了由主席昂山素季率领的缅甸全国民主联盟代表团。</p>

    <p>习近平指出，中缅是亲密友好的邻居。建交65年来，中缅传统友谊历经风雨从未改变，各领域务实合作成果丰富，成为休戚与共的利益共同体和命运共同体。这是两国历代领导人和两国人民共同努力的结果，要倍加珍惜。</p>

    <p>
        习近平强调，中方始终从战略高度和长远角度看待中缅关系，支持缅甸维护主权独立和领土完整，尊重缅甸自主选择发展道路，支持缅甸民族和解进程，坚定不移推进中缅传统友好和务实合作。希望并且相信，缅方在中缅关系问题上的立场也将是一贯的，无论国内形势如何变化，都将积极致力于推动中缅友好关系发展。</p>
</div>
<!--registered end-->
<div class="foot"><!--foot begin-->
    <div class="foot_main">
        <ul class="foot_about">
            <p>关于我们</p>
            <li><a href="javascript:;">公司介绍</a></li>
            <li><a href="javascript:;">安全保障</a></li>
            <li><a href="javascript:;">媒体报道</a></li>
            <li><a href="javascript:;">联系我们</a></li>
        </ul>
        <ul class="foot_help">
            <p>帮助中心</p>
            <li><a href="javascript:;">新手指引</a></li>
            <li><a href="javascript:;">网站费用</a></li>
            <li><a href="javascript:;">网站服务协议</a></li>
        </ul>
        <ol class="foot_phone">
            <span>客服电话</span>

            <p>400-169-1188<em>(沟通时间：9:00--18:00)</em></p>
            <li>客服邮箱:kefu@tuotiansudai.com</li>
            <li>地址:北京市丰台区洋桥12号天路蓝图大厦8层</li>
        </ol>
    </div>
    <div class="copyright">
        <span>拓天伟业(北京)金融信息服务有限公司 版权所有 京ICP备14008676号</span>

        <p><a href="javascript:;"></a></p>
    </div>
</div>
<!--foot end-->
</body>
</html>