[class^='sprite-homepage-'], [class*=' sprite-homepage-'] { background-image:url('./homepage.png'); }
.sprite-homepage-media { background-position:-1px -1px; width:360px; height:229px; }
.sprite-homepage-icon-assurce { background-position:-1px -232px; width:82px; height:88px; }
.sprite-homepage-icon-guide { background-position:-85px -232px; width:82px; height:88px; }
.sprite-homepage-icon-risk { background-position:-169px -232px; width:82px; height:88px; }
.sprite-homepage-icon-newuse { background-position:-253px -232px; width:56px; height:75px; }
