[class^='sprite-'], [class*=' sprite-'] { background-image:url('./homepage.png'); }
.sprite-icon-assurce { background-position:-5px -5px; width:82px; height:88px; }
.sprite-icon-guide { background-position:-97px -5px; width:82px; height:88px; }
.sprite-icon-risk { background-position:-189px -5px; width:82px; height:88px; }
.sprite-icon-newer { background-position:-5px -103px; width:56px; height:75px; }
.sprite-icon-newuse { background-position:-71px -103px; width:56px; height:75px; }
