<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.activity.repository.mapper.ActivityInvestMapper">

    <resultMap id="activityInvestResultMap" type="com.tuotiansudai.activity.repository.model.ActivityInvestModel">
        <id column="id" property="id"></id>
        <result column="loan_id" property="loanId"></result>
        <result column="invest_id" property="investId"></result>
        <result column="login_name" property="loginName"></result>
        <result column="user_name" property="userName"></result>
        <result column="mobile" property="mobile"></result>
        <result column="invest_amount" property="investAmount"></result>
        <result column="annualized_amount" property="annualizedAmount"></result>
        <result column="activity_name" property="activityName"></result>
        <result column="created_time" property="createdTime"></result>

    </resultMap>

    <resultMap id="activityInvestView" type="com.tuotiansudai.activity.repository.model.ActivityInvestView">
        <result column="login_name" property="loginName"/>
        <result column="sumAmount" property="sumAmount"/>
        <result column="user_name" property="userName"/>
        <result column="mobile" property="mobile"/>
    </resultMap>

    <insert id="create" parameterType="activityInvestModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `edxactivity`.`activity_invest`
        (`loan_id`,
        `invest_id`,
        `login_name`,
        `user_name`,
        `mobile`,
        `invest_amount`,
        `annualized_amount`,
        `activity_name`,
        `created_time`)
        VALUES(#{loanId},#{investId},#{loginName},#{userName},#{mobile},#{investAmount},#{annualizedAmount},#{activityName},#{createdTime})
    </insert>

    <select id="sumAmountByNameDateAndActivity" parameterType="map" resultMap="activityInvestView">
        SELECT
        ai.login_name,
        SUM(ai.invest_amount) sumAmount,
        ai.user_name,
        ai.mobile
        FROM
        activity_invest ai
        <where>
            <if test="startTime !=null">
                AND ai.created_time >= #{startTime}
            </if>
            <if test="endTime !=null">
                AND ai.created_time &lt;= #{endTime}
            </if>
            <if test="activityName !=null">
                AND ai.activity_name=#{activityName}
            </if>
        </where>
        GROUP BY ai.login_name , ai.user_name , ai.mobile
        ORDER BY sumAmount DESC , MAX(ai.created_time)
    </select>

    <select id="findAllByActivityLoginNameAndTime" parameterType="map" resultMap="activityInvestResultMap">
        select * from activity_invest
        where login_name = #{loginName}
        and created_time BETWEEN #{startTime} and #{endTime}
        and activity_name=#{activityName}
        order by created_time desc
    </select>

    <select id="sumInvestAmountByActivityLoginNameAndTime" parameterType="map" resultType="long">
        select IFNULL(SUM(invest_amount),0) from activity_invest
        where login_name = #{loginName}
        and created_time BETWEEN #{startTime} and #{endTime}
        and activity_name=#{activityName}
    </select>

    <select id="findByLoanIdAndActivity" parameterType="map" resultMap="activityInvestResultMap">
        SELECT * FROM activity_invest WHERE loan_id = #{loanId} and activity_name=#{activityName}
    </select>

    <select id="findByUserNameOrMobile" parameterType="map" resultMap="activityInvestResultMap">
        SELECT * from activity_invest where activity_name=#{activityName} and created_time BETWEEN #{startTime} and #{endTime}
        <if test="keyWord !=null and keyWord !=''">
            and user_name = #{keyWord} or mobile = #{keyWord}
        </if>
        ORDER by created_time desc
    </select>

</mapper>