<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.activity.repository.mapper.ActivityMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache"/>

    <resultMap id="activityResultMap" type="com.tuotiansudai.activity.repository.model.ActivityModel">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="web_activity_url" property="webActivityUrl"/>
        <result column="app_activity_url" property="appActivityUrl"/>
        <result property="jumpToLink" column="jump_to_Link"/>
        <result column="description" property="description"/>
        <result column="web_picture_url" property="webPictureUrl"/>
        <result column="app_picture_url" property="appPictureUrl"/>
        <result column="app_vertical_picture_url" property="appVerticalPictureUrl"/>
        <result column="activated_time" property="activatedTime"/>
        <result column="expired_time" property="expiredTime"/>
        <result column="source" property="source"
                typeHandler="com.tuotiansudai.util.mybatis.SourceListTypeHandler"/>
        <result column="status" property="status"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_by" property="updatedBy"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="activated_by" property="activatedBy"/>
        <result column="share_title" property="shareTitle"/>
        <result column="share_content" property="shareContent"/>
        <result column="share_url" property="shareUrl"/>
        <result column="seq" property="seq"/>
        <result column="long_term" property="longTerm"/>
    </resultMap>

    <insert id="create" parameterType="ActivityModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `edxactivity`.`activity`
        (title, web_activity_url, app_activity_url, app_vertical_picture_url, jump_to_link, description, web_picture_url, app_picture_url, activated_time,
        expired_time, source, status, created_by, created_time, updated_by, updated_time, activated_by,share_title,
        share_content,share_url,seq,long_term)
        VALUES
        (#{title}, #{webActivityUrl}, #{appActivityUrl}, #{appVerticalPictureUrl}, #{jumpToLink}, #{description}, #{webPictureUrl}, #{appPictureUrl}, #{activatedTime},
        #{expiredTime}, #{source,typeHandler=com.tuotiansudai.util.mybatis.SourceListTypeHandler}, #{status}, #{createdBy}, #{createdTime}, #{updatedBy},#{updatedTime}, #{activatedBy},
        #{shareTitle},#{shareContent},#{shareUrl},#{seq},#{longTerm})
    </insert>

    <update id="update" parameterType="ActivityModel">
        UPDATE `edxactivity`.`activity`
        SET
        title = #{title},
        web_activity_url = #{webActivityUrl},
        app_activity_url = #{appActivityUrl},
        jump_to_link = #{jumpToLink},
        description = #{description},
        web_picture_url = #{webPictureUrl},
        app_picture_url = #{appPictureUrl},
        app_vertical_picture_url = #{appVerticalPictureUrl},
        activated_time = #{activatedTime},
        expired_time = #{expiredTime},
        source = #{source,typeHandler=com.tuotiansudai.util.mybatis.SourceListTypeHandler},
        status = #{status},
        created_by = #{createdBy},
        created_time = #{createdTime},
        updated_by = #{updatedBy},
        updated_time = #{updatedTime},
        activated_by = #{activatedBy},
        share_title = #{shareTitle},
        share_content = #{shareContent},
        share_url = #{shareUrl},
        seq = #{seq},
        long_term = #{longTerm}
        WHERE
        id = #{id}
    </update>

    <select id="findById" resultMap="activityResultMap">
        SELECT * FROM `edxactivity`.`activity` WHERE id = #{id}
    </select>

    <select id="findAllActivities" resultMap="activityResultMap" parameterType="map">
        SELECT * FROM `edxactivity`.`activity`
        <where>
            <if test="startTime != null">
                AND (activated_time &gt;= #{startTime} OR activated_time is null)
            </if>
            <if test="endTime != null">
                AND (activated_time &lt;= #{endTime}  OR activated_time is null)
            </if>
            <if test="activityStatus != null and activityStatus.name() == 'OPERATING'">
                AND status = 'APPROVED' AND expired_time &gt; now()
            </if>
            <if test="activityStatus != null and activityStatus.name() == 'EXPIRED'">
                AND expired_time &lt; now()
            </if>
            <if test="activityStatus != null and activityStatus.name() != 'OPERATING' and activityStatus.name() != 'EXPIRED'">
                AND status = #{activityStatus}
            </if>
            <if test="source != null">
                AND source like CONCAT('%', #{source}, '%')
            </if>
        </where>
        order by activated_time desc
    </select>

    <select id="findActiveActivities" resultMap="activityResultMap">
        SELECT * FROM `edxactivity`.`activity`
        WHERE
        status = 'APPROVED'
        <if test="source != null">
            AND source like CONCAT('%', #{source}, '%')
        </if>
        order by seq ASC ,updated_time DESC
        LIMIT #{index}, #{pageSize}
    </select>

    <select id="findActivity" resultMap="activityResultMap" parameterType="map">
        SELECT * FROM `edxactivity`.`activity`
        <where>
            <if test="beginExpiredTime != null">
                AND expired_time &gt;= #{beginExpiredTime}
            </if>
            <if test="endExpiredTime != null">
                AND expired_time &lt;= #{endExpiredTime}
            </if>
            <if test="activityStatus!=null">
                AND status = #{activityStatus}
            </if>
            <if test="source != null">
                AND source like CONCAT('%', #{source}, '%')
            </if>
            <if test="longTerm == 'true'">
                OR long_term = 1 and status = 'APPROVED'
            </if>
        </where>
        order by seq ASC ,updated_time DESC
        LIMIT #{index}, #{pageSize}
    </select>

    <select id="countActivity" resultType="java.lang.Integer">
        SELECT count(1) FROM `edxactivity`.`activity`
        <where>
            <if test="beginExpiredTime != null">
                AND expired_time &gt;= #{beginExpiredTime}
            </if>
            <if test="endExpiredTime != null">
                AND expired_time &lt;= #{endExpiredTime}
            </if>
            <if test="activityStatus!=null">
                AND status = #{activityStatus}
            </if>
            <if test="source != null">
                AND source like CONCAT('%', #{source}, '%')
            </if>
            <if test="longTerm == 'true'">
                OR long_term = 1 and status = 'APPROVED'
            </if>
        </where>
    </select>

</mapper>