<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.activity.repository.mapper.BannerMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache"/>

    <resultMap id="bannerResultMap" type="BannerModel">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="web_image_url" property="webImageUrl"/>
        <result column="app_image_url" property="appImageUrl"/>
        <result column="url" property="url"/>
        <result column="app_url" property="appUrl"/>
        <result property="jumpToLink" column="jump_to_link"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="shared_url" property="sharedUrl"/>
        <result column="source" property="source" typeHandler="com.tuotiansudai.util.mybatis.SourceListTypeHandler"/>
        <result column="authenticated" property="authenticated"/>
        <result column="order" property="order"/>
        <result column="created_by" property="createdBy"/>
        <result column="created_time" property="createdTime"/>
        <result column="activated_by" property="activatedBy"/>
        <result column="activated_time" property="activatedTime"/>
        <result column="deactivated_by" property="deactivatedBy"/>
        <result column="deactivated_time" property="deactivatedTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <insert id="create" parameterType="BannerModel" useGeneratedKeys="true" keyProperty="id">
        insert into banner (`name`,`web_image_url`,`app_image_url`,`url`,`app_url`,`jump_to_link`, `title`,`content`,`shared_url`,`source`,`authenticated`,`order`,`created_by`,`created_time`,`activated_by`,`activated_time`,`deactivated_by`,`deactivated_time`,`deleted`)
        values (#{name},#{webImageUrl},#{appImageUrl},#{url},#{appUrl},#{jumpToLink},#{title},#{content},#{sharedUrl},#{source,typeHandler=com.tuotiansudai.util.mybatis.SourceListTypeHandler},#{authenticated},#{order},#{createdBy},now(),#{activatedBy},#{activatedTime},#{deactivatedBy},#{deactivatedTime},false)
    </insert>

    <select id="findBannerIsAuthenticatedOrderByOrder" resultMap="bannerResultMap">
        select * from banner
        where deleted = '0'
        and now() BETWEEN activated_time and deactivated_time
        <if test="authenticated != null and !authenticated">
            and authenticated = #{authenticated}
        </if>

        <if test="source != null">
            and source like CONCAT(CONCAT('%', #{source}), '%')
        </if>
        order by banner.order
    </select>

    <update id="updateBanner" parameterType="BannerModel">
        update banner set
        `name` = #{name},
        `web_image_url` = #{webImageUrl},
        `app_image_url` = #{appImageUrl},
        `url` = #{url},
        `app_url` = #{appUrl},
        `jump_to_link` = #{jumpToLink},
        `title` = #{title},
        `shared_url` = #{sharedUrl},
        `content` = #{content},
        `source` = #{source,typeHandler=com.tuotiansudai.util.mybatis.SourceListTypeHandler},
        `authenticated` = #{authenticated},
        `order` = #{order},
        `activated_by` = #{activatedBy},
        `activated_time` = #{activatedTime},
        `deactivated_by` = #{deactivatedBy},
        `deactivated_time` = #{deactivatedTime},
        `deleted` = #{deleted}
        where `id` = #{id}
    </update>

    <select id="findById" parameterType="map" resultMap="bannerResultMap">
        select * from banner where `id` = #{id}
    </select>

    <select id="findAllBannerList" parameterType="map" resultMap="bannerResultMap">
        select * from banner
        where `deleted` is FALSE
        order by `deactivated_time` desc, `order` asc
    </select>

</mapper>