<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.activity.repository.mapper.UserLotteryPrizeMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache" />

    <resultMap id="userLotteryPrizeModel" type="com.tuotiansudai.activity.repository.model.UserLotteryPrizeModel">
        <id column="id" property="id"></id>
        <result column="mobile" property="mobile"></result>
        <result column="login_name" property="loginName"></result>
        <result column="user_name" property="userName"></result>
        <result column="prize" property="prize"></result>
        <result column="lottery_time" property="lotteryTime"></result>
        <result column="activity_category" property="activityCategory"></result>
    </resultMap>

    <resultMap id="userLotteryPrizeView" type="com.tuotiansudai.activity.repository.model.UserLotteryPrizeView">
        <result column="mobile" property="mobile"></result>
        <result column="user_name" property="userName"></result>
        <result column="prize" property="prize"></result>
        <result column="lottery_time" property="lotteryTime"></result>
        <result column="login_name" property="loginName"></result>
    </resultMap>

    <resultMap id="userLotteryTop10PrizeView" type="com.tuotiansudai.activity.repository.model.UserLotteryTop10PrizeView">
        <result column="mobile" property="mobile"></result>
        <result column="user_name" property="userName"></result>
        <result column="prize" property="prize"></result>
        <result column="lottery_time" property="lotteryTime"></result>
        <result column="login_name" property="loginName"></result>
    </resultMap>

    <insert id="create" parameterType="userLotteryPrizeModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `edxactivity`.`user_lottery_prize`(`id`,`mobile`,`login_name`,`user_name`,`prize`,`lottery_time`,`activity_category`)
        VALUES(#{id},#{mobile},#{loginName},#{userName},#{prize},#{lotteryTime},#{activityCategory});

    </insert>

    <update id="update" parameterType="userLotteryPrizeModel">
        UPDATE `edxactivity`.`user_lottery_prize`
        SET
        `id` = #{id},
        `mobile` = #{mobile},
        `login_name` = #{login_name},
        `user_name` = #{user_name},
        `prize` = #{prize},
        `lottery_time` = #{lotteryTime},
        `activity_category` = #{activityCategory}
        WHERE `id` = #{id}
    </update>

    <select id="findUserLotteryPrizeViews" parameterType="map" resultMap="userLotteryPrizeView">
        select p.lottery_time,p.mobile,p.user_name,p.prize,p.login_name from `edxactivity`.`user_lottery_prize` p
        <where>
            <if test="mobile !=null and mobile !='' ">
                and p.mobile like '${mobile}%'
            </if>
            <if test="lotteryPrize !=null ">
                and p.prize = '${lotteryPrize}'
            </if>
            <if test="startTime != null">
                and p.lottery_time >= #{startTime}
            </if>
            <if test="endTime != null">
                <![CDATA[ and p.lottery_time <= #{endTime} ]]>
            </if>
            <if test="activityCategory != null">
                and activity_category like '${activityCategory}%'
            </if>
        </where>
        order by p.lottery_time DESC
        <if test="index != null and pageSize != null">
            limit #{index}, #{pageSize}
        </if>
    </select>

    <select id="findUserLotteryPrizeCountViews" parameterType="map" resultType="int">
        select count(1) from `edxactivity`.`user_lottery_prize` p
        <where>
            <if test="mobile !=null and mobile !='' ">
                and p.mobile like '${mobile}%'
            </if>
            <if test="lotteryPrize !=null ">
                and p.prize = '${lotteryPrize}'
            </if>
            <if test="startTime != null">
                and p.lottery_time >= #{startTime}
            </if>
            <if test="endTime != null">
                <![CDATA[ and p.lottery_time <= #{endTime} ]]>
            </if>
            <if test="activityCategory != null">
                and activity_category like '${activityCategory}%'
            </if>
        </where>
    </select>

    <select id="findUserLotteryPrizeCountByMobile" parameterType="map" resultType="int">
        select count(1) from `edxactivity`.`user_lottery_prize` p
        <where>
            <if test="mobile !=null and mobile !='' ">
                and p.mobile = #{mobile}
            </if>
            <if test="activityCategory != null">
                and activity_category = #{activityCategory}
            </if>
        </where>
    </select>

    <select id="findLotteryPrizeByMobileAndPrize" parameterType="map" resultMap="userLotteryPrizeView">
        select lottery_time,mobile,prize from `edxactivity`.`user_lottery_prize`
        <where>
            <if test="mobile !=null and mobile !='' ">
                and mobile = '${mobile}'
            </if>

            <if test="lotteryPrizes != null ">
                and prize NOT IN
                <foreach collection="lotteryPrizes" item="prize" open="(" separator="," close=")">
                    #{prize}
                </foreach>
            </if>

            <if test="activityCategory != null">
                and activity_category = #{activityCategory}
            </if>
        </where>
        order by lottery_time DESC
        <if test="limitCount != null">
            limit #{limitCount}
        </if>
    </select>

    <select id="findMoneyTreeLotteryPrizeTop10" parameterType="map" resultMap="userLotteryTop10PrizeView">
        select lottery_time, mobile, sum(SUBSTRING(prize,INSTR(prize,'GOLD_') + 5)) as prize from `edxactivity`.`user_lottery_prize`
        where activity_category like '${activityCategory}%'
        group by mobile
		having prize > 0
        order by prize DESC, lottery_time
        LIMIT 10
    </select>

    <select id="findMoneyTreeLotteryPrizeByMobile" parameterType="map" resultMap="userLotteryPrizeView">
        select lottery_time,mobile,prize from `edxactivity`.`user_lottery_prize`
        <where>
            <if test="mobile !=null and mobile !='' ">
                and mobile = '${mobile}'
            </if>

            <if test="activityCategory != null">
                and activity_category like '${activityCategory}%'
            </if>
        </where>
        order by lottery_time DESC
    </select>

</mapper>