<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.activity.repository.mapper.WeChatHelpInfoMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache" />

    <resultMap id="weChatHelpInfoModel" type="com.tuotiansudai.activity.repository.model.WeChatHelpInfoModel">
        <result column="id" property="id"/>
        <result column="openId" property="openId"/>
        <result column="login_name" property="loginName"/>
        <result column="mobile" property="mobile"/>
        <result column="user_name" property="userName"/>
        <result column="we_chat_help_id" property="weChatHelpId"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="cashback_time" property="cashBackTime"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

    <resultMap id="weChatHelpInfoView" type="com.tuotiansudai.activity.repository.model.WeChatHelpInfoView">
        <result column="openId" property="openId"/>
        <result column="mobile" property="mobile"/>
        <result column="user_name" property="userName"/>
        <result column="nick_name" property="nickName"/>
        <result column="status" property="status"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

    <insert id="create" parameterType="weChatHelpInfoModel" useGeneratedKeys="true" keyProperty="id">
        INSERT IGNORE INTO we_chat_help_info(openId, login_name, mobile, user_name, we_chat_help_id, status, created_time)
        VALUES (#{openId}, #{loginName}, #{mobile}, #{userName}, #{weChatHelpId}, #{status}, #{createdTime})
    </insert>

    <update id="update" parameterType="weChatHelpInfoModel">
        UPDATE we_chat_help_info set
        status = #{status},
        remark = #{remark},
        cashback_time = #{cashBackTime}
        where id = #{id}
    </update>

    <select id="getCountByHelpId" parameterType="map" resultType="int">
        SELECT count(1) FROM we_chat_help_info where we_chat_help_id = #{helpId}
    </select>

    <select id="findByOpenId" parameterType="map" resultMap="weChatHelpInfoModel">
        SELECT * from we_chat_help_info where openId = #{openId} and we_chat_help_id = #{helpId}
    </select>

    <select id="findHelpCountByOpenIdAndTime" parameterType="map" resultType="int">
        SELECT count(distinct help.login_name, if(help.login_name is not null,true,null)) + count(if(help.login_name is null,true,null))
        FROM we_chat_help_info info join we_chat_help help on info.we_chat_help_id = help.id
        where info.openId = #{openId} and info.created_time BETWEEN #{startTime} and #{endTime}
    </select>

    <select id="findByNickName" parameterType="map" resultMap="weChatHelpInfoView">
        SELECT h.openId, h.mobile, h.user_name, u.nick_name, h.status, h.created_time from we_chat_help_info h LEFT join we_chat_user_info u on h.openId = u.openId
        where h.we_chat_help_id = #{helpId}
        <if test="nickName !=null and nickName !=''">
            <![CDATA[and u.nick_name like '%${nickName}%']]>
        </if>
        <if test="status !=null">
            AND h.status = #{status}
        </if>
        ORDER BY h.created_time DESC
    </select>

    <select id="findByHelpId" parameterType="map" resultMap="weChatHelpInfoModel">
        SELECT * FROM we_chat_help_info where we_chat_help_id = #{helpId}
    </select>

</mapper>