<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.activity.repository.mapper.WeChatHelpInfoMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache" />

    <resultMap id="weChatHelpInfoModel" type="com.tuotiansudai.activity.repository.model.WeChatHelpInfoModel">
        <result column="id" property="id"/>
        <result column="openId" property="openId"/>
        <result column="we_chat_help_id" property="weChatHelpId"/>
        <result column="status" property="status"/>
        <result column="remark" property="remark"/>
        <result column="cashBackTime" property="cashBackTime"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

    <insert id="create" parameterType="weChatHelpInfoModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO we_chat_help_info(openId, we_chat_help_id, status, created_time)
        VALUES (#{openId}, #{weChatHelpId}, #{status}, #{createdTime})
    </insert>

    <select id="findByOpenId" parameterType="map" resultMap="weChatHelpInfoModel">
        SELECT * from we_chat_help_info where openId = #{openId} and we_chat_help_id = #{helpId}
    </select>

    <select id="findHelpCountByOpenIdAndTime" parameterType="map" resultType="int">
        SELECT count(distinct help.login_name, if(help.login_name is not null,true,null)) + count(if(help.login_name is null,true,null))
        FROM we_chat_help_info info join we_chat_help help on info.we_chat_help_id = help.id
        where info.openId = #{openId} and info.created_time BETWEEN #{startTime} and #{endTime}
    </select>

</mapper>