<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.activity.repository.mapper.WeChatHelpMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache"/>

    <resultMap id="weChatHelpModel" type="com.tuotiansudai.activity.repository.model.WeChatHelpModel">
        <result column="id" property="id"/>
        <result column="loan_id" property="loanId"/>
        <result column="invest_id" property="investId"/>
        <result column="invest_amount" property="investAmount"/>
        <result column="annualized_Amount" property="annualizedAmount"/>
        <result column="login_name" property="loginName"/>
        <result column="user_name" property="userName"/>
        <result column="mobile" property="mobile"/>
        <result column="openId" property="openId"/>
        <result column="help_type" property="type"/>
        <result column="help_user_count" property="helpUserCount"/>
        <result column="reward" property="reward"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="is_cashback" property="isCashBack"/>
    </resultMap>

    <resultMap id="weChatHelpView" extends="weChatHelpModel" type="com.tuotiansudai.activity.repository.model.WeChatHelpView">
        <result column="nick_name" property="nickName"/>
    </resultMap>

    <insert id="create" parameterType="weChatHelpModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO we_chat_help(loan_id, invest_id, invest_amount,annualized_Amount, login_name, user_name, mobile, openId, help_type, start_time, end_time)
        VALUES (#{loanId},#{investId}, #{investAmount},#{annualizedAmount}, #{loginName}, #{userName}, #{mobile}, #{openId}, #{type}, #{startTime}, #{endTime})
    </insert>

    <update id="update" parameterType="weChatHelpModel">
        UPDATE we_chat_help SET
        login_name = #{loginName},
        user_name = #{userName},
        mobile = #{mobile},
        help_user_count = #{helpUserCount},
        reward = #{reward},
        is_cashback = #{isCashBack}
        where id = #{id}
    </update>

    <select id="findById" parameterType="map" resultMap="weChatHelpModel">
        SELECT * from we_chat_help where id = #{id}
    </select>

    <select id="lockById" resultType="map" resultMap="weChatHelpModel">
        SELECT * from we_chat_help where id = #{id} FOR UPDATE
    </select>

    <select id="findByOpenId" parameterType="map" resultMap="weChatHelpModel">
        SELECT * FROM we_chat_help where openId = #{openId}
    </select>

    <select id="findByUserAndHelpType" parameterType="map" resultMap="weChatHelpModel">
        SELECT * FROM we_chat_help
        where help_type = #{helpType}
        <if test="loginName !=null and loginName !=''">
            and login_name = #{loginName}
        </if>
        <if test="openId !=null and openId !=''">
            and openId = #{openId}
        </if>
        ORDER by start_time
    </select>

    <select id="findByLoanId" parameterType="map" resultMap="weChatHelpModel">
        SELECT * FROM we_chat_help where loanId = #{loanId}
    </select>

    <select id="findByKeyWord" parameterType="map" resultMap="weChatHelpView">
        SELECT * FROM we_chat_help h left join we_chat_user_info u on h.openId = u.openId
        WHERE help_type = #{helpType}
        <if test="keyWord !=null and keyWord !=''">
            and (h.user_name = #{keyWord} or h.mobile = #{keyWord} or u.nick_name = #{keyWord})
        </if>
        <if test="minInvest !=null">
            and h.invest_amount >= #{minInvest}
        </if>
        <if test="maxInvest !=null">
            <![CDATA[ and h.invest_amount <= #{maxInvest} ]]>
        </if>
        ORDER BY h.start_time DESC
    </select>

</mapper>