<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.coupon.repository.mapper.CouponMapper">

    <resultMap id="couponResultMap" type="CouponModel">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="amount" property="amount"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="used_count" property="usedCount"/>
        <result column="total_count" property="totalCount"/>
        <result column="active" property="active"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="active_user" property="activeUser"/>
        <result column="active_time" property="activeTime"/>
        <result column="issued_Count" property="issuedCount"/>
    </resultMap>

    <insert id="create" parameterType="CouponModel" useGeneratedKeys="true" keyProperty="id">
        insert into coupon (name, amount, start_time, end_time, used_count, total_count, active, create_time, create_user, active_user,active_time,issued_Count)
        value(#{name}, #{amount}, #{startTime}, #{endTime}, #{usedCount}, #{totalCount}, #{active}, #{createTime}, #{createUser}, #{activeUser},#{activeTime},#{issuedCount})
    </insert>

    <select id="findCouponById" resultMap="couponResultMap" parameterType="long">
        select * from coupon where id = #{id}
    </select>

    <select id="findCoupons" parameterType="map" resultMap="couponResultMap">
        select * from coupon order by create_time desc limit #{index},#{pageSize}
    </select>

    <select id="findCouponsCount"  resultType="int">
        select count(*) from coupon
    </select>

</mapper>