<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.coupon.repository.mapper.CouponMapper">

    <resultMap id="couponResultMap" type="CouponModel">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="amount" property="amount"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="used_count" property="usedCount"/>
        <result column="total_count" property="totalCount"/>
        <result column="active" property="active"/>
        <result column="create_time" property="createTime"/>
        <result column="create_user" property="createUser"/>
        <result column="active_user" property="activeUser"/>
        <result column="active_time" property="activeTime"/>
        <result column="issued_Count" property="issuedCount"/>
        <result column="expected_amount" property="expectedAmount"/>
        <result column="actual_amount" property="actualAmount"/>
    </resultMap>

    <insert id="create" parameterType="CouponModel" useGeneratedKeys="true" keyProperty="id">
        insert into coupon (name, amount, start_time, end_time, used_count, total_count, active, create_time, create_user, active_user,active_time,issued_Count)
        value(#{name}, #{amount}, #{startTime}, #{endTime}, #{usedCount}, #{totalCount}, #{active}, #{createTime}, #{createUser}, #{activeUser},#{activeTime},#{issuedCount})
    </insert>

    <select id="findById" resultMap="couponResultMap" parameterType="long">
        select * from coupon where id = #{id}
    </select>

    <select id="findValidCoupon" resultMap="couponResultMap" >
        select * from coupon where active = true and issued_count &lt; total_count and now() between start_time and end_time;
    </select>


    <select useCache="false" id="lockByCoupon" parameterType="java.lang.Long" resultMap="couponResultMap">
        select * from coupon where id = #{id} for update
    </select>

    <select id="findCoupons" parameterType="map" resultMap="couponResultMap">
        SELECT
          c.*,
          IFNULL(temp.expected_amount, 0) AS expected_amount,
          IFNULL(temp.actual_amount, 0) AS actual_amount
        FROM
          coupon c
          LEFT JOIN
            (SELECT
              t.coupon_id,
              SUM(
                t.expected_interest + t.default_interest - t.expected_fee
              ) AS expected_amount,
              SUM(
                t.actual_interest + t.default_interest - t.actual_fee
              ) AS actual_amount
            FROM
              user_coupon t
            GROUP BY t.coupon_id) temp
            ON c.id = temp.coupon_id
        ORDER BY create_time DESC
        LIMIT #{index},#{pageSize}
    </select>

    <select id="findCouponsCount"  resultType="int">
        select count(*) from coupon
    </select>

    <update id="updateCoupon" parameterType="CouponModel">
        update coupon set used_count = #{usedCount},issued_Count = #{issuedCount},active_time = #{activeTime},active = #{active},active_user = #{activeUser} where id = #{id}
    </update>

</mapper>