<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.coupon.repository.mapper.CouponMapper">

    <resultMap id="couponResultMap" type="CouponModel">
        <id column="id" property="id"/>
        <result column="amount" property="amount"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="used_count" property="usedCount"/>
        <result column="total_count" property="totalCount"/>
        <result column="active" property="active"/>
        <result column="created_time" property="createdTime"/>
        <result column="created_by" property="createdBy"/>
        <result column="activated_by" property="activatedBy"/>
        <result column="activated_time" property="activatedTime"/>

        <result column="operated_by" property="operatedBy"/>
        <result column="operated_time" property="operatedTime"/>

        <result column="issued_count" property="issuedCount"/>
        <result column="expected_amount" property="expectedAmount"/>
        <result column="actual_amount" property="actualAmount"/>
        <result column="invest_quota" property="investQuota"/>
        <result column="coupon_type" property="couponType"/>
        <result column="product_types" property="productTypes" typeHandler="com.tuotiansudai.util.mybatis.ProductTypeListTypeHandler"/>
        <result column="deleted" property="deleted"/>
        <result column="deadline" property="deadline"/>
        <result column="user_group" property="userGroup"/>
        <result column="sms_alert" property="smsAlert"/>
    </resultMap>

    <insert id="create" parameterType="CouponModel" useGeneratedKeys="true" keyProperty="id">
        insert into coupon (amount, start_time, end_time, used_count, total_count, active, created_by, created_time, activated_by, activated_time, operated_by, operated_time, issued_count, invest_quota, coupon_type, product_types, deleted,deadline,user_group,sms_alert)
        value(#{amount}, #{startTime}, #{endTime}, #{usedCount}, #{totalCount}, #{active}, #{createdBy}, #{createdTime}, #{activatedBy}, #{activatedTime}, #{operatedBy}, #{operatedTime}, #{issuedCount}, #{investQuota}, #{couponType}, #{productTypes, typeHandler=com.tuotiansudai.util.mybatis.ProductTypeListTypeHandler}, #{deleted},#{deadline},#{userGroup},#{smsAlert})
    </insert>

    <select id="findById" resultMap="couponResultMap" parameterType="long">
        select * from coupon where id = #{id} and deleted is FALSE
    </select>

    <select id="findValidCoupon" resultMap="couponResultMap" >
        select * from coupon where active = true and issued_count &lt; total_count and now() between start_time and end_time and deleted is FALSE;
    </select>


    <select useCache="false" id="lockByCoupon" parameterType="java.lang.Long" resultMap="couponResultMap">
        select * from coupon where id = #{id} and deleted is FALSE for update
    </select>

    <select id="findCoupons" parameterType="map" resultMap="couponResultMap">
        SELECT
          c.*,
          IFNULL(temp.expected_amount, 0) AS expected_amount,
          IFNULL(temp.actual_amount, 0) AS actual_amount
        FROM
          coupon c
          LEFT JOIN
            (SELECT
              t.coupon_id,
              SUM(
                t.expected_interest + t.default_interest - t.expected_fee
              ) AS expected_amount,
              SUM(
                t.actual_interest + t.default_interest - t.actual_fee
              ) AS actual_amount
            FROM
              user_coupon t
            GROUP BY t.coupon_id) temp
            ON c.id = temp.coupon_id
            where c.deleted is FALSE
        ORDER BY created_time DESC
        LIMIT #{index},#{pageSize}
    </select>

    <select id="findCouponsCount"  resultType="int">
        select count(*) from coupon where deleted is FALSE
    </select>

    <update id="updateCoupon" parameterType="CouponModel">
        update coupon
        set
        amount = #{amount},
        start_time = #{startTime},
        end_time = #{endTime},
        used_count = #{usedCount},
        total_count = #{totalCount},
        issued_count = #{issuedCount},
        activated_by = #{activatedBy},
        activated_time = #{activatedTime},
        deadline = #{deadline},
        user_group = #{userGroup},
        sms_alert = #{smsAlert},
        operated_by = #{operatedBy},
        operated_time = #{operatedTime},
        active = #{active},
        invest_quota = #{investQuota},
        <if test="deleted != null">
            deleted = #{deleted},
        </if>
        product_types = #{productTypes, typeHandler=com.tuotiansudai.util.mybatis.ProductTypeListTypeHandler}
        where id = #{id}
    </update>

</mapper>