<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.coupon.repository.mapper.UserCouponMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache"/>

    <resultMap id="userCouponResultMap" type="UserCouponModel">
        <id column="id" property="id"/>
        <result column="login_name" property="loginName"/>
        <result column="coupon_id" property="couponId"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="loan_id" property="loanId"/>
        <result column="used_time" property="usedTime"/>
        <result column="expected_interest" property="expectedInterest"/>
        <result column="actual_interest" property="actualInterest"/>
        <result column="expected_fee" property="expectedFee"/>
        <result column="actual_fee" property="actualFee"/>
        <result column="default_interest" property="defaultInterest"/>
        <result column="created_time" property="createdTime"/>
        <result column="invest_id" property="investId"/>
        <result column="status" property="status"/>
    </resultMap>

    <resultMap id="useRecordMap" type="UserCouponView">
        <id column="id" property="id"/>
        <result column="coupon_type" property="couponType"/>
        <result column="coupon_amount" property="couponAmount"/>
        <result column="rate" property="rate"/>
        <result column="shared" property="shared"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="loan_product_type" property="loanProductType"/>
        <result column="product_types" property="productTypeList" typeHandler="com.tuotiansudai.util.mybatis.ProductTypeListTypeHandler"/>
        <result column="loan_id" property="loanId"/>
        <result column="loan_name" property="loanName"/>
        <result column="invest_amount" property="investAmount"/>
        <result column="used_time" property="usedTime"/>
        <result column="expected_income" property="expectedIncome"/>
        <result column="birthday_benefit" property="birthdayBenefit"/>
        <result column="invest_lower_limit" property="investLowerLimit"/>
        <result column="status" property="status"/>
    </resultMap>

    <insert id="create" parameterType="UserCouponModel" useGeneratedKeys="true" keyProperty="id">
        insert into user_coupon (login_name, coupon_id, start_time, end_time, created_time)
        value(#{loginName}, #{couponId}, #{startTime}, #{endTime}, #{createdTime})
    </insert>

    <update id="update" parameterType="UserCouponModel">
        update user_coupon
        set login_name = #{loginName},
            coupon_id = #{couponId},
            loan_id = #{loanId},
            used_time = #{usedTime},
            expected_interest = #{expectedInterest},
            actual_interest = #{actualInterest},
            expected_fee = #{expectedFee},
            actual_fee = #{actualFee},
            default_interest = #{defaultInterest},
            created_time = #{createdTime},
            invest_id = #{investId},
            status = #{status}
        where id = #{id}
    </update>

    <select id="findByLoginName" resultMap="userCouponResultMap" parameterType="map">
        select uc.* from user_coupon uc
        <if test="couponTypeList != null and couponTypeList.size != 0">
            JOIN coupon c on uc.coupon_id = c.id and c.coupon_type in
            <foreach collection="couponTypeList" item="couponType" open="(" separator="," close=")">
                #{couponType}
            </foreach>
        </if>
        where uc.login_name = #{loginName}
    </select>

    <select id="findById" resultMap="userCouponResultMap" parameterType="long">
        select * from user_coupon where id = #{id}
    </select>

    <select id="findByLoanId" resultMap="userCouponResultMap" parameterType="map">
        select uc.* from user_coupon uc
        <if test="couponTypeList != null and couponTypeList.size != 0">
            JOIN coupon c on uc.coupon_id = c.id and c.coupon_type in
            <foreach collection="couponTypeList" item="couponType" open="(" separator="," close=")">
                #{couponType}
            </foreach>
        </if>
        where loan_id = #{loanId} and status = 'SUCCESS'
    </select>

    <select id="findUnusedCoupons" resultMap="useRecordMap" parameterType="map">
        select
            uc.id as id,
            c.shared as shared,
            c.coupon_type as coupon_type,
            c.amount as coupon_amount,
            c.rate as rate,
            c.product_types as product_types,
            uc.end_time as end_time,
            (c.birthday_benefit + 1) as birthday_benefit,
            c.invest_lower_limit as invest_lower_limit,
            uc.status as status
        from user_coupon uc
        join coupon c on uc.coupon_id=c.id
        where
            (uc.status is null or uc.status != 'SUCCESS')
            and uc.end_time > now()
            and uc.login_name = #{loginName}
    </select>

    <select id="findUseRecords" resultMap="useRecordMap" parameterType="map">
        select
            uc.id as id,
            c.shared as shared,
            uc.start_time as start_time,
            uc.end_time as end_time,
            c.amount as coupon_amount,
            c.rate as rate,
            c.product_types as product_types,
            l.id as loan_id,
            l.product_type as loan_product_type,
            l.name as loan_name,
            c.coupon_type as coupon_type,
            i.amount as invest_amount,
            uc.used_time as used_time,
            uc.expected_interest - uc.expected_fee as expected_income,
            (c.birthday_benefit + 1) as birthday_benefit,
            c.invest_lower_limit as invest_lower_limit,
            uc.status as status
        from user_coupon uc
        join coupon c on uc.coupon_id=c.id
        join loan l on l.id=uc.loan_id
        join invest i on i.id = uc.invest_id
        where
        uc.status='SUCCESS'
        and uc.login_name = #{loginName}
        ORDER BY used_time DESC
    </select>

    <select id="findExpiredCoupons" resultMap="useRecordMap" parameterType="map">
        select
            uc.id as id,
            c.coupon_type as coupon_type,
            c.amount as coupon_amount,
            c.rate as rate,
            c.product_types as product_types,
            uc.end_time as end_time,
            (c.birthday_benefit + 1) as birthday_benefit,
            c.invest_lower_limit as invest_lower_limit,
            uc.status as status
        from user_coupon uc
        join coupon c on uc.coupon_id=c.id
        where
            (uc.status is null or uc.status != 'SUCCESS')
            and uc.end_time &lt; now()
            and uc.login_name = #{loginName}
    </select>

    <select id="findByInvestId" parameterType="map" resultMap="userCouponResultMap">
        select * from user_coupon where invest_id = #{investId}
    </select>

    <select id="findSumInvestAmountByCouponId" parameterType="map" resultType="long">
        SELECT
          IFNULL(SUM(i.`amount`), 0)
        FROM
          user_coupon t
          JOIN invest i
            ON t.`invest_id` = i.`id`
        WHERE t.`coupon_id` = #{couponId}
          AND t.`status` = 'SUCCESS'
    </select>

    <select id="findByCouponIdAndStatus" parameterType="map" resultMap="userCouponResultMap">
        SELECT
        t.*
        FROM
        user_coupon t
        JOIN user u
        ON t.`login_name` = u.`login_name`
        <if test="loginName != null and loginName != ''">
            AND u.`login_name` = #{loginName}
        </if>
        <if test="mobile != null and mobile != ''">
            AND u.`mobile` = #{mobile}
        </if>
        <if test="registerStartTime != null">
            AND u.`register_time` >= #{registerStartTime}
        </if>
        <if test="registerEndTime != null">
            <![CDATA[ AND u.`register_time` <= #{registerEndTime} ]]>
        </if>
        where t.coupon_id = #{couponId}
        <if test="isUsed != null and isUsed">
            and t.status = 'SUCCESS'
        </if>
        <if test="isUsed != null and !isUsed">
            and t.status != 'SUCCESS'
        </if>
        order by t.used_time desc
        limit #{index}, #{pageSize}
    </select>

    <select id="findCouponDetailCount" parameterType="map" resultType="int">
        SELECT
        ifnull(count(*),0)
        FROM
        user_coupon t
        JOIN user u
        ON t.`login_name` = u.`login_name`
        <if test="loginName != null and loginName != ''">
            AND u.`login_name` = #{loginName}
        </if>
        <if test="mobile != null and mobile != ''">
            AND u.`mobile` = #{mobile}
        </if>
        <if test="registerStartTime != null">
            AND u.`register_time` >= #{registerStartTime}
        </if>
        <if test="registerEndTime != null">
            <![CDATA[ AND u.`register_time` <= #{registerEndTime} ]]>
        </if>
        where t.coupon_id = #{couponId}
        <if test="isUsed != null and isUsed">
            and t.status = 'SUCCESS'
        </if>
        <if test="isUsed != null and !isUsed">
            and t.status != 'SUCCESS'
        </if>
    </select>

    <select id="findByCouponId" parameterType="long" resultMap="userCouponResultMap">
        select * from user_coupon where coupon_id = #{couponId}
    </select>

    <select id="findByLoginNameAndCouponId" parameterType="map" resultMap="userCouponResultMap">
        select * from user_coupon where login_name = #{loginName} and coupon_id = #{couponId}
    </select>

    <select id="findBirthdaySuccessByLoginNameAndInvestId" parameterType="map" resultMap="userCouponResultMap">
        select t.* from user_coupon t join coupon m on t.coupon_id = m.id and m.coupon_type = 'BIRTHDAY_COUPON' where t.login_name = #{loginName} and t.invest_id = #{investId} and t.status = 'SUCCESS'
    </select>

</mapper>