@charset "UTF-8";
/**
 * 
 * @authors  (belen)
 * @date    2015-08-25 12:31:46
 * @version $Id$
 */

/*>>>>>>>>>>>>>>>| 全局基础 |<<<<<<<<<<<<<<<*/
html,div,span,em,img,strong,sub,sup,tt,label,table,caption,tbody,tfoot,thead,tr,
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,blockquote,form,fieldset,legend,button,input,textarea,dl,dt,dd,ul,ol,li,th,td{margin:0px;padding:0px;}
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
ul,ol,li{list-style:none;}
img{width:auto\9;height:auto;max-width:100%;vertical-align:middle;border:0;-ms-interpolation-mode:bicubic;}
div,p,form,html,dt
,header,footer,nav,article,hgroup,section,figcaption,aside,map,dt,details,figure{display:block;}
audio,canvas,video {display:inline-block;*display:inline;*zoom:1;}

