.copyright {
    width: 100%;
    height: 60px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    font-size: 16px;
}

.copyright a {
    color: #fff;
    text-decoration: underline;
}
@media (max-width: 320px) {
    .copyright {
        width: 100%;
        height: 40px;
        line-height: 20px;
        color: #fff;
        text-align: center;
        font-size: 12px;
    }
}
@media (max-width: 380px ) and (min-width: 324px) {
    .copyright {
        width: 100%;
        height: 40px;
        line-height: 20px;
        color: #fff;
        text-align: center;
        font-size: 12px;
    }
}
@media (max-width: 460px ) and (min-width: 381px) {
    .copyright {
        width: 100%;
        height: 40px;
        line-height: 20px;
        color: #fff;
        text-align: center;
        font-size: 12px;
    }
}
@media (max-width: 540px ) and (min-width: 459px) {
    .copyright {
        width: 100%;
        height: 40px;
        line-height: 20px;
        color: #fff;
        text-align: center;
        font-size: 12px;
    }
}
