/**Registered**/
.wrap {
    width: 100%;
    max-width: 640px;
    height: auto;
    overflow: hidden;
    background: url("/mobile/images/singup/phone_logo.png") no-repeat center 40px;
    margin: 0px auto;
}
.step {
    width: 100%;
    max-width: 560px;
    padding: 0px 40px;
    margin-top: 182px;
    height: auto;
    overflow: hidden;
    position: relative;
}
.step ul {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.step ul li {
    width: 100%;
    max-width: 558px;
    height: 78px;
    border: #fff 1px solid;
    margin-top: 30px;
    color: #fff;
}
.step ul li input {
    display: block;
    width: 462px;
    height: 76px;
    line-height: 76px;
    background: #ea7938;
    border: none;
    color: #fff;
    font-size: 22px;
    padding-left: 96px;
}
.step ul li input.userName {
    background: url("/mobile/images/phone_username.png") no-repeat 18px center;
}
.step ul li input.passWord {
    background: url("/mobile/images/singup/phone_password.png") no-repeat 18px center;
}
.step ul li input.phoneNumber {
    background: url("/mobile/images/singup/phone_phonen.png") no-repeat 18px center;
}
.step ul li input.vCode {
    background: url("/mobile/images/singup/phone_vCode.png") no-repeat 18px center;
}
.step i {
    position: absolute;
    width: 134px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: #fff;
    background: #e9a922;
    top: 380px;
    right: 50px;
    font-style: normal;
    font-size: 12px;
    cursor: pointer;
}
.step p {
    width: 200px;
    height: 60px;
    line-height: 60px;
    float: right;
    color: #fff;
    text-align: right;
}
.step p a {
    color: #ebff0b;
}
.wrap input.logUp {
    display: block;
    width: 344px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #fff;
    background: #edaa20;
    margin: 30px auto 0px;
    border-radius: 5px;
    font-size: 46px;
    border: none;
}
.check {
    height: 76px;
    line-height: 76px;
    text-align: center;
    color: #fff;
}
#vCode-error{
    position:absolute;
    bottom:150px;
}
/**Registered**/
/**cerWrap**/
.cerWrap{
    width: 100%;
    max-width: 640px;
    height: auto;
    overflow: hidden;
    margin:0px auto;
}
.cerWrap h3{
    width:100%;
    height: 162px;
    line-height: 162px;
    text-align: center;
    color:#fff;
    font-size: 46px;
}
.cerWrap p{
    margin: 0px 64px;
    width:484px;
    padding: 10px;
    border:#000 1px solid;
    font-size: 22px;
    line-height: 40px;
    text-indent: 30px;
    background: #e7783a;
}
.cerWrap ul{
    margin: 0px 64px;
    width:504px;
    height: auto;
    overflow: hidden;
}
.cerWrap ul li{
    width:502px;
    height: 78px;
    border: #fff 1px solid;
    margin-top: 40px;
}
.cerWrap ul li small{
    color:#fff;
}
.cerWrap ul li input{
    width:405px;
    height: 74px;
    line-height: 74px;
    background: #ea7938;
    font-size: 24px;
    border: none;
    padding-left: 96px;
    color:#fff;
}
.cerWrap ul li input.yourName{
    background: url("/mobile/images/phone_username.png") no-repeat 18px center;
}
.cerWrap ul li input.yourId{
    background: url("/mobile/images/phone_rz/background_id.png") no-repeat 18px center;
}

.cerWrap input.realName{
    width:344px;
    height: 78px;
    line-height: 78px;
    text-align: center;
    background: #eea81e;
    display: block;
    border-radius:5px;
    color:#fff;
    margin: 106px auto 0px;
    font-size: 24px;
    border: 0px;
    font-family: 'microsoft yahei';
}
.cerWrap a.skip{
    width:100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: block;
    color:#fff000;
    font-size: 18px;
}
.tipMask{
    position: fixed;
    width:100%;
    background: rgba(0,0,0,.6);
    color:#fff;
    text-align: center;
    z-index: 909;
    display: none;
    left:0px;
    top:0px;
}
.tipMask p{
    position: absolute;
    left: 0px;
    top:50%;
    height:60px;
    line-height: 60px;
    margin-top: -30px;
    z-index: 999;
    width:100%;
    text-align: center;
}
/**cerWrap**/

@media (max-width: 320px) {
    .step {
        padding: 0px 10px;
        margin-top: 120px;
    }
    .step i {
        width: 80px;
        height: 22px;
        line-height: 22px;
        color: #fff;
        top: 221px;
        right: 32px;
        font-size: 12px;
    }
    .step ul li {
        width: 300px;
        height: 30px;
        line-height: 30px;
    }
    .step ul li input {
        width: 240px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        -webkit-background-size: 25px 12px;
        padding-left: 50px;
    }
    .step p {
        padding-right: 20px;
    }
    .wrap {
        background-size: 90%;
    }
    .wrap input.logUp {
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-radius: 0px;
        font-size: 16px;
    }
    .step ul li input.userName {
        background-size: 25px 20px;
    }
    .step ul li input.passWord {
        background-size: 25px 20px;
    }
    .step ul li input.phoneNumber,.step ul li input.vCode {
        background-size: 25px 20px;
    }
    .check {
        height: 50px;
        line-height: 50px;
    }
    .check label a{
        color:#fff;
        text-decoration: none;
    }
    .cerWrap h3{
        width:100%;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }
    .cerWrap p{
        margin: 0px 10px;
        width:290px;
        padding: 5px;
        font-size: 12px;
        line-height: 20px;
    }
    .cerWrap ul{
        margin: 0px 10px;
        width:298px;
    }
    .cerWrap ul li{
        width:296px;
        height: 38px;
        line-height: 38px;
        margin-top: 20px;
    }
    .cerWrap ul li input{
        width:84%;
        height: 36px;
        line-height: 36px;
        font-size: 12px;
        padding-left: 46px;
        color:#fff;
    }
    .cerWrap ul li input.yourName,.cerWrap ul li input.yourId{
        background-size:25px 20px;
    }
    .cerWrap input.realName{
        width:100%;
        border-radius:0px;
        height: 38px;
        line-height: 38px;
        margin: 20px auto 0px;
        font-size: 16px;
    }
    .cerWrap a.skip{
        font-size: 12px;
    }
}

@media (max-width: 380px ) and (min-width: 324px) {
    .step {
        margin-top: 130px;
        padding: 0px 10px;
        width: 95%;
    }

    .step i {
        width: 80px;
        height: 22px;
        line-height: 22px;
        color: #fff;
        top: 221px;
        right: 28px;
        font-size: 12px;
    }

    .step ul li {
        width: 340px;
        height: 30px;
        line-height: 30px;
    }

    .step ul li input {
        width: 290px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
        -webkit-background-size: 25px 12px;
        padding-left: 50px;
    }

    .step p {
        padding-right: 40px;
    }

    .wrap {
        background-size: 90%;
    }

    .wrap input.logUp {
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-radius: 0px;
        font-size: 16px;
    }

    .step ul li input.userName {
        background-size: 25px 20px;
    }

    .step ul li input.passWord {
        background-size: 25px 20px;
    }

    .step ul li input.phoneNumber {
        background-size: 25px 20px;
    }

    .step ul li input.vCode {
        background-size: 25px 20px;
    }

    .check {
        height: 50px;
        line-height: 50px;
    }
    .cerWrap h3{
        width:100%;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }
    .cerWrap p{
        margin: 0px 10px;
        width:85%;
        padding: 5px 5%;
        font-size: 12px;
        line-height: 20px;
    }
    .cerWrap ul{
        margin: 0px 10px;
        width:94%;
        margin: 0px 3%;
    }

    .cerWrap ul li{
        width:99%;
        height: 38px;
        line-height: 38px;
        margin-top: 20px;
    }
    .cerWrap ul li input{
        width:86%;
        height: 34px;
        line-height: 34px;
        font-size: 12px;
        padding-left: 46px;
        color:#fff;
    }
    .cerWrap ul li input.yourName,.cerWrap ul li input.yourId{
        background-size:25px 20px;
    }
    .cerWrap input.realName{
        width:100%;
        border-radius:0px;
        height: 38px;
        line-height: 38px;
        margin: 20px auto 0px;
        font-size: 16px;
    }
    .cerWrap a.skip{
        font-size: 12px;
    }
}

@media (max-width: 460px ) and (min-width: 381px) {
    .step {
        margin-top: 146px;
        padding: 0px 10px;
        width: 95%;
    }

    .step i {
        width: 80px;
        height: 22px;
        line-height: 22px;
        color: #fff;
        top: 243px;
        right: 28px;
        font-size: 12px;
    }

    .step ul li {
        width: 378px;
        height: 36px;
        line-height: 36px;
    }

    .step ul li input {
        width: 338px;
        height: 32px;
        line-height: 32px;
        font-size: 12px;
        -webkit-background-size: 25px 12px;
        padding-left: 50px;
    }

    .step p {
        padding-right: 40px;
    }

    .wrap {
        background-size: 90%;
    }

    .wrap input.logUp {
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-radius: 0px;
        font-size: 16px;
    }

    .step ul li input.userName {
        background-size: 25px 20px;
    }

    .step ul li input.passWord {
        background-size: 25px 20px;
    }

    .step ul li input.phoneNumber {
        background-size: 25px 20px;
    }

    .step ul li input.vCode {
        background-size: 25px 20px;
    }

    .check {
        height: 50px;
        line-height: 50px;
    }
    .cerWrap h3{
        width:100%;
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }
    .cerWrap p{
        margin: 0 10px;
        width:85%;
        padding: 5px 5%;
        font-size: 12px;
        line-height: 20px;
    }
    .cerWrap ul{
        width:94%;
        margin: 0 3%;
    }
    .cerWrap ul li{
        width:99%;
        height: 38px;
        line-height: 38px;
        margin-top: 20px;
    }

    .cerWrap ul li input{
        width:86%;
        height: 34px;
        line-height: 34px;
        font-size: 12px;
        padding-left: 46px;
        color:#fff;
    }
    .cerWrap ul li input.yourName,.cerWrap ul li input.yourId{
        background-size:25px 20px;
    }
    .cerWrap input.realName{
        width:100%;
        border-radius:0px;
        height: 38px;
        line-height: 38px;
        margin: 20px auto 0px;
        font-size: 16px;
    }
    .cerWrap a.skip{
        font-size: 12px;
    }
}

@media (max-width: 540px ) and (min-width: 459px) {
    .step {
        margin-top: 146px;
        padding: 0 10px;
        width: 95%;
    }

    .step i {
        width: 80px;
        height: 22px;
        line-height: 22px;
        color: #fff;
        top: 243px;
        right: 20px;
        font-size: 12px;
    }

    .step ul li {
        width: 388px;
        height: 36px;
        line-height: 36px;
    }

    .step ul li input {
        width: 338px;
        height: 32px;
        line-height: 32px;
        font-size: 12px;
        -webkit-background-size: 25px 12px;
        padding-left: 50px;
    }

    .step p {
        padding-right: 40px;
    }

    .wrap {
        background-size: 90%;
    }

    .wrap input.logUp {
        width: 100%;
        height: 40px;
        line-height: 40px;
        border-radius: 0px;
        font-size: 16px;
    }

    .step ul li input.userName {
        background-size: 25px 20px;
    }

    .step ul li input.passWord {
        background-size: 25px 20px;
    }

    .step ul li input.phoneNumber {
        background-size: 25px 20px;
    }

    .step ul li input.vCode {
        background-size: 25px 20px;
    }
    .check {
        height: 50px;
        line-height: 50px;
    }
}

@media (max-width: 600px ) and (min-width: 541px) {
}




