.main-frame{
  width:100%;
  margin:0;
  .global-member-order {
    float:left;
    width:100%;
    .wp{
      width:1000px;
      margin:0 auto;
      position: relative;
      &.order-item{
        background:#fff;
        margin-bottom:20px;
      }
      .order-top{
        float:left;
        width:100%;
        color:#808080;
        font-size:16px;
        margin:20px 0;
        span{
          color:#fc4a52;
        }
      }
      .container-order{
        float:left;
        width:960px;
        margin:0 20px;
        padding:20px 0;
        .order-place{
          float:left;
          width:100%;
          margin-bottom:30px;
          .address-model{
            float:left;
            width:100%;
            h3{
              float:left;
              width:100%;
              font-size:18px;
              color:#4d4d4d;
            }
            .address-item{
              float:left;
              width:290px;
              height:100px;
              padding:20px 30px;
              border:1px dashed #ccc;
              position: relative;
              &:hover{
                border-color:#ff000b;
                .address-set{
                  display:block;
                  color:#ff000b;
                }
              }
              .fa{
                color:#808080;
                font-size: 50px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -27px;
                margin-left: -24px;
                cursor:pointer;
              }
              .address-set{
                width:40px;
                position: absolute;
                top:15px;
                right:20px;
                font-size:14px;
                color:#808080;
                display:none;
              }
              p{
                font-size:16px;
                color:#808080;
                margin-bottom:0;
                overflow: hidden;
                text-overflow: ellipsis;
                word-wrap: break-word;
                white-space: nowrap;
                &.user-name{
                  color:#4c4c4c;
                }
              }
            }
          }
          .fix-address{
            float:left;
            width:100%;
            display:none;
            .addr-form{
              float:left;
              width:960px;
              padding:20px;
              .input-group{
                float:left;
                width:100%;
                margin-bottom:20px;
                label{
                  float:left;
                  width:85px;
                  padding: 10px 0;
                  font-size:14px;
                  height: 16px;
                  line-height: 16px;
                  em{
                    color: #f00;
                  }
                }
                .input-box{
                  float:left;
                  margin-left:10px;
                  .text-input{
                    float:left;
                    padding: 10px;
                    height: 16px;
                    width: 158px;
                    font-size: 14px;
                    color: #666;
                    border: 1px solid #e1e1e1;
                    line-height: 16px;
                    &:focus{
                      border:1px solid #fc4a52;
                    }
                  }
                  .text-area{
                    float:left;
                    width: 466px;
                    padding: 10px;
                    border: 1px solid #e1e1e1;
                    font-family: 'Microsoft Yahei','\5FAE\8F6F\96C5\9ED1',Arial,'Hiragino Sans GB','\5B8B\4F53';
                    &:focus{
                      border:1px solid #fc4a52;
                    }
                  }
                }
              }
              .btn-group{
                float:left;
                width:100%;
                text-align:center;
                .btn-save{
                  display:inline-block;
                  background:#fc4a52;
                  border: 1px solid #fc4a52;
                }
              }
            }
          }
        }
        .order-info{
          float:left;
          width:100%;
          h3{
            float:left;
            width:100%;
            font-size:18px;
            color:#4c4c4c;
            margin-bottom:30px;
            border-bottom:1px solid #e6e6e6;
          }
          .order-table{
            float:left;
            width:100%;
            padding-bottom:20px;
            border-bottom:1px solid #e6e6e6;
            p{
              font-size:16px;
              color:#808080;
              line-height:25px;
              margin-bottom:0;
              &.name-text{
                margin-bottom:10px;
                font-size:18px;
                color:#4d4d4d;
              }
              &.title-text{
                font-size:16px;
                color:#808080;
                margin-bottom:15px;
              }
            }
            .order-picture{
              float:left;
              width:140px;
              margin-right:50px;
            }
            .order-name{
              float:left;
              width:240px;

            }
            .order-price{
              float:left;
              width:180px;
              i{
                color:#fc4a52;
              }
            }
            .order-number{
              float:left;
              width:210px;
              span{
                float:left;
                &.count-btn{
                  width:26px;
                  height:24px;
                  font-size:22px;
                  text-align:center;
                  line-height:24px;
                  cursor:pointer;
                  border:1px solid #d1d6de;
                  &:active{
                    background:#ccc;
                  }
                }
                &.total-num{
                  font-size:14px;
                  color:#808080;
                  i{
                    color:#fc4a52;
                  }
                }
              }
              .count-list{
                float:left;
                width:100%;
                margin-bottom:0;
                .num-text{
                  float:left;
                  width: 50px;
                  height: 24px;
                  line-height: 25px;
                  text-align: center;
                  padding: 0;
                  border: none;
                  border-top: 1px solid #d1d1d1;
                  border-bottom: 1px solid #d1d1d1;
                }
              }
            }
            .order-count{
              float:left;
              width:120px;
            }
          }
        }
        .order-total{
          float:left;
          width:100%;
          padding-top:30px;
          p{
            text-align:right;
            span{
              font-size:18px;
              color:#4d4d4d;
              i{
                color:#fc4a52;
              }
            }
            .order-btn{
              display:inline-block;
              width: 160px;
              height: 40px;
              line-height: 20px;
              color: #fff;
              font-size: 16px;
              text-align: center;
              border: none;
              cursor: pointer;
              background: #fc4a52;
            }
          }
        }
      }
    }
    .container-ad{
      float:left;
      width:100%;
      height:80px;
      background:url("/pointsystem/images/bottom-img.jpg") no-repeat center;
    }
  }
}






