.nav-container {
  margin-right: 10px;
  .nav .logo{
    width:370px;
  }
  .nav ul {
    li{
      width:90px;
    }
    li a.active, li a:hover {
      color: #428edf;
      border-top: #428edf 3px solid;
    }
  }
}

.sign-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 999;
  display: none;
  .sign-layer-list {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -250px;
    width: 500px;
    height: 300px;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    .sign-top {
      float: left;
      width: 100%;
      height: 250px;
      position: relative;
      .close-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 15px;
        height: 15px;
        background: url("/pointsystem/images/bean-bg.png") no-repeat;
        background-position: 0px -23px;
        cursor: pointer;
      }
      p {
        text-align: center;
        &.sign-text {
          margin-top: 10px;
          color: #ff7200;
          font-size: 18px;
          margin-bottom: 0;
        }
        &.tomorrow-text {
          font-size: 14px;
          color: #4c4c4c;
        }
        &.img-beans {
          position: relative;

          .add-dou {
            position: absolute;
            left: 50%;
            margin-left: -30px;
            bottom: 0;
            width: 40px;
            height: 30px;
            padding-right: 20px;
            font-size: 20px;
            line-height: 25px;
            color: #fff;
            text-align: center;
            background: url("/pointsystem/images/add-bean.png") no-repeat right;
          }
        }
        &.intro-text {
          font-size: 14px;
          color: #4d4d4d;
          span {
            color: #ff7200;
          }
        }
      }
    }
    .sign-bottom {
      float: left;
      width: 100%;
      height: 50px;
      ul {
        float: left;
        width: 100%;
        border-top: 1px solid #e6e6e6;
        li {
          float: left;
          width: 59px;
          height: 50px;
          text-align: center;
          border-right: 1px solid #e6e6e6;
          &.last-day {
            width: 79px;
            .day-beans {
              span {
                margin-left: 30px;
                line-height: 15px;
                margin-top: -5px;
              }
            }
          }
          p {
            margin-bottom: 0;
            line-height: 25px;
            &.day-name {
              font-size: 12px;
              color: #7f7f7f;
            }
            &.day-beans {
              font-size: 14px;
              color: #4d4d4d;
              span {
                float: left;
                width: 20px;
                text-align: right;
                line-height: 15px;
                margin-left: 10px;
              }
              .bean-img {
                float: left;
                width: 15px;
                height: 15px;
                background: url("/pointsystem/images/bean-bg.png") no-repeat;
                background-position: 0 0;
                margin-top: 2px;
              }
            }
          }
        }
      }
    }
  }
}

.main-frame{
  width:100%;
  margin:0;
  .global-member-store {
    float:left;
    width:100%;
    .wp{
      width:1000px;
      margin:0 auto;
      position: relative;
    }
    .store-top{
      float:left;
      width:100%;
      height:350px;
      position: relative;
      background:url("/pointsystem/images/banner-top.jpg") no-repeat center;
      .store-login{
        width:300px;
        height:320px;
        position: absolute;
        top:50%;
        right:50%;
        margin-top:-160px;
        margin-right:-500px;
        background:#fff url("/pointsystem/images/login-bg.png") no-repeat 95px -32px;
        border-radius: 5px;
        overflow: hidden;
        .login-model{
          float:left;
          width:100%;
          margin-top:110px;
          margin-bottom: 25px;
          p{
            float:left;
            width:100%;
            margin-bottom:0;
            text-align:center;
            .login-btn{
              display:inline-block;
              width:160px;
              height:40px;
              line-height:40px;
              color:#fff;
              font-size:16px;
              background:#ff9c1b;
            }
            .regist-btn{
              font-size:12px;
              color:#ff9c1b;
              text-decoration:underline;
            }
          }
        }
        .user-info{
          float:left;
          width:100%;
          h3{
            float:left;
            width:100%;
            font-size:24px;
            color:#999;
            text-align:center;
            margin-top:40px;
          }
          p{
            float:left;
            width:100%;
            text-align:center;
            font-size:34px;
            color:#ff9c1b;
            line-height:40px;
            margin-bottom:0;
            span{
              display:inline-block;
              width:80px;
              height:35px;
              line-height:35px;
              font-size:16px;
              color:#fff;
              background:#ff9c1b;
              cursor:pointer;
            }
          }
        }
        .other-list{
          float:left;
          width:100%;
          margin-top:40px;
          li{
            float:left;
            width:125px;
            padding-left:25px;
            &.right-line{
              width:150px;
              border-right:1px solid #ececec;
              box-sizing:border-box;
            }
            p{
              float:left;
              width:100%;
              margin-bottom:0;
              a{
                float:left;
                width:70px;
                height:25px;
                line-height:25px;
                color:#fff;
                font-size:12px;
                text-align:center;
                background:#0087e6;
              }
            }
          }
        }
        .user-trade{
          float:left;
          width:250px;
          margin:25px 25px 0;
          color:#666;
          a{
            font-size:12px;
            color:#666;
            &:hover{
              color:#0087e6;
            }
          }
        }
      }
    }
    .store-title{
      float:left;
      width:100%;
      background:#f9f9f9;
      text-align:center;
      span{
        display: inline-block;
        border: 1px solid #0087e6;
        font-size: 20px;
        color: #0087e6;
        text-align: center;
        padding: 0 29px;
        border-radius: 20px;
        margin: 30px 0;
        line-height: 38px;
        position: relative;
        i{
          position: absolute;
          width:170px;
          height:40px;
          top:0;
          &.title-left{
            left:-170px;
            background:url("/pointsystem/images/title-left.png") no-repeat center;
            background-size: 100%;
          }
          &.title-right{
            right:-170px;
            background:url("/pointsystem/images/title-right.png") no-repeat center;
            background-size: 100%;
          }
        }
      }
    }
    .store-material{
      float:left;
      width:100%;
      background:#fff;
      padding:30px 0;
      .material-list{
        float:left;
        margin:0 -10px;
        li{
          float:left;
          width:300px;
          height:280px;
          margin:10px;
          border:1px solid #bcbcbc;
          box-sizing:border-box;
          padding:15px 69px;
          &:hover{
            border:1px solid #0087e6;
            box-shadow:0px 0px 5px #0087e6;
          }
          &.big-gift{
            width:460px;
            height:170px;
            padding:20px 30px;
            .convert-btn{
              margin-left:35px;
            }
          }
          p{
            float:left;
            margin-bottom:0;
            &.num-text{
              width:100%;
              color:#fc4a52;
              font-size:14px;
            }
            &.mater-img{
              &.coupon-bg{
                width:80px;
                height:40px;
                padding:30px 40px;
                background:url("/pointsystem/images/coupon-bg.png") no-repeat center;
                span{
                  float:left;
                  width:100%;
                  font-size:12px;
                  color:#fc933c;
                  line-height:16px;
                  text-align:center;
                  i{
                    font-size:30px;
                    color:#fc8d32;
                  }
                }
              }
              &.bag-bg{
                width:80px;
                height:60px;
                padding:20px 40px;
                background:url("/pointsystem/images/bag-bg.png") no-repeat center;
                span{
                  float:left;
                  width:100%;
                  font-size:16px;
                  color:#fff;
                  line-height:16px;
                  text-align:center;
                  i{
                    font-size:26px;
                  }
                }
              }
              &.jia-bg {
                width: 80px;
                height: 40px;
                padding: 30px 40px;
                background: url("/pointsystem/images/jia-bg.png") no-repeat center;
                span {
                  float: left;
                  width: 100%;
                  font-size: 12px;
                  color: #ff7a78;
                  line-height: 16px;
                  text-align: center;
                  i {
                    font-size: 30px;
                    color: #ff7a78;
                  }
                }
                &.picture-item {
                  width: 160px;
                  height: 100px;
                }
              }
            }
            &.convert-btn{
              width:140px;
              height:100px;
              span{
                float:left;
                width:100%;
                &.name-text{
                  font-size:14px;
                  color:#4c4c4c;
                }
                &.price-text{
                  font-size:14px;
                  color:#999999;
                  i{
                    color:#0087e6;
                  }
                }
                &.get-btn{
                  font-size:16px;
                  color:#fff;
                  line-height:35px;
                  text-align:center;
                  background:#fc4a52;
                  margin-top:10px;
                  cursor:pointer;
                }
              }
            }
          }
        }
      }
    }
  }
}






