<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.transfer.repository.mapper.TransferApplicationMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache" />

    <resultMap id="transferApplicationResultMap" type="TransferApplicationModel">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="loan_id" property="loanId"></result>
        <result column="transfer_invest_id" property="transferInvestId"></result>
        <result column="invest_id" property="investId"></result>
        <result column="period" property="period"></result>
        <result column="login_name" property="loginName"></result>
        <result column="invest_amount" property="investAmount"></result>
        <result column="transfer_amount" property="transferAmount"></result>
        <result column="transfer_fee" property="transferFee"></result>
        <result column="status" property="status"></result>
        <result column="deadline" property="deadline"></result>
        <result column="transfer_time" property="transferTime"></result>
        <result column="application_time" property="applicationTime"></result>
    </resultMap>

    <resultMap id="transferApplicationRecordDtoMap" type="TransferApplicationRecordDto">
        <result column="id" property="transferApplicationId"></result>
        <result column="name" property="name"></result>
        <result column="transfer_amount" property="transferAmount"></result>
        <result column="invest_amount" property="investAmount"></result>
        <result column="transfer_time" property="transferTime"></result>
        <result column="base_rate" property="baseRate"></result>
        <result column="activity_rate" property="activityRate"></result>
        <result column="status" property="transferStatus"></result>
        <result column="loan_id" property="loanId"></result>
        <result column="transferrer_loginName" property="transferrerLoginName"></result>
        <result column="transferee_loginName" property="transfereeLoginName"></result>
        <result column="transfer_fee" property="transferFee"></result>
        <result column="transfer_invest_id" property="transferInvestId"></result>
        <result column="period" property="period"></result>

    </resultMap>
    <insert id="create" parameterType="TransferApplicationModel" useGeneratedKeys="true" keyProperty="id">
        insert into transfer_application (name, loan_id, transfer_invest_id, invest_id, period, login_name, invest_amount, transfer_amount, transfer_fee, status, deadline, transfer_time, application_time)
        value (#{name}, #{loanId}, #{transferInvestId}, #{investId}, #{period}, #{loginName}, #{investAmount}, #{transferAmount}, #{transferFee}, #{status}, #{deadline}, #{transferTime}, #{applicationTime})
    </insert>

    <select id="findByTransferInvestId" parameterType="map" resultMap="transferApplicationResultMap">
        select * from transfer_application
        <where>
            <if test="transferInvestId != null">
                transfer_invest_id = #{transferInvestId}
            </if>
            <if test="transferStatusList != null and transferStatusList.size != 0">
                and status in
                <foreach item="item" index="index" collection="transferStatusList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

        </where>
    </select>

    <select id="findTransferApplicationPaginationByLoginName" parameterType="map" resultMap="transferApplicationRecordDtoMap">
        select ta.id,ta.name,ta.transfer_amount,ta.invest_amount,ta.transfer_time,ta.status,l.base_rate,l.activity_rate from transfer_application ta JOIN loan l on ta.loan_id = l.id
        <where>
            <if test="loginName != null">
                ta.login_name = #{loginName}
            </if>
            <if test="transferStatusList != null and transferStatusList.size != 0">
                and ta.status in
                <foreach item="item" index="i" collection="transferStatusList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

        </where>
        order by case ta.status when 'TRANSFERRING' then '1' when 'SUCCESS' then '2' when 'CANCEL' then '3' else '4' end,ta.application_time desc
        limit #{index}, #{pageSize}
    </select>

    <select id="findAllTransferApplicationPagination" parameterType="map" resultMap="transferApplicationRecordDtoMap">
        select ta.id,ta.name,ta.transfer_amount,ta.invest_amount,ta.transfer_time,ta.transfer_interest_days,ta.status,l.base_rate,l.activity_rate from transfer_application ta JOIN loan l on ta.loan_id = l.id
        <where>
            <if test="rateLower != '' and rateUpper != '' ">
                l.base_rate BETWEEN #{rateLower} AND #{rateUpper}
            </if>
            <if test="transferStatusList != null and transferStatusList.size != 0">
            and ta.status IN
            <foreach item="item" index="i" collection="transferStatusList" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
            <if test="transferStatusList == null || transferStatusList.size == 0">
                and ta.status IN ('SUCCESS','TRANSFERRING')
            </if>
        </where>
        order by ta.application_time desc
        limit #{index}, #{pageSize}
    </select>

    <select id="findCountAllTransferApplicationPagination" parameterType="map" resultType="int">
        select count(1) from transfer_application ta JOIN loan l on ta.loan_id = l.id
        <where>
            <if test="rateLower != '' and rateUpper != '' ">
                l.base_rate BETWEEN #{rateLower} AND #{rateUpper}
            </if>
            <if test="transferStatusList != null and transferStatusList.size != 0">
                and ta.status IN
                <foreach item="item" index="i" collection="transferStatusList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="transferStatusList == null || transferStatusList.size != 0">
                and ta.status IN ('SUCCESS','TRANSFERRING')
            </if>
        </where>
    </select>

    <select id="findCountTransferApplicationPaginationByLoginName" parameterType="map" resultType="int">
        select count(1) from transfer_application ta JOIN loan l on ta.loan_id = l.id
        <where>
            <if test="loginName != null">
                ta.login_name = #{loginName}
            </if>
            <if test="transferStatusList != null and transferStatusList.size != 0">
                and ta.status in
                <foreach item="item" index="i" collection="transferStatusList" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>

        </where>
    </select>

    <select id="findTransfereeApplicationPaginationByLoginName" parameterType="map" resultMap="transferApplicationRecordDtoMap">
        select ta.id,ta.name,ta.transfer_amount,ta.invest_amount,ta.transfer_time,ta.status,l.base_rate,l.activity_rate
        from transfer_application ta JOIN invest i on ta.invest_id = i.id JOIN loan l on l.id = ta.loan_id
        <where>
            <if test="loginName != null">
                i.login_name = #{loginName}
            </if>
            AND ta.status = 'SUCCESS'
        </where>
        order by ta.transfer_time desc
        limit #{index}, #{pageSize}
    </select>

    <select id="findCountTransfereeApplicationPaginationByLoginName" parameterType="map" resultMap="transferApplicationRecordDtoMap">
        select ta.id,ta.name,ta.transfer_amount,ta.invest_amount,ta.transfer_time,ta.status,l.base_rate,l.activity_rate
        from transfer_application ta JOIN invest i on ta.invest_id = i.id JOIN loan l on l.id = ta.loan_id
        <where>
            <if test="loginName != null">
                i.login_name = #{loginName}
            </if>
            AND ta.status = 'SUCCESS'
        </where>
    </select>

    <select id="findTransferApplicationPaginationList" parameterType="map" resultMap="transferApplicationRecordDtoMap">
        select ta.id,ta.name,ta.transfer_amount,ta.invest_amount,ta.transfer_time,ta.status,ta.loan_id,ta.login_name AS transferrer_loginName,ta.transfer_fee ,
        ta.transfer_invest_id,ta.period,i.login_name AS transferee_loginName from transfer_application ta left JOIN invest i on ta.invest_id = i.id
        <where>
            <if test="transferApplicationId != null">
                ta.id = #{transferApplicationId}
            </if>
            <if test="startTime != null">
                and ta.transfer_time >= #{startTime}
            </if>
            <if test="endTime != null">
                <![CDATA[ and ta.transfer_time <= #{endTime} ]]>
            </if>
            <if test="status">
               and ta.status = #{status}
            </if>
            <if test="transferrerLoginName != null and transferrerLoginName != '' ">
              and ta.login_name = #{transferrerLoginName}
            </if>
            <if test="transfereeLoginName != null and transfereeLoginName != ''">
              and i.login_name = #{transfereeLoginName}
            </if>
            <if test="loanId != null">
              and i.loan_id = #{loanId}
            </if>

        </where>
        order by transfer_time
        limit #{index}, #{pageSize}
    </select>

    <select id="findCountTransferApplicationPagination" parameterType="map" resultType="int">

        select count(1)
        from transfer_application ta left JOIN invest i on ta.invest_id = i.id
        <where>
            <if test="transferApplicationId != null">
                ta.id = #{transferApplicationId}
            </if>
            <if test="startTime != null">
                and ta.transfer_time >= #{startTime}
            </if>
            <if test="endTime != null">
                <![CDATA[ and ta.transfer_time <= #{endTime} ]]>
            </if>
            <if test="status != null">
                and ta.status = #{status}
            </if>
            <if test="transferrerLoginName != null and transferrerLoginName != '' ">
                and ta.login_name = #{transferrerLoginName}
            </if>
            <if test="transfereeLoginName != null and transfereeLoginName != ''">
                and i.login_name = #{transfereeLoginName}
            </if>
            <if test="loanId != null">
                and i.loan_id = #{loanId}
            </if>

        </where>
    </select>


    <select id="findByInvestId" parameterType="long" resultMap="transferApplicationResultMap">
        select * from transfer_application where invest_id = #{investId} and status = 'SUCCESS'
    </select>

    <update id="update" parameterType="TransferApplicationModel">
        update transfer_application
        set name = #{name},
        loan_id = #{loanId},
        transfer_invest_id = #{transferInvestId},
        invest_id = #{investId},
        period = #{period},
        login_name = #{loginName},
        invest_amount = #{investAmount},
        transfer_amount = #{transferAmount},
        transfer_fee = #{transferFee},
        status = #{status},
        deadline = #{deadline},
        transfer_time = #{transferTime},
        application_time = #{applicationTime}
        where id = #{id}
    </update>

    <select id="findById" parameterType="long" resultMap="transferApplicationResultMap">
        select * from transfer_application where id = #{id}
    </select>
</mapper>