@charset "utf-8";
@import "gift_circle_tip";
@mixin transform-scale ($sizing) {
  transform:scale($sizing);
  -ms-transform:scale($sizing);
  -moz-transform:scale($sizing);
  -webkit-transform:scale($sizing);
  -o-transform:scale($sizing);
}
//抽奖
.gift-circle-frame {
  position: relative;

  .gift-circle-out {
    float: left;
    background: none;
    border-radius:50%;
    background-size: 100%;
    width: 550px;
    height: 550px;
    position: relative;
    margin-top: 5px;
    .rotate-btn {
      width: 452px;
      height: 452px;
      position: absolute;
      left:0;
      right:0;
      top:0;
      bottom:0;
      margin: auto;
      background: none;
      border-radius:50%;
      background-size: contain;
    }
    .pointer-img {
      width: 135px;
      height: 200px;
      cursor: pointer;
      position: absolute;
      left:0;
      right:0;
      top:0;
      bottom:0;
      margin: auto;
      z-index: 8;
      background: none;
      background-size: contain;
    }

  }

  .gift-circle-detail {
    width: 410px;
    float: right;
    position: relative;
    h3 {
      height: 80px;
      line-height: 80px;
      border-radius: 40px;
      background: #e34758;
      color: #fbe9ca;
      font-size: 28px;
      .show-login {
        color: #fff;
        text-decoration: underline;
      }
    }
    //装饰
    .trim-strip {
      height:60px;
      width:100%;
      position: absolute;
      top:56px;
      .icon-square {
        width:16px;
        height: 16px;
        border-radius:50%;
        background: #c43631;
        position: absolute;

        &:nth-child(1) {
          top:0px;
          left:42px;
        }
        &:nth-child(2) {
          top:45px;
          left:42px;
        }
        &:nth-child(3) {
          top:0px;
          right:42px;
        }
        &:nth-child(4) {
          top:45px;
          right:42px;
        }
      }
      .icon-vertical-line {
        width:6px;
        height:48px;
        border-radius:6px;
        background: #f6ddb3;
        position: absolute;
        &:nth-child(5) {
          left: 47px;
          top: 7px;
        }
        &:nth-child(6) {
          right:47px;
          top: 7px;
        }
      }
    }

    .gift-info-box {
      background: #e34758;
      height:475px;
      color: #fffee3;
      margin-top: 26px;
      border-radius: 42px;
      padding: 30px;
      .gift-record {
        border:1px solid #fa877d;
        background: #cc404f;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-width: 0;
        font-size:18px;
        color: #fff;
        overflow: hidden;
        li {
          width:50%;
          float: left;
          height:47px;
          line-height: 47px;
          background: #a3313c;
          color: rgba(251,233,202,0.5);
          text-align: center;
          span {
            display: block;
            cursor: pointer;
          }
          &.active {
            background: none;
            color: #fff;
          }
        }
      }
      .record-list{
        background: #cc404f;
        border:1px solid #fa877d;
        height: 370px;
        border-top-width: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        overflow: hidden;
        ul.record-model {
          display: block;
          padding-top: 10px;
          text-align: left;
          padding-left: 30px;
          line-height: 37px;
          li {
            time {
              float: right;
              margin-right:30px;
            }
          }
        }
      }
    }
  }
}
.shade-body-mask {
  background: rgba(0,0,0,0.4);
  position: absolute;
  width:100%;
  height:100%;
  top: 0;
  left: 0;
  z-index: 800;
}


@media screen and (max-width: 700px) {
  .gift-circle-frame {
    .gift-circle-out {
      //@include  transform-scale(0.6);
      width: 300px;
      height: 300px;
      background-size:100%;
      float: none;
      margin:0 auto;
     .pointer-img {
       width: 70px;
       height: 102px;
       background-size: 100%;
     }
      .rotate-btn {
        width: 252px;
        height: 252px;
      }
    }
    .gift-circle-detail {
      width:100%;
      float: none;
      margin-top: 12px;

      h3 {
        height:45px;
        line-height: 45px;
        font-size: 18px;
      }
      .trim-strip {
        top:25px;
      }
      .gift-info-box {
        border-radius: 22px;
        padding: 20px 10px;
        height:auto;
        .gift-record {
          font-size:14px;
        }
        .record-list {
          height: auto;
          height:250px;
          ul.record-model {
            padding-left:10px;
            line-height: 19px;
            font-size:11px;
            li {
              height:30px;
            }
          }
        }
      }
    }
  }
}


