$width: 700px;

.nine-lottery-group {
	float: left;
	width: 100%;
	background: #f05e59;
	box-sizing: border-box;
	padding: 30px 20px 40px;

	@media (max-width:$width) {
		padding: 15px 10px 20px;
		text-align: center;
	}
	.lottery-left-group {
		display: inline-block;
		width: 500px;
		margin-right: 35px;

		@media (max-width:$width) {
			width: 258px;
			margin-right: 0;
		}
		h3 {
			float: left;
			width: 100%;
			height: 40px;
			line-height: 40px;
			text-align: center;
			font-size: 20px;
			color: #ffff66;
			border: 1px solid #ffff80;
			border-radius: 40px;
			box-sizing: border-box;
			background: #ff1552;
			margin: 0 0 10px;

			@media (max-width:$width) {
				height: 35px;
				line-height: 35px;
				font-size: 16px;
			}
		}
		.lottery-item {
			float: left;
			width: 100%;
			height: 380px;
			padding: 25px;
			box-sizing: border-box;
			background: url('/activity/images/model/double-eleven/lottery-bg.png') no-repeat center;

			@media (max-width:$width) {
				background-size: 100%;
				width: 258px;
				height: 200px;
				padding: 15px 10px;
			}
			li {
				float: left;
				width: 140px;
				height: 100px;
				margin: 5px;
				box-sizing: border-box;
				border-radius: 25px;

				@media (max-width:$width) {
					width: 75px;
					height: 52px;
					margin: 2px;
					border-radius: 15px;

					img {
						width: 100%;
					}
				}
				&.lottery-btn {
					cursor: pointer;
				}
				&.lottery-unit {
					text-align: center;
					padding-top: 10px;
					background: url('/activity/images/model/double-eleven/gift-bg.png') no-repeat center;
					border-bottom: 6px solid #e97f05;

					@media (max-width:$width) {
						padding-top: 8px;
						border-bottom: 3px solid #e97f05;

						img {
							width: 50%;
						}
					}
					&.active {
						background: #fff;
						border-bottom: none;
						border: 3px solid #ff1552;
					}
				}
			}
		}
	}
	.lottery-right-group {
		display: inline-block;
		width: 380px;
		border: 1px solid #ffff80;
		background: #ff1552;
		border-radius: 20px;
		box-sizing: border-box;
		min-height: 430px;
		overflow: hidden;

		@media (max-width:$width) {
			width: 258px;
			margin-right: 0;
		}
		h3 {
			float: left;
			width: 100%;
			margin: 0;
			position: relative;
			z-index: 9;

			span {
				float: left;
				width: 50%;
				font-size: 18px;
				text-align: center;
				color: #ffe8c6;
				line-height: 45px;
				height: 45px;
				cursor: pointer;
				background: #b22039;

				@media (max-width:$width) {
					font-size: 16px;
					line-height: 40px;
					height: 40px;
				}
				&.active {
					color: #fff;
					background: #ff1552;
				}
			}
		}
		.record-group {
			float: left;
			width: 100%;
			height: 385px;
			box-sizing: border-box;
			padding-top: 20px;
			position: relative;

			@media (max-width:$width) {
				height: 390px;
			}
			&:before {
				content: '';
				position: absolute;
				width: 100%;
				height: 20px;
				left: 0;
				top: 0;
				background: #ff1552;
			}
			&:after {
				content: '';
				position: absolute;
				width: 100%;
				height: 20px;
				left: 0;
				bottom: 0;
				background: #ff1552;
				border-bottom-left-radius: 20px;
				border-bottom-right-radius: 20px;
				@media (max-width:$width) {
				}
			}
			.record-item {
				float: left;
				width: 100%;
				box-sizing: border-box;
				padding: 0 30px;
				@media (max-width:$width) {
					padding: 0 15px;
				}
				&.my-gift {
					height: 345px;
					overflow-y: scroll;
				}
				&.active {
					display: block;
				}
				li {
					float: left;
					width: 100%;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;

					span {
						font-size: 14px;
						color: #fffee0;
						line-height: 35px;

						@media (max-width:$width) {
							font-size: 12px;
						}
						&.text-item {
							float: left;
						}
						&.time-item {
							float: right;
						}
					}
				}
			}
		}
	}
	.layui-layer {
		background: none;
		border-radius: 10px;
	}
	.lottery-tip {
		width: 300px;
		height: 241px;
		background: url('/activity/images/model/double-eleven/tip-bg.png') no-repeat center;
		background-size: 100%;
		position: relative;
		display: none;

		.close-btn {
			width: 20px;
			height: 20px;
			position: absolute;
			top: 10px;
			right: 10px;
			cursor: pointer;
			background: url('/activity/images/model/double-eleven/close-btn.png') no-repeat center;
			background-size: 100%;
		}
		.text-list {
			float: left;
			width: 100%;
			height: 180px;

			p {
				margin-bottom:0;
				&.title-text {
					text-align: center;
					margin-top:35px;
				}
				&.intro-text {
					font-size: 16px;
					color: #ffea00;
					text-align: center;
				}
				&.info-text {
					font-size: 12px;
					color: #fff;
					text-align: center;
				}
				&.no-time{
					font-size: 16px;
					color: #ffea00;
					text-align: center;
					margin-top:50px;
				}
			}
		}
		.btn-list{
			float:left;
			width:100%;
			text-align:center;
			.tip-btn{
				display:inline-block;
				width:100px;
				height:30px;
				line-height:30px;
				font-size:12px;
				color:#803c1a;
				background:#ffea00;
				text-align:center;
			    margin: 0 5px;
			}
		}
	}
}