/* glue: 0.11.1 hash: 01de588cf9 */
        .sprite-global-fix-icon,
.sprite-global-app-pc-top,
.sprite-global-knetSealLogo,
.sprite-global-itrust_logo,
.sprite-global-chengxin_logo,
.sprite-global-digicert,
.sprite-global-logo-tip,
.sprite-global-close-tip {
            background-image: url('/images/compress/global_20160408.png');
            background-repeat: no-repeat;
        }
        
        .sprite-global-fix-icon {
            background-position: 0 0;
            width: 52px;
            height: 60px;
        }
        
        .sprite-global-app-pc-top {
            background-position: -52px 0;
            width: 180px;
            height: 227px;
        }
        
        .sprite-global-knetSealLogo {
            background-position: -232px 0;
            width: 128px;
            height: 47px;
        }
        
        .sprite-global-itrust_logo {
            background-position: -232px -47px;
            width: 127px;
            height: 47px;
        }
        
        .sprite-global-chengxin_logo {
            background-position: -232px -94px;
            width: 127px;
            height: 47px;
        }
        
        .sprite-global-digicert {
            background-position: -232px -141px;
            width: 80px;
            height: 47px;
        }
        
        .sprite-global-logo-tip {
            background-position: -232px -188px;
            width: 50px;
            height: 50px;
        }
        
        .sprite-global-close-tip {
            background-position: -312px -141px;
            width: 16px;
            height: 16px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .sprite-global-fix-icon,
    .sprite-global-app-pc-top,
    .sprite-global-knetSealLogo,
    .sprite-global-itrust_logo,
    .sprite-global-chengxin_logo,
    .sprite-global-digicert,
    .sprite-global-logo-tip,
    .sprite-global-close-tip {
                background-image: url('/images/compress/global_20160408.png');
                -webkit-background-size: 360px 256px;
                -moz-background-size: 360px 256px;
                background-size: 360px 256px;
            }
        }
        