@import 'variables';
@media (max-width: 700px) {
  .page-width {
    width:100%;
  }
  .header-container {
    padding-left:10px;
    padding-right:10px;
    .header-download {
      display: block;
    }
    .header {
      width:100%;
      ul li {
        margin-left:10px;
        margin-right:0;
      }
      time,.login-pop-app {
        display: none;
      }
    }
  }

  .register-ad-box {
    display: none;
  }

  .nav-container {

    .nav {
      width:auto;
      .logo {
        width: 270px;
        background-size: 100%;
        margin-left: 10px;
      }

      .show-main-menu {
        display: inline-block;
        cursor: pointer;
      }
      ul {
        display: none;
        background: #fff;
        border:1px solid #ccc;
        position: absolute;
        top:48px;
        right:0;
        z-index: 100;
        overflow: auto;
        height: auto;

        li {
          float: none;
          clear: both;
          margin-left: 0;
          width:120px;
          a {
            height:25px;
            font-size: 13px;
            text-align: left;
            padding: 5px 10px;
            border-bottom: 1px solid #ccc;
            &:hover,&.active {
              color: #ff7200;
              border-bottom: #ff7200 1px solid;
              border-top:3px solid #fff;
            }
          }
        }
      }
    }
  }

  .footer-container  {
    padding-top:10px;
    .footer ul {
      clear:both;
      margin-left:10px;
      li {
        display: inline-block;
        margin-top:0;
        height:auto;

        &.f-title {
          margin:3px 0px!important;
          font-size: 12px;
        }
      }
      &.last {
        display: none;
      }
    }


    .copyright {
      padding-left:10%;
      .fl {
        display: block;
        float: none;
        a {
          display: inline-block;
          width: 50%;
          float: left;
          text-align: left;
          .img-gray {
            width:auto;
            margin-bottom:10px;
          }
        }
      }
      .fr {
        float: left;
        text-align: left;
        font-size:12px;
      }
    }

  }

  .main-frame.full-screen {
    width:100%;
    margin:0 auto!important;
  }
  .login-container {
    margin:20px auto!important;
    .login-app {
      display: none!important;
    }

  }

  form {
    input{
      &.error,&.valid {
        font-size: 14px;
      }
    }
    label.error {
      clear: both;
      font-size: 12px;
      color: nth($checkValid,1);
      padding-left: 5px;
      vertical-align: middle;
      &:before {
        padding-right: 5px;
        content: "\f057";
        font: normal normal normal 14px/1 FontAwesome;
        display: inline-block;
        font-size: 16px;
      }
    }
    input.valid +label.error {
      clear: both;
      &:before {
        content: "\f058";
        color: nth($checkValid,2);
      }
    }
    input.error +label.error {
      clear: both;
      &:before {
        content: "\f057";
        color: nth($checkValid,1);
      }
    }
  }

  .ad-recruit-img {
    height: 150px!important;
    background: url("/images/banner/ph-banner03.jpg") center top no-repeat!important;
    background-size: cover!important;
  }

  .recruit-content{
    width:100%!important;
    padding:0!important;
    .hot-link{
      width: 100%!important;
      height: auto!important;
      img{
        position: relative;
        width:100%;
        top: -1px;
      }
      .img-hot-link{
        display: none;
      }
    }
    .r-time{
      padding:0 20px;
      margin-top: 10px;
      dt{
        font-size:14px;
      }
      dd{
        font-size:12px;
        line-height:25px;
      }
    }
    .qualifications{
      padding-top: 10px;
      img{
        width:100%;
      }
    }
    .apply{
      padding-top: 10px;
      img{
        width:100%;
      }
    }
    .give-more{
      padding-top: 10px;
      img{
        width:100%;
      }
    }
  }
  .ad-ranking-img {
    height: 150px!important;
    background: url("/images/banner/ph-banner01.jpg") center top no-repeat!important;
    background-size: cover!important;
  }
  .responsive-width{
    width:100%!important;
    margin:0!important;
  }
  .click-article{
    padding:15px 10px!important;
  }
  .title-img{
    width:30%!important;
  }
  .ad-grand-img{
    height: 150px!important;
    background: url("/images/banner/ph-banner02.jpg") center top no-repeat!important;
    background-size: cover!important;
  }
  .grand-content{
    width:100%!important;
    padding-top: 10px!important;
    img{
      &.responsive-picture{
        width:100%!important;
      }
      &.responsive-rule{
        width:100%!important;
        margin-top:10px!important;
      }
    }
    .product-show{
      width:100%;
      padding-bottom: 10px;
      .p-title{
        padding:20px 10px;
      }
      .img-big{
        width:100%;
        height:auto;
        margin-bottom: 10px;
        &:hover .shadow-box{
          display: none;
        }
        .icon-mark{
          width:30%;
        }
        .product-img{
          width:100%;
          position:static;
        }
      }
      .img-small-box{
        width:100%;
        margin-left:0;
        .small-inner{
          float:left;
          width:50%;
          height:auto;
          margin: 0 0 10px 0;
          &:hover .shadow-box{
            display:none;
          }
          img{
            &.product-img{
              position: static;
              width:100%;
            }
          }
        }
      }
      .small-box-out{
        float:left;
        width:100%;
        margin-bottom: 10px;
        .small-inner{
          float:left;
          width:50%;
          height:auto;
          margin: 0 0 10px 0;
          &:hover .shadow-box{
            display:none;
          }
          img{
            &.product-img{
              position: static;
              width:100%;
            }
          }
        }
      }
    }
  }
  .text-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .main-frame{
    .left-nav{
      width:100%;
      margin:0;
      li{
        float: left;
        width:20%;
      }
    }
    .about-us-container{
      padding: 10px 20px!important;
      .company-info{
        width:100%!important;
      }
      .team-box{
        padding-top: 0!important;
        dl{
          float:left;
          margin-top: 10px;
        }
      }
      .notice-list{
        li{
          a{
            width:50%;
          }
        }
      }
      .column-title{
        em{
          width:100%;
          text-align:center;
          @extend .text-overflow;
        }
        time{
          margin-top:0;
        }
      }
      .detail-content{
        p{
          margin-bottom:0;
        }
      }
    }
  }
  .assurance-container{
    .money-safety{
      padding:10px 20px!important;
      .safety-info{
        width:100%!important;
        margin-top: 0!important;
      }
    }
    .data-safety{
      padding:10px 20px!important;
      .safety-info{
        width:100%!important;
        margin-top: 0!important;
        dt{
          text-align: left!important;
        }
        dd{
          text-align: left;
        }
      }
    }
    .secret-safety{
      padding:10px 20px!important;
      .safety-info{
        width:100%!important;
        margin-top: 0!important;
        dt{
          text-align: left;
        }
      }
    }
    .credit-safety{
      padding:10px 20px!important;
      .page-width{
        background: #FFFFF7!important;
        .safety-info{
          width:100%!important;
          margin-top: 0!important;
          p{
            width:100%!important;
            margin:0!important;
            padding:0!important;
          }
        }
      }
    }
  }
  .main-frame{
    .ad-guide-img{
      height: 150px!important;
      background: url(/images/banner/ph-guide.jpg) center top no-repeat!important;
      background-size: cover!important;
    }
    .content-info{
      h3{
        margin:10px 0!important;
        font-size: 16px!important;
      }
      p{
        font-size:14px!important;
      }
    }
    .content-a{
      img{
        width:100%;
        margin:0!important;
      }
    }
    .page-width{
      .our-advantage-content{
        .hide-dom{
          display: none;
        }
        .action-invest{
          font-size:14px!important;
        }
      }
    }
  }
}
