@media (max-width: 1000px) {

}

@media (max-width: 767px) {
  .page-width {
    width:100%;
  }
  .header-container {
    padding-left:10px;
    padding-right:10px;
    .header {
      width:100%;
      time,.login-pop-app {
        display: none;
      }
    }
  }

  .register-ad-box {
    display: none;
  }

  .nav-container {

    .nav {
      width:auto;
      .logo {
        width: 270px;
        background-size: 100%;
        margin-left: 10px;
      }

      .show-main-menu {
        display: inline-block;

      }
      ul {
        display: none;
        background: #fff;
        border:1px solid #ccc;
        position: absolute;
        top:45px;
        right:0;
        z-index: 100;
        overflow: auto;
        height: auto;

        li {
          float: none;
          clear: both;
          a {
            height:35px;
            font-size: 13px;
            padding-top:0;
            text-align: left;
          }
        }
      }
    }
  }

  .home-page-container .main-advantage dl dd {
    width: 100%!important;
    margin-bottom:25px;
  }

  .home-content {
    background: #fafafa;
    margin-top: 10px;
    .page-width {
      .product-box-list {
        width:100%!important;
        .product-box-inner {
          width:100%!important;;
          .product-box {
            width: 100%!important;;
            margin-right: 0;
          }
        }
        &.fl {
          float: none!important;
        }
      }
      .home-ad {
        width:100%!important;
      }
    }
  }

  .footer-container .footer ul {
    clear:both;
    margin-left:10px;
    li {
      display: inline-block;

      &.f-title {
        margin:10px!important;
      }
    }
    &.last {
      display: none;
    }

    .copyright {
      .fl {
        display: block;
        float: none;
        a {
          display: block;
          width:25%;

          .img-gray {
            width:100%;
          }
        }
      }
    }

  }

  .main-frame.full-screen {
    width:100%;

  }
  .login-container .login-app {
    display: none!important;
  }
  .step-register-tab {
    font-size: 14px!important;
    margin:0;
    li {
      width:30%!important;
    }
  }
  .register-container .register-box {
    margin:0 20px!important;
    width:100%!important;

  }

  form {
    input{
      &.error,&.valid {
        font-size: 14px;
      }
    }
    label.error {
      clear: both;
      font-size: 12px;
      color: nth($checkValid,1);
      padding-left: 5px;
      vertical-align: middle;
      &:before {
        padding-right: 5px;
        content: "\f057";
        font: normal normal normal 14px/1 FontAwesome;
        display: inline-block;
        font-size: 16px;
      }
    }
    input.valid +label.error {
      clear: both;
      &:before {
        content: "\f058";
        color: nth($checkValid,2);
      }
    }
    input.error +label.error {
      clear: both;
      &:before {
        content: "\f057";
        color: nth($checkValid,1);
      }
    }
  }
}
