@import 'variables';
.mainFrame {
  width: nth($baseWidth,1);
  @include center-block;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: auto;
  height: auto;
}
.contentContainer {
  width: nth($baseWidth,3);
  background:nth($baseColor,1);
}

//Account Overview
.AccountOverview {
  .accountImg {
    margin-right: 10px;
    width:71px;
    height: 71px;
  }
  .profileBox {
    span {
      font-size: nth($fontSize, 1);
      em {
        font-size: nth($fontSize, 4);
        padding-right: 5px;
      }
      }
    .proList {
      margin-top:4px;
      li {
        a { display: block;}
        &.fl {
          margin-top:5px;
          font-size: 20px;
          line-height: 0;
          margin-top: 14px;
          margin-right: 3px;
          a {
            color: nth($CK1,1);
            cursor: pointer;
            &.fa-mobile {font-size: 24px;
              margin-top: -3px; }
            &.fa-envelope-o { color: nth($CK2,2); }
          }

        }
        .btn-primary,.btn-normal {margin-left: 10px; padding:8px 20px;  }
      }
    }
  }
  .AssetsBox {
    height: 171px;
    .AssetsReport {
      width:270px;
      height: calc(100% - 30px);
      h3 {
        line-height: 15px;
        padding-bottom: 10px;
      }
    }
    .AssetsDetail {
      height: calc(100% - 30px);
      width:calc(100% - 330px);
      .DetailList {
        margin-top: 30px;
        li {
          float: left;
          width:50%;
          b {
            font-weight: normal; }
          span {
            display: inline-block;
            padding-left: 20px;
            color: nth($CK1, 1);
            padding-right: 3px;
          }

        }
      }
    }
  }
  .LastMonth,.tMonthPayment {
    table {
      border: 1px solid nth($CK1,1);
      caption{
        border-color:nth($CK1,1);
        color: nth($CK1, 1);
      }
      tr:nth-last-child(1)>td {
        border-bottom-width: 0;
      }
    }
    .PaymentSwitch {
      li {
        float: left;
        font-size: nth($fontSize, 4);
        margin-right: 18px;
        margin-bottom: 10px;
        a {
          color: nth($CK2,5);
        }
        &.current a{
          color: nth($CK1,1);
        }
      }
    }
  }
  .tMonthPayment {
    table {
      tr:nth-last-child(1)>td {
        border-bottom-width: 0px;
      }
      tfoot tr td{
        border-top: 1px solid nth($CK1,1);
        border-bottom: 1px solid nth($CK1,1);
      }
    }

  }
  .newProjects {
    &.bRadiusBox {
      padding:0;
      caption {
        border-width: 0px;
        font-size: nth($fontSize, 4);
        padding-left: 15px;
        .fr {
          font-size: nth($fontSize, 2);
          padding-top:5px;
        }
      }
    }
  }

}
.recharge-container {
  width: nth($baseWidth,3);
  background:nth($baseColor,1);
  border: #dadada 1px solid;

  @include border-radius(3px);
   & h4 {
    height: 48px;
    line-height: 46px;
    border-bottom: #d5d5d5 1px solid;
     & em {
      display: inline-block;
      padding: 1px 0;
      border-bottom: #e06b0c 2px solid;
      width: 110px;
      color: #ffac2a;
    }
  }
  .recharge-content {
    margin: 10px 4px 0px;
    & ul.payment-mode {
      border-bottom: #dddddd 1px solid;
      li {
        width: 114px;
        height:48px;
        line-height: 48px;
        border: #dddddd 1px solid;
        font-size: 17px;
        float: left;
        margin-right: 10px;
        cursor: pointer;
        position: relative;
        bottom: -1px;
        text-align: center;
      }

      li.active {
        border-bottom: #fff 1px solid;
        border-top: #e06b0c 1px solid;
      }
      .hot-flag {
        position: absolute;
        z-index: 8;
        right: 3px;
        top: 0px;
        background: url("/images/icons/hot.jpg") no-repeat center center;
        width:23px;
        height: 23px;
      }
    }
    & .e-bank-recharge {
      border: #dddddd 1px solid;
      border-top: none;
      overflow: hidden;
      padding-bottom: 20px;

    }
    & ol.fast-pay li {
      width: auto;
    }
    & ol {
      width: 798px;
      z-index: 1;
      float: left;
      overflow: hidden;
      padding: 10px 0;
      & p {
        line-height: 30px;
        padding-left: 25px;
        font-size: 15px;
      }
      & li {
        height: 38px;
        float: left;
        margin-right: 10px;
        cursor: pointer;
        position: relative;
        bottom: -1px;
        .hot-flag {
          position: absolute;
          z-index: 8;
          right: 3px;
          top: -14px;
        }
      }
      li.active {
        border-bottom: #fff 1px solid;
        border-top: #e06b0c 1px solid;
      }
    }
    .recharge-content {
      border: 1px solid #ddd;
      border-top-width: 0;
      padding: 15px 0;
      .e-bank-recharge {
        display: none;
        border-top: none;
        overflow: hidden;
        &.active {
          display: block;
        }
        ol {
          width: 798px;
          z-index: 1;
          float: left;
          overflow: hidden;
          padding: 10px 0;
          p {
            line-height: 30px;
            padding-left: 25px;
            font-size: 15px;
          }
          li {
            height: 38px;
            float: left;
            line-height: 38px;
            width: 145px;
            margin: 10px 56px 0 10px;
            cursor: pointer;
            &.new-line {
              margin: 10px 0 0 4px;
            }
            input {
              display: block;
              float: left;
              width: 12px;
              height: 12px;
              margin: 13px 8px 0 0;
            }
            label {
              display: block;
              float: left;
              width: 123px;
              height: 38px;
              img {
                width: 123px;
                height: 36px;
                border: #dddddd 1px solid;
                cursor: pointer;
              }
            }
          }
        }
      }
    }
    & .CertifiedImg {
      background: url('/images/sign/re-s01.png') center top no-repeat;
      //background-size: 50%;
      border-bottom: 1px solid #ddd;
      margin-bottom: 10px;
      height:170px;
    }
    & .panel {
      color: nth($baseColor, 6);
    }
    & p.notice {
      b  {
        font-size: nth($fontSize,4);}
    }
    & .btnBox  {
      margin-top:30px;
      margin-bottom: 20px;
    }
    & .planSwitch {
      color: nth($baseColor, 3);
      form {
        margin-left: 28px;
        margin-top: 15px;
      }
      dl {
        margin-bottom: 15px;
        clear: both;
        dt {
          color: nth($baseColor,4);
          display: inline-block;
          float: left;
          width:80px;
          text-align: right;
        }
        dd.projectLimit {
          float: left;
          width: 50%;
          label {
            margin-right: 5px;
          }
          span {
            display: inline-block;
            color: nth($baseColor, 4);
            width:60px;
            text-align: center;
            margin-right: 10px;
            margin-bottom: 10px;
            border: 1px solid #e1e1e1;
            position: relative;
            cursor: pointer;
            & .badge {
              background-image: url("/images/icons/spr.png");
              background-position: -387px -172px;
              background-repeat: no-repeat;
              width: 13px;
              height: 13px;
              position: absolute;
              top: 0;
              right: 0;
              display: none;
            }
            &.active {
              border: 1px solid nth($btnColor, 5);
              color: nth($btnColor, 5);
              & .badge {
                display: inline-block;
              }

            }

          }
        }

      }
      & .agreeStatus {
        margin-bottom: 20px;
        color: nth($baseColor, 4);
        label {
          vertical-align: middle;
        }
      }
    }
    & .borderBox:nth-child(2) {
      margin-top:10px;
    }
    & .planSet {
      i {
        color: nth($btnColor, 5);
      }
    }
  }
  & .recharge-form {
    width: 800px;
    overflow: hidden;
    & p {
      height: 34px;
      line-height: 35px;
      margin: 10px 0 0 35px;
      color: #353535;
      font-size: 15px;
      & i {
        color: #ffac2a;
        margin-left: 10px;
      }

      .recharge-form, .fast-recharge-form {
        width: 50%;
        margin: 0 auto;
        overflow: hidden;
        p {
          height: 34px;
          line-height: 35px;
          margin: 10px 0 0 35px;
          color: #353535;
          font-size: 15px;
          i {
            color: #ffac2a;
            margin-left: 10px;
          }
          input {
            width: 160px;
            margin: 0 10px;
            padding: 0 15px;
            line-height: 30px;
          }
        }
      }
      .submit {
        margin: 30px auto;
        width: 150px;
        height: 40px;
        background: #cc0000;
        color: #fff;
        display: block;
        line-height: 30px;
        text-align: center;
        border-radius: 3px;
        border: 1px solid #ccc;
        cursor: pointer;
        font-size: 14px;
      }
      .submit.grey {
        background: #666;
        color: #fff;
      }
    }
  }
  .recharge-tips {
    border: #d1d1d1 1px solid;
    margin: 15px 10px;
    font-size: 14px;
    padding: 15px;
    line-height: 30px;
  }
}

.email-right {
  width: 820px;
  height: auto;
  min-height: 294px;
  overflow: hidden;
  border: #dadada 1px solid;
  border-radius: 3px;
  float: right;
  background: #fff;
  position: relative;;
  & h4 {
    height: 18px;
    line-height: 18px;
    color: #333333;
    font-weight: normal;
    font-size: 20px;
    margin: 12px 12px;
    width: 786px;
  }
  & p {
    width: 316px;
    height: 36px;
    margin: 36px 0px 0px 130px;
    & input {
      width: 220px;
      height: 32px;
      border: #cccccc 1px solid;
      margin-left: 14px;
      padding: 0px 14px;
    }
    & span {
      display: block;
      width: 248px;
      height: 32px;
      line-height: 32px;
      position: absolute;
      left: 198px;
      top: 66px;
      color: #999;
    }
  }
  & input.send {
    width: 150px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background: #ff9933;
    color: #fff;
    border: none;
    margin: 14px 0px 20px 242px;
    display: block;
  }
}

.mask {
  width: 100%;
  background: rgba(0, 0, 0, .43);
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  display: none;
}

.email-yz {
  z-index: 3;
  width: 564px;
  height: 264px;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -132px 0px 0px -282px;
  display: none;
  & em {
    width: 522px;
    margin: 20px 0px 0px 21px;
    height: 16px;
    padding: 5px 0px;
    border-bottom: #ccc 1px solid;
    width: 522px;
    display: block;
    font-size: 14px;
    & span {
      display: block;
      float: right;
      font-size: 18px;
      height: 16px;
      width: 20px;
      text-align: center;
      line-height: 16px;
      margin-right: 6px;
    }
    :hover {
      cursor: pointer;
    }
  }
  & p {
    width: 522px;
    margin-left: 21px;
    line-height: 20px;
    font-size: 14px;
    margin-top: 18px;
    & i {
      font-weight: normal;
      color: #ff3333;
    }
  }
  & a {
    display: block;
    background: #ff6c00;
    color: #fff;
    width: 156px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    margin: 22px 0px 0px 210px;
    border-radius: 5px;
  }
  & ol {
    width: 246px;
    height: 54px;
    margin: 18px 0px 0px 184px;
    font-size: 14px;
    color: #333;
    & li {
      width: 100%;
      height: 16px;
      margin-top: 10px;
      line-height: 16px;
      & i {
        color: #007fe5;
        text-decoration: underline;
      }
    }
  }
}

.bind-card-layer {
  width: 540px;
  height: 244px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -270px;
  margin-top: -122px;
  background: #f2f3f5;
  z-index: 9999;
  border: 1px solid #ccc;
  display: none;
  & span {
    width: 26px;
    height: 26px;
    display: block;
    cursor: pointer;
    background: rgba(0, 0, 0, 1);
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: -13px;
    text-align: center;
    line-height: 26px;
    color: #fff;
  }
  & h4 {
    width: 510px;
    height: 50px;
    line-height: 50px;
    padding-left: 28px;
    font-size: 14px;
    color: #666;
    font-weight: normal;
  }
  & p {
    height: 120px;
    width: 100%;
    line-height: 120px;
    background: url("/images/cash/tan.jpg") no-repeat 64px center #fff;
    text-align: center;
  }
  & .btn-box-layer {
    text-align: center;
  }
  & a {
    width: 158px;
    height: 36px;
    display: inline-block;
    text-align: center;
    line-height: 36px;
    color: #fff;
    background: #ff6c00;
    margin: 20px 10px;
    border-radius: 3px;
  }
}

.ecope-overlay {
  background: #333;
  opacity: 0.6;
  filter: alpha(opacity=60);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  //display: none;
}

.ecope-dialog {
  background: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  max-height: 560px;
  width: 560px;
  position: absolute;
  z-index: 10000;
}

.ecope-dialog .dg_wrapper {
  position: relative;
  margin: 8px;
  padding: 10px;
  border: 1px solid #7a7a7a;
  font-size: 14px;
  background: #fff;
}

.ecope-dialog .btn {
  display: block;
  border: none;
  height: 36px;
  line-height: 36px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  width: 212px;
  background: #ff7575;
  letter-spacing: 1px;
  text-indent: 1px;
  outline: none;
  text-align: center;
}

.ecope-dialog .btn:hover {
  opacity: 0.8;
}

.ecope-dialog .btn-4 {
  background: #fc6;
}
.ecope-dialog .btn.btn-normal {
  line-height: 25px;
  margin: 20px auto 20px 90px;
}

.ecope-dialog .hd {
  height: 40px;
  border-bottom: 1px solid #ccc;
}

.ecope-dialog .hd h3 {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  color: #333;
  text-indent: 10px;
  margin: 0;
  font-weight: normal;
  position: relative;
}
.ecope-dialog h3 .close  {
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  top: 14px;
  right: 18px;
  cursor: pointer;
  background: url('/images/icons/spr.png') no-repeat 0 -100px;
}

.ecope-dialog .close:hover {
  background-position: 0 -143px;
}

.ecope-dialog .bd {
  margin: 10px;
}

.ecope-dialog .ret {
  margin-top: 20px;
  font-size: 16px;
}

.ecope-dialog .ret p {
  color: #666;
  margin: 20px 0;
}

.ecope-dialog .ret .btn {
  height: 36px;
  line-height: 36px;
  width: 120px;
  font-size: 14px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.ecope-dialog .ret .help {
  color: #999;
  font-size: 12px;
}

.ecope-dialog .ret a:hover {
  text-decoration: underline;
}

.ecope-dialog .bd .btns {
  margin: 40px 0 20px;
}

.ecope-dialog .dialog-chongzhi {
  background:#fff url('/images/sign/bg_dialog_cz.png') 414px 110px no-repeat;
}

.ecope-dialog .dialog-2 {
  width: 630px;
  height: 260px;
  margin: 0;
  padding: 0;
  background: #fff;
}

.dialog-2 .dg_header {
  font-size: 24px;
  color: #fff;
  height: 52px;
  line-height: 52px;
  background: #fc762b;
  text-indent: 30px;
}

.dialog-2 .dg_content {
  font-size: 18px;
  color: #4c4b4b;
}

.dialog-2 .dg_content p {
  margin: 40px 0 0 160px;
}

.dialog-2 .dg_footer {
  margin: 20px 0 0 160px;
}

.dialog-2 .dg_footer a {
  display: block;
  float: left;
  width: 144px;
  height: 46px;
  line-height: 46px;
  text-align: center;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
}

.dialog-2 .dg_footer .dg_btn_no {
  margin-right: 40px;
  background: #f96;
}

.dialog-2 .dg_footer .dg_btn_yes {
  margin-right: 40px;
  background: #f66;
}

.g-btn {
  display: block;
  color: #fff;
  border-radius: 5px;
  text-align: center;
}

.g-btn:hover {
  text-decoration: none;
  opacity: 0.8;
}

.g-btn-large-major {
  height: 48px;
  font-size: 20px;
  line-height: 2.4;
  background: #f63;
  letter-spacing: 3px;
  text-indent: 3px;
}

.g-btn-large-minor {
  height: 48px;
  font-size: 20px;
  line-height: 2.4;
  background: #f93;
  letter-spacing: 3px;
  text-indent: 3px;
}

.g-btn-medium-major {
  height: 36px;
  font-size: 16px;
  line-height: 2.25;
  background: #f63;
  letter-spacing: 1px;
  text-indent: 1px;
}

.g-btn-medium-minor {
  height: 36px;
  font-size: 16px;
  line-height: 2.25;
  background: #f93;
  letter-spacing: 1px;
  text-indent: 1px;
}

.g-btn-small-major {
  height: 30px;
  font-size: 14px;
  line-height: 2.142857143;
  background: #f63;
}

.g-btn-small-minor {
  height: 30px;
  font-size: 14px;
  line-height: 2.142857143;
  background: #f93;
}

.g-btn-medium-major, .g-btn-medium-minor {
  display: inline-block;
  width: 100px;
}