@import 'variables';
.header-container {
  background: #333;
  font-size: 12px;
  color: #fff;
  .header-download {
    display: none;
    padding: 10px 4px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    img.icon-close {
      margin-right: 10px;
      width:16px;
    }
    span {
      line-height: 1.6;
      display: inline-block;
      font-size: 14px;
      vertical-align: bottom;
      text-align: center;
      margin-left: 5px;
    }
    a.btn-normal {
      padding: 5px 8px;
      letter-spacing: 0;
      margin-top:5px;
    }
  }
  .header {
    height:30px;
    line-height:30px;
    margin: 0 auto;
    .service-time {
      display: inline-block;
      line-height:1;
      background: #333;
      padding-top:8px;
    }
       time {
          color: #979797;
          margin-left: 8px;
        }
      ul {
        li {
          float: left;
          margin-right: 10px;
          &.login-pop-app {
            position: relative;
            z-index: 90;
            img {
              position: absolute;
              right: -40px;
              top: 20px;
              display: none;
              z-index: 999;
            }
          }
          a {
            padding-left: 8px;
            color: #fff;
          }
        }
      }
  }
}

.footer-container {
  width: 100%;
  background: #3f3f3f;
  color: #c2c2c2;
  overflow: hidden;
  margin-top: 20px;
  .footer {
    height: 210px;
    margin: 0 auto;
    ul {
      float: left;
      min-width: 140px;
      text-align: left;
      li {
        height: 14px;
        margin-top: 14px;
        font-size: 12px;
        a {
          color: #c2c2c2;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      .f-title {
        font-size: 14px;
        color: #fff;
        margin:30px 0px 25px 0px;
      }
      &.last {
        margin-top: 40px;
        float:right;
      }
    }
  }
  .copyright {
    height: 65px;
    border-top: #606060 1px solid;
    margin: 0 auto;
    padding-top: 10px;
    img:hover {
      -webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      -o-filter: none;
      filter: none;
    }
  }
  .link-list{
    border-top: #606060 1px solid;
    ul {
      float:left;
      width:100%;
      li {
        float:left;
        margin-top: 8px;
        font-size: 12px;
        padding: 0 20px;
        a {
          color: #c2c2c2;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      .f-title {
        font-size: 14px;
        color: #fff;
        margin:6px 0;
      }
    }
  }
  .footer-responsive{
    display:none;
    float:left;
    width:100%;
    background:#fafafa;
    padding:20px 0;
    p{
      text-align:center;
      margin-bottom:0;
      font-size:12px;
      color:#999;
    }
    ul{
      width: 300px;
      margin: 0 auto;
      overflow: hidden;
      margin-bottom: 5px;
      li{
        float:left;
        width:33.333333%;
        text-align:center;
        border-right:1px solid #ccc;
        box-sizing:border-box;
        line-height:14px;
        &:last-child{
          border-right:none;
        }
        a{
          font-size:12px;
          color:#999;
        }
      }
    }
  }
}

.nav-container {
  width: 100%;
  background: #fff;
  .nav {
    width: 1000px;
    height: 75px;
    position: relative;
    margin: 0 auto;
    .logo {
      background: url("/images/icons/logo.png") left center no-repeat;
      width: 365px;
      height: 50px;
      display: block;
      float: left;
      margin-top: 15px;
    }
    .show-main-menu {
      display: none;
      margin-top: 25px;
      margin-right: 10px;
      font-size: 20px;
    }
    ul {
      height: 100%;
      float: right;
      li {
        float: left;
        width: 100px;
        margin-left: 15px;
        position: relative;
        a {
          border-top: #fff 3px solid;
          display: block;
          height: 52px;
          text-align: center;
          padding-top: 20px;
          color: #4d4d4d;
          font-size: 15px;
          &:hover {
            cursor: pointer;
            color: #ffe0c7;
            border-top: #ff7200 3px solid;
          }
          &.active {
            color: #ff7200;
            border-top: #ff7200 3px solid;
          }
        }
      }
    }
  }
}

.main-frame {
  width: 1000px;
  height: auto;
  margin: 20px auto;
  .left-nav {
    width: 150px;
    height: auto;
    overflow: hidden;
    float: left;
    background: #e7eaef;
    margin: 0 15px 20px 0;
    li {
      border-bottom: #f9f9f9 1px solid;
      a {
        display: block;
        height: 45px;
        line-height: 45px;
        text-align: center;
        color: #4d4d4d;
        &:hover {
          background: #ffe0c7;
        }
        &.active {
          background: #ff7200;
          color: #fff;
        }
      }
    }
  }
  .about-us-container,.content-container {
    background: #fff;
    padding:10px 30px 30px 40px;
    overflow: hidden;
    min-height: 400px;
  }
}

@media screen and (max-width: 700px) {
  .header-container {
    padding-left:10px;
    padding-right:10px;
    .header-download {
      display: block;
    }
    .header {
      width:100%;
      ul li {
        margin-left:10px;
        margin-right:0;
      }
      time,.login-pop-app {
        display: none;
      }
    }
  }
  .nav-container {

    .nav {
      width:auto;
      .logo {
        width: 270px;
        background-size: 100%;
        margin-left: 10px;
      }

      .show-main-menu {
        display: inline-block;
        cursor: pointer;
      }
      ul {
        display: none;
        background: #fff;
        border:1px solid #ccc;
        position: absolute;
        top:48px;
        right:0;
        z-index: 100;
        overflow: auto;
        height: auto;

        li {
          float: none;
          clear: both;
          margin-left: 0;
          width:120px;
          a {
            height:25px;
            font-size: 13px;
            text-align:left;
            padding: 5px 10px;
            border-bottom: 1px solid #ccc;
            &:hover,&.active {
              color: #ff7200;
              border-bottom: #ff7200 1px solid;
              border-top:3px solid #fff;
            }
          }
        }
      }
    }
  }
  .footer-container .page-width{
    display:none;
  }
  .footer-container .footer-responsive{
    display:block;
  }
  .main-frame{
    .content-container {
      padding: 10px!important;
    }
    .left-nav{
      width:560px;
      margin:0;
      li{
        float: left;
        width:16.666666%;
        &:nth-child(4) {
          display: none;
        }
      }
    }

  }
}