@import 'variables';
.header-container {
  background: #333;
  font-size: 12px;
  color: #fff;
  .header-download {
    display: none;
    padding: 10px 4px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    img.icon-close {
      margin-right: 10px;
      width:16px;
    }
    span {
      line-height: 1.6;
      display: inline-block;
      font-size: 14px;
      vertical-align: bottom;
      text-align: center;
      margin-left: 5px;
    }
    a.btn-normal {
      padding: 5px 8px;
      letter-spacing: 0;
      margin-top:5px;
    }
  }
  .header {
    height:30px;
    line-height:30px;
    margin: 0 auto;
    .service-time {
      display: inline-block;
      line-height:2;
      background: #333;
    }
       time {
          color: #979797;
          margin-left: 8px;
        }
      ul {
        li {
          float: left;
          margin-right: 10px;
          &.login-pop-app {
            position: relative;
            z-index: 90;
            img {
              position: absolute;
              right: -40px;
              top: 20px;
              display: none;
            }
          }
          a {
            padding-left: 8px;
            color: #fff;
          }
        }
      }
  }
}

.footer-container {
  width: 100%;
  background: #3f3f3f;
  color: #c2c2c2;
  overflow: hidden;
  margin-top: 20px;
  .footer {
    height: 210px;
    margin: 0 auto;
    ul {
      float: left;
      min-width: 150px;
      text-align: left;
      li {
        height: 14px;
        margin-top: 14px;
        font-size: 12px;
        a {
          color: #c2c2c2;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      .f-title {
        font-size: 14px;
        color: #fff;
        margin:30px 0px 25px 0px;
      }
      &.last {
        margin-top: 40px;
        float: right;

      }
    }
  }
  .copyright {
    height: 65px;
    border-top: #606060 1px solid;
    margin: 0 auto;
    padding-top: 10px;
    img:hover {
      -webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      -o-filter: none;
      filter: none;
    }
  }
}

.nav-container {
  width: 100%;
  background: #fff;
  .nav {
    width: 1000px;
    height: 75px;
    position: relative;
    margin: 0 auto;
    .logo {
      background: url("/images/icons/logo.png") left center no-repeat;
      width: 365px;
      height: 50px;
      display: block;
      float: left;
      margin-top: 15px;
    }
    .show-main-menu {
      display: none;
      margin-top: 25px;
      margin-right: 10px;
      font-size: 20px;
    }
    ul {
      height: 100%;
      float: right;
      li {
        float: left;
        width: 100px;
        margin-left: 15px;
        position: relative;
        a {
          border-top: #fff 3px solid;
          display: block;
          height: 52px;
          text-align: center;
          padding-top: 20px;
          color: #4d4d4d;
          font-size: 15px;
          &:hover {
            cursor: pointer;
            color: #ffe0c7;
            border-top: #ff7200 3px solid;
          }
          &.active {
            color: #ff7200;
            border-top: #ff7200 3px solid;
          }
        }
      }
    }
  }
}

.main-frame {
  width: 1000px;
  height: auto;
  margin: 20px auto;
  .left-nav {
    width: 150px;
    height: auto;
    overflow: hidden;
    float: left;
    background: #e7eaef;
    margin: 0 15px 20px 0;
    li {
      border-bottom: #f9f9f9 1px solid;
      a {
        display: block;
        height: 45px;
        line-height: 45px;
        text-align: center;
        color: #4d4d4d;
        &:hover {
          background: #ffe0c7;
        }
        &.active {
          background: #ff7200;
          color: #fff;
        }
      }
    }
  }

  .about-us-container,.content-container {
    background: #fff;
    padding:10px 30px 30px 40px;
    overflow: hidden;
    min-height: 400px;
  }
}