@import 'variables';
* {
  margin: 0;
  padding: 0;
}
html, ul, li, ol, dl, dd, dt, p, h3, h4, h5, h1, h2, span, i, b, strong, em, input,button {
  list-style: none;
  outline: none;
  font-style: normal;
}
article,aside,canvas,details,figcaption,figure,
footer,header,menu,nav,section,summary {
  display:block;
}
img {
  border: none;
  vertical-align: middle;
}

body {
  font-family: $fontStack;
  font-size: nth($fontSize,2);
  line-height: nth($baseLineHeight,1);
  background: nth($baseColor,5);
  color:nth($CK2,5);
}
a{
  color:nth($linkColor,1);
  text-decoration: none;
  &:hover{
    color:nth($linkColor,2);
  }
}
.fl {
  float: nth($baseFloat, 1);
}
.fr {
  float: nth($baseFloat,2);
}
.tl {
  text-align: left;
}
.tc {
  text-align: center;
}
.tr {
  text-align: right;
}
//@extend
.auto-height {
  overflow: auto;
  height: auto;
}
.clear:after,
.clear:before{
  clear: both;
  visibility: hidden;
  height: 0;
  display: block;
  content: '';
}
.clearBlank{
  clear: both;
  margin-top:10px;
}
.pad-s {
  padding: 10px;
}
.pad-m {
  padding: 30px;
}
.bgWhite {
  background: nth($baseColor,1);
}
.error {
  color: $required;
}
// form validation
.fa {
  padding-left: 4px;
  padding-right: 4px;
}

label {
  &.form-error {
    font-size: 12px;
    color: nth($checkValid,1);
    padding-left: 5px;
    vertical-align: middle;
    &:before {
      padding-right: 5px;
      content: "\f057";
      font: normal normal normal 14px/1 FontAwesome;
      display: inline-block;
      font-size: 16px;
      color: nth($checkValid,1);
    }
  }
}
input.valid + label.form-valid:before {
      content: "\f058";
      font: normal normal normal 14px/1 FontAwesome;
      display: inline-block;
      font-size: 16px;
      color: nth($checkValid,2);
}



