$CK2:#333 #666 #ccc rgba(230,230,230,1) rgba(0,0,0,1) rgba(121,121,121,1);
table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  caption {
    text-align: left;
    border: 1px solid #ccc;
    border-bottom-width: 0;
    padding: 5px;
  }
  th { background:nth($CK2, 4); }
  th,td {
    padding: 5px;
  }
  &.table {
    th,td {
      border-bottom: 1px solid nth($CK2, 3);
    }
  }
  &.table-border {
    th,td {
      border: 1px solid nth($CK2, 3);
    }
  }
  &.table-striped {
    tr:nth-child(even)>td {
      background:nth($CK2, 4);
    }
  }
  &.table-hover {

  }
  &.table-condensed {

  }
}
