/* safety assurance page,will be remove,the old page is no useful  */
.assurance-container {
  padding-top: 10px;
  color: #fff;
  font-size: 14px;
  p {
    color: #fff;
    font-size: 14px;
  }

  .section-title {
    position: relative;
    width: 100%;
    text-align: center;
    .line {
      border-top: 1px dashed #fff;
    }
    b {
      font-size: 50px;
      margin-top: -61px;
      line-height: 1;
      display: inline-block;
      padding: 10px 20px;
    }
    em {
      font-size: 30px;
      display: block;
    }
  }
  .bg1 {
    background: #d9ac52;
  }
  .bg2 {
    background: #50b281;
  }
  .bg3 {
    background: #9676d6;
  }
  .down {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 400px;
    b {
      display: block;
    }
    .down-icon{
      -webkit-animation: fade 3s infinite linear;
      animation: fade 3s infinite linear;
    }
    @-webkit-keyframes fade {
      0% { opacity: 1;}
      50% { opacity: 0.3;}
      100% { opacity: 1;}
    }
    @keyframes fade {
      0% { opacity: 1;}
      50% { opacity: 0.3;}
      100% { opacity: 1;}
    }
  }
  .box-benift {
    .page-width {
      position: relative;
      img.fl {
        margin-left: 90px;
        margin-top: 50px;
      }
      .fr {
        padding-top: 70px;
        margin-right: 100px;
      }
    }

  }
  .box-wealth {
    .wealth-content {
      position: relative;
      padding-top: 320px;
      .page-img {
        position: absolute;
        left: 360px;
        top: 35px;
      }
      .article-one {
        width: 40%;
        position: absolute;
        left: 0;
        top: 50px;
      }
      .article-two {
        width: 40%;
        position: absolute;
        left: 0;
        top: 300px;
      }
      .article-three {
        width: 40%;
        position: absolute;
        right: 0;
        top: 285px;
      }
    }
  }
  .box-insurance {
    padding-top: 50px;
    .page-width {
      position: relative;
      .page-img {
        position: absolute;
        right: 20px;
        top: 60px;
      }
      .sqr-title {
        border-radius: 17px;
        border: 1px dashed #fff;
        display: inline-block;
        padding: 4px 10px;
        line-height: 1.4;
      }
      .fl {
        width: 42%;
      }
      .fr {
        width: 35%;
        padding-top: 295px;
      }
      .article-mobile {
        display: none;
      }
    }
  }
}