@import 'variables';
/*about us*/
.about-us-container {
  background: #fff;
  padding:10px 30px 30px 40px;
  overflow: hidden;

  .company-summary {
    p {
      font-size: nth($fontSize,1);
    }
  }
  .company-info {
    width:48%;
    b.text-m {
      padding-bottom: 10px;
      display: inline-block;
    }
  }
  .notice-list {
    li {
      border-bottom: 1px dotted #ccc;
      color:#4c4c4c;
      padding-top: 7px;
      position: relative;
      font-size: nth($fontSize,3);
      line-height: 2;
      i {
        color: #ff7200;
        padding-right: 7px;
        float: left;
      }
      a {
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width:80%;
        color:#4c4c4c;
        &.hover {
          color: nth($CK1,2);
        }
      }
      time {
        position: absolute;
        right:0;
        top:5px;
      }

    }
  }
  .real-attention {
    margin-top:15px;
    margin-bottom:15px;
    li {
      width:50%;
      float: left;
    vertical-align: bottom;
    display: inline-block;
    img {
      border:1px solid #ccc;
      vertical-align: bottom;
      margin-right: 15px;
    }
    }
  }

  .team-box {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    padding-top:15px;
    color: #4c4c4c;
    img {
      &.fl {
        margin-right:80px;
      }
      &.fr {
        margin-left: 80px;
      }
    }
    dl {
      overflow: hidden;
      margin-top:20px;
      dt {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 12px;
      }
    }
    &.last {
      border-bottom-width: 0;
    }
  }
}

.assurance-container {
  .as-title {
    dt {
      color: #10aaf0;
      font-size: 28px;
      line-height: 1.5;
    }
    dd {
      em,i,s {
        display: inline-block;
      }
      s {
        margin-right: 5px;
        vertical-align: middle;
        text-decoration: none;
      }
      em {
        width:167px;
        height:1px;
        background: #9ad7f3;

        vertical-align: middle;
        &:nth-child(1) {
          margin-right:10px;
          @include gradient-linear(90deg,#e2f8fe,#9ad7f3);
        }
        &:nth-last-child(1) {
          margin-left:10px;
          @include gradient-linear(90deg,#9ad7f3,#e2f8fe);
        }
      }
      .fa:before {
        padding-left: 0px;
        padding-right: 0px;
      }
      i {
        font-size: 18px;
        margin-left: -5px;
        color: #4ba4b5;
      }
    }

    &.other-style {
      dt {
        color: #ff9c1b;
      }
      dd {
        em {
          background: #9ad7f3;
          &:nth-child(1) {
            @include gradient-linear(90deg,#fff8e4,#ffb046);
          }
          &:nth-last-child(1) {
            @include gradient-linear(90deg,#ffb046,#fff8e4);
          }
        }
        i {
          color: #ff9c1b;
        }
      }
    }
  }
  .bg-even {
    background: #ecfcff;
  }
  .bg-odd {
    background: #f7ffef;
  }
  .safety-info {
    margin-top:40px;

    dt {
      color: #10aaf0;
      font-size: 18px;
      border-bottom: 1px dashed #10aaf0;
      display: inline;
      padding-left:10px;
      padding-right: 10px;
    }
    dd {
      font-size: 14px;
      line-height: 1.4;
      margin-bottom:25px;
      &.third {
        margin-bottom: 23px;
      }
    }
    &.other {
      dt {
      color: #ff6400;
      border-bottom: 1px dashed #ff6400;
      }
    }
  }
  .money-safety {
    @extend .bg-even;
    padding:40px 40px 20px 40px;
    .page-width {
      background: url("/images/sign/assure/bg-safety.png") 40px 133px no-repeat;
    }
    .safety-info {
      width: 580px;
    }
  }
  .data-safety {
    @extend .bg-odd;
    padding:40px 40px 20px 40px;
    .page-width {
      background: url("/images/sign/assure/bg-data.png") right 135px no-repeat;
    }
    .safety-info {
      width: 560px;
      dd {
        margin-bottom: 32px;
        &.first {
          margin-bottom: 36px;
        }
        &.second {
          margin-bottom: 38px;
        }
        &.third {
          margin-bottom: 28px;
        }
      }
    }
  }
  .secret-safety {
    @extend .bg-even;
    padding:40px 40px 0px 40px;
    .page-width {
      background: url(/images/sign/assure/bg-secret.png) 50px 105px no-repeat;
    }
    .safety-info {
      width: 580px;
      dd {
        margin-bottom: 85px;
      }
    }
  }
  .credit-safety {
    background: #fffff7;
    padding:40px 40px 20px 40px;
    .page-width {
      background: url("/images/sign/assure/bg-credit.png") right 150px no-repeat;
    }
    .safety-info {
      width: 630px;
      dd {
        margin-bottom: 32px;
        font-size: 16px;
        p {
          width:315px;
          line-height: 1.9;
          margin-top:50px;
          border-bottom: 1px dashed #ff9c1b ;
          padding-bottom: 23px;
          padding-left: 90px;
          i {
            color: #ff9c1b;
            font-size: 20px;
          }
        }
      }
    }
  }
}

.new-guide-container {
  color: #2f2f2f;
  .ad-guide-img {
    height:350px;
    background: url("/images/banner/banner-guide.jpg") center top no-repeat;
  }
  .content-info {
    h3 {
      font-size: 41px;
      font-weight: normal;
      margin: 20px auto;
      line-height: 1.2;
    }
    p {
      font-size: 17px;
    }
  }

  .contentA {
    background: #f1f1f1;
    img {
      margin:20px auto;
    }
  }
  .our-advantage-content {
    h3 {
      color: #313131;
      font-size: 30px;
      padding:10px 10px 0 10px;
      font-weight: bold;
    }
  .advantage-list {
    font-size: 0;
    li {
      width:33%;
      display: inline-block;
      font-size: 16px;
      color: #6a6a6a;
      box-sizing: border-box;
      padding:10px;
      text-align: center;
      b {
        padding:10px 30px;
        color: #6a6a6a;
        font-size: 16px;
        display: inline-block;
        line-height: 1.6;
      }
    }
  }
    .invest-category {
      font-size: 0;
      h3 {
        text-align: center;
        font-size: 22px;
        padding:20px 30px 10px 30px;
        line-height: 1.8;
        img {
          margin-top:20px;
        }
        span {
          overflow: hidden;
          display: inline-block;
          text-align: center;
          font-weight: normal;
          b {
            font-size: 20px;
          }
        }

      }
      li {
        width:31%;
        height:240px;
        display: inline-block;
        font-size: 17px;
        color: #fff;
        margin-left:2%;
        &:nth-child(1) {
          background: #ef991e;
        }
        &:nth-child(2) {
          background: #349dd7;
        }
        &:nth-child(3) {
          background: #18b15f;
        }
      p {
        padding:0px 30px;
        color: #fff;
        line-height:1.8;
      }
      }
    }
    .invest-example {
      li {
        width:33%;
        display: inline-block;
        text-align: center;
      }
    }
    .register-slide-out {
      background: url("/images/sign/aboutus/screen-show.png") center 20px no-repeat;
      height: 544px;
      position: relative;
      img {
        &.last,&.next {
          margin-top:160px;
          cursor: pointer;
        }
      }
      .step-register-tab{
        li {
          cursor: pointer;
        }
      }
      .slide-img-box {
        width: 690px;
        height: 412px;
        overflow: hidden;
        position: relative;
        left: 81px;
        top: 50px;
        li {
          position: absolute;
          left: 0;
          top:0;
          display: none;
        }

      }

    }
  }
}





