@import 'variables';
@import "fancybox";
/*about us*/
.about-us-container {
  background: #fff;
  padding: 10px 30px 30px 40px;
  overflow: hidden;
  p{
    font-size:14px;
    color:#4c4c4c;
    .give-number{
      color:#ff7200;
    }
  }
  &.company-summary {
    .refer-reward-box {
      position: relative;
      height:640px;
      &.mobile {
        display: none;
      }
      .pc-column {
        width:145px;
        height: 561px;
        background: url("/images/sign/aboutus/give-intro.png") 0 0 no-repeat;
        position: absolute;
        left: 300px;
        top: 30px;
      }
      .border-radius {
        border: 1px solid #ff7200;
        border-radius: 8px;
        padding: 8px 10px;
      }
      .section-one {
        position: absolute;
        left: 446px;
        top: 60px;

      }
      .section-two {
        position: absolute;
        left: 8px;
        top: 105px;
        width: 270px;

      }
      .section-three {
        position: absolute;
        left: 444px;
        top: 280px;
        width: 270px;
      }
      .section-four {
        position: absolute;
        left: 8px;
        top: 430px;
        width: 270px;
      }
    }
    .info span {
      display: none;
    }
  }
  .company-info {
    width: 48%;

    b.text-m {
      padding-bottom: 10px;
      display: inline-block;
    }
  }
  .notice-list {
    li {
      border-bottom: 1px dotted #ccc;
      color: #4c4c4c;
      padding-top: 7px;
      position: relative;
      font-size: nth($fontSize, 3);
      line-height: 2;

      i {
        color: #ff7200;
        padding-right: 7px;
        float: left;
      }
      a {
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 80%;
        color: #4c4c4c;

        &.hover {
          color: nth($CK1, 2);
        }
      }
      time {
        position: absolute;
        right: 0;
        top: 5px;
      }
    }
  }
  .real-attention {
    margin-top: 15px;
    margin-bottom: 15px;

    li {
      width: 50%;
      float: left;
      vertical-align: bottom;
      display: inline-block;

      img {
        border: 1px solid #ccc;
        vertical-align: bottom;
        margin-right: 15px;
      }
    }
  }
  .team-box {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    padding-top: 15px;
    color: #4c4c4c;
    &.com-list{
      border-bottom:none;
    }
    img {
      &.fl {
        margin-right: 80px;
      }
      &.fr {
        margin-left: 80px;
      }
      &.com-img{
        float:left;
        margin-right:20px;
      }
    }
    dl {
      overflow: hidden;
      margin-top: 20px;
      &.company-user{
        margin-top:0;
        dt{
          padding-bottom:0;
          span{
            font-size:12px;
            color:#ff7200;
            margin-left: 10px;
          }
        }
        dd{
          font-size:12px;
        }
      }
      dt {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 12px;
      }
    }
    &.last {
      border-bottom-width: 0;
    }
  }
  .common-problem{
    border-bottom: 1px solid #ccc;
    color: #4c4c4c;
    dl {
      overflow: hidden;
      padding-bottom:20px;
      dt {
        padding-bottom: 10px;
        i{
          font-size:14px;
        }
        span{
          font-size: 14px;
          font-weight: normal;
          cursor:pointer;
          &:hover{
            color:#ff7200;
          }
        }
      }
      dd{
        color:#808080;
        padding:10px;
        margin: 0 0 10px 0;
        display:none;
        font-size: 12px;
        background:#fbfbfb;
        position: relative;
        border:1px solid #efefef;
        &:before{
          position:absolute;
          top:-6px;
          left:30px;
          content:"";
          display:block;
          width:0; 
          height:0;
          border-left:6px solid transparent;
          border-right:6px solid transparent;
          border-bottom:6px solid #efefef;
        }
        &.active{
          display:block;
        }
      }
    }
    &.last {
      border-bottom-width: 0;
    }
  }
  .com-place{
    float:left;
    width:100%;
    li{
      float:left;
      width:240px;
      height:200px;
      margin-right:15px;
      margin-bottom:15px;
      position: relative;
      span{
        width:100%;
        line-height:50px;
        position: absolute;
        bottom:0;
        left:0;
        font-size:18px;
        color:#fff;
        text-align:center;
        background:rgba(0,0,0,.5)
      }
    }
  }
  .partner-list{
    float:left;
    width:100%;
    li{
      float:left;
      width:100%;
      padding:20px 0;
      border-bottom:1px dashed #ff7200;
      &:last-child{
        border-bottom:none;
      }
      p{
        float:left;
        margin-bottom:0;
        &.icon-logo{
          width:170px;
          height:80px;
          border: 1px solid #e5e5e5;
          background-image: url("/images/sign/aboutus/icon-list.jpg");
        }
        &.logo-one{
          background-position: -170px 0;
        }
        &.logo-two{
          background-position: 0 0;
        }
        &.partner-intro{
          width:570px;
          margin-left:20px;
          span{
            float:left;
            width:100%;
            font-size:12px;
            color:#808080;
            &.partner-name{
              font-size:14px;
              color:#4c4c4c;
            }
          }
        }
      }
    }
  }
  .data-model{
    float:left;
    width:100%;
    h3{
      float:left;
      width:100%;
      margin-bottom:20px;
    }
    .model-container{
      float:left;
      width:100%;
      margin-bottom:20px;
      &.chart-dom{
        width:765px;
        height:250px;
      }
      .model-title{
        float:left;
        width:100%;
        li{
          float:left;
          width:180px;
          height:80px;
          padding-top:20px;
          &.model-one{
            background:#e9ecf2;
            margin-right:100px;
            p{
              color:#1a1a1a;
            }
          }
          &.model-two{
            background:#ff9c1b;
            margin-right:100px;
            p{
              color:#fff;
            }
          }
          &.model-three{
            background:#e9ecf2;
            p{
              color:#1a1a1a;
            }
          }
          p{
            text-align: center;
            margin-bottom: 0;
            line-height: 30px;
            font-size: 20px;
          }
        }
      }
      .table{
        thead{
          th{
            color:#fff;
            background:#15aacd;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px){

  .about-us-container{
    padding: 10px!important;
    .company-info{
      width:100%!important;
    }
    .team-box{
      padding-top: 0!important;
      dl{
        dt {
          padding-bottom:0px!important;
        }
        float:left;
        margin-top: 4px;
        margin-bottom: 8px;
      }
    }
    .notice-list{
      li{
        a{
          width:65%;
        }
      }
    }
    .crumb-lead {
      display: none;
    }
    .detail-content{
      img {
        width:100%;
      }
      p{
        margin-bottom:0;
      }
    }
    &.company-summary {
      h3 {
        text-align: center;
      }
      p{
        margin-bottom: 5px;
        font-size: 13px;
      }
      .refer-reward-box {
        &.pc {
          display: none;
        }
        &.mobile {
          display: block;
          height:auto;
          margin-bottom:15px;
        }
      }
      .info span {
        display: block;
      }
    }
    .team-box{
      .com-img{
        height:auto!important;
      }
    }
    .com-place{
      li{
        width:100%;
        margin-right:0;
        img{
          width:100%;
          height: 100%;
        }
      }
    }
    .partner-list{
      li{
        p{
          &.icon-logo{
            display:none;
          }
          &.logo-one{
            background-position: -170px 0;
          }
          &.logo-two{
            background-position: 0 0;
          }
          &.partner-intro{
            width:100%;
            margin-left:0;
            span{
              float:left;
              width:100%;
              font-size:12px;
              color:#808080;
              &.partner-name{
                font-size:14px;
                color:#4c4c4c;
              }
            }
          }
        }
      }
    }
    .data-model{
      &.cheat-model{
        overflow:hidden;
        overflow-x:scroll;
      }
      .model-container{
        .model-title{
          li{
            float:left;
            width:33.333333%;
            height:auto;
            padding:10px 0;
            &.model-one{
              margin-right:0;
            }
            &.model-two{
              margin-right:0;
            }
            p{
              font-size:12px;
            }
          }
        }
      }
    }
  }

}
