@import 'variables';
/*about us*/
.about-us-container {
  background: #fff;
  padding:10px 30px 30px 40px;
  overflow: hidden;

  .company-summary {
    p {
      font-size: nth($fontSize,1);
    }
  }
  .company-info {
    width:48%;
    b.text-m {
      padding-bottom: 10px;
      display: inline-block;
    }
  }
  .notice-list {
    li {
      border-bottom: 1px dotted #ccc;
      color:#4c4c4c;
      padding-top: 7px;
      position: relative;
      font-size: nth($fontSize,3);
      line-height: 2;
      i {
        color: #ff7200;
        padding-right: 7px;
        float: left;
      }
      a {
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width:80%;
        color:#4c4c4c;
        &.hover {
          color: nth($CK1,2);
        }
      }
      time {
        position: absolute;
        right:0;
        top:5px;
      }

    }
  }
  .real-attention {
    margin-top:15px;
    margin-bottom:15px;
    height: auto;
    overflow: auto;
    li {
      width:50%;
      float: left;
    vertical-align: bottom;
    display: inline-block;
    img {
      border:1px solid #ccc;
      vertical-align: bottom;
      margin-right: 15px;
    }
    }
  }
}

.assurance-container {
  .as-title {
    dt {
      color: #10aaf0;
      font-size: 28px;
      line-height: 1.5;
    }
    dd {
      em,i,s {
        display: inline-block;
      }
      s {
        margin-right: 5px;
        vertical-align: middle;
        text-decoration: none;
      }
      em {
        width:167px;
        height:1px;
        background: #9ad7f3;

        vertical-align: middle;
        &:nth-child(1) {
          margin-right:10px;
          @include gradient-linear(90deg,#e2f8fe,#9ad7f3);
        }
        &:nth-last-child(1) {
          margin-left:10px;
          @include gradient-linear(90deg,#9ad7f3,#e2f8fe);
        }
      }
      .fa:before {
        padding-left: 0px;
        padding-right: 0px;
      }
      i {
        font-size: 18px;
        margin-left: -5px;
        color: #4ba4b5;
      }
    }

    &.other-style {
      dt {
        color: #ff9c1b;
      }
      dd {
        em {
          background: #9ad7f3;
          &:nth-child(1) {
            @include gradient-linear(90deg,#fff8e4,#ffb046);
          }
          &:nth-last-child(1) {
            @include gradient-linear(90deg,#ffb046,#fff8e4);
          }
        }
        i {
          color: #ff9c1b;
        }
      }
    }
  }
  .bg-even {
    background: #ecfcff;
  }
  .bg-odd {
    background: #f7ffef;
  }
  .safety-info {
    margin-top:40px;

    dt {
      color: #10aaf0;
      font-size: 18px;
      border-bottom: 1px dashed #10aaf0;
      display: inline;
      padding-left:10px;
      padding-right: 10px;
    }
    dd {
      font-size: 14px;
      line-height: 1.4;
      margin-bottom:25px;
      &.third {
        margin-bottom: 23px;
      }
    }
    &.other {
      dt {
      color: #ff6400;
      border-bottom: 1px dashed #ff6400;
      }
    }
  }
  .money-safety {
    @extend .bg-even;
    padding:40px 40px 20px 40px;
    .page-width {
      background: url("/images/sign/assure/bg-safety.png") 40px 133px no-repeat;
    }
    .safety-info {
      width: 580px;
    }
  }
  .data-safety {
    @extend .bg-odd;
    padding:40px 40px 20px 40px;
    .page-width {
      background: url("/images/sign/assure/bg-data.png") right 135px no-repeat;
    }
    .safety-info {
      width: 560px;
      dd {
        margin-bottom: 32px;
        &.first {
          margin-bottom: 36px;
        }
        &.second {
          margin-bottom: 38px;
        }
        &.third {
          margin-bottom: 28px;
        }
      }
    }
  }
  .secret-safety {
    @extend .bg-even;
    padding:40px 40px 0px 40px;
    .page-width {
      background: url(/images/sign/assure/bg-secret.png) 50px 105px no-repeat;
    }
    .safety-info {
      width: 580px;
      dd {
        margin-bottom: 85px;
      }
    }
  }
  .credit-safety {
    background: #fffff7;
    padding:40px 40px 20px 40px;
    .page-width {
      background: url("/images/sign/assure/bg-credit.png") right 150px no-repeat;
    }
    .safety-info {
      width: 630px;
      dd {
        margin-bottom: 32px;
        font-size: 16px;
        p {
          width:315px;
          line-height: 1.9;
          margin-top:50px;
          border-bottom: 1px dashed #ff9c1b ;
          padding-bottom: 23px;
          padding-left: 90px;
          i {
            color: #ff9c1b;
            font-size: 20px;
          }
        }
      }
    }
  }
}





