.full-screen {
	width:100%;
}
.bg-white {
  background: #fff;
}
.column-title-ac {
  font-size:30px;
  font-weight: bold;
  text-align: center;
}
.quick-top-link {
  height: 118px;
  padding-top: 14px;
  overflow: hidden;
  li {
	width:33%;
	height:115px;
	float: left;
	display: block;
	text-align: center;
	padding-top: 65px;
	font-size:16px;
	a {
	  color: #cccccc;
	}
	&.guide {
	  background: url('/images/sign/assure/icon-newer.png') center top no-repeat;
	  //&.active {
		//background-image:url('/images/sign/assure/icon-newer-active.png');
		//a {
		//  color: #ff8b00;
		//}
	  //}
	}
	&.risk {
	  background: url('/images/sign/assure/icon-risk.png') center top no-repeat;
	  &.active {
		background-image:url('/images/sign/assure/icon-risk-active.png');
		a {
		  color: #ff8b00;
		}
	  }
	}
	&.assure {
	  background: url('/images/sign/assure/icon-assure.png') center top no-repeat;
	  &.active {
		background-image:url('/images/sign/assure/icon-assure-active.png');
		a {
		  color: #ff8b00;
		}
	  }
	}

  }
}

.assurance-container {
  .main-banner {
	background:#6dbb7c;
	img {
	  width:100%;
	}
  }
	.fund-safety-box {
	  padding-top:35px;
	  padding-bottom:35px;
		.safe-title {
			text-align: center;
			font-size:18px;
		  	padding-bottom:20px;
			dt {
				font-size:30px;
			}
		}
		.safe-info-list {
			font-size:14px;
			color: #4c4c4c;
			dl {
				width:265px;
				float: left;
				&:nth-child(2) {
					margin-left:100px;
					margin-right:100px;
				}
				dt {
				  height: 123px;
				  text-align: center;
				  width: 25%;
				  margin: 0 auto;
				  display: table-cell;
				  vertical-align: middle;
				  font-size:18px;
				&.list01 {
					background:url('/images/sign/assure/safe-01.png') no-repeat center top;
				  color: #db6558;
				}
				&.list02 {
						background:url('/images/sign/assure/safe-02.png') no-repeat center top;
				  color: #3776cb;
				}
				&.list03 {
						background:url('/images/sign/assure/safe-03.png') no-repeat center top;
				  color: #6dbb7c;
				}
			}
			  dd {
				padding-top:20px;
			  }

			}
		}
	}

  .trade-risk-box {
	text-align: center;
	padding-top:30px;
	dd {
	  padding:10px 20px;
	  background: #fff;
	  border:1px dotted #6dbb7c;
	  border-radius: 10px;
	  width:80%;
	  height:auto;
	  overflow: auto;
	  margin: 30px auto;
	  color: #6dbb7c;
	  b {
		font-size: 20px;
	  }
	  p {
		text-align: left;
		color: currentColor;
		font-size: 16px;
	  }
	  &:hover {
		background:#6dbb7c ;
		color: #fff;
	  }
	}
  }
  .private-safety-box {
	padding:40px 20px;
	dd {
	  background: url("/images/sign/assure/icon-dot.png") no-repeat left 10px;
	  padding-left: 35px;
	  font-size: 18px;
	  color: #4c4c4c;
	  margin-bottom: 20px;
	}
  }
  .data-info-safety {
	height: 500px;
	padding-top: 30px;
	position: relative;
	.axis-center {
	  background: url("/images/sign/assure/order.png") no-repeat center top;
	  width:102px;
	  height: 458px;
	  position: absolute;
	  left: 45%;
	  top: 15px;
	}
	.square-box-info {
	  border: 1px dashed #6dbb7c;
	  background: #fff;
	  border-radius: 15px;
	  position: absolute;
	  padding: 10px;
	  width: 35%;
	  font-size:16px;
	  dt {
		font-size:20px;
		font-weight: bold;
	  }
	  .triangle {
		width:20px;
		height: 20px;
		background: url("/images/sign/assure/arrow-right.png") no-repeat center top;
		position: absolute;
		right: -15px;
		top: 35px;
	  }
	  &:nth-child(1) {
		left: 60px;
		top:24px;
	  }
	  &:nth-child(2) {
		right: 60px;
		top: 138px;
		.triangle {
		  left: -16px;
		  background: url("/images/sign/assure/arrow-left.png") no-repeat center top;
		}
	  }
	  &:nth-child(3) {
		left: 60px;
		top:265px;
	  }
	  &:nth-child(4) {
		right: 60px;
		top:380px;
		.triangle {
		  left: -16px;
		  background: url("/images/sign/assure/arrow-left.png") no-repeat center top;
		}
	  }
	}
  }
}

.risk-flow-container {
  .main-banner {
	background:#3776cb;
	img {
	  width:100%;
	}
  }
}