.browser-warning-dialog {
  width: 100%;
  height: 643px;
  background: #000000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  display: none;
  position: fixed;
  z-index: 900;
}

.browser-warning {
  width: 540px;
  height: 240px;
  background: #f2f3f5;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -270px;
  margin-top: -120px;
  font-family: 'microsoft yahei';
  display: none;
  z-index: 901;

  p {
    width: 520px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
  }

  span {
    width: 160px;
    line-height: 160px;
    width: 100%;
    display: block;
    background: #fff;
    font-size: 20px;
    text-align: center;
  }
}