.full-screen {
  width:100%!important;
  margin:0;
}
.footer-container {
  margin-top:0;
}

.actor-img img{
  margin: 0 auto;
}
.actor-recruit-img,.actor-recruit-img img {
  height:350px;
  background: url("/images/sign/actor/daili/ba-daili.jpg") center top no-repeat;
  background-size: cover;
}
.main-width {
  width:1010px;
  margin: 0 auto;
}
.header-out { background: #fff;}
.button,.activity-date {
  background: #fff;
  padding:54px 30px 65px 30px;

}
.activity-date {
  padding:43px 0px 10px 0px;
}
.responsive-rule{
  margin-top: 30px;
}
.padding-top {
  padding-top:30px;
}
.p-title { text-align: left;
  padding:60px;}

/* steps */
.steps-content {
  color: #4c4c4c;
  width:770px;
  padding:20px;
  margin:0 auto;
}
.s-title {
  font-size: 28px;
  padding:20px;
  font-weight: bold;
}
.steps-word { font-size: 16px;
  line-height: 40px;
  font-weight: bold;
  text-align: left;}
.steps-word i {
  font-weight: bold;
  color: #ff0000;
}
.steps-word s {
  text-decoration: none;
  margin-right:10px;
}
.nav-steps {
  margin-top:50px;
  height: 210px;
}

.nav-steps .steps-icon {
  width:100%;
  height:190px;
  z-index: 3;
  font-size: 0;
}

.nav-steps .steps-icon li {
  display: inline-block;
  height:180px;
  cursor: pointer;
}
.nav-steps .steps-icon li.menu-line {
  width:105px;
}
.nav-steps .steps-icon li.menu-line img {
  vertical-align: middle;
}

.nav-steps .steps-icon li.menu-step {
  width:180px;
  height:190px;
  vertical-align: middle;
  position: relative;
}
.nav-steps .steps-icon li.menu-step img.init-hover {
  position: absolute;
  left: -5px;
  top: 0;
}
.nav-steps .steps-icon li.menu-step img.init {
  position: absolute;
  left: 0;
  top: 5px;
}
.nav-steps .steps-icon li.menu-step img.init-hover {
  display: none;
}

.steps-show {
  position: relative;
}
.steps-show .btn-open-reward {
  display: inline-block;
  width: 200px;
  height: 105px;
  position: absolute;
  bottom: 0;
  left: 300px;
}
.steps-show img { display: none; }
.steps-show img:nth-child(1) { display: block; }
.notice-tip {
  color: #999999;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  margin-top:20px;
}
.notice-tip dt { color: #4c4c4c;
  padding-bottom: 15px;}

/*recruit */
.recruit-content {
  width:1000px;
  background: #fff;
  margin: 0 auto;
  box-sizing: border-box;
  padding:50px 86px;
  padding-top:0;

}
.r-time {
  color: #666666;
  font-size: 16px;
  line-height: 40px;
  text-align: left;
  padding-top:45px;
  b {
    font-size: 20px;
    display: block;
  }
  p {
    margin-left: 30px;
    margin-bottom: 0px;
    line-height: 2;
  }
}


.qualifications,.apply,.give-more { padding-top:30px;}

.hot-link {
  position: relative;
  width:752px;
  height:60px;
  margin:0 auto;
  img {
    position: absolute;
    left:0;
    top: 0;
    z-index: 1;
  }
  a {
    display: block;
    width:230px;
    height:50px;
    cursor: pointer;
    float:left;
    margin-right:20px;
    cursor: pointer;
  }
}

.img-hot-link {
  width:100%;
  height:100%;
  position: absolute;
  z-index: 10;
}
/*responsive picture*/
.res-comtainer{
  display: none;
  float:left;
  color: #000;
  font-weight: bold;
  .responsive-tips {
    width: 100%;
    color: #000;
    text-align: left;
    background: #f2f2f2;
    line-height: 26px;
  }
  .responsive-title{
    width:100%;
    color:#000;
    text-align: center;
    background:#f2f2f2;
  }
  .responsive-picture{
    width:100%;
    .text-list{
      padding:10px;
      background:#fff;
      p{
        font-size:14px;
        margin-bottom:0;
        span{
          font-size:12px;
        }
      }
    }
  }
  .link-btn{
    background:#f2f2f2;
    color:#000;
    padding:10px 20px;
    h5{
      width:100%;
      font-size:14px;
    }
    a{
      display: inline-block;
      width: 100%;
      text-align: center;
      background: #ff752a;
      color: #fff!important;
      border-radius: 5px;
      line-height: 35px;
      font-size: 16px;
      margin: 15px 0;
    }
  }
}

.activity-award-container {
  overflow: hidden;
  background: #a30716;
  color: #fff1b5;
  .wide-screen-out {
    position: relative;
    .wide-screen-left,.wide-screen-right {
      position: absolute;
      left:-1px;
      top:0;
      background: url("/images/sign/actor/awards/award-left.jpg") right 0 no-repeat;
      height:520px;
      display: none;
    }
    .wide-screen-right {
      right:0;
      left:auto;
      background: url("/images/sign/actor/awards/award-right.jpg") left 0 no-repeat;
    }
    .wide-screen-inner {
      width:1000px;
      margin:0px auto;
      padding-top:30px;
      .activity-info {
        margin:20px;
        padding:15px;
        font-size: 22px;
        border:1px dashed #fff1b5;
        border-radius:10px;

        text-align: center;
        b {
          font-size: 34px;
        }
        .last-word {
          display: block;
        }
      }
      .award-product-box {
        height: 380px;
        margin-top:50px;
        background: url("/images/sign/actor/awards/award-product.jpg") center top no-repeat;
      }
      .trophy-box {
        text-align: center;
        margin-top:30px;
        .trophy-text {
          font-size: 30px;
          line-height: 1.5;
          padding-top: 30px;
          display: inline-block;
        }
      }
      .activity-table {
        margin:20px;
        border:1px solid #fff1b5;
        border-radius:10px;
      }
      .table-awards td {
        border-bottom:1px dashed #fff1b5;
        padding:10px;
        font-size: 22px;
        color: #fff1b5;
      }
      .table-awards td.last {
        border-bottom-width: 0;
      }
      .table-awards td[scope="col"] {
        width:180px;
        border-right: 1px dashed #fff1b5;
      }

      .button-bar {
        margin-top:60px;
        .btn-primary {
          color: #801616!important;
          font-size: 30px;
          background: #ffcc00;
          font-weight: bold;
          letter-spacing: 0;
        }
      }
      time {
        font-size: 14px;
        padding-top: 40px;
        display: inline-block;
        padding-bottom:60px;
      }

    }
  }
  .actor-award-img {
    height:477px;
    background: url("/images/sign/actor/awards/img-award.jpg") center top no-repeat;
    clear:both;
  }
}
@media screen and (max-width: 700px){
  .activity-ranking-container {
    .res-no-app {
      display: none;
    }
  }
  .actor-recruit-img {
    height: 150px;
    background: url("/images/ttimg/ph-a03.jpg") center top no-repeat!important;
    background-size: cover!important;
  }

  .recruit-content{
    width:100%;
    padding:0;
    .hot-link{
      width: 100%;
      height: auto;
      background: blue;
      img{
        position: absolute;
        width:100%;
        top: -4px;
      }
      .img-hot-link{
        display: none;
      }
    }
    .r-time {
      padding:24px 0px 0 10px;
      b {
        font-size: 15px;
      }
      p {
        margin-left: 3px;
        font-size: 13px;
      }
    }
    .qualifications{
      padding-top: 10px;
      img{
        width:100%;
      }
    }
    .apply{
      padding-top: 10px;
      img{
        width:100%;
      }
    }
    .give-more{
      padding-top: 10px;
      img{
        width:100%;
      }
    }
  }
  .res-comtainer{
    display: block!important;
    float: none;
    .responsive-picture {
      img {
        width:100%;
      }
    }
  }

  .activity-award-container {
    .actor-award-img {
      height: 150px !important;
      background: url("/images/sign/actor/awards/ph-awards.jpg") center top no-repeat;
      clear: both;
      background-size: cover !important;
    }
    .wide-screen-out {
      .wide-screen-inner {
        width: 98%;
        margin:0 auto;
        padding-top:10px;
        .activity-info {
          font-size: 14px;
          margin: 10px;
          padding: 9px;
          span {
            display: block;
          }
          img {
            display: none;
          }
          b {
            font-size: 18px;
          }
        }
        .award-product-box {
          height: 425px;
          margin-top:20px;
          background: url("/images/sign/actor/awards/app-product.jpg") center top no-repeat;
          background-size: 100%;
        }
        .trophy-box {
          .trophy-big {
            width:70px;
          }
          .trophy-text {
            font-size: 15px;
          }
        }
        .activity-table {
          margin:30px 5px 5px 5px;
          border-radius: 5px;
          .table-awards td {
              padding: 5px;
              font-size: 12px;
            }
          .table-awards td[scope="col"] {
            width:70px;
            border-right: 1px dashed #fff1b5;
          }
        }
        .button-bar {
          margin-top:30px;
          time {
            padding-top:20px;
            padding-bottom: 20px;
          }
        }
      }
    }

  }

}



