.full-screen {
  width:100%!important;
  margin:0;
}
.footer-container {
  margin-top:0;
}
.main-width {
  width:1010px;
  margin: 0 auto;
}
.header-out { background: #fff;}
.button,.activity-date {
  background: #fff;
  padding:54px 30px 65px 30px;

}
.activity-date {
  padding:43px 0px 10px 0px;
}
.responsive-rule{
  margin-top: 30px;
}
.padding-top {
  padding-top:30px;
}
.p-title { text-align: left;
  padding:60px;}

/* steps */
.steps-content {
  color: #4c4c4c;
  width:770px;
  padding:20px;
  margin:0 auto;
}
.s-title {
  font-size: 28px;
  padding:20px;
  font-weight: bold;
}
.steps-word { font-size: 16px;
  line-height: 40px;
  font-weight: bold;
  text-align: left;}
.steps-word i {
  font-weight: bold;
  color: #ff0000;
}
.steps-word s {
  text-decoration: none;
  margin-right:10px;
}
.nav-steps {
  margin-top:50px;
  height: 210px;
}

.nav-steps .steps-icon {
  width:100%;
  height:190px;
  z-index: 3;
  font-size: 0;
}

.nav-steps .steps-icon li {
  display: inline-block;
  height:180px;
  cursor: pointer;
}
.nav-steps .steps-icon li.menu-line {
  width:105px;
}
.nav-steps .steps-icon li.menu-line img {
  vertical-align: middle;
}

.nav-steps .steps-icon li.menu-step {
  width:180px;
  height:190px;
  vertical-align: middle;
  position: relative;
}
.nav-steps .steps-icon li.menu-step img.init-hover {
  position: absolute;
  left: -5px;
  top: 0;
}
.nav-steps .steps-icon li.menu-step img.init {
  position: absolute;
  left: 0;
  top: 5px;
}
.nav-steps .steps-icon li.menu-step img.init-hover {
  display: none;
}

.steps-show {
  position: relative;
}
.steps-show .btn-open-reward {
  display: inline-block;
  width: 200px;
  height: 105px;
  position: absolute;
  bottom: 0;
  left: 300px;
}
.steps-show img { display: none; }
.steps-show img:nth-child(1) { display: block; }
.notice-tip {
  color: #999999;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  margin-top:20px;
}
.notice-tip dt { color: #4c4c4c;
  padding-bottom: 15px;}

/*recruit */
.recruit-content {
  width:1000px;
  background: #fff;
  margin: 0 auto;
  box-sizing: border-box;
  padding:50px 86px;
  padding-top:0;

}
.r-time {
  color: #666666;
  font-size: 16px;
  line-height: 40px;
  text-align: left;
  padding-top:45px;
  b {
    font-size: 20px;
    display: block;
  }
  p {
    margin-left: 30px;
    margin-bottom: 0px;
    line-height: 2;
  }
}


.qualifications,.apply,.give-more { padding-top:30px;}




/*responsive picture*/
.res-comtainer{
  display: none;
  float:left;
  color: #000;
  font-weight: bold;
  .responsive-tips {
    width: 100%;
    color: #000;
    text-align: left;
    background: #f2f2f2;
    line-height: 26px;
  }
  .responsive-title{
    width:100%;
    color:#000;
    text-align: center;
    background:#f2f2f2;
  }
  .responsive-picture{
    width:100%;
    .text-list{
      padding:10px;
      background:#fff;
      p{
        font-size:14px;
        margin-bottom:0;
        span{
          font-size:12px;
        }
      }
    }
  }
  .link-btn{
    background:#f2f2f2;
    color:#000;
    padding:10px 20px;
    h5{
      width:100%;
      font-size:14px;
    }
    a{
      display: inline-block;
      width: 100%;
      text-align: center;
      background: #ff752a;
      color: #fff!important;
      border-radius: 5px;
      line-height: 35px;
      font-size: 16px;
      margin: 15px 0;
    }
  }
}

.red-envelope-container {
  text-align: center;
.red-top {
  margin-bottom: 15px;
}
  .red-top-mobile {
    display: none;
  }
  .line-date {
    border-top: 1px dotted #fff831;
    width: 100%;
    position: relative;
    margin-top: 40px;
    margin-bottom: 0px;
    .date-info {
      background: #be0000;
      color: #fff831;
      width: 272px;
      margin: -14px auto 10px auto;
      .fa {
        color: #fff831;
        &.left {
          margin-left: -10px;
        }
        &.right {
          margin-right:-10px;
        }
      }
    }
  }
}
/*birth-month*/
.birth-month-container{
  float:left;
  width:100%;
  .birth-time{
    position: fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    display:none;
    background:url("/images/sign/actor/birth/tip-bg.png") repeat;
    z-index:88;
    .time-list{
      position: absolute;
      top:50%;
      left:50%;
      margin-top:-182px;
      margin-left:-264px;
      z-index:99;
    }
    .tip-time{
      float:left;
    }
    .time-close{
      width:50px;
      height:50px;
      position: absolute;
      top:20px;
      right:0;
      cursor:pointer;
    }
  }
  .wp-img{
    float:left;
    width:100%;
  }
  .wp-img-phone{
    float:left;
    width:100%;
    display:none;
  }
  .wp{
    width:1000px;
    margin:0 auto;
    p{
      font-size:40px;
      color:#fff;
      text-align:center;
      &.text-pro{
        overflow:hidden;
        margin:40px 0 70px 0;
        span{
          position: relative;
          .click-btn{
            position: absolute;
            left: 25px;
            bottom: 20px;
            width:300px;
            height:58px;
          }
          &.product-left{
            float:left;
            margin-left:100px;
          }
          &.product-right{
            float:right;
            margin-right:100px;
          }
        }
      }
      &.text-bg{
        font-size:40px;
        color:#fff;
        background:url('/images/sign/actor/birth/text-bg.png') center no-repeat;
      }
      &.text-font{
        font-size:20px;
        margin-bottom:50px;
      }
      &.img-position{
        margin-top:-110px;
      }
      &.text-gift{
        margin-bottom:60px;
        .party-img-phone{
          display:none;
        }
      }
    }
    .rule-list{
      background:#cc3929;
      padding:20px 50px;
      border-radius:10px;
      margin:50px 100px 60px 100px;
      li{
        color:#fff;
        font-size:18px;
        &.intro-text{
          font-size:14px;
        }
      }
    }
  }
}
@media screen and (max-width: 700px){
  .red-envelope-container {
    .mobile {
      display: none;
    }
    img {
      width: 100%;
    }
    .red-top {
      display: none;
    }
    .red-top-mobile {
      display: block;
    }
    .line-date-box {
      height: 40px;
      background: #b00100;
      padding-top: 30px;
    }
    .line-date {
      margin-top:0;
    }
    .line-date .date-info {
      background: #b00100;
    }
  }
  .activity-ranking-container {
    .res-no-app {
      display: none;
    }
  }
  .actor-recruit-img {
    height: 150px;
    background: url("/images/ttimg/ph-a03.jpg") center top no-repeat!important;
    background-size: cover!important;
  }
  .res-comtainer{
    display: block!important;
    float: none;
    .responsive-picture {
      img {
        width:100%;
      }
    }
  }
  .activity-award-container {
    .actor-award-img {
      height: 150px !important;
      background: url("/images/sign/actor/awards/ph-awards.jpg") center top no-repeat;
      clear: both;
      background-size: contain !important;
    }
    .wide-screen-out {
      .wide-screen-inner {
        width: 98%;
        margin:0 auto;
        padding-top:10px;
        .activity-info {
          font-size: 14px;
          margin: 10px;
          padding: 9px;
          span {
            display: block;
          }
          img {
            display: none;
          }
          b {
            font-size: 18px;
          }
        }
        .award-product-box {
          height: 425px;
          margin-top:20px;
          background: url("/images/sign/actor/awards/app-product.jpg") center top no-repeat;
          background-size: contain;
        }
        .trophy-box {
          .trophy-big {
            width:70px;
          }
          .trophy-text {
            font-size: 15px;
            b {
              font-size: 18px;
            }
          }
        }
        .activity-table {
          margin:30px 5px 5px 5px;
          border-radius: 5px;
          .table-awards td {
              padding: 5px;
              font-size: 12px;
            }
          .table-awards td[scope="col"] {
            width:70px;
            border-right: 1px dashed #fff1b5;
          }
        }
        .button-bar {
          margin-top:30px;
          time {
            padding-top:20px;
            padding-bottom: 20px;
          }
        }
      }
    }

  }
  .birth-month-container{
    .time-list{
      width:240px;
      height:170px;
      margin-top:-85px!important;
      margin-left:-120px!important;
    }
    .tip-time{
      width:100%!important;
    }
    .time-close{
      width:10%!important;
      height:auto!important;
    }
    .wp-img{
      display:none;
    }
    .wp-img-phone{
      display:block;
    }
    .wp{
      float:left;
      width:100%;
      margin-top: 25px;
      p{
        float:left;
        width:100%;
        font-size:20px;
        .monkey-phone{
          width:20%;
        }
        &.img-position{
          margin-top:-55px;
          img{
            width:80%;
          }
        }
        &.text-bg{
          font-size:20px;
          background-size:65%;
        }
        &.text-font{
          font-size:14px;
          margin-bottom:30px;
        }
        &.text-pro{
          margin:20px 0;
          span{
            width:46%;
            margin:0 2%;
            .click-btn{
              left:0;
              bottom:0;
              width:100%;
            }
            &.product-left{
              margin-left:2%;
              img{
                width:100%;
              }
            }
            &.product-right{
              margin-right:2%;
              img{
                width:100%;
              }
            }
          }
        }
        &.text-gift{
          margin-bottom:30px;
          .party-img{
            display:none;
          }
          .party-img-phone{
            display:block;
          }
        }
      }
      .rule-list{
        float:left;
        width: 96%;
        margin: 20px 2%;
        padding: 0;
        li{
          font-size:12px;
          &.intro-text{
            font-size:12px!important;
          }
        }
      }
    }
  }

}



