.full-screen {
  width: 100% !important;
  margin: 0;
}
.footer-container {
  margin-top: 0;
}
.main-width {
  width: 1010px;
  margin: 0 auto;
}
.header-out {
  background: #fff;
}
.button, .activity-date {
  background: #fff;
  padding: 54px 30px 65px 30px;
}
.activity-date {
  padding: 43px 0px 10px 0px;
}
.responsive-rule {
  margin-top: 30px;
}
.padding-top {
  padding-top: 30px;
}
.p-title {
  text-align: left;
  padding: 60px;
}

/* steps */
.steps-content {
  color: #4c4c4c;
  width: 770px;
  padding: 20px;
  margin: 0 auto;
}
.s-title {
  font-size: 28px;
  padding: 20px;
  font-weight: bold;
}
.steps-word {
  font-size: 16px;
  line-height: 40px;
  font-weight: bold;
  text-align: left;
}
.steps-word i {
  font-weight: bold;
  color: #ff0000;
}
.steps-word s {
  text-decoration: none;
  margin-right: 10px;
}
.nav-steps {
  margin-top: 50px;
  height: 210px;
}
.nav-steps .steps-icon {
  width: 100%;
  height: 190px;
  z-index: 3;
  font-size: 0;
}
.nav-steps .steps-icon li {
  display: inline-block;
  height: 180px;
  cursor: pointer;
}
.nav-steps .steps-icon li.menu-line {
  width: 105px;
}
.nav-steps .steps-icon li.menu-line img {
  vertical-align: middle;
}
.nav-steps .steps-icon li.menu-step {
  width: 180px;
  height: 190px;
  vertical-align: middle;
  position: relative;
}
.nav-steps .steps-icon li.menu-step img.init-hover {
  position: absolute;
  left: -5px;
  top: 0;
}
.nav-steps .steps-icon li.menu-step img.init {
  position: absolute;
  left: 0;
  top: 5px;
}
.nav-steps .steps-icon li.menu-step img.init-hover {
  display: none;
}
.steps-show {
  position: relative;
}
.steps-show .btn-open-reward {
  display: inline-block;
  width: 200px;
  height: 105px;
  position: absolute;
  bottom: 0;
  left: 300px;
}
.steps-show img {
  display: none;
}
.steps-show img:nth-child(1) {
  display: block;
}
.notice-tip {
  color: #999999;
  font-size: 14px;
  line-height: 30px;
  text-align: left;
  margin-top: 20px;
}
.notice-tip dt {
  color: #4c4c4c;
  padding-bottom: 15px;
}

/*recruit */
.recruit-content {
  width: 1000px;
  background: #fff;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 50px 86px;
  padding-top: 0;
}
.r-time {
  color: #666666;
  font-size: 16px;
  line-height: 40px;
  text-align: left;
  padding-top: 45px;

  b {
    font-size: 20px;
    display: block;
  }
  p {
    margin-left: 30px;
    margin-bottom: 0px;
    line-height: 2;
  }
}
.qualifications, .apply, .give-more {
  padding-top: 30px;
}

/*responsive picture*/
.res-comtainer {
  display: none;
  float: left;
  color: #000;
  font-weight: bold;

  .responsive-tips {
    width: 100%;
    color: #000;
    text-align: left;
    background: #f2f2f2;
    line-height: 26px;
  }
  .responsive-title {
    width: 100%;
    color: #000;
    text-align: center;
    background: #f2f2f2;
  }
  .responsive-picture {
    width: 100%;

    .text-list {
      padding: 10px;
      background: #fff;

      p {
        font-size: 14px;
        margin-bottom: 0;

        span {
          font-size: 12px;
        }
      }
    }
  }
  .link-btn {
    background: #f2f2f2;
    color: #000;
    padding: 10px 20px;

    h5 {
      width: 100%;
      font-size: 14px;
    }
    a {
      display: inline-block;
      width: 100%;
      text-align: center;
      background: #ff752a;
      color: #fff !important;
      border-radius: 5px;
      line-height: 35px;
      font-size: 16px;
      margin: 15px 0;
    }
  }
}
.activity-award-container {
  overflow: hidden;
  background: #a30716;
  color: #fff1b5;

  .wide-screen-out {
    position: relative;

    .wide-screen-left, .wide-screen-right {
      position: absolute;
      left: -1px;
      top: 0;
      background: url("/images/sign/actor/awards/award-left.jpg") right 0 no-repeat;
      height: 520px;
      display: none;
    }
    .wide-screen-right {
      right: 0;
      left: auto;
      background: url("/images/sign/actor/awards/award-right.jpg") left 0 no-repeat;
    }
    .wide-screen-inner {
      width: 1000px;
      margin: 0px auto;
      padding-top: 30px;

      .activity-info {
        margin: 20px;
        padding: 15px;
        font-size: 22px;
        border: 1px dashed #fff1b5;
        border-radius: 10px;
        text-align: center;

        b {
          font-size: 34px;
        }
        .last-word {
          display: block;
        }
      }
      .award-product-box {
        height: 380px;
        margin-top: 50px;
        background: url("/images/sign/actor/awards/award-product.png") center top no-repeat;
      }
      .trophy-box {
        text-align: center;
        margin-top: 30px;

        .trophy-text {
          font-size: 30px;
          line-height: 1.5;
          padding-top: 30px;
          display: inline-block;

          b {
            font-size: 38px;
          }
        }
      }
      .activity-table {
        margin: 20px;
        border: 1px solid #fff1b5;
        border-radius: 10px;
      }
      .table-awards td {
        border-bottom: 1px dashed #fff1b5;
        padding: 10px;
        font-size: 22px;
        color: #fff1b5;
      }
      .table-awards td.last {
        border-bottom-width: 0;
      }
      .table-awards td[scope="col"] {
        width: 180px;
        border-right: 1px dashed #fff1b5;
      }
      .button-bar {
        margin-top: 60px;

        .btn-primary {
          color: #801616 !important;
          font-size: 30px;
          background: #ffcc00;
          font-weight: bold;
          letter-spacing: 0;
        }
      }
      .time {
        font-size: 13px;
        padding-top: 40px;
        display: inline-block;
        padding-bottom: 60px;
      }
    }
  }
  .actor-award-img {
    height: 477px;
    background: url("/images/sign/actor/awards/img-award.jpg") center top no-repeat;
    clear: both;
  }
}
.red-envelope-container {
  text-align: center;

  .red-top {
    margin-bottom: 15px;
  }
  .red-top-mobile {
    display: none;
  }
  .line-date {
    border-top: 1px dotted #fff831;
    width: 100%;
    position: relative;
    margin-top: 40px;
    margin-bottom: 0px;

    .date-info {
      background: #be0000;
      color: #fff831;
      width: 272px;
      margin: -14px auto 10px auto;

      .fa {
        color: #fff831;

        &.left {
          margin-left: -10px;
        }
        &.right {
          margin-right: -10px;
        }
      }
    }
  }
}

/*birth-month*/
.birth-month-container {
  float: left;
  width: 100%;

  .birth-time {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    background: url("/images/sign/actor/birth/tip-bg.png") repeat;
    z-index: 88;

    .time-list {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -182px;
      margin-left: -264px;
      z-index: 99;
    }
    .tip-time {
      float: left;
    }
    .time-close {
      width: 50px;
      height: 50px;
      position: absolute;
      top: 20px;
      right: 0;
      cursor: pointer;
    }
  }
  .wp-img {
    float: left;
    width: 100%;
  }
  .wp-img-phone {
    float: left;
    width: 100%;
    display: none;
  }
  .wp {
    width: 1000px;
    margin: 0 auto;

    p {
      font-size: 40px;
      color: #fff;
      text-align: center;

      &.text-pro {
        overflow: hidden;
        margin: 40px 0 70px 0;

        span {
          position: relative;

          .click-btn {
            position: absolute;
            left: 25px;
            bottom: 20px;
            width: 300px;
            height: 58px;
          }
          &.product-left {
            float: left;
            margin-left: 100px;
          }
          &.product-right {
            float: right;
            margin-right: 100px;
          }
        }
      }
      &.text-bg {
        font-size: 40px;
        color: #fff;
        background: url('/images/sign/actor/birth/text-bg.png') center no-repeat;
      }
      &.text-font {
        font-size: 20px;
        margin-bottom: 50px;
      }
      &.img-position {
        margin-top: -110px;
      }
      &.text-gift {
        margin-bottom: 60px;

        .party-img-phone {
          display: none;
        }
      }
    }
    .rule-list {
      background: #cc3929;
      padding: 20px 50px;
      border-radius: 10px;
      margin: 50px 100px 60px 100px;

      li {
        color: #fff;
        font-size: 18px;

        &.intro-text {
          font-size: 14px;
        }
      }
    }
  }
}

/*rank-list app page*/
.rank-list-app {
  background: #e02152;
  min-height: 500px;
  .rank-phone-model {
    float:left;
    width:100%;
  }
}

/*rank-list pc page*/
.rank-list-container {
  background: url("../images/sign/actor/ranklist/container-bg.png") repeat center;
  min-height: 500px;
  .rank-phone-model {
    float:left;
    width:100%;
  }
  .wp{
    width:1000px;
    margin:0 auto;
    position: relative;
    &.actor-intro{
      padding-top:20px;
    }
    .line-single{
      float:left;
      width:100%;
      height:1px;
      background:url("../images/sign/actor/ranklist/line-border.png") no-repeat center;
    }
    .actor-info-text{
      float:left;
      width:100%;
      position: relative;
      padding:30px 0 20px;
      .actor-title{
        position: absolute;
        top:-26px;
        left:50%;
        margin-left:-115px;
        width:230px;
        height:50px;
        font-size:24px;
        color:#ffd633;
        line-height:50px;
        text-align:center;
        background:url("../images/sign/actor/ranklist/intro-title.png") no-repeat center;
      }
      p{
        float:left;
        width:100%;
        text-align:center;
        margin-bottom:0;
        font-size:18px;
        color:#ffdd35;
        span{
          color:#fff;
        }
        &.actor-sign{
          text-align:center;
          font-size:12px;
          color:#ffdd34;
        }
      }
      .rule-list{
        float:left;
        width: 610px;
        margin:40px 0 60px 250px;
        li{
          float:left;
          width:100%;
          font-size:16px;
          color:#ffdd34;
        }
      }
    }
    .login-list{
      float:left;
      width:100%;
      padding:60px 0;
      text-align:center;
      a{
        padding: 7px 75px;
        text-align: center;
        border: 1px solid #fcee78;
        border-radius: 10px;
        margin: 0 20px;
        color: #fcee78;
        font-size: 22px;
        display: inline-block;
        position:relative;
        overflow:hidden;
        &:hover::before {
          -webkit-transition: left 1s;
          -moz-transition: left 1s;
          transition: left 1s;
          left: 280px;
        }
        &:before{
          content: "";
          position: absolute;
          width: 40px;
          height: 58px;
          top: 0;
          left: -35px;
          overflow: hidden;
          background: -moz-linear-gradient(left,rgba(255,255,255,0)0,rgba(255,255,255,.2)50%,rgba(255,255,255,0)100%);
          background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(50%,rgba(255,255,255,.2)),color-stop(100%,rgba(255,255,255,0)));
          background: -webkit-linear-gradient(left,rgba(255,255,255,0)0,rgba(255,255,255,.2)50%,rgba(255,255,255,0)100%);
          background: -o-linear-gradient(left,rgba(255,255,255,0)0,rgba(255,255,255,.2)50%,rgba(255,255,255,0)100%);
          -webkit-transform: skewX(-25deg);
          -moz-transform: skewX(-25deg);
        }
      }
    }
    .user-info{
      float:left;
      width:100%;
      padding:45px 0;
      ul{
        float:left;
        width:100%;
        li{
          float:left;
          width:50%;
          p{
            float:left;
            width:100%;
            span{
              &.project-name{
                float:left;
                width:200px;
                margin-left:120px;
                font-size:22px;
                color:#ffedbc;
              }
            }
            .project-operate{
              float:left;
              width:120px;
              height:40px;
              color:#a6000e;
              text-align:center;
              font-size:20px;
              margin-left:40px;
              position: relative;
              overflow: hidden;
              background:url("../images/sign/actor/ranklist/btn-bg.png") no-repeat center;
              &:hover::before {
                -webkit-transition: left 1s;
                -moz-transition: left 1s;
                transition: left 1s;
                left: 150px;
              }
              &:before{
                content: "";
                position: absolute;
                width: 20px;
                height: 38px;
                top: 0;
                left: -25px;
                overflow: hidden;
                background: -moz-linear-gradient(left,rgba(255,255,255,0)0,rgba(255,255,255,.2)50%,rgba(255,255,255,0)100%);
                background: -webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(50%,rgba(255,255,255,.2)),color-stop(100%,rgba(255,255,255,0)));
                background: -webkit-linear-gradient(left,rgba(255,255,255,0)0,rgba(255,255,255,.2)50%,rgba(255,255,255,0)100%);
                background: -o-linear-gradient(left,rgba(255,255,255,0)0,rgba(255,255,255,.2)50%,rgba(255,255,255,0)100%);
                -webkit-transform: skewX(-25deg);
                -moz-transform: skewX(-25deg);
              }
            }
          }
        }
      }
    }
    .leader-btn{
      float:left;
      width:100%;
      margin-top:50px;
      li{
        float:left;
        width:220px;
        height:50px;
        line-height:50px;
        margin-top:10px;
        text-align:center;
        font-size:20px;
        color:#ffedbc;
        border:1px solid #ffb74c;
        border-bottom:none;
        border-top-right-radius:10px;
        background: #c3394d;
        cursor:pointer;
        &.active{
          margin-top:0;
          width:230px;
          height:60px;
          line-height:60px;
          text-align:center;
          font-size:22px; 
          color:#ffdd35;
          border:1px solid #ffb74c;
          border-bottom:none;
          border-top-left-radius:10px;
          border-top-right-radius:10px;
          position: relative;
          bottom: -1px;
          background:#b93546;
        }
      }
      .bean-btn{
        float:right;
        width: 90px;
        height: 46px;
        padding-left: 52px;
        line-height: 42px;
        font-size: 14px;
        color: #ffedbc;
        cursor:pointer;
        background: url("../images/sign/actor/ranklist/cal-bg.png") no-repeat center;
      }
      .share-list{
        float:right;
        width:410px;
        margin-top:10px;
        p{
          float:left;
          width:100%;
          margin-bottom:0;
          span{
            float:left;
            &.share-text{
              color:#fff;
              font-size:14px;
              line-height:40px;
            }
          }
          .share-icon{
            width:40px;
            height:40px;
            margin:0 5px;
            cursor:pointer;
            padding-left:0;
            background:url("../images/sign/actor/ranklist/share-icon.png") no-repeat center;
            &.icon-weibo{
              background-position:0 0;
            }
            &.icon-weixin{
              background-position:-40px 0;
            }
            &.icon-zone{
              background-position:-80px 0;
            }
          }
        }
      }
    }
    .leader-container{
      float:left;
      width:998px;
      margin-bottom:90px;
      border:1px solid #ffb74c;
      border-top-right-radius:10px;
      border-bottom-left-radius:10px;
      border-bottom-right-radius:10px;
      background:#b93546;
      .leader-list{
        float:left;
        width:100%;
        display:none;
        &.active{
          display:block;
        }
        .bean-rank-list{
          float:left;
          width:400px;
          padding:0 100px;
          .td-list{
            float:left;
            width:100%;
            margin:25px 0 30px;
            span{
              color:#ffedbc;
              &.td-name{
                font-size:22px;
              }
              &.td-intro{
                font-size:14px;
              }
            }
          }
          .bean-data{
            float:left;
            width:100%;
            padding-bottom:15px;
            margin-bottom:25px;
            background:#ffedbc;
            span{
              float:left;
              color:#a6000e;
              text-align:center;
              &.order-num{
                width:100px;
                height:30px;
                .font-icon{
                  float:left;
                  width: 25px;
                  height: 25px;
                  color: #fff;
                  font-size: 12px;
                  line-height: 25px;
                  text-align: center;
                  background: #cf3c56;
                  position: relative;
                  top: 50%;
                  left: 50%;
                  margin-left: -13px;
                  margin-top: -13px;
                  border-radius:50%;
                }
              }
              &.bean-num{
                width:165px;
              }
              &.bean-user{
                width:135px;
              }
            }
            dt{
              float:left;
              width:100%;
              font-size:18px;
              margin-bottom:15px;
              line-height:45px;
              background:#ffb74c;
            }
            dd{
              float:left;
              width:100%;
              font-size:14px;
              line-height:30px;
            }
          }
        }
        .bean-rank-money{
          float:left;
          width:398px;
          margin-top:20px;
          .progress-line{
            float:left;
            width:22px;
            height:600px;
            border:1px solid #ffd633;
            border-radius:20px;
            margin-left:40px;
            margin-bottom:30px;
            position: relative;
            .total-money{
              width:300px;
              position: absolute;
              top:70px;
              left:40px;
              font-size:22px;
              color:#ffedbc;
            }
            .gift-one{
              position: absolute;
              top:200px;
              left:80px;
              width:160px;
              padding:10px 20px;
              background:#e6e6e6;
              border-radius:10px;
              font-size:14px;
              dt{
                color:#4c4c4c;
                span{
                  color:#cf3c56;
                }
              }
              dd{
                color:#999;
              }
            }
            .gift-two{
              position: absolute;
              top:450px;
              left:80px;
              width:160px;
              padding:10px 20px;
              background:#ffedbc;
              border-radius:10px;
              font-size:14px;
              color:#a6000e;
            }
            .stage-num{
              width:100px;
              position: absolute;
              right:23px;
              span{
                float:left;
                width:70px;
                font-size:14px;
                color:#ffedbc;
                text-align:right;
              }
              &.first-stage{
                bottom:140px;
              }
              &.two-stage{
                bottom:270px;
              }
              .line-single{
                float:right;
                width:20px;
                height:1px;
                margin-top:15px;
                background:#ffd633;
              }
            }
            .color-line{
              float:left;
              width:100%;
              height:100%;
              border-radius:20px;
              position: relative;
              overflow:hidden;
              .color-pro{
                width:22px;
                height:140px;
                position: absolute;
                left:0;
                bottom:0;
                border-radius:20px;
                background:#ffd633;
              }
            }
          }
        }
        .table-gift{
          float:left;
          margin:60px 20px 45px;
        }
        .lottery-circle{
          float:left;
          width:630px;
          .td-list{
            float:left;
            width:600px;
            margin:40px 0 30px 30px;
            span{
              color:#ffedbc;
              &.td-total{
                font-size:20px;
                margin-right:10px;
              }
              &.td-tip{
                font-size:18px;
              }
            }
          }
          .circle-shade{
            float:left;
            width: 550px;
            height: 550px;
            margin:0 0 40px 40px;
            position: relative;
            background: url("../images/sign/actor/ranklist/turntable-bg.png") no-repeat center;
            .pointer-img{
              width: 130px;
              height: 190px;
              cursor:pointer;
              position: absolute;
              left: 50%;
              top: 50%;
              margin-left: -65px;
              margin-top: -125px;
              z-index: 8;
            }
            .rotate-btn{
              width: 452px;
              height: 451px;
              position: absolute;
              left: 50%;
              top: 50%;
              margin-top:-225px;
              margin-left:-226px;
            }
          }
        }
        .lottery-detail{
          float:left;
          width:340px;
          height:520px;
          margin-top:90px;
          .gift-record{
            float:left;
            width:100%;
            li{
              float:left;
              width:171px;
              font-size:16px;
              text-align:center;
              background:#e3a64c;
              height:40px;
              color:#ffedbc;
              line-height:40px;
              margin-top:7px;
              cursor:pointer;
              &.active{
                width:165px;
                height:45px;
                line-height:45px;
                margin-top:0;
                font-size:18px;
                color:#a6000e;
                background:#ffedbc;
                border: 2px solid #ffdb7b;
                border-bottom:none;
              }
            }
          }
          .record-list{
            float:left;
            width:336px;
            background:#ffedbc;
            border: 2px solid #ffdb7b;
            border-top: none;
            .record-model{
              float:left;
              display:none;
              height:460px;
              &.active{
                display:block;
              }
              &.user-record{
                padding:20px 30px;
                overflow: hidden;
                overflow-y: scroll;
                height: 460px;
                li{
                  float:left;
                  width:100%;
                  font-size:14px;
                  color:#4e4e4e;
                  line-height:30px;
                }
              }
              &.own-record{
                padding:20px 30px;
                overflow: hidden;
                overflow-y: scroll;
                height: 460px;
                li{
                  float:left;
                  width:100%;
                  span{
                    float:left;
                    font-size:13px;
                    color:#4e4e4e;
                    line-height:30px;
                    &.award-name{
                      width:140px;
                    }
                    &.award-time{
                      width:135px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .tip-list{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:url("../images/sign/actor/ranklist/tip-bg.png") repeat;
    z-index:88;
    display:none;
    .td-tip-big{
      width:405px;
      height:382px;
      position: fixed;
      top:50%;
      left:50%;
      margin-top:-191px;
      margin-left:-202px;
      background:url("../images/sign/actor/ranklist/big-gift-bg.png") no-repeat center;
      background-size:100%;
      z-index:999;
      display:none;
      .close-btn{
        position: absolute;
        top:225px;
        right:60px;
        width:18px;
        height:18px;
        background:url("../images/sign/actor/ranklist/close-btn.png") no-repeat center;
        background-size:100%;
        cursor:pointer;
      }
      .text-tip{
        float:left;
        width:270px;
        height:100px;
        margin-top: 240px;
        margin-left: 70px;
        p{
          float:left;
          width:100%;
          margin-bottom:0;
          text-align:center;
          color:#a71425;
          font-size:13px;
        }
      }
      .btn-list{
        float:left;
        width:100%;
        a{
          float:left;
          width:90px;
          height:27px;
          line-height:27px;
          color:#fff;
          font-size:12px;
          text-align:center;
          background:url("../images/sign/actor/ranklist/small-btn.png") no-repeat center;
          background-size: 100%;
          position: relative;
          left:50%;
          margin-left:-45px;
        }
      }
    }
    .td-tip-small{
      width:300px;
      height:216px;
      position: fixed;
      top:50%;
      left:50%;
      margin-top:-108px;
      margin-left:-150px;
      background:url("../images/sign/actor/ranklist/get-gift.png") no-repeat center;
      background-size:100%;
      z-index:999;
      display:none;
      .close-btn{
        position: absolute;
        top:60px;
        right:10px;
        width:18px;
        height:18px;
        background:url("../images/sign/actor/ranklist/close-btn.png") no-repeat center;
        background-size:100%;
        cursor:pointer;
      }
      .text-tip{
        float:left;
        width:270px;
        height:100px;
        margin-top: 70px;
        margin-left: 15px;
        p{
          float:left;
          width:100%;
          margin-bottom:0;
          text-align:center;
          color:#a71425;
          font-size:13px;
        }
      }
      .btn-list{
        float:left;
        width:100%;
        a{
          &.go-on{
            float:left;
            width:90px;
            height:27px;
            line-height:27px;
            color:#fff;
            font-size:12px;
            text-align:center;
            background:url("../images/sign/actor/ranklist/small-btn.png") no-repeat center;
            background-size: 100%;
            position: relative;
            left:50%;
            margin-left:-45px;
          }
          &.double-btn{
            float:left;
            width:80px;
            height:25px;
            color:#fff;
            font-size:12px;
            text-align:center;
            background:url("../images/sign/actor/ranklist/small-btn.png") no-repeat center;
            background-size: 100%;
            &.first-btn{
              margin:0 10px 0 60px;
            }
          }
        }
      }
    }
    .td-tip-thank{
      width:300px;
      height:165px;
      position: fixed;
      top:50%;
      left:50%;
      margin-top:-82px;
      margin-left:-150px;
      background:url("../images/sign/actor/ranklist/no-gift-bg.png") no-repeat center;
      background-size:100%;
      z-index:999;
      display:none;
      .close-btn{
        position: absolute;
        top:0;
        right:10px;
        width:18px;
        height:18px;
        background:url("../images/sign/actor/ranklist/close-btn.png") no-repeat center;
        background-size:100%;
        cursor:pointer;
      }
      .text-tip{
        float:left;
        width:270px;
        margin-top: 60px;
        margin-left: 15px;
        margin-bottom:10px;
        p{
          float:left;
          width:100%;
          margin-bottom:0;
          text-align:center;
          color:#a71425;
          font-size:13px;
        }
      }
      .btn-list{
        float:left;
        width:100%;
        a{
          &.go-on-big{
            float:left;
            width:110px;
            height:30px;
            line-height:30px;
            color:#fff;
            font-size:12px;
            text-align:center;
            background:url("../images/sign/actor/ranklist/big-btn.png") no-repeat center;
            background-size: 100%;
            position: relative;
            left:50%;
            margin-left:-55px;
          }
          &.go-on{
            float:left;
            width:90px;
            height:27px;
            line-height:27px;
            color:#fff;
            font-size:12px;
            text-align:center;
            background:url("../images/sign/actor/ranklist/small-btn.png") no-repeat center;
            background-size: 100%;
            position: relative;
            left:50%;
            margin-left:-45px;
          }
        }
      }
    }
  }
  .clearfix{
    clear:both;
    display:block;
  }
}
@media screen and (max-width:700px) {
  .red-envelope-container {
    .mobile {
      display: none;
    }
    img {
      width: 100%;
    }
    .red-top {
      display: none;
    }
    .red-top-mobile {
      display: block;
    }
    .line-date-box {
      height: 40px;
      background: #b00100;
      padding-top: 30px;
    }
    .line-date {
      margin-top: 0;
    }
    .line-date .date-info {
      background: #b00100;
    }
  }
  .activity-ranking-container {
    .res-no-app {
      display: none;
    }
  }
  .actor-recruit-img {
    height: 150px;
    background: url("/images/ttimg/ph-a03.jpg") center top no-repeat !important;
    background-size: cover !important;
  }
  .res-comtainer {
    display: block !important;
    float: none;

    .responsive-picture {
      img {
        width: 100%;
      }
    }
  }
  .activity-award-container {
    .actor-award-img {
      height: 150px !important;
      background: url("/images/sign/actor/awards/ph-awards.jpg") center top no-repeat;
      clear: both;
      background-size: contain !important;
    }
    .wide-screen-out {
      .wide-screen-inner {
        width: 98%;
        margin: 0 auto;
        padding-top: 10px;

        .activity-info {
          font-size: 14px;
          margin: 10px;
          padding: 9px;

          span {
            display: block;
          }
          img {
            display: none;
          }
          b {
            font-size: 18px;
          }
        }
        .award-product-box {
          height: 425px;
          margin-top: 20px;
          background: url("/images/sign/actor/awards/app-product.jpg") center top no-repeat;
          background-size: contain;
        }
        .trophy-box {
          .trophy-big {
            width: 70px;
          }
          .trophy-text {
            font-size: 15px;

            b {
              font-size: 18px;
            }
          }
        }
        .activity-table {
          margin: 30px 5px 5px 5px;
          border-radius: 5px;

          .table-awards td {
            padding: 5px;
            font-size: 12px;
          }
          .table-awards td[scope="col"] {
            width: 70px;
            border-right: 1px dashed #fff1b5;
          }
        }
        .button-bar {
          margin-top: 30px;

          time {
            padding-top: 20px;
            padding-bottom: 20px;
          }
        }
      }
    }
  }
  .birth-month-container {
    .time-list {
      width: 240px;
      height: 170px;
      margin-top: -85px !important;
      margin-left: -120px !important;
    }
    .tip-time {
      width: 100% !important;
    }
    .time-close {
      width: 10% !important;
      height: auto !important;
    }
    .wp-img {
      display: none;
    }
    .wp-img-phone {
      display: block;
    }
    .wp {
      float: left;
      width: 100%;
      margin-top: 25px;

      p {
        float: left;
        width: 100%;
        font-size: 20px;

        .monkey-phone {
          width: 20%;
        }
        &.img-position {
          margin-top: -55px;

          img {
            width: 80%;
          }
        }
        &.text-bg {
          font-size: 20px;
          background-size: 65%;
        }
        &.text-font {
          font-size: 14px;
          margin-bottom: 30px;
        }
        &.text-pro {
          margin: 20px 0;

          span {
            width: 46%;
            margin: 0 2%;

            .click-btn {
              left: 0;
              bottom: 0;
              width: 100%;
            }
            &.product-left {
              margin-left: 2%;

              img {
                width: 100%;
              }
            }
            &.product-right {
              margin-right: 2%;

              img {
                width: 100%;
              }
            }
          }
        }
        &.text-gift {
          margin-bottom: 30px;

          .party-img {
            display: none;
          }
          .party-img-phone {
            display: block;
          }
        }
      }
      .rule-list {
        float: left;
        width: 96%;
        margin: 20px 2%;
        padding: 0;

        li {
          font-size: 12px;

          &.intro-text {
            font-size: 12px !important;
          }
        }
      }
    }
  }
}