@import 'variables';
@import 'daterangepicker';
@import "coupon_alert";

.layui-layer-btn {
  text-align: center !important;
  .layui-layer-btn0 {
    padding: 3px 35px;
    background: nth($CK1, 2) !important;
    border-radius: 4px;
    border: 1px solid nth($CK1, 2) !important;
    border-color: nth($CK1, 2) !important;
    letter-spacing: 3px;
    color: #fff;
  }
  .layui-layer-btn1{
    padding:3px 35px;
    color:#808080!important;
    border: 1px solid #dedede!important;
    background: #f1f1f1!important;
    border-radius: 4px;
  }
}
/*layer skin : demo-class*/
body{
  .demo-class{
    .layui-layer-btn {
      text-align: center !important;
      .layui-layer-btn1 {
        padding: 3px 35px;
        background: nth($CK1, 2) !important;
        border-radius: 4px;
        border: 1px solid nth($CK1, 2) !important;
        border-color: nth($CK1, 2) !important;
        letter-spacing: 3px;
        color: #fff!important;
      }
      .layui-layer-btn0{
        padding:3px 35px;
        color:#808080!important;
        border: 1px solid #dedede!important;
        background: #f1f1f1!important;
        border-radius: 4px;
      }
    }
  }
}
/* create transfer*/
.create-transfer-content {
  .column-title {
    em {
      &.title-navli {
        border-bottom: 4px solid #999;
        color: #999;
        cursor: pointer;
        margin-right: 40px;
      }
      &.active {
        border-bottom: 4px solid #ff7200;
        color: #ff7200;
      }
    }
    span {
      float: right;
      border-bottom: none;
      font-size: 14px;
      font-weight: normal;
      color: #666;
      cursor: pointer;
      &.rule-show {
        color: #ff752a;
      }
    }
  }
  .filters-list {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    li {
      float: left;
      padding: 5px 15px;
      margin-right: 10px;
      cursor: pointer;
      a{
        color: #4c4c4c;
        font-size: 12px;
      }
      &.active {
        background: #ff752a;
        border-radius: 5px;
        a{
          color: #fff;
        }
      }
    }
  }
  .list-container{
    float:left;
    width:100%;
    .record-list{
      float:left;
      width:100%;
      display:none;
      &.active{
        display:block;
      }
      .transfer-list {
        td {
          font-size: 12px;
          .project-name {
            width: 175px;
            display: inline-block;
            @include text-overflow;
          }
        }
      }
    }
    .pagination{
      float:left;
      width: 725px;
    }
  }
}