.txtc {
  text-align: center;
}
.main{
  min-height: 300px;
}
.forget-password-box {
  &.min-height{
    min-height: 400px;
  }
  & .item-block {
    color: #fff;
    & .forget-phone {
      width: 240px;
      background: #e64d0a;
      display: inline-block;
    }
    & .forget-email {
      width: 240px;
      background: #3d7637;
      display: inline-block;
    }

  }
}
.tips{
  margin-top: 80px;
  color: #797979;
}
.forget-phone-box{
  width: 300px;
  margin: 0 auto;
  & .hd{
    text-align: center;
    font-size: 18px;
    color: #e64d0a;
    font-weight: bold;
    margin: 30px 0;
  }
  & .item-block{
    display: block;
    font-size: 14px;
    overflow: hidden;margin-bottom: 20px;
    & .error{
      background:url("/images/register/register.png") no-repeat left top;
      font-size: 12px;
      padding-left: 25px;
      color: #cc0000;
      margin-left: 87px;
      line-height: 24px;
    }
    & label{
      width: 80px;
      float: left;
      line-height: 32px;
      text-align: right;
    }
    & .phone-txt{
      width: 190px;
      height: 28px;
      padding: 1px 5px;
      border: 1px solid #ccc;
      float: left;
      &.error{
        background:url("/images/register/register.png") no-repeat 174px -86px;
        border: 1px solid #cc0000;
      }
    }
    & .yzm{
      border: 1px solid #ccc;
      padding: 1px;
      height: 28px;
      float: left;
      &.error{
        background:url("/images/register/register.png") no-repeat 174px -86px;
        border: 1px solid #cc0000;
      }
      & .yzm-txt{
        width: 93px;
        padding: 0 5px;
        line-height: 28px;
        border: none;
        float: left;

      }
      & .send-yzm{
        width: 96px;
        height: 28px;
        background: #e64d0a;
        border-radius: 2px;
        color: #fff;
        font-size: 12px;
        border:none;
        cursor: pointer;
        &.grey{
          background: #ccc;
        }
      }
    }
    & .btn-send-form{
      width: 180px;
      height: 32px;
      text-align: center;
      color: #fff;
      background: #e64d0a;
      border: none;
      margin-left: 80px;
      cursor: pointer;
      border-radius: 3px;
      &.grey{
        background: #ccc;
        cursor: not-allowed;
      }
    }
  }
}



//overlay
.layer-box{ display: none;}
.verification-code {
  background: rgba(0, 0, 0, .7);
  position: fixed;
  z-index: 999;
  width: 100%;
  left: 0px;
  top: 0px;
  height: 100%;
}

.verification-code-main {
  width: 390px;
  height: 262px;
  padding: 0px 16px;
  background: #fff;
  border: #bababa 1px solid;
  border-radius: 5px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -131px 0px 0px -211px;
  z-index: 999;
  & span {
    width: 100%;
    line-height: 18px;
    padding: 22px 0 6px 0;
    display: block;
    border-bottom: #bababa 1px solid;
    & i {
      float: right;
      cursor: pointer;
    }
  }
  & p {
    width: 290px;
    height: 42px;
    margin: 50px auto 0px;
    & input.verification-code-text {
      background: url("/images/register/register.png") no-repeat 6px -548px;
      width: 160px;
      height: 38px;
      border: #bababa 1px solid;
      border-radius: 5px;
      float: left;
      margin-right: 6px;
      font-size: 12px;
      padding-left: 30px;
    }
    & img.verification-code-img {
      width: 80px;
      height: 36px;
      margin-right: 6px;
      border-radius: 5px;
      float: left;
      background: #e4e4e4;
      border-radius: 5px;
      border: #bababa 1px solid;
      cursor: pointer;
    }
  }
  & b {
    color: #f68e3a;
    font-size: 12px;
    background: url("/images/register/register.png") no-repeat 0px -86px;
    padding-left: 40px;
    line-height: 30px;
    margin-left: 58px;
    height: 30px;
    display: none;
  }
  & .complete {
    font-size: 17px;
    width: 156px;
    height: 36px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    background: #f68e3a;
    border-radius: 5px;
    margin: 25px auto;
    display: block;
    border: none;
    cursor: pointer;
  }
  & .complete.grey{
    background: #ccc;
    cursor: not-allowed;
  }
}