@import 'layer', 'font_awesome';
@import 'reset', 'btn','table';
@import 'page_frame', 'account';

.page-width {
  width:1000px;
}
.layui-layer-content {
  .pad-m {
    padding:15px 20px 10px 20px;
  }
}
.borderBox {
  border: 1px solid nth($borderColor, 1);
  padding: 12px;
  line-height: nth($baseLineHeight, 1);
  height: auto;
  overflow: auto;
  &.spad { padding:5px;}
}
.bRadiusBox {
  @extend .borderBox;
  border-radius:3px;
}

.text-notice {
  color: nth($btnColor,5);
  font-size: nth($fontSize, 4);
}

.requireOpt:before {
  color: $required;
  padding-right: 2px;
  display: inline-block;
  content: '*';
}
.color-info {
  color: nth($CK1, 3);
}

.color-note {
  color: nth($CK1, 1);
}
.bg-w {
  background: nth($baseColor,1);
}
