@import 'font_awesome';
@import 'reset', 'btn','table';
@import 'page_frame','pagination';

.layer-style-custom {
  .image-captcha-dialog,.verification-code-main,.recharge-plat {
    overflow: hidden;
  }
}

.page-col-title,.column-title {
  border-bottom:1px solid #ccc;
  margin-bottom: 20px;
  span,em {
    display: inline-block;
    border-bottom:4px solid #ff7200;
    font-size: 18px;
    font-weight: bold;
    color: #ff7200;
  }
  &.article {
    text-align: center;
    em {
      border-bottom-width: 0px;
      line-height: 1.3;
    }
    time {
      font-size: nth($fontSize, 1);
      color: #666;
      display: block;
      margin-top:15px;
    }
  }
}

.table-out-border {
  border:1px solid #ff7200;
  background: #fff;
  border-radius: 6px;
  .tab-switch-menu {
    font-size: 18px;
    color: #4c4c4c;
    border-bottom:1px solid #ff7200;
    li {
      float: left;
      font-weight: bold;
      cursor: pointer;
      padding: 7px 20px;
      &.current {
        color: #ff7200;
      }
    }
  }
}
.borderBox {
  border: 1px solid #d9d9d9;
  padding: 12px;
  line-height: nth($baseLineHeight, 1);
  height: auto;
  &.spad { padding:5px;}
}
.bRadiusBox {
  @extend .borderBox;
  border-radius:3px;
}

.text-notice {
  color: nth($btnColor,5);
  font-size: nth($fontSize, 4);
}

.requireOpt:before {
  color: $required;
  padding-right: 2px;
  display: inline-block;
  content: '*';
}
.color-info {
  color: nth($CK1, 3);
}

.color-note {
  color: nth($CK1, 1);
}
.bg-w {
  background: nth($baseColor,1);
}

/* project schedule progress */
.project-schedule {
  .p-title {
    font-size: nth($fontSize,1);
    color: #b3b3b3;
    line-height: 1.8;
    .point {
      color: #ff752a;
    }
  }
  .process-percent {
    border-radius: 10px;
    background: #ffe3d4;
    height: 8px;
    width:100%;
    overflow: hidden;
    position: relative;
    .percent {
      border-radius: 10px;
      width: 50px;
      position: absolute;
      height: 100%;
      background: #ffa16e;
    }
  }
}

/* register step style for tab switch */

.step-register-tab {
  width: 100%;
  margin: 10px;
  font-size: 20px;
  li {
    float: left;
    position: relative;
    height: 54px;
    line-height: 54px;
    background: #fee2cb;
    color: #f68e3a;
    width: 32%;
    text-align: center;
    padding-right: 10px;
  }
  .arrow {
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
  }
  s {
    border: 27px solid #fee2cb;
    border-left-color: transparent;
    position: absolute;
    left: -25px;
    top: 0;
  }
  g {
    border: 27px solid #fff;
    border-left-color: #fee2cb;
    position: absolute;
    right: -18px;
    top: 0;
  }
  li.on {
    background: #f68e3a;
    color: #fff;
  }
  li.on s {
    border: 27px solid #f68e3a;
    border-left-color: transparent;
  }
  li.on g {
    border-left-color: #f68e3a;
  }
  li.first s {
    border-left-color: #fff;
    margin-left: 20px;
  }
}

/********************** Responsive Page ****************************/

@media screen and (max-width: 700px) {

  .page-width {
    width:100%;
  }
  .column-title{
    &.article {
      em{
        text-align:center;
        margin-top: 10px;
        line-height: 1.3;
      }
      time{
        margin-top:0;
      }
    }

  }
  /* MAKE IMAGE GRAY */
  .img-gray {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: none;
  }

  /*RESET FROM ERROR TIP*/
  form {
    label.error {
      &:before {
        font: normal normal normal 13px/1 FontAwesome;
      }
    }
    input.valid +label.error {
      display: none!important;
      &:before {
        display: none!important;
      }
    }
  }

  .main-frame.full-screen {
    width:100%;
    margin:0 auto!important;
  }
  .responsive-width{
    width:100%!important;
    margin:0!important;
  }
  .is-show{
    display:none!important;
  }

  .click-article{
    padding:15px 10px!important;
  }
  .title-img{
    width:30%!important;
  }

  .text-overflow{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}
