@import 'btn';
body, html, ul, li, ol, dl, dd, dt, p, h3, h4, h5, h1, h2, span, i, b, strong, em, input,button {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Microsoft YaHei';
  font-style: normal;
  outline: none;
}

a {
  text-decoration: none;
}

img {
  border: none;
}

body {
  background: #f9f9f9;
}
/********************************************
*********************** can't be delete**************************/
/* icon , will be make some change later */

.pad-s {
  padding: 10px;
}
.pad-m {
  padding: 30px;
}
.tl { text-align: left; }
.icon-msg1 {
  background-image: url("/images/icons/spr.png");
  background-position: -3px -442px;
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}

/*email tip */
.emailBindBox { position: relative;
  height: 400px; }
.emailBindTip {
  width:544px;
  height:244px;
  background: #fff;
  border:8px solid #e7eaee;
  position: absolute;
  left:0;
  right:0;
  top:60px;
  margin:auto;
  //color: nth($CK1, 2);
  color: #ff7200;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  h2 {
    border-bottom:1px solid #ccc;
    padding:5px;
    font-size: 16px;
  }
  p { padding-top:50px; line-height: 2.2;
    padding-bottom: 45px;}
  button {padding: 8px 55px;}
}

/********************************************
*********************** end **************************/
.header {
  .top {
    width: 100%;
    height: 30px;
    background: #333;
    font-size: 12px;
    div {
      width: 994px;
      height: 30px;
      line-height: 30px;
      margin: 0 auto;
      p {
        width: 400px;
        float: left;
        color: #fff;
        span {
          color: #979797;
          margin-left: 8px;
        }
      }
      ul {
        float: right;
        li {
          float: left;
          margin-right: 10px;
          color: #fff;
          a {
            width: auto;
            padding-left: 8px;
            color: #fff;
            &:hover {
              color: #ffc600;
            }
          }
        }
      }
    }
  }

  .nav {
    width: 100%;
    height: 77px;
    border-bottom: #f58243 1px solid;
    background: #fff;
    .nav-main {
      width: 994px;
      position: relative;
      margin: 0 auto;
      img {
        width: 386px;
        height: 57px;
      }
      ul {
        width: 564px;
        height: 44px;
        line-height: 44px;
        float: right;
        margin-top: 16px;
        li {
          float: left;
          width: 100px;
          height: 44px;
          margin-left: 12px;
          position: relative;
          a {
            display: block;
            color: #000;
            text-align: center;
            &:hover {
              border: #f58243 1px solid;
              //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
              border-radius: 3px;
              color: #f58243;
            }
          }
          .subnav {
            display: none;
            position: absolute;
            left: 0;
            top: 62px;
            width: 102px;
            border: #dad0cb 1px solid;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 3px;
            background: #fff;
            z-index: 999;
            li {
              width: 102px;
              height: 36px;
              clear: both;
              margin-top: -1px;
              margin-left: 0;
              a {
                width: 102px;
                height: 36px;
                text-align: center;
                display: block;
                line-height: 36px;
                clear: both;
                &:hover {
                  border: none;
                  border-bottom: #f58243 1px solid;
                  color: #f58243;
                }
              }
            }
          }
        }
      }
      a.logo {
        width: 386px;
        height: 57px;
        display: block;
        float: left;
        margin-top: 10px;
      }
    }
  }
}

.browser-warning-dialog {
  width: 100%;
  height: 643px;
  background: #000000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  display: none;
  position: fixed;
  z-index: 900;
}

.browser-warning {
  width: 540px;
  height: 240px;
  background: #f2f3f5;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -270px;
  margin-top: -120px;
  font-family: 'microsoft yahei';
  display: none;
  z-index: 901;

  p {
    width: 520px;
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
  }

  span {
    width: 160px;
    line-height: 160px;
    width: 100%;
    display: block;
    background: #fff;
    font-size: 20px;
    text-align: center;
  }
}

.footer {
  width: 100%;
  background: #3f3f3f;
  height: 280px;
  overflow: hidden;
  margin-top: 20px;

  .footer-main {
    width: 1000px;
    height: 210px;
    margin: 0 auto;
    color: #fff;
    & ul {
      width: 140px;
      float: left;
      text-align: left;
      & li {
        width: 140px;
        height: 14px;
        margin-top: 14px;
        & a {
          display: block;
          width: 140px;
          height: 14px;
          color: #fff;
          font-size: 12px;
        }
        & a:hover {
          text-decoration: underline;
        }
      }
      & p {
        width: 140px;
        height: 18px;
        line-height: 18px;
        margin-top: 52px;
        font-size: 14px;
      }
    }
    & ol {
      width: 610px;
      float: left;
      & span {
        width: 140px;
        height: 18px;
        line-height: 18px;
        margin-top: 52px;
        font-size: 14px;
        display: block;
      }
      & p {
        font-size: 18px;
        width: 600px;
        margin-top: 14px;
        & em {
          margin-left: 10px;
        }
      }
      & li {
        width: 600px;
        height: 14px;
        margin-top: 14px;
        font-size: 12px;
      }
    }

  }

  .copyright {
    width: 1000px;
    height: 68px;
    border-top: #606060 1px solid;
    margin: 0 auto;
    color: #fff;
    font-size: 15px;
    & span.copy {
      width: 520px;
      float: left;
      display: block;
      height: 68px;
      line-height: 68px;
    }
    & .pull-right{
    float: left;
    padding-top: 10px;
  }
    & p {
      float: left;
    }
  }
}