@import "module/login_tip";
$normalColor:#666;
$keyColor:#ff9c1b;
$pointColor:#ff5400;

/* project schedule progress */
.progress-bar {
  position: relative;
  top: -14px;
  .p-title {
    font-size: 13px;
    color: #666;
    line-height: 1.8;
  }
  .process-percent {
    background: #e6e6e6;
    height: 4px;
    width: 70%;
    overflow: hidden;
    position: relative;
    .percent {
      width: 50px;
      position: absolute;
      height: 100%;
      background: #ff752a;
    }
  }
  .point {
    position: absolute;
    right: 20px;
    top: 26px;
    font-size: 12px;
    color: #808080;
  }
}

.full-screen {
  width:100%;
  margin-top: 0;
  border-top: 1px solid $keyColor;

}
.bg-screen {
  background: #fff;
}

.home-page-container {
  //home page common style
  .label-title {
    font-size: 20px;
    color: #333;
    line-height: 45px;
    height:45px;
    border-bottom:1px solid #e6e6e6;
  }
  .hot-more {
    float: right;
    font-size: 14px;
    color: #808080;
    line-height: 45px;
    &:hover {
      text-decoration: underline;
      color: #ff752a;
    }
  }
  .icon-title {
    width:6px;
    height:18px;
    border-radius: 10px;
    background:$keyColor;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-bottom: 3px;
  }
  .main-column-title {
    font-size:20px;
    color: #333;
    margin-top:20px;
    margin-bottom:10px;
  }
  .btn-normal {
    font-size: 18px;
    padding: 8px 0px;
    width: 150px;
  }

  .percent-number {
    color: $pointColor;
    display: block;
    text-decoration: none;
    font-size:20px;
    i {
      font-size: 30px;
    }
    .sign-plus {
      display: inline-block;
      margin: 5px;
      font-size:20px;
    }
  }
  .duration-day {
    font-size: 30px;
    color: #4c4c4c;
  }

  .target-category-box {
    display: table;
    width:100%;
    background: #fff;
    color: $normalColor;
    &:nth-child(2n) {
      .target-column-con {
        background: #fbfbfb;
      }
    }
    .target-title,.transfer-title {
      display: table-header-group;
      span {
        display: table-cell;
        font-size:16px;
        padding: 15px 0 15px 30px;
        border-bottom:1px solid #e6e6e6;
        box-sizing: border-box;
        width:20%;
      }
    }
    .transfer-title span {
      width:16%;
    }

    .target-column-con {
      display: table-row-group;
      cursor: pointer;
      width:100%;
      .table-row {
        display: table-cell;
        border-bottom:1px solid #e6e6e6;
        padding: 20px 0 20px 30px;
        box-sizing: border-box;
        font-size:18px;
        width:20%;
        &.btn-col {
          padding-left: 0;
          text-align: right;
          padding-right: 30px;
        }
        &.progress-column {
          padding-left:10px;

        }
        .number {
          color: #4c4c4c;
          font-size: 24px;
        }
        .period {
          color: #ff752a;
          font-size: 24px;
        }
      }
    }
  }
  //home page layout
  .banner-box {
    height: 350px;
    width: 100%;
    overflow: hidden;
    position: relative;
    .banner-box-inner {
      height:100%;
    }
    .banner-img-list {
      width: 100%;
      height: 100%;
      position: relative;
        @media (max-width: 1920px) {
          margin-left: -moz-calc((1920px - 100%) / 2 * -1);
          margin-left: -webkit-calc((1920px - 100%) / 2 * -1);
          margin-left: calc((1920px - 100%) / 2 * -1);
        }
        li{
          position:absolute;
          top:0;
          left:0;
          width:100%;
          height: 100%;
          opacity: 0;
          a {
            width:100%;
            display: block;
            img {
              &.pc-img{
                height:350px;
              }
            }
          }
          a:first-child {
            z-index: 1;
          }
        }

    }
    .countNum{
      position:absolute;
      left: -moz-calc((100% - 100px) / 2 );
      left: -webkit-calc((100% - 100px) / 2 );
      left: calc((100% - 100px) / 2 );
      bottom:5px;
      li{
        width:20px;
        height:20px;
        float:left;
        color:#fff;
        border-radius:20px;
        background:#fff;
        text-align:center;
        margin-right:15px;
        cursor:pointer;
          &.current{
          background:#ff7a2a;
          font-weight:bold;
        }
      }
    }

    .page-width {
      height: 100%;
      position: relative;
    }
    .register-ad-box {
      position: absolute;
      z-index: 10;
      top: -324px;
      right: 0;
      width: 300px;
      height: 300px;
      box-sizing: border-box;
      padding: 50px 50px 10px;
      background-color: rgba(0,0,0,0.4);
      color:#fff;
      i a {
        color:#ff752a;
      }
      .num-text {
        float: left;
        width: 100%;
        margin: 0;
        .percent {
          color: #ff7200;
          font-size: 60px;
          line-height: 1;
          font-weight: bold;
        }
        .num-unit {
          font-size: 26px;
          font-weight: bold;
          color: #fff;
        }
      }
      .h-title {
        float: left;
        text-align: center;
        width: 100%;
        font-size: 24px;
      }
      .btn-normal {
        width: 100%;
        padding: 8px 0;
      }
      i {
        float: left;
        width: 100%;
        display: block;
        padding-top: 15px;
      }
      .welcome-text {
        float: left;
        width: 100%;
        position: relative;
        margin: 0 0 10px 0;
      }
    }
  }

  .notice-container {
      width: 100%;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #e6e6e6;
      overflow: hidden;
      h3 {
        float: left;
        width: 134px;
        font-size: 16px;
        text-align: center;
        border-right: 1px solid #e6e6e6;
        color: #999;
        background: url(../../images/homepage/icon-notice.png) left center no-repeat;
      }
      .notice-text {
        margin-left: 134px;
        position: relative;
        height:40px;
        ul{
          width:735px;
          position: absolute;
          left:35px;
          top:0;
          height:100%;
          a {
            color: #b2b2b2;
            &:hover {
              color: #ff752a;
            }
          }
        }
        .text-href {
          color: #808080;
          float: right;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  .main-advantage {
    padding:15px 0;
    dl {
      text-align: center;
      font-size: 14px;
      color: #4d4d4d;
      dd {
        width: 36%;
        display: inline-block;
        min-height:88px;
        text-align: left;
        a {
          display: inline-block;
          padding-left:90px;
        }
        &.guide {
          background: url(/images/homepage/icon-guide.png) left center no-repeat;
        }
        &.risk {
          background: url(/images/homepage/icon-risk.png) left center no-repeat;
        }
        &.assurance {
          width:27%;
          background: url(/images/homepage/icon-assurce.png) left center no-repeat;
        }
        b {
          font-size: 20px;
          display: block;
        }
        span {
          color: #999;
          display: inline-block;
          line-height: 20px;
        }
      }
    }
  }

  .newer-exclusive-box {
    .newer-experience {
      width:340px;
      background: #fff;
      float: left;
      margin-right:10px;
      position: relative;
      &:hover {
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.07), -1px -1px 8px rgba(0, 0, 0,0.07);
      }
      .tag-icon {
        width:56px;
        height:75px;
        display: inline-block;
        position: absolute;
        top:-5px;
        right:0;
        background:#fff url(../../images/homepage/icon-newer.png) right 0 no-repeat;

      }
      &.hack-newbie {
        .tag-icon {
          background: #fff url(../../images/homepage/icon-newuse.png) right 0 no-repeat;
        }
      }
      .con-inner {
        padding:18px 28px;
      }
      .newer-title {
        color: #333;
        font-size: 20px;
        font-weight: normal;
        span {
          color: #ff9c1b;
          font-size:14px;
        }
      }

      .loan-info {
        color:$normalColor;
        margin-top:28px;
        margin-bottom:28px;
        li {
          line-height: 30px;
          float: left;
          &:nth-child(1) {
            width:150px;
            border-right:1px solid #e6e6e6;
          }
          &:nth-child(2) {
            margin-left: 38px;
          }

          em {
            font-size: 30px;
            color: #4c4c4c;
          }

        }
      }
    }
  }
  .book-invest-box {
    padding:20px 30px 20px 25px;
    margin-bottom:10px;
    .book-info {
      display: inline-block;
      padding-top: 7px;
      background: url("../../images/homepage/clock-tip-s.png") left 10px no-repeat;
      display: inline-block;
      padding-left: 30px;
    }
  }

  .media-coverage-box {
    margin-top:20px;
    padding:10px 30px;
    background: #fff;
    ul {
      background: url("/images/homepage/media.png")  right top no-repeat;
      margin-top:15px;
      margin-bottom:15px;
      li {
        font-size: 14px;
        color: #b2b2b2;
        padding-top:5px;
        padding-bottom: 13px;
        position: relative;
        width: 58%;
        &:nth-last-child(1) {
          padding-bottom: 0px;
        }
        i {
          margin-right:8px;
          color: #ff752a;
        }
        time {
          position: absolute;
          right:0;
          top:0px;
        }
      }

    }
  }

  .partner-box {
    margin-top:20px;
    padding:10px 30px;
    background: #fff;
    .partner-list {
      margin-top:30px;
      li {
        float: left;
        margin-right:80px;
      }
      a {
        width:180px;
        height:70px;
        display: inline-block;
        border:1px solid #e6e6e6;
        &.logo-capital {
          background: #fff url("/images/homepage/logo-lian.png") center center no-repeat;
        }
        &.logo-umpay {
          background: #fff url("/images/homepage/logo-jing.png") center center no-repeat;
        }

        &:hover {
          box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.07), -1px -1px 8px rgba(0, 0, 0,0.07);
        }
      }
  }
}

  .book-invest-frame {
    padding: 30px;
    .book-invest-form {
      margin: 0 100px 0px 40px;
    }
    .book-table-column {
      .fl {
        width: 24%;
        font-size: 16px;
        color: #4c4c4c;
        text-align: right;
        padding-right: 3%;
      }
      .fr {
        width: 73%;
      }
      .book-invest-table {
        margin-bottom:10px;
        th {
          background: #f2f3f5;
        }
        th,td {
          border: 1px solid #e6e6e6;
          padding:5px;
          color: #4c4c4c;
          label {
            display: block;
            cursor: pointer;
          }
        }
      }
    }
    .book-dl {
      margin-bottom:10px;

      dt {
        float: left;
        width: 24%;
        font-size: 16px;
        color: #4c4c4c;
        text-align: right;
        padding-right: 3%;
      }
      dd {
        width: 73%;
        float: left;
        span {
          display: block;
          border: 1px solid #e6e6e6;
          height: 35px;
          line-height: 35px;
          text-align: right;
          padding-right: 10px;
          input {
            float: left;
            height: 33px;
            padding: 0;
            width: 90%;
            border: 0;
            vertical-align: middle;
            text-align: center;
          }
        }
      }
      &.book-bottom-notice {
        margin-top: 30px;
        dt {
          color: #808080;
        }
        dd {
          color: #999999;
          font-size: 12px;
        }
      }
    }
  }

  .book-box-layer {
    .layui-layer-title {
      font-size: 20px;
      color: #ff752a;
    }
  }

}

@media screen and (max-width: 700px) {
  .home-page-container {
    .main-advantage, .register-ad-box {
      display: none;
    }
  }
}