@import 'variables';

$landingPhoneColorGray: #F2F2F2;
$landingPhoneColorRed: #FC4333;

$fontMonster:      26px;
$fontGiant:        24px;
$fontUltraHuge:    22px;
$fontHuge:         20px;
$fontBig:          18px;
$fontNormal:       16px;
$fontSmall:        14px;
$fontUltraSmall:   12px;
$fontUltraSmaller: 10px;

.header-container, .nav-container, .footer-container {
  display: none;
}

.landing-phone-container {
  text-align: center;
  background: #fff;

  .landing-phone-section-header {
    float: left;
    margin-top: 12px;
    margin-bottom: 35px;
    width: 40%;
    font-size: $fontNormal;

    span {
      color: $landingPhoneColorRed;
    }

    span[id] {
      color: white;
    }
  }

  .landing-phone-section-header-left {
    float: left;
    width: 30%;
    height: 25px;
    margin-top: 15px;
    background: url('/images/sign/actor/landingphone/landing-phone-decorate-left.png') center no-repeat;
    background-size: 100% auto;
  }
  .landing-phone-section-header-right {
    float: left;
    width: 30%;
    height: 25px;
    margin-top: 15px;
    background: url('/images/sign/actor/landingphone/landing-phone-decorate-right.png') center no-repeat;
    background-size: 100% auto;
  }

  .landing-phone-logo {
    width: 100%;
    height: 50px;

    .landing-phone-logo-image {
      float: left;
      height: 25px;
      margin-left: 15px;
      margin-top: 13px;
    }
  }

  .landing-phone-banner {
    width: 100%;
    height: auto;
  }

  //拓天速贷的优势
  .tuotian-advantage {
    float: left;
    width: 100%;
    background: white;

    .tuotian-advantage-group {
      margin-bottom: 25px;
      .img-icon {
        margin-right: 15px;
        width: 63px;
        height: 69px;
      }

      .landing-phone-span-left {
        float: left;
        width: 50%;
        text-align: right;
      }
      .landing-phone-span-right {
        float: left;
        width: 50%;
        text-align: left;
        line-height: 25px;
        margin-top: 10px;
        font-size: $fontNormal;
        span {
          font-size: $fontUltraSmall;
        }
      }
    }
  }

  //为您精选理财产品
  .tuotian-products {
    float: left;
    width: 100%;
    background: $landingPhoneColorGray;

    .products-group {
      float: left;
      height: 56px;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 25px;

      p {
        margin-bottom: 0px;
      }
      .products-group-icon {
        float: left;
        width: 26%;
        height: 58px;
      }

      .products-group-content {
        float: left;
        background-color: white;
        width: 74%;
        height: 52px;
        margin-top: 4px;
        margin-left: -3px;
        border: 1px solid #E8E8E8;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        .products-group-content-item0 {
          float: left;
          width: 33.33%;
          text-align: center;

          span {
            line-height: 54px;
          }

          span[id=products-content-item0] {
            color: #FEBD39;
          }

          span[id=products-content-item1] {
            color: #FC9530;
          }

          span[id=products-content-item2] {
            color: #FC5526;
          }
        }

        .products-group-content-item1 {
          float: left;
          width: 33.33%;

          p {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }

          p[id] {
            font-size: $fontSmall;
          }

          span {
            font-size: $fontUltraSmaller;
          }

          p[id=products-content-percent0] {
            color: #FEBD39;
            margin-top: -2px;
          }
          p[id=products-content-percent1] {
            color: #FC9530;
            margin-top: -2px;
          }
          p[id=products-content-percent2] {
            color: #FC5526;
            margin-top: -2px;
          }
        }

        .products-group-content-item2 {
          float: left;
          width: 33.33%;
        }

      }
    }
  }

  //投资既有豪礼送
  .tuotian-gifts {
    float: left;
    width: 100%;
    background: white;

    .landing-phone-gift-header {
      width: 206px;
      height: auto;
    }

    .gifts-content-container {
      margin-left: 20px;
      margin-right: 20px;
      margin-top: 15px;
      margin-bottom: 20px;
      border: 0.5px solid $landingPhoneColorRed;
      border-radius: 5px;
      -webkit-border-radius:5px;

      .gifts-content-title {
        background-color: $landingPhoneColorRed;
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: $fontUltraSmall;
        color: #fff;

        span {
          font-size: $fontSmall;
          color: yellow;
        }
      }
      p {
        margin-top: 15px;
        margin-bottom: 15px;
        font-size: $fontUltraSmall;
        color: $landingPhoneColorRed;
      }
    }

    .landing-phone-gift-footer {
      width: 240px;
      height: auto;
      margin-bottom: 20px;
    }
  }

  //呼朋唤友赚佣金
  .tuotian-rewards {
    float: left;
    width: 100%;
    background: $landingPhoneColorGray;

    .rewards-header {
      float: left;
      text-align: left;
      margin-top: 0px;
      margin-bottom: 25px;
      margin-left: 20px;
      margin-right: 20px;
      font-size: $fontUltraSmall;
      span {
        color: $landingPhoneColorRed;
      }
    }

    table {
      background: $landingPhoneColorGray;
      border-collapse: separate;
      border-spacing: 1px;
      margin-left: 3%;
      margin-right: 3%;
      width: 94%;
      margin-bottom: 25px;
      font-size: $fontUltraSmall;

      td {
        background: white;
        p {
          margin-bottom: 0px;
        }

        span {
          color: $landingPhoneColorRed
        }
      }

    }
  }

  //主流媒体眼中的我们
  .tuotian-aboutus {
    float: left;
    width: 100%;
    background: url('/images/sign/actor/landingphone/landing-phone-aboutus-bg.png') center no-repeat;

    .aboutus-content-container {
      float: left;
      background: white;
      margin-top: 0px;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 20px;

      span {
        float: left;
        margin-left: 5%;
        margin-bottom: 10px;
        background: red;
        color: white;
        font-size: $fontUltraSmall;
        padding-left: 5px;
        padding-right: 5px;
        height: 25px;
      }

      p {
        float: left;
        margin-left: 5%;
        margin-right: 5%;
        text-align: left;
        font-size: $fontUltraSmall;
      }
    }

    .landing-phone-aboutus-header {
      margin-top: 25px;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 10px;
      width: 80%;
      height: auto;
    }
  }

  //现在就注册吧
  .tuotian-register {
    float: left;
    width: 100%;
    background: $landingPhoneColorGray;

    .tuotian-register-container {
      float: left;
      text-align: left;
      background: white;
      margin-left: 5%;
      margin-right: 5%;
      margin-bottom: 25px;
      margin-top: 0px;
      padding: 5%;
      width: 80%;
      font-size: $fontUltraSmall;

      input {
        width: 95%;
        margin-bottom: 20px;
        border-color: $landingPhoneColorGray;
      }

      input[id=captcha] {
        float: left;
        width: 40%;
        margin-bottom: 0px;
      }

      img[id=image-captcha] {
        float: left;
        width: 25%;
        height: 30px;
        margin-left: 5px;
        margin-right: 5px;
      }

      input[id=btn-get-captcha] {
        float: left;
        width: 25%;
        font-size: $fontUltraSmall;
        border-color: white;
      }

      input[id=phone-captcha] {
        float: left;
        width: 60%;
        margin-bottom: 0px;
        margin-right: 5px;
      }

      input[id=btn-get-phone-captcha] {
        float: left;
        width: 30%;
        font-size: $fontUltraSmall;
        color: white;
        background: red;
        border-color: white;
        border-radius: 15px;
        -webkit-border-radius: 15px;
      }

      input[id=btn-register] {
        width: 60%;
        margin-left: 20%;
        font-size: $fontUltraSmall;
        margin-top: 10px;
        margin-bottom: 3px;
        color: white;
        background: red;
        border-color: white;
      }

      .register-protocol {
        text-align: center;
        font-size: $fontUltraSmaller;
        span {
          color: red;
        }
      }
    }
  }
}
