.login-container {
  height: 358px;
  margin: 60px auto;
  text-align: center;
    font-size: 0;
    img.login-app {
      display: inline-block;
      border: #dadada 1px solid;
      border-right-width: 0;
    }
    .login-box {
      display: inline-block;
      vertical-align: middle;
      width: 290px;
      height: 308px;
      padding: 20px;
      border: #dadada 1px solid;
      background: #f9fcfe;
      font-size: 13px;
      text-align: left;
      h3 {
        font-size: 24px;
        color: #e64d0a;
        font-weight: normal;
        line-height: 24px;
        margin-bottom:20px;
      }
      label {
        display: block;
        margin-top: 10px;
        input {
          border: #dadada 1px solid;
          width: 188px;
          padding-left: 10px;
          margin-left: 4px;
        }
        input.captcha {
          width: 103px;
        }
        .image-captcha {
          width: 80px;
          overflow: hidden;
          height: 28px;
          cursor: pointer;
        }
        .name {
          width: 60px;
          text-align: left;
          line-height: 30px;
          float: left;
        }
        .name i {
          padding: 0 8px;
        }
      }
      .forgot-password {
        font-size: 12px;

        a {
          color: #545353;
        }
        a.register {
          color: #e64d0a;
          font-size: 12px;
        }
      }
      b {
        width: 298px;
        color: #797979;
        font-size: 14px;
        background: url("/images/icons/login-lock.png") no-repeat 0;
        padding-left: 20px;
        margin-left: -10px;
        margin-top: 10px;
        font-weight: normal;
        display: inline-block;
      }
    }


  .error {
    font-size: 12px;
    visibility: hidden;
    margin-left: 60px;
  }
}

.register-container {
  height: auto;
  overflow: hidden;
  background: #fff;
  margin: 12px auto;
  border: #cecece 1px solid;
  border-radius: 3px;
  position: relative;
}
@media screen and (max-width: 700px) {
  .login-container {
    margin:20px auto!important;
    .login-app {
      display: none!important;
    }
  }
}
