.login {
  width: 1000px;
  height: 358px;
  margin: 60px auto 0;
  background: url("/images/login/login-background.jpg") no-repeat left;
  & div {
    margin-left: 670px;
    width: 328px;
    height: 348px;
    border: #dadada 1px solid;
    background: #f9fcfe;
    & h3 {
      width: 298px;
      padding-left: 30px;
      font-size: 24px;
      color: #e64d0a;
      font-weight: normal;
      height: 24px;
      line-height: 24px;
      margin: 17px 0px;
    }
    & label {
      width: 298px;
      height: 30px;
      display: block;
      padding-left: 30px;
      margin: 10px 0px;
      & input {
        border: #dadada 1px solid;
        width: 188px;
        height: 28px;
        padding-left: 10px;
        margin-left: 4px;
      }
      & input.captcha {
        width: 95px;
        float: left;
      }
      & .image-captcha {
        width: 80px;
        float: left;
        overflow: hidden;
        height: 28px;
        border: 1px solid #ccc;
        margin-left: 10px;
        cursor: pointer;
      }
      & .name {
        width: 60px;
        text-align: left;
        line-height: 30px;
        float: left;
      }
      & .name i {
        padding: 0 8px;
      }
    }
    & .forgot-password {
      width: 208px;
      padding-left: 90px;
      height: 14px;
      line-height: 14px;
      font-size: 12px;
      text-align: right;
      padding-right: 100px;
      & input {
        width: 14px;
        height: 14px;
        margin-right: 4px;
        display: block;
        float: left;
      }
      & a {
        color: #545353;
      }
      & a.register {
        color: #e64d0a;
        font-size: 12px;
      }
    }
    & span {
      width: 298px;
      display: block;;
      height: 37px;
      line-height: 37px;
      padding-left: 30px;
      clear: both;
      margin: 15px 0px 15px 0px;
      a.login-submit {
        width: 184px;
        height: 37px;
        line-height: 37px;
        text-align: center;
        background: #e64d0a;
        color: #fff;
        font-size: 16px;
        border-radius: 3px;
        display: block;
        float: left;
        margin-left: 45px;
      }
      a.login-submit.grey {
        background: #ccc;
      }
      a.login-submit.loading {
        background: url("/images/login/loading.gif") no-repeat center center !important;
        text-indent: -9999px;
      }
    }
    & b {
      margin: 0 0 0 10px;
      width: 288px;
      color: #797979;
      font-size: 14px;
      background: url("/images/login/login-lock.png") no-repeat 0;
      padding-left: 20px;
      font-weight: normal;
    }
  }
  & div.error {
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    margin: 0 0 10px 0;
    width: 200px;
    color: #cc0000;
    padding-left: 118px;
    border: none;
    background: url("/images/login/error.png") 95px center no-repeat;
    visibility: hidden;
  }
  & div.right {
    background: url("/images/login/ok.png") 95px center no-repeat;
  }
}