.login-container {
  height: 358px;
  margin: 60px auto;
  text-align: center;
    font-size: 0;
    img.login-app {
      display: inline-block;
      border: #dadada 1px solid;
      border-right-width: 0;
    }
    .login-box {
      display: inline-block;
      vertical-align: middle;
      width: 290px;
      height: 308px;
      padding: 20px;
      border: #dadada 1px solid;
      background: #f9fcfe;
      font-size: 13px;
      text-align: left;
      h3 {
        font-size: 24px;
        color: #e64d0a;
        font-weight: normal;
        line-height: 24px;
        margin-bottom:20px;
      }
      label {
        display: block;
        margin-top: 10px;
        input {
          border: #dadada 1px solid;
          width: 188px;
          padding-left: 10px;
          margin-left: 4px;
        }
        input.captcha {
          width: 103px;
        }
        .image-captcha {
          width: 80px;
          overflow: hidden;
          height: 28px;
          cursor: pointer;
        }
        .name {
          width: 60px;
          text-align: left;
          line-height: 30px;
          float: left;
        }
        .name i {
          padding: 0 8px;
        }
      }
      .forgot-password {
        font-size: 12px;

        a {
          color: #545353;
        }
        a.register {
          color: #e64d0a;
          font-size: 12px;
        }
      }
      b {
        width: 298px;
        color: #797979;
        background: url("/images/icons/login-lock.png") no-repeat 0;
        padding-left: 20px;
        margin-left: -10px;
        margin-top: 10px;
        font-weight: normal;
        display: inline-block;
      }
    }


  .error {
    font-size: 12px;
    visibility: hidden;
    margin-left: 60px;
  }
}

.register-container {
  height: auto;
  overflow: hidden;
  background: #fff;
  margin: 12px auto;
  border: #cecece 1px solid;
  border-radius: 3px;
  position: relative;
}

.invest-success-container{
  float:left;
  width:100%;
  height:300px;
  margin:60px 0 110px;
  background:#fffaf3;
  position: relative;
  .invest-text-model{
    width:510px;
    height:210px;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-105px;
    margin-left:-205px;
    .success-tip{
      float:left;
      width:60px;
      height:60px;
      margin-top:10px;
      margin-left: -80px;
      background:url("/images/icons/success-tip.png") no-repeat left top;
    }
    p{
      float:left;
      width:100%;
      margin-bottom:0;
      &.pay-tip{
        font-size:20px;
        color:#ff9c1b;
      }
      &.pay-text{
        font-size:16px;
        color:#4c4c4c;
      }
      &.pay-problem{
        font-size:16px;
        color:#808080;
        margin-top:75px;
      }
    }
  }
}
.invest-success-phone{
  display:none;
  background:#fffaf3;
  float:left;
  width:90%;
  margin:20px 5%;
  position: relative;
  .success-tip{
    position: absolute;
    top:25px;
    left:0;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: 3%;
    background:url("/images/icons/success-tip.png") no-repeat left top;
    background-size: 100%;
  }
  p{
    float:left;
    width:85%;
    margin:30px 0 0 15%;
    margin-bottom:0;
    &.pay-tip{
      font-size:16px;
      color:#ff9c1b;
    }
    &.pay-text{
      font-size:14px;
      color:#4c4c4c;
      margin-top:20px;
    }
    &.pay-problem{
      font-size:12px;
      color:#808080;
      margin-top:20px;
      margin-bottom:10px;
    }
  }
}
@media screen and (max-width: 700px) {
  .login-container {
    margin:20px auto!important;
    .login-app {
      display: none!important;
    }
  }
  .invest-success-container{
    display:none;
  }
  .invest-success-phone{
    display:block;
  }
}
