.nav-container {
  margin-right: 10px;
  .nav .logo{
    width:370px;
  }
  .nav ul {
    li{
      width:90px;
    }
    li a.active, li a:hover {
      color: #428edf;
      border-top: #428edf 3px solid;
    }
  }
}

.main-frame{
  width:100%;
  margin:0;
  .global-member-order {
    float:left;
    width:100%;
    .wp{
      width:1000px;
      margin:0 auto;
      position: relative;
      &.order-item{
        background:#fff;
        margin-bottom:20px;
      }
      .order-top{
        float:left;
        width:100%;
        color:#808080;
        font-size:16px;
        margin:20px 0;
        span{
          color:#fc4a52;
        }
      }
      .container-order{
        float:left;
        width:940px;
        margin:0 20px;
        padding:20px 0;
        .order-place{
          float:left;
          width:100%;
          margin-bottom:30px;
          h3{
            float:left;
            width:100%;
            font-size:18px;
            color:#4d4d4d;
          }
          .address-item{
            float:left;
            width:290px;
            height:100px;
            padding:20px 30px;
            border:1px dashed #ccc;
            position: relative;
            &:hover{
              border-color:#ff000b;
              .address-set{
                display:block;
                color:#ff000b;
              }
            }
            .address-set{
              width:40px;
              position: absolute;
              top:15px;
              right:20px;
              font-size:14px;
              color:#808080;
              display:none;
            }
            p{
              font-size:16px;
              color:#808080;
              margin-bottom:0;
              overflow: hidden;
              text-overflow: ellipsis;
              word-wrap: break-word;
              white-space: nowrap;
              &.user-name{
                color:#4c4c4c;
              }
            }
          }
        }
        .order-info{
          float:left;
          width:100%;
          h3{
            float:left;
            width:100%;
            font-size:18px;
            color:#4c4c4c;
            border-bottom:1px solid #e6e6e6;
          }
        }
      }
    }
    .container-ad{
      float:left;
      width:100%;
      height:80px;
      background:url("/images/membership/ad-img.jpg") no-repeat center;
    }
  }
}






