.nav-container {
  margin-right: 10px;
  .nav .logo{
    width:370px;
  }
  .nav ul {
    li{
      width:90px;
    }
    li a.active, li a:hover {
      color: #428edf;
      border-top: #428edf 3px solid;
    }
  }
}

.main-frame{
  width:100%;
  margin:0;
  .global-member-detail {
    float:left;
    width:100%;
    .wp{
      width:1000px;
      margin:0 auto;
      position: relative;
      &.detail-model{
        background:#fff;
        margin-top:20px;
        margin-bottom:20px;
      }
      .container-detail{
        float:left;
        width:940px;
        margin:0 30px;
        .detail-top{
          float:left;
          width:100%;
          color:#808080;
          font-size:16px;
          margin-top:10px;
          margin-bottom:20px;
          span{
            color:#fc4a52;
          }
        }
        .detail-info{
          float:left;
          width:100%;
          .detail-left{
            float:left;
            width:300px;
            height:244px;
            margin:60px 120px 100px 60px;
          }
          .detail-right{
            float:left;
            width:460px;
            h3{
              float:left;
              width:100%;
              font-size:26px;
              color:#4c4c4c;
            }
            .info-text{
              float:left;
              width:100%;
              &.mt-price{
                margin:20px 0;
                padding-bottom:20px;
                border-bottom:1px solid #e6e6e6;
              }
              .info-name{
                float:left;
                width:80px;
                font-size:16px;
                color:#999999;
              }
              .info-content{
                float:left;
                width:360px;
                p{
                  font-size:12px;
                  color:#4c4c4c;
                  margin-bottom:0;
                }
                .price-text{
                  float:left;
                  width:100%;
                  font-size:16px;
                  color:#4c4c4c;
                  line-height:30px;
                  span{
                    font-size:26px;
                    color:#fc4a52;
                  }
                }
                .count-list{
                  float:left;
                  width:100%;
                  span{
                    float:left;
                    &.count-btn{
                      width:26px;
                      height:24px;
                      font-size:22px;
                      text-align:center;
                      line-height:24px;
                      cursor:pointer;
                      border:1px solid #d1d6de;
                      &:active{
                        background:#ccc;
                      }
                    }
                    &.total-num{
                      margin-left:20px;
                      font-size:14px;
                      color:#4c4c4c;
                      i{
                        color:#fc4a52;
                      }
                    }
                  }
                  .num-text{
                    float:left;
                    width: 50px;
                    height: 24px;
                    line-height: 25px;
                    text-align: center;
                    padding: 0;
                    border: none;
                    border-top: 1px solid #d1d1d1;
                    border-bottom: 1px solid #d1d1d1;
                  }
                }
              }
            }
          }
        }
      }
    }
    .container-ad{
      float:left;
      width:100%;
      height:80px;
      background:url("/images/membership/ad-img.jpg") no-repeat center;
    }
  }
}






