.footer-container{
  display:none;
}

.nav-container {
  margin-right: 10px;
  .nav .logo{
    width:370px;
  }
  .nav ul {
    li{
      width:90px;
    }
    li a.active, li a:hover {
      color: #428edf;
      border-top: #428edf 3px solid;
    }
  }
  .go-home {
    a {
      margin-top: 21px;
      color: #fff;
      background: #428edf;
      font-size: 16px;
      display: block;
      padding: 0 20px;
      border-radius: 20px;
    }
  }
}

.main-frame{
  width:100%;
  margin:0;
  .global-member-store {
    float:left;
    width:100%;
    .wp{
      width:1000px;
      margin:0 auto;
      position: relative;
    }
    .store-top{
      float:left;
      width:100%;
      height:350px;
      position: relative;
      background:url("/images/membership/top-banner.png") no-repeat center;
      .store-login{
        width:300px;
        height:320px;
        position: absolute;
        top:50%;
        right:50%;
        margin-top:-160px;
        margin-right:-500px;
        background:#fff url("/images/membership/login-bg.png") no-repeat 95px -32px;
        border-radius: 5px;
        overflow: hidden;
      }
    }
    .store-title{
      float:left;
      width:100%;
    }
    .store-footer{
      float:left;
      width:100%;
      background:#ebebeb;
      .footer-list{
        padding:40px 0;
        dl{
          float:left;
          &.list-normal{
            width:155px;
          }
          &.list-contact{
            width:420px;
          }
          dt{
            float:left;
            width:100%;
            font-size:18px;
            color:#4c4c4c;
          }
          dd{
            float:left;
            width:100%;
            a{
              font-size:14px;
              color:#808080;
              span{
                font-size:20px;
                color:#fc4a52;
              }
            }
          }
        }
        .images-app{
          float:right;
          width:100px;
          .img-app-download{
            float:left;
            width:100px;
            height:100px;
            background-image: url(/images/compress/global_20160523.png);
            background-position: -308px -100px;
            -webkit-background-size: 408px 290px;
            -moz-background-size: 408px 290px;
            background-size: 408px 290px;
          }
          p{
            float:left;
            width:100%;
            margin-bottom:0;
          }
        }
      }
      .copyright-info{
        border-top:1px solid #ccc;
        line-height:60px;
        text-align:center;
        font-size:16px;
        color:#808080;
      }
    }
  }
}






