.full-screen {
  width:100%!important;
  margin-top:0;
  margin-bottom:0px;
  .page-width {
    margin:0 auto;
  }
}
.banner-box {
  img {
    width:100%;
  }
}
.refer-reward-bg {
  background: #f5faff;
  text-align: center;
  margin-top: -300px;
  .refer-reward-inner {
    padding-top:310px;
    margin:0 auto;
    width:1002px;
    text-align: center;
    background: #edf9ff;
    padding-bottom: 20px;
  }
}
.footer-container {
  margin-top:0px!important;
}
