@import 'variables';
@import 'register_png';

.register-container {
  height: auto;
  overflow: hidden;
  background: #fff;
  margin: 12px auto;
  position: relative;
  text-align: center;

  .step-register-head {
    border-bottom: 1px solid nth($borderColor,2);
    color: nth($mainColor,1);
    font-size: 24px;
    padding: 25px 0 3px 0;
    position: relative;

    .text-m {
      font-size: 14px;
      display: inline-block;
      position: absolute;
      right: 110px;
      bottom: 10px;
      color: #4c4c4c;
    }
  }
  .step-account-head {
    color: #4d4d4d;
    font-size: 22px;
    display: inline-block;
    margin-top: 50px;
    i {
      display: inline-block;
    }
    span {
      display: inline-block;
      text-align: left;
      padding-left: 20px;
    }
  }

  .register-box {
    margin-left: 322px;
    height: auto;
    overflow: auto;
    .register-step-one {
      margin-top: 20px;
    }
    .register-step-two {
      margin-top: 40px;
      label.title {
        font-size: 14px;
        padding-right: 10px;
      }
      label.error {

      }
      input[type="text"] {
        padding-left: 10px!important;
      }
      .btn-success {
        margin-left: 140px!important;
      }

    }
    ul.reg-list {
      font-size: 12px;
      li {
        clear: both;
        margin-bottom: 20px;
        height: auto;
        color: #999;
        position: relative;
        i {
          display: inline-block;
          position: absolute;
          left: 10px;
          top: 8px;
          z-index: 20;
        }
        .reg-title {
          width:60px;
          padding-right: 3px;
          font-size:14px;
          color: #333;
          text-align: right;
          display: none;
        }
        .captcha-tag {
          position: relative;
          display: inline-block;
          width:90%;
          .fetch-captcha {
            padding: 12px;
            letter-spacing: 0;
            position: absolute;
            right: 281px;
            top: 3px;
            font-size: 14px;
            border: 0;
            background: #ff9c1b;
            color: #fff;
            cursor: pointer;
            &:disabled {
              cursor: default;
              background: #b3b3b3;
              color: #fff;
            }
          }
        }
        input[type="text"], input[type="password"] {
          color: #999;
          width: 280px;
          border: #cecece 1px solid;
          padding: 14px 2px 14px 47px;

        }
        .agreement {
          display: inline-block;
          width:361px;
        }
        input.valid + .agreement + label.error {
          &:before {
            content: "\f058";
            color: nth($checkValid,2);
          }
        }
        &.referrer-open {
          color: nth($CK1,1);
          font-size: 14px;
          padding-left: 26px;
          margin-bottom: 10px;
          cursor: pointer;
          i {
            left:0;
            top:5px;
          }
        }
        &.agree-last {
          position: relative;
          margin-left: 0;
          font-size: 14px;
          i {
            top: 8px;
            left: 0px;
          }
          .check-label{
            position: absolute;
            top: 1px;
            background: #fff;
            padding-left: 28px;
          }
          .agreement-check{
            margin-right: 300px;
          }
        }
      }
      .register-account {
        display: block;
        &.loading {
          background: url("/images/icons/loading.gif") no-repeat center center;
          cursor: default;
          text-indent: -9999px;
        }
      }
    }
    .button-layer {
      width: 362px;
      text-align: center;
      padding-bottom:20px;
      span.error {
        display: block;
        height:25px;
        &.loading {
          color: #ffac2a;
        }
      }
      .btn-success {
        padding: 10px 50px;
        &:disabled {
          background: #e6e6e6;
        }
      }
    }
  }
}

.image-captcha-dialog {
  .image-captcha-form {
    .image-captcha-inner {
      padding:20px;
      position: relative;
    }
    i {
      display: inline-block;
      position: absolute;
      left: 21px;
      top: 23px;
      z-index: 20;
    }
    input.image-captcha-text {
      width: 156px;
      border-radius: 3px;
      font-size: 12px;
      padding: 10px 6px 9px 30px;
      &.error + label.error{
        display: block!important;
      }
    }

    img.image-captcha {
      width: 60px;
      height: 29px;
      border-radius: 3px;
      background: #e4e4e4;
      border: #bababa 1px solid;
      cursor: pointer;
      position: absolute;
      left: 150px;
      top: 22px;
    }
    .image-captcha-confirm {
      position: absolute;
      bottom: 17px;
      left: 35%;
    }
  }

  .image-captcha-confirm.loading {
    background: url("/images/icons/loading.gif") no-repeat center center;
    cursor: default;
    text-indent: -9999px;
    border:0px;
  }
}

.forget-phone-box {
  .re-title {
    font-size: 18px;
    color: #e64d0a;
    font-weight: bold;
    padding:30px;
  }
  .retrieve-box {
    width:420px;
    margin:0 auto;
    text-align: left;
    &.input-password-box {
      width:480px;
    }
    li {
      margin-bottom:10px;
      position: relative;
        .fetch-captcha {
          position: absolute;
          padding: 7px 6px;
          letter-spacing: 0;
          font-size: 12px;
          top: 2px;
          right: 148px;
          &:disabled {
            background: #aaa!important;
            border:1px solid #aaa!important;
          }
        }
      input[type='text'],input[type='password'] {
        color: #999;
        width: 210px;
        border: #cecece 1px solid;
        border-radius: 3px;
        padding: 9px 2px 9px 5px;
      }
      input[type="submit"] {
        margin-left: 100px;
      }

    }
  }
}

.verification-code-main {
  position: relative;
  height:100%;
  .image-code-check {
    position: relative;
    .verification-code-img {
      position: absolute;
      right: 25px;

    }
  }
  .btn-success {
    position: absolute;
    bottom: 25px;
    left: 35%;
  }
}

@media (max-width: 700px) {

  .main-frame.full-screen {
    .register-skin{
      width: 100%!important;
      height:100%!important;
      top: 0!important;
      left: 50%!important;
      margin-left: -50%!important;
    }
  }

  .register-container {
    margin:0 auto;
    border-width: 0;
    padding:0px 5%;
    .register-box {
      margin:0;
      width:100%;
      ul.reg-list {
        li {
          .captcha-tag {
            position: relative;
            display: inline-block;
            width:100%;
            .fetch-captcha {
              padding: 7px;
              letter-spacing: 0;
              position: absolute;
              right: 1px;
              top: 3px;
              font-size: 12px;
            }
          }
          input[type="text"], input[type="password"] {
            width: 100%;
            box-sizing: border-box;
            border: #cecece 1px solid;
            border-radius: 3px;
            padding: 9px 2px 9px 30px;

          }

          .agreement {
            display: inline-block;
            width:auto;
          }
          input.valid + .agreement + label.error {
            &:before {
              content: "\f058";
              color: nth($checkValid,2);
            }
          }
          &.agree-last {
            margin-left:0px;
          }

        }
        .register-account {
          display: block;
          &.loading {
            background: url("/images/icons/loading.gif") no-repeat center center;
            cursor: default;
            text-indent: -9999px;
          }
        }
        .register-user, .register-account {
          width: 150px;
          background: #fee2cb;
          border-radius: 3px;
          text-align: center;
          margin: 20px 0 20px 85px;
          font-size: 20px;
          color: #f68e3a;
          border: 0;
          cursor: pointer;
        }
      }
    }
  }
}

@media screen\9 {
//IE6,7
  .register-container {
    .register-box {
      margin-left: 25%;
      ul.reg-list {
        li {
          .reg-title{
            display:inline-block;
          }
        }
        .register-user {
          margin-left: 130px;
        }
      }
    }
  }

}

@media screen\0 {
  //IE8-10
  .register-container {
    .register-box {
      margin-left: 25%;
      ul.reg-list {
        li {
          .reg-title{
            display:inline-block;
          }
          .captcha-tag {
            .fetch-captcha {
              right: 361px;

            }
          }
          &.agree-last {
            margin-left:60px;
          }
        }

        .register-user {
          margin-left: 130px;
        }

      }
    }
  }

}
