.nav-main {
  width: 1000px;
  margin: 0 auto;
  height: 62px;
  p {
    position: absolute;
    width: 100px;
    height: 62px;
    text-align: center;
    line-height: 62px;
    border-left: #f68e3a 1px solid;
    top: 6px;
    left: 776px;
    display: block;
    font-size: 24px;
    color: #adacac;
  }
  span {
    position: absolute;
    left: 880px;
    top: 60px;
    font-size: 12px;
    color: #1c1c1c;
    a {
      color: #f68e3a;
    }
  }
}

.register {
  width: 972px;
  height: auto;
  overflow: hidden;
  background: #fff;
  margin: 12px auto;
  border: #cecece 1px solid;
  //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
  border-radius: 3px;
  position: relative;
  ul {
    width: 100%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 20px;
    color: #f68e3a;
    margin-top: 8px;
    li {
      float: left;
      height: 55px;
      a {
        color: #f68e3a;
        display: block;
        height: 55px;
        line-height: 55px;
        span {
          margin-right: 10px;
        }
      }
      &.register-arrow {
        width: 324px;
        background: url(/images/register/register-arrow.png) no-repeat;
        &.active {
          color: #fff;
          width: 324px;
          background: url(/images/register/register-arrow-active.png) no-repeat;
        }
      }
    }
  }
  .register-step-two {
    margin-top: 100px;
  }
  label {
    padding-left: 30px;
    height: 38px;
    display: inline-block;
    margin-left: 10px;
    line-height: 38px;
    &.error {
      background: url(/images/register/register.png) no-repeat 0 -82px;
      font-size: 12px;
      color: #f68e3a;
    }
    &.valid {
      background: url(/images/register/register.png) no-repeat 0 -456px;
    }
  }
  .agreement-check {
    float: left;
  }
  .agreement-title {
    & .register-step-two {
      margin-top: 100px;
      display: none;
    }
    & .agreement-check {
      float: left;
      font-size: 12px;
      margin-top: -2px;
      padding-left: 5px;
      color: #999;
    }
    .show-agreement {
      color: #999;
      text-decoration: underline;
    }
  }

  .register-step {
    display: none;
    width: 610px;
    height: 410px;
    margin-left: 325px;
    ol {
      display: block;
      & ol {
        width: 600px;
        li {
          width: 600px;
          height: 40px;
          margin-top: 20px;
          position: relative;
          .form-error {
            font-weight: normal;
            color: #f68e3a;
            font-size: 12px;
            margin-left: 6px;
            width: 180px;
            float: left;
            line-height: 20px;
            display: block;
            padding-left: 28px;
            background: url(/images/register/register.png) no-repeat 0 -81px;
          }
          em {
            position: absolute;
            left: 330px;
            top: 8px;
            background: url(/images/register/register.png) no-repeat 0 -465px;
            width: 22px;
            height: 22px;
            opacity: 0;
          }
          strong {
            position: absolute;
            left: 330px;
            top: 8px;
            width: 180px;
            height: 22px;
            dispaly: block;
            font-weight: normal;
            display: none;
            background: url(/images/loading.gif) no-repeat;
          }
        }
        input {
          & input {
            color: #999;
            width: 280px;
            height: 38px;
            line-height: 38px;
            border: #cecece 1px solid;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 3px;
            padding-left: 40px;
            float: left;
            font-size: 12px;
            &.mobile {
              background: url(/images/register/register.png) no-repeat 6px -362px;
            }
            &.captcha {
              background: url(/images/register/register.png) no-repeat 6px -548px;
            }
            &.email {
              background: url(/images/register/register.png) no-repeat 6px 9px;
            }
            &.password {
              background: url(/images/register/register.png) no-repeat 6px -173px;
            }
            &.referrer {
              background: url(/images/register/register.png) no-repeat 6px -268px;
            }
            &.login-name {
              background: url(/images/register/register.png) no-repeat 6px -640px;
            }
            &.user-name {
              background: url(/images/register/register.png) no-repeat 6px -268px;
            }
            &.identity-number {
              background: url(/images/register/register.png) no-repeat 6px -724px;
            }
          }
          .fetch-captcha {
            display: block;
            width: 90px;
            height: 28px;
            background: #f68e3a;
            color: #fff;
            //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
            border-radius: 3px;
            position: absolute;
            left: 224px;
            top: 6px;
            font-size: 12px;
            line-height: 28px;
            text-align: center;
            cursor: pointer;
          }
        }
        .register-user {
          & input.mobile {
            background: url("/images/register/register.png") no-repeat 6px -362px;
          }
          & input.captcha {
            background: url("/images/register/register.png") no-repeat 6px -548px;
          }
          & input.email {
            background: url("/images/register/register.png") no-repeat 6px 9px;
          }
          & input.password {
            background: url("/images/register/register.png") no-repeat 6px -173px;
          }
          & input.referrer {
            background: url("/images/register/register.png") no-repeat 6px -268px;
          }
          & input.login-name {
            background: url("/images/register/register.png") no-repeat 6px -640px;
          }
          & input.user-name {
            background: url("/images/register/register.png") no-repeat 6px -268px;
          }

          & input.identity-number {
            background: url("/images/register/register.png") no-repeat 6px -724px;
          }
        }
        & .active {
          display: block;
        }

        & .register-user {
          width: 174px;
          height: 48px;
          background: #fee2cb;
          //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
          border-radius: 3px;
          line-height: 48px;
          text-align: center;
          display: block;
          margin: 0 0 20px 74px;
          font-size: 20px;
          color: #f68e3a;
          padding-left: 0;
          border: 0;
          cursor: pointer;
        }
        .register-account {
          width: 174px;
          height: 48px;
          background: #fee2cb;
          //Instead of the line below you could use @include border-radius($radius, $vertical-radius)
          border-radius: 3px;
          line-height: 48px;
          text-align: center;
          display: block;
          margin: 50px 0 20px 74px;
          font-size: 20px;
          color: #f68e3a;
          padding-left: 0;
          border: 0;
          cursor: pointer;
        }
        &.active {
          display: block;
        }
        input.agreement-check {
          width: 13px;
          height: 13px;
          display: inline-block;
          left: 0;
          top: 1px;
        }
        p span {
          cursor: pointer;
        }
      }

      .agreement-dialog {
        width: 100%;
        height: 643px;
        background: rgba(0, 0, 0, 0.8);
        overflow: hidden;
        z-index: 980;
        position: fixed;
        left: 0;
        top: 0;
        display: none;
      }

      .agreement {
        width: 1000px;
        height: 643px;
        overflow: auto;
        background: #fff;
        position: fixed;
        left: 50%;
        top: 0;
        margin-left: -500px;
        display: none;
        z-index: 990;
        h3 {
          width: 940px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          margin-top: 20px;
        }
        p {
          width: 940px;
          text-indent: 30px;
          padding: 0 20px;
          font-size: 14px;
          line-height: 24px;
          margin: 20px 0 0;
          height: auto;
          &:first-child {
            margin-top: 100px;
          }
          &:last-child {
            margin-bottom: 100px;
          }
        }
      }

      .register label {
        padding-left: 30px;
        height: 38px;
        display: inline-block;
        margin-left: 10px;
        line-height: 38px;
      }

      .register label.error {
        background: url("/images/register/register.png") no-repeat 0px -82px;
        font-size: 12px;
        color: #f68e3a;
      }

      .register label.valid {
        background: url("/images/register/register.png") no-repeat 0px -456px;
      }

      .register .agreement-title {
        float: left;
        font-size: 12px;
        margin-top: -2px;
        padding-left: 5px;
        color: #999;
      }

      .register .show-agreement {
        color: #999;
        text-decoration: underline;
      }

      .verification-code {
        background: rgba(0, 0, 0, .7);
        position: fixed;
        z-index: 999;
        width: 100%;
        left: 0px;
        top: 0px;
        display: none;
      }

      .verification-code-main {
        width: 390px;
        height: 262px;
        padding: 0px 16px;
        background: #fff;
        border: #bababa 1px solid;
        border-radius: 5px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -131px 0px 0px -211px;
        z-index: 999;
        display: none;
        & span {
          width: 100%;
          line-height: 18px;
          padding: 22px 0 6px 0;
          display: block;
          border-bottom: #bababa 1px solid;
          & i {
            float: right;
            cursor: pointer;
          }
        }
        & p {
          width: 290px;
          height: 42px;
          margin: 50px auto 0px;
          & input.verification-code-text {
            background: url("/images/register/register.png") no-repeat 6px -548px;
            width: 160px;
            height: 38px;
            border: #bababa 1px solid;
            border-radius: 5px;
            float: left;
            margin-right: 6px;
            font-size: 12px;
            padding-left: 30px;
          }
          & img.verification-code-img {
            width: 80px;
            height: 36px;
            margin-right: 6px;
            border-radius: 5px;
            float: left;
            background: #e4e4e4;
            border-radius: 5px;
            border: #bababa 1px solid;
          }
        }
        & b {
          color: #f68e3a;
          font-size: 12px;
          background: url("/images/register/register.png") no-repeat 0px -86px;
          padding-left: 40px;
          line-height: 30px;
          margin-left: 58px;
          height: 30px;
          display: none;
        }
        & a.complete {
          font-size: 17px;
          width: 156px;
          height: 36px;
          line-height: 36px;
          text-align: center;
          color: #fff;
          background: #f68e3a;
          border-radius: 5px;
          margin: 25px auto;
          display: block;
        }
      }
    }
  }
}


