@import 'variables';

.register-container {
  height: auto;
  overflow: hidden;
  background: #fff;
  margin: 12px auto;
  border: #f2f2f2 1px solid;
  border-radius: 3px;
  position: relative;
  text-align: center;

  .register-box {
    margin-left: 30%;
    height: auto;
    overflow: auto;
    .register-step-one {
      margin-top: 20px;
    }
    .register-step-two {
      margin-top: 40px;
    }
    ul.reg-list {
      font-size: 12px;
      li {
        clear: both;
        margin-bottom: 20px;
        height: auto;
        .reg-title {
          width:60px;
          padding-right: 3px;
          font-size:14px;
          color: #333;
          text-align: right;
          display: none;

        }
        .captcha-tag {
          position: relative;
          display: inline-block;
          width:90%;
          .fetch-captcha {
            padding: 7px;
            letter-spacing: 0;
            position: absolute;
            right: 316px;
            top: 3px;
            font-size: 12px;
          }
        }
        input[type="text"], input[type="password"] {
          color: #999;
          width: 280px;
          border: #cecece 1px solid;
          border-radius: 3px;
          padding: 10px 2px 10px 30px;
          &.mobile {
            background: url(/images/icons/register.png) no-repeat 6px -364px;
          }
          &.captcha {
            background: url(/images/icons/register.png) no-repeat 6px -548px;
          }
          &.email {
            background: url(/images/icons/register.png) no-repeat 6px 9px;
          }
          &.password {
            background: url(/images/icons/register.png) no-repeat 6px -173px;
          }
          &.referrer {
            background: url(/images/icons/register.png) no-repeat 6px -268px;
          }
          &.login-name {
            background: url(/images/icons/register.png) no-repeat 6px -640px;
          }
          &.user-name {
            background: url(/images/icons/register.png) no-repeat 6px -268px;
          }
          &.identity-number {
            background: url(/images/icons/register.png) no-repeat 6px -724px;
          }
        }

        .agreement {
          display: inline-block;
          width:361px;
        }
        input.valid + .agreement + label.error {
          &:before {
            content: "\f058";
            color: nth($checkValid,2);
          }
        }
        &.agree-last {
          position: relative;
          margin-left: 0;
          .check-label{
            position: absolute;
            top: 1px;
            left: 20px;
          }
          .agreement-check{
            margin-right: 300px;
          }
        }
      }
      .register-account {
        display: block;
        &.loading {
          background: url("/images/icons/loading.gif") no-repeat center center;
          cursor: default;
          text-indent: -9999px;
        }
      }
      .register-user, .register-account {
        width: 150px;
        background: #fee2cb;
        border-radius: 3px;
        text-align: center;
        margin: 20px 0 20px 85px;
        font-size: 20px;
        color: #f68e3a;
        border: 0;
        cursor: pointer;
      }
    }
  }
}

.image-captcha-dialog {
  .pad-s {
    padding:20px;
  }
  .image-captcha-form {
    position: relative;
    height: 135px;
    input.image-captcha-text {
      background: url("/images/icons/register.png") no-repeat 6px -548px;
      width: 156px;
      border-radius: 3px;
      font-size: 12px;
      padding: 10px 6px 9px 30px;
      &.error + label.error{
        display: block!important;
      }
    }
    .image-captcha-inner {
      padding:20px;
    }
    img.image-captcha {
      width: 60px;
      height: 29px;
      border-radius: 3px;
      background: #e4e4e4;
      border: #bababa 1px solid;
      cursor: pointer;
      position: absolute;
      left: 150px;
      top: 22px;
    }
    .image-captcha-confirm {
      position: absolute;
      bottom: 7px;
      left: 35%;
    }
  }

  .image-captcha-confirm.loading {
    background: url("/images/icons/loading.gif") no-repeat center center;
    cursor: default;
    text-indent: -9999px;
    border:0px;
  }
}

.forget-phone-box {
  .re-title {
    font-size: 18px;
    color: #e64d0a;
    font-weight: bold;
    padding:30px;
  }
  .retrieve-box {
    width:420px;
    margin:0 auto;
    text-align: left;
    &.input-password-box {
      width:480px;
    }
    li {
      margin-bottom:10px;
      position: relative;
        .fetch-captcha {
          position: absolute;
          padding: 7px 6px;
          letter-spacing: 0;
          font-size: 12px;
          top: 2px;
          right: 148px;
          &:disabled {
            background: #aaa!important;
            border:1px solid #aaa!important;
          }
        }
      input[type='text'],input[type='password'] {
        color: #999;
        width: 210px;
        border: #cecece 1px solid;
        border-radius: 3px;
        padding: 9px 2px 9px 5px;
      }
      input[type="submit"] {
        margin-left: 100px;
      }

    }
  }
}

.verification-code-main {
  position: relative;
  height:100%;
  .image-code-check {
    position: relative;
    .verification-code-img {
      position: absolute;
      right: 25px;

    }
  }
  .btn-success {
    position: absolute;
    bottom: 35px;
    left: 35%;
  }
}

@media (max-width: 700px) {
  .main-frame.full-screen {
    .register-skin{
      width: 100%!important;
      height:100%!important;
      top: 0!important;
      left: 50%!important;
      margin-left: -50%!important;
    }
  }
  .step-register-tab {
    font-size: 14px!important;
    margin:0;
    width:auto!important;
    li {
      width:33%!important;
      height:40px!important;
      line-height: 40px!important;
      padding-right:0!important;
      s,g {
        display: none;
      }
    }
  }
  .register-container {
    margin:0 auto;
    border-width: 0;
    padding:0px 5%;
    .register-box {
      margin:0;
      width:100%;
      ul.reg-list {
        li {
          .captcha-tag {
            position: relative;
            display: inline-block;
            width:100%;
            .fetch-captcha {
              padding: 7px;
              letter-spacing: 0;
              position: absolute;
              right: 9%;
              top: 3px;
              font-size: 12px;
            }
          }
          input[type="text"], input[type="password"] {
            width: 92%;
            box-sizing: border-box;
            border: #cecece 1px solid;
            border-radius: 3px;
            padding: 9px 2px 9px 30px;

          }

          .agreement {
            display: inline-block;
            width:auto;
          }
          input.valid + .agreement + label.error {
            &:before {
              content: "\f058";
              color: nth($checkValid,2);
            }
          }
          &.agree-last {
            margin-left:0px;
          }

        }
        .register-account {
          display: block;
          &.loading {
            background: url("/images/icons/loading.gif") no-repeat center center;
            cursor: default;
            text-indent: -9999px;
          }
        }
        .register-user, .register-account {
          width: 150px;
          background: #fee2cb;
          border-radius: 3px;
          text-align: center;
          margin: 20px 0 20px 85px;
          font-size: 20px;
          color: #f68e3a;
          border: 0;
          cursor: pointer;
        }
      }
    }
  }
}


@media screen\9 {
//IE6,7
  .register-container {
    .register-box {
      margin-left: 25%;
      ul.reg-list {
        li {
          .reg-title{
            display:inline-block;
          }
        }
        .register-user {
          margin-left: 130px;
        }
      }
    }
  }

}

@media screen\0 {
  //IE8-10
  .register-container {
    .register-box {
      margin-left: 25%;
      ul.reg-list {
        li {
          .reg-title{
            display:inline-block;
          }
          .captcha-tag {
            .fetch-captcha {
              right: 361px;

            }
          }
          &.agree-last {
            margin-left:60px;
          }
        }

        .register-user {
          margin-left: 130px;
        }

      }
    }
  }

}
