.nav-main {
  width: 1000px;
  margin: 0 auto;
  height: 62px;
  & p {
    position: absolute;;
    width: 100px;
    height: 62px;
    text-align: center;
    line-height: 62px;
    border-left: #f68e3a 1px solid;
    top: 6px;
    left: 776px;
    display: block;
    font-size: 24px;
    color: #adacac;
  }
  & span {
    position: absolute;
    left: 880px;
    top: 60px;
    font-size: 12px;
    color: #1c1c1c;
    & a {
      color: #f68e3a;
    }
  }
}

.register {
  width: 972px;
  height: auto;
  overflow: hidden;
  background: #fff;
  margin: 12px auto;
  border: #cecece 1px solid;
  border-radius: 3px;
  position: relative;
  & ul {
    width: 100%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 20px;
    color: #f68e3a;
    margin-top: 8px;
    & li {
      float: left;
      height: 55px;
      & a {
        color: #f68e3a;
        display: block;
        height: 55px;
        line-height: 55px;
        & span {
          margin-right: 10px;
        }
      }
    }

    & li.register-arrow {
      width: 324px;
      background: url("/images/register/register-arrow.png") no-repeat;
    }
    & li.register-arrow.active {
      color: #fff;
      width: 324px;
      background: url("/images/register/register-arrow-active.png") no-repeat;
    }
  }
  & .agreement-check {
    float: left;
  }
}

.register-step {
  width: 610px;
  height: 410px;
  margin-left: 325px;
  display: none;
  & ol {
    width: 600px;
    & li {
      width: 600px;
      height: 40px;
      margin-top: 20px;
      position: relative;

      .form-error {
        font-weight: normal;
        color: #f68e3a;
        font-size: 12px;
        margin-left: 6px;
        width: 180px;
        float: left;
        line-height: 20px;
        display: block;
        padding-left: 28px;
        background: url("/images/register/register.png") no-repeat 0px -81px;
      }

      & em {
        position: absolute;
        left: 330px;
        top: 8px;
        background: url("/images/register/register.png") no-repeat 0px -465px;
        width: 22px;
        height: 22px;
        opacity: 0;
      }
      & strong {
        position: absolute;
        left: 330px;
        top: 8px;
        width: 180px;
        height: 22px;
        dispaly: block;
        font-weight: normal;
        display: none;
        background: url("/images/loading.gif") no-repeat;
      }
    }
    & input {
      color: #999;
      width: 280px;
      height: 38px;
      line-height: 38px;
      border: #cecece 1px solid;
      border-radius: 3px;
      padding-left: 40px;
      float: left;
      font-size: 12px;
    }
    & .fetch-captcha {
      display: block;
      width: 90px;
      height: 28px;
      background: #f68e3a;
      color: #fff;
      border-radius: 3px;
      position: absolute;
      left: 224px;
      top: 6px;
      font-size: 12px;
      line-height: 28px;
      text-align: center;
      cursor: pointer;
    }
    & input.mobile {
      background: url("/images/register/register.png") no-repeat 6px -362px;
    }
    & input.captcha {
      background: url("/images/register/register.png") no-repeat 6px -548px;
    }
    & input.email {
      background: url("/images/register/register.png") no-repeat 6px 9px;
    }
    & input.password {
      background: url("/images/register/register.png") no-repeat 6px -173px;
    }
    & input.referrer {
      background: url("/images/register/register.png") no-repeat 6px -268px;
    }
    & input.login-name {
      background: url("/images/register/register.png") no-repeat 6px -640px;
    }
    & input.user-name {
      background: url("/images/register/register.png") no-repeat 6px -268px;
    }

    & input.identity-number {
      background: url("/images/register/register.png") no-repeat 6px -724px;
    }
  }
  & .active {
    display: block;
  }
  & .register-step-two {
    margin-top: 100px;
  }
  & .register-user {
    width: 174px;
    height: 48px;
    background: #fee2cb;
    border-radius: 3px;
    line-height: 48px;
    text-align: center;
    display: block;
    margin: 0 0 20px 74px;;
    font-size: 20px;
    color: #f68e3a;
    padding-left: 0;
    border: 0;
    cursor: pointer;
  }
  & .register-account {
    width: 174px;
    height: 48px;
    background: #fee2cb;
    border-radius: 3px;
    line-height: 48px;
    text-align: center;
    display: block;
    margin: 50px 0 20px 74px;
    font-size: 20px;
    color: #f68e3a;
    padding-left: 0;
    border: 0;
    cursor: pointer;
    & span {
      cursor: pointer;
    }
  }
  & input.agreement-check {
    width: 13px;
    height: 13px;
    display: inline-block;
    left: 0;
    top: 1px;
  }
}

.agreement-dialog {
  width: 100%;
  height: 643px;
  background: rgba(0, 0, 0, .8);
  overflow: hidden;
  z-index: 980;
  position: fixed;
  left: 0;
  top: 0;
  display: none;
}

.agreement {
  width: 1000px;
  height: 643px;
  overflow: auto;
  background: #fff;
  position: fixed;
  left: 50%;
  top: 0;
  margin-left: -500px;
  display: none;
  z-index: 990;
  & h3 {
    width: 940px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
  }
  & p {
    width: 940px;
    text-indent: 30px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 24px;
    margin: 20px 0 0;
    height: auto;

  }
  & p:first-child {
    margin-top: 100px;
  }
  & p:last-child {
    margin-bottom: 100px;
  }
}

.register label {
  padding-left: 30px;
  height: 38px;
  display: inline-block;
  margin-left: 10px;
  line-height: 38px;
}

.register label.error {
  background: url("/images/register/register.png") no-repeat 0px -82px;
  font-size: 12px;
  color: #f68e3a;
}

.register label.valid {
  background: url("/images/register/register.png") no-repeat 0px -456px;
}

.register .agreement-title {
  float: left;
  font-size: 12px;
  margin-top: -2px;
  padding-left: 5px;
  color: #999;
}

.register .show-agreement {
  color: #999;
  text-decoration: underline;
}
