@charset "UTF-8";
.main{ display: block; text-align: center; padding: 10px;}
.img{  width: 80%; height: 80%;margin: 8% auto;}
.info{ font-size: 2.5em; color: #f7b291;  margin: 10% 0 0;}
.btn-success{ margin: 10%; font-size: 3.0em; padding:20px; border-radius: 10px; color: #fff; background: #fd9b30; text-decoration: none; display: block;}
@media screen and (max-width: 700px){
    .info{ font-size: 1.2em; color: #f7b291;  margin: 10% 0 0;}
    .btn-success{ margin: 10%; font-size: 1.4em; padding:10px; border-radius: 5px; color: #fff; background: #fd9b30; text-decoration: none; display: block;}
}