<h3><span>借款人基本信息</span></h3>
<hr class="top-line">
<div>
    <div class="form-group">
        <label class="col-sm-2 control-label">借款人姓名: </label>

        <div class="col-sm-3">
            <input name="userName" type="text" class="form-control" datatype="*" errormsg="借款人姓名不能为空">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">借款人性别: </label>

        <div class="col-sm-3">
            <select name="gender" class="selectpicker b-width">
                <option value="MALE" selected="selected">男</option>
                <option value="FEMALE">女</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">借款人年龄: </label>

        <div class="col-sm-3">
            <input name="age" type="text" class="form-control" datatype="*" errormsg="借款人年龄填写有误">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">借款人身份证号: </label>

        <div class="col-sm-3">
            <input name="identityNumber" type="text" class="form-control" datatype="idcard" errormsg="借款人身份证号填写有误">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">借款人婚姻情况: </label>

        <div class="col-sm-3">
            <select name="marriage" class="selectpicker b-width">
                <option value="UNMARRIED" selected="selected">未婚</option>
                <option value="MARRIED">已婚</option>
                <option value="DIVORCE">离异</option>
                <option value="NONE">不明</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">借款人所在地区: </label>

        <div class="col-sm-3">
            <input name="region" type="text" class="form-control" datatype="*" errormsg="借款人所在地区不能为空">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">收入水平: </label>

        <div class="col-sm-3">
            <input name="income" type="text" class="form-control" datatype="*" errormsg="收入水平不能为空">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">借款人从业情况: </label>

        <div class="col-sm-3">
            <input name="employmentStatus" type="text" class="form-control" datatype="*" errormsg="借款人从业情况不能为空">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">借款用途: </label>

        <div class="col-sm-3">
            <input name="purpose" type="text" class="form-control" maxlength="10" datatype="*" errormsg="借款用途不能为空">
        </div>
    </div>
</div>