<hr class="top-line">
<div class="form-group">
    <label class="col-sm-2 control-label">抵押物所在地: </label>
    <div class="col-sm-3">
        <input name="pledgeLocation" type="text" class="form-control" datatype="*"
               errormsg="抵押物所在地不能为空">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">借款抵押车辆型号: </label>
    <div class="col-sm-3"><input name="model" type="text" class="form-control" datatype="*"
                                 errormsg="抵押车辆型号不能为空">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">借款抵押车辆品牌: </label>
    <div class="col-sm-3"><input name="brand" type="text" class="form-control" datatype="*"
                                 errormsg="抵押车辆品牌不能为空">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">借款抵押物估值: </label>
    <div class="col-sm-3"><input name="estimateAmount" type="text" class="form-control"
                                 datatype="*" errormsg="借款抵押物估值不能为空">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">抵押物借款金额: </label>
    <div class="col-sm-3"><input name="pledgeLoanAmount" type="text" class="form-control"
                                 datatype="*" errormsg="抵押物借款金额不能为空">
    </div>
</div>