<hr class="top-line">
<div class="form-group">
    <label class="col-sm-2 control-label">担保方式: </label>

    <div class="col-sm-3">
        <input name="guarantee" type="text" class="form-control"
               datatype="*" errormsg="担保方式不能为空">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">借款抵押物估值: </label>

    <div class="col-sm-3">
        <input name="estimateAmount" type="text" class="form-control"
               datatype="*" errormsg="借款抵押物估值不能为空">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">抵押物所在地: </label>

    <div class="col-sm-3">
        <input name="pledgeLocation" type="text" class="form-control"
               datatype="*"
               errormsg="抵押物所在地不能为空">
    </div>
</div>