<hr class="top-line">
<div class="form-group">
    <label class="col-sm-2 control-label">车辆所在地: </label>
    <div class="col-sm-3">
        <input name="pledgeLocation" type="text" class="form-control" datatype="*"
               errormsg="车辆所在地不能为空">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">车辆型号: </label>
    <div class="col-sm-3"><input name="model" type="text" class="form-control" datatype="*"
                                 errormsg="车辆型号不能为空">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">车辆品牌: </label>
    <div class="col-sm-3"><input name="brand" type="text" class="form-control" datatype="*"
                                 errormsg="车辆品牌不能为空">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">车辆估值: </label>
    <div class="col-sm-3"><input name="estimateAmount" type="text" class="form-control"
                                 datatype="*" errormsg="车辆估值不能为空">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">车辆借款金额: </label>
    <div class="col-sm-3"><input name="pledgeLoanAmount" type="text" class="form-control"
                                 datatype="*" errormsg="车辆借款金额不能为空">
    </div>
</div>