<hr class="top-line">
<div class="form-group">
    <label class="col-sm-2 control-label">房产所在地: </label>
    <div class="col-sm-3">
        <input name="pledgeLocation" type="text" class="form-control"
               datatype="*"
               errormsg="房产所在地不能为空">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">不动产登记证明编号: </label>
    <div class="col-sm-3">
        <input name="estateRegisterId" type="text"
               class="form-control"
               datatype="*" errormsg="不动产登记证明不能为空">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">房产证编号: </label>
    <div class="col-sm-3">
        <input name="propertyCardId" type="text"
               class="form-control"
               datatype="*" errormsg="房产证编号不能为空">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">房产面积: </label>
    <div class="col-sm-3">
        <input name="square" type="text" class="form-control"
               datatype="*"
               errormsg="房产面积不能为空">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">房权证编号: </label>
    <div class="col-sm-3"><input name="propertyRightCertificateId" type="text" class="form-control"
                                 datatype="*" errormsg="房权证编号不能为空">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">房产估值: </label>
    <div class="col-sm-3">
        <input name="estimateAmount" type="text"
               class="form-control"
               datatype="*" errormsg="房产估值不能为空">
    </div>
</div>

<div class="form-group">
    <label class="col-sm-2 control-label">房产借款金额: </label>
    <div class="col-sm-3">
        <input name="pledgeLoanAmount" type="text" class="form-control"
               datatype="*" errormsg="房产借款金额不能为空">
    </div>
</div>