.coupon-alert {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  .coupon-model-list {
    float: left;
    width: 590px;
    height: 546px;
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -273px;
    margin-left: -295px;
    background: url("/images/sign/activities/coupon-bag-info.png") no-repeat center;
    .coupon-close {
      width: 28px;
      height: 28px;
      cursor: pointer;
      position: absolute;
      top: 87px;
      left: 464px;
      background: url("/images/sign/activities/coupon-close.png") no-repeat center;
    }
    .coupon-text {
      width: 204px;
      height: 48px;
      position: absolute;
      top: 174px;
      left: 176px;
      text-align: center;
      color: #ff752a;
      line-height: 40px;
      span {
        &.text-number {
          font-size: 40px;
        }
        &.text-unit {
          font-size: 30px;
        }
      }
    }
    .coupon-name {
      width: 220px;
      height: 26px;
      position: absolute;
      top: 222px;
      left: 176px;
      text-align: center;
      color: #ff752a;
      line-height: 26px;
      font-size: 20px;
      letter-spacing: 8px;
    }
    .coupon-time {
      width: 204px;
      height: 32px;
      position: absolute;
      top: 252px;
      left: 182px;
      text-align: center;
      color: #59310d;
      font-size: 14px;
      line-height: 32px;
    }
    .coupon-link {
      width: 150px;
      height: 40px;
      position: absolute;
      top: 340px;
      left: 208px;
      background: url("/images/sign/activities/see-link-btn.png") no-repeat center;
    }
  }
}