/* common style for circle*/

$width:700px;

.leader-container{
  float:left;
  width:100%;
  margin:30px 0;
  background:#2e2161;
  @media (max-width:$width) {
    margin-top:10px;
    margin-bottom:0;
  }
  .leader-list{
    float:left;
    width:100%;
    padding:40px 0;
    @media (max-width:$width) {
      padding:0;
    }
    .lottery-circle{
      float:left;
      width:630px;
      @media (max-width:$width) {
        width:100%;
        margin-top:30px;
      }
      h3{
        float:left;
        width:100%;
        height:40px;
        line-height:40px;
        text-align:center;
        color:#e6d647;
        font-size:16px;
        margin-bottom:20px;
        @media (min-width:$width+1) {
          display:none;
        }
      }
      .circle-shade{
        float:left;
        width: 550px;
        height: 550px;
        margin:0 0 40px 40px;
        position: relative;
        background: url("/activity/images/sign/actor/circle/luxury-bg.png") no-repeat center;
        @media (max-width:$width) {
          width: 250px;
          height: 250px;
          margin: 0 auto;
          background-size: 100%;
          position: relative;
          left: 50%;
          margin-left: -125px;
        }
        .pointer-img{
          width: 135px;
          height: 190px;
          cursor:pointer;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-left: -65px;
          margin-top: -125px;
          z-index: 8;
          background: url("/activity/images/sign/actor/circle/pointer.png") no-repeat center;
          background-size: contain;
          @media (max-width:$width) {
            width: 55px;
            height: 100px;
            margin-top: -56px;
            margin-left: -27px;
          }
        }
        .rotate-btn{
          width: 452px;
          height: 451px;
          position: absolute;
          left: 50%;
          top: 50%;
          margin-top:-225px;
          margin-left:-226px;
          background: url("/activity/images/sign/actor/circle/luxury-gift-new.png") no-repeat center;
          background-size: contain;
          @media (max-width:$width) {
            width: 210px;
            height: 210px;
            margin-top:-105px;
            margin-left: -105px;
          }
        }
      }
    }
    .lottery-detail{
      float:left;
      width:340px;
      height:520px;
      margin-top:30px;
      @media (max-width:$width) {
        width:100%;
        height:auto;
      }
      h3{
        float:left;
        width:100%;
        background:#6150a9;
        height:60px;
        line-height:60px;
        text-align:center;
        color:#e6d647;
        font-size:20px;
        margin-bottom:20px;
        @media (max-width:$width) {
          display:none;
        }
      }
      .gift-record{
        float:left;
        width:100%;
        li{
          float:left;
          width:171px;
          font-size:16px;
          text-align:center;
          background:#372876;
          height:40px;
          color:#ccc;
          line-height:40px;
          cursor:pointer;
          @media (max-width:$width) {
            width:50%;
          }
          &.active{
            width:169px;
            color:#fff;
            background:#6150a9;
            border-bottom:none;
            @media (max-width:$width) {
              width:50%;
            }
          }
        }
      }
      .record-list{
        float:left;
        width:340px;
        background:#6150a9;
        border-top: none;
        height: 310px;
        overflow: hidden;
        @media (max-width:$width) {
          width:100%;
        }
        .record-model{
          float:left;
          display:none;
          width:276px;
          height:300px;
          @media (max-width:$width) {
            width:100%;
          }
          &.active{
            display:block;
          }
          &.user-record{
            padding:10px 20px;
            width:100%;
            @media (max-width:$width) {
              padding:10px;
            }
            li{
              font-size:14px;
              color:#fff;
              line-height:30px;
            }
          }
          &.own-record{
            padding:10px 20px;
            width:100%;
            overflow:hidden;
            overflow-y:scroll;
            @media (max-width:$width) {
              padding:10px 0;
            }
            li{
              &.empty-text{
                text-align:center;
                line-height:480px;
              }
              span{
                float:left;
                font-size:13px;
                color:#fff;
                line-height:30px;
                &.award-name{
                  width:120px;
                }
                &.award-time{
                  width:135px;
                }
              }
            }
          }
        }
      }
    }
  }

}
//弹框
.tip-list{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.5);
  z-index:888;
  display:none;
  .tip-dom{
    width:550px;
    height:300px;
    position: fixed;
    top:50%;
    left:50%;
    margin-top:-150px;
    margin-left:-160px;
    background:#fffdee url("/activity/images/sign/actor/circle/luxury-tip.jpg") no-repeat center top;
    background-size: cover;
    border-radius: 21px;
    box-sizing:border-box;
    z-index:999;
    display:block;
    .close-btn{
      position: absolute;
      top: -100px;
      right:25px;
      width:49px;
      height:110px;
      background:url("/activity/images/sign/actor/circle/close-luxury.png") no-repeat center top;
      background-size:100%;
      cursor:pointer;
    }
    .text-tip{
      width:80%;
      height:236px;
      margin:0;
      padding-top:0px;
      float: right;
      p{
        margin-bottom:0;
        text-align:center;
        color:#fff778;
        line-height:50px;

        &.des-text{
          color:#fff;
          font-size:18px;
          padding: 0 20px;
          line-height: 36px;
        }
        &.login-text{
          margin-top:10px;
          font-size:30px;
          padding-top: 60px;
        }
        &.success-text {
          font-size: 30px;
          padding-top: 30px;
        }
        &.reward-text {
          font-size:30px;
        }
      }
    }
    .btn-list{
      text-align:center;
      a{
        display:inline-block;
        width:203px;
        height:47px;
        line-height:47px;
        color:#372876;
        font-size:22px;
        text-align:center;
        background:url("/activity/images/sign/actor/circle/luxury-btn.png") no-repeat center;
        background-size: 100%;
        margin:0 10px;
      }
    }
  }

}


@media screen and (max-width: 700px) {
  .tip-list {
    .tip-dom {
      width: 100%;
      height: 200px;
      margin-left:0;
      left:0;
      .text-tip {
        height:auto;
        p{
          line-height: 30px;
          &.login-text {
            font-size: 15px;
            padding-top: 30px;
          }
        }
      }
      .close-btn {
        top: -50px;
        right: 25px;
        width: 25px;
        height: 55px;
      }
      .btn-list {
        position: absolute;
        bottom: 10px;
        width: 100%;
        a {
          width: 100px;
          height: 25px;
          line-height: 25px;
          color: #372876;
          font-size: 12px;
        }
      }
    }
  }
}

