body {
  background: #ebfbff;
}

.border-outer {
  border:1px solid #71cfcf;
  padding:9px;
  background: #f6fdff;
}
.tour-detail-info {
  img {
    float: left;
  }
  .text {
    border: 1px solid #71cfcf;
    width: 375px;
    float: right;
    padding: 10px 35px;
    color: #3f8f89;
    font-size:22px;
    line-height: 58px;
  }
}
.trip-route-info  {
  color: #3f8f89;
  padding: 10px 20px;
  margin-top: 20px;
  b {
    font-size:22px;
  }
  .info-list {
    dt {
      background: #e6fbff;
      border: 1px solid #71cfcf;
      height:38px;
      line-height: 38px;
      i {
        width:82px;
        height:40px;
        background: #ed702c;
        color: #fff;
        font-weight: bold;
        text-align: center;
        display: block;
        float: left;
        margin-top: -1px;
        margin-left: -1px;
      }
      s {
        display: inline-block;
        border:19px solid transparent;
        border-left: 19px solid #ed702c;
        height:0;
        float: left;
      }
    }
    dd {
      margin:20px 0;
    }
  }
}

.trip-route-include {
  color: #3f8f89;
  margin-top:20px;
  .include-or-no {
    width:460px;
    border:1px solid #71cfcf;
    padding:10px;
    height:365px;
    dl {
      dt {
        font-size:22px;
        font-weight: bold;
        em {
          color: #ed702c;
        }
        .line {
          height:2px;
          background: -ms-linear-gradient(left, #72cfcf,  #f6fdff);        /* IE 10 */
          background:-moz-linear-gradient(left,#72cfcf,#f6fdff);/*火狐*/
          background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#72cfcf), to(#f6fdff));/*谷歌*/
          background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#72cfcf), to(#f6fdff));      /* Safari 4-5, Chrome 1-9*/
          background: -webkit-linear-gradient(left, #72cfcf, #f6fdff);   /*Safari5.1 Chrome 10+*/
          background: -o-linear-gradient(left, #72cfcf, #f6fdff);  /*Opera 11.10+*/
        }
      }
      dd {

      }
    }
  }
}

.customized-button {
  margin-top:40px;
  margin-bottom:50px;
  .btn-normal {
    border-bottom:4px solid #c75f28;
    font-size:22px;
    border-radius: 0;
    letter-spacing: 0;
    font-weight: bold;
    padding: 12px 50px;
  }
}

@media (max-width: 700px) {
  * {
    box-sizing: border-box;
  }
  .sub-tour-slide {
    img {
      width:100%;
    }
  }
  .border-outer {
    border:0;
  }
  .tour-detail-info {
    &.fl,.fr {
      float: none;
    }
    img {
      width:100%;
      float: none;
    }
    .text {
      width:100%;
      float: none;
      font-size: 18px;
      line-height: 35px;
    }
  }
  .trip-route-include {
    .include-or-no {
      width:100%;
      height:auto;
      margin-bottom:10px;
    }
  }
  .trip-route-info  {
    .info-list {
      dt i {
        height:38px;
      }
      dt s {
        margin-top: -1px;
        margin-left: -1px;
      }
    }
  }
}