@import "gift_circle";


$width:700px;
@mixin mobilehide () {
  @media (max-width: $width) {
    display: none;
  }
}
@mixin PChide () {
  @media (min-width: $width + 1px) {
    display: none;
  }
}
.main-frame{
  width:100%;
  margin:0 auto;
}

.luxury-list-container {
  background: url("/activity/images/sign/actor/luxury/bg.png") repeat center;
  @media (max-width: $width) {
    background-size:100%;
  }
  .pc-item{
    @include mobilehide;
  }
  .phone-item{
    @include PChide;
  }
  .luxury-top-item {
    float:left;
    width:100%;
  }
  .wp{
    width:1100px;
    margin:0 auto;
    position: relative;
    @media (max-width: $width) {
      width:100%;
    }
    &.detail-wp{
      width:1000px;
      .detail-img{
        float:left;
        width:100%;
      }
      .detail-btn{
        float:left;
        width:100%;
        a{
          display:inline-block;
          width:280px;
          height:52px;
          line-height:52px;
          text-align:center;
          color:#372876;
          font-size:18px;
          background:url("/activity/images/sign/actor/luxury/btn-bg.png") no-repeat center;
          &:hover{
            background-position-y: 2px;
          }
        }
      }
    }
    .left-bg{
      width:200px;
      height:100%;
      position:absolute;
      top:0;
      left:-200px;
      background:url("/activity/images/sign/actor/luxury/bg-left.png") repeat center;
      background-size:100%;
      opacity: 0.5;
      @media (max-width: $width) {
        display:none;
      }
    }
    .right-bg{
      width:200px;
      height:100%;
      position:absolute;
      top:0;
      right:-200px;
      background:url("/activity/images/sign/actor/luxury/bg-right.png") repeat center;
      background-size:100%;
      opacity: 0.5;
      @media (max-width: $width) {
        display:none;
      }
    }
    .luxury-item{
      margin-top:100px;
      padding:0 30px;
      background:#372876;
      position: relative;
      @media (max-width: $width) {
        width:90%;
        margin:50px 5% 0;
        padding:0;
        display:inline-block;
      }
      &.foot-last{
        margin-bottom:120px;
        @media (max-width: $width) {
          margin-bottom:80px;
        }
      }
      .title-one{
        position: absolute;
        width:266px;
        height:50px;
        top:-37px;
        left:50%;
        margin-left:-133px;
        @media (max-width: $width) {
          width:180px;
          height:auto;
          top:-25px;
          margin-left:-90px;
        }
      }
      .title-two{
        width:310px;
        height:50px;
        position: absolute;
        top:-37px;
        left:50%;
        margin-left:-155px;
        @media (max-width: $width) {
          width:180px;
          height:auto;
          top:-21px;
          margin-left:-90px;
        }
      }
      .title-info{
        width:700px;
        margin:0 auto;
        padding:40px 0;
        text-align:center;
        @media (max-width: $width) {
          width:100%;
          padding:20px 0;
        }
        h3{
          margin-bottom:10px;
          img{
            @media (max-width: $width) {
              width:80%;
            }
          }
        }
        p{
          color:#fff;
          font-size:14px;
          @media (max-width: $width) {
            padding:0 10px;
            font-size:12px;
          }
        }
      }
      .user-account{
        float:left;
        width:100%;
        height:60px;
        margin-bottom:30px;
        position: relative;
        @media (max-width: $width) {
          height:60px;
        }
        i.title-icon{
          width:21px;
          height:80px;
          position: absolute;
          top:-10px;
          &.left-icon{
            left:-50px;
            background:url("/activity/images/sign/actor/luxury/left-icon.png") no-repeat center;
            background-size:100%;
            @media (max-width:$width) {
              left:-20px;
            }
          }
          &.right-icon{
            right:-50px;
            background:url("/activity/images/sign/actor/luxury/right-icon.png") no-repeat center;
            background-size:100%;
            @media (max-width:$width) {
              right:-20px;
            }
          }
        }
        .bg-item{
          width:1100px;
          height:60px;
          position: absolute;
          top:0;
          left:-30px;
          background:#6150a9;
          text-align:center;
          @media (max-width: $width) {
            width:100%;
            left:0;
          }
          .date-time{
            float:left;
            height:30px;
            margin-top:15px;
            margin-left:80px;
            @media (max-width: $width) {
              margin-left:0;
            }
            .time-icon{
              float:left;
              width:16px;
              height:18px;
              margin:6px 10px 0 0;
              background:url("/activity/images/sign/actor/luxury/date-icon.png") no-repeat center;
            }
            span{
              float:left;
              font-size:16px;
              color:#fff;
              line-height:30px;
              @media (max-width: $width) {
                font-size:12px;
              }
            }
          }
          .account-text{
            display:inline-block;
            line-height:60px;
            span{
              color:#fff;
              &.user-text{
                font-size:24px;
                @media (max-width: $width) {
                  font-size:12px;
                }
                strong{
                  color:#e6d647;
                }
              }
              &.user-tip{
                font-size:12px;
                @media (max-width: $width) {
                  display:none;
                }
              }
            }
          }
          .login-btn{
            float:right;
            width:140px;
            color:#e6d647;
            line-height:40px;
            font-size:20px;
            text-align:center;
            border:1px solid #e6d647;
            border-radius:25px;
            margin-top:10px;
            margin-right:35px;
            text-decoration:none;
            @media (max-width:$width) {
              width: 60px;
              font-size: 12px;
              line-height: 25px;
              margin-right: 0;
              margin-top: 18px;  
            }
          }
        }
      }
      .product-item{
        float:left;
        width:100%;
        position: relative;
        .product-list{
          margin:0 -15px;
          @media (max-width: $width) {
            margin:0;
          }
          li{
            float:left;
            width:500px;
            margin:0 15px;
            @media (max-width: $width) {
              width:100%;
              margin:0;
            }
            .picture-item{
              float:left;
              width:100%;
              &:hover{
                border: 1px solid #0087e6;
                box-shadow: 0px 0px 5px #0087e6;
                box-sizing: border-box;
                border-right: none;
              }
              .product-img{
                float:left;
                width:310px;
                @media (max-width: $width) {
                  width:50%;
                }
              }
              .product-info{
                float:left;
                width:190px;
                background:#fff;
                @media (max-width: $width) {
                  width:50%;
                }
                p{
                  padding-left:20px;
                  margin-bottom:0;
                  @media (max-width: $width) {
                    padding-left:10px;
                  }
                  &.name-text{
                    font-size:16px;
                    color:#191748;
                    margin-top:25px;
                    @media (max-width: $width) {
                      margin-top:0;
                      font-size:14px;
                    }
                  }
                  &.des-text{
                    font-size:12px;
                    color:#191748;
                  }
                  &.price-text{
                    font-size:20px;
                    color:#372876;
                    @media (max-width: $width) {
                      font-size:16px;
                    }
                    .bite-text{
                      padding:0 2px;
                      font-size:12px;
                      color:#fff;
                      background:#9f91dc;
                      margin-left:5px;
                      line-height:20px;
                      display: inline-block;
                    }
                  }
                  &.intro-text{
                    span{
                      font-size:12px;
                      color:#fff;
                      padding:0 10px;
                      background:#372876;
                      line-height: 20px;
                      display: inline-block;
                      @media (max-width: $width) {
                        padding:0 5px;
                      }
                    }
                  }
                  &.btn-text{
                    padding-left:0;
                    margin-top:13px;
                    @media (max-width: $width) {
                      margin-top:0;
                    }
                    a{
                      display:inline-block;
                      width:100%;
                      height:50px;
                      line-height:50px;
                      text-align:center;
                      font-size:16px;
                      color:#372876;
                      background:#e6d647;
                      @media (max-width: $width) {
                        height:30px;
                        line-height:30px;
                        font-size:14px;
                      }
                    }
                  }
                }
              }
            }
            .coupon-list{
              float:left;
              width:100%;
              margin:30px 0;
              @media (max-width: $width) {
                margin:10px 0;
              }
              .coupon-item{
                float:left;
                width:100%;
                margin-bottom:10px;
                overflow:hidden;
                .info-text{
                  float:left;
                  width:330px;
                  line-height:50px;
                  background:#f1e896;
                  position: relative;
                  @media (max-width: $width) {
                    width:50%;
                    line-height:30px;
                  }
                  i{
                    width:6px;
                    height:6px;
                    background:#372876;
                    border-radius:10px;
                    position: absolute;
                    &.top-circle{
                      top:-3px;
                      right:-3px;
                    }
                    &.bottom-circle{
                      bottom:-3px;
                      right:-3px;
                    }
                  }
                  span{
                    &.coupon-name{
                      float:left;
                      font-size:16px;
                      color:#191748;
                      margin-left:40px;
                      @media (max-width: $width) {
                        font-size:12px;
                        margin-left:0;
                      }
                    }
                    &.count-number{
                      float:right;
                      font-size:24px;
                      color:#191748;
                      margin-right:40px;
                      @media (max-width: $width) {
                        font-size:14px;
                        margin-right:0;
                      }
                    }
                  }
                }
                .tip-text{
                  float:left;
                  width:170px;
                  text-align:center;
                  font-size:14px;
                  color:#191748;
                  line-height:50px;
                  background:#fff;
                  @media (max-width: $width) {
                    width:50%;
                    font-size:12px;
                    line-height:30px;
                  }
                }
              }
            }
          }
        }
        .line-item{
          width:1106px;
          height:10px;
          position: absolute;
          bottom:0;
          left:-33px;
          background:url("/activity/images/sign/actor/luxury/line-item.png") no-repeat center;
          background-size: 100%;
          @media (max-width: $width) {
            width:100%;
            left:0;
          }
        }
      }
      .winer-record{
        float:left;
        width:100%;
        margin-top:40px;
        @media (max-width: $width) {
          margin-top:20px;
        }
        .record-list{
          float:left;
          width:500px;
          border:1px solid #6150a9;
          @media (max-width: $width) {
            width:100%;
          }
          h3{
            float:left;
            width:100%;
            background:#372876;
            span{
              float:left;
              width:50%;
              line-height:45px;
              color:#ccc;
              font-size:18px;
              text-align:center;
              cursor:pointer;
              @media (max-width: $width) {
                line-height:40px;
                font-size:16px;
              }
              &.active{
                color:#fff;
                background:#6150a9;
              }
            }
          }
          .record-item{
            float:left;
            width:100%;
            .record-data{
              float:left;
              width:100%;
              height:270px;
              background:#6150a9;
              overflow:hidden;
              display:none;
              @media (max-width: $width) {
                height:180px;
              }
              &.active{
                display:block;
              }
              table>thead>tr>th{
                background:#e6d647;
                @media (max-width: $width) {
                  font-size:12px;
                  padding:0;
                  line-height:30px;
                }
              }
              table>tbody>tr>td{
                color:#fff;
                line-height:30px;
                &.name-text{
                  width: 200px;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                  display: inline-block;
                }
                @media (max-width: $width) {
                  font-size:12px;
                  padding:0;
                  line-height:30px;
                }
              }
            }
          }
        }
        .code-item{
          float:left;
          width:500px;
          margin-left:30px;
          text-align: center;
          @media (max-width: $width) {
            display:none;
          }
          p{
            color:#fff;
            font-size:20px;
            margin-bottom:0;
            span{
              color:#e6d647;
            }
          }
        }
      }
      .btn-item{
        float:left;
        width:100%;
        margin:40px 0 25px;
        text-align:center;
        @media (max-width: $width) {
          margin:20px 0 25px;
        }
        a{
          display:inline-block;
          width:280px;
          height:52px;
          line-height:52px;
          text-align:center;
          color:#372876;
          font-size:18px;
          background:url("/activity/images/sign/actor/luxury/btn-bg.png") no-repeat center;
          &:hover{
            background-position-y: 2px;
          }
          @media (max-width: $width) {
            width:200px;
            height:35px;
            line-height:35px;
            background-size:100%;
            font-size:14px;
          }
        }
      }
      .step-list{
        float:left;
        width:100%;
        @include mobilehide();
        h5{
          color:#e6d647;
          font-size:12px;
          text-align:center;
          margin-top:70px;
        }
        .step-icon{
          float:left;
          width:100%;
          margin:20px 0 40px;
          li{
            float:left;
            width:80px;
            height:100px;
            margin-left:100px;
            position: relative;
            &.active{
              .icon{
                &.user-icon{
                  background-position: 7px -328px;
                }
                &.vali-icon{
                  background-position: 7px -390px;
                }
                &.card-icon{
                  background-position: 7px -455px;
                }
                &.money-icon{
                  background-position: 7px -515px;
                }
                &.loan-icon{
                  background-position: 7px -564px;
                }
              }
              .icon-text{
                color:#191748;
                background:#e6d647;
                border:1px solid #e6d647;
                a{
                  color:#191748;
                  text-decoration:none;
                }
              }
              .step-icon{
                background-position: 0px -629px;
              }
            }
            &.finished{
              .icon-text{
                color:#191748;
                background:#d1cbed;
                border:1px solid #d1cbed;
              }
            }
            .icon{
              float:left;
              width:60px;
              height:60px;
              margin:10px;
              background:url("/activity/images/sign/actor/luxury/icon-list.png") no-repeat;
              &.user-icon{
                background-position: 7px 0px;
              }
              &.vali-icon{
                background-position: 7px -62px;
              }
              &.card-icon{
                background-position: 7px -127px;
              }
              &.money-icon{
                background-position: 7px -187px;
              }
              &.loan-icon{
                background-position: 0px -236px;
              }
            }
            .icon-text{
              float:left;
              width:100%;
              height:25px;
              line-height:25px;
              text-align:center;
              font-size:16px;
              color:#b2b2b2;
              border:1px solid #b3b3b3;
            }
            .step-icon{
              position: absolute;
              top:50%;
              left:-70px;
              margin-top:-9px;
              width:44px;
              height:18px;
              background:url("/activity/images/sign/actor/luxury/icon-list.png") no-repeat;
              background-position: 0px -301px;
            }
          }
        }
        p{
          text-align:center;
          font-size:12px;
          color:#e6d647;
          margin-bottom:0;
          margin-top:20px;
          .btn-invite{
            display: inline-block;
            width: 280px;
            height: 52px;
            line-height: 52px;
            text-align: center;
            color: #372876;
            font-size: 18px;
            background: url("/activity/images/sign/actor/luxury/btn-bg.png") no-repeat center;
            &:hover{
              background-position-y: 2px;
            }
          }
          .see-invite{
            display: inline-block;
            font-size:14px;
            color:#d1cbed;
            margin-left:20px;
            line-height:52px;
          }
        }
      }
      .phone-step{
        float:left;
        width:100%;
        @include PChide();
        p{
          text-align:center;
          margin-bottom:0;
          margin-top:20px;
          .btn-invite{
            display: inline-block;
            width: 200px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            color: #372876;
            font-size: 16px;
            background: url("/activity/images/sign/actor/luxury/btn-bg.png") no-repeat center;
            background-size:100%;
          }
        }
      }
      .actor-info-text{
        float:left;
        width:100%;
        padding:20px 0;
        @media (max-width:$width) {
          width:90%;
          margin:0 5%;
        }
        .actor-title{
          float:left;
          width:100%;
          color:#fff;
          font-size:24px;
          margin-bottom:20px;
          @media (max-width:$width) {
            font-size:20px;
            margin-bottom:10px;
          }
        }
        .rule-list{
          float:left;
          width:100%;
          opacity:.7;
          @include mobilehide();
          li{
            float:left;
            width:100%;
            color:#fff;
            font-size:12px;
          }
        }
        .phone-rule{
          float:left;
          width:100%;
          opacity:.7;
          @include PChide();
          li{
            float:left;
            width:100%;
            color:#fff;
            font-size:12px;
          }
        }
      }
    }
  }
  .clearfix{
    clear:both;
    display:block;
  }
}

