body {
  background: #443876 url("/activity/images/birthday-month/bg-body.jpg") center top repeat-y;
  overflow-x: hidden;
}

.main-frame {
  width: 100%;
  margin: 0 auto;
  font-size:14px;
}
.image-banner-slide  {
  height: 350px;
  background: url("/activity/images/birthday-month/month-banner.jpg") center top no-repeat;
  background-size: 100%;

}

.birth-month-container {
  width:1015px;
  text-align: center;
  margin:0 auto;
  .btn-activity {
    margin-top:70px;
    margin-bottom:30px;
  }
  .product-list {

    ul {
      width: 100%;
      li {
        display: inline-block;
        margin-left: 6px;
        margin-right: 6px;
        position: relative;
        width:320px;
        height:410px;
        a {
          display: inline-block;
          width: 100%;
          height: 60px;
          position: absolute;
          bottom: 19px;
          left: 0;
        }
      }
    }
  }
  .activity-notice {
    background: url("/activity/images/birthday-month/bg-notice.jpg") center top no-repeat;
    height:324px;
    text-align: left;
    color: #f9de56;
    font-size: 18px;
    padding: 50px;
  }
}

@media (max-width: 700px) {
  body {
    background: #3f3478;
  }
  .image-banner-slide  {
    height: 185px;
    background: url("/activity/images/birthday-month/birth-banner-app.jpg") center top no-repeat;
    background-size: 100%;
  }
  .birth-month-container {
    width:100%;
    .sc-list {
      width: 95%;
    }
    .product-list {
      height:300px;
      i {
        display: inline-block;
        width:70px;
        height:100%;
        background: url("/activity/images/birthday-month/icon-arrow-left.jpg") center center no-repeat;
        background-size: 90%;
      }
      .arrow-left {
        float: left;
      }
      .arrow-right {
        float: right;
        background: url("/activity/images/birthday-month/icon-arrow-right.jpg") center center no-repeat;
        background-size: 90%;
      }
      .product-box {
        width:calc( 100% - 140px );
        overflow: hidden;
        float: left;
      }
      ul {
        width:800%;
        li {
          display: block;
          float: left;
          img {
            width:100%;
          }
        }
      }
    }

    .btn-activity img {
      width:50%;
    }
  }


}