.main-frame{
  width:100%;
  margin:0 auto;
}

.download-container{
  .wp{
    width:1000px;
    margin:0 auto;
    position: relative;
    &:after{
      content:'';
      display:block;
      clear:both;
    }
    .ios-btn{
      width:80px;
      height:25px;
      position: absolute;
      bottom:60px;
      left:180px;
      background:url('/activity/images/download/iphone-btn.png') no-repeat center;
      background-size:100%;
      @media (max-width:374px){
        width:50px;
        height:20px;
        left:10px;
        bottom:40px;
      }
      @media (min-width:375px) and (max-width:700px) {
        width:60px;
        height:20px;
        left:10px;
        bottom:40px;
      }
    }
    .android-btn{
      width:80px;
      height:25px;
      position: absolute;
      bottom:60px;
      left:280px;
      background:url('/activity/images/download/android-btn.png') no-repeat center;
      background-size:100%;
      @media (max-width:374px){
        width:50px;
        height:20px;
        left:65px;
        bottom:40px;
      }
      @media (min-width:375px) and (max-width:700px) {
        width:60px;
        height:20px;
        left:75px;
        bottom:40px;
      }
    }
    .wx-code{
      width:100px;
      height:100px;
      position: absolute;
      bottom:15px;
      left:375px;
      background:url('/activity/images/download/wx-code.png') no-repeat center;
      background-size:100%;
      @media (max-width:374px){
        width:50px;
        height:50px;
        left:120px;
        bottom:25px;
      }
      @media (min-width:375px) and (max-width:700px) {
        width:50px;
        height:50px;
        left:140px;
        bottom:25px;
      }
    }
  }
  .pc-img{
    @media (max-width:700px) {
      display:none;
    }
  }
  .mobile-img{
    display:none;
    @media (max-width:700px) {
      display:block;
    }
  }
  .download-seven{
    @media (max-width:700px) {
      display:none;
    }
  }
}