body {
  background:#b30006;
}
.full-screen{
  width: 100%;
  margin: 0;
  padding-bottom:30px;
}
.hero-standings-container{
  float:left;
  width:100%;
  .top-intro-img{
    float:left;
    width:100%;
  }
  .hero-content-group{
    float:left;
    width:100%;
    .wp{
      width:1080px;
      margin:0 auto;
      &:after{
        clear:both;
        display:block;
      }
      .actor-intro-group{
        float:left;
        width:100%;
        height:120px;
        background:#d64040;
        border-radius:120px;
        box-sizing:border-box;
        padding:0 60px;
      }
    }
  }
}