@import 'module/register_png';
body {
  background: #47226f url("/activity/images/mid-autumn/bg-lantern.jpg") center 593px no-repeat;
  overflow-x: hidden;
}
.main-frame {
  width: 100%;
  margin: 0 auto;
}
.tour-slide  {
  height: 660px;
  background: url("/activity/images/mid-autumn/bar-mid.jpg") center top no-repeat;
}
.br {
  display: block;
}
.normal-border {
  border:1px dashed #4b0a0b;
  padding: 10px 20px 20px 20px;
  margin-top: 20px;
}
.btn-normal-invest {
  display: inline-block;
  color: #ffff00;
  background: #e62222;
  padding: 0px 50px;
  font-size: 24px;
  margin-top:20px;
  border:0;
  height:50px;
  &:disabled {
    background: #ccc;
    color: #999;
    &:hover {
      color: #999;
    }
}
  &:hover {
    color: #ffff00;
  }
}
.red-bag-normal {
    display: block;
    width:33%;
    float: left;
    text-align: center;
    color: #920f0f;
    margin-top: 15px;
    dt {
      height:124px;
      background:  url("/activity/images/mid-autumn/red-bag.png") top center no-repeat;
      text-align: center;
      span {
        display: inline-block;
        padding-top: 12px;
        color: #fff;
        font-size:22px;
        font-weight: normal;
        b {
          font-size:60px;
          color: #ffff00;
        }
      }
    }
    dd {
      line-height: 20px;
      margin-top: 10px;
      font-size: 14px;
    }
}
.sub-title {
  text-align: left;
  color: #4b0a0b;
  font-size: 18px;
  font-weight: bold;
}
.activity-mid-autumn {
  width:1194px;
  margin:0px auto;
  background: url("/activity/images/mid-autumn/bg-mid-body.png") center top repeat-y;
  color: #4b0a0b;
  position: relative;
  .decorate-bottom {
    position: absolute;
    background: url("/activity/images/mid-autumn/bg-column.png") center bottom no-repeat;
    height:270px;
    width:100%;
    z-index: 20;
    left: -4px;
    bottom: 0;

  }
  .frame-box-one {
    text-align: center;
    position: relative;

  .frame-box-one-inner {
    margin: 0 136px;
    padding: 20px;
    background: #fef7e6;
    padding-bottom: 70px;
    margin-top: -20px;
  }
    .note-box {
      .note {
        color: #e62222;
        font-size:14px;
        margin-bottom: 20px;

      }
      .copy-link-box {
        .copy-link {
          //width:45%;
          text-align: left;
        }
        .copy-link,.button {
          border:1px solid #b2ada1;
          display: inline-block;
          padding: 1px 10px;
          background: #fff;
        }
        .button {
          margin-left: -5px;
          cursor: pointer;
        }
      }

    }
    .my-family-group {
      font-size:18px;
      font-weight: bold;
      .no-logged {
        a {
          color: #ffff00;
        }
       }
      .yes-logged {
        font-weight: normal;
        .my-family {
          display: block;
        }
        dl {
          color: #920f0f;
          dt {
            float: left;
            width: 11%;
          }
          dd {
            float: left;
            width: 89%;
            span {
              display: inline-block;
              width:25%;
              text-align: left;
              float: left;
              em {
                font-size: 12px;
                background: #e62222;
                color: #fff;
                padding: 3px;
              }
            }
          }
        }
      }
    }

    .today-invest-box {

      .product-show {
        float: left;
        width: 40%;
        text-align: center;
        img {
          display: block;
          margin:20px auto;
        }
      }
      .product-detail {
        float: left;
        width:60%;
        position: relative;
        z-index: 50;
        .table {
          caption {
            text-align: center;
            color: #920f0f;
            background: #fff;
            border:1px solid #920f0f;
            border-bottom-width: 0;
          }
          th,td {
            border:1px solid #920f0f;
            padding:3px;
            text-align: center;
            background: #fff;
            color: #920f0f;
          }
          th {
            color: #4b0a0b;
          }
        }
        .my-family-bag {
          text-align: center;
          dl.red-bag-normal {
            width:50%;
            dt span {
              font-size:18px;
              b {
                font-size: 40px;
              }
              &.hack {
                padding-top: 0px;
                line-height: 30px;
                margin-top: 15px;
              }
            }
            &:nth-child(1) {
              float: left;
            }
            &:nth-child(2) {
              float: right;
            }
          }
        }
      }
    }
  }

  .frame-box-two {
    text-align: center;
    position: relative;

    .frame-box-two-inner {
      margin: 0 136px;
      padding: 20px;
      padding-bottom: 70px;
      background: #fef7e6;
    }
    .note {
      color: #e62222;
      padding-top:20px;
      padding-bottom:10px;

    }
    .to-sao {
      font-size: 20px;
      color: #920f0f;
    }
    .bill-fee-list {
      background: #fff;
      margin-top: 20px;
      padding: 10px;
      .bill-fee-box {
        width: 31.7%;
        background: #fff8cc;
        padding: 10px 0;
        float: left;
        margin-left: 2%;
        &:nth-child(1) {
          margin-left:0;
        }
        &:nth-child(3) {
          margin-right:0;
        }
        .bg-fee {
          width: 75%;
          height: 100px;
          background: #e62222;
          margin: 5px auto;
          color: #ffdd00;
          position: relative;
          .tag {
            position: absolute;
            right:0;
            top:0;
            color: #fff;

            i {
              width: 0;
              height: 0;
              font-size: 0;
              border: 12px solid transparent;
              border-top: 12px solid #ff9b14;
              border-right: 12px solid #ff9b14;
              position: absolute;
              right: 62px;
            }
            span {
              background: #ff9b14;
              height:24px;
              display: inline-block;
              padding: 0 5px;
            }
          }
          .bill-amount {
            position: absolute;
            left: 20px;
            top: 10px;
            font-size:20px;
            .amount {
              font-size:50px;
              font-weight: bold;
            }
          }
        }
        .title {
          color: #920f0f;
        }

        &:nth-child(2) {
          .bg-fee {
            background: #ff5e00;
          }
        }
        &:nth-child(3) {
          .bg-fee {
            background: #d62b7b;
          }
        }
      }
    }
  }

  .frame-box-three {
    margin: 0 136px;
    background: #fef7e6;
    text-align: center;
    padding: 20px 20px 80px 20px;
    text-align: left;
    b {
      display: block;
      font-size: 22px;
      margin-bottom:10px;
    }
  }
  .frame-box-four {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  body {
    background: #fef7e6;
  }
  .normal-border {
    padding: 10px;
  }
  .decorate-bottom {
    display: none;
  }
  .sub-title {
    font-size: 12px;
  }
  .btn-normal-invest {
    font-size: 13px;
    padding: 5px 25px;
    margin-top: 10px;
  }
  .red-bag-normal {
    width:100%;
    float: none;
  }
  .tour-slide  {
    height: 300px;
    background: url("/activity/images/mid-autumn/bar-mid-app.jpg") center top no-repeat;
    background-size: cover;
  }
  .red-bag-normal {
    display: block;
    clear: both;
    &:after {
      content: ".";
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
      font-size:0;
    }

    dt {
      width: 100px;
      height: 55px;
      background-size: cover;
      float: left;
      span {
        font-size:12px;
        padding-top: 0px;
        b {
          font-size:30px;
        }
      }
    }
    dd {
      width:calc(100% - 100px);
      box-sizing: border-box;
      float: left;
      overflow: hidden;
      font-size:12px;
    }
  }
  .main-title {
    width:100%;
  }
  .activity-mid-autumn {
    width:100%;
    background: none;
    .frame-box-one {

      border-bottom: 18px solid #dc2323;
      .frame-box-one-inner {
        margin:0;
        padding:10px;
      }
      .note-box {
        .note {
          font-size:10px;
          margin-bottom:10px;
        }
        .copy-link-box {
          display: none;
        }
      }
      .my-family-group {
        font-size:12px;
        .yes-logged {
          dl {
            dt {
              float: left;
              width: 63px;
            }
            dd {
              width: calc(100% - 63px);
              span {
                width: 50%;
              }
            }
          }

        }
      }
      .today-invest-box{
        .product-show {
          float: none;
          width: 100%;
          display: block;
          clear:both;
          height:auto;
          overflow: auto;
          img {
            width:25%;
            float: left;
          }
          span {
            display: inline-block;
            float: left;
            width: 75%;
            box-sizing: border-box;
            padding: 40px 20px 0 20px;
          }

        }
        .product-detail {
          float: none;
          width:100%;
          .my-family-bag dl.red-bag-normal {
            width:100%;
            dt span {
              font-size:12px;
              padding-top:0px;
              margin-top:15px;
              line-height: 30px;
              b {
                font-size:20px;
              }
              &.hack {
                line-height: 5px;
                margin-top: 10px;
              }
            }
            dd {
              float: left;
              font-size:10px;
              font-weight: normal;
            }
            .br {
              display: block;
              text-align: center;
            }
          }
        }
      }
    }
    .frame-box-two {
      border-top:3px solid #9c0000;
      border-bottom: 18px solid #dc2323;
      .frame-box-two-inner {
        margin:0;
        padding:10px;
      }
      img.img-sm {
        width:50%;
      }
      .to-sao {
        font-size: 12px;
      }
      .bill-fee-list {
        .bill-fee-box {
          width:100%;
          float: none;
          margin: 10px auto;
          .bg-fee {
            height:70px;
            .bill-amount .amount {
              font-size:25px;
            }
          }

        }
      }
    }
    .frame-box-three {
      margin:0;
      padding:10px;
      border-top:3px solid #9c0000;
      b {
        font-size:14px;
      }
    }
    .frame-box-four {
      display: block;
    }
  }

  //手机注册

  .landing-phone-section-header {
    margin-top: -5px;
    margin-bottom: 0px;
    width: 100%;
    h3 {
      text-align: center;
      font-size: 16px;
      color: #221815;
      span {
        position: relative;
        i {
          width: 60px;
          height: 25px;
          position: absolute;
          top: 0;
          &.left-icon {
            left: -70px;
            background: url("/activity/images/sign/actor/landingpage/left-circle.png") no-repeat center;
            background-size: 100%;
          }
          &.right-icon {
            right: -70px;
            background: url("/activity/images/sign/actor/landingpage/right-circle.png") no-repeat center;
            background-size: 100%;
          }
        }
      }
    }
  }
  .landing-top {
    height: 420px;
    .landing-inner {
      width: 100%;
      height: 30px;
      margin: 0 auto;
    }
    .register-box {
      background: rgba(255, 255, 255, 0.8);
      border-radius: 0px;
      height: auto;
      overflow: auto;
      padding: 15px;
      box-sizing: border-box;
      .register-user-form {
        width: 100%;
        height: 360px;
      }
      .register-step-one {
        margin-top: 14px;
      }
      .register-step-two {
        margin-top: 40px;
      }
      ul.reg-list {
        font-size: 12px;
        .height {
          height: 20px;
        }
        .appCaptchaErr {
          font-size: 10px;
          color: #f71010;
          padding: 0;
          vertical-align: middle;
        }
        li {
          clear: both;
          position: relative;
          .img-change {
            cursor: pointer;
          }
          i {
            display: inline-block;
            position: absolute;
            left: 10px;
            top: 4px;
            z-index: 20;
            filter: alpha(opacity=80);
            -moz-opacity: 0.8;
          }
          .reg-title {
            width: 60px;
            padding-right: 3px;
            font-size: 14px;
            color: #333;
            text-align: right;
            display: none;
          }
          .captcha-tag {
            position: relative;
            display: inline-block;
            width: 90%;

            .fetch-captcha {
              width: 100px;
              height: 32px;
              padding-left: 18px;
              letter-spacing: 0;
              position: absolute;
              right: -3px;
              top: 2px;
              font-size: 12px;
              border-radius: 15px;
              background: #ff0000;
              &:hover {
                color: #fff;
              }
            }
          }
          .long {
            width: 230px;
          }
          input[type="text"], input[type="password"] {
            color: #999;
            border: #cecece 1px solid;
            padding: 10px 2px 10px 47px;
            background-color: #fff;
            &.captcha, &.appCaptcha {
              width: 100px;
            }

          }
          .agreement {
            display: inline-block;
            width: 361px;
          }
          input.valid + .agreement + label.error {
            &:before {
              content: "\f058";
              color: red
            }
          }
          &.agree-last {
            position: relative;
            margin-left: 0;

            .check-label {
              position: absolute;
              top: 1px;
              left: 20px;
            }
            .agreement-check {
              margin-right: 300px;
            }
          }
          &.mobile-agreement {
            display: none;
          }
          &.error-box {
            height: 20px;
            overflow: hidden;
          }
          .register-user {
            width: 150px;
            text-align: center;
            margin: 10px 0px 0px -40px;
            font-size: 20px;
            color: #fff;
            border: 0;
            cursor: pointer;
            border-radius:0;
            color: #ffff00;
            background: #e62222;
            padding: 10px 30px;
            font-size: 14px;

          }
        }
        .register-account {
          display: block;

          &.loading {
            background: url("/activity/images/icons/loading.gif") no-repeat center center;
            cursor: default;
            text-indent: -9999px;
          }
        }

      }
      label.error {
        display: block;
      }
    }
  }
}