@import "module/login_tip";
@import "module/register_common";
$width: 700px;

@mixin mobilehide () {
  @media (max-width:$width) {
    display: none;
  }
}
@mixin PChide () {
  @media (min-width:$width + 1px) {
    display: none;
  }
}

.main-frame {
  width: 100%;
  margin: 0;
  background: #fff7a6;
}
.activity-container {
  float: left;
  width: 100%;
  padding-bottom: 30px;
  background: url('/activity/images/nowork/bg.png') repeat;
  .text-c {
    text-align: center;
  }
  .top-intro-img {
    float: left;
    width: 100%;

    .top-img {
      @include mobilehide();
    }
    .top-img-phone {
      @include PChide();
    }
  }
  .actor-content-group {
    float: left;
    width: 100%;

    .wp {
      width: 1040px;
      margin: 0 auto;

      @media (max-width:$width) {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
      }
      &:after {
        clear: both;
        display: block;
      }
    }
  }
}