body {
  //background: #a1e9f8 url("/activity/images/autumn-tour/bg-yun.png") center 775px no-repeat;
  overflow-x: hidden;
}
.main-frame {
  width: 100%;
  margin: 0 auto;
}

.tour-slide  {
  height: 527px;
  background: url("/activity/images/share-reward/bar-share-top.jpg") center top no-repeat;
}
.share-reward-container {

}