@import "module/login_tip";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #00a6e1 url("/activity/images/share-reward/bg-body.png") center 120px no-repeat;
  overflow-x: hidden;
  color: #005e80;
  font-size: 14px;
}
.pop-personal-win {
  border-radius: 14px!important;
  background-color: transparent!important;
  box-shadow: none!important;
}
.for-mobile {
  display: none;
}
.main-frame {
  width: 100%;
  margin: 0 auto;
}

.pop-layer-out {
  background: url("/activity/images/share-reward/bg-pop-window.png") left bottom no-repeat;
  width:550px;
  height: 410px;
  border-radius: 10px;
  position: relative;
  padding: 160px 60px 10px 60px;
  text-align: center;
  .btn-to-close {
    background: url("../../images/share-reward/btn-close.png") left top no-repeat;
    width:48px;
    height:109px;
    background-size: 100%;
    position: absolute;
    right: 0;
    top:0;
    cursor: pointer;
  }
  p {
    color: #fff85f;
    font-size: 28px;

  }
  a.btn-to-identification {
    display: inline-block;
    width: 193px;
    height: 44px;
    position: absolute;
    bottom: 20px;
    left: 180px;
  }
}

.tour-slide  {
  height: 527px;
  background: url("/activity/images/share-reward/bar-share-top.png") center top no-repeat;
}
.bg-column-normal {
  background: #e5f8ff;
  border:1px dashed #99e4ff;
  position: relative;
  min-height: 150px;
  padding: 90px 30px 30px 30px;
  margin-bottom:10px;

  .bg-column-title {
    width: 303px;
    height: 80px;
    position: absolute;
    background: url("../../images/share-reward/bg-title.png") left top no-repeat;
    background-size: contain;
    left: -12px;
    top: 0;
    span {
      display: inline-block;
      width:100%;
      margin-left: 30px;
      height: 32px;
      margin-top: 21px;
      &.title-word01 {
        background: url("/activity/images/share-reward/title01.png") no-repeat left top;
      }
      &.title-word02 {
        background: url("/activity/images/share-reward/title02.png") no-repeat left top;
      }
      &.title-word03 {
        background: url("/activity/images/share-reward/title03.png") no-repeat left top;
      }
      &.title-word04 {
        background: url("/activity/images/share-reward/title04.png") no-repeat left top;
      }
    }
  }

}

.arrow-step {
  width:100px;
  height: 40px;
  background: url("../../images/share-reward/step-arrow.png") center top no-repeat;
}
.border-dashed-square {
  border:1px dashed #29a0cc;
  padding:25px;
  border-radius: 10px;
  margin-bottom:30px;
}

.invite-box-friend {
  font-size: 22px;
  text-align: left;
  dl {
    dt,dd  {
      display: inline-block;
    }
  }
  .input-invite {
    width:445px;
    height: 35px;
    background: #e5f8ff;
    border:1px solid #00a6e1;
    color: #4d4d4d;
  }
  .btn-copy-link {
    display: inline-block;
    width: 93px;
    height:35px;
    text-align: center;
    background: #d5f4ff;
    border:1px solid #00a6e1;
    color: #005e80;
    font-size:16px;
    vertical-align: middle;
    margin-left: -7px;
  }
  &.non-anonymous {
    dl {
      width:445px;
      float: left;
      dt,dd  {
        display: block;

      }
      dt {
        .btn-copy-link {
          margin-top:5px;
        }
      }
    }
    .weixin-code {
      float: right;
      width:130px;
      margin-right:180px;
      img {
        border:1px solid #0caae3;
        display: block;
      }
      span {
        display: block;
        font-size: 14px;
        text-align: center;
      }
    }
  }
}

.share-reward-container {
  margin:0px auto;
  padding-top:20px;

  .icon-tag {
    width: 136px;
    height:155px;
    display: inline-block;

  }

  .earn-commission {
    position: relative;
    span.btn-bar {
      display: block;
      i{
        display: inline-block;
        width:40px;
        height:60px;
        border-top:30px solid #29a0cc;
        border-bottom:30px solid #29a0cc;
        &.arr-left {
          border-left:20px solid transparent;
          border-right:20px solid #29a0cc;
        }
        &.arr-right {
          border-left:20px solid #29a0cc;
          border-right:20px solid transparent;
        }
      }
      b {
        display: inline-block;
        background: #29a0cc;
        height:60px;
        text-align: center;
        width:180px;
        vertical-align: top;
        color: #fff;
        font-weight: normal;
        line-height: 20px;
        padding-top: 20px;
      }
    }
    .earn-list {
      dd {
        width:33%;
        float:left;
        text-align: center;
        &:nth-child(1) {
          em {
            background: url("/activity/images/share-reward/icon-t01.png") no-repeat left top;
           background-size: 100%;
          }
        }
        &:nth-child(2) {
          em {
            background: url("/activity/images/share-reward/icon-t02.png") no-repeat left top;
            background-size: 100%;
          }
        }
        &:nth-child(3) {
          em {
            background: url("/activity/images/share-reward/icon-t03.png") no-repeat left top;
            background-size: 100%;
          }
          b {
            padding-top: 10px;
          }
        }
      }
    }
    .mobile-btn-bar {
      display: none;
    }
    .arrow-step {
      position: absolute;
      top:80px;
      &:nth-child(1) {
        left: 260px;
      }
      &:nth-child(2) {
        left: 560px;
      }

    }
  }

  .earn-commission2 {
    position: relative;
    height:362px;
    .arrow-step {
      position: absolute;
      left: 306px;
      &:nth-child(1) {
        top: 70px;
      }
      &:nth-child(2) {
        top: 258px;
      }
    }
    .invite-group-list {
      .invite-group {
        display: inline-block;
        position: absolute;
        span {
          display: block;
        }
        &:nth-child(1) {
          left:120px;
          top: 90px;
          text-align: center;
          em {
            background: url("/activity/images/share-reward/icon-t05.png") no-repeat left top;
          }

        }
        &:nth-child(2) {
          left: 450px;
          top: 7px;
          span {
            display: inline-block;
          }
          em {
            background: url("/activity/images/share-reward/icon-t13.png") no-repeat left top;
            vertical-align: middle;
          }

        }
        &:nth-child(3) {
          left: 450px;
          top: 186px;
          span {
            display: inline-block;
          }
          em {
            background: url("/activity/images/share-reward/icon-t13.png") no-repeat left top;
            vertical-align: middle;
          }
        }
      }
    }

  }

  .reward-rules {

    .reward-rules-normal {
      padding-left: 100px;

      .arrow-step {
        display: inline-block;
      }
      .invite-group {
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        span {
          display: block;
        }

        &.one {
          em {
            background: url("/activity/images/share-reward/icon-t06.png") no-repeat left center;
          }
        }
        &.two {
          em {
            background: url("/activity/images/share-reward/icon-t07.png") no-repeat left center;
          }
        }
        &.three {
          em {
            background: url("/activity/images/share-reward/icon-t08.png") no-repeat left center;
          }
        }
        &.four {
          em {
            background: url("/activity/images/share-reward/icon-t09.png") no-repeat left center;
          }
        }
        &.five {
           em {
             background: url("/activity/images/share-reward/icon-t10.png") no-repeat left center;
           }
         }
        &.six {
          em {
            background: url("/activity/images/share-reward/icon-t11.png") no-repeat left center;
          }
        }
      }
    }
  }

  .recommended-ranking {
    .border-dashed-square {
      padding: 0;
      margin-bottom:10px;
      .table tr {
        td {
          padding:15px 10px;
          color: #005e80;
          font-size: 24px;
          border-width: 0;
        }
        &:nth-child(2n) {
          background: #b2ebff;
        }
      }

    }
  }

  .activity-rules {
    margin-top:30px;
    border:1px dashed #d5f4ff;
    border-radius:30px;
    padding: 15px 50px;
    b {
      font-size: 20px;
    }
    p {
      color: #d5f4ff;
    }
    color: #d5f4ff;
  }

}

@media screen and (max-width: 800px) {
  .tour-slide  {
    height: 270px;
    background: url("/activity/images/share-reward/bar-share-top.png") center top no-repeat;
    background-size: contain;
  }
  .border-dashed-square {
    padding:10px;
  }
  .pop-personal-win {
    width: 90%!important;
    .pop-layer-out {
      width:100%;
      height:300px;
      background-size: 100%;
      background-position: left 60px;
      padding: 90px 40px 10px 40px;
      .btn-to-close {
        width:25px;
        height:60px;
      }
      p {
        font-size:16px;
      }
      a.btn-to-identification {
        display: inline-block;
        width: 143px;
        height: 42px;
        bottom: 45px;
        left: 30%;
      }
    }
  }
  .for-mobile {
    display: block;
    text-align: center;
    font-size:12px;
    color: #005e80;
    margin:0 auto;
    margin-bottom: 0;
    width: 93%;
    line-height: 20px;

  }
  .arrow-step {
    width: 24px;
    height: 10px;
    background-size: 100%;
  }
  .bg-column-normal {
    padding: 60px 10px 10px 10px;
    .bg-column-title {
      height: 55px;
      width:50%;
      left: -7px;
      span {
        display: inline-block;
        width: 90%;
        height: 29px;
        margin-top: 13px;
        margin-left: 20px;
        &.title-word01 {
          background: url("../../images/share-reward/title01.png") no-repeat left top;
          background-size: 60%;

        }
        &.title-word02 {
          background: url("../../images/share-reward/title02.png") no-repeat left top;
          background-size: 55%;

        }
        &.title-word03 {
          background: url("../../images/share-reward/title03.png") no-repeat left top;
          background-size: 77%;
          margin-top: 18px;

        }
        &.title-word04 {
          background: url("../../images/share-reward/title04.png") no-repeat left top;
          background-size: 77%;
          margin-top: 18px;

        }
      }

    }
  }
  .invite-box-friend {
    font-size: 14px;
    clear:left;
    dl {
      dt {
        line-height: 40px;
      }
      dd {
        width:100%;
      }
    }
    .input-invite {
      width:100%;
    }
    .btn-copy-link {
      margin-left:0;
      margin-top: 10px;
    }
    &.non-anonymous {
      width: 100%;
      clear: both;
      dl {
        width:100%;
        clear:both;
      }
      .weixin-code {
        display: none;
      }
    }
  }
  .share-reward-container {
    padding: 0px 10px;
    .icon-tag {
      width: 80%;
      height: 98px;
      background-size: 100%;
      overflow: hidden;
    }
    .earn-commission {
      .arrow-step {
        top: 54px;
        &:nth-child(1) {
          left: 29%;
        }
        &:nth-child(2) {
          left: 62%;
        }
      }
      .earn-list {
        dd {
          &:nth-child(1) {
            text-align: left;
          }
          &:nth-child(2) {
            text-align: center;


          }
          &:nth-child(3) {
            text-align: right;

          }
          .btn-bar {
            display: none;
          }
        }
      }
      .mobile-btn-bar {
        display: block;
        background: url(../../images/share-reward/bg-button.png) no-repeat left center;
        background-size: 100%;
        height: 50px;
        font-size: 10px;
        line-height: 16px;
        text-align: center;
        padding-top: 10px;
        color: #fff;
      }
    }

    .earn-commission2  {
      height:270px;
      .arrow-step {
        left: 40%;
        &:nth-child(1) {
          top:54px;
        }
        &:nth-child(2) {
          top:153px;
        }
      }
      .invite-group-list {

        .invite-group {
          width:34%;

          &:nth-child(1) {
            left: 5%;
            top:56px;
            em {
              background: url("/activity/images/share-reward/icon-t05.png") no-repeat left top;
              background-size: 90%;
            }
            span {
              display: none;
            }
          }
          &:nth-child(2) {
            left: 57%;
            em {
              background: url("/activity/images/share-reward/icon-t13.png") no-repeat left top;
              background-size: 90%;
            }
            span {
              display: none;
            }
          }
          &:nth-child(3) {
            left: 57%;
            top:112px;
            em {
              background: url("/activity/images/share-reward/icon-t13.png") no-repeat left top;
              background-size: 90%;
            }
            span {
              display: none;
            }
          }
        }

      }
      .for-mobile {
        position: absolute;
        bottom:10px;

      }
    }

    .reward-rules {
      .reward-rules-normal {
        padding-left:0;
        text-align: center;
        .invite-group {
          width:27%;
          span {
            display: none!important;
          }
          em {
            background-size: 100%!important;
          }
        }
      }
    }

    .recommended-ranking {
      .border-dashed-square .table tr td {
        font-size:12px;
      }
      .note {
        font-size: 12px;
      }
    }

    .activity-rules {
      padding:20px;
      margin-top:10px;
      b {
        font-size: 15px;
      }
      p {
        font-size:11px;
      }
    }
  }
}