$width:640px;

input[type="button"],
input[type="submit"],
input[type="reset"]{
   -webkit-appearance: none;
}
textarea {
	-webkit-appearance: none;
} 


@mixin mobilehide () {
	@media (max-width: $width) {
		display: none;
	}
}
@mixin PChide () {
	@media (min-width: $width + 1px) {
		display: none;
	}
}

.nav-container,.footer-container{
	display: none;
}
.tip-item{
	padding:20px;
	p{
		text-align:left;
		font-size:14px;
		color:#4c4c4c;
	}
	a{
		display:inline-block;
		width:150px;
		height:30px;
		text-align:center;
		color:#fff;
		font-size:14px;
		background:#ff7633;
	}
}
.header-container{
	@media (min-width: $width + 1px){
		width:375px;
		margin:0 auto;
	}
	.header-download{
		display:block;
	}
	.header{
		@include PChide;
		@include mobilehide;
	}
}
.main-frame{
	@media (max-width: $width) {
		width:100%;
	}
	@media (min-width: $width + 1px) {
		width:375px;
		margin:0 auto;
	}
}
.share-app-container{
	background:#fffbe5;
	@media (max-width: $width) {
		width:100%;
	}
	@media (min-width: $width + 1px) {
	  width: 375px;
	}
	.share-container{
		float:left;
		width:100%;
		background: -moz-linear-gradient(top, #ae1917 0%, #ff3a00 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ae1917), color-stop(100%,#ff3a00));
		background: -webkit-linear-gradient(top, #ae1917 0%,#ff3a00 100%);
		background: -o-linear-gradient(top, #ae1917 0%,#ff3a00 100%);
		background: -ms-linear-gradient(top, #ae1917 0%,#ff3a00 100%);
		background: linear-gradient(to bottom, #ae1917 0%,#ff3a00 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ae1917', endColorstr='#ff3a00',GradientType=0 );
		background: -webkit-gradient(linear, 0 0, 0 100%, from(#ae1917), to(#ff3a00));
		.share-item{
			float:left;
			width:90%;
			margin:0 5%;
			background:url("/activity/images/sign/actor/shareapp/item-bg.png") no-repeat top center;
			background-size:100%;
			.item-tel{
				float:left;
				width:100%;
				margin-top:30px;
				text-align:center;
				span{
					display:inline-block;
					padding:0 30px;
					text-align:center;
					font-size:25px;
					color:#fff;
					line-height:40px;
					background:#c24a45;
					border:1px solid #ffff00;
					border-radius:20px;
				}
			}
			.item-intro{
				float:left;
				width:100%;
				margin-top:20px;
				font-size:18px;
				color:#fff;
				text-align:center;
			}
			.item-form{
				float:left;
				width:100%;
				margin-top:30px;
				.item-int{
					float:left;
					width:100%;
					margin-bottom:15px;
					position: relative;
					&:last-child{
						margin-bottom:0;
					}
					label.error{
						float:left;
						width:100%;
						color:#fff700;
						&:before {
						    color: #fff700;
						}
					}
					.item-text{
						float:left;
						width:100%;
						border:1px solid #ccc;
						background:#fff;
						color:#4c4c4c;
						font-size:16px;
						line-height:28px;
						box-sizing: border-box;
					}
					.item-submit{
						float:left;
						width:100%;
						border:none;
						color:#664400;
						font-size:16px;
						line-height:30px;
						background:#fff700 url("/activity/images/sign/actor/shareapp/submit-bg.png") no-repeat 85% 50%;
						background-size:10%;
						box-sizing: border-box;
					}
					.get-code{
						position: absolute;
						top:5px;
						right:0;
						width:80px;
						color:#ff6400;
						border:none;
						border-left:1px solid #ccc;
						background:transparent;
						&[disabled] {
							color: #666;
						}
					}
					label{
						&.agree{
							color:#fff;
							font-size:14px;
							span{
								color:#fff700;
							}
						}
					}
					p{
						font-size:12px;
						color:#fff;
						margin-bottom:0;
						span{
							color:#fff700;
						}
					}
				}
			}
		}
	}
	.share-bg{
		float:left;
		width:100%;
	}
	.title-container{
		float:left;
		width:100%;
		height:1px;
		margin:40px 0;
		background:#ff5500;
		position: relative;
		span{
			position: absolute;
			top:50%;
			left:50%;
			width:200px;
			height:36px;
			margin-top:-18px;
			margin-left:-100px;
			font-size:18px;
			color:#ff5500;
			background:#fffbe5;
			text-align:center;
		}
	}
	.list-container{
		float:left;
		width:100%;
		background:#fff;
		li{
			float:left;
			width:90%;
			padding:30px 5%;
			.img-item{
				float:left;
				width:60px;
				height:60px;
			}
			.info-item{
				float:left;
				margin-left:10px;
				p{
					line-height:30px;
					margin-bottom:0;
					&.title-text{
						font-size:18px;
						color:#ff5400;
					}
					&.intro-text{
						font-size:13px;
						color:#808080;
					}
				}
			}
		}
	}
}