@import "module/nine_lottery";
@import 'module/gift_circle_tip';
.sign-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  z-index: 999;
  display: none;
  .sign-layer-list {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -208px;
    margin-left: -230px;
    width: 460px;
    height: 416px;
    border-radius: 5px;
    overflow: hidden;
    background: url("/point/images/sign-bg.png") no-repeat;
    .sign-top {
      float: left;
      width: 100%;
      min-height: 250px;
      padding-top: 75px;
      text-align:center;
      position: relative;
      .close-btn {
        position: absolute;
        top: 15px;
        right: 15px;
        width: 24px;
        height: 24px;
        background: url("/point/images/sign-close.png") no-repeat;
        background-size: 100%;
        cursor: pointer;
      }
      .sign-text{
        display:inline-block;
        width:100%;
        height:60px;
        line-height:60px;
        margin-top:20px;
        font-size:36px;
        color:#fff;
        text-align:center;
      }
      .sign-content{
        display:inline-block;
        width:400px;
        height:260px;
        background:#fffdee;
        border-bottom-left-radius:15px;
        border-bottom-right-radius:15px;
        p {
          color: #9a3528;
          text-align: center;
          margin-bottom: 0;
          &.sign-point {
            margin-top: 10px;
            font-size: 20px;
            span{
              font-size:36px;
            }
          }
          &.tomorrow-text {
            margin-bottom:20px;
            font-size: 16px;
            border-bottom:1px dashed #9a3528;
          }
          &.intro-text {
            font-size: 14px;
          }
          &.sign-reward{
            margin-top:10px;
            a{
              display: inline-block;
              width: 180px;
              height: 40px;
              line-height: 40px;
              text-align: center;
              font-size: 16px;
              color: #9a3528;
              background: #fceb5e;
              border-radius: 40px;
              box-shadow: 0 4px 0 #eeb33d;
              position: relative;
              &:hover {
                top: 2px;
                box-shadow: 0 2px 0 #eeb33d;
              }
            }
          }
        }
      }
    }
  }
}
.tip-list {
  background: #fff url("/point/images/bg-pop-point.png") no-repeat left top;
  background-size:100%;
  .close-btn {
    background:url("/point/images/tip-close.png") no-repeat left top;
    background-size:100%;
  }
}
.main-frame{
  width:100%;
  margin:0;
  .layui-layer{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .layui-layer-page .layui-layer-content{
    overflow: auto!important;
  }
  .global-member-store {
    float:left;
    width:100%;
    .wp{
      width:1000px;
      margin:0 auto;
      position: relative;
      .no-product{
        text-align:center;
        font-size:20px;
      }
      .no-material{
        text-align:center;
      }
    }
    .store-top{
      float:left;
      width:100%;
      height:350px;
      position: relative;
      background:url("/point/images/point-material_20161107.jpg") no-repeat center;
      .store-login{
        width:300px;
        height:320px;
        position: absolute;
        top:50%;
        right:50%;
        margin-top:-160px;
        margin-right:-500px;
        background:#fff url("/point/images/login-bg.png") no-repeat 95px -32px;
        border-radius: 5px;
        overflow: hidden;
        .login-model{
          float:left;
          width:100%;
          margin-top:110px;
          p{
            float:left;
            width:100%;
            margin-bottom:0;
            text-align:center;
            .login-btn{
              display:inline-block;
              width:160px;
              height:40px;
              line-height:40px;
              color:#fff;
              font-size:16px;
              background:#ff9c1b;
            }
            .regist-btn{
              font-size:12px;
              color:#ff9c1b;
              text-decoration:underline;
            }
          }
        }
        .user-info{
          float:left;
          width:100%;
          h3{
            float:left;
            width:100%;
            font-size:24px;
            color:#999;
            text-align:center;
            margin-top:10px;
          }
          p{
            float:left;
            width:100%;
            text-align:center;
            font-size:34px;
            color:#ea3c56;
            line-height:40px;
            margin-bottom:0;
            span{
              display:inline-block;
              width:200px;
              height:35px;
              line-height:35px;
              font-size:16px;
              color:#fff;
              background:#e95a58;
              cursor:pointer;
              &.already{
                background: #fff;
                color:#808080;
                border:1px solid #ccc;
              }
            }
          }
        }
        .sign-rule{
          float:left;
          width:100%;
          box-sizing:border-box;
          padding:0 50px;
          font-size:14px;
          color:#4c4c4c;
          margin-top:10px;
          span{
            float:left;
          }
          a{
            float:right;
          }
        }
        .other-list{
          float:left;
          width:240px;
          margin:15px 30px 0;
          border-top:1px solid #ececec;
          padding-top:10px;
          li{
            float:left;
            width:50%;
            box-sizing:border-box;
            text-align:center;
            &.right-line{
              border-right:1px solid #ececec;
            }
            p{
              display:inline-block;
              width:100%;
              margin-bottom:0;
              font-size:14px;
              text-align:center;
              a{
                display:inline-block;
                width:90px;
                height:35px;
                line-height:35px;
                color:#fff;
                font-size:14px;
                text-align:center;
                background:#0087e6;
              }
            }
          }
        }
        .user-trade{
          float:left;
          width:300px;
          padding:20px 30px 0;
          color:#666;
          box-sizing:border-box;
          a{
            font-size:12px;
            color:#666;
            &:hover{
              color:#0087e6;
            }
          }
        }
      }
    }
    .store-title{
      float:left;
      width:100%;
      background:#f9f9f9;
      text-align:center;
      span{
        display: inline-block;
        font-size: 30px;
        color: #0087e6;
        text-align: center;
        padding: 0 29px;
        margin: 30px 0;
        line-height: 30px;
        position: relative;
        i{
          position: absolute;
          width:390px;
          height:30px;
          top:0;
          &.title-left{
            left:-390px;
            background:url("/point/images/left-line.png") no-repeat center;
            background-size: 100%;
          }
          &.title-right{
            right:-390px;
            background:url("/point/images/right-line.png") no-repeat center;
            background-size: 100%;
          }
        }
      }
    }
    .store-material{
      float:left;
      width:100%;
      background:#fff;
      padding:30px 0;
      &.even{
        background:#f9f9f9;
      }
      .material-list{
        text-align: center;
        li{
          float:left;
          width:300px;
          margin:10px;
          background:#fff;
          border:1px solid #bcbcbc;
          box-sizing:border-box;
          cursor: pointer;
          position: relative;

          &:hover{
            border:1px solid #0087e6;
            box-shadow:0px 0px 5px #0087e6;
          }
          &.big-gift{
            width:460px;
            height:170px;
            padding:20px 30px;
            .convert-btn{
              margin-left:35px;
            }
          }
          .hot-icon {
            position: absolute;
            width: 88px;
            height: 88px;
            top: -4px;
            left: -4px;
            text-align: left;
            font-size: 12px;
            color: #fff;
            background: url(/point/images/top-hot.png) no-repeat center;
            span {
              display: inline-block;
              -webkit-transform: rotate(-45deg);
              transform: rotate(-45deg);
              width: 100px;
              height: 50px;
              line-height: 75px;
              -ms-transform: rotate(-45deg);
              -moz-transform: rotate(-45deg);
              -webkit-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              margin-left: -25px;
              text-align: center;
            }
          }
          p{
            &.num-text{
              width:100%;
              color:#fc4a52;
              font-size:14px;
              text-align:center;
              padding-top: 12px;
            }
            &.mater-img{
              &.coupon-bg{
                width:80px;
                height:40px;
                padding:30px 40px;
                background:url("/point/images/coupon-bg.png") no-repeat center;
                span{
                  float:left;
                  width:100%;
                  font-size:12px;
                  color:#fc933c;
                  line-height:16px;
                  text-align:center;
                  i{
                    font-size:30px;
                    color:#fc8d32;
                  }
                }
              }
              &.bag-bg{
                width:80px;
                height:60px;
                padding:20px 40px;
                background:url("/point/images/bag-bg.png") no-repeat center;
                span{
                  display: inline-block;
                  width:100%;
                  font-size:16px;
                  color:#fff;
                  line-height:16px;
                  text-align:center;
                  i{
                    font-size:26px;
                  }
                }
              }
              &.jia-bg {
                width: 80px;
                height: 40px;
                padding: 30px 40px;
                background: url("/point/images/jia-bg.png") no-repeat center;
                span {
                  float: left;
                  width: 100%;
                  font-size: 12px;
                  color: #ff7a78;
                  line-height: 16px;
                  text-align: center;
                  i {
                    font-size: 30px;
                    color: #ff7a78;
                  }
                }
                &.picture-item {
                  width: 160px;
                  height: 100px;
                }
              }
            }
            &.convert-btn{
              span{
                display: inline-block;
                width:100%;
                &.name-text{
                  font-size:14px;
                  color:#4c4c4c;
                }
                &.price-text{
                  font-size:14px;
                  color:#999999;
                  i{
                    color:#0087e6;
                    &.old-price{
                      color:#999;
                      text-decoration:line-through;
                    }
                  }
                }
                &.get-btn{
                  width:140px;
                  height:35px;
                  font-size:16px;
                  color:#fff;
                  line-height:35px;
                  text-align:center;
                  margin-top:10px;
                  cursor:pointer;
                  display: inline-block;
                  background: #ccc;
                  color: #fff;
                  &.active {
                    background:#fc4a52;
                  }

                }
              }
            }
          }
        }
      }
    }
  }
}

.error-tip{
  float:left;
  width:300px;
  padding:20px 0;
  text-align:center;
  display:none;
  h3{
    font-size:20px;
    text-align:center;
    color:#ff9c1b;
    background: url("/point/images/error-tip.png") no-repeat 30% 50%;
  }
  p{
    font-size: 14px;
    color: #4c4c4c;
    padding: 0 20px;
  }
  .go-to{
    display:inline-block;
    width:160px;
    height:40px;
    color:#fff;
    font-size:16px;
    background:#178fe6;
    line-height: 40px;
    text-decoration: none;
  }
}

.rule-info-tip{
  float:left;
  width:600px;
  height:auto;
  background:#fff;
  padding:10px 60px;
  box-sizing:border-box;
  display:none;
  position: relative;
  .close-btn{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    background: url('/point/images/close-btn.png') no-repeat center;
  }
  .rule-title{
    float:left;
    width:100%;
    text-align:center;
    margin-bottom:30px;
    span{
      display:inline-block;
      width:200px;
      height:40px;
      font-size:18px;
      color:#ff7200;
      border-bottom:1px solid #ff7200;
    }
  }
  p{
    float:left;
    width:100%;
    font-size:12px;
    color:#666;
    margin-bottom:0;
    &.mb-15{
      margin-bottom:15px;
    }
    span{
      color:#333;
      font-weight:bold;
    }
  }
  table{
    thead>tr{
      font-size:12px;
      color:#ff7200;
      th{
        border:1px solid #ffd1ac;
        &:nth-child(odd){
          background:#fff9f2;
        }
        &:nth-child(even){
          background:#ffedd5;
        }
      }
    }
    tbody>tr{
      td{
        font-size:12px;
        color:#ff7200;
        border:1px solid #ffd1ac;
        &:nth-child(odd){
          background:#fff9f2;
        }
        &:nth-child(even){
          background:#ffedd5;
        }
      }
    }
  }
}




