<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.paywrapper.ghb.repository.mapper.DynamicTableMapper">

    <select id="findTable" resultType="string">
        show tables like #{tableName}
    </select>

    <update id="dropTable">
        drop table ${tableName}
    </update>

    <update id="createTable" parameterType="map">
        CREATE TABLE ${tableName} (
        `id` BIGINT(20) UNSIGNED NOT NULL AUTO_INCREMENT,
        <if test="foreignKey">
            `parent_id` BIGINT(20) UNSIGNED NOT NULL,
        </if>
        <foreach collection="columns" item="column" open="" separator="" close="">
            ${column},
        </foreach>
        PRIMARY KEY (`id`)
        <foreach collection="indexColumns" item="indexColumn" open="" separator="" close="">
            , INDEX ( ${indexColumn} )
        </foreach>
        <if test="foreignKey">
            , CONSTRAINT FK_${foreignTableName}_PARENT_ID FOREIGN KEY (`parent_id`) REFERENCES ${foreignTableName} (`id`)
        </if>
        )
        ENGINE = InnoDB
        DEFAULT CHARSET = utf8;
    </update>

    <insert id="insert" parameterType="map" useGeneratedKeys="true" keyProperty="id">
        insert into ${tableName}
        <foreach collection="columns" item="column" open="(" separator="," close=")">
            ${column}
        </foreach>
        values
        <foreach collection="values" item="value" open="(" separator="," close=")">
            #{value}
        </foreach>
    </insert>

    <select id="findProcessingRequest" resultType="hashmap">
        select id, header_channelFlow, created_time, LATEST_RETURN_STATUS, LATEST_RETURN_STATUS_TIME
        from ${tableName}
        where LATEST_RETURN_STATUS is null or LATEST_RETURN_STATUS not in ('S', 'F')
    </select>

    <update id="updateRequestStatus" parameterType="map">
        update ${tableName} set
        LATEST_RETURN_STATUS = #{status},
        LATEST_RETURN_STATUS_TIME = now()
        where id = #{id}
    </update>

</mapper>