<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.jpush.repository.mapper.JPushAlertMapper">

    <resultMap id="jPushAlertResultMap" type="jPushAlertModel">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="push_type" property="pushType"></result>
        <result column="push_objects" property="pushObjects"
                typeHandler="com.tuotiansudai.util.mybatis.PushObjectHandler"/>
        <result column="push_source" property="pushSource"></result>
        <result column="push_user_type" property="pushUserType"></result>
        <result column="status" property="status"></result>
        <result column="content" property="content"></result>
        <result column="jump_to" property="jumpTo"></result>
        <result column="jump_to_link" property="jumpToLink"></result>
        <result column="expect_push_time" property="expectPushTime"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="created_by" property="createdBy"></result>
        <result column="updated_time" property="updatedTime"></result>
        <result column="updated_by" property="updatedBy"></result>
        <result column="auditor" property="auditor"></result>
        <result column="ios_target_num" property="iosTargetNum"></result>
        <result column="ios_arrive_num" property="iosArriveNum"></result>
        <result column="ios_open_num" property="iosOpenNum"></result>
        <result column="android_target_num" property="androidTargetNum"></result>
        <result column="android_arrive_num" property="androidArriveNum"></result>
        <result column="android_open_num" property="androidOpenNum"></result>

    </resultMap>

    <insert id="create" parameterType="jPushAlertModel" useGeneratedKeys="true" keyProperty="id">
        insert into jpush_alert (name, push_type,push_objects, push_source, push_user_type, status, content, jump_to, jump_to_link,expect_push_time,created_time,created_by,updated_time,updated_by,is_automatic)
        value(#{name}, #{pushType},#{pushObjects,typeHandler=com.tuotiansudai.util.mybatis.PushObjectHandler}, #{pushSource}, #{pushUserType}, #{status}, #{content}, #{jumpTo},
        #{jumpToLink}, #{expectPushTime}, #{createdTime}, #{createdBy}, #{updatedTime}, #{updatedBy},#{isAutomatic})
    </insert>

    <select id="findPushTypeCount" resultType="int" parameterType="map">
        select count(*) from jpush_alert where push_type = #{pushType} and is_automatic = false;
    </select>

    <select id="findPushAlertCount" resultType="int" parameterType="map">
        select COUNT(*) from jpush_alert where is_automatic = #{isAutomatic}
        <if test="pushType != null">
            and push_type = #{pushType}
        </if>
        <if test="pushSource != null">
            and push_source = #{pushSource}
        </if>
        <if test="pushUserType != null">
            and push_user_type = #{pushUserType}
        </if>
        <if test="pushStatus != null">
            and status = #{pushStatus}
        </if>
        <if test="startTime != null">
            and expect_push_time >= #{startTime}
        </if>
        <if test="endTime != null">
            <![CDATA[ and expect_push_time <= #{endTime} ]]>

        </if>
    </select>

    <select id="findPushAlerts" resultMap="jPushAlertResultMap" parameterType="map">
        select * from jpush_alert where is_automatic = #{isAutomatic}

        <if test="pushType != null">
            and push_type = #{pushType}
        </if>
        <if test="pushSource != null">
            and push_source = #{pushSource}
        </if>
        <if test="pushUserType != null">
            and push_user_type = #{pushUserType}
        </if>
        <if test="pushStatus != null">
            and status = #{pushStatus}
        </if>
        <if test="startTime != null">
            and expect_push_time >= #{startTime}
        </if>
        <if test="endTime != null">
            <![CDATA[ and expect_push_time <= #{endTime} ]]>

        </if>
        ORDER BY created_time DESC
        LIMIT #{index},#{pageSize}
    </select>

    <update id="update" parameterType="jPushAlertModel">
        update jpush_alert set name=#{name},push_type=#{pushType},push_objects=#{pushObjects,typeHandler=com.tuotiansudai.util.mybatis.PushObjectHandler},push_source=#{pushSource},push_user_type=#{pushUserType},status=#{status},content=#{content},
        jump_to = #{jumpTo},jump_to_link=#{jumpToLink},expect_push_time=#{expectPushTime},updated_time=#{updatedTime},updated_by=#{updatedBy},auditor=#{auditor},
        android_target_num=#{androidTargetNum},ios_target_num=#{iosTargetNum},android_arrive_num=#{androidArriveNum},ios_arrive_num=#{iosArriveNum} where id = #{id}
    </update>

    <select id="findJPushAlertModelById" parameterType="long" resultMap="jPushAlertResultMap">
        select * from jpush_alert where id = #{id}
    </select>

    <select id="findJPushAlertByPushType"  parameterType="map" resultMap="jPushAlertResultMap">
        select * from jpush_alert where push_type = #{pushType} and status = 'ENABLED' and is_automatic = true
    </select>

    <delete id="delete" parameterType="long">
        delete from jpush_alert where id = #{id}
    </delete>

</mapper>