@charset "utf-8";

//投资计算器
.count-form {
  position: fixed;
  width: 330px;
  height: 400px;
  bottom: 20px;
  right: 110px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  z-index: 99;
  display: none;
  h3 {
    position: relative;
    text-align: center;
    background: #ffc527;
    line-height: 60px;
    span {
      font-size: 24px;
      color: #fff;
    }
    .close-count {
      display: block;
      position: absolute;
      background: url('../../images/homepage/icon-close.png') left top no-repeat;
      top: 15px;
      right: 5px;
      z-index: 999;
      width: 30px;
      height: 30px;
      cursor: pointer;
    }
  }
  .form-text {
    width: 250px;
    margin: 10px 40px;
    position: relative;
    .error-box {
      margin-bottom:15px;
    }
    .int-text {
      width: 178px;
      height: 28px;
      padding: 5px 35px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    .unit-text {
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 16px;
      line-height: 40px;
      color: #808080;
    }
    .submit-btn {
      float: left;
      width: 110px;
      height: 30px;
      border: none;
      color: #fff;
      cursor: pointer;
      text-align: center;
      background: #ffc527;
      margin-right: 30px
    }
    .reset-btn {
      float: left;
      width: 110px;
      height: 30px;
      border: none;
      cursor: pointer;
      color: #fff;
      text-align: center;
      background: #ccc;
    }
    .result-text {
      font-size: 20px;
      color: #808080;
      line-height: 30px;
      margin-bottom: 0;
      span {
        font-size: 26px;
        color: #ff7200;
      }
    }
    .tip-text {
      font-size: 12px;
      color: #ccc;
      line-height: 20px;
      margin-bottom: 0;
    }
  }
  label.error {
    float: left;
    width: 250px;
    margin-left: 40px;
  }
}

.fix-nav-list {
  position: fixed;
  right: 22px;
  bottom: 120px;
  width: 60px;
  height: auto;
  z-index: 1000;
  border: 1px solid #fff;
  border-bottom: none;
  li {
    float: left;
    width: 60px;
    height: 60px;
    background: #e6e6e6;
    border-bottom: 1px solid #fff;
    position: relative;
    &.active, &:hover {
      background: #ff9c1b;
      i {
        display: none;
      }
      .nav-text, .fix-nav {
        display: block;
      }
    }
    i {
      float: left;
      cursor: pointer;
      &.icon-phone {
        width: 60px;
        height: 60px;
        background: url('../../images/homepage/mobile-icon.png') left top no-repeat;
      }
      &.icon-calculator {
        width: 60px;
        height: 60px;
        background: url('../../images/homepage/calculator-icon.png') left top no-repeat;

      }
      &.icon-edit {
        width: 60px;
        height: 60px;
        background: url('../../images/homepage/icon-edit.png') left top no-repeat;
      }
    }
    .nav-text {
      float: left;
      width: 100%;
      cursor: pointer;
      margin-top: 10px;
      color: #fff;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      display: none;
    }
    .fix-nav {
      display: none;
      position: absolute;
      &.app-img {
        top: -25px;
        right: 60px;
        width: 180px;
        height: 230px;
        background: url('../../images/homepage/app-pc-top.png') left top no-repeat;
      }
    }
  }
}

//回到顶部
.back-top {
  position: fixed;
  right: 22px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  z-index: 100;
  border: 1px solid #fff;
  display: none;
  li {
    float: left;
    width: 60px;
    height: 60px;
    background: #e6e6e6;
    cursor: pointer;
    &.active, &:hover {
      background: #ccc;
      i {
        display: none;
      }
      .nav-text {
        display: block;
      }
    }
    i {
      float: left;
      &.icon-top {
        width: 60px;
        height: 60px;
        background: url('../../images/homepage/icon-back.png') center top no-repeat;
        background-size: 100%;
      }
    }
    .nav-text {
      float: left;
      width: 100%;
      margin-top: 10px;
      color: #fff;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      display: none;
    }
  }
}

//已经反馈
.feedback-container{
  position: fixed;
  width:600px;
  height:480px;
  right:100px;
  bottom:40px;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 99;
  display:none;
  .feed-top{
    float:left;
    width:100%;
    height:50px;
    background:#ff9c1b;
    h3{
      float:left;
      font-size:18px;
      line-height:50px;
      color:#fff;
      margin-left:30px;
    }
    .feed-close{
      float:right;
      width:24px;
      height:24px;
      margin:13px 20px;
      cursor:pointer;
      background: url('../../images/homepage/icon-close.png') left top no-repeat;
      background-size: 100%;

    }
  }
  .feed-content{
    float:left;
    width:540px;
    height:310px;
    padding:20px 30px;
    .content-list{
      float:left;
      width:100%;
      min-height: 10px;
      margin-bottom:20px;
      position: relative;
      .name-text{
        float:left;
        width:70px;
        line-height:35px;
        font-size:14px;
        color:#4c4c4c;
      }
      .type-list{
        position: absolute;
        top: 0;
        left: 70px;
        width:188px;
        cursor:pointer;
        background:#f6f6f6;
        border:1px solid #e6e6e6;
        z-index: 101;
        i{
          position: absolute;
          top: -5px;
          right: 10px;
          font-size: 30px;
          color: #808080;
        }
        dt{
          float:left;
          width:170px;
          line-height:35px;
          padding-left:20px;
          font-size:14px;
          color:#4c4c4c;
        }
        dd{
          float:left;
          width:170px;
          padding-left:20px;
          line-height:35px;
          font-size:14px;
          color:#4c4c4c;
          display:none;
          &:hover{
            background:#ccc;
          }
        }
      }
      .text-area{
        float:left;
        width:518px;
        height:98px;
        padding:10px;
        border:1px solid #e6e6e6;
        background:#f6f6f6;
        font-size:14px;
        color:#808080;
      }
      .captcha-error{
        display:none;
      }
      .code-text{
        width:86px;
        float: left;
      }
      .phone-text{
        width:190px;
      }
      .submit-btn{
        background:#ff9c1b;
        color:#fff;
        font-size:16px;
        padding:8px 85px;
        border:1px solid #ff9c1b;
      }
    }
  }
}
.feed-tip{
  position: fixed;
  top:50%;
  left:50%;
  width:600px;
  height:300px;
  margin-top:-150px;
  margin-left:-300px;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 100;
  display:none;
  .tip-top{
    float:left;
    width:100%;
    height:50px;
    background:#ff9c1b;
    h3{
      float:left;
      font-size:18px;
      line-height:50px;
      color:#fff;
      margin-left:30px;
    }
  }
  .tip-content{
    float:left;
    width:540px;
    height:310px;
    padding:20px 30px;
    .content-list{
      float:left;
      width:100%;
      font-size:18px;
      color:#4d4d4d;
      min-height: 10px;
      &.btn-model{
        margin-top:70px;
      }
      &.mt-10{
        margin-top:10px;
      }
      .feed-close{
        background:#ff9c1b;
        color:#fff;
        font-size:16px;
        padding:8px 85px;
        border:1px solid #ff9c1b;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .layer-tip-box, .fix-nav-list {
    display: none;
  }
  .layer-tip-box, .fix-nav-list {
    display: none;
  }
}

