<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.activity.repository.mapper.UserTravelPrizeMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache"/>

    <resultMap id="userTravelPrizeResultMap" type="userTravelPrizeModel">
        <result property="id" column="id"/>
        <result property="prizeId" column="prize_id"/>
        <result property="prize" column="prize"/>
        <result property="loginName" column="login_name"/>
        <result property="mobile" column="mobile"/>
        <result property="investAmount" column="invest_amount"/>
        <result property="createdTime" column="created_time"/>
    </resultMap>

    <insert id="create" parameterType="UserTravelPrizeModel" useGeneratedKeys="true" keyProperty="id">
        insert into user_travel_prize(prize_id,prize,login_name,mobile,invest_amount,created_time)
               value(#{prizeId},#{prize},#{loginName},#{mobile},#{investAmount},#{createdTime})
    </insert>
    
    <select id="findById" parameterType="long" resultMap="userTravelPrizeResultMap">
        select * from user_travel_prize where id = #{id}
    </select>


</mapper>