h1 {
  font-size: 2em;
  font-weight: normal; }

h2 {
  font-size: 1.5em;
  font-weight: normal; }

h3 {
  font-size: 1.2em;
  font-weight: normal; }

h4 {
  font-size: 18px;
  font-weight: normal; }

h5 {
  font-size: 16px;
  font-weight: normal; }

/* background gradient */
.btn, .btn-normal, .btn-success, .btn-primary, .btn-action, .btn-link {
  font-size: 14px;
  font-weight: normal;
  font-family: Microsoft YaHei, Helvetica, sans-serif;
  display: inline-block;
  padding: 8px 35px;
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 3px;
  line-height: 1.3;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #999 none;
  color: #fff; }
  .btn:hover, .btn-normal:hover, .btn-success:hover, .btn-primary:hover, .btn-action:hover, .btn-link:hover, .btn:focus, .btn-normal:focus, .btn-success:focus, .btn-primary:focus, .btn-action:focus, .btn-link:focus, .btn.focus, .focus.btn-normal, .focus.btn-success, .focus.btn-primary, .focus.btn-action, .focus.btn-link {
    color: #fff;
    text-decoration: none; }
  .btn:active, .btn-normal:active, .btn-success:active, .btn-primary:active, .btn-action:active, .btn-link:active, .btn.active, .active.btn-normal, .active.btn-success, .active.btn-primary, .active.btn-action, .active.btn-link {
    background-image: none;
    outline: 0; }
  .btn:disabled, .btn-normal:disabled, .btn-success:disabled, .btn-primary:disabled, .btn-action:disabled, .btn-link:disabled, .btn:disabled:hover, .btn-normal:disabled:hover, .btn-success:disabled:hover, .btn-primary:disabled:hover, .btn-action:disabled:hover, .btn-link:disabled:hover {
    background: #ccc !important;
    border: 1px solid #ccc !important;
    cursor: default;
    color: #fff; }
  .btn[disabled], [disabled].btn-normal, [disabled].btn-success, [disabled].btn-primary, [disabled].btn-action, [disabled].btn-link, .btn[disabled]:hover, [disabled].btn-normal:hover, [disabled].btn-success:hover, [disabled].btn-primary:hover, [disabled].btn-action:hover, [disabled].btn-link:hover {
    background: #ccc !important;
    border: 1px solid #ccc !important;
    cursor: default;
    color: #fff; }

.btn-normal {
  background: #ff752a;
  border: 1px solid #f46916;
  color: #fff; }
  .btn-normal:hover {
    background: rgba(255, 117, 42, 0.8); }
  .btn-normal:disabled, .btn-normal:disabled:hover {
    background: #ccc !important;
    border: 1px solid #ccc !important;
    cursor: default;
    color: #fff; }
  .btn-normal[disabled], .btn-normal[disabled]:hover {
    background: #ccc !important;
    border: 1px solid #ccc !important;
    cursor: default;
    color: #fff; }

.btn-success {
  background: #f46916;
  border: 1px solid #f46916;
  color: #fff; }
  .btn-success:hover {
    background: rgba(244, 105, 22, 0.8); }
  .btn-success:disabled, .btn-success:disabled:hover {
    background: #ccc;
    border: 1px solid #ccc;
    cursor: default; }

.btn-primary {
  background: #ffac2a;
  border: 1px solid #ffac2a;
  color: #fff !important; }
  .btn-primary:hover {
    background: rgba(255, 172, 42, 0.8);
    border: 1px solid rgba(255, 172, 42, 0.8);
    color: #fff !important; }

.btn-action {
  background: #55bee5;
  border: 1px solid #55bee5;
  color: #fff; }
  .btn-action:hover {
    background: rgba(85, 190, 229, 0.8);
    border: 1px solid rgba(85, 190, 229, 0.8); }

.btn-link {
  font-weight: normal;
  color: #337ab7;
  border-radius: 0; }

.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px; }

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 6px; }

select {
  vertical-align: middle;
  background: none;
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  color: #fff; }

input {
  font-size: 14px;
  vertical-align: middle;
  color: #666;
  font-family: Microsoft YaHei, Helvetica, sans-serif;
  padding: 6px;
  border: 1px solid #ccc;
  background: #fff; }

input[type="radio"] {
  margin-right: 5px; }

input[type="checkbox"] {
  margin-right: 5px; }

.input-control {
  width: 200px;
  border-radius: 4px; }

.planSwitch input[type="radio"],
.planSwitch input[type="checkbox"] {
  display: none; }

label.radio {
  display: inline-block;
  cursor: pointer;
  margin: 5px;
  padding-left: 20px;
  line-height: 17px;
  background: url("../../images/global/btn-radio.png") no-repeat 0 0px; }
  label.radio.checked {
    background: url("../../images/global/btn-radio.png") no-repeat 0 -24px; }

label.checkbox {
  display: inline-block;
  cursor: pointer;
  margin: 5px 0;
  padding-left: 20px;
  line-height: 17px;
  background: url("../../images/global/btn-checkbox.png") no-repeat 0 0px; }
  label.checkbox.checked {
    background: url("../../images/global/btn-checkbox.png") no-repeat 0 -26px; }

.init-radio-style {
  width: 24px;
  height: 24px;
  padding-top: 3px;
  cursor: pointer;
  text-align: center;
  background: url("/images/icons/spr.png") no-repeat 0 -209px; }
  .init-radio-style.on {
    background-position: 0 -233px; }
  .init-radio-style .radio-class {
    opacity: 0;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0); }

/*# sourceMappingURL=_btn.css.map */
