.nav-container {
  margin-right: 10px; }
  .nav-container .nav .logo {
    width: 370px; }
  .nav-container .nav ul li {
    width: 90px; }
  .nav-container .nav ul li a.active, .nav-container .nav ul li a:hover {
    color: #428edf;
    border-top: #428edf 3px solid; }
  .nav-container .go-home a {
    margin-top: 21px;
    color: #fff;
    background: #428edf;
    font-size: 16px;
    display: block;
    padding: 0 20px;
    border-radius: 20px; }

.main-frame {
  width: 100%;
  margin: 0; }
  .main-frame .global-member-store {
    float: left;
    width: 100%; }
    .main-frame .global-member-store .wp {
      width: 1000px;
      margin: 0 auto;
      position: relative; }
    .main-frame .global-member-store .store-top {
      float: left;
      width: 100%;
      height: 350px;
      position: relative;
      background: url("/pointsystem/images/top-banner.png") no-repeat center; }
      .main-frame .global-member-store .store-top .store-login {
        width: 300px;
        height: 320px;
        position: absolute;
        top: 50%;
        right: 50%;
        margin-top: -160px;
        margin-right: -500px;
        background: #fff url("/pointsystem/images/login-bg.png") no-repeat 95px -32px;
        border-radius: 5px;
        overflow: hidden; }
    .main-frame .global-member-store .store-title {
      float: left;
      width: 100%; }
    .main-frame .global-member-store .store-footer {
      float: left;
      width: 100%;
      background: #ebebeb; }
      .main-frame .global-member-store .store-footer .footer-list {
        padding: 40px 0; }
        .main-frame .global-member-store .store-footer .footer-list dl {
          float: left; }
          .main-frame .global-member-store .store-footer .footer-list dl.list-normal {
            width: 155px; }
          .main-frame .global-member-store .store-footer .footer-list dl.list-contact {
            width: 420px; }
          .main-frame .global-member-store .store-footer .footer-list dl dt {
            float: left;
            width: 100%;
            font-size: 18px;
            color: #4c4c4c; }
          .main-frame .global-member-store .store-footer .footer-list dl dd {
            float: left;
            width: 100%; }
            .main-frame .global-member-store .store-footer .footer-list dl dd a {
              font-size: 14px;
              color: #808080; }
              .main-frame .global-member-store .store-footer .footer-list dl dd a span {
                font-size: 20px;
                color: #fc4a52; }
        .main-frame .global-member-store .store-footer .footer-list .images-app {
          float: right;
          width: 100px; }
          .main-frame .global-member-store .store-footer .footer-list .images-app .img-app-download {
            float: left;
            width: 100px;
            height: 100px;
            background-image: url(/pointsystem/images/global_20160523.png);
            background-position: -308px -100px;
            -webkit-background-size: 408px 290px;
            -moz-background-size: 408px 290px;
            background-size: 408px 290px; }
          .main-frame .global-member-store .store-footer .footer-list .images-app p {
            float: left;
            width: 100%;
            margin-bottom: 0; }
      .main-frame .global-member-store .store-footer .copyright-info {
        border-top: 1px solid #ccc;
        line-height: 60px;
        text-align: center;
        font-size: 16px;
        color: #808080; }

/*# sourceMappingURL=pointsystem_task.css.map */
