@charset "utf-8";
/* CSS Document */

.wrapper-hd{ height:98px; width:100%; background:url(../../images/raise/tip-bg.png) repeat-x; position:absolute; z-index:11;}
.header{ width:1180px; margin:0 auto;}
.logo{ width:290px;}
.logo img{ margin-top:12px;}
.hd-nav li{ float:left; position:relative; z-index:11;}
.hd-nav li>a{ font-size:18px; color:#fff; display:inline-block; width:110px; height:98px; text-align:center; line-height:98px;}
.hd-nav li:hover >a{ background:#55acef;}
.sub-nav{ position:absolute; left:0px; top:93px; width:110px;}
.sub-nav dd{ text-align:center; height:38px; line-height:38px; background:url(../../images/raise/sub-li-bg.png) repeat;border-top:1px solid #e1e1e1;}
.sub-nav dd a{ font-size:16px; color:#000;}
.sear-log{ margin-top:36px;}
.sear-bg{ display:inline-block; width:172px; height:32px; background:url(../../images/raise/search.png) no-repeat;}
.sear-bg-input{ margin-top:7px;margin-left:3px; text-indent:5px; width:145px; border:none;}
.ser-btn{padding:2px 5px;}
.lbt{ display:inline-block; width:48px; height:28px; text-align:center; line-height:28px; color:#fff; font-size:14px; border-radius:5px;}
.lbt:hover,.lbt-hover{ background:#ec6517;}


.hd-right{width:98px; height:98px; background:#6e6e6e; display:inline-block; vertical-align:middle}
.icon {
  height: 51px;
  margin-left: 21px;
  margin-top: 30px;
  width: 51px;
}
.hover01 li{ position:relative; line-height:38px; padding-bottom:28px; z-index:22;}
.hover01 li>i{display:inline-block;width:15px; height:21px; background:url(../../images/raise/select.png) no-repeat; cursor:pointer;}
.hover01 li>i:hover{}
.hover01 li a{ font-size:14px; color:#000;}
.hover02{ position:absolute; right:0px; top:98px; width:125px; border-left:1px solid #e4e4e4;border-right:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4; background:#fff; display:none}
.hover02 dd{ padding-left:18px;}
.hover02 dd i{display:inline-block; width:18px; height:25px; vertical-align:middle;}
.hover02 dd i.ic-h1{ background:url(../../images/raise/i-hover.png) no-repeat 0px 3px;}
.hover02 dd:hover i.ic-h1{background:url(../../images/raise/i-hover.png) no-repeat -19px 3px;}
.hover02 dd i.ic-h2{ background:url(../../images/raise/i-hover.png) no-repeat 0px -23px;}
.hover02 dd:hover i.ic-h2{background:url(../../images/raise/i-hover.png) no-repeat -18px -23px;}
.hover02 dd i.ic-h3{ background:url(../../images/raise/i-hover.png) no-repeat 0px -55px;}
.hover02 dd:hover i.ic-h3{background:url(../../images/raise/i-hover.png) no-repeat -17px -55px;}
.hover02 dd i.ic-h4{ background:url(../../images/raise/i-hover.png) no-repeat 0px -85px;}
.hover02 dd:hover i.ic-h4{background:url(../../images/raise/i-hover.png) no-repeat -18px -85px;}
.hover02 dd i.ic-h5{ background:url(../../images/raise/i-hover.png) no-repeat 0px -117px;}
.hover02 dd:hover i.ic-h5{background:url(../../images/raise/i-hover.png) no-repeat -20px -117px;}
.hover02 dd i.ic-h6{ background:url(../../images/raise/i-hover.png) no-repeat 0px -157px;}
.hover02 dd:hover i.ic-h6{background:url(../../images/raise/i-hover.png) no-repeat -18px -157px;}
.hover02 dd i.ic-h7{ background:url(../../images/raise/i-hover.png) no-repeat 0px -195px;}
.hover02 dd:hover i.ic-h7{background:url(../../images/raise/i-hover.png) no-repeat -17px -195px;}
.hover02 dd i.ic-h8{ background:url(../../images/raise/i-hover.png) no-repeat 0px -216px;}
.hover02 dd:hover i.ic-h8{background:url(../../images/raise/i-hover.png) no-repeat -18px -216px;}
.hover01 li:hover .hover02{ display:block}
.hover02 dd:hover a{ color:#55acef;}
.delu{ width:1180px; margin:0 auto; padding-top:40px; padding-bottom:30px;}
.user-img{ width:150px; height:150px; border:4px solid #adadad; float:left;}
.user-info{ float:left; margin-left:20px;}
.user-btn{ float:right; margin-right:120px; margin-top:20px;}
.user-name{ padding-bottom:25px;}
.delu p img{ vertical-align:middle}
.user-btn a{ color:#adadad; border:2px solid #adadad; padding:6px 10px; margin-right:20px;}
.user-btn a:hover{ background:#55acef; color:#fff;}