@charset "UTF-8";
/**
 *
 * @authors Belen (985322190@qq.com)
 * @date    2015-08-03 14:32:14
 * @version $Id$
 */
body {
    overflow-x: hidden;
}

a {
    color: #000;
    text-decoration: none;
}

a.linked {
    color: #377ac6;
}

a:hover {
    color: #ff9c1b;
    text-decoration: none;
}

.badgeCol {
    color: #ff0000;
}

.navbar-brand {
    padding: 10px 15px;
    height: auto;
}

.top-menu {
    background: url(/images/nav_bg.jpg) repeat-x;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding: 10px 15px;
        margin: 0 2px;
    }
}

.top-menu li a:hover {
    background: #ff9c1b;
    text-shadow: none;
    color: #ffffff;
}

.top-menu li.active a {
    background: #ff9c1b;
    text-shadow: none;
    color: #ffffff;
}

.sidenav {
    background: #f1f1f1;
}

.sidenav li.active > a {
    color: #ff9c1b;
}

table td, table th {
    font-size: 12px;
}

.table-center th, .table-center td {
    text-align: center;
}

.file-input {
    margin-bottom: 10px;
}

/*登录*/
.login-bg {
    background: #eee;
}

.login {
    width: 360px;
    height: 400px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 10px 30px;
    background: #ccc;
    border-radius: 5px;
    z-index: 9999;
}
.captcha-column input{
    width:70%;
    float:left;
}
.captcha-img {
    height: 34px;
    width: 30%;
    float: left;
    text-align: center;
}


.files-input {
    width: 30%;
    display: inline-block;
}

.col-file-box {
    margin-bottom: 10px;
}

.select-box {
    display: inline;
}

.query-build {
    padding-bottom: 20px;
}

.query-build .form-group {
    margin: 10px 20px 10px 0;
}

/*table style*/

.table th,.table td {
    text-align: center;
}

.table-bordered th {
    text-align: center
}

.table .btn-link {
    padding: 0px 2px;
}

.form-horizontal span.form-control {
    border: none;
    box-shadow: none;
}

.query-build input.form-control {
    width: 170px;
    font-size: 13px;
}

td.projectName {
    width: 25%;
}

td.projectName span {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
    overflow: hidden;
    width: 250px;
}

td.td {
    text-align: center;
}

.loan_repay {
    color: #0064cd;
}

.invest_repay {
    color: #cc0000;
}

.pagination-control button {
    margin: 20px 0 0 10px;
}

.currentTab {
    padding-top: 15px;
}

.bootstrap-select {
    width: auto !important;
}

.bootstrap-select button.dropdown-toggle {
    width: 170px;
}

/*.bootstrap-select .btn { padding:3px 10px; font-size: 13px;}*/
.btnSearch {
    padding: 5px 20px;
    font-size: 14px;
}

.web-error-message {
    display: none;
}

.error {
    color: red;
}

.publishAD {
    margin-right: 40px;
    margin-top: 10px;
}
.line-size{
    float:left;
    line-height: 34px;
}
.already-btn{
    color:#cc0000;
}
.confirm-btn{
    display: inline-block;
    float: left;
}
.tip-container{
    width:370px;
    height:52px;
    display: none;
    position: fixed;
    top:50%;
    left:50%;
    margin-top: -26px;
    margin-left: -185px;
}
.tip-container .alert{
    margin-bottom: 0;
}
.check-btn{
    float: left;
    margin-top: 2px;
}
.add-check{

}

/*search box*/
.searchbox {
    margin-bottom: 20px;
}

.title-list{
    text-align: center;
    border: 1px solid #ddd;
    border-bottom: none;
    line-height: 35px;
    font-size: 14px;
    color: #333;
    font-weight: bold;
}
.title-list span{
    margin:0 20px;
}
.detail-tool{
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 10px;
    overflow: hidden;
    width: 400px;
}
