@charset "UTF-8";
/**
 * 
 * @authors Belen (985322190@qq.com)
 * @date    2015-08-03 14:32:14
 * @version $Id$
 */
*{ outline: none}
a {
    color: #000;
    text-decoration: none;
}

a:hover {
    color: #cc9900;
}

.navbar {
    background: #eee url(../images/header_bg.jpg) no-repeat right top;
    margin-bottom: 10px;
}

.navbar-brand {
    padding: 0 15px;
    height: auto;
}

.navbar-collapse {
    border-bottom: 1px solid #ccc;
    background: url(../images/nav_bg.jpg) repeat-x;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding: 10px 15px;
    }
}

.navbar-nav > li > a:hover, .navbar-nav > li.active > a {
    background: #666666;
    color: #fff;
    text-shadow: none;
}

.bs-docs-sidenav {
    background: #f1f1f1;
}

.bs-docs-sidenav li.active > a {
    color: #cc9900
}

.table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    font-size: 12px;
}

.file-input {
    margin-bottom: 10px;
}

/*登录*/
.login-bg{ background: #eee;}
.login {
    width: 500px;
    height: 400px;
    margin: -250px 0 0 -250px;
    position: absolute;
    left: 50%;
    top: 50%;
    padding:20px 30px;
    background: #c1bebe;
    border-radius: 5px;
    z-index: 9999;
}
.captcha-img{
    height: 34px;
    background: #ccc;
    width: 38.66666%;
}

/*下拉框*/
.files-input{ width: 30%;
    display: inline-block;}
.col-file-box{ margin-bottom: 10px;}
.select-box{
    display: inline;}

/*==========以下部分是Validform必须的===========*/
.Validform_checktip{
    margin-left:8px;
    line-height:20px;
    height:20px;
    overflow:hidden;
    color:#999;
    font-size:12px;
}
.Validform_right{
    color:#71b83d;
    padding-left:20px;
    background:url(images/right.png) no-repeat left center;
}
.Validform_wrong{
    color:red;
    padding-left:20px;
    white-space:nowrap;
    background:url(images/error.png) no-repeat left center;
}
.Validform_loading{
    padding-left:20px;
    background:url(images/onLoad.gif) no-repeat left center;
}
.Validform_error{
    background: #ffe7e7 url(../images/error.png) no-repeat right center;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999'); box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#999;
    background: -moz-linear-gradient(top, #999, #666 100%); background: -webkit-gradient(linear, 0 0, 0 100%, from(#999), to(#666)); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#666666');}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#ccc;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #bbb; border-top:none; text-align:left;}
.form-error{ color: #cc0000; font-size: 12px;}