<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.point.repository.mapper.PointBillMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache" />

    <resultMap id="pointBillResultMap" type="PointBillModel">
        <id column="id" property="id"></id>
        <result column="order_id" property="orderId"></result>
        <result column="login_name" property="loginName"></result>
        <result column="point" property="point"></result>
        <result column="business_type" property="businessType"></result>
        <result column="note" property="note"></result>
        <result column="created_time" property="createdTime"></result>
    </resultMap>
    <resultMap id="pointBillPaginationItemView" type="PointBillPaginationItemView" extends="pointBillResultMap">
    </resultMap>

    <insert id="create" parameterType="PointBillModel" useGeneratedKeys="true" keyProperty="id">
        insert into point_bill (order_id, login_name, point, business_type, note, created_time)
        value(#{orderId} #{loginName}, #{point}, #{businessType}, #{note}, #{createdTime})
    </insert>

    <select id="findByLoginName" parameterType="java.lang.String" resultMap="pointBillResultMap">
        select * from point_bill where login_name = #{loginName} order by created_time desc;
    </select>

    <select useCache="false" id="findPointBillPagination" parameterType="map" resultMap="pointBillPaginationItemView">
        select * from point_bill
        <where>
            <if test="loginName != null and loginName != ''">
                and login_name = #{loginName}
            </if>
            <if test="businessType == 'obtain'">
                and business_type IN ('SIGN_IN','TASK','INVEST')
            </if>
            <if test="businessType == 'use'">
                and business_type = 'EXCHANGE'
            </if>
            <if test="startTime != null  &amp;&amp;  endTime != null">
                and created_time between #{startTime} and #{endTime}
            </if>
        </where>
        order by created_time desc
        limit #{index}, #{pageSize}
    </select>

    <select useCache="false" id="findCountPointBillPagination" parameterType="map" resultType="long">
        select count(1)
        from point_bill
        <where>
            <if test="loginName != null and loginName != ''">
                and login_name = #{loginName}
            </if>
            <if test="businessType == 'obtain'">
                and business_type IN ('SIGN_IN','TASK','INVEST')
            </if>
            <if test="businessType == 'use'">
                and business_type = 'EXCHANGE'
            </if>
            <if test="startTime != null &amp;&amp; endTime != null">
                and created_time between #{startTime} and #{endTime}
            </if>
        </where>
    </select>


</mapper>