<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.point.repository.mapper.PointTaskMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache"/>

    <resultMap id="pointTaskResultMap" type="PointTaskModel">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="point" property="point"></result>
        <result property="createdTime" column="created_time"/>
        <result property="active" column="active"/>
        <result property="multiple" column="multiple"/>
    </resultMap>

    <select id="findPointTaskPagination" resultMap="pointTaskResultMap" parameterType="map">
        select * from point_task ORDER by created_time DESC limit #{index},#{pageSize}
    </select>

    <select id="findCountPointTaskPagination" resultType="int">
        select count(*)  from point_task
    </select>

    <select id="findById" resultMap="pointTaskResultMap">
        select * from point_task where id = #{id}
    </select>

    <select id="findByName" resultMap="pointTaskResultMap">
        select * from point_task where name = #{pointTask}
    </select>

</mapper>