<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.point.repository.mapper.ProductOrderMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache"/>

    <resultMap id="productOrderResultMap" type="ProductOrderModel">
        <id column="id" property="id"/>
        <result column="product_id" property="productId"/>
        <result column="product_price" property="productPrice"/>
        <result column="num" property="num"/>
        <result column="total_price" property="totalPrice"/>
        <result column="real_name" property="realName"/>
        <result column="mobile" property="mobile"/>
        <result column="address" property="address"/>
        <result column="consignment" property="consignment"/>
        <result column="consignment_time" property="consignmentTime"/>
        <result column="created_user" property="createdUser"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

    <insert id="create" parameterType="ProductOrderModel" useGeneratedKeys="true" keyProperty="id">
        insert into product_order (`product_id`, `product_price`, `num`, `total_price`, `real_name`, `mobile`, `address`, `consignment`, `consignment_time`, `created_by`, `created_time`)
        value(#{productId}, #{productPrice},  #{num},  #{totalPrice},  #{realName},  #{mobile},  #{address}, #{consignment}, #{consignmentTime}, #{createdBy}, #{createdTime})
    </insert>

    <update id="update" parameterType="ProductOrderModel">
        update product_order
        set `consignment` = #{consignment},
            `consignment_time` = #{consignment_time}
        where `id` = #{id}
    </update>

    <select id="findById" parameterType="long" resultMap="productOrderResultMap">
        select * from product_order where id = #{id};
    </select>

    <select id="findProductOrderCount" resultType="long">
        select count(id) from product_order
    </select>

    <select id="findProductOrderList" resultMap="productOrderResultMap">
        select * from product_order
        order by created_time desc
    </select>

</mapper>