<div class="layer-content">
<div class="pad-s tc color-note">
<p class="mb-0">应回款金额 = 应收本金 + 应收利息 - 利息管理费</p>
<p class="mb-0">实收金额 = 应收本金 + 实收利息 + 实收罚息 - 实扣利息管理费</p>
</div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>期数</th>
            <th>应回款时间</th>
            <th class="tr">应回款金额(元)</th>
            <th class="tr">应收本金(元)</th>
            <th class="tr">应收利息(元)</th>
            <th class="tr">利息管理费(元)</th>
            <th>回款时间</th>
            <th class="tr">实收金额(元)</th>
            <th class="tr">实收利息(元)</th>
            <th class="tr">实收罚息(元)</th>
            <th class="tr">实扣利息管理费(元)</th>
            <th>状态</th>
        </tr>
        </thead>

        <tbody>
        {{#records}}
            <tr>
                <td>{{period}}</td>
                <td>{{repayDate}}</td>
                <td class="tr">{{amount}}</td>
                <td class="tr">{{corpus}}</td>
                <td class="tr">{{expectedInterest}}</td>
                <td class="tr">{{expectedFee}}</td>
                <td>
                    {{#actualRepayDate}}{{.}}{{/actualRepayDate}}
                    {{^actualRepayDate}}--{{/actualRepayDate}}
                </td>
                <td class="tr">
                    {{#actualAmount}}{{.}}{{/actualAmount}}
                    {{^actualAmount}}--{{/actualAmount}}
                </td>
                <td class="tr">
                    {{#actualInterest}}{{.}}{{/actualInterest}}
                    {{^actualInterest}}--{{/actualInterest}}
                </td>
                <td class="tr">
                    {{#defaultInterest}}{{.}}{{/defaultInterest}}
                    {{^defaultInterest}}--{{/defaultInterest}}
                </td>
                <td class="tr">
                    {{#actualFee}}{{.}}{{/actualFee}}
                    {{^actualFee}}--{{/actualFee}}
                </td>
                <td>
                    {{status}}
                </td>
            </tr>
        {{/records}}
        </tbody>

    </table>
</div>