<table class="invest-list table-striped">
    <thead>
        <tr>
            <th>项目名称</th>
            <th class="tr">我的投资(元)</th>
            <th>交易时间</th>
            <th>交易状态</th>
            <th>下次回款(元)</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
       {{#records}}
        <tr>
            <td>
                <i {{#birthdayCoupon}}class="birth-icon"{{/birthdayCoupon}}></i>
                <a href="/loan/{{loanId}}" class="project-name">{{loanName}}
            </td>
            <td class="tr">{{amount}}</td>
            <td>{{createdTime}}</td>
            <td>{{status}}</td>
            <td>
            {{#nextRepayDate}}
                {{nextRepayDate}} / {{nextRepayAmount}}
            {{/nextRepayDate}}
            {{^nextRepayDate}} -- {{/nextRepayDate}}
            </td>
            <td>
            {{#hasInvestRepay}}
            <a class="show-invest-repay" data-url="/investor/invest/{{investId}}/repay-data">回款记录</a> |
            <a class="red" href="/contract/investor/loanId/{{loanId}}" target="_blank">合同</a>
            {{/hasInvestRepay}}
            {{^hasInvestRepay}} -- {{/hasInvestRepay}}
            </td>
        </tr>
        {{/records}}

        {{^records}}
         <td colspan="6" class="no-data">暂时没有投资记录</td>
        {{/records}}
    </tbody>
</table>

