<table class="loan-list table-striped">
    {{#isRepaying}}
        <thead>
        <tr>
            <th>项目名称</th>
            <th>放款时间</th>
            <th class="tr">借款金额(元)</th>
            <th class="tr">待还总额(元)</th>
            <th>下次还款</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{#records}}
            <tr>
                <td>{{loanName}}</td>
                <td>{{recheckTime}}</td>
                <td class="tr">{{loanAmount}} 元</td>
                <td class="tr">{{unpaidAmount}} 元</td>
                <td>
                    {{#nextRepayDate}}{{nextRepayDate}}{{/nextRepayDate}}
                    {{^nextRepayDate}}--{{/nextRepayDate}}
                </td>
                <td><a class="show-loan-repay" data-url='/loaner/loan/{{loanId}}/repay-data'>还款计划</a> |
                    <a class="red" href="/contract/loaner/loanId/{{loanId}}" target="_blank">合同</a>
                </td>
            </tr>
        {{/records}}
        {{^records}}
            <tr>
                <td colspan="6" class="no-data">暂时没有记录</td>
            </tr>
        {{/records}}
        </tbody>
    {{/isRepaying}}

    {{#isComplete}}
        <thead>
        <tr>
            <th>项目名称</th>
            <th>放款时间</th>
            <th>应还总额</th>
            <th>实还总额</th>
            <th>结清时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {{#records}}
            <tr>
                <td>{{loanName}}</td>
                <td>{{recheckTime}}</td>
                <td>{{expectedRepayAmount}} 元</td>
                <td>{{actualRepayAmount}} 元</td>
                <td>{{completedDate}}</td>
                <td><a class="show-loan-repay" data-url='/loaner/loan/{{loanId}}/repay-data'>还款计划</a> |
                    <a class="red" href="/contract/loaner/loanId/{{loanId}}" target="_blank">合同</a>
                </td>
            </tr>
        {{/records}}
        {{^records}}
            <tr>
                <td colspan="6" class="no-data">暂时没有记录</td>
            </tr>
        {{/records}}
        </tbody>
    {{/isComplete}}

    {{#isCancel}}
        <thead>
        <tr>
            <th>项目名称</th>
            <th>借款金额</th>
            <th>流标时间</th>
        </tr>
        </thead>
        <tbody>
        {{#records}}
            <tr>
                <td>{{loanName}}</td>
                <td>{{loanAmount}} 元</td>
                <td>{{recheckTime}}</td>
            </tr>
        {{/records}}
        {{^records}}
            <tr>
                <td colspan="3" class="no-data">暂时没有记录</td>
            </tr>
        {{/records}}
        </tbody>
    {{/isCancel}}
</table>