<div class="pagination" data-url="">
    <span class="count">共 {{count}} 条，当前第 {{index}} 页</span>
    <span class="prev {{#hasPreviousPage}}active{{/hasPreviousPage}}">上一页</span>
    <span class="next {{#hasNextPage}}active{{/hasNextPage}}">下一页</span>
</div>