@import "account_common";

/*loaner loan list ,invest box content*/
.loan-list-content, .invest-list-content, .user-bill-list-content {
  .item-block {
    display: block;
    margin-top: 10px;
    line-height: 30px;
    font-size: 12px;

    .select-item {
      display: inline-block;
      padding: 0 10px;
      margin-left: 10px;
      color: #333;
      cursor: pointer;

      &.current {
        background: #ffac2a;
        color: #fff;
        border-radius: 3px;
      }
    }
  }
}

/* I want to invest page*/
.loan-list-content {

  .project-type{
    margin-bottom: 15px;
    li{
      margin:0 15px;
      display: inline-block;
      a{
        font-size:18px;
        color:#0e050a;
      }
      &.active{
        border-bottom:4px solid #ff9c1b;
        a{
          color:#ff9c1b;
        }
      }
    }
  }
  .loan-list-box ul {
    li {
      border-radius: 8px;
      border: 1px solid #e5e5e5;
      padding: 5px 2px;
      margin-top: 10px;
      position: relative;
      cursor: pointer;
      background: #fff;

      &:hover {
        // border: 1px solid #cc0000;
        background: #fff;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), -1px -1px 5px rgba(0, 0, 0, 0.1);
      }
      .hot {
        width: 71px;
        height: 71px;
        background: url("/images/icons/hot-n.png") no-repeat;
        position: absolute;
        left: -5px;
        top: -6px;
      }
      .syl {
        width: 71px;
        height: 71px;
        background: url("/images/icons/img-syl.png") no-repeat;
        position: absolute;
        left: -5px;
        top: -6px;
      }
      .wyx {
        width: 71px;
        height: 71px;
        background: url("/images/icons/img-wyx.png") no-repeat;
        position: absolute;
        left: -5px;
        top: -6px;
      }
      .jyf {
        width: 71px;
        height: 71px;
        background: url("/images/icons/img-jyf.png") no-repeat;
        position: absolute;
        left: -5px;
        top: -6px;
      }
      .new-user{
        position: absolute;
        top: -5px;
        left: 0;
        width: 56px;
        height: 75px;
        background: url("/images/sign/index_sprites_20160601.png") 0px -170px no-repeat;
      }

      .loan-info-frame {
        width: 690px;
        padding-bottom: 10px;
        border-right: 1px solid #ccc;
        text-align: center;

        .loan-top {
          padding: 3px 20px 0 60px;
          height: auto;
          overflow: auto;
          line-height: 50px;

          .l-title {
            font-size: 20px;
            color: #4e4e4e;
            display: inline-block;
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            .new-tip {
              font-size: 12px;
              color: #ff9c1b;
              border: 1px solid #ff9c1b;
              padding: 2px 5px;
              border-radius: 20px;
              margin-left: 10px;
            }
          }
          .l-way {
            font-size: 12px;
            color: #b3b3b3;
            border-radius: 12px;
            border: 1px solid #e5e5e5;
            display: inline;
            line-height: 1;
            padding: 6px 15px;
            margin-top: 12px;
          }
        }
        .loan-info-dl {
          width: 90%;
          margin: 0px auto;
          line-height: 1.4;

          dl {
            width: 33%;
            float: left;
            color: #808080;
            font-size: 17px;

            dd {
              color: #999;

              em {
                font-size: 26px;
                color: #ff7200;
              }
              i {
                font-size: 16px;
                color: #ff7200;
                &.fa-mobile{
                  font-size:20px;
                }
              }
              span{
                font-size: 12px;
                color: #ff9c1b;
                border: 1px solid #ff9c1b;
                padding: 2px 5px;
                border-radius: 20px;
              }
            }
          }
        }
      }

      .loan-process {
        float: left;
        width: 240px;
        margin: 10px 30px 0px 30px;
        &.active-after{
          .will,.time-item{
            display:none;
          }
          .pro,.now{
            display:block;
          }
        }
        .will,.time-item{
          display:block;
        }
        .pro,.now{
          display:none;
        }
        .time-item{
          display: inline-block;
          border-radius: 20px;
          border: 1px dashed red;
          margin-top: 15px;
          width: 240px;
          font-size: 15px;
          height: 42px;
          line-height: 42px;
          color: red;
          text-align:center;
        }
        .rest-amount {
          color: #ff752a;
          font-size: 13px;
          padding-top: 10px;
          line-height: 1.3;

          i {
            font-size: 20px;
          }
          .btn-normal {
            padding: 7px 0;
            width: 100%;
            font-size: 16px;
            font-weight: bold;
            margin-top: 8px;
          }
          &.wait-invest {
            color: #999;


            .btn-normal {
              background: rgba(255, 156, 27, 1);
              border-color: rgba(255, 156, 27, 1);

              &:hover {
                background: rgba(255, 156, 27, 0.8);
                border-color: rgba(255, 156, 27, 0.8);
              }
            }
          }
          &.finish-invest {
            color: #999;

            button:disabled {
              background: #ccc !important;
              border-color: #ccc !important;
            }
          }
        }
      }

    }
  }
}

/* refer page */
.invest-list-content {

  .column-title {
    em {
      margin-right: 40px;
      &.active {
        border-bottom: 4px solid #ff7200;
        color: #ff7200;
      }
      &.normal {
        border-bottom: none;
        color: #999;
        cursor: pointer;
      }
    }
  }
  .date-filter {
    margin-bottom: 20px;

    input {
      margin-left: 3px;
      margin-right: 8px;

      &.login-name {
        width: 160px;
      }
      &.btn-normal, &.btn-primary {
        padding: 8px 25px;
      }
      &.btn-primary {
        margin-right: 0;
      }
    }
  }
  table.invest-list {
    td {
      font-size: 12px;
      position:relative;
      &.loan-td{
        padding-left:60px;
      }
      span.icon-list{
        position: absolute;
        width: 60px;
        height: 20px;
        left: 0;
        top: 50%;
        margin-top: -10px;
        &.loan-icon-list{
          width:60px;
        }
        .birth-icon {
          float: left;
          width: 20px;
          height: 20px;
          background: url("../../images/sign/icon_result.png") no-repeat;
          background-position: 0px 0px;
        }
        .coupon-icon {
          float: left;
          width: 20px;
          height: 20px;
          background: url("../../images/sign/icon_result.png") no-repeat center;
          background-position: 2px -22px;
        }
        .money-icon {
          float: left;
          width: 20px;
          height: 20px;
          background: url("../../images/sign/icon_result.png") no-repeat center;
          background-position: 2px -46px;
        }
        .newbie-icon {
          float: left;
          width: 20px;
          height: 20px;
          background: url('../../images/sign/icon_result.png') no-repeat center;
          background-position: 2px -72px;
        }
        .ticket-icon {
          float: left;
          width: 20px;
          height: 20px;
          background: url('../../images/sign/icon_result.png') no-repeat center;
          background-position: 2px -72px;
        }
        .first-icon {
          float: left;
          width: 20px;
          height: 20px;
          background: url('../../images/sign/icon_result.png') no-repeat center;
          background-position: 2px -98px;
        }
        .max-icon {
          float: left;
          width: 20px;
          height: 20px;
          background: url('../../images/sign/icon_result.png') no-repeat center;
          background-position: 0px -126px;
        }
        .last-icon {
          float: left;
          width: 20px;
          height: 20px;
          background: url('../../images/sign/icon_result.png') no-repeat center;
          background-position: 0px -151px;
        }
        .extra-rate {
          float: left;
          width: 20px;
          height: 20px;
          background: url('../../images/sign/icon_result.png') no-repeat center;
          background-position: 2px -175px;
        }
      }
      .loan-name-col {
        display: inline-block;
        width: 170px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .project-name {
        width: 175px;
        display: inline-block;
        margin-left:40px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}

.user-bill-list-content {
  .money-box {
    font-size: 12px;
    padding-bottom: 30px;
    box-shadow: 10px 10px 20px #f4f6fb;
    a {
      display: inline-block;
      margin-right: 10px;
      line-height: 1;
      padding: 8px 10px;
      letter-spacing: 0px;
    }
    .balance {
      width: 300px;
      color: #666;
      font-size: 16px;
      padding: 0px;
      .money {
        font-size: 46px;
        color: #333333;
      }
    }

    .recharge-cash {
      font-size: 16px;
      color: #999;
      >span {
        vert-align: middle;
      }
      .money {
        font-size: 20px;
        color: #333;
        font-weight: bold;
      }
     p {
       position: relative;
       text-indent: 30px;
       .icon-small {
         width: 18px;
         height: 18px;
         position: absolute;
         left: 0;
         top: 10px;
         &.icon-recharge {
           background: url('../../images/sign/icon_recharge.png') no-repeat left center;
           background-size: contain;
         }
         &.icon-cash {
           background: url('../../images/sign/icon_getCash.png') no-repeat left center;
           background-size: contain;
         }
       }
     }
    }
    .btns {
      clear: both;
      .btn-list {
        width: 120px;
        height: 40px;
        border: 1px solid #ff7200;
        padding: 0;
        box-sizing: border-box;
        color: #ff7200;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
      }
    }

  }
}

.popLayer .person-info-btn button {
  width: auto;
  height: 36px;
  letter-spacing: 1.3;
}
.btn-success {
 padding:8px 26px;
}

