@charset "utf-8";
@import "account_common";
//Personal Info Page
.personal-info {
  .info-list {
    color: #797979;
    line-height: 38px;
    em.info {
      display: inline-block;
    }
    .fa {
      font-size: 16px;
      padding-right: 5px;
    }
    .info-title {
      font-weight: bold;
      display: inline-block;
      width: 70px;
      text-align: right;
      margin-right: 20px;
      color: #000;
    }
    .binding-set {
      display: inline-block;
      width: 140px;
      float: right;

      .ok {
        color: #2ac30c;
      }
      .no {
        color: #ff1010;
      }
      a.setlink {
        color: #ffac2a;
        padding-left: 10px;
      }
    }
  }
}