//Personal Info Page
.voice-captcha {
  width: 94px;
  color: #999;
  text-align: left;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
  line-height: 16px;
  a {
    color: #ff9c1b;
  }
}
#alreadyTurnOffDOM {
  .font-icon {
    width: 30px;
    height: 30px;
    margin: 0 auto;
    background:url('../../images/myaccount/rightOk.png') no-repeat center;
    background-size:100%;
  }
  .text-m {
    margin-top: 10px;
  }
}
#turnOnNoPasswordInvestForm {
  .person-info-btn {
    margin-top: 16px;
  }
  .error-box {
    text-indent: 86px;
  }
}

.person-info-btn {
  button {
    margin-top: 0px;
    width: 37%;
    letter-spacing: 2px;
    font-size: 13px;
    &.btn-cancel {
      margin-right:20px;
    }
    &.btn-close {
      background: #e5e5e5;
      border-width: 0!important;
      color:#808080;
    }
  }
}
.img-captcha {
  width: 134px;
}
.sms-captcha {
  width: 134px;
}
.personal-info {
  .info-list {
    color: #797979;
    line-height: 38px;
    em.info {
      display: inline-block;
    }
    .fa {
      font-size: 16px;
      padding-right: 5px;
    }
    .info-title {
      font-weight: bold;
      display: inline-block;
      width: 70px;
      text-align: right;
      margin-right: 20px;
      color: #000;
    }
    .binding-set {
      display: inline-block;
      width: 140px;
      float: right;

      .ok {
        color: #2ac30c;
      }
      .no {
        color: #ff1010;
      }
      a.setlink {
        color: #ffac2a;
        padding-left: 10px;
      }
    }
  }
}
.risk-tip-item{
  float:left;
  width:600px;
  height:310px;
  background:url('../../images/myaccount/risk-bg.jpg') no-repeat center;
  background-size:100%;
  position: relative;
  text-align:center;
  display:none;
  .close-risk{
    position: absolute;
    top:10px;
    right:10px;
    width:20px;
    height:20px;
    background:url('../../images/myaccount/close-risk.png') no-repeat center;
    background-size:100%;
    cursor:pointer;
  }
  .to-risk{
    display:inline-block;
    width:220px;
    height:50px;
    line-height:50px;
    text-align:center;
    background: #ffe200;
    font-size:24px;
    color:#ff0d2a;
    margin-top:220px;
    border-radius:50px;
  }
}
.change-role-btn {
  padding-left: 6px!important;
}
.fa-user-circle:before {
  padding-left: 4px;
  padding-right: 0;
  vertical-align: middle;
  display: inline-block;
  width: 14px;
  height: 14px;
  content: ' ';
  background:url('../../images/myaccount/role_icon.png') no-repeat center;
}