.invest-list-content {
  .bar-top-img img {
    width:100%;
  }
  .btn-normal,.btn-primary {
    padding: 7px 15px;
    letter-spacing: 0px;
  }
  input[type="text"] {
    height:32px;
    border:1px solid #e6e6e6;
    background: #fcfcfc;
    padding: 0px 6px;
  }
  .bar-top-img{
    a{
      display:inline-block;
      width:100%;
      height:123px;
      background:url("../../images/sign/aboutus/bar-refer-sign.png") center no-repeat;
      background-size:100%;
    }
  }
  .invite-friend-box {
    margin-top:20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom:1px solid #e7eaee;
    .invite-friend-inner {
      width:50%;
      color: #4c4c4c;
      .invite-title {
        font-size:18px;
        line-height: 30px;
        i {
          display: inline-block;
          height:24px;
          width:6px;
          border-radius: 8px;
          background: #ff7200;
          vertical-align: text-bottom;
          margin-right:10px;
        }
      }
      .wechat-code {
        margin-top:20px;
        .img-code {
          display: inline-block;
          width:140px;
          height:140px;
          border:1px solid #ccc;
          padding:1px;
          canvas {
            width:100%;
            height:100%;
          }
        }
        span {
          display: block;
          line-height: 20px;
          margin-top: 7px;
        }
      }
      dl {
        margin: 30px 40px;
        color: #4c4c4c;
        font-size:14px;
        .input-invite {
          width: 95%;
          margin-bottom:22px;
        }
      }
    }
  }
  .date-filter {

    .title-search {
      background: url("../../images/sign/refer-list/star.png") left 3px no-repeat;
      padding-left:40px;
      font-size:18px;
      line-height: 30px;
      margin-bottom:13px;
    }
    input[type="text"] {
      width:180px;
      margin-right:15px;
    }
    input[type="button"] {
      padding: 7px 25px;
    }
    .btn-search {
      margin-right: 15px;
    }
  }

  .table-out-box {
    margin-top:20px;
    .tab-switch-menu {
      border-bottom: 1px solid #ff752a;
      margin-bottom:10px;
      li {
        float: left;
        width:170px;
        height:40px;
        line-height: 40px;
        color: #4c4c4c;
        font-size: 16px;
        text-align: center;
        cursor: pointer;
        &.current {
          background: #ff752a;
          color: #fff;
        }
      }
    }
    .table-striped {
      th {
        background: #e7eaee;
      }
      tbody {
        tr{
          &:nth-child(2n) {
             background: #f5f8fc;
           }
          &:nth-child(2n+1) {
            background: #fff;
          }
        }
      }
    }
  }
}