@import "account_common";
$CK1:#ffac2a #ff7a2a;
/* create transfer*/
.create-transfer-content {
  .column-title {
    em {
      &.title-navli {
        border-bottom: 4px solid #999;
        color: #999;
        cursor: pointer;
        margin-right: 40px;
      }
      &.active {
        border-bottom: 4px solid #ff7200;
        color: #ff7200;
      }
    }
    span {
      float: right;
      border-bottom: none;
      font-size: 14px;
      font-weight: normal;
      color: #666;
      cursor: pointer;
      &.rule-show {
        color: #ff752a;
      }
    }
  }
  .rule-list {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;

    .rule-com {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -160px;
      margin-left: -320px;
      width: 510px;
      height: 320px;
      background: #fff;
      padding: 10px 60px;
      border: 1px solid #ccc;

      h3 {
        font-size: 18px;
        text-align: center;
        margin-bottom: 20px;

        span {
          color: #ff7200;
          padding: 10px 65px;
          line-height: 35px;
          border-bottom: 1px solid #ff7200;
        }
      }
      dl {
        margin-bottom: 25px;

        dt {
          font-size: 14px;
          color: #333;
        }
        dd {
          font-size: 12px;
          color: #666;
        }
      }
      .close-icon {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        background: url("../../images/sign/close-btn.png") no-repeat center;
      }
      .close-text {
        text-align: center;
        margin-top:40px;
        span {
          padding: 10px 40px;
          color: #fff;
          background: #ff7200;
          cursor: pointer;
        }
      }
    }
  }
  .filters-list {
    float: left;
    width: 100%;
    margin-bottom: 20px;
    li {
      float: left;
      margin-right: 10px;
      cursor: pointer;
      a{
        float:left;
        color: #4c4c4c;
        font-size: 12px;
        padding: 5px 15px;
      }
      &.active {
        background: #ff752a;
        border-radius: 5px;
        a{
          color: #fff;
        }
      }
    }
  }
  .list-container{
    float:left;
    width:100%;
    .record-list{
      float:left;
      width:100%;
      display:none;
      &.active{
        display:block;
      }
      .transfer-list {
        td {
          font-size: 12px;
          .project-name {
            width: 175px;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }
    .pagination{
      float:left;
      width: 725px;
    }
  }
}