/* withdraw page*/
.withdraw {
  line-height: 3 !important;
  font-size: 15px;
  .calculate {
    font-size: 14px;
    color: #979797;
    margin-left: 77px;
  }
  .withdraw-submit {
    margin-left: 77px;
  }
}