@import 'banks.scss';
//recharge and bind-card pages
.recharge-bind-card {
  position: relative;
  .bind-card-frame {
    border-top-width: 1px !important;
    .e-bank-recharge {
      display: block !important;
      .input-bankcard {
        width: 200px;
      }
    }
    .bank-card-limit{
      float:left;
      width:100%;
      padding-bottom:15px;
      border-bottom: 1px solid #ddd;
      .user-name{
        float:left;
        font-size:14px;
        color:#4c4c4c;
        line-height:30px;
      }
      .bank-list{
        float:right;
        width:380px;
        position: relative;
        label{
          float:left;
          line-height:30px;
        }
        .fa{
          position: absolute;
          top:12px;
          right:5px;
          z-index:999;
        }
        .list-item{
          position: absolute;
          top:0;
          right:0;
          width:260px;
          height:30px;
          background:#f9f9f9;
          border:1px solid #e6e6e6;
          overflow:hidden;
          z-index: 9;
          &.active{
            height:auto;
          }
          li{
            float:left;
            width:240px;
            padding:0 10px;
            font-size:12px;
            color:#4c4c4c;
            line-height:30px;
            &:hover{
              cursor:pointer;
              color:#fff;
              background:#ff752a;
            }
          }
        }
      }
    }
  }
  .bank-item{
    position: absolute;
    top:15px;
    right:0;
    width:380px;
    .bank-list{
      float:right;
      width:380px;
      position: relative;
      label{
        float:left;
        line-height:30px;
      }
      .fa{
        position: absolute;
        top:12px;
        right:5px;
        z-index:999;
      }
      .list-item{
        position: absolute;
        top:0;
        right:0;
        width:260px;
        height:30px;
        background:#f9f9f9;
        border:1px solid #e6e6e6;
        overflow:hidden;
        z-index: 9;
        &.active{
          height:auto;
        }
        li{
          float:left;
          width:240px;
          padding:0 10px;
          font-size:12px;
          color:#4c4c4c;
          line-height:30px;
          &:hover{
            cursor:pointer;
            color:#fff;
            background:#ff752a;
          }
        }
      }
    }
  }
  & ul.payment-mode {
    border-bottom: 1px solid #ccc;

    li {
      width: 114px;
      height: 48px;
      line-height: 48px;
      border: 1px solid #ccc;
      font-size: 17px;
      float: left;
      margin-right: 10px;
      cursor: pointer;
      position: relative;
      bottom: -1px;
      text-align: center;
    }
    li.active {
      border-bottom: #fff 1px solid;
      border-top: #ff7200 1px solid;
    }
    .hot-flag {
      position: absolute;
      z-index: 8;
      right: 3px;
      top: 0;
      background: url("../../images/icons/hot.jpg") no-repeat center center;
      width: 23px;
      height: 23px;
    }
  }
  & .e-bank-recharge {
    overflow: hidden;
  }
  & ol.fast-pay li {
    width: auto;
  }
  & ol {
    z-index: 1;
    float: left;
    overflow: hidden;
    padding: 10px 0;

    & p {
      line-height: 30px;
      padding-left: 25px;
      font-size: 15px;
    }
    & li {
      height: 38px;
      float: left;
      margin-right: 10px;
      cursor: pointer;
      position: relative;
      bottom: -1px;

      .hot-flag {
        position: absolute;
        z-index: 8;
        right: 3px;
        top: -14px;
      }
    }
    li.active {
      border-bottom: #fff 1px solid;
      border-top: #e06b0c 1px solid;
    }
  }
  .recharge-wrapper {
    border: 1px solid #ddd;
    border-top-width: 0;
    padding: 15px 10px;

    .recharge-form, .fast-recharge-form {
      clear: both;
      font-size: 15px;
      color: #353535;
      line-height: 2.5;

      .pad-m {
        line-height: 40px;
      }
    }
    .fast-recharge, .e-bank-recharge {
      display: none;
      border-top: none;
      overflow: hidden;

      &.active {
        display: block;
      }
    }
    .fast-recharge {
      .bind-card-nav {
        span {
          margin: 20px auto;
          display: block;
          text-align: center;
          font-size: 15px;
        }
        input {
          margin: 0 auto;
          display: block;
        }
      }
    }
    .e-bank-recharge {
      ol {
        z-index: 1;
        float: left;
        overflow: hidden;
        padding: 10px 0;

        p {
          line-height: 30px;
          padding-left: 25px;
          font-size: 15px;
        }
        li {
          float: left;
          margin: 10px 15px 5px 10px;
          cursor: pointer;
          label {
            width: 123px;
            height: 38px;
            display: inline-block;
            vertical-align: top;
          }
        }
      }
    }
  }
  .recharge-form, .fast-recharge-form {
    clear: both;

    p {
      margin: 10px 0 0 35px;
      color: #353535;
      font-size: 15px;

      i {
        color: #ffac2a;
        margin-left: 10px;
      }
      .recharge-form, .fast-recharge-form {
        width: 50%;
        margin: 0 auto;
        overflow: hidden;

        p {
          height: 34px;
          line-height: 35px;
          margin: 10px 0 0 35px;
          color: #353535;
          font-size: 15px;

          i {
            color: #ffac2a;
            margin-left: 10px;
          }
          input {
            width: 160px;
            margin: 0 10px;
            padding: 0 15px;
            line-height: 30px;
          }
        }
      }
      .submit {
        margin: 30px auto;
        width: 150px;
        height: 40px;
        background: #cc0000;
        color: #fff;
        display: block;
        line-height: 30px;
      }
    }
  }
}
.ump-title {
  height: 50px;
  line-height: 50px;
  color: #666;
}