/* withdraw page*/
.withdraw {
  line-height: 3 !important;
  font-size: 15px;
  .calculate {
    font-size: 14px;
    color: #979797;
    margin-left: 77px;
    line-height: 2.4!important;
    padding-top: 10px;
  }
  .withdraw-submit {
    margin-left: 77px;
  }

}
.borderBox {
  b {
    color: #4c4c4c;
  }
  color: #808080;
  font-size: 12px;
}