.nav-main {
  width: 1000px;
  margin: 0 auto;
  height: 62px; }
  .nav-main p {
    position: absolute;
    width: 100px;
    height: 62px;
    text-align: center;
    line-height: 62px;
    border-left: #f68e3a 1px solid;
    top: 6px;
    left: 776px;
    display: block;
    font-size: 24px;
    color: #adacac; }
  .nav-main span {
    position: absolute;
    left: 880px;
    top: 60px;
    font-size: 12px;
    color: #1c1c1c; }
    .nav-main span a {
      color: #f68e3a; }

.register {
  width: 972px;
  height: auto;
  overflow: hidden;
  background: #fff;
  margin: 12px auto;
  border: #cecece 1px solid;
  border-radius: 3px;
  position: relative; }
  .register ul {
    width: 100%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 20px;
    color: #f68e3a;
    margin-top: 8px; }
    .register ul li {
      float: left;
      height: 55px; }
      .register ul li a {
        color: #f68e3a;
        display: block;
        height: 55px;
        line-height: 55px; }
        .register ul li a span {
          margin-right: 10px; }
      .register ul li.register-arrow {
        width: 324px;
        background: url(/images/register/register-arrow.png) no-repeat; }
        .register ul li.register-arrow.active {
          color: #fff;
          width: 324px;
          background: url(/images/register/register-arrow-active.png) no-repeat; }
  .register .register-step-two {
    margin-top: 100px; }
  .register label {
    padding-left: 30px;
    height: 38px;
    display: inline-block;
    margin-left: 10px;
    line-height: 38px; }
    .register label.error {
      background: url(/images/register/register.png) no-repeat 0 -82px;
      font-size: 12px;
      color: #f68e3a; }
    .register label.valid {
      background: url(/images/register/register.png) no-repeat 0 -456px; }
  .register .agreement-check {
    float: left; }
  .register .agreement-title {
    float: left;
    font-size: 12px;
    margin-top: -2px;
    padding-left: 5px;
    color: #999; }
  .register .show-agreement {
    color: #999;
    text-decoration: underline; }

.register-step {
  display: none;
  width: 610px;
  height: 410px;
  margin-left: 325px; }
  .register-step ol {
    width: 600px; }
    .register-step ol li {
      width: 600px;
      height: 40px;
      margin-top: 20px;
      position: relative; }
      .register-step ol li .form-error {
        font-weight: normal;
        color: #f68e3a;
        font-size: 12px;
        margin-left: 6px;
        width: 180px;
        float: left;
        line-height: 20px;
        display: block;
        padding-left: 28px;
        background: url(/images/register/register.png) no-repeat 0 -81px; }
      .register-step ol li em {
        position: absolute;
        left: 330px;
        top: 8px;
        background: url(/images/register/register.png) no-repeat 0 -465px;
        width: 22px;
        height: 22px;
        opacity: 0; }
      .register-step ol li strong {
        position: absolute;
        left: 330px;
        top: 8px;
        width: 180px;
        height: 22px;
        dispaly: block;
        font-weight: normal;
        display: none;
        background: url(/images/loading.gif) no-repeat; }
    .register-step ol input {
      color: #999;
      width: 280px;
      height: 38px;
      line-height: 38px;
      border: #cecece 1px solid;
      border-radius: 3px;
      padding-left: 40px;
      float: left;
      font-size: 12px; }
      .register-step ol input.mobile {
        background: url(/images/register/register.png) no-repeat 6px -362px; }
      .register-step ol input.captcha {
        background: url(/images/register/register.png) no-repeat 6px -548px; }
      .register-step ol input.email {
        background: url(/images/register/register.png) no-repeat 6px 9px; }
      .register-step ol input.password {
        background: url(/images/register/register.png) no-repeat 6px -173px; }
      .register-step ol input.referrer {
        background: url(/images/register/register.png) no-repeat 6px -268px; }
      .register-step ol input.login-name {
        background: url(/images/register/register.png) no-repeat 6px -640px; }
      .register-step ol input.user-name {
        background: url(/images/register/register.png) no-repeat 6px -268px; }
      .register-step ol input.identity-number {
        background: url(/images/register/register.png) no-repeat 6px -724px; }
    .register-step ol .fetch-captcha {
      display: block;
      width: 90px;
      height: 28px;
      background: #f68e3a;
      color: #fff;
      border-radius: 3px;
      position: absolute;
      left: 224px;
      top: 6px;
      font-size: 12px;
      line-height: 28px;
      text-align: center;
      cursor: pointer; }
  .register-step .register-user {
    width: 174px;
    height: 48px;
    background: #fee2cb;
    border-radius: 3px;
    line-height: 48px;
    text-align: center;
    display: block;
    margin: 0 0 20px 74px;
    font-size: 20px;
    color: #f68e3a;
    padding-left: 0;
    border: 0;
    cursor: pointer; }
  .register-step .register-account {
    width: 174px;
    height: 48px;
    background: #fee2cb;
    border-radius: 3px;
    line-height: 48px;
    text-align: center;
    display: block;
    margin: 50px 0 20px 74px;
    font-size: 20px;
    color: #f68e3a;
    padding-left: 0;
    border: 0;
    cursor: pointer; }
  .register-step.active {
    display: block; }
  .register-step input.agreement-check {
    width: 13px;
    height: 13px;
    display: inline-block;
    left: 0;
    top: 1px; }
  .register-step p span {
    cursor: pointer; }

.agreement-dialog {
  width: 100%;
  height: 643px;
  background: rgba(0, 0, 0, 0.8);
  overflow: hidden;
  z-index: 980;
  position: fixed;
  left: 0;
  top: 0;
  display: none; }

.agreement {
  width: 1000px;
  height: 643px;
  overflow: auto;
  background: #fff;
  position: fixed;
  left: 50%;
  top: 0;
  margin-left: -500px;
  display: none;
  z-index: 990; }
  .agreement h3 {
    width: 940px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-top: 20px; }
  .agreement p {
    width: 940px;
    text-indent: 30px;
    padding: 0 20px;
    font-size: 14px;
    line-height: 24px;
    margin: 20px 0 0;
    height: auto; }
    .agreement p:first-child {
      margin-top: 100px; }
    .agreement p:last-child {
      margin-bottom: 100px; }

/*# sourceMappingURL=register.css.map */
