<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.AccountMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache" />

    <resultMap id="accountResultMap" type="AccountModel">
        <id column="id" property="id"></id>
        <result column="login_name" property="loginName"></result>
        <result column="user_name" property="userName"></result>
        <result column="identity_number" property="identityNumber"></result>
        <result column="pay_user_id" property="payUserId"></result>
        <result column="pay_account_id" property="payAccountId"></result>
        <result column="balance" property="balance"></result>
        <result column="freeze" property="freeze"></result>
        <result column="point" property="point"></result>
        <result column="register_time" property="registerTime"></result>
        <result column="auto_invest" property="autoInvest"></result>
    </resultMap>

    <insert id="create" parameterType="AccountModel" useGeneratedKeys="true" keyProperty="id">
        insert into account (login_name, user_name, identity_number, pay_user_id, pay_account_id, balance, freeze, register_time)
        value(#{loginName}, #{userName}, #{identityNumber}, #{payUserId}, #{payAccountId}, #{balance}, #{freeze}, #{registerTime})
    </insert>

    <select id="findByLoginName" parameterType="java.lang.String" resultMap="accountResultMap">
        select * from account where login_name = #{loginName}
    </select>

    <select id="findByPayUserId" parameterType="java.lang.String" resultMap="accountResultMap">
        select * from account where pay_user_id = #{payUserId}
    </select>

    <select id="findAllLoanerLikeLoginName" parameterType="java.lang.String" resultType="java.lang.String">
        select t.login_name from account t JOIN user_role r ON t.`login_name` = r.`login_name` AND r.`role` = 'LOANER' where t.login_name like CONCAT(CONCAT('%', #{loginName}), '%')
    </select>

    <select id="findAccountLikeLoginName" parameterType="java.lang.String" resultType="java.lang.String">
        select login_name from account where login_name like CONCAT(CONCAT('%', #{loginName}), '%')
    </select>

    <select useCache="false" id="lockByLoginName" parameterType="java.lang.String" resultMap="accountResultMap">
        select * from account where login_name = #{loginName} for update
    </select>

    <update id="update" parameterType="AccountModel">
        update account set
          balance = #{balance},
          freeze = #{freeze},
          auto_invest = #{autoInvest},
          point = #{point}
        where login_name = #{loginName}
    </update>

    <select id="findByIdentityNumber" parameterType="java.lang.String" resultMap="accountResultMap">
        select * from account where identity_number = #{identityNumber}
    </select>

    <select id="findLoginNames" resultType="java.lang.String">
        select login_name from account
    </select>

    <select id="findBirthOfAccountInMonth" resultType="java.lang.String">
        select login_name from account where (if(length(identity_number) = 18,substring(identity_number,11,2),substring(identity_number,9,2))) = DATE_FORMAT(now(),'%m')
    </select>

</mapper>