<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.AccountMapper">

    <resultMap id="accountResultMap" type="AccountModel">
        <id column="id" property="id"></id>
        <result column="login_name" property="loginName"></result>
        <result column="user_name" property="userName"></result>
        <result column="identity_number" property="identityNumber"></result>
        <result column="pay_user_id" property="payUserId"></result>
        <result column="pay_account_id" property="payAccountId"></result>
        <result column="balance" property="balance"></result>
        <result column="freeze" property="freeze"></result>
        <result column="register_time" property="registerTime"></result>
    </resultMap>

    <insert id="create" parameterType="AccountModel" useGeneratedKeys="true" keyProperty="id">
        insert into account (login_name, user_name, identity_number, pay_user_id, pay_account_id, register_time)
        value(#{loginName}, #{userName}, #{identityNumber}, #{payUserId}, #{payAccountId}, #{registerTime})
    </insert>

    <select id="findByLoginName" parameterType="java.lang.String" resultMap="accountResultMap">
        select * from account where login_name = #{loginName}
    </select>

    <select id="findAllLoginNamesByLike" resultMap="accountResultMap">
        select login_name from account where login_name like #{loginName}
    </select>

    <select id="lockByLoginName" parameterType="java.lang.String" resultMap="accountResultMap">
        select * from account where login_name = #{loginName} for update
    </select>

    <update id="update" parameterType="AccountModel">
        update account set
          balance = #{balance},
          freeze = #{freeze}
        where login_name = #{loginName}
    </update>

</mapper>