<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.AgentLevelRateMapper">
    <resultMap id="agentLevelRateResultMap" type="AgentLevelRateModel">
        <id column="id" property="id"></id>
        <result column="login_name" property="loginName"></result>
        <result column="level" property="level"></result>
        <result column="rate" property="rate"></result>
        <result column="updated_time" property="updatedTime"></result>
        <result column="created_time" property="createdTime"></result>
    </resultMap>

    <insert id="create" parameterType="AgentLevelRateModel" useGeneratedKeys="true" keyProperty="id">
            insert into agent_level_rate(login_name,level,rate,created_time,updated_time) values (#{loginName},#{level},#{rate},#{createdTime},#{updatedTime})
        </insert>

    <select id="findAgentLevelRateByLoginNameAndLevel" parameterType="map" resultMap="agentLevelRateResultMap">
            select * from agent_level_rate where login_name = #{loginName} and level = #{level}
        </select>

    <select id="findAgentLevelRateById" parameterType="long" resultMap="agentLevelRateResultMap">
            select * from agent_level_rate where id = #{id}
        </select>

    <update id="update" parameterType="AgentLevelRateModel">
            update agent_level_rate set login_name = #{loginName},level = #{level},rate = #{rate},updated_time = #{updatedTime} where id = #{id}
    </update>

    <delete id="delete" parameterType="long">
            delete from agent_level_rate where id = #{id}
        </delete>

    <select id="findAgentLevelRateCount" parameterType="map" resultType="int">
        SELECT
        count(*)
        FROM
        agent_level_rate
        <where>
            <if test="loginName != null and loginName != ''">
                AND login_name = #{loginName}
            </if>
        </where>
    </select>

    <select id="findAgentLevelRate" parameterType="map" resultMap="agentLevelRateResultMap">
        SELECT
        *
        FROM
        agent_level_rate
        <where>
            <if test="loginName != null and loginName != ''">
                AND login_name = #{loginName}
            </if>
        </where>
        ORDER BY updated_time DESC
        limit #{index},#{pageSize}
    </select>

</mapper>