<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.AnnounceMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache" />

    <resultMap id="AnnounceResultMap" type="AnnounceModel">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="content_text" property="contentText"></result>
        <result column="show_on_home" property="showOnHome"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="update_time" property="updateTime"></result>
    </resultMap>

    <select id="findAnnounce" parameterType="map" resultMap="AnnounceResultMap">
          SELECT
             *
          FROM
              announce
          <where>
              <if test="id != null">
                  id = #{id}
              </if>
              <if test="title != null and title != ''">
                  AND title like CONCAT(CONCAT('%', #{title}), '%')
              </if>
          </where>
          ORDER BY update_time DESC
          limit #{index}, #{pageSize}
    </select>

    <select id="findAnnounceCount" parameterType="map" resultType="int">
        SELECT
         count(*)
        FROM
          announce
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="title != null and title != ''">
                AND title like CONCAT(CONCAT('%', #{title}), '%')
            </if>
        </where>
    </select>

    <insert id="create" parameterType="AnnounceModel" useGeneratedKeys="true" keyProperty="id">
        insert into announce (title,content,content_text,show_on_home,created_time,update_time)
        VALUE (#{title},#{content},#{contentText},#{showOnHome},#{createdTime},#{updateTime})
    </insert>

    <update id="update" parameterType="AnnounceModel">
        update announce set
          title = #{title},content = #{content},show_on_home = #{showOnHome},update_time = #{updateTime},content_text = #{contentText}
         where id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        delete from announce where id = #{id}
    </delete>

    <select id="findById" parameterType="long" resultMap="AnnounceResultMap">
        select * from announce where id = #{id}
    </select>

</mapper>