<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.AnnouncementManagementMapper">

    <resultMap id="AnnouncementManagementResultMap" type="AnnouncementManagementModel">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="content" property="content"></result>
        <result column="show_on_home" property="showOnHome"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="update_time" property="updateTime"></result>
    </resultMap>

    <select id="findAnnouncementManagement" parameterType="map" resultMap="AnnouncementManagementResultMap">
          SELECT
             *
          FROM
              announcement_management
          <where>
              <if test="id != null">
                  id = #{id}
              </if>
              <if test="title != null and title != ''">
                  AND title like CONCAT(CONCAT('%', #{title}), '%')
              </if>
          </where>
          ORDER BY update_time DESC
          limit #{startLimit},#{endLimit}
    </select>

    <select id="findAnnouncementManagementCount" parameterType="map" resultType="int">
        SELECT
         count(*)
        FROM
          announcement_management
        <where>
            <if test="id != null">
                id = #{id}
            </if>
            <if test="title != null and title != ''">
                AND title like CONCAT(CONCAT('%', #{title}), '%')
            </if>
        </where>
    </select>

    <insert id="create" parameterType="AnnouncementManagementModel" useGeneratedKeys="true" keyProperty="id">
        insert into announcement_management (title,content,show_on_home,created_time,update_time)
        VALUE (#{title},#{content},#{showOnHome},#{createdTime},#{updateTime})
    </insert>

    <update id="update" parameterType="AnnouncementManagementModel">
        update announcement_management set
          title = #{title},content = #{content},show_on_home = #{showOnHome},update_time = #{updateTime}
         where id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        delete from announcement_management where id = #{id}
    </delete>

    <select id="findById" parameterType="long" resultMap="AnnouncementManagementResultMap">
        select * from announcement_management where id = #{id}
    </select>

</mapper>