<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.BookingLoanMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache"/>

    <resultMap id="bookingLoanMap" type="BookingLoanModel">
        <id column="id" property="id"/>
        <result column="mobile" property="mobile"/>
        <result column="source" property="source"/>
        <result column="booking_time" property="bookingTime"/>
        <result column="product_type" property="productType"/>
        <result column="amount" property="amount"/>
        <result column="notice_time" property="noticeTime"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="create" parameterType="BookingLoanModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `aa`.`booking_loan`
        (mobile,source,booking_time,product_type,amount,notice_time,status,create_time,update_time)
        VALUES
        (#{mobile},#{source},#{bookingTime},#{productType},#{amount},#{noticeTime},#{status},#{createTime},#{updateTime})
    </insert>

    <update id="update" parameterType="BookingLoanModel">
        UPDATE booking_loan SET notice_time = #{noticeTime},status = #{status},update_time = #{updateTime} where id = #{id}
    </update>

    <select id="selectBookingLoanByMobile" parameterType="map" resultMap="bookingLoanMap">
        SELECT * FROM `aa`.`booking_loan` WHERE mobile = #{mobile}
    </select>

    <select id="findById" parameterType="long" resultMap="bookingLoanMap">
        SELECT * FROM `aa`.`booking_loan` WHERE id = #{bookingLoanId}
    </select>

    <select id="findBookingLoanList" parameterType="map" resultMap="bookingLoanMap">
        SELECT * from booking_loan bl
        <where>
            1 = 1
            <if test="productType != null">
                and bl.product_type = #{productType}
            </if>
            <if test="bookingTimeStartTime != null">
                and bl.booking_time &gt;= #{bookingTimeStartTime}
            </if>
            <if test="bookingTimeEndTime != null">
                and bl.booking_time &lt;= #{bookingTimeEndTime}
            </if>
            <if test="mobile !=null and mobile != ''">
                and bl.mobile = #{mobile}
            </if>
            <if test="noticeTimeStartTime != null">
                and bl.notice_time &gt;= #{noticeTimeStartTime}
            </if>
            <if test="noticeTimeEndTime != null">
                and bl.notice_time &lt;= #{noticeTimeEndTime}
            </if>
            <if test="source != null">
                and bl.source = #{source}
            </if>
            <if test="status != null">
                and bl.status = #{status}
            </if>
            order by status,booking_time
            limit #{index}, #{pageSize}

        </where>

    </select>

    <select id="findCountBookingLoanList" parameterType="map" resultType="long">
        SELECT count(1) from booking_loan bl
        <where>
            <if test="productType != null">
                and bl.product_type = #{productType}
            </if>
            <if test="bookingTimeStartTime != null">
                and bl.booking_time &gt;= #{bookingTimeStartTime}
            </if>
            <if test="bookingTimeEndTime != null">
                and bl.booking_time &lt;= #{bookingTimeEndTime}
            </if>
            <if test="mobile !=null and mobile != ''">
                and bl.mobile = #{mobile}
            </if>
            <if test="noticeTimeStartTime != null">
                and bl.notice_time &gt;= #{noticeTimeStartTime}
            </if>
            <if test="noticeTimeEndTime != null">
                and bl.notice_time &lt;= #{noticeTimeEndTime}
            </if>
            <if test="source != null">
                and bl.source = #{source}
            </if>
            <if test="status != null">
                and bl.status = #{status}
            </if>

        </where>

    </select>

</mapper>