<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.InvestMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache" />

    <resultMap id="investResultMap" type="InvestModel">
        <id column="id" property="id"></id>
        <result column="transfer_invest_id" property="transferInvestId"></result>
        <result column="login_name" property="loginName"></result>
        <result column="loan_id" property="loanId"></result>
        <result column="amount" property="amount"></result>
        <result column="status" property="status"></result>
        <result column="transfer_status" property="transferStatus"></result>
        <result column="source" property="source"></result>
        <result column="is_auto_invest" property="isAutoInvest"></result>
        <result column="channel" property="channel"></result>
        <result column="is_no_password_invest" property="isNoPasswordInvest"></result>
        <result column="created_time" property="createdTime"></result>
    </resultMap>

    <resultMap id="investNotifyInfoMap" type="InvestNotifyInfo">
        <result column="login_name" property="loginName"></result>
        <result column="loan_name" property="loanName"></result>
        <result column="mobile" property="mobile"></result>
        <result column="email" property="email"></result>
        <result column="amount" property="amount"></result>
        <result column="invest_id" property="investId"></result>
        <result column="periods" property="periods"></result>
    </resultMap>

    <resultMap id="investPaginationItemView" type="InvestPaginationItemView" extends="investResultMap">
        <result column="loan_id" property="loanId"></result>
        <result column="loan_name" property="loanName"></result>
        <result column="loan_type" property="loanType"></result>
        <result column="loan_status" property="loanStatus"></result>
        <result column="loan_periods" property="loanPeriods"></result>
        <result column="loan_base_rate" property="loanBaseRate"></result>
        <result column="loan_activity_rate" property="loanActivityRate"></result>
        <result column="roles" property="roles"></result>
        <result column="referrer_login_name" property="referrerLoginName"></result>
        <result column="next_repay_date" property="nextRepayDate"></result>
        <result column="next_repay_amount" property="nextRepayAmount"></result>
        <result column="investor_user_name" property="investorUserName"></result>
        <result column="investor_mobile" property="investorMobile"></result>
        <result column="referrer_roles" property="referrerRoles"></result>
        <result column="referrer_user_name" property="referrerUserName"></result>
        <result column="referrer_mobile" property="referrerMobile"></result>
        <result column="identity_number" property="identityNumber"></result>
        <result column="province" property="province"></result>
        <result column="city" property="city"></result>
    </resultMap>

    <sql id="columns">
        id, transfer_invest_id, login_name, loan_id, amount, status, transfer_status, source, is_auto_invest, channel, is_no_password_invest, created_time
    </sql>

    <insert id="create" parameterType="InvestModel">
        insert into invest ( <include refid="columns"></include> )
        value(#{id}, #{transferInvestId}, #{loginName}, #{loanId}, #{amount}, #{status}, #{transferStatus}, #{source}, #{isAutoInvest}, #{channel}, #{isNoPasswordInvest}, #{createdTime})
    </insert>

    <update id="updateStatus" parameterType="map">
        update invest set status = #{status} where id = #{id}
    </update>

    <update id="updateTransferStatus" parameterType="map">
        update invest set transfer_status = #{transferStatus} where id = #{id}
    </update>

    <select id="findById" parameterType="long" resultMap="investResultMap">
        select <include refid="columns"></include>
        from invest
        where id = #{id}
    </select>

    <select id="findLatestSuccessInvest" parameterType="string" resultMap="investResultMap">
        select <include refid="columns"></include>
        from invest
        where login_name = #{loginName}
        order by created_time desc
        limit 1;
    </select>

    <select id="findByLoginName" parameterType="map" resultMap="investResultMap">
        select invest.id, invest.transfer_invest_id, invest.login_name, invest.loan_id, invest.amount, invest.status, invest.transfer_status, invest.source, invest.is_auto_invest, invest.created_time
        from invest
        inner join loan on invest.loan_id = loan.id
        where invest.login_name = #{loginName}
        and loan.status &lt;&gt; 'CANCEL'
        order by invest.created_time desc
        <if test=" isPagination == true">
            limit #{index}, #{pageSize}
        </if>
    </select>

    <select id="findCountByLoginName" parameterType="map" resultType="long">
        select count(1)
        from invest
        inner join loan on invest.loan_id = loan.id
        where invest.login_name = #{loginName}
        and loan.status &lt;&gt; 'CANCEL'
    </select>

    <select id="findSuccessInvestsByLoanId" parameterType="long" resultMap="investResultMap">
        select <include refid="columns"></include>
        from invest
        where loan_id = #{loanId} and status = 'SUCCESS' and transfer_status != 'SUCCESS'
        order by created_time
    </select>

    <select id="sumSuccessInvestAmount" parameterType="map" resultType="long">
        select IFNULL(sum(amount),0)
        from invest
        where loan_id = #{loanId}
        and status = 'SUCCESS' and transfer_status != 'SUCCESS'
    </select>

    <select id="findByStatus" parameterType="map" resultMap="investResultMap">
        select <include refid="columns"></include>
        from invest
        where loan_id = #{loanId}
        and status = '${status}'
        order by created_time desc
        limit #{index}, #{pageSize}
    </select>

    <select id="findCountByStatus" parameterType="map" resultType="long">
        select count(1)
        from invest
        where loan_id = #{loanId}
        and status = '${status}'
    </select>

    <update id="cleanWaitingInvest" parameterType="long">
        update invest set status = 'FAIL'
        where loan_id = #{loanId}
        and status = 'WAIT_PAY'
    </update>

    <select id="findWaitingInvestCountAfter" parameterType="map" resultType="int">
        select count(*)
        from invest
        where loan_id = #{loanId}
        and status = 'WAIT_PAY'
        and created_time &gt;= #{afterTime}
    </select>

    <select id="findSuccessInvestMobileEmailAndAmount" parameterType="long" resultMap="investNotifyInfoMap">
        select invest.id as invest_id, invest.amount, loan.name as loan_name,invest.login_name as login_name, loan.periods, user.mobile, user.email
        from invest
        inner join loan on invest.loan_id = loan.id
        inner join user on user.login_name = invest.login_name
        where loan.id = #{loanId}
        and invest.status = 'SUCCESS'
    </select>

    <select id="sumSuccessInvestAmountByLoginName" parameterType="map" resultType="long">
        select IFNULL(sum(amount),0)
        from invest
        <where>
            <if test="loanId != null">
                and loan_id = #{loanId}
            </if>
            <if test="loginName != null">
                and login_name = #{loginName}
            </if>
        </where>
        and status = 'SUCCESS'
    </select>

    <select id="findInvestPagination" parameterType="map" resultMap="investPaginationItemView">
        select invest.*,
        loan.id as loan_id,
        loan.name as loan_name,
        loan.status as loan_status,
        loan.type as loan_type,
        loan.periods as loan_periods,
        loan.base_rate as loan_base_rate,
        loan.activity_rate as loan_activity_rate,
        a.user_name as investor_user_name,
        u.mobile as investor_mobile,
        a.identity_number as identity_number,
        u.province as province,
        u.city as city,
        u.referrer as referrer_login_name,
        ra.user_name as referrer_user_name,
        ru.mobile as referrer_mobile,
        (select group_concat(role order by role separator ", ") from user_role where login_name = invest.login_name) as roles,
        (select group_concat(role order by role separator ", ") from user_role where login_name = u.referrer) as referrerRoles,
        (select min(repay_date) from invest_repay where invest_repay.invest_id = invest.id and invest_repay.status = 'REPAYING') as next_repay_date,
        (select invest_repay.expected_interest + invest_repay.corpus - invest_repay.expected_fee
          from invest_repay where invest_repay.invest_id = invest.id and invest_repay.status = 'REPAYING'
          and invest_repay.period = (select min(invest_repay.period) from invest_repay where invest_repay.invest_id = invest.id and invest_repay.status = 'REPAYING')
        ) as next_repay_amount
        from invest
        inner join loan on invest.loan_id = loan.id
        inner join user u on u.login_name = invest.login_name
        left join account a on a.login_name = u.login_name
        left join user ru on ru.login_name = u.referrer
        left join account ra on ra.login_name = u.referrer
        <where>
            <if test="loanId != null">
                and loan.id = #{loanId}
            </if>
            <if test="investorLoginName != null and investorLoginName != ''">
                and invest.login_name = #{investorLoginName}
            </if>
            <if test="loanStatus != null">
                and loan.status = #{loanStatus}
            </if>
            <if test="investStatus != null">
                and invest.status = #{investStatus}
            </if>
            <if test="channel != null and channel != ''">
                and invest.channel = #{channel}
            </if>
            <if test="source != null and source != ''">
                and invest.source = #{source}
            </if>
            <if test="role != null and role != ''">
                and exists (select 1 from user_role where user_role.login_name=invest.login_name and user_role.role= #{role} )
            </if>
            <if test="startTime != null &amp;&amp; endTime != null">
                and invest.created_time between #{startTime} and #{endTime}
            </if>
        </where>
        order by invest.created_time desc, invest.id asc
        <if test="isPagination == true">
            limit #{index}, #{pageSize}
        </if>
    </select>

    <select id="findCountInvestPagination" parameterType="map" resultType="long">
        select count(1)
        from invest join loan on invest.loan_id = loan.id
        <where>
            <if test="loanId != null">
                and loan.id = #{loanId}
            </if>
            <if test="investorLoginName != null and investorLoginName != ''">
                and invest.login_name = #{investorLoginName}
            </if>
            <if test="loanStatus != null">
                and loan.status = #{loanStatus}
            </if>
            <if test="investStatus != null">
                and invest.status = #{investStatus}
            </if>
            <if test="channel != null and channel != ''">
                and invest.channel = #{channel}
            </if>
            <if test="source != null and source != ''">
                and invest.source = #{source}
            </if>
            <if test="role != null and role != ''">
                and exists (select 1 from user_role where user_role.login_name=invest.login_name and user_role.role= #{role} )
            </if>
            <if test="startTime != null &amp;&amp; endTime != null">
                and invest.created_time between #{startTime} and #{endTime}
            </if>
        </where>
    </select>

    <select id="sumInvestAmount" parameterType="map" resultType="long">
        select IFNULL(sum(invest.amount), 0) as amount
        from invest join loan on invest.loan_id = loan.id
        <where>
            <if test="loanId != null">
                and loan.id = #{loanId}
            </if>
            <if test="investorLoginName != null and investorLoginName != ''">
                and invest.login_name = #{investorLoginName}
            </if>
            <if test="loanStatus != null">
                and loan.status = #{loanStatus}
            </if>
            <if test="investStatus != null">
                and invest.status = #{investStatus}
            </if>
            <if test="channel != null and channel != ''">
                and invest.channel = #{channel}
            </if>
            <if test="source != null and source != ''">
                and invest.source = #{source}
            </if>
            <if test="role != null and role != ''">
                and exists (select 1 from user_role where user_role.login_name=invest.login_name and user_role.role= #{role} )
            </if>
            <if test="startTime != null &amp;&amp; endTime != null">
                and invest.created_time between #{startTime} and #{endTime}
            </if>
        </where>
    </select>

    <select id="sumInvestAmountRanking" parameterType="map" resultType="long">
        select IFNULL(sum(amount), 0) as amount
        from invest
        where
            status = 'SUCCESS'
            and not exists (select 1 from user_role where user_role.login_name=invest.login_name and user_role.role= 'LOANER')
            and created_time between #{startTime} and #{endTime}
    </select>

    <select id="sumSuccessInvestCountByLoginName" parameterType="String" resultType="int">
        select count(*)
        from invest
        where invest.login_name = #{loginName}
        and invest.status = 'SUCCESS'
    </select>

    <select id="countSuccessInvest" parameterType="long" resultType="long">
        select count(*)
        from invest
        where loan_id = #{loanId} and status = 'SUCCESS'
    </select>

    <select id="findAllChannels" resultType="java.lang.String">
        select distinct channel from invest where channel is not NULL
    </select>

    <select id="findAllInvestChannels" resultType="java.lang.String">
        select IFNULL(channel,'其他') from invest group by channel order by channel desc
    </select>

    <select id="countAutoInvest" parameterType="map" resultType="long">
        select count(*)
        from invest
        where loan_id = #{loanId}
        and invest.login_name = #{loginName}
        and source = 'AUTO'
    </select>

    <select id="findInvestorLoginNames" resultType="java.lang.String">
        select login_name from invest where invest.status = 'SUCCESS'
    </select>

    <select id="findInvestorCount" resultType="long">
        select count(distinct(login_name)) from invest where invest.status = 'SUCCESS'
    </select>

    <select id="findRegisteredNotInvestCount" resultType="long">
        select count(*) from account a where not exists(select 1 from invest i where a.login_name = i.login_name and i.status='SUCCESS');
    </select>

    <select id="findNoInvestInThirtyDay" resultType="string" >
        SELECT
        t.`login_name`
        FROM
        invest t
        WHERE t.`status` = 'SUCCESS'
        GROUP BY t.`login_name`
        HAVING MAX(t.`created_time`) &lt; DATE_SUB(curdate(), INTERVAL 30 DAY)
    </select>

</mapper>