<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.LicaiquanArticleMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache"/>

    <resultMap id="licaiquanArticleModel" type="LicaiquanArticleModel">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="creator_login_name" property="creator"/>
        <result column="checker_login_name" property="checker"/>
        <result column="author" property="author"/>
        <result column="section" property="articleSection"/>
        <result column="source" property="source"/>
        <result column="carousel" property="carousel"/>
        <result column="thumbnail" property="thumbnail"/>
        <result column="show_picture" property="showPicture"/>
        <result column="content" property="content"/>
        <result column="favourite_count" property="likeCount"/>
        <result column="read_count" property="readCount"/>
        <result column="created_time" property="createTime"/>
        <result column="updated_time" property="updateTime"/>
        <result column="deleted" property="isDeleted"/>
    </resultMap>

    <resultMap id="licaiquanArticleListItemModel" type="LicaiquanArticleListItemModel">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="creator_login_name" property="creator"/>
        <result column="checker_login_name" property="checker"/>
        <result column="section" property="articleSection"/>
        <result column="favourite_count" property="likeCount"/>
        <result column="read_count" property="readCount"/>
        <result column="created_time" property="createTime"/>
        <result column="updated_time" property="updateTime"/>
        <result column="deleted" property="isDeleted"/>
    </resultMap>

    <resultMap id="licaiquanArticleContentModel" type="LicaiquanArticleContentModel">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="author" property="author"/>
        <result column="section" property="articleSection"/>
        <result column="source" property="source"/>
        <result column="carousel" property="carousel"/>
        <result column="thumbnail" property="thumbnail"/>
        <result column="show_picture" property="showPicture"/>
        <result column="content" property="content"/>
        <result column="created_time" property="createTime"/>
        <result column="updated_time" property="updateTime"/>
    </resultMap>

    <insert id="createArticle" parameterType="LicaiquanArticleModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `aa`.`licaiquan_article` (title, creator_login_name, checker_login_name, author, section, source, carousel,
        thumbnail, show_picture, content, favourite_count, read_count, created_time, updated_time, deleted) VALUE
        (#{title}, #{creator}, #{checker}, #{author}, #{articleSection}, #{source}, #{carousel}, #{thumbnail}, #{showPicture},
        #{content}, #{likeCount}, #{readCount}, #{createTime}, #{updateTime}, #{isDeleted})
    </insert>

    <update id="deleteArticle">
        UPDATE `aa`.`licaiquan_article` SET deleted = TRUE WHERE id = #{id}
    </update>

    <select id="findArticleById" resultMap="licaiquanArticleModel">
        SELECT title, creator_login_name, checker_login_name, author, section, source, carousel,
        thumbnail, show_picture, content, favourite_count, read_count, created_time, updated_time, deleted
        FROM `aa`.`licaiquan_article` WHERE id = #{id}
    </select>

    <update id="updateArticle" parameterType="LicaiquanArticleModel">
        UPDATE `aa`.`licaiquan_article` SET title = #{title}, creator_login_name = #{creator}, checker_login_name = #{checker},
        author = #{author}, section = #{articleSection}, source = #{source}, carousel = #{carousel}, thumbnail = #{thumbnail},
        show_picture = #{showPicture}, content = #{content}, favourite_count = #{likeCount}, read_count = #{readCount},
        created_time = #{createTime}, updated_time = #{updateTime} WHERE id = #{id}
    </update>

    <update id="updateLikeCount">
        UPDATE `aa`.`licaiquan_article` SET favourite_count = #{likeCount} WHERE id = #{id}
    </update>

    <update id="updateReadCount">
        UPDATE `aa`.`licaiquan_article` SET read_count = #{readCount} WHERE id = #{id}
    </update>

    <select id="findArticleContentById" resultMap="licaiquanArticleContentModel">
        SELECT id, title, author, section, source, carousel, thumbnail, show_picture, content, created_time, updated_time
        FROM `aa`.`licaiquan_article` WHERE id = #{id}
    </select>

    <select id="findExistedArticleListOrderByCreateTime" resultMap="licaiquanArticleListItemModel">
        SELECT id, title, creator_login_name, checker_login_name, section, favourite_count, read_count, created_time,
        updated_time, deleted
        FROM `aa`.`licaiquan_article`
        WHERE id >= #{startId} AND deleted = FALSE
        <if test="title != null">
            AND title = #{title}
        </if>
        <if test="section != null">
            AND section = #{section}
        </if>
        ORDER BY created_time DESC
        LIMIT #{size}
    </select>

    <select id="findDeletedArticleListOrderByCreateTime" resultMap="licaiquanArticleListItemModel">
        SELECT id, title, creator_login_name, checker_login_name, section, favourite_count, read_count, created_time,
        updated_time, deleted
        FROM `aa`.`licaiquan_article`
        WHERE id >= #{startId} AND deleted = TRUE
        <if test="title != null">
            AND title = #{title}
        </if>
        <if test="section != null">
            AND section = #{section}
        </if>
        ORDER BY created_time DESC
        LIMIT #{size}
    </select>

    <resultMap id="articleReviewComment" type="ArticleReviewComment">
        <id column="id" property="id"/>
        <result column="article_id" property="articleId"/>
        <result column="comment" property="comment"/>
        <result column="created_time" property="createTime"/>
    </resultMap>

    <insert id="createComment" parameterType="articleReviewComment" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `aa`.`licaiquan_article_check_comment` (article_id, comment, created_time) VALUE (#{articleId}, #{comment},
        #{createTime})
    </insert>

    <select id="findCommentsByArticleId" resultMap="articleReviewComment">
        SELECT id, article_id, comment, created_time FROM `aa`.`licaiquan_article_check_comment`
        WHERE article_id = #{articleId} ORDER BY created_time DESC
    </select>

    <delete id="deleteCommentById">
        DELETE FROM `aa`.`licaiquan_article_check_comment` WHERE id = #{id}
    </delete>

    <delete id="deleteCommentsByArticleId">
        DELETE FROM `aa`.`licaiquan_article_check_comment` WHERE article_id = #{articleId}
    </delete>
</mapper>