<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.LicaiquanArticleMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache"/>

    <resultMap id="licaiquanArticleModel" type="LicaiquanArticleModel">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="creator_login_name" property="creatorLoginName"/>
        <result column="checker_login_name" property="checkerLoginName"/>
        <result column="author" property="author"/>
        <result column="section" property="section"/>
        <result column="source" property="source"/>
        <result column="carousel" property="carousel"/>
        <result column="thumb" property="thumb"/>
        <result column="show_picture" property="showPicture"/>
        <result column="content" property="content"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
        <result column="deleted" property="deleted"/>
    </resultMap>

    <insert id="createArticle" parameterType="LicaiquanArticleModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `aa`.`licaiquan_article` (id, title, creator_login_name, checker_login_name, author, section,
        source, carousel, thumb, show_picture, content, created_time, updated_time, deleted)
        VALUE (#{id}, #{title}, #{creatorLoginName}, #{checkerLoginName}, #{author}, #{section}, #{source}, #{carousel},
        #{thumb}, #{showPicture}, #{content}, #{createdTime}, #{updatedTime}, #{deleted})
    </insert>

    <update id="deleteArticle">
        UPDATE `aa`.`licaiquan_article` SET deleted = TRUE WHERE id = #{id}
    </update>

    <select id="findArticleById" resultMap="licaiquanArticleModel">
        SELECT id, title, creator_login_name, checker_login_name, author, section, source, carousel, thumb, show_picture,
        content, created_time, updated_time, deleted
        FROM `aa`.`licaiquan_article` WHERE id = #{id}
    </select>

    <select id="findCarouselArticle" resultMap="licaiquanArticleModel">
        SELECT id, title, creator_login_name, checker_login_name, author, section, source, carousel, thumb, show_picture,
        content, created_time, updated_time, deleted
        FROM `licaiquan_article` WHERE carousel = true and deleted = false
        ORDER BY created_time DESC
    </select>

    <update id="updateArticle" parameterType="LicaiquanArticleModel">
        UPDATE `aa`.`licaiquan_article` SET title = #{title}, creator_login_name = #{creatorLoginName},
        checker_login_name = #{checkerLoginName}, author = #{author}, section = #{section}, source = #{source},
        carousel = #{carousel}, thumb = #{thumb}, show_picture = #{showPicture}, content = #{content},
        created_time = #{createdTime}, updated_time = #{updatedTime}
        WHERE id = #{id}
    </update>

    <select id="findExistedArticleListOrderByCreateTime" resultMap="licaiquanArticleModel">
        SELECT id, title, creator_login_name, checker_login_name, author, section, source, carousel, thumb, show_picture,
        content, created_time, updated_time, deleted
        FROM `aa`.`licaiquan_article`
        WHERE id >= #{index} AND deleted = 0
        <if test="title != null and title != '' " >
            AND title LIKE CONCAT(CONCAT('%', #{title}), '%')
        </if>
        <if test="section != null">
            AND section = #{section}
        </if>
        ORDER BY id,created_time DESC
        LIMIT #{pageSize}
    </select>

    <select id="findArticleByArticleSectionType" resultMap="licaiquanArticleModel" parameterType="map" >
        SELECT id, title, creator_login_name, checker_login_name, author, section, source, carousel, thumb, show_picture,
        content, created_time, updated_time, deleted
        FROM `aa`.`licaiquan_article`
        WHERE deleted = FALSE
        <if test="section != null  ">
            AND section = #{section}
        </if>
        ORDER BY created_time DESC
        LIMIT #{index},#{pageSize}
    </select>

    <select id="findCountArticleByArticleSectionType" parameterType="map" resultType="int">
        SELECT count(1)
        FROM `aa`.`licaiquan_article`
        WHERE deleted = FALSE
        <if test="section != null ">
            AND section = #{section}
        </if>
    </select>


</mapper>