<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.LoanMapper">

    <resultMap id="loanResultMap" type="LoanModel">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="agent" property="agentLoginName"></result>
        <result column="loaner" property="loanerLoginName"></result>
        <result column="type" property="type"></result>
        <result column="periods" property="periods"></result>
        <result column="description_text" property="descriptionText"></result>
        <result column="description_html" property="descriptionHtml"></result>
        <result column="loan_amount" property="loanAmount"></result>
        <result column="invest_fee_rate" property="investFeeRate"></result>
        <result column="min_invest_amount" property="minInvestAmount"></result>
        <result column="invest_increasing_amount" property="investIncreasingAmount"></result>
        <result column="max_invest_amount" property="maxInvestAmount"></result>
        <result column="activity_type" property="activityType"></result>
        <result column="activity_rate" property="activityRate"></result>
        <result column="contract_id" property="contractId"></result>
        <result column="fundraising_start_time" property="fundraisingStartTime"></result>
        <result column="fundraising_end_time" property="fundraisingEndTime"></result>
        <result column="show_on_home" property="showOnHome"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="status" property="status"></result>
    </resultMap>

    <insert id="create" parameterType="com.tuotiansudai.repository.model.LoanModel" useGeneratedKeys="true" keyProperty="id">
        insert into loan(id,name,agent,loaner,type,periods,description_text,description_html,loan_amount,invest_fee_rate,min_invest_amount,invest_increasing_amount,max_invest_amount,activity_type,activity_rate,contract_id,fundraising_start_time,fundraising_end_time,show_on_home,created_time,status)
        values(#{id},#{name},#{agentLoginName},#{loanerLoginName},#{type},#{periods},#{descriptionText},#{descriptionHtml},#{loanAmount},#{investFeeRate},#{minInvestAmount},#{investIncreasingAmount},#{maxInvestAmount}, #{activityType},#{activityRate},#{contractId}, #{fundraisingStartTime}, #{fundraisingEndTime},#{showOnHome},#{createdTime},#{status})
    </insert>
    
    <select id="findById" parameterType="long" resultMap="loanResultMap">
        select * from loan where id = #{loanId}
    </select>

    <update id="update" parameterType="com.tuotiansudai.repository.model.LoanModel">
        update loan
        <trim prefix="set" suffixOverrides=",">
            <if test="name !=null and name!=''">
                name = #{name},
            </if>
            <if test="agentLoginName !=null and agentLoginName!=''">
                agent = #{agentLoginName},
            </if>
            <if test="loanerLoginName !=null and loanerLoginName!=''">
                loaner = #{loanerLoginName},
            </if>
            <if test="type !=null">
                type = #{type},
            </if>
            <if test="periods !=null and periods!=''">
                periods = #{periods},
            </if>
            <if test="descriptionText !=null and descriptionText!=''">
                description_text = #{descriptionText},
            </if>
            <if test="descriptionHtml !=null and descriptionHtml!=''">
                description_html = #{descriptionHtml},
            </if>
            <if test="loanAmount !=null and loanAmount!=''">
                loan_amount = #{loanAmount},
            </if>
            <if test="investFeeRate !=null and investFeeRate!=''">
                invest_fee_rate = #{investFeeRate},
            </if>
            <if test="minInvestAmount !=null and minInvestAmount!=''">
                min_invest_amount = #{minInvestAmount},
            </if>
            <if test="investIncreasingAmount !=null and investIncreasingAmount!=''">
                invest_increasing_amount = #{investIncreasingAmount},
            </if>
            <if test="maxInvestAmount !=null and maxInvestAmount!=''">
                max_invest_amount = #{maxInvestAmount},
            </if>
            <if test="activityType !=null">
                activity_type = #{activityType},
            </if>
            <if test="activityRate !=null and activityRate!=''">
                activity_rate = #{activityRate},
            </if>
            <if test="contractId !=null and contractId!=''">
                contract_id = #{contractId},
            </if>
            <if test="fundraisingStartTime !=null">
                fundraising_start_time = #{fundraisingStartTime},
            </if>
            <if test="fundraisingEndTime !=null">
                fundraising_end_time = #{fundraisingEndTime},
            </if>
            <if test="showOnHome !=null">
                show_on_home = #{showOnHome},
            </if>
            <if test="createdTime !=null">
                created_time = #{createdTime},
            </if>
            <if test="status !=null">
                status = #{status}
            </if>
        </trim>
    </update>

</mapper>