<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.LoanTitleMapper">

    <resultMap id="loanTitleResultMap" type="LoanTitleModel">
        <id column="id" property="id"></id>
        <result column="loan_id" property="name"></result>
        <result column="title_id" property="titleId"></result>
        <result column="apply_metarial_url" property="applyMetarialUrl"></result>
    </resultMap>

    <insert id="createLoanTitle" parameterType="com.tuotiansudai.repository.model.LoanTitleModel" useGeneratedKeys="true" keyProperty="id">
        insert into loan(loan_id,title_id,apply_metarial_url) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.loan_id},#{item.title_id},#{item.apply_metarial_url})
        </foreach>
    </insert>

</mapper>