<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.LoanDetailsMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache"/>

    <resultMap id="LoanDetailsResultMap" type="LoanDetailsModel">
        <id column="id" property="id"/>
        <result column="loan_id" property="loanId"/>
        <result column="declaration" property="declaration"/>
        <result column="extra_source" property="extraSource"/>
        <result column="activity" property="activity"/>
        <result column="activity_desc" property="activityDesc"/>
    </resultMap>

    <insert id="create" parameterType="LoanDetailsModel">
        INSERT INTO `aa`.`loan_details`
        (id, loan_id, declaration, extra_source, activity, activity_desc)
        VALUES
        (#{id}, #{loanId}, #{declaration}, #{extraSource}, #{activity}, #{activityDesc})
    </insert>

    <select id="getLoanDetailsByLoanId" resultMap="LoanDetailsResultMap">
        SELECT
        *
        FROM
        `aa`.`loan_details`
        WHERE
        loan_id = #{loanId}
    </select>

    <update id="updateByLoanId" parameterType="LoanDetailsModel">
        UPDATE
          `aa`.`loan_details`
        <trim prefix="set" suffixOverrides=",">
            <if test="declaration !=null"> declaration = #{declaration},</if>
            <if test="extraSource !=null"> extra_source = #{extraSource},</if>
            <if test="activity !=null">activity = #{activity},</if>
            <if test="activityDesc !=null">activity_desc = #{activityDesc}</if>
        </trim>
        WHERE
          loan_id = #{loanId}
    </update>

</mapper>