<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.LoanTitleMapper">

    <resultMap id="titleResultMap" type="LoanTitleModel">
        <id column="id" property="id"></id>
        <result column="type" property="type"></result>
        <result column="title" property="title"></result>
    </resultMap>

    <insert id="create" parameterType="com.tuotiansudai.repository.model.LoanTitleModel" useGeneratedKeys="true" keyProperty="id">
        insert into title(id,type,title)VALUES (#{id},#{type},#{title})
    </insert>

    <select id="find" resultMap="titleResultMap">
        select * from title
    </select>

    <select id="findTitleById" parameterType="long" resultMap="titleResultMap">
        select * from title where id = #{id}
    </select>
</mapper>