<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.SmsCaptchaMapper">
    <resultMap id="smsCaptchaModelResultMap" type="smsCaptchaModel">
        <id column="id" property="id"></id>
        <result column="code" property="code"></result>
        <result column="mobile" property="mobile"></result>
        <result column="deadline" property="deadLine"></result>
        <result column="generation_time" property="generationTime"></result>
        <result column="status" property="status"></result>
        <result column="captcha_type" property="captchaType"></result>
        <result column="user_id" property="userId"></result>
    </resultMap>

    <insert id="insertSmsCaptcha" parameterType="com.tuotiansudai.repository.model.SmsCaptchaModel"
            useGeneratedKeys="true" keyProperty="id">
          insert into sms_captcha(id,code,mobile,deadline,generation_time,status,captcha_type,user_id)
          value(#{id},#{code},#{mobile},#{deadLine},#{generationTime},#{status},#{captchaType},#{userId})
    </insert>

    <update id="updateStatusByMobile" parameterType="com.tuotiansudai.repository.model.SmsCaptchaModel">
          update sms_captcha set status = #{status} where mobile = #{mobile} and captcha_type = #{captchaType}
    </update>
    <select id="findCaptchabyMobile" parameterType="com.tuotiansudai.repository.model.SmsCaptchaModel"
            resultMap="smsCaptchaModelResultMap">
          select * from sms_captcha where mobile = #{mobile} and captcha_type = #{captchaType}
    </select>
    <select id="findSmsCaptchaByMobileAndCaptcha" parameterType="com.tuotiansudai.repository.model.SmsCaptchaModel"
            resultMap="smsCaptchaModelResultMap">
          select * from sms_captcha where mobile = #{mobile} and captcha_type = #{captchaType} and code = #{code} and status = #{status}
    </select>

</mapper>