<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.UserMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache" />

    <resultMap id="userResultMap" type="UserModel">
        <id column="id" property="id"></id>
        <result column="login_name" property="loginName"></result>
        <result column="password" property="password"></result>
        <result column="email" property="email"></result>
        <result column="mobile" property="mobile"></result>
        <result column="register_time" property="registerTime"></result>
        <result column="last_login_time" property="lastLoginTime"></result>
        <result column="last_modified_time" property="lastModifiedTime"></result>
        <result column="last_modified_user" property="lastModifiedUser"></result>
        <result column="avatar" property="avatar"></result>
        <result column="referrer" property="referrer"></result>
        <result column="status" property="status"></result>
        <result column="salt" property="salt"></result>
        <result column="channel" property="channel"></result>
        <result column="source" property="source"></result>
        <result column="province" property="province"></result>
        <result column="city" property="city"></result>
        <association property="account" javaType="com.tuotiansudai.repository.model.AccountModel">
            <id column="id" property="id"></id>
            <result column="login_name" property="loginName"></result>
            <result column="user_name" property="userName"></result>
            <result column="identity_number" property="identityNumber"></result>
            <result column="pay_user_id" property="payUserId"></result>
            <result column="pay_account_id" property="payAccountId"></result>
            <result column="balance" property="balance"></result>
            <result column="freeze" property="freeze"></result>
            <result column="register_time" property="registerTime"></result>
            <result column="auto_invest" property="autoInvest"></result>
        </association>
    </resultMap>

    <select id="findByEmail" parameterType="java.lang.String" resultMap="userResultMap">
      select * from user where email = #{email} and status = 'ACTIVE'
    </select>

    <select id="findByMobile" parameterType="java.lang.String" resultMap="userResultMap">
      select * from user where mobile = #{mobile}
    </select>

    <select id="findByLoginName" parameterType="java.lang.String" resultMap="userResultMap">
      select * from user where login_name = #{loginName}
    </select>

    <select id="findByLoginNameOrMobile" parameterType="java.lang.String" resultMap="userResultMap">
      select * from user where login_name = #{loginNameOrMobile} or mobile = #{loginNameOrMobile}
    </select>

    <insert id="create" parameterType="UserModel" useGeneratedKeys="true" keyProperty="id">
      insert into user (login_name, password, mobile, email, register_time, referrer, status, salt, channel, source)
      value(#{loginName}, #{password}, #{mobile}, #{email}, #{registerTime}, #{referrer}, #{status}, #{salt}, #{channel}, #{source})
    </insert>

    <update id="updatePasswordByLoginName" parameterType="map">
        update user set password = #{password} where login_name = #{loginName}
    </update>

    <update id="updateUser" parameterType="com.tuotiansudai.repository.model.UserModel">
        update user set email = #{email},
                        mobile = #{mobile},
                        last_modified_time = #{lastModifiedTime},
                        last_modified_user = #{lastModifiedUser},
                        status = #{status},
                        referrer = #{referrer},
                        province = #{province},
                        city = #{city}
                        where id = #{id}
    </update>

    <select id="findAllUser" parameterType="map" resultMap="userResultMap">
        select * from user u left join account a on u.login_name = a.login_name

        <if test="role !=null" >
            join user_role r on u.login_name = r.login_name
        </if>
        <where>
            <if test="role !=null" >
                and r.role = #{role}
            </if>
            <if test="email !=null and email !='' ">
                and u.email like '${email}%'
            </if>
            <if test="mobile !=null and mobile !='' ">
                and u.mobile like '${mobile}%'
            </if>
            <if test="loginName !=null and loginName != '' ">
                and u.login_name = #{loginName}
            </if>
            <if test="beginTime !=null" >
                and u.register_time >= #{beginTime}
            </if>
            <if test="endTime !=null ">
                and u.register_time &lt;= #{endTime}
            </if>
            <if test="referrer !=null and referrer != '' ">
                and u.referrer = #{referrer}
            </if>
            <if test="channel !=null and channel != '' ">
                and u.channel = #{channel}
            </if>
            <if test="source !=null">
                and u.source = #{source}
            </if>

        </where>
        order by u.register_time desc
        limit #{index},#{pageSize}
    </select>

    <select id="findAllUserCount" parameterType="map" resultType="int">
        select count(1) from user u

        <if test="role !=null" >
            join user_role r on u.login_name = r.login_name
        </if>
        <where>

            <if test="role !=null" >
                and r.role = #{role}
            </if>
            <if test="email !=null and email !='' ">
                and u.email like '${email}%'
            </if>
            <if test="mobile !=null and mobile !='' ">
                and u.mobile like '${mobile}%'
            </if>
            <if test="loginName !=null and loginName != '' ">
                and u.login_name = #{loginName}
            </if>
            <if test="beginTime !=null" >
                and u.register_time >= #{beginTime}
            </if>
            <if test="endTime !=null ">
                and u.register_time &lt;= #{endTime}
            </if>
            <if test="referrer !=null and referrer != '' ">
                and u.referrer = #{referrer}
            </if>
            <if test="channel !=null and channel != '' ">
                and u.channel = #{channel}
            </if>
            <if test="source !=null">
                and u.source = #{source}
            </if>
        </where>
    </select>

    <select id="findLoginNameLike" parameterType="java.lang.String" resultType="java.lang.String">
        select login_name from user where login_name like CONCAT(CONCAT('%', #{loginName}), '%')
    </select>

    <select id="findStaffByLikeLoginName" parameterType="java.lang.String" resultType="java.lang.String">
        select login_name from user u where u.login_name like CONCAT(CONCAT('%', #{loginName}), '%')
        and exists(select * from user_role r where r.login_name = u.login_name and r.role = 'STAFF')
    </select>

    <select id="findAllChannels" resultType="java.lang.String">
        select distinct channel from user where channel is not NULL
    </select>

    <select id="findUserByProvince" resultMap="userResultMap">
        select * from user where province is NULL or province = '' order by register_time DESC limit 0,100
    </select>

    <select id="findUserCount" resultType="int">
        select count(*) from user
    </select>

    <select id="searchAllUsers" parameterType="map" resultMap="userResultMap">
        SELECT
          *
        FROM
          user u
          LEFT JOIN account a
            ON u.`login_name` = a.`login_name`
        <where>
            <if test="identityNumber != null and identityNumber != '' " >
                AND a.`identity_number` = #{identityNumber}
            </if>
            <if test="loginName != null and loginName != '' ">
                AND u.`login_name` = #{loginName}
            </if>
            <if test="referrer != null and referrer != '' ">
                AND u.`referrer` = #{referrer}
            </if>
            <if test="mobile != null and mobile != '' ">
                AND u.`mobile` = #{mobile}
            </if>
        </where>
        ORDER BY u.`register_time` DESC
    </select>

    <select id="findUsersAccountBalance" parameterType="map" resultMap="userResultMap">
        SELECT
          *
        FROM
          user u
          LEFT JOIN account a
            ON u.`login_name` = a.`login_name`
        WHERE NOT EXISTS
        (SELECT
            1
          FROM
            user_role r
          WHERE u.`login_name` = r.`login_name`
          AND r.`role` = 'LOANER')
        ORDER BY a.`balance` DESC
        limit #{startLimit}, #{endLimit}
    </select>

    <select id="findUsersAccountBalanceSum" resultType="long">
        SELECT
          SUM(a.`balance`)
        FROM
          user u
          LEFT JOIN account a
            ON u.`login_name` = a.`login_name`
            WHERE NOT EXISTS
        (SELECT
            1
          FROM
            user_role r
          WHERE u.`login_name` = r.`login_name`
          AND r.`role` = 'LOANER')
    </select>

    <select id="findUsersAccountBalanceCount" resultType="int">
        SELECT
          count(*)
        FROM
          user u
          LEFT JOIN account a
            ON u.`login_name` = a.`login_name`
            WHERE NOT EXISTS
        (SELECT
            1
          FROM
            user_role r
          WHERE u.`login_name` = r.`login_name`
          AND r.`role` = 'LOANER')
    </select>

</mapper>