<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.UserAuditLogMapper">

    <insert id="create" parameterType="UserAuditLogModel">
        insert into user_audit_log (id, operator_login_name, ip, operation_time, description)
        value(#{id}, #{operatorLoginName}, #{ip}, #{operationTime}, #{description})
    </insert>
</mapper>