<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.UserOpLogMapper">

    <resultMap id="userOpLogModelResultMap" type="UserOpLogModel">
        <id column="id" property="id"/>
        <result column="login_name" property="loginName"/>
        <result column="op_type" property="opType"/>
        <result column="ip" property="ip"/>
        <result column="device_id" property="deviceId"/>
        <result column="source" property="source"/>
        <result column="description" property="description"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

    <resultMap id="userOpLogViewResultMap" type="UserOpLogView">
        <id column="id" property="id"/>
        <result column="mobile" property="mobile"/>
        <result column="op_type" property="opType"/>
        <result column="ip" property="ip"/>
        <result column="device_id" property="deviceId"/>
        <result column="source" property="source"/>
        <result column="description" property="description"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

    <insert id="create" parameterType="UserOpLogModel">
        insert into user_op_log (login_name, op_type, ip, device_id, source, description, created_time)
        value(#{loginName}, #{opType}, #{ip}, #{deviceId}, #{source}, #{description}, #{createdTime})
    </insert>

    <select id="getPaginationData" parameterType="map" resultMap="userOpLogViewResultMap">
        select user.mobile, op_type, ip, device_id, user_op_log.source as source, description, created_time from
        user_op_log join user
        on user_op_log.login_name = user.login_name
        <where>
            <if test="mobile != null and mobile != ''">
                and mobile = #{mobile}
            </if>
            <if test="opType != null">
                and op_type = #{opType}
            </if>
            <if test="startTime != null &amp;&amp; endTime != null">
                and created_time between #{startTime} and #{endTime}
            </if>
        </where>
        order by created_time desc, user_op_log.id asc
        limit #{index}, #{pageSize}
    </select>

    <select id="count" parameterType="map" resultType="long">
        select count(1) from user_op_log join user
        on user_op_log.login_name = user.login_name
        <where>
            <if test="mobile != null and mobile != ''">
                and mobile = #{mobile}
            </if>
            <if test="opType != null">
                and op_type = #{opType}
            </if>
            <if test="startTime != null &amp;&amp; endTime != null">
                and created_time between #{startTime} and #{endTime}
            </if>
        </where>
    </select>

</mapper>