<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.UserMapper">

    <resultMap id="userResultMap" type="UserModel">
        <id column="id" property="id"></id>
        <result column="login_name" property="loginName"></result>
        <result column="password" property="password"></result>
        <result column="email" property="email"></result>
        <result column="mobile" property="mobile"></result>
        <result column="register_time" property="registerTime"></result>
        <result column="last_login_time" property="lastLoginTime"></result>
        <result column="last_modified_time" property="lastModifiedTime"></result>
        <result column="last_modified_user" property="lastModifiedUser"></result>
        <result column="avatar" property="avatar"></result>
        <result column="referrer" property="referrer"></result>
        <result column="status" property="status"></result>
        <result column="salt" property="salt"></result>
    </resultMap>

    <select id="findByEmail" parameterType="java.lang.String" resultMap="userResultMap">
      select * from user where email = #{email}
    </select>

    <select id="findByMobile" parameterType="java.lang.String" resultMap="userResultMap">
      select * from user where mobile = #{mobile}
    </select>

    <select id="findByLoginName" parameterType="java.lang.String" resultMap="userResultMap">
      select * from user where login_name = #{loginName}
    </select>

    <select id="findByLoginNameOrMobile" parameterType="java.lang.String" resultMap="userResultMap">
      select * from user where login_name = #{loginNameOrMobile} or mobile = #{loginNameOrMobile}
    </select>

    <insert id="create" parameterType="UserModel" useGeneratedKeys="true" keyProperty="id">
      insert into user (login_name, password, mobile, email, register_time, referrer, status, salt)
      value(#{loginName}, #{password}, #{mobile}, #{email}, #{registerTime}, #{referrer}, #{status}, #{salt})
    </insert>

    <update id="updatePassword" parameterType="map">
        update user set password = #{password} where mobile = #{mobile}
    </update>
</mapper>