<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.UserBillMapper">

    <resultMap id="userBillResultMap" type="UserBillModel">
        <id column="id" property="id"></id>
        <result column="login_name" property="loginName"></result>
        <result column="order_id" property="orderId"></result>
        <result column="amount" property="amount"></result>
        <result column="balance" property="balance"></result>
        <result column="freeze" property="freeze"></result>
        <result column="operation_type" property="operationType"></result>
        <result column="business_type" property="businessType"></result>
        <result column="created_time" property="createdTime"></result>
    </resultMap>

    <insert id="create" parameterType="UserBillModel" useGeneratedKeys="true" keyProperty="id">
        insert into user_bill (login_name, order_id, amount, balance, freeze, operation_type, business_type, created_time)
        value(#{loginName}, #{orderId}, #{amount}, #{balance}, #{freeze}, #{operationType}, #{businessType}, #{createdTime})
    </insert>

    <select id="findByLoginName" parameterType="java.lang.String" resultMap="userBillResultMap">
        select * from user_bill where login_name = #{loginName}
    </select>

    <select id="findUserBillsCount" parameterType="map" resultType="int">
        select count(*) from user_bill
        <where>
            <if test="userBillBusinessType != null and userBillBusinessType.size != 0">
                business_type in
                <foreach item="item" index="index" collection="userBillBusinessType" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="startTime != null">
                and created_time >= #{startTime}
            </if>
            <if test="endTime != null">
                <![CDATA[ and created_time <= #{endTime} ]]>
            </if>
        </where>
    </select>

    <select id="findUserBills" parameterType="map" resultMap="userBillResultMap">
        select * from user_bill
        <where>
            <if test="userBillBusinessType != null and userBillBusinessType.size != 0">
                business_type in
                <foreach item="item" index="index" collection="userBillBusinessType" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            <if test="startTime != null">
                and created_time >= #{startTime}
            </if>
            <if test="endTime != null">
                <![CDATA[ and created_time <= #{endTime} ]]>
            </if>
        </where>
        order by created_time desc
        <if test="currentPage >= 0">
            limit #{currentPage} , 10
        </if>
    </select>

</mapper>