<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.WithdrawMapper">

    <resultMap id="withdrawResultMap" type="WithdrawModel">
        <id column="id" property="id"></id>
        <result column="login_name" property="loginName"></result>
        <result column="amount" property="amount"></result>
        <result column="fee" property="fee"></result>
        <result column="verify_message" property="verifyMessage"></result>
        <result column="verify_time" property="verifyTime"></result>
        <result column="recheck_message" property="recheckMessage"></result>
        <result column="recheck_time" property="recheckTime"></result>
        <result column="status" property="status"></result>
        <result column="source" property="source"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="user_name" property="userName"></result>
        <result column="is_admin" property="isAdmin"></result>
    </resultMap>

    <insert id="create" parameterType="WithdrawModel">
        insert into withdraw (id, login_name, amount, fee, status, source, created_time)
        value(#{id}, #{loginName}, #{amount}, #{fee}, #{status}, #{source}, #{createdTime})
    </insert>

    <select id="findById" parameterType="long" resultMap="withdrawResultMap">
        select * from withdraw where id = #{id}
    </select>

    <update id="update" parameterType="WithdrawModel">
        update withdraw
        <set>
            <if test="status != null">status = #{status},</if>
            <if test="verifyTime != null">verify_time = #{verifyTime},</if>
            <if test="verifyMessage != null">verify_message = #{verifyMessage},</if>
            <if test="recheckTime != null">recheck_time = #{recheckTime},</if>
            <if test="recheckMessage != null">recheck_message = #{recheckMessage}</if>
        </set>
        where id = #{id}
    </update>

    <select id="findSumSuccessWithdrawByLoginName" parameterType="java.lang.String" resultType="long">
        select IFNULL(sum(amount), 0) as amount from withdraw where status = 'SUCCESS' and login_name = #{loginName}
    </select>

    <select id="findWithdrawPagination" parameterType="map" resultMap="withdrawResultMap">
        select w.id, w.login_name, w.amount, w.fee, w.verify_message, w.verify_time, w.recheck_message, w.recheck_time, w.created_time, w.status, w.source, a.user_name as user_name,
        exists (select 1 from user_role r where r.login_name = w.login_name and r.role='admin') as is_admin
        from withdraw w join account a on w.login_name = a.login_name
        <where>
            <if test="withdrawId !=null and withdrawId != '' ">
                w.id = #{withdrawId}
            </if>
            <if test="loginName !=null and loginName != '' ">
                <![CDATA[and w.login_name like '${loginName}%']]>
            </if>
            <if test="startTime !=null" >
                and w.created_time >= #{startTime}
            </if>
            <if test="endTime !=null ">
                and w.created_time &lt;= #{endTime}
            </if>
            <if test="status !=null">
                and w.status  = #{status}
            </if>
        </where>
        order by w.created_time desc
        limit #{index}, #{pageSize}
    </select>

    <select id="findWithdrawCount" parameterType="map" resultType="int">
        select count(1) from withdraw
        <where>
            <if test="withdrawId !=null and withdrawId != '' ">
                id = #{withdrawId}
            </if>
            <if test="loginName !=null and loginName != '' ">
                <![CDATA[and login_name like '${loginName}%']]>
            </if>
            <if test="startTime !=null" >
                and created_time >= #{startTime}
            </if>
            <if test="endTime !=null ">
                and created_time &lt;= #{endTime}
            </if>
            <if test="status !=null">
                and status  = #{status}
            </if>
        </where>
    </select>
</mapper>