<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.WithdrawMapper">

    <resultMap id="withdrawResultMap" type="WithdrawModel">
        <id column="id" property="id"></id>
        <result column="login_name" property="loginName"></result>
        <result column="amount" property="amount"></result>
        <result column="fee" property="fee"></result>
        <result column="verify_message" property="verifyMessage"></result>
        <result column="verify_time" property="verifyTime"></result>
        <result column="recheck_message" property="recheckMessage"></result>
        <result column="recheck_time" property="recheckTime"></result>
        <result column="status" property="status"></result>
        <result column="created_time" property="createdTime"></result>
    </resultMap>

    <insert id="create" parameterType="WithdrawModel">
        insert into withdraw (id, login_name, amount, fee, status, created_time)
        value(#{id}, #{loginName}, #{amount}, #{fee}, #{status}, #{createdTime})
    </insert>

    <select id="findById" parameterType="long" resultMap="withdrawResultMap">
        select * from withdraw where id = #{id}
    </select>

    <update id="update" parameterType="WithdrawModel">
        update withdraw
        <set>
            <if test="status != null">status = #{status},</if>
            <if test="verifyTime != null">verify_time = #{verifyTime},</if>
            <if test="verifyMessage != null">verify_message = #{verifyMessage},</if>
            <if test="recheckTime != null">recheck_time = #{recheckTime},</if>
            <if test="recheckMessage != null">recheck_message = #{recheckMessage}</if>
        </set>
        where id = #{id}
    </update>

</mapper>