spring:
  datasource:
    aaro:
      jdbc-url: jdbc:mysql://${common.jdbc.host}:${common.jdbc.port}/aa?useUnicode=true&characterEncoding=UTF-8
      username: ${common.jdbc.username}
      password: ${common.jdbc.password}
      driver-class-name: com.mysql.jdbc.Driver
      minimum-idle: 1
      maximum-pool-size: 1
  mail:
    host: smtp.qiye.163.com
    prot: 994
    username: ${no-reply.username}
    password: ${no-reply.password}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          ssl:
            trust: smtp.qiye.163.com
diagnosis:
  schedule:
    hour: 3
    minute: 14
  report:
    notify-mail-from: no-reply@tuotiansudai.com
    notify-mail-address: dev@tuotiansudai.com
    notify-mail-address-qa: zhujiajun@tuotiansudai.com
    notify-mail-address-manager: gaoxiduan@tuotiansudai.com
  known-bad-bills:
    - 397391
    - 477563
    - 477564
    - 477565
    - 477566
    - 477567
    - 477568
    - 477569
    - 477570
    - 477571
    - 477572
    - 477573
    - 477574
    - 477575
    - 477576
    - 477577