.benefit-box {
  position: relative;

  .bg-square-box {
    position: absolute;
    bottom:-6px;
    left:0;
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.target-category-box {
  padding:15px 15px 25px 15px;
  font-size: 14px;
  color: #525252;
  background: #fff;
  line-height: 35px;
  .newer-title{
    border-left:2px solid #FF473C;
    padding-left: 10px;
  }
  .loan-info{
    li{
      text-align:center;
      span{
        font-size:16px;
        color:#222;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      em{
        font-size:12px;
        color:#a2a2a2;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.input-amount-box {
  margin-top:15px;
  color: #525252;
}

.input-list {
  margin-top:20px;
  margin-bottom:50px;

  li{
    height: 45px;
    line-height: 45px;
  }

  label, li span{
    font-size:13px;
  }
}
.input-list li.mt-10{
  margin-top: 10px;
}
.input-list li input {
  text-align: left;
  font-size: 18px;
  color: #525252;
}
.input-list li span.number-text{
  text-align: left;
  font-size: 16px;
  color: #525252;
  strong{
    font-weight: normal;
    color: #FF473C;
  }
}

.transfer-notice {
  font-size: 12px;
  color: #A2A2A2;
  padding: 0px 40px 10px 40px;
  font-weight: lighter;
  b {
    display: block;
    font-weight: lighter;
    font-size: 13px;
    color: #525252;
    margin-top:20px;
  }
}

.apply-transfer-success {
  background: #fff;
  text-align: center;
  box-sizing: border-box;
  em {
    display: block;
    padding-top:5px;
    font-size: 15px;
    color: #808080;
  }
}

.m-header {
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  font-size: 16px;
  background: #FF473C;
  position: relative;
  .icon-left {
    position: absolute;
    left: 10px;
    i{
      font-size: 30px;
      color: #fff;
    }
  }
}
.info{
  padding-top:50px;
}
.footer{
  position:absolute;
  bottom:10px;
  width:100%;
  text-align:center;
  font-size: 12px;
}

.apply-transfer-success {
  background: #fff;
  height: 100%;
  overflow: hidden;
  padding-top:50px;
  text-align: center;
  box-sizing: border-box;
  em {
    display: block;
    padding-top:20px;
    font-size: 15px;
    color: #808080;
  }
}
