.account-summary {
  position: relative;
}

.icon-help {
  position: absolute;
  right: 10px;
  top: 20px;
  width: 28px;
  height: 28px;
  display: inline-block;
  background: url('../../images/icon-help.png') left top no-repeat;
  background-size: 100%;
}