.account-summary {
  height:200px;
  .collection {
    padding-top: 5px;
  }
  .transfer-hack {
    color: rgba(255, 255, 255, 1);
    flex: 1.5;
  }
  .icon-help {
    top: 61px;
    right: 25%;
  }
}

.experience-amount {
  padding-bottom: 70px;
}

.invest-progress-box {
  padding: 0 10px;
  background: #fff;
  height: 50px;
  .project-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 11px;
    color: #A2A2A2;
    align-items: center;
    height:100%;
    i {
      color: #222;
    }
  }
}

.detail-list {
  span i {
    font-size:20px;
  }
}
.icon-sign {
  font-size: 9px;
  color: #fff;
  border:1px solid #fff;
  border-radius: 10px;
  border-bottom-left-radius: 0;
}

.invest-refer-box {
  position: absolute;
  top: 100px;
  right: 19%;
  i.fa {
    position: absolute;
    top: -13px;
    right: 27px;
    font-size: 25px;
    color: #fff!important;
  }
  ul {
    border-radius:10px;
    background: #fff;
    font-size: 10px;
    color: #A2A2A2;
    li {
      display: flex;
      justify-content: space-between;
      line-height: 20px;
      border-bottom: 1px solid #f2f2f2;
      padding: 0 6px;
    }
    .title {
      font-size: 11px;
      color: #525252;
    }
  }

}

.leave-time {
  height:45px;
  line-height: 45px;
  font-size: 14px;
  color: #808080;
  text-align: center;
}
.repay-plan {
  margin-top:5px;
  label {
    font-size: 14px;
    color: #525252;
  }
}
.history-record {
  font-size: 14px;

  padding: 20px;
  text-align: center;
  a {
    display: inline-block;
    text-decoration: underline;
    color: #A2A2A2;
  }
}
