.menu-category span a {
  width:60%;
  opacity: 0.7;
}
.menu-category span.current a{
  color: #fff;
 opacity: 1;
  border-bottom: 2px solid #fff;
}
.target-category-box {
  margin-bottom:10px;
}

.loan-list-frame {
  position: absolute;
  top: 56px;
  bottom: 0px;
  width: 100%;
  overflow: hidden;
  height: calc( 100% - 100px);

}
#pullUp {
  text-align: center;
}
.percent-number {
  em {
    font-size: 26px;
  }
  i {
    font-size: 16px;
  }
}
//转让价格
.p-title .price {
  color: #FF473C;
}
.loan-list {
  width: 100%;
  position: fixed;
  bottom: 0;
}

.loan-list .footer-wap-container {

  display: flex;
  background: #fff;
}
.menu-category {
  background: #FF473C;
  height: 44px;
 span {
   a {
     color: #fff;
     font-size: 16px;
     line-height: 42px;
   }
 }
}
