.account-summary {
  height:200px;
  position: relative;
  .icon-left {
    position: absolute;
    left: 10px;
    top: 10px;
    i{
      font-size: 30px;
      color: #fff;
    }
  }
  .collection {
    padding-top: 5px;
  }
  .transfer-hack {
    color: rgba(255, 255, 255, 1);
    flex: 1.5;
  }
  .icon-help {
    top: 61px;
    right: 20%;
  }
}
.account-summary .amount-balance {
  font-size: 14px;
  text-align: center;
}
.experience-amount {
  padding-bottom: 70px;
}

.invest-progress-box {
  padding: 0 10px;
  background: #fff;
  height: 50px;
  .project-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 11px;
    color: #A2A2A2;
    align-items: center;
    height:100%;
    i {
      color: #222;
    }
  }
}

.detail-list {
  span i {
    font-size:20px;
  }
}
.icon-sign {
  font-size: 9px;
  color: #fff;
  border:1px solid #fff;
  border-radius: 10px;
  border-bottom-left-radius: 0;
}

.invest-refer-box {
  position: absolute;
  top: 100px;
  right: 19%;
  i.fa {
    position: absolute;
    top: -13px;
    right: 27px;
    font-size: 25px;
    color: #fff!important;
  }
  ul {
    border-radius:10px;
    background: #fff;
    font-size: 10px;
    color: #A2A2A2;
    li {
      display: flex;
      justify-content: space-between;
      line-height: 20px;
      border-bottom: 1px solid #f2f2f2;
      padding: 0 6px;
    }
    .title {
      font-size: 11px;
      color: #525252;
    }
  }

}

.leave-time {
  height:45px;
  line-height: 45px;
  font-size: 14px;
  color: #808080;
  text-align: center;
  background: #fff;
}
.repay-plan {
  margin-top:5px;
  label {
    font-size: 14px;
    color: #525252;
  }
}
.history-record {
  font-size: 14px;

  padding: 20px;
  text-align: center;
  a {
    display: inline-block;
    text-decoration: underline;
    color: #A2A2A2;
  }
}
//項目詳情
.project-detail {
  position: static;
  width: 100%;
  height: 100%;
  background: #fff;
}
.menu-category {
  margin-bottom: 10px;
}
.loan-list-content {
  background: #fff;
}
.account-summary {
  height:200px;
  .collection {
    padding-top: 5px;
  }
  .transfer-hack {
    color: rgba(255, 255, 255, 1);
    flex: 1.5;
  }
  .icon-help {
    top: 61px;
    right: 20%;
  }
}

.experience-amount {
  padding-bottom: 70px;
}

.invest-progress-box {
  padding: 0 10px;
  background: #fff;
  height: 50px;
  .project-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 11px;
    color: #A2A2A2;
    align-items: center;
    height:100%;
    i {
      color: #222;
    }
  }
}

.detail-list {
  margin-top: 5px;
  span i {
    font-size:20px;
  }
}
.icon-sign {
  font-size: 9px;
  color: #fff;
  border:1px solid #fff;
  border-radius: 10px;
  border-bottom-left-radius: 0;
}

.invest-refer-box {
  position: absolute;
  top: 100px;
  right: 19%;
  i.fa {
    position: absolute;
    top: -13px;
    right: 27px;
    font-size: 25px;
    color: #fff!important;
  }
  ul {
    border-radius:10px;
    background: #fff;
    font-size: 10px;
    color: #A2A2A2;
    li {
      display: flex;
      justify-content: space-between;
      line-height: 20px;
      border-bottom: 1px solid #f2f2f2;
      padding: 0 6px;
    }
    .title {
      font-size: 11px;
      color: #525252;
    }
  }

}

.leave-time {
  height:45px;
  line-height: 45px;
  font-size: 14px;
  color: #808080;
  text-align: center;
}
.repay-plan {
  margin-top:5px;
  label {
    font-size: 14px;
    color: #525252;
  }
}
.history-record {
  font-size: 14px;

  padding: 20px;
  text-align: center;
  a {
    display: inline-block;
    text-decoration: underline;
    color: #A2A2A2;
  }
}
.wind-control {
  dd {
    span {
      &.span-l {
        padding-right: 20px;
      }
      &.span-r {
        padding-left: 20px;
      }

    }
  }
}
//直投项目购买详情
.benefit-box {
  position: relative;
  height: 152px;
  margin-top: 10px;

  .bg-square-box {
    position: absolute;
    bottom:-6px;
    left:0;
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.no-records {
  text-align: center;
  padding-top: 100px;
  .icon {
    display: inline-block;
    width: 100px;
    height: 90px;
    background: url("../../images/investment/icon_noRecord.png") no-repeat;
    background-size: 100%;
  }
}

.target-category-box {
  padding:15px 15px 25px 15px;
  &.transfer {
    padding-bottom: 22px;
  }
  font-size: 16px!important;
  color: #808080!important;
  background: #fff;
  line-height: 35px;
  .newer-title{
    border-left:2px solid #FF473C;
    padding-left: 10px;
    line-height: 16px!important;
    display: flex;
    justify-content: space-between;
    span{
      vertical-align: middle;
      &.tip-text{
        font-size: 12px;
        color: #525252!important;
        letter-spacing: -0.29px;
        background: #F2F2F2;
        border-radius: 4px;
        padding: 2px 10px;
      }
    }
  }
  .loan-info{
    padding-top: 20px;
    li{
      text-align:center;
      span{
        font-size:16px;
        display: flex;
        justify-content: center;
        align-items: center;
        i {
          color: #525252;
        }
      }
      em{
        font-size:12px;
        color:#a2a2a2;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.input-amount-box {
  margin-top:15px;
  color: #525252;
}

.input-list {
  margin-bottom:50px;
}
.input-list li.mt-10{
  margin-top: 10px;
}
.input-list li input {
  text-align: left;
  font-size: 18px;
  color: #525252;

}
.input-list li span.number-text{
  text-align: left;
  font-size: 16px;
  color: #525252;
  strong{
    font-weight: normal;
    color: #FF473C;
  }
}

.transfer-notice {
  font-size: 12px;
  color: #A2A2A2;
  padding: 0px 40px 10px 40px;
  b {
    display: block;
    font-weight: normal;
    font-size: 13px;
    color: #525252;
    margin-top:20px;
  }
}

.apply-transfer-success {
  background: #fff;
  padding-top:50px;
  text-align: center;
  box-sizing: border-box;
  em {
    display: block;
    padding-top:20px;
    font-size: 15px;
    color: #808080;
  }
}

//转让项目购买详情
.benefit-box {
  position: relative;

  .bg-square-box {
    position: absolute;
    bottom:-6px;
    left:0;
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.target-category-box {
  padding:24px 15px 40px 15px;
  font-size: 14px;
  color: #525252;
  background: #fff;
  line-height: 35px;
  .newer-title{
    border-left:2px solid #FF473C;
    padding-left: 10px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    span{
      &.tip-text{
        font-size: 12px;
        color: #525252;
        letter-spacing: -0.29px;
        background: #F2F2F2;
        border-radius: 4px;
        padding: 2px 10px;
      }
    }
  }
  .benefit-list{
    margin-top: 10px;
    li{
      font-size: 14px;
      color: #525252;
      letter-spacing: -0.34px;
      span{
        color: #FF635A;
      }
    }
  }
}

.input-amount-box {
  margin-top:15px;
  color: #525252;
}

.input-list {
  margin-bottom:50px;
}
.input-list li.mt-10{
  margin-top: 10px;
}
.input-list li input {
  width: 60%!important;
  text-align: left;
  font-size: 18px;
  color: #525252;
}
.input-list li span.number-text{
  text-align: left;
  font-size: 16px;
  color: #525252;
  strong{
    font-weight: normal;
    color: #FF473C;
  }
}

.transfer-notice {
  font-size: 12px;
  color: #A2A2A2;
  padding: 0px 40px 10px 40px;
  b {
    display: block;
    font-weight: normal;
    font-size: 13px;
    color: #525252;
    margin-top:20px;
  }
}

.apply-transfer-success {
  background: #fff;
  padding-top:50px;
  text-align: center;
  box-sizing: border-box;
  em {
    display: block;
    padding-top:20px;
    font-size: 15px;
    color: #808080;
  }
}

//回款计划
.amount-detail {
  top: 51px;
  bottom: 0px;
  width: 100%;
  overflow: hidden;
  height: calc( 100% - 51px - 55px);
  .amount-detail-inner{
    margin-top: 10px;
    .payment-plan {
      background: #fff;
      padding: 10px 10px 0px 10px;
      display: flex;
      justify-content: space-between;
      font-size: 16px;
      color: #525252;
      height:40px;
      border-top:1px solid #F7F7F7;
      dd {
        flex: 1;
        font-size: 14px;
        color: #808080;
        line-height: 40px;
          &.status {
            color: #FF635A;
          }
        &.font-left {
          text-align: left;
        }
        &.font-center {
          text-align: center;
        }
        &.font-right {
          text-align: right;
        }

      }
      &.title {
        dd {
          color: #525252;
        }
      }
    }
  }
}
//优惠券
.select-btn{
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p{
    display: flex;
    width:100%;
    justify-content: space-between;
    &.to-coupon{
      justify-content: center;
      background: #FFFFFF;
      border: 0 solid #E5E5E5;
      border-radius: 4px;
      a{
        font-size: 14px;
        text-indent: 20px;
        color: #A2A2A2;
        letter-spacing: -0.15px;
        background: url("../../images/investment/icon_exchange_coupon.png") no-repeat left center;
        background-size: 16px 16px;
      }
    }
    &.info-list{
      margin-bottom: 0;
      a{
        font-size: 15px;
        color: #FF635A;
        letter-spacing: 0;
        text-decoration: underline;
      }
    }
  }
}
.coupon-list-container{
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .coupon-item{
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #FF635A;
    margin-bottom: 10px;
    border-radius: 5px;
    position: relative;
    &.disabled {
      opacity: 0.7;
    }
    &.selected {
      .selected-status {
        position: absolute;
        right: 0;
        top: 0;
        width: 40px;
        height: 40px;
        background: url("../../images/investment/icon_trangle.png") no-repeat;
        background-size: contain;
      }
    }
    .left-item{
      flex:0.7;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      background: #fff;
      padding: 5px 10px;
      box-sizing: border-box;
      position: relative;
      border-top-left-radius:5px;
      border-bottom-left-radius:5px;
      .circle-line{
        position: absolute;
        top:-5px;
        right:-5px;
        width:10px;
        height:100%;
        li{
          float:left;
          width:10px;
          height:10px;
          margin:3px 0;
          border-radius:50%;
          background:#f7f7f7;
        }
      }
      dl{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width:100%;
        color:#808080;
        dt{
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          font-size:14px;
        }
        dd{
          flex: 1;
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          font-size:12px;
          padding-left:10px;
          box-sizing:border-box;
          position: relative;
          &:before{
            content:'';
            display:block;
            width:5px;
            height:5px;
            border-radius:50%;
            box-sizing:border-box;
            position: absolute;
            top:50%;
            margin-top: -3px;
            left:0;
            border:1px solid #ff635a;
          }
          &.coupon-line{
            color:#a2a2a2;
            border-top:1px dashed #a2a2a2;
            padding-left: 0;
            &:before{
              display:none;
            }
          }
        }
      }
    }
    .right-item{
      flex:0.3;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background: #ff635a;
      padding: 5px 10px;
      box-sizing: border-box;
      p{
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        color:#fff;
        margin-bottom: 0;
        span{
          font-size:15px;
          &.price-text{
            font-size:30px;
          }
        }
        a{
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          width: 80%;
          color:#fff;
          font-size:13px;
          border:1px solid #fff;
        }
      }
    }
  }
}
#pullUp {
  width: 100%;
  height: 40px;
  line-height: 34px;
  background: #F7F7F7;
  text-align: center;
  z-index: 2000;
  margin-top:-300px;
}

#box_content {
  overflow: hidden;
  position: absolute;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  height: calc( 100% - 160px);
}
#scroll {
  min-height: calc( 100% - 40px);
}


.input-list #couponText{
  font-size: 16px;
  color: #FF473C;
}
.to-coupon {
  margin-bottom: 0;
}
.select-btn {
  padding-bottom: 0;
}
.m-header {
  height: 44px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  background: #FF473C;
  position: relative;
  .icon-left {
    position: absolute;
    left: 10px;
    top: 2px;
    i{
      font-size: 30px;
    }
  }
  #noUse {
    float: right;
    padding-right: 10px;
    font-size: 14px;
  }
}
.button-note {
  a {
    &.count-downing {
      background: #C9C9C9;
      border: 1px solid #C9C9C9;
    }
  }
}
.clear-font i {
  font-weight: normal!important;
  font-size: 16px!important;
}
.smartphoto {
  background-color:rgba(0,0,0,0.7)!important;
}
.summary-box b {
  font-size: 50px!important;
}
.summary-box i {
  font-size: 22px!important;
  font-weight: normal!important;
  position: relative;
  left: -10px;
  margin-left: 0!important;
}
#couponText {
  width: 60%;
}
.noCoupon {
  margin-top: 180px;
  .noCouponIcon{
    width: 100px;
    height: 90px;
    background: url("../../images/investment/no_coupon.png") no-repeat;
    background-size: 100%;
  }
}
#pullUp {
  position: absolute;
  bottom: 0;
}
.icon-close {
  width: 12px;
  height: 12px;
  display: inline-block;
  background: url("../../images/close_btn.png") no-repeat;
  background-size: contain;
}
.immediate-investment {
  margin-top: 50px!important;
}
.transfer-title {
  font-size: 14px;
  font-weight: normal!important;
}
.benefit-list span {
  font-weight: normal!important;
}
.input-list li input.transfer-price {
  font-weight: normal!important;
}
#transfer_details {
  font-weight: normal!important;
}
.transfer-lable {
  font-weight: normal!important;
}
.benefit-box.transfer-box .bg-square-box {
  bottom: 8px;
}
#transferSubmit {
  margin-top: 50px;
}

.layui-layer-title {
  background: #FF473C!important;
  color: #fff!important;
  text-align: center;
}
.layui-layer-setwin {
  left: 15px;
  right: 300px;
}
.layui-layer-title {
  padding: 0!important;
  font-size: 16px!important;
}
.layui-layer-setwin {
  top: 8px!important;
}
.layui-layer-setwin a {
  width: 15px!important;
  height: 24px!important;
  margin-left: -4px!important;
}
.layui-layer-ico {
  background: url("../../images/share/goback.png") no-repeat!important;
  background-size: contain!important;
}
.init-checkbox-style {
  width: 24px!important;
}
.box-item {
  margin-top: 10px;
  dl {
    font-weight: normal;
  }
}
layui-layer .layui-layer-page .layui-layer-content {
  overflow-y: scroll!important;
}