<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
		   http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		   http://www.springframework.org/schema/security
		   http://www.springframework.org/schema/security/spring-security-4.1.xsd">

    <beans:bean id="myAccessDeniedHandler" class="com.tuotiansudai.spring.security.MyAccessDeniedHandler">
        <beans:property name="errorPage" value="/403"/>
        <beans:property name="errorPageMapping">
            <beans:map>
                <beans:entry key="/" value="/login"/>
            </beans:map>
        </beans:property>
    </beans:bean>

    <authentication-manager alias="authenticationManager">
        <authentication-provider ref="myAuthenticationProvider"/>
    </authentication-manager>

    <http auto-config="true" use-expressions="true" authentication-manager-ref="authenticationManager">
        <headers>
            <frame-options policy="SAMEORIGIN"/>
        </headers>
        <access-denied-handler ref="myAccessDeniedHandler"/>
        <form-login login-page="/login"
                    authentication-details-source-ref="myWebAuthenticationDetailsSource"
                    authentication-success-handler-ref="mySimpleUrlAuthenticationSuccessHandler"
                    authentication-failure-handler-ref="mySimpleUrlAuthenticationFailureHandler"/>

        <logout logout-url="/logout" success-handler-ref="mySimpleUrlLogoutSuccessHandler"/>

        <custom-filter ref="myPreAuthenticatedProcessingFilter" position="PRE_AUTH_FILTER"/>

        <intercept-url pattern="/images/**" access="permitAll()" />
        <intercept-url pattern="/upload/**" access="permitAll()" />
        <intercept-url pattern="/js/**" access="permitAll()" />
        <intercept-url pattern="/style/**" access="permitAll()" />

        <intercept-url pattern="/login/**" access="permitAll()"/>

        <intercept-url pattern="/" access="hasAnyAuthority('ADMIN','CUSTOMER_SERVICE','OPERATOR','OPERATOR_ADMIN','EDITOR','ASK_ADMIN','FINANCE_ADMIN')"/>
        <intercept-url pattern="/bi/**" access="hasAnyAuthority('ADMIN', 'CUSTOMER_SERVICE', 'OPERATOR', 'OPERATOR_ADMIN')"/>
        <intercept-url pattern="/project-manage/loan" access="hasAnyAuthority('ADMIN', 'OPERATOR')"/>
        <intercept-url pattern="/project-manage/*" access="hasAnyAuthority('ADMIN', 'OPERATOR', 'OPERATOR_ADMIN')"/>
        <intercept-url pattern="/product-manage/*" access="hasAnyAuthority('ADMIN','CUSTOMER_SERVICE','OPERATOR','OPERATOR_ADMIN')"/>
        <intercept-url pattern="/activity-manage/*" access="hasAnyAuthority('ADMIN', 'OPERATOR', 'CUSTOMER_SERVICE', 'OPERATOR_ADMIN')"/>
        <intercept-url pattern="/user-manage/account/*/search" access="hasAnyAuthority('ADMIN', 'CUSTOMER_SERVICE', 'OPERATOR', 'OPERATOR_ADMIN')"/>
        <intercept-url pattern="/user-manage/user/*/search" access="hasAnyAuthority('ADMIN', 'CUSTOMER_SERVICE', 'OPERATOR', 'OPERATOR_ADMIN')"/>
        <intercept-url pattern="/user-manage/users-search" access="hasAnyAuthority('ADMIN', 'CUSTOMER_SERVICE', 'OPERATOR', 'OPERATOR_ADMIN')"/>
        <intercept-url pattern="/user-manage/user/*" access="hasAnyAuthority('ADMIN', 'CUSTOMER_SERVICE', 'OPERATOR', 'OPERATOR_ADMIN')"/>
        <intercept-url pattern="/user-manage/referrer/**" access="hasAnyAuthority('ADMIN', 'CUSTOMER_SERVICE', 'OPERATOR', 'OPERATOR_ADMIN')"/>
        <intercept-url pattern="/user-manage/user-micro-model" access="hasAnyAuthority('ADMIN', 'OPERATOR', 'OPERATOR_ADMIN', 'DATA')"/>
        <intercept-url pattern="/finance-manage/invests/**" access="hasAnyAuthority('ADMIN', 'CUSTOMER_SERVICE', 'OPERATOR', 'OPERATOR_ADMIN')"/>
        <intercept-url pattern="/finance-manage/invest-repay/**" access="hasAnyAuthority('ADMIN','CUSTOMER_SERVICE', 'OPERATOR', 'OPERATOR_ADMIN')"/>
        <intercept-url pattern="/finance-manage/recharge/**" access="hasAnyAuthority('ADMIN', 'CUSTOMER_SERVICE', 'OPERATOR', 'OPERATOR_ADMIN')"/>
        <intercept-url pattern="/finance-manage/withdraw/**" access="hasAnyAuthority('ADMIN', 'CUSTOMER_SERVICE', 'OPERATOR', 'OPERATOR_ADMIN')"/>
        <intercept-url pattern="/finance-manage/user-funds/**" access="hasAnyAuthority('ADMIN', 'CUSTOMER_SERVICE', 'OPERATOR', 'OPERATOR_ADMIN')"/>
        <intercept-url pattern="/finance-manage/account-balance" access="hasAnyAuthority('ADMIN', 'CUSTOMER_SERVICE', 'OPERATOR', 'OPERATOR_ADMIN')"/>
        <intercept-url pattern="/finance-manage/transfer-bill" access="hasAuthority('ADMIN')"/>
        <intercept-url pattern="/finance-manage/payroll-manage/**" access="hasAnyAuthority('ADMIN', 'PAYROLL_ADMIN')"/>
        <intercept-url pattern="/user-manage/user/*/impersonate" access="hasAuthority('ADMIN')"/>
        <intercept-url pattern="/security-log/clear-db-cache" access="hasAuthority('ADMIN')"/>
        <intercept-url pattern="/link-exchange-manage/**" access="hasAnyAuthority('ADMIN','OPERATOR','OPERATOR_ADMIN')"/>
        <intercept-url pattern="/announce-manage/article/**" access="hasAnyAuthority('ADMIN','OPERATOR','OPERATOR_ADMIN','EDITOR')"/>
        <intercept-url pattern="/ueditor/**" access="hasAnyAuthority('ADMIN', 'CUSTOMER_SERVICE', 'OPERATOR', 'OPERATOR_ADMIN','EDITOR')"/>
        <intercept-url pattern="/ask-manage/**" access="hasAnyAuthority('ADMIN','ASK_ADMIN')"/>
        <intercept-url pattern="/deleteNotify" access="permitAll()"/>
        <intercept-url pattern="/bank-card-manager/**" access="hasAnyAuthority('ADMIN', 'CUSTOMER_SERVICE', 'OPERATOR_ADMIN')"/>
        <intercept-url pattern="/loan-application/**" access="hasAnyAuthority('ADMIN','OPERATOR','OPERATOR_ADMIN','RISK_CONTROL_STAFF')"/>

        <intercept-url pattern="/**" access="hasAnyAuthority('ADMIN','OPERATOR','OPERATOR_ADMIN')"/>
        <csrf request-matcher-ref="csrfSecurityRequestMatcher"/>
    </http>

    <beans:bean id="csrfSecurityRequestMatcher" class="com.tuotiansudai.spring.CsrfSecurityRequestMatcher">
        <beans:property name="excludedUrls">
            <beans:list>
                <beans:value>/ueditor/**</beans:value>
                <beans:value>/upload</beans:value>
                <beans:value>/activity-manage/import-excel</beans:value>
            </beans:list>
        </beans:property>
    </beans:bean>

</beans:beans>