.bank {
  &.BANK-102 {
    background: url('../images/bank/BANK-102.png') left top no-repeat;
    background-size: 100%;
  }
  &.BANK-103 {
    background: url('../images/bank/BANK-103.png') left top no-repeat;
    background-size: 100%;
  }
  &.BANK-104{
    background: url('../images/bank/BANK-104.png') left top no-repeat;
    background-size: 100%;
  }
  &.BANK-105 {
    background: url('../images/bank/BANK-105.png') left top no-repeat;
    background-size: 100%;
  }
  &.BANK-301 {
    background: url('../images/bank/BANK-301.png') left top no-repeat;
    background-size: 100%;
  }
  &.BANK-100 {
    background: url('../images/bank/BANK-100.png') left top no-repeat;
    background-size: 100%;
  }
  &.BANK-302 {
    background: url('../images/bank/BANK-302.png') left top no-repeat;
    background-size: 100%;
  }
  &.BANK-303 {
    background: url('../images/bank/BANK-303.png') left top no-repeat;
    background-size: 100%;
  }
  &.BANK-304 {
    background: url('../images/bank/BANK-304.png') left top no-repeat;
    background-size: 100%;
  }
  &.BANK-305 {
    background: url('../images/bank/BANK-305.png') left top no-repeat;
    background-size: 100%;
  }
  &.BANK-306 {
    background: url('../images/bank/BANK-306.png') left top no-repeat;
    background-size: 100%;
  }
  &.BANK-307 {
    background: url('../images/bank/BANK-307.png') left top no-repeat;
    background-size: 100%;
  }
  &.BANK-308 {
    background: url('../images/bank/BANK-308.png') left top no-repeat;
    background-size: 100%;
  }
  &.BANK-309 {
    background: url('../images/bank/BANK-309.png') left top no-repeat;
    background-size: 100%;
  }
  &.BANK-310 {
      background: url('../images/bank/BANK-310.png') left top no-repeat;
      background-size: 100%;
    }
  &.BANK-311 {
    background: url('../images/bank/BANK-311.png') left top no-repeat;
    background-size: 100%;
  }
  &.BANK-466 {
    background: url('../images/bank/BANK-466.png') left top no-repeat;
    background-size: 100%;
  }
  &.BEA {
    background-image: url('../images/bank/BEA.png');
  }
  &.BHB {
    background-image: url('../images/bank/BHB.png');
  }
  &.BJBANK {
    background-image: url('../images/bank/BJBANK.png');
  }
  &.BOC {
    background-image: url('../images/bank/BOC.png');
  }
  &.CCB {
    background-image: url('../images/bank/CCB.png');
  }
  &.CEB {
    background-image: url('../images/bank/CEB.png');
  }
  &.CIB {
    background-image: url('../images/bank/CIB.png');
  }
  &.CITIC {
    background-image: url('../images/bank/CITIC.png');
  }
  &.CMB {
    background-image: url('../images/bank/CMB.png');
  }
  &.CMBC {
    background-image: url('../images/bank/CMBC.png');
  }
  &.COMM {
    background-image: url('../images/bank/COMM.png');
  }
  &.CZSB {
    background-image: url('../images/bank/CZSB.png');
  }
  &.GDB {
    background-image: url('../images/bank/GDB.png');
  }
  &.HXB {
    background-image: url('../images/bank/HXB.png');
  }
  &.ICBC {
    background-image: url('../images/bank/ICBC.png');
  }
  &.LZB {
    background-image: url('../images/bank/LZB.png');
  }
  &.PSBC {
    background-image: url('../images/bank/PSBC.png');
  }
  &.SHRCB {
    background-image: url('../images/bank/SHRCB.png');
  }
  &.SPAB {
    background-image: url('../images/bank/SPAB.png');
  }
  &.SPDB {
    background-image: url('../images/bank/SPDB.png');
  }
  &.WZCB {
    background-image: url('../images/bank/WZCB.png');
  }

}