.bank {
  &.ABC {
    background-image: url('../images/bank/ABC.png');
  }
  &.BEA {
    background-image: url('../images/bank/BEA.png');
  }
  &.BHB {
    background-image: url('../images/bank/BHB.png');
  }
  &.BJBANK {
    background-image: url('../images/bank/BJBANK.png');
  }
  &.BOC {
    background-image: url('../images/bank/BOC.png');
  }
  &.CCB {
    background-image: url('../images/bank/CCB.png');
  }
  &.CEB {
    background-image: url('../images/bank/CEB.png');
  }
  &.CIB {
    background-image: url('../images/bank/CIB.png');
  }
  &.CITIC {
    background-image: url('../images/bank/CITIC.png');
  }
  &.CMB {
    background-image: url('../images/bank/CMB.png');
  }
  &.CMBC {
    background-image: url('../images/bank/CMBC.png');
  }
  &.COMM {
    background-image: url('../images/bank/COMM.png');
  }
  &.CZSB {
    background-image: url('../images/bank/CZSB.png');
  }
  &.GDB {
    background-image: url('../images/bank/GDB.png');
  }
  &.HXB {
    background-image: url('../images/bank/HXB.png');
  }
  &.ICBC {
    background-image: url('../images/bank/ICBC.png');
  }
  &.LZB {
    background-image: url('../images/bank/LZB.png');
  }
  &.PSBC {
    background-image: url('../images/bank/PSBC.png');
  }
  &.SHRCB {
    background-image: url('../images/bank/SHRCB.png');
  }
  &.SPAB {
    background-image: url('../images/bank/SPAB.png');
  }
  &.SPDB {
    background-image: url('../images/bank/SPDB.png');
  }
  &.WZCB {
    background-image: url('../images/bank/WZCB.png');
  }

}