.layui-layer-msg {
  width:70%;
}
body {
  background: #fff;
}
.sign-container {
  width: 100%;
  height: 100%;
  text-align: center;
  background: #fff;
  box-sizing: border-box;
  #EntryPointForm {
    position: relative;
    .close_btn {
      display: none;
      position: absolute;
      top: .7rem;
      right: .65rem;
      width: .6rem;
      height: .6rem;
      background: url("../images/close_btn.png") no-repeat;
      background-size: contain;
    }
  }
  input {
    width:17.5rem;
    height: 2rem;
    margin: 0 auto;
    box-sizing: border-box;
    padding: .5rem .3rem;
    border-width: 0;
    border-bottom:.05rem solid #F2F2F2;
    color: #525252;
  }
  .error {
    color: #525252;
  }
  .logo-note {
    color: #FF473C;
    font-size: .65rem;
    text-align: center;
    margin-bottom: 2rem;
    overflow: hidden;
    .logo {
      width:7.35rem;
      height:1.8rem;
      margin: 3.25rem auto .8rem auto;
      display: block;
      background: url('../images/logo-re.png') center center no-repeat;
      background-size: 100%;

    }
  }
  .show-mobile {
    margin: 0 auto;
    width: 17.55rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    font-size: 1.2rem;
    background: #F2F2F2;
    color: #FF473B;
    &.show-mobile-entry {
      display: none;
    }
  }
  .next-step {
    margin-top:1.5rem;
  }

  &.sign-login {
    text-align: center;
    .show-mobile {
      margin: 2.5rem auto .5rem auto;
      background: transparent;
    }
    .captcha,.short-message-captcha {
      width: 12.55rem;
      margin-right: .3rem;
    }
    .image-captcha {
      width: 4.5rem;
      height: 1.8rem;
    }
    .get-password {
      display: inline-block;
      width:80%;
      text-align: right;

      margin: 5px auto;
      a {
        color: #808080;
      }
    }

    .form-register {
      font-size: 14px;
      .short-message-captcha {
        float: left;
      }
      .get-captcha {
        float: left;
        width: 30%;
        color: #525252;
        box-sizing: border-box;
        padding: 5px 0px;
        border-bottom: 1px solid #F2F2F2;
        margin-bottom: 10px;
        line-height: 26px;
        font-size:13px;

        &:before {
          display: inline-block;
          height:20px;
          width:1px;
          background: #E5E5E5;
          content:'';
          margin-right: 20px;
          vertical-align: middle;
        }
      }

      .invite-mobile {
        display: block;
        text-align: left;
        color: #FF473C;
        line-height: 20px;
        margin-top: 10px;
        padding-left: 6px;
        position: relative;
        cursor: pointer;
        i {
          width:15px;
          height:15px;
          background: url('../images/icon-up.png') right center no-repeat;
          background-size: 100%;
          position: absolute;
          right: 15px;
          top:0;
        }

        &.closed {
          i {
            background: url('../images/icon-down.png') right center no-repeat;
            background-size: 100%;
          }
        }
      }

      .referrer {
        &.closed {
          height: 1px;
          padding: 0;
        }
      }
      .show-agreement {
        color: #808080;
        font-size: 12px;
        text-align: left;
        width:80%;
        margin:5px auto;
        display: block;
      }

    }

    .btn-ok-update {
      margin-top:30px;
    }
  }

  &.register-success {
    font-size: 15px;
    color: #808080;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;
    .success-tip {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      flex-direction: column;
      .success-text {
        font-size: 20px;
        color: #525252;
      }
    }
    .success-img {
      flex: 2.1;
      display: flex;
      flex-direction: column;
      align-items: center;
      .experience-gold {
        background: url('../images/sign-reward.png') center center no-repeat;
        background-size: contain;
        flex: 5;
        width:80%;
      }
      .note {
        font-size: 10px;
        padding-bottom: 30px;
        flex: 1;
      }
    }
    .success-button {
      flex: 1.5;
      .note2 {
        font-size: 12px;
        padding-top: 10px;
        display: block;
      }
      .only-border {
        margin-top:20px;
      }
    }
  }
}

.goBack_wrapper {
  position: relative;
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 17px;
  color: #fff;
  background: #FF473C;
  .go-back-container {
    position: absolute;
    left: 2px;
    top: 7px;
    width: 30px;
    height: 30px;
    overflow: hidden;
    .go-back{
      display: block;
      margin: 8px 0 0 10px;
      width: 9px;
      height: 14px;
      background: url("../images/go_back.png") no-repeat;
      background-size: contain;
    }
  }
}

.login_container {
  display: none;
}

.register_container {
  display: none;
}

#formLogin {
  .captcha_container {
    position: relative;
    .close_btn {
      display: none;
      position: absolute;
      top: .7rem;
      left: 11.8rem;
      width: .6rem;
      height: .6rem;
      background: url("../images/close_btn.png") no-repeat;
      background-size: contain;
    }
  }
  .password_container {
    position: relative;
    .close_btn {
      display: none;
      position: absolute;
      top: .7rem;
      left: 14.9rem;
      width: .6rem;
      height: .6rem;
      background: url("../images/close_btn.png") no-repeat;
      background-size: contain;
    }
    .see_password {
      position: absolute;
      top: .7rem;
      left: 17rem;
      width: 1.1rem;
      height: .6rem;
      background: url("../images/close_password.png") no-repeat;
      background-size: contain;
      &.open_eye {
        background: url("../images/open_password.png") no-repeat;
        background-size: contain;
      }
    }
  }
}



