@charset "utf-8";
/* CSS Document */

.date{padding:30px 0; line-height:30px; font-size:14px; color:#343434;}
.date span{padding-left:20px;}
.date span.tj_tj{padding-left:10px;}
.date span.date_span{padding:0 10px;}
.date_select{width:138px; height:28px; border:1px solid #d9d9d9; line-height:28px; margin-left:5px;}
.date_select_02{width:60px;}
.date_txt{width:103px; height:28px; line-height:28px; border:1px solid #d9d9d9;padding: 0 5px 0 27px;background: url("../images/a51.jpg") no-repeat scroll 8px 8px #fff;}
.date .date_txt02{width:70px; font-size:12px;}
.grzx_r02{ float:right;}
.grzx_r02 a{display:block; width:80px; height:35px; line-height:35px; text-align:center; font-size:14px; color:#fff; float:left; margin-top:-2px;}
.cx{background:#C50907; margin-right:10px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;}
.cx:hover{background:#f33735;}
.cx02{margin-right:50px;}
.tab_01{color:#000000;}
.tab_01 .tab02{line-height:45px;}
.tab_01 .tab03{line-height:75px;}
.tab_01 .tab05{line-height:20px; font-size:12px;}
.tab_01 .tab_green a{color:#f33735;}
.tab_blue{color:#468847;}
.tab_red{color:#d81515;}

/*个人中心-理财管理-我的投资*/
.grzx_ul02 li{width:30%;}

/*账户充值*/
.zhcz_p{line-height:40px; font-size:14px; color:#636363; padding-left:20px;}
.zhcz{padding-left:20px;}
.zhcz_ul img{
	width: 145px;
	height: 44px;
}
.zhcz_ul li{float:left; margin-right:23px; margin-bottom:18px;}
.zhcz_ul li a{ display:block; width:145px; height:44px;  border:4px solid #c8c8c8; float:left;}
.zhcz_ul li a:hover{border:4px solid #38b64b;}
.zhcz_ul li a.hover{border:4px solid #38b64b;}
.zhcz_ul li input{float:left; margin-top:17px;}
.zhcz_h302{background:none;}
.zhcz_p02{font-size:14px; line-height:25px; color:#343434; padding-left:80px; padding-bottom:20px;}
.txczje{padding:20px 0; font-size:16px; color:#343434; line-height:40px;}
.txczje_l{width:280px; height:50px; float:left; text-align:right;}
.txczje_l span{color:red;}
.txczje_r{width:400px; height:50px; float:left; padding-left:10px;}
.txczje_r span{font-size:24px;}
.txt02{width:177px; height:40px; border:1px solid #e5e5e5; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; line-height:40px; margin-right:10px;}

.txczje02_btn:hover{ background:#f33735;}
.set-cash-pw {
  height: 35px;
  line-height: 35px;
  padding-left: 182px;
}
.set-cash-pw a {
  color: #C50907;
  padding-left: 5px;
}
.zhtx {padding:25px 15px; border-bottom:1px solid #e1e1e1;}
.zhtx_ul{padding-left:15px;}
.zhtx_ul li{width:226px; height:98px; float:left; padding:2px; border:1px solid #c8c8c8; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; margin-right:15px; position:relative; text-align:center;}
.zhtx_ul li a{color:#a3a3a3; font-size:14px;}
.zhtx_ul li img{padding:15px 0 10px 0;}
.zhtx_ul li p{line-height:30px; height:30px; border-top:1px solid #e1e1e1;}
.zhtx_ul li:hover{border:2px solid #55a500; padding:1px;}
.zhtx_ul li.zhtx_li{border:2px solid #55a500; padding:1px;}
.zhtx_ul li.zhtx_li em{width:16px; height:16px; background:url(../images/img48.png) no-repeat; position:absolute; right:0; bottom:0;}
.zhtx_ul a{ display:block; width:226px; height:98px;    float:left; }

.tj{float:right; padding-right:20px; line-height:60px; height:60px;}
.tj a{ padding-left:40px; font-size:14px; color:#C50907;}
.zhcz_p03{padding-left:50px;}
.txczje02 .blue{ color:#C50907;}
.txczje02_btn_02{margin-top:20px;}

/*自动投标*/
.zdtb_gb{text-align:center; line-height:65px; font-size:24px; color:#3f3f3f;}
.zdtb_gb span{color:#C50907;}
.zdtb{padding:20px;}
.zdtb_box{width:746px; height:54px; border-bottom:1px dashed #e8e8e8; font-size:16px; color:#242424; line-height:54px;}
.zdtb_l{width:126px; height:54px; float:left; text-align:right;}
.zdtb_r{width:610px; height:54px; float:left; padding-left:10px;}
.zdtb_box span{color:#8f8f8f;}
.date_txt02{font-size:16px;}
.date_select02{width:59px; padding:0; margin:0; font-size:16px;}
.btn{ margin:54px 0 28px 136px;}
.yhkxx{padding:0 0 20px 30px;}
.yhkxx li:hover{border:2px solid #55a500;}
.yhkxx li{width:228px; height:120px; border:2px solid #c8c8c8; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; float:left; margin:20px 20px 0 0; font-size:14px; line-height:27px;}
.yhkxx li .yhk{width:228px; padding-top:16px; height:75px; text-align:center; font-size:14px; color:#a3a3a3; border-bottom:1px solid #e1e1e1;}
.yhkxx li .yhk p{ line-height:30px;}
.yhkxx li a{color:#f33735; line-height:25px; }
.yhkxx_l{ margin-left:53px;}
.yhkxx_r{ margin-left:15px;}
.yhk span.spanBank {
	display: block;
	line-height: 18px;
	font-size: 18px;
	color: #000;
}
.yhkxx_c{ margin-left:80px; line-height:10px;}
.yhkxx li img.jia{width:44px; height:44px; padding-top:10px;}
.txczje_r span.xzyhk{font-size:14px; color:#ababab; padding-left:20px;}
.date_select03{margin-top:5px; margin-left:0;}
.txt03{width:175px; height:30px; line-height:30px;}
.ss{ padding:5px 15px;font-size:14px; display:inline;}
.hqyzm{font-size:14px; padding:5px 15px; display:inline;}
.xz,.qx{padding:7px 25px; margin-right:20px;}
.qx{background:#dbdbdb; color:#5d5d5d;}
.qx:hover{ background:#c1bebe;}

/*站内信*/
.znx{padding-left:20px;}
.znx li{ width:745px; border-bottom:1px solid #e8e8e8;}
.znx li h3{font-size:14px; line-height:57px; color:#000;}
.znx li p{line-height:20px;}
.znx li p a{color:#4e4e4e;}
.znx li p a:hover{color:#C50907;}
.znx li p span{float:right; color:#3f3f3f; font-size:12px; font-weight:bold; line-height:40px; }
.znx li p span a{color:#C50907; padding-left:5px; text-decoration:underline;}

/*通知设置*/
.tzsz_p{font-size:18px; color:#000; padding:20px 0 15px 20px;}
.tab_02{margin-left:20px; line-height:30px; font-size:14px; color:#000; background:#efefef;}
.tab_02 tr.white{line-height:57px; background:#fff;}
.tab_02 .tab_02_td{padding-left:20px;}
.btn02{margin:25px 0 30px 226px;}

/*债权转让*/
.grzx_ul03 li{width:45%; text-align:center; line-height:60px; font-size:16px;}
.grzx_ul03 li span{color:#fe7610;}
.center_zj02 div p{width:175px;}
.center_zj02 div.center_zj_04 p{width:190px;}
.zqzr_c{padding:0px 0 0 25px;}
.zqzr_c h3{ font-size:22px; color:#6c6c6c; font-weight:normal;}
.zqzr_c_ul{padding:20px 0;}
.zqzr_c_ul li{width:33%; line-height:30px; font-size:14px; float:left;}
.zqzr_c_ul li a{ color:#C50907;} 

.aqxx_tab{font-size:14px; line-height:59px; color:#3e3e3e; margin-left:20px; margin-bottom:20px;}
.aqxx_tab td{border-bottom:1px dashed #ebe7e7;}
.aqxx_tab .font18{font-size:18px; padding-left:20px;}
.aqxx_tab a{color:#C50907;}
.grzx_ul04 li{line-height:60px; text-align:center;}
.grzx_ul04 li.orange{color:#fe7610;}
.grzx_ul04 li span{padding-left:20px;}
.jf{line-height:50px; font-size:18px; color:#3e3e3e; padding-left:10px;}
.tj01{line-height:60px;}
.tj01 p{display:inline-block; padding-left:28px; float:left; font-size:14px; color:#3e3e3e; }
.tj01 p .link{color:#C50907; font-size:14px; text-decoration:underline; padding:0;}
.tj01 p .fz{color:#fff; padding:2px; background:#C50907; margin-left:5px; font-size:12px;}
.tj01 p .fx{color:#fe7610; font-size:12px; text-decoration:underline;}
.tj01 span{float:right; color:#5d5d5d; font-size:12px; line-height:90px; padding-right:20px;}

/*个人基础信息*/
.jcxx_tab{ margin:0 auto; line-height:50px; margin-top:30px; font-size:14px; color:#000;}
.jcxx_tab td{border-bottom:1px dashed #e0e0e0; padding-left:5px;}
.jcxx_tab span{color:red; padding:0 5px;}
.jcxx_tab td.gray{color:#cccccc;}
.jcxx_tab td img{margin:0 5px -3px 0;}
.jcxx_tab a{display:block; width:80px; height:35px; line-height:35px; text-align:center; font-size:14px; color:#fff; background:#C50907; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; margin:20px 0;}
.jcxx_tab td.last{border:0;}
.jcxx_tab a:hover{background:#f33735;}

/*绑定手机*/
.bdsj_p{width:743px; height:60px; line-height:58px; margin:0 auto; border-bottom:1px dashed #ebe7e7; font-size:18px; color:#666666;}
.bdsj_p img{margin:0 20px -10px 20px;}
.bdsj_p span{float:left;}
.bdsj_p a{float:right; color:#C50907; font-size:14px; padding-right:60px;}
.bdsj{margin-top:20px;}
.bdsj_l{width:280px; height:30px; line-height:30px; float:left; text-align:right; font-size:14px; color:#3e3e3e;}
.bdsj_r{width:350px; height:30px; line-height:30px; float:left; padding-left:10px; font-size:14px; color:#3e3e3e;}
.bdsj_txt{width:168px; height:28px; border:1px solid #cfcfcf; font-size:14px; line-height:28px;}
.bdsj_l span{color:red;}
.bdsj_r a{display:block; width:120px; height:30px; line-height:30px; text-align:center; background:#C50907; color:#fff; font-size:14px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;}
.bdsj_r .send-btn{border:none; display:block; width:120px; height:30px; line-height:30px; text-align:center; background:#C50907; color:#fff; font-size:14px; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;}
.bdsj_r a:hover{background:#f33735;}
.bdsj_r .send-btn:hover{background:#f33735;}
.bdsj_02{margin-bottom:30px;}
.bdsj_p i{font-size:14px; padding-left:100px; font-style:normal;}
.bdsj_r .bdsj_btn{ float:left; margin-left:10px;font-family: microsoft yahei;cursor:pointer;}
.bdsj_txt01{float:left;}
.xgmm_p{text-align:center; line-height:40px; font-size:14px; color:#9b9b9b; padding-top:20px;}
.done{width:250px; height:120px; margin:100px auto;}
.done img{float:left; width:57px; height:61px; padding-right:10px;} 
.done p{float:left; font-size:24px; color:#666666;}
.done p span{ color:#C50907; font-size:20px; line-height:30px;}
.done p span a{font-size:14px; color:#C50907; text-decoration:underline;}

/* 通知设置 */
.message-type-form{
	margin-left: 46px;
}
.message-type-form .txczje table{
	width: 100%;
}
.message-type-form .txczje_l{
	width: 244px;
}
.message-type-form .txczje_r{
	margin-top: 27px;
}
.message-type-form td{
	float:left;
	width:33%;
	margin-top: 3px;
	font-size: 14px;
}

.fastPayment{width: 566px; height: 40px; line-height: 40px; padding-left: 214px;}

.updateCard a{text-align:right; display:block;width:220px;}

.fastPaymentLink a{width:230px; display:block; text-align:center; color:#f33735; height:40px; line-height:40px;}

.current {
	border: 1px solid #efefef;
	border-bottom: none;
	background-color: white;
	color: #f33735;
}
.counterMark {
	margin-left: 214px;
	position: absolute;
	margin: -29px 212px;
}

.counterMark span {
	display: block;
	float: left;
	width: 118px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	font-size: 16px;
	position:relative;
	cursor: pointer;
}

.counterMark span img {
	vertical-align:middle;
	position: absolute;
	top:2px;
	right:4px;
}
