@charset "utf-8";
/* CSS Document */

.footer{background: #3f3f3f}
.ft-con{width: 1000px;margin: 0 auto;padding-top: 60px;padding-bottom: 50px;}
.ft-top{float: left;padding-right: 80px;}
.ft-top,.ft-top a{color: #ffffff}
.ewm{vertical-align: middle;width: 116px;height: 116px;}
.ft-top span{font-size: 14px;font-weight: bold;}
.ft-top a,.ft-top ul li{font-size: 12px;}
.ft-top a:hover{text-decoration: underline;}
.ft-top ul li{line-height: 28px;}
.contact{width: 250px;padding-right: 40px;}
.lastwem{padding-right: 0px;float: right;}
.ft-top ul li.tel{font-size: 20px;margin: 10px 0px}
.clear{clear: both;}
.copyright{font-size: 15px;text-align: center;color: #ffffff;padding-top: 40px;border-top: 1px solid #606060;margin-top: 20px;}
