@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
body{ font-family:'微软雅黑';}
ul{ list-style:none;}
a{ text-decoration:none;}
.color9a9393{ color:#9a9393;}
.color57{ color:#575757;}
.color3e{ color:#3e3e3e;}
.color2dbff1{ color:#2dbff1;}
.fontsize14{ font-size:14px;}
.fontsize16{ font-size:16px;}
.fontsize18{ font-size:18px;}
.fontsize24{ font-size:24px;}
.fl{ float:left}
.fr{ float:right;}
.pr{ position:relative;}
.pa{ position:absolute;}
.clear{ clear:both}
.form-top{ width:1000px; margin:0 auto; height:165px; line-height:45px;}
.form-top table{ margin:0 auto}
/*流程图*/
.jd-bar{ height:100px; width:1000px; background:url(../images/jd.png) no-repeat 48px 10px;}
.jd-bar span.bz-now{ color:#2dbff1; font-size:14px;}
.jd-bar span{ display:inline-block; font-size:14px; color:#afb4bc; position:relative;}
.buzhou1{ padding-top:62px; padding-left:35px;}
.buzhou2{ padding-left:129px;}
.buzhou3{padding-left:153px;}
.buzhou4{padding-left:170px;}
.buzhou5{padding-left:153px;}
.blueround{display:block; width:50px; height:50px; background:#2dbff1; border-radius:100%; position:absolute; text-align:center; line-height:50px; font-size:20px; color:#fff;}
.blueround01{top:15px; left:53px;}
.blueround02{ left:144px; top:-47px;}
.blueround03{ left:142px; top:-47px;}
/*表单内容1*/
.form-div{ width:1000px; margin:0 auto; min-height:500px; border:1px solid #e5e5e5;}
.form-div h3{ font-size:24px; color:#3e3e3e; height:64px; line-height:64px; padding-left:20px; margin-bottom:20px; border-bottom:1px solid #e2e2e2;}
.form-div p{min-width:650px; padding-bottom:20px;}
.form-div p span{ display:inline-block; margin-right:20px;}
.form-div p span.stxt{ width:140px; text-align:right; font-size:14px; color:#343434;}
.form-div p span.sinput{ text-align:left;  border:1px solid #e5e5e5; border-radius:5px;}
.form-div p span.sinput input{ width:250px; height:31px; line-height:31px; margin:1px; outline:none; border-width:0px;}
/*.form-div p span.sinput select{ width:250px; height:31px;line-height:31px; margin:1px; outline:none; border-width:0px;}*/
.form-div p span.tinput,.form-right p span.tinput{ border:1px solid #e5e5e5; border-radius:5px;max-width:780px; min-height:154px; max-height:450px;}
.form-div p span.tinput textarea,.form-right p span.tinput textarea{min-width:458px; min-height:154px; max-width:780px;max-height:450px; border:none; outline:none; vertical-align:text-top;border-radius:5px;}
.heightp{ height:35px; line-height:35px;}
.form-div p span.yzminput{ width:98px; height:35px;border:1px solid #e5e5e5; border-radius:5px;}
.form-div p span.yzminput input{ width:95px; height:31px; line-height:31px; margin:1px; border:none; outline:none}
.yzm{ margin-bottom:-10px; width:64px; height:25px;}
.form-div p label{ font-size:14px; color:#343434;}
.save-btn{ width:210px; height:36px; text-align:center; line-height:36px; font-size:16px; color:#fff; display:block; background:#2dbff1; border-radius:5px; border:1px solid #2395bc;}
.save-btn:hover{ background:#0FA1D3}
/*表单提交-个人信息*/
.info-content{ width:1000px; margin:0 auto;}
.form-left{ width:180px;}
.form-right{ width:800px;border:1px solid #e5e5e5;}
.form-right h3{ font-size:24px; color:#3e3e3e; height:64px; line-height:64px; padding-left:20px; margin-bottom:20px; border-bottom:1px solid #e2e2e2;}
.dot-bg{ background:url(../images/bg4.png) no-repeat 60px center;}
.form-right p{width:650px; margin-bottom:20px;}
.form-right p span{ display:inline-block; margin-right:20px;}
.form-right p span.stxt{ width:150px; text-align:right; font-size:14px; color:#343434; background:url(../images/bg4.png) no-repeat 60px center;}
.form-right p span.bgleft{background:url(../images/bg4.png) no-repeat 20px center;}
.form-right p span.sinput{   text-align:left; border:1px solid #e5e5e5; border-radius:5px;background:url(../images/bg4.png) no-repeat 10px center;}
.form-right p span.sinput input{ width:250px; height:31px; line-height:31px; margin:1px; outline:none; border-width:0px;}
/*.form-right p span.sinput select{ width:250px; height:31px;line-height:31px; margin:1px; outline:none; border-width:0px;}*/
.info-list li a{ display:block; border-bottom:2px solid #6cbcdd; width:161px; height:55px; text-align:center; line-height:55px; background:#0a8fc7; color:#fff; font-size:14px;}
.info-list li.bg-li{ background:url(../images/bg2.png) no-repeat 160px center;}
.info-list li a.first-li{ border-top-left-radius:6px; border-top-right-radius:6px;}
.info-list li a.last-li{ border-bottom-left-radius:6px; border-bottom-right-radius:6px;}
.info-list li a i{ background:url(../images/bg5.png) no-repeat 5px center; display:inline-block; width:18px; height:13px;}
.bg2{ display:inline-block; width:46px; height:20px; background:url(../images/bg1.png) no-repeat center; color:#fff; font-size:14px; padding-left:15px;}
.pfont{ font-size:14px; color:#769315; height:35px;}
.pfont em{ width:165px; height:16px; background:#e1e4e9; display:block; border-radius:10px;}
.pfont em b{ display:block; width:65%; height:16px; background:#769315;border-radius:10px;}
.form-right p.warmp{ width:520px; height:52px; text-align:center; line-height:52px; background:#fce6bf; font-size:14px; color:#3e3e3e; border-radius:7px; margin:30px auto;}
.form-right p.warmp i{ background:url(../images/bg3.png) no-repeat left center; display:inline-block; width:21px; height:20px; margin-bottom:-5px; margin-right:5px;}
.hktxt1{width:140px; text-align:right; font-size:14px; color:#343434;background:url(../images/bg4.png) no-repeat 59px center;}
.hktxt2{ width:80px;text-align:right; font-size:14px; color:#343434;background:url(../images/bg4.png) no-repeat 0px center;}
.hkinput{ width:130px;}
.house,.car{ padding-left:87px;background:url(../images/bg4.png) no-repeat 60px center;}
.house span,.car span{ font-size:14px;color:#343434}

.form-right p.pline{width:800px; border-bottom:1px solid #e5e5e5}
.pdleft50{ padding-left:50px;}
#marry1,#marry2,#marry3,#marry4{ margin-left:15px; margin-right:5px;}
#child1{margin-left:15px; margin-right:10px;}
#child2{margin-left:25px; margin-right:10px;}

.rzul01{ width:690px; min-height:160px; padding-left:80px;}
.rzul01 li{ float:left; height:160px; width:168px; text-align:center;}
.rzul01 li span{ display:block; padding-bottom:10px;}
.fixsize{ width:63px; height:63px;}
.marleft{ margin-left:130px;}