@charset "utf-8";
/* CSS Document */

/* #f33735 浅 #C50907 深 */

.data-con{width: 1000px;margin:0 auto;}
.data-con span{color: #484848;display: inline-block;margin-top: 25px;font-size: 15px;margin-bottom: 25px;}
.data-con span strong{color: #929292;font-size: 26px;}
.data-con span strong i{border-radius: 3px;border: 1px solid #f2d4d4;padding: 0px 4px;margin-right: 5px;}
.wid330{width: 300px;}
/***data end***/

.icon-div{background: #f0f5f8;}
.icon{width: 1000px;margin: 0 auto;padding: 25px 0px;}
.icon div{width: 22%;text-align: center;}
.icon div p a{color: #3b3c3d;font-size: 20px;margin: 12px 0px;display: inline-block;}
.icon div p{color: #676767;font-size: 15px;line-height: 23px;}
.margl{margin-left: 4%;}
/***icon end***/

.layout{width: 1000px;margin: 0 auto;}
.newbie{margin-bottom: 20px;}
.tip{margin-top: 20px;margin-bottom: 30px;}
.tip span{font-size: 24px;color: #f33735;}
.tip span i{font-size: 14px;color: #999999;border-radius: 14px;background: #f3efe8;border: 1px solid #eae3d6;padding: 3.5px 10px;vertical-align: middle;margin-left: 8px;}
.tip .more{background: #e1e1e1;color: #4a4a4a;padding: 4px 20px;border-radius: 12px;}
.tip .more:hover{background: #C1C1C1;color: #fff;}
.list-box{background: #f0f4f7;width: 233px;padding: 8px;margin-right: 1px;float: left;}
.list{border: 1px solid #ebeced;background: #fff;padding: 8px;}
.list h3{margin-bottom:15px;}
.list h3 a{font-size: 18px;color: #000000;}
.list h3 a:hover{color: #f33735;text-decoration: underline;}
.list h3 img{width: 32px;height: 34px;margin-bottom: -10px;margin-right: 8px;}
.color2{color: #f24a4a;}
.color1{color: #a0a0a0}
.font26{font-size: 26px;}
.list p{line-height: 30px;}
.line{height: 1px;width: 232px;background: #dddddd;margin-left: -8px;margin-bottom:10px;margin-top:10px;}
.progress-bar{width: 160px;height: 10px;display: inline-block;background: #f0f4f7;border-radius: 5px;}
.progress-bar b{display: inline-block;height: 10px;background: #f5a915;border-radius: 5px;float: left;}
.precent-i{display: inline-block;width: 46px;height: 30px;background: url(../images/index/percent.png);text-align: right;color: #f5a915;margin-left: 8px;}

/* index 等待审核 */
.tz-btn{display: inline-block;width: 229px;height: 45px;font-size: 18px;color: #fff;background: #f33735;text-align: center;line-height: 45px;margin-left: -7px;margin-bottom:-7px;}

.ntz-btn{display: inline-block;width: 229px;height: 45px;font-size: 18px;color: #fff;background: #ccc;text-align: center;line-height: 45px;margin-left: -7px;margin-bottom:-7px;}
.tz-btn:hover{background: #C50907}
.time{height: 30px;line-height: 30px;font-size: 12px;color: #aaacaf;text-align: center;}
.time i{display: inline-block;width: 14px;height: 14px;background: url(../images/index/full.png);}
.media{ width:1000px; min-height:338px; margin:0 auto 60px; overflow:hidden; border-bottom:1px solid #d2d2d2;padding-bottom: 30px}
.tabs{ width:100%; margin-top:30px; padding-bottom:16px; border-bottom:1px solid #d2d2d2;}
.tabs a{display:inline-block; padding-right:30px;text-align:center; cursor:pointer;font-size: 20px;color: #003d48;font-weight: bold;}
.tabs a:hover{ color:#f33735;}
.thover{color:#f33735 !important;}
.tab1-con1 a,.tab1-con2 a,.tab1-con3 a{ display:block; width:320px; color:#000;}
.tab1-con2 a{height:112px;}
.tab1-con1,.tab1-con2,.tab1-con3{ width:310px; float:left; padding-right:23px;}
.tab1-con a{ height: 30px;  padding-top: 12px;  font-size: 16px;  overflow: hidden;  line-height: 30px;  color: #000000;  text-align: left;  }
.tab1-con3 a{height:80px; padding-top:32px;}
.tab1-cons p,.tab2-cons p{ line-height:30px; font-size:14px;}
.tab1-cons p,.tab2-cons p{line-height: 24px;  font-size: 12px;  color: #666; margin-top: 8px;}
.tab1-cons>a,.tab2-cons>a{ display:block; width:90px; text-align:center; height:30px; margin:0 auto; line-height:30px; margin-top:30px; color:#000;}
.tab1-cons>a:hover,.tab2-cons>a:hover{ color:#cd1014;}
.tab1-cons,.tab2-cons{ padding-top:20px;}
.gengduo{font-size: 12px !important;color: #7f7f7f !important;margin-top: 18px;padding-right: 0px !important;}
.gengduo:hover{color: #f77462 !important}
/**layout end**/
