@charset "utf-8";
/* CSS Document */

/*p2c借款表单提交*/
.rongzi_sq{ background:#fa9301; height:610px;}
.rongzi_sq .box{width:1000px; margin:0 auto; height:610px; position:relative; background:url(../images/p2c_bg.png) no-repeat;}
.rongzi_sq .biaodan{width:378px; position:absolute; right:0; top:30px; background:url(../images/p2c_img03.png) repeat;}
.rongzi_sq .biaodan .tit{background:url(../images/p2c_img02.png) repeat-x left top; height:52px; line-height:52px; padding:0 10px; color:#fff;}
.rongzi_sq .biaodan .tit h3{font-size:20px;font-family:microsoft yahei; font-weight:normal; text-shadow:2px 2px 1px #3e3e3e;}
.rongzi_sq .biaodan .tit .more{float:right;}
.rongzi_sq .biaodan .cont{padding:5px 0 5px 10px; }
.rongzi_sq .biaodan .cont img{vertical-align:middle;}
.rongzi_sq .biaodan .cont td{padding:4px 0px 4px 5px; }
.rongzi_sq .biaodan .cont td.ltd{text-align:right;color:#3e3e3e;}
.rongzi_sq .biaodan .cont td em{color:#c00; margin-right:3px;}
.rongzi_sq .biaodan .cont .btn_t{height:25px;}
.rongzi_sq .biaodan .cont .btn_up{width:210px; height:35px; font-size:16px; color:#fff; line-height:35px; text-align:center; background:#2dbff1; border:1px solid #2395bc; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; margin:20px 0; cursor:pointer;}
.ltd_select{width:138px; height:28px; line-height:28px; color:#898989;}
.yzm img{margin:-3px 0 0px 5px;}
.hyz{ color:#3e3e3e; padding-left:10px;}
.p2c_lc{width:998px; height:173px; background:#fafafb; border:1px solid #cfcfcf; margin:30px 0;}
.p2c_lc li{width:190px; height:130px; text-align:center; line-height:50px; font-size:20px; color:#727272; float:left; background:url(../images/p2c_img09.png) right center no-repeat; padding-top:40px;}
.p2c_lc li.last{background:none;}
.p2c_lc li.blue{color:#2dbff1;}
.p2c_ys{margin-bottom:30px;}
.p2c_ys li{float:left; width:288px; height:341px; border:1px solid #cfcfcf; background:#fafafb; padding:0 10px; margin-right:35px;}
.p2c_ys li.last{margin:0;}
.p2c_ys li h3{width:268px; height:30px;border-bottom:1px solid #cdcdcd;padding-top:10px;}
.p2c_ys li h3 p{ border-left:3px solid #0a8fc7; font-size:14px; padding-left:5px; color:#0a8fc7; font-weight:normal;}
.p2c_ys_p{line-height:20px; color:#727272;}
.p2c_ys_p span{font-weight:bold; line-height:30px;}
.p2c_ys_p01{padding-bottom:20px;}
.p2c_ys li h3 p span{font-size:12px; color:#727272; float:right; padding-top:3px;}

/*p2c-投资列表*/
.xmzt{width:998px; height:230px; border:1px solid #eaeaea; margin-bottom:15px;}
.xmzt h3{width:978px; height:32px; background:#f5f6f7; padding-left:20px; padding-top:13px;}
.xmzt h3 p{font-size:18px; color:#3e3e3e; border-left:4px solid #0a8fc7; padding-left:5px; font-weight:normal;}
.xmzt_l{width:720px; float:left; padding-top:23px;}
.xmzt_r{width:250px; height:185px; background:url(../images/line02.png) left center no-repeat; float:right; padding-left:25px; line-height:27px; color:#747474; font-size:14px;}
.xmzt_r span{line-height:50px; color:#0a8fc7;font-size: 16px;}
.zt_01{ padding:0 0 20px 0;}
.zt_01 p{font-weight:normal; font-size:14px;}
.zt01 a{color:#9c9c9c; margin-right:20px;}
.content{width:1000px; border-top:1px solid #e0e0e0;}
.con_box{width:1000px; height:168px; border-bottom:1px solid #e0e0e0; padding-top:26px;}
.con_box:hover{background:#fcfcfc;}
.con_l{width:135px; height:135px; float:left; margin-right:20px;}
.con_c{width:610px; float:left;}
.con_c h3{margin-bottom:20px;}
.con_c h3 a{color:#3e3e3e; font-size:18px; }
.con_c h3 a:hover{color:#0a8fc7;}
.con_c p{display:block;float:left; padding-left:20px; font-size:14px; color:#3e3e3e; line-height:30px;}
.con_c p.gray{ color:#9e9e9e;}
.con_c p img{margin-right:5px;}
.con_c p span{font-size:24px;}
.con_r{width:230px; float:right;}
.con_r p{line-height:25px; font-size:14px; color:#3e3e3e;}
.con_r p span{color:#0a8fc7;}
.list_btn{width:230px; height:47px; line-height:47px; margin-top:10px; }
.list_btn:hover{ background:#0a9ddb;}
.boxp10{font-size:14px; color:#3e3e3e;}
.boxp10 span{ width:130px; display:inline-block;  }
.boxp10 span.jdt{ width:140px;}
.boxp10 span.jd em{width:68px;height:8px;padding:1px;border:1px solid #cccccc;display:inline-block;position:relative;margin-right:5px;}
.boxp10 span.jd em b{width:40%;height:8px;position:absolute;top:1px;background:#0a8fc7;}
.boxp10 i{color:#3e3e3e; font-size:14px;}
.list_btn02{background:#eaeaea; color:#737373;}
.list_btn02:hover{background:#d1d1d1;}

/*项目详情*/
.loan-detail{font-size:24px; margin-bottom:30px; color:#3e3e3e;}
.loan-detail_box{width:1000px; height:250px; margin-bottom:40px;}
.loan-detail_l{width:686px; height:250px; float:left;}
.loan-detail_r{width:305px; height:251px; border:1px solid #eaeaea; float:right; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px;}
.loan-detail_r h3{width:285px; height:36px; line-height:40px; border-bottom:1px solid #eaeaea; padding-left:20px; font-size:18px; color:#3e3e3e;}
.loan-detail_r h3 span{color:#0a8fc7; font-size:14px; font-style:italic; float:right; padding-right:20px;}
.loan-detail_r p{padding:53px 0 0 20px; font-size:14px; color:#3e3e3e; line-height:30px;}
.loan-detail_r p span{color:#0a8fc7;}
.xq{ padding:28px 0 0 20px;}
.p2c_btn:hover{
	background-color: #0084bc;	
}
.p2c_btn{width:214px; height:47px; line-height:47px; color:#fff; background:#0a8fc7; float:left;}
.p2c_btn_grey{width:214px; height:47px; line-height:47px; color:#fff; background:#d4d4d4;float:left;}
.xq img{float:right; margin:10px 10px 0 0; cursor:text;}
.loan-detail_01{float:left; width:423px;}
.img{float:left; margin-right:20px; width:240px; height:250px;}
.loan-detail_01 p{display:inline-block; font-size:14px; color:#3e3e3e; line-height:40px; padding-right:30px;}
.loan-detail_01 span.blue{font-size:24px; font-weight:bold; color:#0a8fc7;}
.loan-detail_01 span.strong{font-size:24px; font-weight:bold; color:#3e3e3e;}
.loan-detail_01 p.line{border-bottom:1px dashed #eaeaea; display:block;}
.loan-detail_01 p.gray{ color:#9e9e9e;}
.loan-detail_01 p img{margin-right:5px;}
.map{width:1000px; height:60px; background:#f5f5f5;z-index: 1000}
.map li{width:16.66%; height:60px; float:left; font-size:18px; line-height:60px; text-align:center;}
.map li a{ color:#3e3e3e;}
.map li:hover,.map li.hover{background:#fff; height:58px; line-height:56px; border-top:2px solid #0a8fc7;}
.list_loan-detail{padding-bottom:20px; border-bottom:1px dashed #eaeaea;line-height:25px; font-size:14px; color:#3e3e3e;}
.list_loan-detail h3{height:18px; line-height:18px; border-left:2px solid #0a8fc7; padding-left:20px; font-size:16px; color:#3e3e3e; margin:20px 0; font-weight:normal;}
.list_loan-detail div{padding-left:20px;}
.down{float:right;}
.h3_02{font-size:18px; background:url(../images/line03.png) bottom center no-repeat;height:50px; padding-top:20px; font-weight:bold; color:#3e3e3e;}
.h3_03{background:none;}
.h3_03 span{font-size:14px; color:#ababab; font-weight:normal;}
.p2c_tab{font-size:16px; color:#3e3e3e; line-height:53px;}
.p2c_tab td{border-bottom:1px dashed #eaeaea;}
.p2c_tab .p2c_tab_tr td{background:#f5f5f5; border-bottom:0; border-top:1px dashed #eaeaea;}
.p1{color:#a3a3a3; line-height:45px; margin-bottom:10px;}
.p1 a{color:#fff; padding:15px 30px; background:#0a8fc7; margin-right:5px;}
.qh{width:998px; height:240px; border:1px solid #eaeaea; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; margin-top:51px;}
.qh p{width:998px; height:55px; line-height:55px; border-bottom:1px solid #eaeaea;}
.qh p span{border-bottom:2px solid #0a8fc7; display:block; height:54px; line-height:54px; width:150px; padding-left:10px; font-size:18px; color:#3e3e3e;}
.qh_img{width:998px; margin-top:27px;}
.qh_img img{width:998px;}
.xmzx{margin-top: 33px;}
.qh02{margin-bottom:30px;}
.loan-detail_r_02{width:347px;height:228px; border:1px solid #eaeaea; float:right; border-radius:5px; -webkit-border-radius:5px; -moz-border-radius:5px; padding-top:20px;}
.loan-detail_r_02 p{line-height:33px; font-size:16px; color:#3e3e3e; padding-left:10px;}
.loan-detail_r_02 .blue{color:#0a8fc7;}
.loan-detail_r_02 .blue02{font-weight:bold;}
.loan-detail_r_02 .gray{color:#a7a7a7;}

.p2c_input{ background: none repeat scroll 0 0 #ebebe4;
    border: 0 none;
    color: #3e3e3e;
    font-size: 26px;
    height: 38px;
    line-height: 20px;
    text-align: center;
    width: 211px;}
.xq02{padding:0; margin-left:98px;}
.p2c_btn02{width:98px; height:34px; margin-left:10px; line-height:34px;}


.loan-detail_r_ul{ padding-top:0; float:left; min-width:90px; padding-left:20px;}
.loan-detail_r_ul li{line-height:30px; font-size:14px;}
.loan-detail_r_ul li .blue{font-size:14px; color:#0a8fc7;}
.loan-detail_r_ul li .gray{font-size:14px;  color:#a7a7a7;}
.loan-detail_r_ul02{ padding-top:10px; float:right; min-width:90px; padding-right:20px;}
.loan-detail_r_ul02 li{padding-bottom:8px; line-height:25px; text-align:center; font-size:14px;}
.loan-detail_r_ul02 li .blue{font-size:18px; color:#0a8fc7;}
.loan-detail_r_ul02 li .gray{font-size:18px;  color:#a7a7a7;}

.p2c_txt{width:200px; height:25px; line-height:25px;}
.p2c_txt_02{width:70px;}
.zq{color:#3e3e3e;}
.textarea{width:240px; height:50px;}
.p2c_txt_03{width:80px;}

.textp{ font-size:16px; color:#3e3e3e;}
.pl-div{ width:1000px; min-height:170px;}
.pl-left{ float:left;}
.pl-right{ float:right;}
.pl-left textarea{ width:654px; height:134px; outline:none; border:1px solid #cfcfcf; margin:15px 0px 0px 25px;}
.pl-right input{ width:120px; height:30px; outline:none;}
.yzmimg{ position:relative; margin-bottom:-10px; margin-left:4px;}
.pl-right p{ height:80px; line-height:80px; padding-right:10px;}
.pl-right p a{ display:block; width:116px; height:32px; border-radius:6px; background:#0a8fc7; text-align:center; line-height:32px; font-size:14px; color:#fff; margin-left:65px;}
.pl-right p a:hover{ background:#0084BC;}
.pl-ul li{ min-height:110px; border-bottom:1px dashed #eaeaea;}
.pl-name{ font-size:16px; color:#0a8fc7; padding-left:21px; height:35px; line-height:35px;}
.pl-con{ min-height:25px; line-height:23px;white-space: pre-wrap;*white-space: pre;*word-wrap: break-word;word-wrap:break-word; word-break:break-all;}
.pl-con,.pl-date{ font-size:14px; color:#3e3e3e; padding-left:35px;}
.pl-date{ padding-top:7px; letter-spacing:2px;}
.borderleft{border-left: 2px solid #0a8fc7;padding-left: 20px;}

.pagebar{ float:right; margin:0 auto; height:35px; line-height:35px;}
.pagebar a{ display:inline-block; padding:10px; font-size:14px; color:#3e3e3e;}
.pagebar a:hover{ color:#0a8fc7; text-decoration:underline;}













