body {
  background: #443876 url("/activity/images/birthday-month/bg-body.jpg") center top repeat-y;
  overflow-x: hidden;
}

.main-frame {
  width: 100%;
  margin: 0 auto;
  font-size:14px;
}
.image-banner-slide  {
  height: 350px;
  background: url("/activity/images/birthday-month/month-banner.jpg") center top no-repeat;
}

.birth-month-container {
  width:1015px;
  text-align: center;
  margin:0 auto 50px auto;
  .btn-activity {
    margin-top:70px;
    margin-bottom:30px;
  }
  .product-list {

    ul {
      width: 100%;
      li {
        display: inline-block;
        margin-left: 6px;
        margin-right: 6px;
        position: relative;
        width:320px;
        height:410px;
        a {
          display: inline-block;
          width: 100%;
          height: 50px;
          position: absolute;
          bottom: 10px;
          left: 0;
        }
      }
    }
  }
  .activity-notice {
    box-sizing: border-box;
    text-align: left;
    color: #f9de56;
    font-size: 18px;
    padding: 20px;
    border: 5px solid #f9de56;
    border-radius: 15px;
    margin: 10px;
    background: -moz-linear-gradient(left, #564b83, #564b83, #564b83);
    background:-webkit-gradient(linear,0 50%,100% 50%,from(#564b83),to(#564b83));
    background: -webkit-linear-gradient(left, #564b83, #625086, #564b83);
    background: -o-linear-gradient(left, #564b83, #625086, #564b83);
  }
}

@media (max-width: 700px) {
  body {
    background: #47367a;
  }
  .image-banner-slide  {
    height: 185px;
    background: url("/activity/images/birthday-month/birth-banner-app.jpg") center top no-repeat;
    background-size: 100%;
  }
  .birth-month-container {
    width:100%;
    margin-bottom:20px;
    .sc-list {
      width: 95%;
    }
    .product-list {
      height:345px;
      position: relative;
      i {
        position: absolute;
        display: inline-block;
        width:70px;
        height:100%;
        background: url("/activity/images/birthday-month/icon-arrow-left.jpg") center center no-repeat;
        background-size: 90%;
      }
      .arrow-left {
        left:0;
        display: none;

      }
      .arrow-right {
        right:0;
        background: url("/activity/images/birthday-month/icon-arrow-right.jpg") center center no-repeat;
        background-size: 90%;
      }
      .product-box {
        width:calc( 100% - 140px );
        overflow: hidden;
        position: absolute;
        left:70px;
      }
      ul {
        width:800%;
        li {
          display: block;
          float: left;
          height: auto;
          margin-left:0;
          margin-right:0;
          img {
            width:100%;
          }
        }
      }
    }
    .btn-activity {
      margin-top:30px;
      img {
        width:70%;
      }
    }

    .activity-notice {
      font-size: 12px;
      padding: 10px;
      border: 1px solid;
    }

  }


}

@media (max-width: 400px) {
  .birth-month-container .product-list {
    height: 300px;
  }

}

@media (max-width: 350px) {
  .image-banner-slide {
    height: 166px;
  }

  .birth-month-container .product-list {
    height: 227px;
  }
}
