@charset "utf-8";

body {
  background: #a1e9f8 url("/activity/images/autumn-tour/bg-yun.png") center 775px no-repeat;
  overflow-x: hidden;
}

.main-frame {
  width: 100%;
  margin: 0 auto;
}

.activity-slide {
  height: 471px;
  background: url("/activity/images/christmas-day/top-christmas.jpg") center top no-repeat;
}