@charset "utf-8";
@import "module/login_tip";
@import "module/register_common";
@import "module/gift_circle_tip";
body {
  overflow-x: hidden;
  color: #015a2e;
  background: #a40001;
}

.main-frame {
  width: 100%;
  margin: 0 auto;
  font-size:18px;
}

.activity-slide {
  img {
    width: 100%;
  }
}

.pc-img {
  height: 471px;
  background: url("/activity/images/christmas-day/top-christmas.jpg") center top no-repeat;
}

.christmas-day-frame {
  position: relative;
  .body-decorate {
    width:100%;
    height:100%;
    .bg-left {
      width:305px;
      height:100%;
      position: absolute;
      left:0;
      top:0;
      background: url("/activity/images/christmas-day/bg-decorate-left.jpg") left 0px repeat-y;
    }
    .bg-right {
      width:305px;
      height:100%;
      position: absolute;
      right:0;
      top:0;
      background: url("/activity/images/christmas-day/bg-decorate-left.jpg") right 0px repeat-y;
      transform: rotate(180deg);
    }
    .bg-bottom {
      background: url("/activity/images/christmas-day/bottom-decorate.jpg") center bottom no-repeat;
      height:648px;
      width: 100%;
      position: absolute;
      bottom:0;
    }
  }

  .color-sec {
    color: #d0e8ac;
  }
  .christmas-day-inner {
    width:1000px;
    margin:0 auto;
    padding-bottom: 50px;
  }
  .normal-button-day {
    color: #015a2e;
    font-size: 24px;
    background: #d0e8ac;
    border-radius: 30px;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 3px 25px;
    box-shadow: 0px 4px 0px #8fb359;

  }
  .christmas-border {
    background: url("/activity/images/christmas-day/border-line.png") left top repeat;
    padding:10px;
    border-radius: 15px;
    position: relative;
    margin-bottom: 114px;
    .man-decorate {
      position: absolute;
      width:110px;
      height:90px;
      display: inline-block;
      background: url("/activity/images/christmas-day/man-decorate.png") left top no-repeat;
      right: 100px;
      top: -58px;
      &:after {
        content: "";
        width:39px;
        height:15px;
        position: absolute;
        top: 36px;
        left: 35px;
        display: inline-block;
        background: url("../../images/christmas-day/base-eyes.png") left top no-repeat;
        animation: blink-eyes 1s linear infinite;
      }

      @keyframes  blink-eyes{
          0% { height:0; }
          100% { height:100%;}
        }
      @-webkit-keyframes blink-eyes {
        0% { height:0; }
        100% { height:100%;}
      }

    }
    .title-christmas {
      position: absolute;
      z-index: 1;
      top: -108px;
      left: 0;
      width: 100%;
      height: 110px;
      background: url("/activity/images/christmas-day/bg-title.png") left top no-repeat;
      text-align: center;
      font-size: 28px;
      font-weight: bold;
      color: #fff;
      padding-top:60px;
      span {
        display: inline-block;
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
  .model-content {
    //border:10px solid #216d28;
    background: #035b2e url(../../images/christmas-day/bg-content.jpg) left top repeat;
    outline: 1px;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 10px;
  }
  span.text-note {
    display: block;
    background: #d0e8ac;
    padding: 20px 30px;
    box-sizing: border-box;
    border-radius: 15px;
  }
  .box-notice {
    margin-top:70px;
  }
  .activity-info {
    margin-top: -50px;
    margin-bottom: 0;
    .model-content {
      padding: 10px;
    }
    span.text-note {
      font-size: 14px;
    }
  }

    .gift-box {
      width:310px;
      height:260px;
      margin:6px;
      background: #d0e8ac;
      float: left;
      box-sizing: border-box;
      border-radius: 15px;
      padding:60px 10px 0px 10px;
      position: relative;
      font-size: 18px;
      &.last {
        width:auto;
        font-size: 14px;
        padding: 20px;
        overflow: auto;
        height:auto;
        margin-bottom: 10px;
      }
      .icon-balloon {
        position: absolute;
        width:65px;
        height:86px;
        display: inline-block;
        background: url("/activity/images/christmas-day/balloon.png") center top no-repeat;
        left:50%;
        transform: translateX(-50%);
        top: -51px;
        text-align: center;
        color: #fff;
        padding-top: 40px;
      }
      .user-info-info {
        position: absolute;
        z-index: 10;
      }
      .icon-balloon-group {
        position: absolute;
        top:0;
        width:100%;
        height:100%;
        em {
          display: inline-block;
          width:80px;
          height:86px;
          background: url("/activity/images/christmas-day/balloon2.png") center top no-repeat;
          position: absolute;
          line-height: 20px;
          text-align: center;
          i {
            color: #ccc;
            display: inline-block;
            width: 50%;
            position: absolute;
            top: 50%;
            left: 26%;
            transform: translateY(-50%);
            a {
              color: #fff;
            }
            &:after {
              content: '';
              height: 160px;
              display: inline-block;
              position: absolute;
              left: 50%;
              border-left: 1px dashed #e8f4d6;
              width: 2px;
              top: -180px;
            }
          }
          &.left {
            top:160px;
            left:30px;
          }
          &.right {
            top:160px;
            right:30px;

          }
          &.center {
            left: 113px;
            top:160px;
            &.hack {
              top: 220px;
              i:after {
                height: 220px;
                top: -240px;
              }
            }

          }
        }

      }
      b {
        display: block;
        font-weight: bold;
        color: #ff1a1a;
        text-align: center;
        font-size:22px;
        &.user-kind {
          color: #015a2e;
          font-size:24px;
        }
      }
      i {
        color: #ff1a1a;
      }
    }

    .invest-percent-box {
      padding: 24px 57px;
      color: #d0e8ac;
      font-size: 24px;
      font-weight: bold;
      em {
        color: #fffb00;
      }
      .progress-bar {
        height:55px;
        background: rgba(1,54,28,0.4);
        box-shadow: 1px 1px 4px rgba(255,255,255,0.4), -1px -1px 4px rgba(255,255,255,0.4);
        border-radius: 47px;
        margin-top: 13px;
        margin-bottom: 13px;
        .progress-percent {
          height: 100%;
          width: 50%;
          display: inline-block;
          border-radius: 47px;
          z-index: 10;
          background: -ms-linear-gradient(top,#ff8b58,#eb1223);
          background:-moz-linear-gradient(top,#ff8b58,#eb1223);
          background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ff8b58),color-stop(100%,#eb1223));
          background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff8b58), to(#eb1223));
          background: -webkit-linear-gradient(top, #ff8b58, #eb1223);
          background: -o-linear-gradient(top, #ff8b58, #eb1223);
          position: relative;
          animation: animate-positive 1s;
          .progress-value {
            width:57px;
            height:74px;
            position: absolute;
            z-index: 20;
            right:0;
            top:-15px;
            display: inline-block;
            background: url("/activity/images/christmas-day/icon-claus.png") left top no-repeat;
          }

          @-webkit-keyframes animate-positive{
            0% { width: 0; }
          }
          @keyframes animate-positive{
            0% { width: 0; }
          }
        }

      }

    }

    .img-gift {
      margin:20px auto;
    }

  .info-activity-note {
    b {
      display: block;
      text-align: center;
      margin: 10px auto;
    }
    padding:20px;
  }

  .activity-section-one {
    .model-content {
      padding: 75px 5px 0px 5px;
    }
  }
  .activity-section-two {
    .model-content {
      padding: 45px 5px 0px 5px;
    }

    .activity-info .model-content {
      padding: 10px 5px 10px 5px;
    }
    .gift-box {
      padding-top:15px;
      height:320px;
      box-sizing: border-box;
    }
    .reward-gift-box {

      background: #d0e8ac url("/activity/images/christmas-day/reward01.jpg") center 40px no-repeat;
      border-radius: 20px;
      margin: 7px;
      padding-bottom: 20px;
      .rotate-btn {
        height: 620px;
        width:100%;
        position: relative;
          .gift-case {
            position: absolute;
            margin: auto;
            left: 0;
            right: 0;
            width: 160px;
            height: 200px;
            top: 281px;
            cursor: pointer;

          }
        .win-result {
          animation: win-effect 0.5s linear infinite;
        }

      @keyframes  win-effect{
        0% { transform: rotate(0deg); }
        20% { transform: rotate(30deg); }
        50% { transform: rotate(0deg); }
        70% { transform: rotate(-30deg); }
        100% { transform: rotate(0deg); }
      }
      @-webkit-keyframes win-effect {
        0% { transform: rotate(0deg); }
        20% { transform: rotate(30deg); }
        50% { transform: rotate(0deg); }
        70% { transform: rotate(-30deg); }
        100% { transform: rotate(0deg); }
      }

      }
    }
    .luck-draw-times {
      text-align: center;
      span {
        display: inline-block;
        background: #045c2d;
        font-size: 22px;
        padding: 3px 42px;
        border-radius: 27px;
        margin: 6px auto;
        color: #fff;
      }

    }
    .gift-info-list {
      background: #045c2d;
      width:600px;
      height:432px;
      position: relative;
      margin: 10px auto;
      border-radius: 20px;
      overflow: hidden;
      .silk-left {
        position: absolute;
        left:20px;
        top:50px;
        height:100%;
        width:135px;
        background: url("/activity/images/christmas-day/silk.png") left top no-repeat;
      }
      .silk-right {
        position: absolute;
        right:20px;
        top:50px;
        height:100%;
        width:135px;
        background: url("/activity/images/christmas-day/silk-right.png") left top no-repeat;
      }
    .hat {
      width:128px;
      height:156px;
      display: inline-block;
      background: url("/activity/images/christmas-day/hat.png") left top no-repeat;
      position: absolute;
      top: -50px;
      left: -50px;
    }
      .record-list-box {
        width:280px;
        margin:0 auto;
        color: #fff;
        .menu-switch {
          font-size:26px;
          color: #d0e8ac;
          padding-top:15px;
          span {
            display: block;
            width:50%;
            float: left;
            text-align: center;
            cursor: pointer;
          }
          .active {
            color: #fff;
          }
        }
        .record-list {
          position: relative;
          font-size: 16px;
          line-height: 30px;
        }
      }

    }
  }

}

//弹框

.tip-list {
  background: #fff url("/activity/images/christmas-day/bg-pop-christmas.jpg") no-repeat left top;
  background-size: 100%;
  border:2px solid #532a09;
  .text-tip p.des-text {
    font-size: 24px;
    padding-top:15px;
  }
  .btn-list a {
    background: #035b2e;
    border-radius:0;
  }

}

@media screen and(max-width: 700px){
  .main-frame {
    font-size:12px;
  }
  .christmas-day-frame {
    margin:10px;
    .normal-button-day {
      padding: 3px 20px;
      box-shadow: 0px 3px 0px #8fb359;
      font-size: 14px;
      margin-bottom:15px;
    }
    .gift-box {
      float: none;
      width:95%;
      height:auto;
      margin:10px auto;
      padding: 20px 10px 10px 10px;
      font-size: 12px;
      b.sub-title-one:before {
        content: '一重礼：';
      }
      b.sub-title-two:before {
        content: '二重礼：';
      }
      b.sub-title-three:before {
        content: '三重礼：';
      }
      &.last {
        width:95%;
        height:auto;
        margin:10px auto;
        padding: 20px 10px 10px 10px;
        font-size: 12px;
      }
      .icon-balloon-group {
        transform: scale(0.7);
        top: 24px;
        em {
          font-size: 16px;
          i:after {
            height: 132px;
            top: -134px;
          }
          &.left {
            top: 82px;
            left: -10%;
          }
          &.right {
            top: 82px;
            right: -5%;
          }
          &.center {
            top: 82px;
            left: 34%;
            &.hack {
              top: 82px;
            }
          }
        }
        em.center.hack i:after {
          height: 132px;
          top: -134px;
        }
      }
      b {
        font-size: 15px;
      }
      .icon-balloon {
        display: none;
      }

    }
    .activity-section-one {
      .model-content {
         padding: 30px 5px 10px 5px;
      }
    }
    .activity-section-two {
      .model-content {
        padding: 30px 5px 10px 5px;
      }
      .luck-draw-times {
        span {
          font-size: 15px;
          padding: 3px 25px;
          margin-top: -31px;
        }
      }
      .gift-box {
        height:85px;
        margin-bottom: 80px;
        padding: 5px 10px;
        b.user-kind {
          font-size: 14px;
        }
      }
      .reward-gift-box {
        background-size: 90%;
        .rotate-btn {
          height: 320px;
          .gift-case {
            width: 80px;
            height: 100px;
            top: 124px;
            img {
              width:100%;
            }
          }
        }
      }
      .gift-info-list {
        width: 95%;
        height: 350px;
        .hat {
          transform: scale(0.5);
          -ms-transform:scale(0.5);
          -moz-transform:scale(0.5);
          -webkit-transform:scale(0.5);
          -o-transform:scale(0.5);
        }
        .silk-left {
          left: -32px;
          top: 20px;
          height: 100%;
          transform: scale(0.7);
          display: none;
        }
        .silk-right {
          transform: scale(0.7);
          right: -21px;
          top: 20px;
          display: none;
        }

        .record-list-box {
          width: 95%;
          height: 100%;
          overflow: hidden;
          .record-list {
            font-size: 12px;
            overflow: hidden;
          }
          .menu-switch {
            font-size: 13px;
            height:auto;
            overflow: auto;
          }
        }

      }
    }

    span.text-note {
      padding: 10px 15px;
    }
    .christmas-day-inner {
      width:100%;
      padding-bottom: 0px;
    }
    .christmas-border {
      margin-bottom:50px;
      padding: 6px;
      .title-christmas {
        background-position: center top;
        background-size: 127%;
        top: -50px;
        padding-top: 31px;
        font-size: 15px;
        height: 60px;
        span {
          top: 30px;
        }
      }

      .man-decorate {
        display: none;
      }
    }
    .box-notice {
      margin-top:30px;
    }
    .invest-percent-box {
      padding: 10px;
      font-size: 12px;
      .progress-bar {
        height: 25px;
        .progress-percent .progress-value {
          transform: scale(0.6);
          right: -12px;
          top: -28px;
        }
      }
    }

    .img-gift {
      width:100%;
    }
    .margin-top25 {
      margin-top:5px;
    }
    .info-activity-note {
      padding: 0 10px;
    }
    .activity-info {
      margin-top: -26px;
      margin-bottom: 25px;
      span.text-note {
        font-size:12px;
      }
    }
  }

}

@media screen and(max-width: 400px){
  .christmas-day-frame .christmas-border .title-christmas span{
    top: 26px;
  }
}
@media screen and(max-width: 350px){
  .christmas-day-frame .activity-section-two .gift-info-list .record-list-box {
    width: 90%;
  }
  .christmas-day-frame .activity-section-two .reward-gift-box .rotate-btn {
    height:237px;
  }

  .christmas-day-frame .christmas-border .title-christmas {
    padding-top: 21px;
    span {
      top:20px;
      font-size: 12px;

    }
  }
}
