@import "module/login_tip";
@import "module/register_common";
$width: 700px;

@mixin mobilehide () {
  @media (max-width:$width) {
    display: none;
  }
}
@mixin PChide () {
  @media (min-width:$width + 1px) {
    display: none;
  }
}
@-webkit-keyframes sparkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -64px;
  }
}
@-moz-keyframes sparkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -64px;
  }
}
@-o-keyframes sparkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -64px;
  }
}
@keyframes sparkle {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -64px;
  }
}
.main-frame {
  width: 100%;
  margin: 0;
  background: #8d4ae6;
}
.activity-container {
  float: left;
  width: 100%;
  padding-bottom: 30px;
  background: url('/activity/images/iphone7/content-bg.png') repeat center;
  background-size: 100%;
  @media (max-width:$width) {
    background:none;
  }
  .text-c {
    text-align: center;
  }
  .top-intro-img {
    float: left;
    width: 100%;

    .top-img {
      @include mobilehide();
    }
    .top-img-phone {
      @include PChide();
    }
  }
  .actor-content-group {
    float: left;
    width: 100%;

    .wp {
      width: 800px;
      margin: 0 auto;

      @media (max-width:$width) {
        width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
      }
      &:after {
        clear: both;
        display: block;
      }
      .model-group {
        float: left;
        width: 100%;
        margin: 40px 0 0;
        position: relative;

        @media (max-width:$width) {
          margin: 10px 0 0;
        }
        .icon-laba {
          position: absolute;
          top: -10px;
          left: -50px;
          width: 168px;
          height: 150px;
          background: url('/activity/images/iphone7/laba.png') no-repeat center;
          background-size: 100%;

          @media (max-width:$width) {
            display: none;
          }
        }
        h3 {
          float: left;
          width: 100%;
          margin-bottom: 30px;

          @media (max-width:$width) {
            margin-bottom: 15px;
          }
        }
        .content-item {
          float: left;
          width: 100%;
          padding: 25px 60px;
          background: #ffe10c;
          border-bottom-right-radius: 50px;
          box-sizing: border-box;

          @media (max-width:$width) {
            padding: 10px 5px;
            border-bottom-right-radius: 20px;
          }
          &.dashed {
            background: #7a24dd;
            border: 1px dashed #ffe14d;

            p {
              color: #ffe14d;
            }
          }
          p {
            font-size: 18px;
            color: #994c00;
            text-align: left;
            margin-bottom: 0;

            @media (max-width:$width) {
              img {
                width: 90%;
              }
              font-size: 12px;
            }
          }
          .tip-item{
            float:left;
            width:100%;
            margin-bottom:20px;
            text-align:center;
            p{
              display:inline-block;
              width:410px;
              height:40px;
              line-height:40px;
              font-size:26px;
              color:#6a14cc;
              background: #fff3b8;
              border:1px solid #6a14cc;
              border-radius:40px;
              text-align:center;
              position: relative;
              @media (max-width:$width) {
                width:205px;
                height:20px;
                line-height:20px;
                font-size:13px;
                border-radius:20px;
              }
              &:after{
                display: block;
                content:'';
                width:34px;
                height:18px;
                position: absolute;
                bottom:-18px;
                left:50%;
                margin-left:-17px;
                background:url('/activity/images/iphone7/icon-tip.png') no-repeat center;
                background-size:100%;
                @media (max-width:$width) {
                  width:17px;
                  height:9px;
                  bottom:-9px;
                }
              }
              span{
                margin:0 5px;
                color:#bf2b1a;
              }
            }
          }
          .reward-progress-item {
            float: left;
            width: 100%;
            height: 25px;
            border-radius: 25px;
            position: relative;
            box-sizing: border-box;
            border-bottom: 1px solid rgba(255, 255, 255, 0.25);
            box-shadow: 0px 4px 4px -4px rgba(255, 255, 255, 0.4), 0px -3px 3px -3px rgba(255, 255, 255, 0.25), inset 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
            @media (max-width:$width) {
              height:14px;
              border-radius: 14px;
            }
            &:before {
              position: absolute;
              display: block;
              content: "";
              width: 100%;
              height: 25px;
              top: 0;
              left: 0;
              border-radius: 20px;
              background: #fff3b8;
              box-shadow: inset 0px 0px 6px 0px rgba(141, 74, 230, 0.85);
              border: 1px solid rgba(141, 74, 230, 0.8);
              @media (max-width:$width) {
                height:14px;
                border-radius: 14px;
              }
            }
            .bar {
              position: absolute;
              display: block;
              width: 0px;
              height: 24px;
              top: 1px;
              left: 1px;
              background: rgb(126, 234, 25);
              background: -moz-linear-gradient(top, rgba(126, 234, 25, 1) 0%, rgba(83, 173, 0, 1) 100%);
              background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(126, 234, 25, 1)), color-stop(100%, rgba(83, 173, 0, 1)));
              background: -webkit-linear-gradient(top, rgba(126, 234, 25, 1) 0%, rgba(83, 173, 0, 1) 100%);
              background: -o-linear-gradient(top, rgba(126, 234, 25, 1) 0%, rgba(83, 173, 0, 1) 100%);
              background: -ms-linear-gradient(top, rgba(126, 234, 25, 1) 0%, rgba(83, 173, 0, 1) 100%);
              background: linear-gradient(to bottom, rgba(126, 234, 25, 1) 0%, rgba(83, 173, 0, 1) 100%);
              filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7eea19', endColorstr='#53ad00', GradientType=0);
              border-radius: 16px;
              box-shadow: 0px 0px 12px 0px rgba(126, 234, 25, 1), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45), inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25), inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
              overflow: hidden;
              @media (max-width:$width) {
                height:13px;
                border-radius: 8px;
              }
              &:before {
                position: absolute;
                display: block;
                content: "";
                width: 100%;
                height: 150%;
                top: -25%;
                left: 0;
                background: -moz-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.01) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
                background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255, 255, 255, 0.35)), color-stop(50%, rgba(255, 255, 255, 0.01)), color-stop(51%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
                background: -webkit-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.01) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
                background: -o-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.01) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
                background: -ms-radial-gradient(center, ellipse cover, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.01) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
                background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0.01) 50%, rgba(255, 255, 255, 0) 51%, rgba(255, 255, 255, 0) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#59ffffff', endColorstr='#00ffffff', GradientType=1);
              }
              &:after {
                position: absolute;
                display: block;
                content: "";
                width: 64px;
                height: 24px;
                right: 0;
                top: 0;
                border-radius: 0px 16px 16px 0px;
                background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 98%, rgba(255, 255, 255, 0) 100%);
                background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(98%, rgba(255, 255, 255, 0.6)), color-stop(100%, rgba(255, 255, 255, 0)));
                background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 98%, rgba(255, 255, 255, 0) 100%);
                background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 98%, rgba(255, 255, 255, 0) 100%);
                background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 98%, rgba(255, 255, 255, 0) 100%);
                background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 98%, rgba(255, 255, 255, 0) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#00ffffff', GradientType=1);
                @media (max-width:$width) {
                  width: 32px;
                  height:12px;
                  border-radius: 0px 8px 8px 0px;
                }
              }
              &.color4 {
                background: rgb(24, 109, 226);
                background: -moz-linear-gradient(top, rgba(24, 109, 226, 1) 0%, rgba(0, 69, 165, 1) 100%);
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(24, 109, 226, 1)), color-stop(100%, rgba(0, 69, 165, 1)));
                background: -webkit-linear-gradient(top, rgba(24, 109, 226, 1) 0%, rgba(0, 69, 165, 1) 100%);
                background: -o-linear-gradient(top, rgba(24, 109, 226, 1) 0%, rgba(0, 69, 165, 1) 100%);
                background: -ms-linear-gradient(top, rgba(24, 109, 226, 1) 0%, rgba(0, 69, 165, 1) 100%);
                background: linear-gradient(to bottom, rgba(24, 109, 226, 1) 0%, rgba(0, 69, 165, 1) 100%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#186de2', endColorstr='#0045a5', GradientType=0);
                box-shadow: 0px 0px 12px 0px rgba(24, 109, 226, 1), inset 0px 1px 0px 0px rgba(255, 255, 255, 0.45), inset 1px 0px 0px 0px rgba(255, 255, 255, 0.25), inset -1px 0px 0px 0px rgba(255, 255, 255, 0.25);
              }
              span {
                position: absolute;
                display: block;
                width: 100%;
                height: 64px;
                border-radius: 16px;
                top: 0;
                left: 0;
                background: url('/activity/images/iphone7/progress-bg.png') 0 0;
                -webkit-animation: sparkle 1500ms linear infinite;
                -moz-animation: sparkle 1500ms linear infinite;
                -o-animation: sparkle 1500ms linear infinite;
                animation: sparkle 1500ms linear infinite;
                opacity: 0.2;
                @media (max-width:$width) {
                  height: 32px;
                  border-radius: 8px;
                }
              }
            }
          }
          .reward-list-group{
            float:left;
            width:100%;
            margin-top:30px;
            box-sizing:border-box;
            padding:0 10px;
            position: relative;
            @media (max-width:$width) {
              margin-top:15px;
            } 
            &:before{
              position: absolute;
              top:0;
              left:0;
              content:'';
              background: #3e1f66;
              width:100%;
              height:10px;
              border-radius:10px;
            }
            .reward-list-item{
              float:left;
              width:100%;
              background: #f8d647;
              box-sizing:border-box;
              padding:0 40px 30px;
              position: relative;
              top:5px;
              margin-bottom:20px;
              @media (max-width:$width) {
                padding:0 20px 15px;
                margin-bottom:10px;
              }
              &:after{
                content:'';
                position: absolute;
                right:0;
                bottom:0;
                width:30px;
                height:30px;
                background:url('/activity/images/iphone7/icon-list.png') no-repeat center;
                background-size:100%;
                @media (max-width:$width) {
                  width:15px;
                  height:15px;
                }
              }
              dt,dd{
                float:left;
                width:100%;
                border-bottom:1px dotted #663300;
                span{
                  float:left;
                  width:33.333333%;
                  text-align:left;
                  font-size:16px;
                  color:#663300;
                  line-height:40px;
                  text-indent:2em;
                  @media (max-width:$width) {
                    font-size:12px;
                    line-height:20px;
                    text-indent:0;
                  }
                }
              }
            }
          }
          .code-list-item{
            .my-code-group{
              float:left;
              width:100%;
              li{
                float:left;
                width:100%;
                margin-bottom: 10px;
                background:#ffe10c;
                border-radius:40px;
                @media (max-width:$width) {
                  border-radius: 20px;
                }
                span{
                  float:left;
                  width:50%;
                  text-align:center;
                  font-size:18px;
                  line-height:40px;
                  color:#994c00;
                  box-sizing: border-box;
                  &:nth-child(1){
                    border-right:1px dashed #994c00;
                  }
                  &.no-data{
                    border-right:0;
                    width:100%;
                    text-align:center;
                  }
                  @media (max-width:$width) {
                    font-size:12px;
                    line-height:20px;
                  }
                }
              }
            }
            .code-btn-group{
              float:left;
              width:100%;
              span{
                width:160px;
                height:40px;
                line-height:40px;
                text-align:center;
                font-size:22px;
                color:#994c00;
                background: #ffe10c;
                border-radius:40px;
                cursor:pointer;
                @media (max-width:$width) {
                  width:80px;
                  height:20px;
                  line-height:20px;
                  border-radius: 20px;
                  font-size:12px;
                }
                &.prev-btn{
                  float:left;
                }
                &.next-btn{
                  float:right;
                }
              }
            }
          }
          .login-group {
            float: left;
            width: 100%;
            margin: 30px 0;

            .login-btn {
              display: inline-block;
              width: 400px;
              height: 56px;
              line-height: 56px;
              text-align: center;
              background: #ffe14d;
              font-size: 26px;
              color: #994c00;
              border-radius: 40px;

              @media (max-width:$width) {
                width: 200px;
                height: 28px;
                line-height: 28px;
                border-radius: 30px;
                font-size: 14px;
              }
            }
          }
        }
      }
      .actor-gift-group {
        float: left;
        width: 100%;
        margin: 60px 0;

        @media (max-width:$width) {
          margin: 30px 0 0;
        }
      }
      .get-loan-group {
        float: left;
        width: 100%;
        margin: 30px 0;

        .get-loan-btn {
          display: inline-block;
          width: 240px;
          height: 56px;
          line-height: 56px;
          text-align: center;
          background: #ffe14d;
          font-size: 26px;
          color: #994c00;
          border-radius: 40px;

          @media (max-width:$width) {
            width: 120px;
            height: 28px;
            line-height: 28px;
            border-radius: 30px;
            font-size: 14px;
          }
          &.disabled{
            background:#ccc;
            color:#666;
            cursor: no-drop;
          }
        }
      }
      .rule-list-group {
        float: left;
        width: 100%;
        background: #ffe14d;
        border-bottom-right-radius: 50px;
        padding: 25px 30px;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        @media (max-width:$width) {
          padding: 10px;
          border-bottom-right-radius: 25px;
        }
        .rule-item {
          float: left;
          width: 100%;

          dt {
            font-size: 20px;
            color: #994c00;
            margin-bottom: 20px;

            @media (max-width:$width) {
              margin-bottom: 10px;
            }
          }
          dd {
            font-size: 12px;
            color: #994c00;
            line-height: 30px;

            @media (max-width:$width) {
              line-height: 25px;
            }
          }
        }
      }
    }
  }
}