@import 'common/variables';
@import 'module/register_png';

$landingPhoneColorGray: #F2F2F2;
$landingPhoneColorRed: #FC4333;
$fontMonster: 26px;
$fontGiant: 24px;
$fontUltraHuge: 22px;
$fontHuge: 20px;
$fontBig: 18px;
$fontNormal: 16px;
$fontSmall: 14px;
$fontUltraSmall: 12px;
$fontUltraSmaller: 10px;

form label.error:before {
  padding-right: 5px;
  content: "\f057";
  font: normal normal normal 14px/1 FontAwesome;
  display: none;
  font-size: 16px;
}

.btn-normal {
  background: #ff635a;
  font-size: 25px;
  width: 300px;
  height: 30px;
  box-shadow: 0px 5px 0px #ff473c;
  border-radius: 25px;
}

.header-title {
  padding: 0 80px 0 20px;
  height: 42px;
  line-height: 42px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: #333;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background-color: #F8F8F8;
  border-radius: 2px 2px 0 0;
  position: relative;
  .close-tip {
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 18px;
  }
}

.header-container {
  display: none;
}

.nav-container {
  display: none;
}

.footer-container {
  margin-top: 0;

  .footer {
    display: none;
  }
  .link-list {
    display: none;
  }
}

.full-screen {
  width: 100% !important;
  margin: 0;
}

form label.error {
  font-size: 10px;
  color: #f71010;
  padding: 0;
  vertical-align: middle;
}

.landing-container {
  position: relative;
  min-height: 500px;

  .landing-header-nav {
    width: 1200px;
    height: 90px;
    text-align: center;
    margin: 0 auto;
    background: url("/activity/images/global/logo-index.png") left center no-repeat;
    a {
      display: inline-block;
      float: right;
      font-size: 16px;
      color: #fff;
      border-radius: 20px;
      width: 160px;
      height: 40px;
      line-height: 40px;
      margin-top: 25px;
      background-color: #f1a03f;
    }
  }

  .new-user-list {
    color: #ff473c;
    line-height: 31px;
    margin-bottom: 35px;
    dt {
      font-size: 26px;
      margin-top: 30px;
      margin-bottom: 40px;
    }
    dd {
      width: 50%;
      float: left;
      font-size: 30px;
      text-align: center;
      i {
        font-size: 60px;
      }
      em {
        color: #a2a2a2;
        font-size: 16px;
      }
    }
  }

  .landing-top-banner {
    position: relative;
    height: 350px;
    background: url("/activity/images/sign/actor/landingpage/newbie-banner.png") center top no-repeat;
  }

  .newbie-step-one {
    color: #ff473c;
    padding-bottom: 40px;
    .image-title {
      background: url("/activity/images/sign/actor/landingpage/newbie-step1-title.png") center top no-repeat;
      height: 40px;
      margin-top: 30px;
      //background-size: ;
    }
  }
  .newbie-step-two {
    position: relative;
    background-color: #362d50;
    padding-bottom: 30px;
    padding-top: 30px;

    .image-decoration-bg {
      width: 100%;
      height: 184px;
      position: absolute;
      background: url("/activity/images/sign/actor/landingpage/newbie-decoration-bg.png") center top no-repeat;
      top: -60px;
    }

    .image-title {
      background: url("/activity/images/sign/actor/landingpage/newbie-step2-title.png") center top no-repeat;
      height: 40px;
    }

    .image-red-envelope {
      background: url("/activity/images/sign/actor/landingpage/newbie-step2-red-envelope.png") center top no-repeat;
      height: 173px;
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .btn-normal {
      color: #803c04;
      background: #ffe500;
      border: #ffe500 1px solid;
      box-shadow: 0px 5px 0px #ffad08;
    }
  }
  .newbie-step-three {
    background-color: #ffffff;
    padding-bottom: 40px;
    padding-top: 30px;

    .image-title {
      background: url("/activity/images/sign/actor/landingpage/newbie-step3-title.png") center top no-repeat;
      height: 40px;
    }

    .subtitle {
      margin-top: 25px;
      i {
        font-size: 20px;
        color: #803c04;
        background-color: #ffe500;
        padding: 10px 40px 10px 40px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
      }
    }
  }

  .newbie-step-four {
    position: relative;
    background-color: #362d50;
    padding-bottom: 30px;
    padding-top: 30px;

    .image-decoration-bg {
      width: 100%;
      height: 184px;
      position: absolute;
      background: url("/activity/images/sign/actor/landingpage/newbie-decoration-bg.png") center top no-repeat;
      top: -55px;
    }

    .image-title {
      background: url("/activity/images/sign/actor/landingpage/newbie-step4-title.png") center top no-repeat;
      height: 40px;
    }

    .subtitle {
      margin-top: 25px;
      i {
        font-size: 20px;
        color: #803c04;
        background-color: #ffe500;
        padding: 10px 40px 10px 40px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
      }
    }

    .image-coupon {
      margin-top: 20px;
      background: url("/activity/images/sign/actor/landingpage/newbie-step4-coupon.png") center top no-repeat;
      height: 153px;
    }

    .image-steps {
      margin-top: 30px;
      margin-bottom: 30px;

      .arrow {
        margin-left: 15px;
        margin-right: 15px;
      }
    }
    .btn-normal {
      color: #803c04;
      background: #ffe500;
      border: #ffe500 1px solid;
      box-shadow: 0px 5px 0px #ffad08;
    }
  }

  .newbie-step-five {
    padding-top: 30px;
    padding-bottom: 20px;
    text-align: center;

    .newbie-step-five-dl {
      color: #525252;
      line-height: 31px;

      dt {
        font-size: 24px;
        margin-bottom: 40px;
      }
      dd {
        width: 33%;
        float: left;
        font-size: 18px;
        color: #525252;
        text-align: center;

        img {
          margin-bottom: 20px;
        }

        p {
          margin-top: 10px;
          color: #808080;
          font-size: 14px;
          line-height: 22px;
        }
      }
    }
  }

  .newbie-step-six {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #362d50;
    text-align: center;

    .newbie-step-six-box {
      width: 50%;
      min-width: 800px;
      display: inline-block;

      p {
        text-align: left;
        color: #ffe500;
        font-size: 14px;
        line-height: 20px;
        margin: 10px 0;
        font-weight: lighter;
      }
    }
  }

  .newbie-step-register {
    position: absolute;
    left: 0;
    top: 90px;
    padding-top: 12px;
    width: 100%;
    min-width: 1200px;
    height: 350px;
    text-align: right;

    .register-box {
      position: absolute;
      padding: 25px 25px 25px 25px;
      left: 900px;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 5px;
      height: auto;
      overflow: auto;

      .refer-person-info {
        text-align: center;
        margin-top: 0px;
        font-size: 14px;
        span {
          color: red;
        }
      }
      .register-user-form {
        width: 100%;
      }

      ul.reg-list {

        .newbie-register-ic-mobile {
          width: 23px;
          height: 23px;
          background: url("/activity/images/sign/actor/landingpage/newbie-icon-phone.png" ) center left no-repeat;
        }

        .newbie-register-ic-password {
          width: 23px;
          height: 23px;
          background: url("/activity/images/sign/actor/landingpage/newbie-icon-pwd.png") center left no-repeat;
        }

        .newbie-register-ic-img-captcha {
          width: 23px;
          height: 23px;
          background: url("/activity/images/sign/actor/landingpage/newbie-icon-img-captcha.png") center left no-repeat;
        }

        .newbie-register-ic-captcha {
          width: 23px;
          height: 18px;
          margin-top: 3px;
          background: url("/activity/images/sign/actor/landingpage/newbie-icon-captcha.png") center left no-repeat;
        }

        font-size: 10px;
        .err-height {
          height: 15px;
          top: -2px;
        }
        .appCaptchaErr {
          font-size: 10px;
          color: #f71010;
          padding: 0;
          vertical-align: middle;
        }
        li {
          clear: both;
          position: relative;

          .image-captcha {
            margin-top: 3px;
          }

          .img-change {
            cursor: pointer;
          }
          i {
            display: inline-block;
            position: absolute;
            left: 10px;
            top: 4px;
            z-index: 20;
            filter: alpha(opacity=80);
            -moz-opacity: 0.8;
          }

          .captcha-tag {
            position: relative;
            display: inline-block;
            width: 90%;

            .fetch-captcha {
              width: 100px;
              height: 30px;
              padding-left: 15px;
              letter-spacing: 0;
              position: absolute;
              left: 190px;
              top: 0px;
              font-size: 12px;
              border-radius: 15px;
              background: #ff0000;
              &:hover {
                color: #fff;
              }
            }
          }
          .input-width {
            width: 247px;
          }
          input[type="text"], input[type="password"] {
            color: #999;
            border: #cecece 1px solid;
            padding: 5px 2px 5px 40px;
            background-color: #fff;
            &.appCaptcha {
              width: 100px;
            }
            &.captcha {
              width: 130px;
            }

          }
          .agreement {
            display: inline-block;
            width: 300px;
          }
          input.valid + .agreement + label.error {
            &:before {
              content: "\f058";
              color: #6bc21e;
            }
          }
          &.agree-register-protocol {
            position: relative;
            margin-left: 0;

            .check-label {
              position: absolute;
              top: 1px;
              left: 20px;
            }
            .agreement-check {
              margin-right: 280px;
            }
          }
          &.mobile-agreement {
            display: none;
          }

          .register-user {
            width: 100%;
            background: #ff0000;
            border-radius: 3px;
            margin-top: 3px;
            text-align: center;
            font-size: 20px;
            color: #fff;
            border: 0;
            cursor: pointer;
          }
        }
      }
      label.error {
        display: block;
      }
    }
  }
}

//手机屏幕适配
//@media screen and (max-width: 700px) {
//}
//
//@media screen and (max-width: 420px) {
//
//}
//
//@media screen and (max-width: 380px) {
//
//}
//
//@media screen and (max-width: 350px) {
//
//}


