@import "module/register_common";
.main-frame {
	width: 100%;
	margin: 0;
}
.women-day-container {
	background: #8dc02d;

	.media-pc {
		display: block;

		@media (max-width:700px) {
			display: none;
		}
	}
	.media-phone {
		display: none;

		@media (max-width:700px) {
			display: block;
		}
	}
	.content-item{
		float:left;
		width:100%;
		&.one-bg{
			background:#8dc02d;
			.circle{
				background:#8dc02d;
			}
		}
		&.two-bg{
			background:#fcd651;
			.circle{
				background:#fcd651;
			}
		}
		&.three-bg{
			background:#f8697b;
			.circle{
				background:#f8697b;
			}
		}
		.wp {
			width: 1050px;
			margin: 0 auto 60px;
			padding:0 25px;
			box-sizing:border-box;
			position: relative;
			@media (max-width:700px) {
				width:100%;
				padding:0 20px;
				margin: 0 auto 30px;
			}
			.module-item{
				float:left;
				width:100%;
				position: relative;
				margin-top: 30px;
				.line-item{
					position: absolute;
					top:0;
					left:-25px;
					width:1050px;
					height:20px;
					border-radius:20px;
					background:#3b3d3b;
					@media (max-width:700px) {
						left:-5%;
						width:110%;
						height:10px;
					}
				}
				.module-content{
					float:left;
					width:100%;
					background:#fffaed;
					position: relative;
					z-index:10;
					margin-top:10px;
					box-sizing:border-box;
				    overflow: hidden;
				    @media (max-width:700px) {
				    	margin-top:5px;
				    }
					&.rule-content{
						padding:0 50px;
						@media (max-width:700px) {
							padding:0 15px;
						}
					}
					&.intro-content{
						padding:0 30px;
						@media (max-width:700px) {
							padding:0 15px;
						}
					}
					h3{
						display:inline-block;
						width:445px;
						height:50px;
						line-height:55px;
						text-align:center;
						background:#eb6d53;
						font-size:30px;
						color:#f7e42f;
						border-radius:20px;
						margin-top:-10px;
						@media (max-width:700px) {
							width: 223px;
							font-size: 15px;
							line-height: 30px;
							height: 30px;
							border-radius: 10px;
						}
					}
					.tip-item{
						font-size:18px;
						color:#333;
						margin:20px 0;
						@media (max-width:700px) {
							font-size:14px;
							margin:10px 0;
						}
						span{
							color:#eb6d53;
						}
					}
					.table-item{
						display:inline-block;
						width:100%;
						padding:20px 100px 25px;
						box-sizing:border-box;
						text-align:center;
						margin-bottom:20px;
						@media (max-width:700px) {
							padding:10px;
							margin-bottom:10px;
						}
						&.one-table{
							background:#9ad231;
							table{
								th{
									background:#fffbc7;
									border:1px solid #d9b31f;
								}
								td{
									background:#fffaed;
									border:1px solid #d9b31f;
								}
							}
						}
						&.two-table{
							background:#1782f5;
							table{
								th{
									background:#dae7f5;
									border:1px solid #1c6ef1;
								}
								td{
									background:#fffaed;
									border:1px solid #1c6ef1;
								}
							}
						}
						&.three-table{
							background:#f75e74;
							table{
								th{
									background:#f7d6db;
									border:1px solid #f75e74;
								}
								td{
									background:#fffaed;
									border:1px solid #f75e74;
								}
							}
						}
						.title-item{
							display:inline-block;
							width:445px;
							@media (max-width:700px) {
								width:223px;
							}
						}
						table{
							th{
								font-size:16px;
								color:#333;
								@media (max-width:700px) {
									font-size:14px;
								}
							}
							td{
								font-size:14px;
								color:#333;
								@media (max-width:700px) {
									font-size:12px;
								}
							}
						}
					}
					.rule-item{
						float:left;
						width:100%;
						margin:35px 0 50px;
						dt{
							font-size:20px;
							color:#222;
							@media (max-width:700px) {
								font-size:14px;
							}
						}
						dd{
							font-size:16px;
							color:#333;
							@media (max-width:700px) {
								font-size:12px;
							}
						}
					}
					.gift-item{
						float:left;
						width:100%;
						margin:30px 0;
						box-sizing:border-box;
						@media (max-width:700px) {
							margin:15px 0;
						}
						li{
							float:left;
							width:230px;
							margin:0 10px;
						    box-shadow: 0px 2px 2px #ccc;
							border-radius: 15px;
							overflow:hidden;
							@media (max-width:700px) {
								width:46%;
								margin:5px 2%;
							}
							.title-text{
								float:left;
								width:100%;
								height:30px;
								line-height:30px;
								text-align:center;
								background:#ff524c;
								color:#fff;
								font-size:16px;
								@media (max-width:700px) {
									font-size:12px;
								}
							}
							.content-text{
								float:left;
								width:100%;
								padding:0 10px;
								background:#fcf6df;
								box-sizing:border-box;
								.gift-img{
									display:inline-block;
									width:100%;
									height:166px;
									margin-top:20px;
									@media (max-width:700px) {
										height:100px;
										margin-top:10px;
									}
									&.one{
										background:url('/activity/images/open-spring/gift-one.png') no-repeat center;
										background-size:80%;
									}
									&.two{
										background:url('/activity/images/open-spring/gift-two.png') no-repeat center;
										background-size:80%;
									}
									&.three{
										background:url('/activity/images/open-spring/gift-three.png') no-repeat center;
										background-size:60%;
									}
									&.four{
										background:url('/activity/images/open-spring/gift-four.png') no-repeat center;
										background-size:70%;
									}
								}
								.name-text{
									display:inline-block;
									width:100%;
									height:35px;
									line-height:35px;
									border-radius:10px;
									background:#f3e5b9;
									font-size:16px;
									color:#333;
									margin:20px 0;
									@media (max-width:700px) {
										font-size:12px;
										margin:10px 0;
									}
								}
							}
						}
					}
					.code-item{
						display:inline-block;
						width:760px;
						border-radius:15px;
						background:#f72b4b;
						font-size:22px;
						color:#fff;
						line-height:35px;
						padding:5px 55px;
						box-sizing:border-box;
						margin:30px 0 25px;
						@media (max-width:700px) {
							width:100%;
							font-size:14px;
							padding:5px 10px;
							line-height:25px;
						}
					}
					.code-img{
						display:inline-block;
						width:260px;
						margin-bottom:35px;
						@media (max-width:700px) {
							width:100%;
						}
					}
				}
				.line-footer{
					float:left;
					width:100%;
					height:7px;
					background:url('/activity/images/open-spring/line-icon.png') no-repeat center;
					background-size:100%;
					@media (max-width:700px) {
						height:2px;
					}
				}
			}
			.circle{
				position: absolute;
				bottom:-107px;
				width:94px;
				height:94px;
				border-radius:50%;
				@media (max-width:700px) {
				    width: 30px;
				    height: 30px;
				    bottom: -45px;
				}
				&.circle-left{
					left:-15%;
					@media (max-width:700px) {
						left:2%;
					}
				}
				&.circle-right{
					right:-15%;
					@media (max-width:700px) {
						right:2%;
					}
				}
			}
		}
	}
}