body {
  background: #ffea80;
}
.header-container,.nav-container,.footer-container {
  display: none;
}
.main-frame {
  width: 100%;
  margin: 0 auto;
}

.red-envelop-container {
  background: url('/activity/images/red_envelop_split/we-top.jpg') left top no-repeat;
  background-size: 100%;
  min-height: 760px;
}