body {
  background: #ffea80;
}
.header-container,.nav-container,.footer-container {
  display: none;
}
.main-frame {
  width: 100%;
  margin: 0 auto;
}

.red-envelop-container {
  margin:0 10px;
  input[type="text"] {
    width: 100%;
    padding:13px 6px;
    box-sizing: border-box;
    border:1px solid #861d14;
    border-radius:10px;
    margin-bottom: 15px;
    background: #fffceb;
  }
  .register-section-box {
    background: #df3121 url('/activity/images/red_envelop_split/bg-head.jpg') left top no-repeat;
    background-size: 100%;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding-top: 245px;
  }
  .normal-button {
    background: #ffdf00;
    text-align: center;
    color: #e94935;
    font-size: 18px;
    padding: 10px 5px;
    display: block;
    border-radius: 25px;
    box-shadow: 0 4px 0px #eebb00;
    border: 0;
    width: 100%;
    margin-top: 5px;
  }
  .invite-box {
    text-align: center;
    .message-tip {
      background: rgba(255,255,255,0.2);
      border-radius:20px;
      border:1px solid #fff700;
      color: #fff;
      font-size: 20px;
      padding: 8px 20px;
    }
    .amount {
      color: #fff700;
      font-size: 40px;
      font-weight: normal;
      display: block;
      line-height: 1;
      margin-top: 20px;
      i {
        font-size: 80px;
      }
    }
    .kind {
      font-size:18px;
      color: #fff;
    }
  }

  .flow-box {
    padding:20px 30px;
    border-top:1px dashed #fff700;
    margin-top:10px;
    .reward-msg {
      color: #fff;
      font-size: 12px;
      display: block;
      text-align: center;
      padding-bottom: 10px;
      em {
        display: block;
        font-size: 15px;
      }
    }
    &.step-two {
      padding:20px 30px;
      border-top:1px dashed #fff700;
      margin-top:10px;
      .get-captcha {
        position: relative;
        width:100%;
        display: block;
        .btn-captcha {
          display: inline-block;
          background: #fffceb;
          position: absolute;
          right: 1px;
          top: 4px;
          font-size: 14px;
          color: #e84c3d;
          padding: 9px 20px;
          border: 0;
          border-radius: 10px;
          border-left: 1px solid #99978d;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

    }

    .agreement {
      display: block;
      text-align: right;
      color: #fff;
      padding-top: 10px;
    }
  }



  .benefit-box {
    margin:5px;
    dl {
      background: #ffef9e;
      background-position: left top;
      background-repeat: no-repeat;
      background-size: 22%;
      border-radius: 40px;
      color: #66380a;
      font-size: 13px;
      padding: 10px 0 10px 29%;
      margin-bottom: 25px;
      margin-top: 25px;
      &:nth-child(1) {
        background-image: url("/activity/images/red_envelop_split/icon-le-01.png");
      }
      &:nth-child(2) {
        background-image: url("/activity/images/red_envelop_split/icon-le-02.png");
      }
      &:nth-child(3) {
        background-image: url("/activity/images/red_envelop_split/icon-le-03.png");
      }
      &:nth-child(4) {
        background-image: url("/activity/images/red_envelop_split/icon-le-04.png");
      }
      dt {
        font-size: 18px;
      }
      dd {
        i {
          color: #df3121;
        }
      }
    }
  }
}