@import "module/login_tip";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.media-item{
  display:block;
  @media (max-width:700px) {
    display:none;
  }
}
.media-item-phone{
  display:none;
  @media (max-width:700px) {
    display:block;
  }
}

.main-frame {
  width: 100%;
  margin: 0 auto;
}
.regal-list-container{
  .top-container{
    height: 350px;
    background: url("/activity/images/regal-list/top-img.jpg") center top no-repeat;
    @media (max-width:700px) {
      height: 175px;
      background: url("/activity/images/regal-list/top-img-phone.jpg") center top no-repeat;
      background-size: contain;
    }
  }
  .wp{
    width:1000px;
    margin:0 auto;
  }
  .rule-container{
    background:-webkit-linear-gradient(to bottom, #ffdb01, #ffed7d); 
    background:linear-gradient(to bottom,#ffdb01, #ffed7d);
    .rule-content{
      float:left;
      width:100%;
      border:5px solid #ff4149;
      border-radius:10px;
      margin:85px 0 50px;
      position: relative;
      .rule-one{
        width:54px;
        height:85px;
        position: absolute;
        top:60px;
        left:-58px;
        background: url('/activity/images/regal-list/rule-one.png') no-repeat center;
        background-size:120%;
        background-position: 10px 0;
      }
      .rule-two{
        width: 50px;
        height: 45px;
        position: absolute;
        top: 120px;
        right: -55px;
        background: url(/activity/images/regal-list/rule-two.png) no-repeat center;
        background-size: 120%;
        background-position: -25px 0;
      }
      .rule-three{
        width:36px;
        height:55px;
        position: absolute;
        top:400px;
        left:-40px;
        background: url('/activity/images/regal-list/rule-three.png') no-repeat center;
        background-size:120%;
        background-position: 10px 0;
      }
      .content-item{
        float:left;
        width:100%;
        background:#fff;
        border-radius:5px;
        position: relative;
        border:7px solid #f1192d;
        padding: 50px 20px 20px;
        h3{
          position: absolute;
          left:50%;
          top:-10px;
          margin-left:-113px;
          width:226px;
          height:40px;
          line-height:40px;
          text-align:center;
          font-size:24px;
          color:#fff600;
          font-weight:bold;
          background: url("/activity/images/regal-list/rule-title.png") center no-repeat;
          background-size: contain;
        }
        .rule-text{
          float:left;
          width:100%;
          font-size:16px;
          color:#000;
          p{
            padding-left:40px;
            position: relative;
            i{
              position: absolute;
              top:5px;
              left:0;
              width:20px;
              height:20px;
              line-height:20px;
              border-radius:50%;
              background:#f1192d;
              color:#fff600;
              font-size:16px;
              text-align:center;
            }
          }
        }
        .gift-list{
          float:left;
          width:100%;
          text-align:center;
          li{
            display:inline-block;
            width:210px;
            margin:0 60px;
            .gift-item{
              float:left;
              width:100%;
              height:210px;
              background: #fffca4;
              border:4px solid #ff0000;
              border-radius:20px;
              overflow:hidden;
            }
            .gift-num{
              float:left;
              width:100%;
              font-size:18px;
              color:#333;
              padding-left:70px;
              margin-top:15px;
              &.icon-first{
                background: url('/activity/images/regal-list/icon-first.png') no-repeat;
                background-position: 20px 0;
              }
              &.icon-twice{
                background: url('/activity/images/regal-list/icon-twice.png') no-repeat;
                background-position: 20px 0;
              }
            }
          }
        }
      }
    }
  }
  .rank-container{
    background:-webkit-linear-gradient(to right, #fd2f1f, #ff2b22,#fd2f1f); 
    background:linear-gradient(to right, #fd2f1f, #ff2b22,#fd2f1f);
    .rank-content{
      float:left;
      width:100%;
      position: relative;
      padding:85px 0;
      .rank-title{
        width:360px;
        height:60px;
        position: absolute;
        top:-10px;
        left:50%;
        margin-left:-180px;
        background:url('/activity/images/regal-list/title-bg.png') no-repeat center;
        background-size:100%;
        font-size:30px;
        color:#5b5800;
        text-align:center;
        font-weight:bold;
      }
      .rank-info{
        float:left;
        width:100%;
        padding:20px 0;
        background: #ff333c;
      }
    }
  }
  .dare-container{
    background:-webkit-linear-gradient(to bottom, #fff0d0, #ffecc0); 
    background:linear-gradient(to bottom,#fff0d0, #ffecc0);
  }
}