@import "module/login_tip";
.main-frame {
  width: 100%;
  margin: 0 auto;
  font-size:14px;
}
.layui-layer-setwin{
   .layui-layer-close2{
    width:25px!important;
    height:25px!important;
    right: -35px!important;
    top: -35px!important;
    background:url('/activity/images/spring-festival/close-btn.png') no-repeat center;
    background-size:100%;
    background-position: 0 0 !important;
   }
}
.spring-festival-container{
  background:#b2242b;
  .top-container{
    float:left;
    width:100%;
    .top-img{
      display:block;
      @media (max-width:700px) {
        display:none;
      }
    }
    .top-img-phone{
      display:none;
      @media (max-width:700px) {
        display:block;
      }
    }
  }
  .wp{
    width:1100px;
    margin:0 auto;
    @media (max-width:700px) {
      display:inline-block;
      width:100%;
      padding:0 10px;
      box-sizing:border-box;
    }
    &:after{
      content:'';
      display:block;
      clear:both;
    }
    .model-container{
      float:left;
      width:100%;
      position: relative;
      border:6px solid #e70c1c;
      margin-top:30px;
      background:#faedbc;
      padding:30px 100px;
      box-sizing:border-box;
      @media (max-width:700px) {
        margin-top:15px;
        padding:15px;
        border:3px solid #e70c1c;
      }
      &.mb-50{
        margin-bottom:50px;
        @media (max-width:700px) {
          margin-bottom:25px;
        }
      }
      .tree{
        position: absolute;
        top:-6px;
        width:247px;
        height:161px;
        @media (max-width:700px) {
          display:none;
        }
        &.tree-left{
          left:-4px;
          background:url('/activity/images/spring-festival/tree-left.png') no-repeat center;
          background-size:100%;
        }
        &.tree-right{
          right:-4px;
          background:url('/activity/images/spring-festival/tree-right.png') no-repeat center;
          background-size:100%;
        }
      }
      .title-item{
        float:left;
        width:100%;
        text-align:center;
        .title-sm{
          display:inline-block;
          width:400px;
          height:60px;
          line-height:60px;
          text-align:center;
          font-size:36px;
          color:#faedbc;
          background:url('/activity/images/spring-festival/title-sm-bg.png') no-repeat center;
          background-size:100%;
          @media (max-width:700px) {
            width:100%;
            height:30px;
            line-height:30px;
            font-size:18px;
            background-size:80%;
          }
          &.mx-title{
            width:500px;
            background:url('/activity/images/spring-festival/title-mx-bg.png') no-repeat center;
            @media (max-width:700px) {
              width:100%;
              height:30px;
              line-height:30px;
              font-size:18px;
              background-size: 100%;
            }
          }
        }
      }
      .title-info{
        float:left;
        width:100%;
        font-size:16px;
        color:#981e23;
        text-align:center;
        margin:30px 0 20px;
        @media (max-width:700px) {
          font-size:12px;
          margin:15px 0 10px;
          line-height: 18px;
        }
      }
      .bag-item{
        float:left;
        width:100%;
        text-align:center;
        .bag-img{
          display:block;
          @media (max-width:700px) {
            display:none;
          }
        }
        .bag-icon{
          display:none;
          @media (max-width:700px) {
            display:block;
          }
        }
      }
      .btn-item{
        float:left;
        width:100%;
        text-align:center;
        span,a{
          display:inline-block;
          width:250px;
          height:60px;
          line-height:60px;
          box-shadow: 0 4px #b30003;
          position: relative;
          background:#d60004;
          border-radius:10px;
          font-size:24px;
          color:#fffbe5;
          cursor:pointer;
          @media (max-width:700px) {
            width:125px;
            height:30px;
            line-height:30px;
            font-size:14px;
            border-radius:5px;
            box-shadow: 0 2px #b30003;
            &.active{
              box-shadow: 0 2px #bbb;
              &:hover{
                box-shadow: 0 2px #bbb;
              }
            }
          }
          &:hover{
            box-shadow: 0 2px #a32517;
            top: 2px;
          }
          &.active{
            background:#ccc;
            box-shadow: 0 4px #bbb;
            &:hover{
              box-shadow: 0 4px #bbb;
              top: 0;
            }
          }
        }
      }
      .rule-list{
        float:left;
        width:100%;
        margin-top:70px;
        @media (max-width:700px) {
          margin-top:10px;
        }
        li{
          font-size:14px;
          color:#981e23;
          @media (max-width:700px) {
            font-size:12px;
          }
        }
      }
      .red-bag-item{
        float:left;
        width:100%;
        margin-top:-20px;
        @media (max-width:700px) {
          margin-top:0;
        }
        .money-item{
          width:960px;
          margin:0 -40px;
          @media (max-width:700px) {
            width:100%;
            margin:0;
          }
          li{
            float:left;
            width:400px;
            height:400px;
            margin:15px 40px;
            background:#fffbe5;
            box-sizing:border-box;
            padding:30px 80px 20px;
            @media (max-width:700px) {
              width:100%;
              height:auto;
              margin:10px 0;
              padding:15px 20px 10px;
              text-align:center;
            }
            &.active{
              .money-content{
                background:url('/activity/images/spring-festival/flower-active-bg.png') no-repeat center;
                background-size:100%;
                p{
                  color:#e70c1b;
                }
              }
              .text-item{
                visibility:visible;
              }
            }
            h3{
              font-size:16px;
              color:#981e23;
              margin:0;
              text-align:center;
              line-height:18px;
              @media (max-width:700px){
                font-size:14px;
              }
              span{
                color:#e70c1b;
              }
            }
            .money-content{
              display:inline-block;
              width:230px;
              height:230px;
              background:url('/activity/images/spring-festival/flower-bg.png') no-repeat center;
              background-size:100%;
              box-sizing:border-box;
              padding:85px 0;
              text-align:center;
              margin:20px 0 15px;
              @media (max-width:700px) {
                width:200px;
                height:200px;
                padding:65px 0;
              }
              p{
                margin-bottom:0;
                font-size:24px;
                color:#999;
                line-height:28px;
                @media (max-width:700px) {
                  font-size:20px;
                }
                span{
                  font-size:46px;
                  font-weight:bold;
                  @media (max-width:700px) {
                    font-size:30px;
                  }
                }
              }
            }
            .text-item{
              display:inline-block;
              width:100%;
              height:50px;
              line-height:50px;
              font-size:24px;
              color:#981e23;
              text-align:center;
              border:2px solid #a20904;
              border-radius:10px;
              visibility:hidden;
              box-sizing:border-box;
              @media (max-width:700px) {
                width:150px;
                height:40px;
                font-size:18px;
                line-height:40px;
                border:1px solid #a20904;
              }
            }
          }
        }
        .gift-item{
          width:960px;
          margin:0 -40px;
          @media (max-width:700px) {
            width:100%;
            margin:0;
          }
          li{
            float:left;
            width:400px;
            height:400px;
            margin:15px 40px;
            background:#fffbe5;
            box-sizing:border-box;
            position: relative;
            border: 4px solid #e70a1a;
            @media (max-width:700px) {
              width:100%;
              height:auto;
              margin:10px 0;
              padding:15px 20px 10px;
              text-align:center;
              border: 2px solid #e70a1a;
            }
            .angle{
              width:120px;
              height:78px;
              position: absolute;
              @media (max-width:700px) {
                width:60px;
                height:39px;
              }
              &.angle-left-top{
                top:5px;
                left:5px;
                background:url('/activity/images/spring-festival/left-top.png') no-repeat center;
                background-size:100%;
              }
              &.angle-right-top{
                top:5px;
                right:5px;
                background:url('/activity/images/spring-festival/right-top.png') no-repeat center;
                background-size:100%;
              }
              &.angle-left-bottom{
                bottom:5px;
                left:5px;
                background:url('/activity/images/spring-festival/left-bottom.png') no-repeat center;
                background-size:100%;
              }
              &.angle-right-bottom{
                bottom:5px;
                right:5px;
                background:url('/activity/images/spring-festival/right-bottom.png') no-repeat center;
                background-size:100%;
              }
            }
            h5{
              text-align:center;
              font-size:24px;
              color:#981e23;
              margin: 5px 0;
              font-weight:bold;
              @media (max-width:700px) {
                font-size:16px;
              }
            }
            .gift-info{
              text-align:center;
              p{
                font-size:16px;
                color:#981e23;
                margin-bottom: 0;
                line-height: 18px;
                @media (max-width:700px) {
                  font-size:12px;
                }
              }
            }
            .gift-img{
              width:100%;
              line-height:300px;
              text-align:center;
              position: relative;
              @media (max-width:700px) {
                line-height:200px;
                img{
                  width:80%;
                  &.sky-img{
                    width:50%;
                  }
                }
              }
              .coupon-item{
                position: absolute;
                top:0;
                right:20px;
                width:90px;
                height:90px;
                text-align:center;
                background:#e70a1a;
                border-radius:50%;
                box-sizing: border-box;
                padding: 18px 0;
                @media (max-width:700px) {
                  width:60px;
                  height:60px;
                  right:0;
                }
                p{
                  font-size:16px;
                  color:#fffbe5;
                  margin-bottom:0;
                  line-height: 24px;
                  @media (max-width:700px) {
                    font-size:12px;
                    line-height:12px;
                  }
                  span{
                    font-size:26px;
                    @media (max-width:700px) {
                      font-size:16px;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .tip-item{
        float:left;
        width:100%;
        font-size:16px;
        color:#981e23;
        margin-bottom:10px;
        @media (max-width:700px) {
          font-size:12px;
          line-height: 18px;
        }
      }
    }
  }
  .money-tip{
    float:left;
    width:100%;
    box-sizing:border-box;
    display:none;
    .content-item{
      display:inline-block;
      width:400px;
      height:300px;
      border:3px solid #e70c1c;
      background:#fffbe5;
      position: relative;
      box-sizing:border-box;
      text-align:center;
      @media (max-width:700px) {
        width:280px;
      }
      .tip{
        position: absolute;
        width:60px;
        height:60px;
        &.tip-left-top{
          top:0;
          left:0;
          background:url('/activity/images/spring-festival/tip-left-top.png') no-repeat center;
          background-size:100%;
        }
        &.tip-right-top{
          top:0;
          right:0;
          background:url('/activity/images/spring-festival/tip-right-top.png') no-repeat center;
          background-size:100%;
        }
        &.tip-left-bottom{
          bottom:0;
          left:0;
          background:url('/activity/images/spring-festival/tip-left-bottom.png') no-repeat center;
          background-size:100%;
        }
        &.tip-right-bottom{
          bottom:0;
          right:0;
          background:url('/activity/images/spring-festival/tip-right-bottom.png') no-repeat center;
          background-size:100%;
        }
      }
      h3{
        margin:20px 0;
        font-size:24px;
        color:#981e23;
        @media (max-width:700px) {
          font-size:20px;
        }
      }
      .top-com{
        display:inline-block;
        width:230px;
        height:106px;
        background:#fff;
        overflow:hidden;
        .left-name {
          float: left;
          width: 50px;
          height: 106px;
          background: #ff752a;
          color: #fff;
          font-size: 16px;
          text-align: center;
          line-height: 22px;
          border-radius: 5px;
          position: relative;
          span {
            display: inline-block;
            vertical-align: middle;
            width: 30px;
            margin-left: 5px;
          }
          em {
            display: inline-block;
            width: 0;
            height: 100%;
            vertical-align: middle;
          }
          i {
            position: absolute;
            left: 45px;
            width: 10px;
            height: 10px;
            border: 1px solid #ff752a;
            background: #fffbe5;
            border-radius: 50%;
            &.circle-top {
              top: -5px;
            }
            &.circle-bottom {
              bottom: -5px;
            }
          }
        }
        .right-coupon {
          float: left;
          width: 180px;
          height: 106px;
          padding-left: 20px;
          border: 1px solid #ff752a;
          border-radius: 5px;
          background: url('/activity/images/spring-festival/bag-bg.png') no-repeat right bottom;
          box-sizing:border-box;
          p {
            margin-bottom: 0;
            color: #ff752a;
            line-height: 20px;
            span{
              line-height:106px;
              &.num-text{
                font-size:40px;
              }
              &.unit-text{
                font-size:16px;
              }
            }
          }
        }
      }
      .btn-item{
        display:inline-block;
        width:100%;
        text-align:center;
        margin-top:20px;
        a{
          display: inline-block;
          width: 180px;
          height: 44px;
          line-height: 44px;
          box-shadow: 0 4px #b30003;
          position: relative;
          background: #d60004;
          border-radius: 10px;
          font-size: 20px;
          color: #fffbe5;
          cursor: pointer;
          &:hover{
            box-shadow: 0 2px #a32517;
            top: 2px;
          }
        }
      }
    }
  }
}
