.main-frame {
  width: 100%;
  margin: 0 auto;
  font-size:14px;
}

.spring-festival-container{
  background:#b2242b;
  .top-container{
    float:left;
    width:100%;
    .top-img{
      display:block;
      @media (max-width:700px) {
        display:none;
      }
    }
    .top-img-phone{
      display:none;
      @media (max-width:700px) {
        display:block;
      }
    }
  }
  .wp{
    width:1100px;
    margin:0 auto;
    &:after{
      content:'';
      display:block;
      clear:both;
    }
    .model-container{
      float:left;
      width:100%;
      position: relative;
      border:6px solid #e70c1c;
      box-sizing:border-box;
      margin-top:30px;
      background:#faedbc;
      padding:30px 65px;
      box-sizing:border-box;
      &.mb-50{
        margin-bottom:50px;
      }
      .tree{
        position: absolute;
        top:-6px;
        width:247px;
        height:161px;
        &.tree-left{
          left:-4px;
          background:url('/activity/images/spring-festival/tree-left.png') no-repeat center;
          background-size:100%;
        }
        &.tree-right{
          right:-4px;
          background:url('/activity/images/spring-festival/tree-right.png') no-repeat center;
          background-size:100%;
        }
      }
      .title-item{
        float:left;
        width:100%;
        text-align:center;
        .title-sm{
          display:inline-block;
          width:400px;
          height:60px;
          line-height:60px;
          text-align:center;
          font-size:36px;
          color:#faedbc;
          background:url('/activity/images/spring-festival/title-sm-bg.png') no-repeat center;
          background-size:100%;
          &.mx-title{
            width:500px;
            background:url('/activity/images/spring-festival/title-mx-bg.png') no-repeat center;
          }
        }
      }
      .title-info{
        float:left;
        width:100%;
        font-size:16px;
        color:#981e23;
        text-align:center;
        margin:30px 0 20px;
      }
      .bag-item{
        float:left;
        width:100%;
        text-align:center;
      }
      .btn-item{
        float:left;
        width:100%;
        text-align:center;
        span{
          display:inline-block;
          width:250px;
          height:60px;
          line-height:64px;
          box-shadow: 0 4px #b30003;
          position: relative;
          background:#d60004;
          border-radius:10px;
          font-size:24px;
          color:#fffbe5;
          cursor:pointer;
          &:hover{
            box-shadow: 0 2px #a32517;
            top: 2px;
          }
        }
      }
    }
  }
}
