$width:700px;

.header-container,.nav-container,.footer-container{
  display:none;
}
.main-frame {
  width: 100%;
  margin: 0;
  background:#ffd51a;
}

.today-headlines-container{
  float: left;
  width: 100%;
  min-height:800px;
  background: url('/activity/images/today-headlines/bg.png') repeat center;
  .top-img-item{
    float:left;
    width:100%;
  }
  .wp{
    width:100%;
    padding:0 10px;
    box-sizing:border-box;
    .intro-text-group{
      float:left;
      width:100%;
    }
  }
}