$width: 700px;

.header-container, 
.nav-container, 
.footer-container {
  display: none;
}
.main-frame {
  width: 100%;
  margin: 0;
  background: #ffd51a;
}
input[type="button"], 
input[type="submit"], 
input[type="reset"],
textarea {
  -webkit-appearance: none;
}

.today-headlines-container {
  float: left;
  width: 100%;
  min-height: 800px;
  background: url('/activity/images/today-headlines/bg.png') repeat center;
  background-size:100%;
  .layui-layer {
    border-radius:10px;
    .layui-layer-setwin .layui-layer-close2{
      width: 25px;
      height: 50px;
      background: url(/activity/images/today-headlines/close-btn.png) no-repeat center;
      background-size: 100%;
      right: -15px;
      top: -63px;
    }
  }
  .top-img-item {
    float: left;
    width: 100%;
  }
  .wp {
    float: left;
    width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    padding-bottom: 80px;

    @media (min-width:321px) and (max-width:700px) {
      padding: 0 27px 80px;
    }
    .intro-text-group {
      float: left;
      width: 100%;
      background: #cec0f0;
      border-radius: 10px;
      border: 1px solid #000;
      box-sizing: border-box;
      overflow: hidden;
      margin-top: 15px;

      .bg-item {
        float: left;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        background: url('/activity/images/today-headlines/line-bg.png') repeat center;
        background-size: 110%;

        @media (max-width:320px) {
          padding: 5px;
          background-size: 108%;
        }
        .intro-item {
          float: left;
          width: 100%;
          background: #a117e6;
          border-radius: 10px;
          border: 1px solid #000;

          p {
            margin-bottom: 0;
            color: #fff;
            font-size: 12px;
            text-indent: 1em;

            @media (max-width:320px) {
              text-indent: .5em;
            }
          }
        }
      }
    }
    .title-group {
      float: left;
      width: 100%;
      margin: 20px 0;
      text-align: center;
    }
    .lottery-group {
      float:left;
      width:100%;
      text-align:center;
      .lottery-item {
        display:inline-block;
        width: 100%;
        height: 250px;
        padding: 25px 15px;
        box-sizing: border-box;
        background: url('/activity/images/today-headlines/lottery-bg.png') no-repeat center;
        background-size: 100%;
        @media (max-width:700px) {
          width:300px;

        }
        li {
          float: left;
          width: 85px;
          height: 62px;
          margin: 2px;
          border-radius: 15px;
          box-sizing: border-box;
          &.lottery-btn {
            cursor: pointer;
          }
          &.lottery-unit {
            text-align: center;
            padding-top: 8px;
            background: url('/activity/images/today-headlines/gift-bg.png') no-repeat center;
            border-bottom: 3px solid #e97f05;

            &.active {
              border-bottom: none;
              border: 3px solid #ff1552;
              &.showing{
                background: #fff;
                .gift-img{
                  display:inline-block;
                }
                .hover-bg{
                  display:none;
                }
              }
            }
          }
          &.hiding{
            .gift-img{
              display:none;
            }
            .hover-bg{
              display:inline-block;
            }
          }
          .hover-bg{
            display:none;
          }
        }
      }
    }
    .actor-text-group {
      float: left;
      width: 100%;
      background: #cec0f0;
      border-radius: 10px;
      border: 1px solid #000;
      box-sizing: border-box;
      overflow: hidden;
      margin-top: 15px;
      @media (max-width:700px) {
        width:300px;
        position: relative;
        left:50%;
        margin-left:-150px;
      }
      .bg-item {
        float: left;
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        background: url('/activity/images/today-headlines/text-bg.png') repeat center;
        background-size: 120%;

        @media (max-width:320px) {
          padding: 5px;
          background-size: 120%;
        }
        .intro-item {
          float: left;
          width: 100%;
          background: #a117e6;
          border-radius: 10px;
          border: 1px solid #000;

          .rule-item {
            float: left;
            width: 100%;
            box-sizing: border-box;
            padding: 10px;

            @media (max-width:320px) {
              padding: 5px;
            }
            dt {
              font-size: 12px;
              color: #fff;
            }
            dd {
              font-size: 12px;
              color: #fff;

              i {
                display: inline-block;
                width: 15px;
                height: 15px;
                color: #000;
                font-size: 12px;
                line-height: 15px;
                background: #ffed00;
                text-align: center;
                border: 1px solid #000;
                vertical-align: top;
                margin-right: 10px;
                margin-top: 5px;
                border-radius: 5px;
              }
              span {
                display: inline-block;
                width: 230px;
              }
            }
          }
          .advantage-list {
            float: left;
            width: 100%;
            padding: 0 8px;
            box-sizing: border-box;

            li {
              float: left;
              width: 100%;
              padding: 10px 0;
              border-bottom: 1px solid #000;

              i {
                display: inline-block;
                width: 60px;
                height: 30px;
                text-align: center;
                background: #ffed00;
                border: 1px solid #000;
                box-sizing: border-box;
              }
              span {
                font-size: 16px;
                color: #fff;
                text-shadow: -1px 2px 2px #000;
                line-height: 30px;
                text-indent: 1em;
                display: inline-block;
              }
            }
          }
        }
      }
    }
    .company-name-item{
      float:left;
      width:100%;
      text-align:center;
      color:#a117e6;
      font-size:12px;
      margin:20px 0;
    }
    .download-group {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 70px;
      background: rgba(0, 0, 0, .3);
      text-align: center;

      .download-bg {
        display: inline-block;
        width: 230px;
        height: 45px;
        border: 1px solid #000;
        border-radius: 10px;
        background: #66468a;
        margin-top: 15px;
        box-sizing: border-box;

        .download-btn {
          width: 230px;
          height: 45px;
          line-height: 45px;
          text-align: center;
          border: 1px solid #000;
          border-radius: 10px;
          background: #a117e6;
          position: relative;
          bottom: 6px;
          left: -1px;
          padding: 5px 0;
          box-sizing: border-box;

          p {
            color: #fff;
            font-size: 12px;
            margin-bottom: 0;
            line-height: 18px;

            &:nth-child(1) {
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  .tip-box {
    float: left;
    width: 300px;
    height: auto;
    border:1px solid #000;
    border-radius:10px;
    background:#ffd51a;
    display:none;
    .tip-bg{
      float: left;
      width: 100%;
      box-sizing: border-box;
      padding: 10px 20px;
      background: url(/activity/images/today-headlines/bg.png) repeat center;
      background-size:100%;
      h3{
        text-align:center;
        margin-top:5px;
      }
      .gift-title{
        text-align:center;
        border-bottom: 1px solid #000;
        padding-bottom: 10px;
        margin-bottom:20px;
        &.no-chance{
          border-bottom:none;
          margin: 30px 0 0;
        }
        p{
          margin-bottom:0;
          font-size:14px;
          color:#fff;
          text-shadow: -1px 1px 1px #000;
        }
      }
      .title-tip{
        text-align:center;
        margin-top:5px;
      }
      .register-list {
        float:left;
        width:100%;
        font-size: 12px;
        &.mt-b{
          margin-bottom:30px;
        }
        li {
          float:left;
          width:100%;
          margin-top:20px;
          position: relative;
          &.mobile-agreement {
            margin-top:10px;
            color:#a117e6;
            .agreement-check{
              display:none;
            }
            a{
              color:#a117e6;
            }
          }
          &.text-c{
            margin:0;
            text-align:center;
            &.mt-20{
              margin-top:20px;
            }
          }
          &:last-child,&:first-child{
            margin-top:10px;
          }
          i {
            display: inline-block;
            width:25px;
            height:25px;
            position: absolute;
            left: 5px;
            top: 8px;
            z-index: 20;
            &.icon-phone{
              background:url('/activity/images/today-headlines/tel.png') no-repeat center;
              background-size:85%;
            }
            &.icon-pass{
              background:url('/activity/images/today-headlines/pass.png') no-repeat center;
              background-size:76%;
            }
            &.icon-code{
              background:url('/activity/images/today-headlines/code.png') no-repeat center;
              background-size:90%;
            }
            &.icon-captcha{
              background:url('/activity/images/today-headlines/captcha.png') no-repeat center;
              background-size:100%;
            }
            &.icon-user{
              background:url('/activity/images/today-headlines/user.png') no-repeat center;
              background-size:80%;
            }
            &.icon-attest{
              background:url('/activity/images/today-headlines/number.png') no-repeat center;
              background-size:100%;
            }
          }
          .captcha-tag {
            position: relative;
            display: inline-block;
            width: 100%;

            .fetch-captcha {
              width: 105px;
              height: 36px;
              padding: 0px;
              letter-spacing: 0;
              position: absolute;
              right: 0px;
              top: 5px;
              font-size: 12px;
              border-radius: 15px;
              background: #a117e6;
              border:1px solid #000;
              &:hover {
                color: #fff;
              }
            }
          }
          .int-item{
            float:left;
            width:100%;
            color: #999;
            border: #cecece 1px solid;
            padding: 10px 10px 10px 40px;
            background-color: #fff;
            box-sizing: border-box;

            &.captcha, &.appCaptcha {
              width: 148px;
            }
          }
          .image-captcha{
            margin-left:10px;
          }
          .submit-bg{
            display: inline-block;
            width: 230px;
            height: 45px;
            border: 1px solid #000;
            border-radius: 10px;
            background: #66468a;
            margin-top: 15px;
            box-sizing: border-box;
            .register-user,a.register-user {
              width: 230px;
              height: 45px;
              line-height: 35px;
              font-size:18px;
              color:#fff;
              text-align: center;
              border: 1px solid #000;
              border-radius: 10px;
              background: #a117e6;
              position: relative;
              bottom: 6px;
              left: -1px;
              padding: 5px 0;
              box-sizing: border-box;
            }
          }
          .login-link{
            font-size:16px;
            color:#ffff00;
            text-shadow: -1px 1px 1px #000;
            span{
              color:#fff;
            }
          }
          label.error{
            width:100%;
            position: absolute;
            left:0;
            bottom:-20px;
          }
        }
      }
    }
  }
}