<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.ExperienceBillMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache" />

    <resultMap id="experienceBillResultMap" type="ExperienceBillModel">
        <id column="id" property="id"/>
        <result column="login_name" property="loginName"/>
        <result column="operation_type" property="operationType"/>
        <result column="amount" property="amount"/>
        <result column="business_type" property="businessType"/>
        <result column="note" property="note"/>
        <result column="created_time" property="createdTime"/>
    </resultMap>

    <insert id="create" parameterType="ExperienceBillModel">
        insert into experience_bill(id, login_name, operation_type, amount, business_type, note, created_time)
        values(#{id}, #{loginName}, #{operationType}, #{amount}, #{businessType}, #{note}, #{createdTime})
    </insert>

    <select id="findById" parameterType="java.lang.Long" resultMap="experienceBillResultMap">
        select * from experience_bill where id = #{id}
    </select>

    <update id="update" parameterType="ExperienceBillModel">
        update experience_bill set
          login_name = #{loginName},
          operation_type = #{operationType},
          amount = #{amount},
          business_type = #{businessType},
          note = #{note},
          created_time = #{createdTime}
        where id = #{id}
    </update>

    <select id="findLastExchangeTimeByLoginName" resultType="java.util.Date" parameterType="String">
       select max(created_time) from experience_bill where login_name = #{loginName}
    </select>

    <select id="findExperienceBillPagination" parameterType="map" resultMap="experienceBillResultMap">
        select * from experience_bill
        <where>
            <if test="loginName != null and loginName != ''">
                and login_name = #{loginName}
            </if>
            <if test="operationType != null and operationType != ''">
                and operation_type = #{operationType}
            </if>
        </where>
        order by created_time desc
        limit #{index}, #{pageSize}
    </select>

    <select id="findCountExperienceBillPagination" parameterType="map" resultType="long">
        select count(1)
        from experience_bill
        <where>
            <if test="loginName != null and loginName != ''">
                and login_name = #{loginName}
            </if>
            <if test="operationType != null and operationType != ''">
                and operation_type = #{operationType}
            </if>
        </where>
    </select>

    <select id="findSumExperienceBillByBusinessType" parameterType="map" resultType="long">
        select IFNULL(SUM(amount), 0) from experience_bill
        <where>
            <if test="loginName != null and loginName != ''">
                and login_name = #{loginName}
            </if>
            <if test="businessType != null and businessType != ''">
                and business_type = #{businessType}
            </if>
        </where>
    </select>

</mapper>