<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.UserRecommendationMapper">

    <select id="findAllRecommendation" resultType="java.lang.String">
        SELECT
        r.login_name
        FROM
        referrer_relation r
        JOIN user_role u
        ON r.`referrer_login_name` = u.`login_name`
        AND u.`role` in ('SD_STAFF', 'ZC_STAFF')
        <if test="districtName != null and districtName.size != 0">
            join user ur on ur.login_name = r.login_name
            and ur.province in
            <foreach item="item" index="index" collection="districtName" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        WHERE r.`level` = '1'
    </select>

</mapper>