.invest-success-container{
  float:left;
  width:100%;
  height:300px;
  margin:60px 0 110px;
  background:#fffaf3;
  position: relative;
  .invest-text-model{
    width:510px;
    height:210px;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-105px;
    margin-left:-205px;
    .success-tip{
      float:left;
      width:60px;
      height:60px;
      margin-top:10px;
      margin-left: -80px;
      background:url("../../images/icons/success-tip.png") no-repeat left top;
    }
    p{
      float:left;
      width:100%;
      margin-bottom:0;
      &.pay-tip{
        font-size:20px;
        color:#ff9c1b;
      }
      &.pay-text{
        font-size:16px;
        color:#4c4c4c;
      }
      &.pay-problem{
        font-size:16px;
        color:#808080;
        margin-top:75px;
      }
    }
  }
}
.invest-success-phone{
  display:none;
  background:#fffaf3;
  float:left;
  width:90%;
  margin:20px 5%;
  position: relative;
  .success-tip{
    position: absolute;
    top:25px;
    left:0;
    width:30px;
    height:30px;
    margin-top:10px;
    margin-left: 3%;
    background:url("../../images/icons/success-tip.png") no-repeat left top;
    background-size: 100%;
  }
  p{
    float:left;
    width:85%;
    margin:30px 0 0 15%;
    margin-bottom:0;
    &.pay-tip{
      font-size:16px;
      color:#ff9c1b;
    }
    &.pay-text{
      font-size:14px;
      color:#4c4c4c;
      margin-top:20px;
    }
    &.pay-problem{
      font-size:12px;
      color:#808080;
      margin-top:20px;
      margin-bottom:10px;
    }
  }
}

.callBack_container {
  position: relative;
  width: 100%;
  height: 430px;
  overflow: hidden;
  &.change_card_calBack {
    height: 685px;
  }
  .success_tip_icon {
    margin: 98px auto 27px auto;
    width: 60px;
    height: 60px;
    background: url("../../images/icons/success-tip.png") no-repeat center center;
    &.success_tip_icon_changeCard {
      margin: 70px auto 27px auto;
    }
  }
  .my_pay_tip {
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    color: #fe8f53;
  }
  .my_pay_tip_sub {
    margin-top: 16px;
    width: 100%;
    line-height: 16px;
    text-align: center;
    font-size: 16px;
    color: #4c4c4c;
  }
  .change_card_desc {
    margin: 36px auto 26px auto;
    width: 645px;
    height: 265px;
    background: #fff;
    padding: 30px 80px 25px 80px;
    line-height: 30px;
    font-size: 14px;
    color: #808080;
  }
  .handle_btn_container {
    margin-top: 40px;
    font-size: 0;
    text-align: center;
    overflow: hidden;
    .see_my_account {
      display: inline-block;
      margin-right: 20px;
      width: 158px;
      height: 34px;
      line-height: 34px;
      text-align: center;
      border: 1px solid #ff752a;
      border-radius: 3px;
      font-size: 16px;
      color: #ff752a;
      cursor: pointer;
    }
    .see_other_project, .go_to_recharge, .go_to_invest {
      display: inline-block;
      width: 160px;
      height: 36px;
      line-height: 36px;
      text-align: center;
      background: #ff752a;
      border-radius: 3px;
      font-size: 16px;
      color: #fff;
      cursor: pointer;
    }
  }
  .go_to_invest {
    margin: 0 auto;
    width: 160px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: #ff752a;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
  }
}

@media screen and (max-width: 700px) {
  .invest-success-container{
    display:none;
  }
  .invest-success-phone{
    display:block;
  }
}