$width: 700px;

@mixin mobilehide() {
  @media (max-width: $width) {
    display: none;
  }
}

@mixin PChide() {
  @media (min-width: $width + 1px) {
    display: none;
  }
}

.main-frame {
  width: 100%;
  margin: 0 auto;
}

.want-loan-group {
  float: left;
  width: 100%;

  .wp {
    width: 1000px;
    margin: 0 auto;

    @media (max-width: $width) {
      width: 100%;
		}
    @media (min-width:701px) and (max-width: 768px) {
      width: 100%;
    }
    &:after {
      clear: both;
    }
	}
  .loan-top-group {
    float: left;
    width: 100%;

    .top-images {
      display:block;
      @include mobilehide();
    }
    .top-images-phone {
      display:none;
      @media (max-width: $width) {
        display:block;
      }
    }
	}
  .content-group {
    float: left;
    width: 100%;
    padding-bottom: 50px;

    &.white-bg {
      background: #fff;
		}
    .title-group {
      float: left;
      width: 100%;
      font-size: 24px;
      color: #4c4c4c;
      line-height: 30px;
      box-sizing: border-box;
      padding-left: 20px;
      margin: 30px 0 50px;
			position: relative;

      @media (max-width: $width) {
        font-size: 16px;
        padding-left: 40px;
        margin: 15px 0;
      }
      @media (min-width:701px) and (max-width: 768px) {
        padding-left: 40px;
      }
      .border-item {
				position: absolute;
        top: 50%;
        left: 0;
        width: 10px;
        height: 30px;
        margin-top: -15px;
        border-radius: 5px;
        background: #8bbeff;

        @media (max-width: $width) {
          left: 20px;
          width: 5px;
          height: 14px;
          margin-top: -7px;
        }
        @media (min-width:701px) and (max-width: 768px) {
          left: 20px;
        }
			}
		}
    .intro-group {
      float: left;
      width: 100%;

      li {
        float: left;
        width: 25%;
        text-align: center;

        @media (max-width: $width) {
          width: 100%;
          margin: 10px 0;
        }
        .model-item {
          display: inline-block;
          width: 100px;

          @media (max-width: $width) {
            width: 100%;
            box-sizing: border-box;
            padding-left: 100px;
            position: relative;
            text-indent: 1em;
          }
          p {
            float: left;
            width: 100%;
            font-size: 14px;
            color: #999999;
            margin-bottom: 0;
            text-align: center;

            &.icon-one {
              width: 100px;
              height: 100px;
              background: url('../../images/wantloan/icon-one.png') no-repeat center;
              background-size: 100%;

              @media (max-width: $width) {
                position: absolute;
                top: 50%;
                left: 25px;
                margin-top: -35px;
                width: 70px;
                height: 70px;
              }
						}
            &.icon-two {
              width: 100px;
              height: 100px;
              background: url('../../images/wantloan/icon-two.png') no-repeat center;
              background-size: 100%;

              @media (max-width: $width) {
                position: absolute;
                top: 50%;
                left: 25px;
                margin-top: -35px;
                width: 70px;
                height: 70px;
              }
						}
            &.icon-three {
              width: 100px;
              height: 100px;
              background: url('../../images/wantloan/icon-three.png') no-repeat center;
              background-size: 100%;

              @media (max-width: $width) {
                position: absolute;
                top: 50%;
                left: 25px;
                margin-top: -35px;
                width: 70px;
                height: 70px;
              }
						}
            &.icon-four {
              width: 100px;
              height: 100px;
              background: url('../../images/wantloan/icon-four.png') no-repeat center;
              background-size: 100%;

              @media (max-width: $width) {
                position: absolute;
                top: 50%;
                left: 25px;
                margin-top: -35px;
                width: 70px;
                height: 70px;
              }
						}
            &.name-text {
              font-size: 20px;
              color: #ff5400;
              margin-top: 10px;

              @media (max-width: $width) {
                text-align: left;
                font-size: 16px;
                margin-top: 0;
              }
						}
            &.phone-info {
              display:none;
              text-align: left;
              @media (max-width:$width) {
                display:block;
              }
            }
            &.pc-info {
              display: block;
              @media (max-width:$width) {
                display:none;
              }
            }
					}
				}
			}
		}
    .project-list-group {
      float: left;
      width: 100%;

      @media (max-width: $width) {
        box-sizing: border-box;
        padding: 0 40px;
      }
      li {
        width: 300px;
        height: auto;
        background: #fff;
        border: 1px solid #e6e6e6;
        margin-right: 50px;
        padding: 30px 65px;
        box-sizing: border-box;
        &:last-child {
          margin-right: 0;
        }

        @media (max-width: $width) {
          width: 100%;
          margin: 10px 0;
          padding: 15px 60px;
        }
        @media (min-width: 700px) and (max-width: 768px) {
          margin:0;
        }
        &:hover {
					box-shadow: 0 0 15px 2px #e6e6e6;
					-webkit-transition: all .5s ease;
					-moz-transition: all .5s ease;
					transition: all .5s ease;
				}
        &.home-loan-item {
          float: left;
				}
        &.car-loan-item {
          float: left;
				}
        h3 {
          font-size: 20px;
          color: #ff5400;
          text-align: center;
          @media (max-width: $width) {
            font-size: 16px;
          }
				}
        i {
          width: 100%;
          height: 250px;
          display: inline-block;

          @media (max-width: $width) {
            height: 125px;
					}
          &.icon-home {
            background: url('../../images/wantloan/icon-home.png') no-repeat center;

            @media (max-width: $width) {
              background-size: 70%;
            }
					}
          &.icon-car {
            background: url('../../images/wantloan/icon-car.png') no-repeat center;

            @media (max-width: $width) {
              background-size: 90%;
            }
          }
          &.icon-consume {
            background: url('../../images/wantloan/icon-consume.png') no-repeat center;

            @media (max-width: $width) {
              background-size: 70%;
            }
          }
        }
        .loan-btn {
          margin-bottom: 0;
          background: #ff5400;
          color: #fff;
          font-size: 24px;
          text-align: center;
          line-height: 56px;
          height: 56px;
					box-shadow: 0 4px #db4900;
					position: relative;
          cursor: pointer;

          @media (max-width: $width) {
            font-size: 14px;
            line-height: 40px;
            height: 40px;
          }
          &:hover, &:active {
						box-shadow: 0 2px #db4900;
						top: 2px;
					}
				}
			}
		}
    .step-list-group {
      float: left;
      width: 100%;

      li {
        float: left;
        width: 25%;
        text-align: center;
        box-sizing: border-box;
				position: relative;

        .icon-line {
					position: absolute;
          top: 50%;
          right: -25px;
          width: 45px;
          height: 45px;
          margin-top: -45px;
          background: url('../../images/wantloan/line-icon.png') no-repeat center;
          background-size: 100%;

          @media (max-width: $width) {
            background-size: 40%;
            margin-top: -40px;
            right: -22px;
          }
				}
        p {
          display: inline-block;
          margin-bottom: 0;

          &.step-one {
            width: 100%;
            height: 120px;
            background: url('../../images/wantloan/step-one.png') no-repeat center;

            @media (max-width: $width) {
              background-size: 60%;
              height: 60px;
            }
					}
          &.step-two {
            width: 100%;
            height: 120px;
            background: url('../../images/wantloan/step-two.png') no-repeat center;

            @media (max-width: $width) {
              background-size: 60%;
              height: 60px;
            }
					}
          &.step-three {
            width: 100%;
            height: 120px;
            background: url('../../images/wantloan/step-three.png') no-repeat center;

            @media (max-width: $width) {
              background-size: 60%;
              height: 60px;
            }
					}
          &.step-four {
            width: 100%;
            height: 120px;
            background: url('../../images/wantloan/step-four.png') no-repeat center;

            @media (max-width: $width) {
              background-size: 60%;
              height: 60px;
            }
					}
          &.step-name {
            width: 100%;
            font-size: 18px;
            color: #ff5400;
            text-align: center;

            @media (max-width: $width) {
              font-size: 12px;
            }
					}
				}
			}
		}
    .step-problem-group {
      float: left;
      width: 100%;
      background: #fff;

      .problem-item {
        float: left;
        width: 50%;

        @media (max-width: $width) {
          width: 100%;
        }
        .problem-list {
          float: left;
          width: 100%;
          padding: 20px 30px;
          box-sizing: border-box;

          @media (max-width: $width) {
            padding: 0 15px;
          }
          li {
            float: left;
            width: 100%;

            p {
              float: left;
              width: 100%;
              @media (max-width: $width) {
                margin-bottom: 10px;
							}
              &.info-text {
                font-size: 14px;
                color: #999;
                padding-left: 30px;
                box-sizing: border-box;

                @media (max-width: $width) {
                  font-size: 12px;
                }
							}
              .circle-icon {
                display: inline-block;
                width: 15px;
                height: 15px;
                margin-right: 15px;
                border-radius: 15px;
                box-shadow: 0 0 5px 0 #ffb759;
                background: #ff9c1b;
							}
              span {
                display: inline-block;
                font-size: 20px;
                color: #4d4d4d;

                @media (max-width: $width) {
                  font-size: 14px;
                }
                @media (min-width:701px) and (max-width: 768px) {
                  font-size: 18px;
                }
              }
						}
					}
				}
			}
		}
	}
  .home-tip-group {
    float: left;
    width: 500px;
    height: 510px;
    display: none;

    @media (max-width: $width) {
      width: 320px;
    }
    .loan-form {
      float: left;
      width: 100%;
      padding: 20px 100px;
      box-sizing: border-box;

      @media (max-width: $width) {
        padding: 20px 50px;
      }
      .form-input-item {
        float: left;
        width: 100%;
        box-sizing: border-box;
				position: relative;

        &.text-c {
          text-align: center;
				}
        .int-item {
          float: left;
          width: 100%;
          margin-top: 20px;
					padding: 6px;
					font-size: 14px;
          box-sizing: border-box;
          border: 1px solid #ccc;

          &.area-bg {
            background: #fafafa;
					}
				}
        .submit-btn {
          display: inline-block;
          width: 240px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          color: #fff;
          background: #ff6900;
          margin-top: 40px;
          padding: 0;
          border: none;
          cursor: pointer;

          @media (max-width: $width) {
            width: 100%;
          }
				}
        label.error {
          width: 100%;
					position: absolute;
          bottom: -22px;
          left: 0;
				}
        .area-list-group {
					position: absolute;
          top: 52px;
          left: 0;
          width: 100%;
          background: #fafafa;
          border: 1px solid #ccc;
          box-sizing: border-box;
          z-index: 9;
          display: none;

          li {
            float: left;
            width: 100%;
            height: 35px;
            line-height: 35px;
			text-indent: 2em;
			cursor: pointer;
            &:hover {
              background: #fff;
              -webkit-transition: all .5s ease;
              -moz-transition: all .5s ease;
              transition: all .5s ease;
				}
			}
        }
      }
    }
  }
  .is-user {
    float: left;
    width: 400px;
    display: none;

    @media (max-width: $width) {
      width: 320px;
    }
    p {
      font-size: 14px;
      color: #4c4c4c;
      text-align: center;

      &.tip-text {
        margin-top: 35px;
			}
      a {
        display: inline-block;
        width: 150px;
        height: 40px;
        line-height: 40px;
        color: #fff;
        text-align: center;
        font-size: 14px;
        background: #ff752a;
        margin-top: 15px;
			}
		}
	}
  .success-tip, .risk-tip, .anXinSign-tip {
    float: left;
    width: 400px;
    display: none;

    @media (max-width: $width) {
      width: 320px;
    }
    p {
      font-size: 14px;
      color: #4c4c4c;
      text-align: center;

      &.tip-text {
        font-size: 20px;
        color: #4c4c4c;
			}
      a {
        display: inline-block;
        width: 150px;
        height: 40px;
        line-height: 40px;
        color: #fff;
        text-align: center;
        font-size: 14px;
        background: #ff752a;
        margin-top: 15px;
			}
		}
	}
}
#riskTip {
  a.risk-revelation {
    display: inline!important;
    color: #ff752a!important;
    background: #fff;
  }
  .risk-confirm-btn {
    margin: 0 auto;
    width: 150px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    background: #ff752a;
    cursor: pointer;
    &.disabled {
      background: #ccc;
    }
  }
  .risk-checkbox {
    vertical-align: middle;
  }
  .risk-text {
    vertical-align: middle;
  }
}
