@charset "utf-8";
@import "top_sub_menu";
.main-frame {
  width: 100%;
  background: #fff;
}
.loan_apply_wrapper {
  padding: 0 40px;
  margin: 0 auto;
  width: 1000px;
  background: #fff;
  box-sizing: border-box;
  overflow: hidden;
  .loan_title {
    margin: 30px auto 20px auto;
    font-size: 20px;
    text-align: center;
    color: #333;
    font-weight: bold;
  }
  .info_title {
    margin: 10px auto 10px auto;
    font-size: 14px;
    font-weight: bold;
    border-bottom: 1px solid #999;
  }
  .info_wrapper {
    margin-bottom: 20px;
    font-size: 13px;
    .item {
      display: inline-block;
      width: 33%;
    }
    .item_text {
      margin-right: 20px;
      &.textarea_text {
        margin-right: 33px;
        vertical-align: middle;
      }
      &.workPosition-text {
        margin-right: 59px;
      }
      &.amount_text, &.period_text {
        margin-right: 33px;
      }
    }
    .supplement_info_item, .loan_application_item, .evidence_item {
      margin-top: 10px;
      .required-icon {
        display: inline-block;
        height: 20px;
        font-size: 20px;
        color: red;
        overflow: hidden;
        &.required-icon-none {
          visibility: hidden;
        }
      }
      .workPosition {
        margin-right: 10px;
      }
      .item-input {
        width: 300px;
        outline: none;
      }
      .item-textarea {
        padding: 5px;
        width: 400px;
        height: 60px;
        border: 1px solid #ccc;
        vertical-align: middle;
      }
    }
    .check_radio, .check_label {
      vertical-align: middle;
    }
    .check_label {
      margin-right: 30px;
    }
  }
  .confirm_btn {
    margin: 30px auto 50px auto;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #ff7200;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    &.disabled {
      background: #ccc;
    }
  }
  select {
    border: solid 1px #ccc;
    padding-left: 13px;
    width: 50px;
    height: 25px;
  }
  select::-ms-expand { display: none;}
  input[type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;
  }
  .evidence_item {
    .item_text {
      display: inline-block;
      margin-bottom: 20px;
    }
    .imgWrapper {
      position: relative;
      padding-left: 73px;
      box-sizing: border-box;
      overflow: hidden;
      &.identity {
        height: 120px;
      }
      .fancybox {
        position: relative;
        display: block;
        width: 200px;
        float: left;
        margin: auto 14px 14px auto;
        box-sizing: border-box;
        &:nth-child(4n + 4) {
          margin-right: 0;
        }
        .img {
          display: block;
          margin: 0 auto;
          width: 200px;
          height: 120px;
          box-sizing: border-box;
        }
        .remove-img-btn {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 999;
          width: 18px;
          height: 18px;
          background: url('../../images/wantloan/remove-btn.png') no-repeat center;
          background-size: contain;
        }
      }
      .img-item {
        float: left;
        position: relative;
        display: table;
        margin: auto 14px 14px auto;
        width: 200px;
        height: 120px;
        border: 1px dashed #ccc;
        box-sizing: border-box;
        .file-input {
          box-sizing: border-box;
          cursor: pointer;
        }
        &:last-child {
          margin-right: 0;
        }
        .upload-desc {
          display: table-cell;
          vertical-align: middle;
          text-align: center;
          .icon-upload {
            margin: 0 auto;
            width: 32px;
            height: 32px;
            background: url('../../images/wantloan/add-pic.png') no-repeat center;
            background-size: contain;
          }
        }
      }
    }
  }
  .apply-data {
    padding-left: 20px;
    h5 {
      font-size: 14px;
      color: #808080;
      padding: 20px 0;
    }
  }
}



