.main-frame .left-nav {
  width: auto;
  height: auto;
  float: none;
  background: none;
  margin-bottom: 15px;
  li {
    border-width:0px;
    margin: 0 15px;
    width:auto;
    display: inline-block;
    a {
      font-size: 18px;
      color: #0e050a;
      &:hover {
        background: none;
      }
      &.active {
        border-bottom: 4px solid #ff9c1b;
        background: transparent;
        color: #ff9c1b;
      }
    }

  }
}