@import "top_sub_menu";
@import "import_search_filter";

$CK1:#ffac2a #ff7a2a;
.main-frame .swiper-container{
  float:none;
}
.layui-layer-btn {
  text-align: center !important;
  .layui-layer-btn0 {
    padding: 3px 35px;
    background: nth($CK1, 2) !important;
    border-radius: 4px;
    border: 1px solid nth($CK1, 2) !important;
    border-color: nth($CK1, 2) !important;
    letter-spacing: 3px;
    color: #fff;
  }
}

/*transfer list*/
.transfer-list-content {
  .transfer-list-box{
    ul {
      li {
        border-radius: 8px;
        border: 1px solid #e5e5e5;
        padding: 5px 2px;
        margin-top: 10px;
        position: relative;
        cursor: pointer;
        background: #fff;
        &:hover {
          background: #fff;
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1), -1px -1px 5px rgba(0, 0, 0, 0.1);
        }
        .transfer-info-frame {
          width: 690px;
          padding-bottom: 10px;
          border-right: 1px solid #ccc;
          text-align: center;
          .transfer-top {
            padding: 5px 20px 0 30px;
            height: auto;
            overflow: auto;
            line-height: 50px;
            .l-title {
              font-size: 20px;
              color: #4e4e4e;
              display: inline-block;
              width: 300px;
              text-align: left;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .l-way {
              font-size: 12px;
              color: #b3b3b3;
              border-radius: 12px;
              border: 1px solid #e5e5e5;
              display: inline;
              line-height: 1;
              padding: 6px 15px;
              margin-top: 12px;
            }
          }
          .transfer-info-dl {
            width: 630px;
            margin: 0px 30px;
            line-height: 1.4;
            dl {
              width: 25%;
              float:left;
              color: #808080;
              font-size: 17px;
              dd {
                color: #999;
                em {
                  font-size: 26px;
                  color: #ff7200;
                }
                i {
                  font-size: 16px;
                  color: #ff7200;
                }
              }
            }
          }
        }
        .transfer-right {
          float: left;
          width: 240px;
          margin: 10px 30px 0px 30px;
          @media (min-width:701px) and (max-width:999px){
            width:220px;
          }
          .transfer-time{
            float:left;
            width:100%;
            text-align:center;
            line-height:55px;
          }
          .rest-amount {
            color: #ff752a;
            font-size: 13px;
            padding-top: 10px;
            line-height: 1.3;
            i {
              font-size: 20px;
            }
            .btn-normal {
              padding: 7px 0;
              width: 100%;
              font-size: 16px;
              font-weight: bold;
              margin-top: 8px;
            }
          }
        }
      }
    }
  }
}

.project-kind {
  .safety-notification {
    position: absolute;
    right: 110px;
    top: 2px;
    color: #ff752a;
    i {
      position: absolute;
      color: #ff752a;
      top: 5px;
      right: -20px;
      cursor: pointer;
    }
  }
}
.extra-rate-popup {
  background: #fff;
  position: absolute;
  z-index: 100;
  border: 1px solid #ffd4b2;
  width: 290px;
  text-align: center;
  > div {
    border-top: 1px solid #ffd4b2;
    &:first-child {
      border-top: none;
      border-right: none;
    }
  }
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: -7px;
    right: 24px;
    color: #ffd4b2;
    background: #fff;
    width: 12px;
    height: 7px;
    background: url("../../images/sign/chevron-up.png") no-repeat;
  }
}
.notice-tips {
  padding: 10px;
  text-align: left;
  position: absolute;
  right: 67px;
  top: 33px;
}