.activity-frame {
  .ac-title {
    background: url("../images/activityCenter/icon-title.png") left bottom no-repeat;
    padding-left: 38px;
    margin-bottom: 10px;
    span {
      font-size: 18px;
      color: #4c4c4c;
      font-weight: bold;
      display: inline-block;
      line-height: 19px;
      padding-right: 12px;
      border-right: 1px solid #ccc;
    }
    em {
      font-size: 12px;
      color: #b2b2b2;
      padding-left: 6px;
      vertical-align: top;
    }
  }
  .ac-item{
    margin-bottom:25px;
    @media (max-width:700px) {
      margin:0 10px;      
    }
    span{
      float:left;
      width:120px;
      height:35px;
      color:#808080;
      line-height:35px;
      background:#fff;
      cursor:pointer;
      text-align:center;
      border:1px solid #ff752a;
      @media (max-width:700px) {
        width:50%;
        box-sizing: border-box; 
      }
      &.active{
        color:#fff;
        background:#ff752a;
      }
    }
  }
  .activity-container {
    .no-activity {
      padding-top: 200px;
      padding-bottom: 250px;
      text-align: center;
      .no-data-wap {
        width: 110px;
        margin: 0 auto;
        .img {
          width: 110px;
          height: 66px;
          background: url("../images/activityCenter/no_activity.png") left bottom no-repeat;
          background-size: contain;
        }
        p {
          text-align: center;
          color: #999;
          font-size: 12px;
          margin-top: 10px;
        }
      }
    }
    .actor-list{
      float:left;
      width:100%;
      display:none;
      &.active{
        display:block;
      }
      .activity-box {
        height:198px;
        width:100%;
        border:1px solid #e6e6e6;
        position: relative;
        margin-bottom: 10px;
        @media (min-width:701px) and (max-width:999px) {
          box-sizing:border-box;
        }
        .activity-img {
          width:689px;
          height:198px;
          position: absolute;
          left: 0;
          top:0;
          overflow: hidden;
          @media (min-width:701px) and (max-width:999px) {
            width:100%;
          }
          .img-inner {
            height:100%;
            img {
              height:100%;
              margin-left: -165px;
            }
          }
        }
        .icon-going {
          position: absolute;
          right:20px;
          top:-2px;
          background: url("../images/activityCenter/going.png") left top no-repeat;
          width:49px;
          height:52px;
        }
        .icon-finished {
          position: absolute;
          right:20px;
          top:-2px;
          background: url("../images/activityCenter/finished.png") left top no-repeat;
          width:49px;
          height:52px;
        }
        .activity-title {
          position: absolute;
          width:309px;
          right:0;
          top:50px;
          text-align: center;
          font-size: 18px;
          color: #4c4c4c;
        }
        .time {
          position: absolute;
          width: 309px;
          right: 0;
          top: 82px;
          text-align: center;
          font-size: 13px;
          color: #b2b2b2;
        }
        .button-pos {
          position: absolute;
          right: 80px;
          top: 122px;
          .btn {
            border-radius: 0;
            background: #fff;
            border:1px solid #bfbfbf;
            color: #808080;
          }
        }
        &:hover {
          border:1px solid #ff752a;
          -moz-box-shadow:1px 1px 10px #ccc;
          -webkit-box-shadow:1px 1px 10px #ccc;
          box-shadow:1px 1px 10px #ccc;
          cursor: pointer;
          .button-pos .btn {
            background: #ff752a;
            border:1px solid #ff752a;
            color: #fff;
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .activity-frame {
    .ac-title {
      display: none;
    }
    .activity-container {
      padding:10px;
      .actor-list .activity-box {
        border-width: 0;
        overflow: hidden;
        background: #fff;
        height:250px;
        margin-bottom: 10px;
        .activity-title {
          position: absolute;
          width:100%;
          left:0;
          top:0px;
          text-align: left;
          font-size: 15px;
          color: #2e3033;
          padding: 5px 10px;
          background: #fff;
          z-index: 5;

        }
        .time {
          right: auto;
          left: 10px;
          width: auto;
          top: 29px;
          z-index: 5;
          font-size: 11px;
        }
        .activity-img {
          height:150px;
          overflow: hidden;
          position: absolute;
          top: 41px;
          width: calc(100% - 20px);
          margin: 10px;
          .img-inner {
            height:100%;
            img {
              height:100%;
              margin-left: -190px;
            }
            &.month-image {
              img {
                margin-left: -218px;
              }
            }
          }
        }
        .icon-going {
          background: none;
          z-index: 10;
          border-radius: 15px;
          border: 1px solid #ec6229;
          width: auto;
          height: auto;
          padding: 2px 10px;
          top: 11px;
          line-height: 15px;
          right: 10px;
          .hide {
            display: block;
            font-size:11px;
            color:#ec6229;
          }
        }
        .button-pos {
          right: auto;
          top: auto;
          left: 12px;
          bottom: 0;
          width: 100%;
          border-top: 1px solid #e6e6e6;
          .btn {
            background: #fff;
            border-width: 0;
            color: #8b8f98;
            padding-left: 0;
            padding-bottom: 12px;
            letter-spacing: 0;
            font-size:15px;
          }
          .hide {
            display: inline-block;
            color: #cccccc;
            font-size: 29px;
            position: absolute;
            right: 20px;
            top: 2px;
          }
        }
        &:hover {
          border-width: 0;
          -moz-box-shadow:none;
          -webkit-box-shadow:none;
          box-shadow:none;
          cursor: pointer;
          .button-pos .btn {
            background: #fff;
            border-width: 0;
            color: #8b8f98;
          }
        }
      }
    }
  }
}