.main-frame {
  width: 100%;
  margin: 0 auto;
  font-size:14px;
}
.tour-slide  {
  height: 400px;
  background: url("../images/anxin_landing/banner-anxin.jpg") center top no-repeat;
}
.section-title {
  border-bottom:1px solid #e2e8f2;
  height:45px;
  margin-top:22px;
  &.title-one {
    background: url("../images/anxin_landing/base-m-title01.png") left center no-repeat;
  }
  &.title-two {
    background: url("../images/anxin_landing/base-m-title02.png") left center no-repeat;
  }
  &.title-three {
    background: url("../images/anxin_landing/base-m-title03.png") left center no-repeat;
  }
  &.title-four {
    background: url("../images/anxin_landing/base-m-title04.png") left center no-repeat;
  }
}
a.anxin-button {
  display: inline-block;
  width: 190px;
  height:42px;
  line-height: 42px;
  color: #fff;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin:0 auto;
  background: #0e4393;

}
.landing-safety-frame {
  .column-box-box {
    &:nth-child(2n) {
      background: #f0f6ff;
      margin-top: 40px;
      padding-bottom:20px;
    }
  }
  .CFCA-box {
    width:480px;
    margin-top:30px;
    text-align: center;
    dt {
      height:46px;
      line-height: 46px;
      color: #fff;
      font-size: 22px;
      background: #0e4393;
      text-align: center;
    }
    dd {
      border:1px solid #b6c6de;
      height:235px;
      background: #e6ecf4;
      &.jigou-img{
        background:#e6ecf4 url("../images/anxin_landing/jigou.jpg") no-repeat center ;
        @media(max-width:700px){
          height:120px;
        }
      }
      p {
        padding: 20px 10px 2px 10px;
        text-align: left;
      }
    }
  }
  .CFCA-do-what {
    margin-top:30px;
    position: relative;
    .icon-and {
      position: absolute;
      width:325px;
      background: url("../images/anxin_landing/base-icon-and.png") center top no-repeat;
      border-bottom:1px dashed #d5e0f2;
      top: 54px;
      left: 34%;
      height: 80px;

    }
    dl {
      width:480px;
      dt {
        padding-top: 115px;
        text-align: center;
        color: #0e4393;
        font-size: 18px;
        &.title-do-one {
          background: url("../images/anxin_landing/icon-b-01.png") center top no-repeat;
        }
        &.title-do-two {
          background: url("../images/anxin_landing/icon-b-02.png") center top no-repeat;
        }
      }
      dd {
        padding-top:15px;
      }
    }



  }

  .how-to-open {
    text-align: center;
    p {
      margin-top:20px;
      text-align: left;
    }
    .anxin-button {
      margin-top:20px;
    }
    .advantage-list {
      margin-top:35px;
      li {
        display: inline-block;
        width:33%;
        padding-top: 70px;
        text-align: center;
        color: #ff7200;
        font-size: 16px;
        margin-bottom:0px;
        &:nth-child(1) {
          background: url("../images/anxin_landing/base-an-ic-adv01.png") center top no-repeat;
        }
        &:nth-child(2) {
          background: url("../images/anxin_landing/base-an-ic-adv02.png") center top no-repeat;
        }
        &:nth-child(3) {
          background: url("../images/anxin_landing/base-an-ic-adv03.png") center top no-repeat;
        }
      }
    }
  }

  .for-qa-answer {
    dl {
      margin-top:20px;
      dt {
        color: #0e4393;
        font-size:16px;
      }
      dd {
        font-size: 14px;
        margin-bottom:20px;
        a {
          text-decoration: underline;
          color: #0e4393;
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .tour-slide  {
    height: 170px;
    background: url("../images/anxin_landing/wap-banner.jpg") center top no-repeat;
    background-size: cover;
  }
  .section-title {
    margin-top: 10px;
    &.title-one {
      background-size: 37%;
    }
    &.title-two {
      background-size: 70%;
    }
    &.title-three {
      background-size: 70%;
    }
    &.title-four {
      background-size: 20%;
    }
  }
  .landing-safety-frame {
    .column-box-box {
      padding:0 20px;
      &:nth-child(2n) {
        margin-top: 20px;
        padding-bottom:20px;
      }
    }
    .CFCA-box {
      width:100%;
      margin-top: 15px;
      .anxin-button {
        display: none;
      }
      dd {
        height:auto;
        padding-bottom:15px;
      }
    }
    .CFCA-do-what {
      .fl,.fr {
        float: none;
      }
      dl {
        width:100%;
      }
      .icon-and {
        display: none;
      }
    }
    .how-to-open {
      p {
        margin-top:10px;
      }
      .anxin-button {
        margin-top:5px;
      }
      .advantage-list {
        li {
          width: 31%;
          padding-top: 54px;
          &:nth-child(1) {
            background-size: 40%;
          }
          &:nth-child(2) {
            background-size: 40%;
          }
          &:nth-child(3) {
            background-size: 40%;
          }
        }
      }
    }
    .for-qa-answer {
      dl {
        .hack {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 700px) and (max-width:768px){
  .tour-slide {
    height: 250px;
    background-size: cover;
  }
  .landing-safety-frame {

    .column-box-box {
      padding:0 15px;
    }
    .CFCA-box {
      width:49%;
      dd {
        height:300px;
      }
    }

    .CFCA-do-what  {

      .icon-and {
        display: none;
      }
      dl {
        width:47%;
        //float:none;
      }

    }

    .how-to-open  {
      .advantage-list li {
        display: block;
        float:left;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width:1366px){
  .landing-container .landing-header-nav {
    width:60%;
  }

}