@charset "utf-8";

body {
  background: #fef18c;
  overflow-x: hidden;
  width:100vw;
  height:100vh;
}
.compliance-banner {
  .invest-tip {
    bottom: 142px;
  }
}
.layui-layer-msg {
  width:70%;
}
.main-frame {
  width: 100%;
  margin: 0 auto;
}

.activity-slide  {
  height: 521px;
  background: url("../images/2017/coupon-special/head-coupon.png") center top no-repeat;
}

.note {
  text-align: center;
  color: #666;
  padding:20px 0 0 0;
}
.activity-frame-box {
  margin-top:-55px;
  .red-box {
    margin-bottom: 50px;
    position: relative;
    background: #ff002d;
    border-radius:10px;
    box-sizing: border-box;
    padding:80px 70px 20px 70px;
    .red-title {
      height: 95px;
      background: url('../images/2017/coupon-special/top-title.png') center top no-repeat;
      position: absolute;
      width: 100%;
      top: -50px;
      margin-left:-70px;
    }
    p {
      font-size: 24px;
      color: #fff;
      border:1px solid #e3e300;
      padding: 10px 30px;
      border-radius: 10px;
      em {
        color: #e3e300;
      }
    }
    .scan-code {
      width:215px;
      height:215px;
      border:15px solid #fff;
      background: url('../../public/images/scanCode/code-wechat.png') center center no-repeat;
      background-size: 100%;
      margin:30px auto 10px auto;
    }
    .icon-money {
      width:47px;
      height:59px;
      background: url('../images/2017/coupon-special/icon-money.png') left top no-repeat;
      position: absolute;
      &.one {
         left: 23%;
         top: 44%;
       }
      &.two {
        left: 11%;
        top: 74%;
      }
      &.three {
        right: 20%;
        top: 56%;
      }
      &.four {
        right: 11%;
        top: 79%;
      }
    }
  &.reward-box {
    padding:0px;
  }
  }

  .wechat-scan {
    background: #fef5ab;
    border-radius:10px;
    box-sizing: border-box;
    color: #fe4116;
    h1 {
      text-align: center;
      font-size: 48px;
      font-weight:bold;
      padding: 30px 0;
    }
    .img-list {
      height:380px;
      width:78%;
      margin:20px auto;
      .one {
        float: left;
        width:50%;
        height:100%;
        background: url('../images/2017/coupon-special/code-scan.png') center 23px no-repeat;
        position: relative;
        .word-pc {
          position: absolute;
          left:0;
          bottom:80px;
          background: url('../images/2017/coupon-special/sys-word.png') center top no-repeat;
          width: 100%;
          height: 48px;

        }
        .word-mobile {
          display: none;
        }
      }
      .two {
        float: left;
        width:50%;
        height:100%;

        h2 {
          font-size:25px;
        }
        .img-cat {
          background: url('../images/2017/coupon-special/code-cat.png') center center no-repeat;
          height:215px;
          margin-top: 20px;
        }
      }
    }
  }
}

.wechat-frame-box {
  width:100%;
  height:100%;
  background: url('../images/2017/coupon-special/app-bg-body.png') left 0px no-repeat;
  background-size: 100%;
  position: relative;
  text-align: center;

  .text-box {
    position: absolute;
    bottom: 80px;
    width:100%;
    text-align: center;
    span {
      color: #ffbd52;
      font-size:25px;
      display: block;
      line-height: 80px;
    }

    .btn-receive {
      display: inline-block;
      width:60%;
      height: 74px;
      background: url('../images/2017/coupon-special/btn-receive.png') center center no-repeat;
      background-size: contain;
      border: 0;
      cursor: pointer;
      font-size: 23px;
      color: #f34326;

      &:disabled,&[disabled='disabled'] {
        background: url('../images/2017/coupon-special/btn-receive-disable.png') center center no-repeat;
        background-size: contain;
        color: #f3d2cd;
      }
    }
  }

  &.success-box {
    background: #f03a28;
    .border-title {
      background: #d02430;
      height:28vh;
      position: relative;
      padding: 20px 25px;
      span {
        display: block;
        background: #fce4a8;
        color: #ec401c;
        font-size: 30px;
        height: 100%;
        font-weight: bold;
        padding-top: 6vh;
        box-sizing: border-box;
      }
      .bg-border {
        position: absolute;
        width:100%;
        height:100%;
        background: url("../images/2017/coupon-special/border-money.png") left bottom no-repeat;
        background-size: 100%;
        left: 0;
        bottom: 0;
      }
    }
    .red-bag-list {
      dl {
        margin-top: 20px;
        width:33%;
        height:140px;
        float: left;
        text-align: center;
        background: url('../images/2017/coupon-special/flag-red.png') center top no-repeat;
        background-size: 83%;
        dt {
          color: #e33b1f;
          font-size: 11px;
          padding-top: 26%;
          line-height: 15px;
          span {
            font-size:21px;
          }
          em {
            display: block;
          }
        }
        dd {
          padding-top: 40%;
          color: #fff;
          font-size: 11px;
        }
      }
    }
    .app-note {
      font-size: 13px;
      color: #fceecb;
      padding: 0 20px;
      margin-top:30px;
    }
    .remark {
      font-size:10px;
      color: #fceecb;
      margin-top:30px;
    }
  }
}

@media screen and(max-width: 700px){

  .activity-slide {
    height:auto;
    background: none;
    img {
      width:100%;
    }
  }

  .activity-frame-box {
    margin-top:0;
    padding: 30px 10px 10px 10px;
    .red-box {
      padding: 40px 15px 20px 15px;
      margin-bottom:20px;
      p {
        font-size:12px;
        padding:10px;
      }
      .red-title {
        width: 100%;
        top: -23px;
        background-size: 70%;
        margin-left: -19px;
      }
      .scan-code {
        width:140px;
        height:140px;
        background-size:100%;
        border: 5px solid #fff;

      }
      .icon-money {
        &.one {
          background-size: 50%;
          left: 20%;
        }
        &.two {
          background-size: 50%;
        }
        &.three {
          background-size: 50%;
          right:15%;
        }
        &.four {
          background-size: 50%;
          right:6%;
        }
      }
      &.reward-box {
        img {
          width:100%;
        }
      }
    }
    .wechat-scan {
      text-align: center;
      img {
        width:70%;
        margin-top:20px;
        margin-bottom:20px;
      }
      h1 {
        font-size:20px;
        padding: 20px 0 0 0;
      }
      .img-list {
        display: none;

      }

      .two {
        display: none;

      }
    }
  }

}

@media screen and(max-width: 400px){

  .wechat-frame-box .text-box { bottom:32px;}
}

@media screen and(max-width: 360px){

  .wechat-frame-box .text-box span {
    line-height: 46px;
  }

  .wechat-frame-box.success-box .red-bag-list dl {
    height: 120px;
  }
}

@media screen and(max-width: 320px){
  .wechat-frame-box .text-box {
    bottom: 8px;
  }
}




