
.main-frame {
  width: 100%;
  margin: 0 auto;
  background: #fff99b;
}
.banner {
  height: 350px;
  background: url("../images/2017/double11/banner.png") no-repeat center center;
}
.page-width {
  width: 96%;
  max-width: 1265px;
}