.main-frame {
  width: 100%;
  margin: 0;
  background: #336ded;
}
.compliance-banner {
  .invest-tip {
    bottom: 18px;
    @media screen and(max-width: 1024px){
      bottom: 11px;
      width: 96%;
      text-align: left;
    }
  }
}
.dragon-boat-container{
  float: left;
  width: 100%;
  .media-pc{
    display:inline-block;
    @media (max-width:700px) {
      display:none;
    }
  }
  .media-phone{
    display:none;
    @media (max-width:700px) {
      display:inline-block;
    }
  }
  .top-item{
    float:left;
    width:100%;
  }
  .wp {
    width: 980px;
    margin:0 auto;
    box-sizing: border-box;
    @media (max-width:700px) {
      width:100%;
      padding:0 10px;
    }
    .content-item{
      float:left;
      width:100%;
      padding:20px;
      border:10px solid #53100b;
      box-sizing:border-box;
      margin:25px 0;
      @media (max-width:700px) {
        border:5px solid #53100b;
        padding:5px;
        margin:10px 0;
      }
      &.border-no{
        border:none;
      }
      &.color-one{
        background:#fcc000;
      }
      &.color-two{
        background:#d766fc;
      }
      h3{
        float:left;
        width:100%;
        text-align:center;
        span{
          display:inline-block;
          width:395px;
          height:65px;
          line-height:65px;
          font-size:20px;
          color:#fff;
          background:url('../images/dragon-boat/title-item.png') no-repeat center;
          background-size:100%;
          text-indent:-3em;
          @media (max-width:700px) {
            width:100%;
            font-size:16px;
          }
        }
      }
      .loan-money{
        float:left;
        width:100%;
        text-align:center;
        margin-top:20px;
        span{
          display: inline-block;
          padding:5px 10px;
          border-radius:5px;
          fonts-zie:16px;
          color:#d766fc;
          background:#663077;
          strong{
            color:#fcc000;
          }
        }
      }
      .des-item{
        float:left;
        width:100%;
        font-size:14px;
        color:#336ded;
        padding: 50px 40px 40px;
        margin-top:30px;
        background:url('../images/dragon-boat/des-bg.png') no-repeat center;
        background-size:100%;
        box-sizing:border-box;
        @media (max-width:320px) {
          margin-top:10px;
          padding: 20px 10px;
          font-size: 12px;
          background:url('../images/dragon-boat/des-bg-phone.png') no-repeat center;
          background-size:100%;
        }
        @media (min-width:321px) and (max-width:700px) {
          margin-top:10px;
          padding: 35px 10px;
          font-size: 14px;
          background:url('../images/dragon-boat/des-bg-phone.png') no-repeat center;
          background-size:100%;
        }
      }
      .code-item{
        float:left;
        width:100%;
        background:url('../images/dragon-boat/line-bg.png') no-repeat center;
        background-size:100%;
        text-align:center;
        margin:30px 0;
        @media (max-width:700px) {
          background:none;
          margin:15px 0;
        }
        span{
          display:inline-block;
          width:200px;
          height:200px;
          background:url('../images/dragon-boat/wechat-code.jpg') no-repeat center;
          background-size:100%;
        }
      }
      .gift-item{
        float:left;
        width:100%;
        height:270px;
        background:url('../images/dragon-boat/gift-pc.png') no-repeat center;
        background-size:100%;
        @media (max-width:320px) {
          height:400px;
          background:url('../images/dragon-boat/gift-phone.png') no-repeat center;
          background-size:100%;
        }
        @media (min-width:321px) and (max-width:375px) {
          height:480px;
          background:url('../images/dragon-boat/gift-phone.png') no-repeat center;
          background-size:100%;
        }
        @media (min-width:376px) and (max-width:700px) {
          height:520px;
          background:url('../images/dragon-boat/gift-phone.png') no-repeat center;
          background-size:100%;
        }
      }
      .compare-item{
        float:left;
        width:100%;
        margin-top:20px;
        padding-top:30px;
        background:url('../images/dragon-boat/vs-bg.png') no-repeat center;
        @media (max-width:700px) {
          margin-top:10px;
          padding-top:0;
        }
        .progress-item{
          float:left;
          width:100%;
          border-radius:20px;
          overflow:hidden;
          span{
            width:50%;
            height:20px;
            line-height: 20px;
            @media (max-width:700px) {
              height:10px;
              line-height: 10px;
            }
            &.left-pro{
              background:#ff7728;
            }
            &.right-pro{
              background:#35aeff;
            }
          }
        }
        .loan-item{
          float:left;
          width:100%;
          span{
            font-size:14px;
            color:#53100b;
            line-height: 30px;
            margin-top: 10px;
          }
        }
        .type-item{
          float:left;
          width:100%;
          margin-top:40px;
          .type-btn{
            width:190px;
            height:60px;
            box-sizing:border-box;
            padding-left:100px;
            border-radius:5px;
            cursor:pointer;
            position: relative;
            @media (max-width:320px) {
              width:130px;
              padding-left: 45px;
            }
            @media (min-width:321px) and (max-width:700px) {
              width:160px;
              padding-left: 70px;
            }
            &.active{
              .add-icon{
                display: block;
              }
            }
            &.type-left{
              color:#6c3211;
              background:#ff7728 url('../images/dragon-boat/left-icon.png') no-repeat center;
              background-position: 10px 50%;
              @media (max-width:320px) {
                background-position: 5px 50%;
                background-size: 30%;
              }
              @media (min-width:321px) and (max-width:700px) {
                background-position: 5px 50%;
                background-size: 40%;
              }
              .add-icon{
                background:#ff7728;
              }
            }
            &.type-right{
              color:#174c70;
              background:#35aeff url('../images/dragon-boat/right-icon.png') no-repeat center;
              background-position: 10px 50%;
              @media (max-width:320px) {
                background-position: 5px 50%;
                background-size: 30%;
              }
              @media (min-width:321px) and (max-width:700px) {
                background-position: 5px 50%;
                background-size: 40%;
              }
              .add-icon{
                background:#35aeff;
              }
            }
            span{
              float:left;
              width:100%;
              font-size:12px;
              text-align:center;
              line-height: 20px;
              &.type-name{
                font-size:14px;
                margin-top: 10px;
              }
            }
            .add-icon{
              width:34px;
              height:20px;
              line-height:20px;
              position: absolute;
              top:-30px;
              left:0;
              font-size:14px;
              color:#fffc00;
              text-align:center;
              border-radius:5px;
              display:none;
            }
          }
        }
        .info-item{
          float:left;
          width:100%;
          margin-top:30px;
          @media (max-width:700px) {
            margin-top:15px;
          }
          h3{
            text-align:left;
            font-size:16px;
            color:#53100b;
            font-weight:bold;
          }
          p{
            font-size:14px;
            color:#53100b;
            margin-bottom: 0;
          }
        }
      }
      .actor-intro{
        float:left;
        width:100%;
        padding:0 50px;
        margin-top:40px;
        box-sizing:border-box;
        @media (max-width:700px) {
          padding:0;
          margin-top: 20px;
        }
        li{
          float:left;
          width:100%;
          box-sizing:border-box;
          padding-left:30px;
          font-size:14px;
          color:#53100b;
          background:url('../images/dragon-boat/rule-bg.png') no-repeat center left;
          @media (max-width:700px) {
            background:url('../images/dragon-boat/rule-bg.png') no-repeat;
            background-position: 5px 10px;
          }
        }
      }
      .floor-item{
        float:left;
        width:100%;
        margin: 30px 0;
        padding-left: 30px;
        box-sizing: border-box;
        @media (min-width:375px) and (max-width:700px) {
          padding-left: 0;
        }
        li{
          float:left;
          width:100%;
          margin-top:-10px;
          position: relative;
          p{
            margin-bottom: 0;
            position: relative;
            &.floor-five{
              display:inline-block;
              width:130px;
              height:168px;
              background:url('../images/dragon-boat/floor-five.png') no-repeat center;
              background-size:100%;
              @media (max-width:700px) {
                width:65px;
                height:84px;
              }
            }
            &.floor-four{
              display:inline-block;
              width:248px;
              height:164px;
              background:url('../images/dragon-boat/floor-four.png') no-repeat center;
              background-size:100%;
              @media (max-width:700px) {
                width:124px;
                height:82px;
              }
            }
            &.floor-three{
              display:inline-block;
              width:290px;
              height:114px;
              background:url('../images/dragon-boat/floor-three.png') no-repeat center;
              background-size:100%;
              @media (max-width:700px) {
                width:145px;
                height:57px;
              }
            }
            &.floor-two{
              display:inline-block;
              width:394px;
              height:116px;
              background:url('../images/dragon-boat/floor-two.png') no-repeat center;
              background-size:100%;
              @media (max-width:700px) {
                width:197px;
                height:58px;
              }
            }
            &.floor-one{
              display:inline-block;
              width:496px;
              height:116px;
              background:url('../images/dragon-boat/floor-one.png') no-repeat center;
              background-size:100%;
              @media (max-width:700px) {
                width:248px;
                height:58px;
              }
            }
            .floor-loan{
              width:55px;
              height:60px;
              position: absolute;
              top:15%;
              left:-70px;
              font-size:14px;
              color:#53100b;
              padding-top: 16px;
              background:url('../images/dragon-boat/floor-bg.png') no-repeat center;
              background-size:100%;
              box-sizing: border-box;
              @media (max-width:700px) {
                font-size:12px;
                line-height: 18px;
                top: 50%;
                width:35px;
                left:-35px;
                margin-top:-30px;
                padding-top: 20px;
              }
              &.active{
                top: 50%;
                margin-top: -25px;
                background:url('../images/dragon-boat/floor-finish.png') no-repeat center;
                background-size:100%;
                padding-top: 28px;
                @media (max-width:700px) {
                  width:35px;
                  left:-35px;
                  margin-top:-40px;
                  padding-top: 28px;
                }
              }
              strong{
                color:#fff;
              }
            }
          }
        }
      }
    }
    .rule-item{
      float:left;
      width:100%;
      margin-bottom: 50px;
      color:#fff;
      dt{
        float:left;
        width:100%;
        font-size:16px;
      }
      dd{
        float:left;
        width:100%;
        font-size:14px;
      }
    }
  }
}
