body {
  background: #8b89ea;
  font-family: '黑体';
}
$colorFont: #1b1b1b;
@mixin common-styles (){
      width: 904px;
      background: #6360ce;
      font-size: 20px;
      color: $colorFont;
      .childStyle {
        width: 910px;
        background: #fff;
        box-sizing: border-box;
        border:4px solid $colorFont;
        position: relative;
        left: 20px;
        top: 16px;
        font-size: 20px;
        padding: 2% 3% 0;
        .pos {
          width: 43px;
          height: 30px;
          position: absolute;
          right: -5px;
          bottom: -5px;
          background: url("../images/2017/give-iphonex/pos_purple.png") no-repeat center top;
          background-size: 100%;
          &.pos2 {
            right: -6px;
            bottom: -6px;
            background: url("../images/2017/give-iphonex/pos_pur2.png") no-repeat center center;
          }
        }

        h4 {
          text-align: center;
          font-size: 20px;
          color: $colorFont;
        }
        p {

          line-height: 40px;
        }
      }
}
.main-frame {
  width: 100%;
  margin: 0 auto;
}
.page-width1200 {
  width: 1200px;
  margin: 0 auto;
}
.redBtn {
  display: block;
  width: 292px;
  height: 72px;
  font-size: 30px;
  color: #fff;
  font-weight: bold;
  margin: 30px auto;
  line-height: 72px;
  text-align: center;
  border:4px solid $colorFont;
  border-radius: 10px;
  background: #ff4b4b;
  &:hover {
    color: #fff;
  }
}
//.common-bg {
//  width: 904px;
//  background: #6360ce;
//  position: relative;
//}
.phone-banner {
  height: 350px;
  background: url("../images/2017/give-iphonex/iphonex_pc.png") no-repeat center center;
  background-size: 100%;
}
.activity-wrap {
  width: 100%;
  background: url("../images/2017/give-iphonex/con_wrap_bg.png") no-repeat center top;
  background-size: 100%;
}


.activity-page-frame {
  .lottery-wrap {
    background: #ee7862;
    padding-top: 28px;
    padding-bottom: 70px;
    .iphone-fonts {
      width: 816px;
      height: 105px;
      margin: 25px auto;
      background: url("../images/2017/give-iphonex/iph-title1.png") no-repeat center center;
      background-size: 100%;
    }
    .lottery-content {
      margin-top: 45px;
      .fl {
        .lottery-circle {
          width: 548px;
          height: 548px;
          position: relative;
          padding: 50px;
          background: url("../images/2017/give-iphonex/rotate_out.png") no-repeat center center;
          background-size: 100%;
          box-sizing: border-box;
          .rotate-btn {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: url("../images/2017/give-iphonex/rotate_in.png") no-repeat center center;
            background-size: 100%;
          }
          .rotater {
            width: 120px;
            height: 152px;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto;
            background: url("../images/2017/give-iphonex/rotater.png") no-repeat center center;
            background-size: 100%;
          }
        }
      }
      .fr {
        >div {
          width: 394px;
          background: #e8465d;
          >div {
            width: 394px;
            background: #fff;
            border:4px solid $colorFont;
            box-sizing: border-box;
            position: relative;
            left: 20px;
            top: 14px;
            padding: 0 7%;
            font-size: 20px;
            line-height: 38px;
            color: $colorFont;
            .pos {
              width: 44px;
              height: 30px;
              background: url("../images/2017/give-iphonex/icon_right_bottom.png") no-repeat center center;
              background-size: 100%;
              position: absolute;
              right: -5px;
              bottom: -4px;

            }
            h4 {
              font-size: 20px;
              line-height: 60px;
              font-weight: bold;
              text-align: center;
            }
            .record-list {
              height: 150px;
              overflow: hidden;
              ul {
                li {
                  font-size: 16px;
                  line-height: 30px;
                }
              }
            }
          }
          &.rules {
            margin-top: 20px;
          }
          &.recodes {
            margin-top: 75px;
          }
        }

      }
    }
  }
  .invest-wrap {
    overflow: hidden;
    background: #6e6be5;
    margin-top: 30px;
    .page-width {
      .invest-fonts {
        width: 936px;
        height: 100px;
        margin: 0 auto;
        margin-top:35px;
        margin-bottom: 40px;
        background: url("../images/2017/give-iphonex/invest_title2.png") no-repeat center top;
        background-size: 100%;
      }
      .total-annual-wrap {
        margin-bottom: 145px;
        @include common-styles ();
        .total-annual {
          height: 230px;
          .instruction {
            padding: 2% 3% 0;
            p {
              color: $colorFont;
              line-height: 40px;
              strong {
                color: #ff4b4b;
                font-weight: normal;
              }
            }
          }
          .formula-wrap {
            .computational {
              color: #040009;
              margin-left: 27%;
              float: left;
            }
            .formula {
              float: right;
              width: 388px;
              height: 142px;
              border: 4px solid $colorFont;
              background: #8b89ea;
              position: relative;
              font-size: 20px;
              text-align: center;
              .formula-fonts {
                width: 96px;
                height: 28px;
                line-height: 28px;
                text-align: center;
                border: 4px solid $colorFont;
                border-right: none;
                position: absolute;
                left: -100px;
                top:-4px;
                color: #fff;
                background: #8b89ea;
              }
              h4 {
                height: 36px;
                line-height: 40px;
                color: #000;
              }
              table {
                font-size: 16px;
                color: $colorFont;
                width: 96%;
                margin: 10px auto;
                background: #8b89ea;
                td {
                  background: #e8e7fb;
                 line-height: 26px;
                  padding: 0;
                  cellspacing:3px;

                }
              }

            }
          }
        }
      }
      .chart {
        width: 994px;
        height: 315px;
        background: url("../images/2017/give-iphonex/chart.png") no-repeat center top;
        background-size: 100%;
      }
      .exemple-wrap {
        @include common-styles ();
        margin-bottom: 50px;
      }

    }
  }
  .kindly-reminder-wrap {
    @include common-styles ();

    margin: 60px auto 110px;

  }
}

//提示框
.tip-list-frame {
  display: none;
}
.shade-body-mask {
  z-index: 99;
}
.tip-list {
  width: 470px !important;
  height: 310px !important;
  top: 50% !important;
  left: 50% !important;
  margin-left: -235px !important;
  margin-top: -155px !important;
  border-radius:0px;
  background:url('../images/2017/give-iphonex/tip-bg.png') no-repeat center!important;
  background-size:100%!important;
  z-index: 999;
  @media (max-width:700px) {
    width: 300px !important;
    height: 310px !important;
    top: 50% !important;
    left: 50% !important;
    margin-left: -150px !important;
    margin-top: -155px !important;
  }
  .text-tip {
    height: auto!important;

    p {
      color: #fff!important;
      &.success-text {
        height: 220px!important;
        padding-top: 0!important;
        margin: -140px 0 20px!important;
        background: url('../images/single-rank/success-title.png') no-repeat center!important;
        background-size: 100%!important;
        @media (max-width:700px) {
          height:150px!important;
          margin:-40px 0 0!important;
        }
      }
      &.reward-text {
        font-size:34px!important;
        color:#ffe973!important;
        @media (max-width:700px) {
          font-size: 16px!important;
          line-height: 30px!important;
        }
      }
      &.login-text {
        font-size: 20px!important;
        padding-top: 70px!important;
        color:#ffe973;
        @media (max-width:700px) {
          padding-top: 90px!important;
          font-size: 14px!important;
        }
      }
      &.des-text {
        color: #fff!important;
        font-size: 14px!important;
        @media (max-width:700px) {
          font-size: 12px!important;
          line-height: 24px!important;
        }
      }
    }
  }
  .close-btn {
    width: 20px!important;
    height: 20px!important;
    top: 20px!important;
    right: 20px!important;
    margin-left: -14px!important;
    background: url('../images/2017/give-iphonex/close-tip.png') no-repeat center;
    background-size: 100%!important;
    @media (max-width:700px) {
      top: 70px!important;
      right: 10px!important;
    }
  }
  .btn-list {
    a {
      background: #ffea77!important;
      color: #e34758!important;
      padding: 10px 30px!important;
      font-size: 18px!important;
      border-radius: 5px!important;
      margin: 10px 20px!important;
      min-width: 120px!important;
      box-sizing: border-box!important;
      &.canble-btn{
        color:#c0b67c!important;
        border:1px solid #c0b67c!important;
        background:none!important;
      }
      @media (max-width:700px) {
        padding: 5px 25px!important;
        font-size: 16px!important;
        min-width:100px!important;
        margin: 15px 20px 10px!important;
      }
    }
  }
}

@media (max-width:1024px) {
  .page-width1200 {
    width: 92%;
  }
  .page-width {
    width: 90%;
  }
  .phone-banner {
    height: 240px;
    background-position: center top;
    background-size:cover;
  }
  .redBtn {
    width: 240px;
    height: 60px;
    line-height: 60px;
  }

  .activity-page-frame {
      .lottery-wrap {
        margin-bottom: 50px;
        .iphone-fonts {
          width: 82%;
        }
         .lottery-content {
           margin-top: 20px;
           .fl {
             width: 50%;
             .lottery-circle {
               width: 100%;
               height: 430px;
             }
           }
           .fr {
             >div {
               >div {
                 font-size: 16px;
                 line-height: 24px;
                 h4 {
                   font-size: 16px;
                   line-height: 34px;
                 }
                .record-list {
                   height: 125px;
                 }
               }

             }

           }
         }
      }
    .invest-wrap {
      .page-width {
        .invest-fonts {
          width: 94%;
          margin: 20px auto;
        }
        .exemple-wrap {
          width: 94%;
          .childStyle {
            width:100%;

            h4 {
              font-size: 16px;
              line-height: 24px;
            }
            p {
              font-size: 16px;
              line-height: 30px;
            }
          }
        }
        .chart {
          width: 100%;
          height: 280px;
        }

      }
    }
    .kindly-reminder-wrap {
      width: 94%;
      .childStyle {
        width:100%;

        h4 {
          font-size: 16px;
          line-height: 24px;
        }
        p {
          font-size: 16px;
          line-height: 30px;
        }
      }
    }
  }

}