@charset "utf-8";

@-webkit-keyframes win-effect {
  0% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 100%
  }
  20% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 100%
  }
  40% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }
  60% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 100%
  }
  80% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 100%
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }
}

@keyframes win-effect {
  0% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }
  20% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }
  40% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }
  60% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }
  80% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }
}
.main-frame {
  width: 100%;
  margin: 0 auto;
}
.house-decorate-container{
  float:left;
  width:100%;
  background:#ffe15f;
  .media-pc{
    display: block;
    @media (max-width:700px) {
      display:none;
    }
  }
  .media-phone{
    display: none;
    @media (max-width:700px) {
      display:block;
    }
  }
  .layui-layer{
    background:none;
  }
  .top-img{
    width:100%;
  }
  .wp{
    width:1000px;
    margin:0 auto;
    @media (max-width:700px) {
      width:100%;
      padding:0 10px;
      box-sizing:border-box;
    }
  }
  .content-item{
    float:left;
    width:100%;
    padding:50px 0;
    &.even{
      background:#ff6161;
    }
    .day-bag-item{
      float:left;
      width:100%;
      background:url('../images/2017/house-decorate/day-bg.png') no-repeat center;
      background-size:100%;
      min-height:360px;
      box-sizing:border-box;
      padding:60px 80px 30px;
      p{
        color:#fff;
        font-size:16px;
        margin-bottom: 0;
      }
    }
  }
  .rule-item{
    float:left;
    width:100%;
    margin:30px 0 40px;
    color:#fff;
    padding:0 60px;
    box-sizing:border-box;
    
    dt{
      font-size:16px;
    }
    dd{
      font-size:16px;
    }
  }
}



