@charset "utf-8";

@-webkit-keyframes win-effect {
  0% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 100%
  }
  20% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 100%
  }
  40% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }
  60% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 100%
  }
  80% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 100%
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }
}

@keyframes win-effect {
  0% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }
  20% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }
  40% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }
  60% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }
  80% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }
}
.main-frame {
  width: 100%;
  margin: 0 auto;
}
.page-width {
  width:1200px;
}

.house-decorate-container{
  background:#ffe15f;
  .media-pc{
    display: block;
    @media (max-width:700px) {
      display:none;
    }
  }
  .media-phone{
    display: none;
    @media (max-width:700px) {
      display:block;
    }
  }
  .layui-layer{
    box-shadow: none;
    background:none;
  }
  .lottery-tip{
    float:left;
    width:100%;
    height:100%;
    background:url('../images/2017/house-decorate/tip-bg.png') no-repeat center;
    background-size:100%;
    position: relative;
    display:none;
    box-sizing:border-box;
    padding:0 50px;
    .lottery-content{
      float:left;
      width:100%;
      height:240px;
      box-sizing: border-box;
      @media (max-width:700px) {
        height:190px;
      }
      p{
        text-align:center;
        margin-bottom: 0;
        &.info-text{
          font-size:26px;
          color:#de494e;
          line-height: 30px;
          margin-top: 100px;
          @media (max-width:700px) {
            font-size:14px;
            margin-top: 80px;
          }
        }
        &.gift-name{
          font-size:26px;
          color:#de494e;
          line-height: 30px;
          @media (max-width:700px) {
            font-size:18px;
          }
        }
        &.tip-text{
          font-size:26px;
          color:#de494e;
          line-height: 30px;
          margin-top: 100px;
          @media (max-width:700px) {
            font-size:14px;
            line-height: 20px;
            margin-top: 90px;
          }
        }
      }
    }
    .lottery-link{
      float:left;
      width:100%;
      text-align:center;
      a{
        display:inline-block;
        width:100%;
        height:45px;
        line-height: 45px;
        text-align:center;
        font-size:18px;
        color:#fff;
        background: #de494e;
        border-radius:45px;
        margin:30px 0;
        @media (max-width:700px) {
          width:100%;
          height:30px;
          line-height: 30px;
          font-size:12px;
          border-radius:30px;
          margin:15px 0;
        }
      }
    }
  }
  .top-img{
    width:100%;
  }
  .bg-fullscreen {
    background: #ff6161;
    padding: 15px 0 10px 0;
  }
  .content-item{
    padding: 50px 60px 30px 60px;
    background: #c364ff;
    border-radius: 80px;
    border:6px solid #ab57e0;
    margin-top:60px;
    margin-bottom:50px;
    position: relative;
    i {
      display: block;
      &.bg-top {
        height:124px;
        width:101%;
        background: url('../images/2017/house-decorate/bg-top.png') left top no-repeat;
        position: absolute;
        left: -6px;
        top: -12px;
        background-size: contain;
      }
      &.bg-bottom {
        height:124px;
        width:101%;
        background: url('../images/2017/house-decorate/bg-top.png') left top no-repeat;
        position: absolute;
        left: -6px;
        bottom: -12px;
        background-size: contain;
        transform: rotate(180deg);
      }
      &.column-title-page {
        position: absolute;
        top:-42px;
        left:50%;

        transform: translate(-50%);
        -ms-transform: translate(-50%);
        -webkit-transform: translate(-50%);
        -o-transform: translate(-50%);
        -moz-transform: translate(-50%);

        &.one {
          width:310px;
          height:60px;
          background:url('../images/2017/house-decorate/title-one.png') no-repeat center;
          background-size: contain;
        }
        &.two {
          width:410px;
          height:60px;
          background:url('../images/2017/house-decorate/title-two.png') no-repeat center;
          background-size: contain;
        }
        &.three {
          width:410px;
          height:60px;
          background:url('../images/2017/house-decorate/title-three.png') no-repeat center;
          background-size: contain;
        }
      }
    }

    &.even{
      background:#ffe15f;
      border:6px solid #fbc450;
      i {
        &.bg-top {
          background: url('../images/2017/house-decorate/bg-top-even.png') left top no-repeat;
          background-size: contain;
        }
        &.bg-bottom {
          background: url('../images/2017/house-decorate/bg-top-even.png') left top no-repeat;
          background-size: contain;
        }

      }
    }
    &.none {
      background: none;
      border-width: 0;
      padding: 30px 0 40px 0;
      margin-top: 0px;
      margin-bottom: 0;
    }
    .day-bag-item{
      box-sizing:border-box;
      position: relative;
      text-align: center;

      p{
        color:#fff;
        font-size:18px;
        margin-bottom: 0;
        @media (max-width: 700px) {
          font-size:12px;
        }
        .bag-item{
          display:inline-block;
          width:530px;
          height: 240px;
          padding:0 170px;
          background:url('../images/2017/house-decorate/bag-bg.png') no-repeat center;
          background-size: contain;
          cursor:pointer;
          box-sizing:border-box;
          margin-top:30px;

          @media (max-width:700px) {
            width:100%;
            padding:0 85px;
            height:130px;
            background-size: 80%;
          }
          strong{
            float:left;
            width:100%;
            height:100%;
            background:url('../images/2017/house-decorate/icon-bag.png') no-repeat center;
            background-size: contain;
            &.lottering {
              -webkit-animation-duration: 0.25s;
              animation-duration: 0.25s;
              -webkit-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
              -webkit-animation-name: win-effect;
              animation-name: win-effect;
              -webkit-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out;
            }
          }
        }
      }
    }
    .free-money-item{
      position: relative;

      .info-item{

        font-size:18px;
        color:#cc321a;
        margin-bottom: 40px;
        @media (max-width:700px) {
          font-size:12px;
          margin-bottom: 10px;
        }
        span{
          font-size: 20px;
          color:#9c00ff;
          @media (max-width:700px) {
            font-size:14px;
          }
        }
      }
      .list-item{
        .loan-number{
          font-size:18px;
          color:#cc321a;
          @media (max-width:700px) {
            font-size:14px;
          }
        }
        .table{
          margin:15px 0;
          &.table-pc{
            display: inline-table;
            @media (max-width:700px) {
              display: none;
            }
          }
          &.table-phone{
            display: none;
            @media (max-width:700px) {
              display: inline-table;
            }
          }
          @media (max-width:700px) {
            margin:0;
          }
          th{
            font-size:14px;
            color:#323232;
            background:#fff;
            border:1px solid #ffe15f;
            @media (max-width:700px) {
              font-size:12px;
            }
          }
          td{
            font-size:14px;
            color:#323232;
            background:#fff;
            border:1px solid #ffe15f;
            @media (max-width:700px) {
              font-size:12px;
            }
            strong{
              font-size:18px;
              color:#9c00ff;
              @media (max-width:700px) {
                font-size:12px;
              }
            }
          }
        }
        .tip-item{
          font-size:16px;
          color:#cc321a;
          @media (max-width:700px) {
            font-size:12px;
          }
        }
      }
    }
    .gift-list-item{

      position: relative;

      .info-text{
        color:#fff;
        font-size:18px;
        margin-bottom: 0;
        @media (max-width:700px) {
          font-size:12px;
        }
      }
      .gift-list{
        dt{
          float:left;
          width:100%;
          font-size:18px;
          color:#ffe15f;
          @media (max-width:700px) {
            font-size:12px;
            color:#fff;
          }
        }
        dd{
          float:left;
          width:50%;
          margin:20px 0;
          @media (max-width:700px) {
            margin:10px 0;
            box-sizing:border-box;
            padding:0 5px;
          }
          &.row-item{
            width:33.333333%;
            @media (max-width:700px) {
              box-sizing:border-box;
              padding:0 3px;
            }
            p{
              &.img-item{
                height:150px;
                @media (max-width:700px) {
                  height:75px;
                }
              }
            }
          }
          p{
            text-align:center;
            font-size:16px;
            color:#fff;
            margin-bottom: 0;
            @media (max-width:700px) {
              font-size:12px;
            }
            &.img-item{
              height:300px;

              &.gift-one{
                background:url('../images/2017/house-decorate/gift-one.png') no-repeat center;
                background-size: contain;

              }
              &.gift-two{
                background:url('../images/2017/house-decorate/gift-two.png') no-repeat center;
                background-size: contain;

              }
              &.gift-three{
                background:url('../images/2017/house-decorate/gift-three.png') no-repeat center;
                background-size: contain;

              }
              &.gift-four{
                background:url('../images/2017/house-decorate/gift-four.png') no-repeat center;
                background-size: contain;

              }
              &.gift-five{
                background:url('../images/2017/house-decorate/gift-five.png') no-repeat center;
                background-size: contain;

              }
              &.gift-six{
                background:url('../images/2017/house-decorate/gift-six.png') no-repeat center;
                background-size: contain;

              }
              &.gift-seven{
                background:url('../images/2017/house-decorate/gift-seven.png') no-repeat center;
                background-size: contain;

              }
            }
            &.name-item{
              font-size:18px;

            }
          }
        }
      }
    }
  }
  .rule-item{
    color:#fff;
    padding:0 60px;
    box-sizing:border-box;
    dt{
      font-size:16px;
      @media (max-width:700px) {
        font-size:14px;
      }
    }
    dd{
      font-size:16px;
      @media (max-width:700px) {
        font-size:12px;
      }
    }
  }
}

@media (max-width:700px) {
  .page-width {
    width:96%;
  }

  .house-decorate-container {
    .content-item  {
      border-radius: 40px;
      padding: 20px 10px;
      margin-top:40px;
      margin-bottom:20px;
      .day-bag-item {
        text-align: left;
      }
      i.bg-top {
        display: none;
      }
      i.bg-bottom {
        display: none;
      }
      i.column-title-page {
        &.one,&.two,&.three {
          background-size:70%;
        }

      }
      &.none {
        padding: 10px 0 20px 0;
      }

      .gift-list-item .gift-list {
        dd p.name-item {
          font-size:12px;
        }
        dd p.img-item {
          height:100px;
        }
      }
    }

    .rule-item {
      padding:0 10px;
    }
  }

}

.compliance-banner {
  .invest-tip {
    margin-right: -376px;
  }
}
@media screen and (min-width: 710px) and (max-width:1024px){
  .compliance-banner {
    .invest-tip {
      bottom: 13px;
    }
  }
  .page-width {
    width:96%;
  }
  .main-frame {
    overflow-x: hidden;
  }

  .house-decorate-container .content-item  {
    border-width:4px;
    padding: 40px 20px 20px 20px;
    i.bg-top {
      width: 100.9%;
      left: -3px;
      top: -12px;
    }
    i.bg-bottom {
      width: 100.9%;
      left: -3px;
    }
    &.even {
      border-width:4px;
      padding: 40px 20px 20px 20px;
    }

    .gift-list-item .gift-list dd p.img-item {
      height:200px;
    }
  }

}





