.main-frame {
  width: 100%;
  margin: 0 auto;
}
.icp-intro-container{
  background:#fff;
  .media-pc{
    display:block;
    @media (max-width:700px) {
      display:none;
    }
  }
  .media-phone{
    display:none;
    @media (max-width:700px) {
      display:block;
    }
  }
  .top-item{
    float:left;
    width:100%;
  }
  .wp {
    width:1000px;
    margin: 0 auto;
    position: relative;
    z-index: 9;
    @media (max-width:700px) {
      width:100%;
      box-sizing:border-box;
      padding:0 10px;
    }
    h3{
      float:left;
      width:100%;
      font-size:16px;
      color:#525252;
      text-align:left;
      margin:50px 0;
      @media (max-width:700px) {
        font-size:14px;
        margin:25px 0;
        text-align:left;
      }
      span{
        color:#ff6767;
        font-size:18px;
        @media (max-width:700px) {
          font-size:16px;
        }
      }
    }
    .content-item {
      float: left;
      width: 100%;
      box-sizing: border-box;
      position: relative;
      .title-item{
        float:left;
        width:100%;
        margin-bottom: 20px;
        @media (max-width:700px) {
        }
        span{
          float:left;
          font-size:16px;
          color:#1e4168;
          font-weight:bold;
          background:#edf1f1;
          border-radius:5px;
          padding:0 10px;
          @media (max-width:700px) {
            font-size:14px;
          }
        }
      }
      .intro-content{
        float:left;
        width:100%;
        margin-bottom:50px;
        @media (max-width:700px) {
          margin-bottom:25px;
        }
        p{
          margin-bottom: 0;
          font-size:16px;
          color:#525252;
          @media (max-width:700px) {
            font-size:12px;
          }
        }
      }
    }
  }
}
