.main-frame {
  width: 100%;
}
body {

}
.landing-page-container {
  width: 100%;
  height: 4700px;
  .banner {
    height: 521px;
    background: url("../images/landingpage/banner_bg.png") no-repeat center center;
    .banner-img {
      width: 1462px;
      height: 521px;
      background: url("../images/landingpage/banner.png") no-repeat center center;
    }
  }
  .landing-main {
    height: 4700px;
    background: #c6242e url("../images/landingpage/body_bgs.png") no-repeat center top;
    .start-content {
      height: 7000px;
      background:  url("../images/landingpage/body_bg.png") repeat-y center top;
    }
  }
}