.main-frame {
  width: 100%;
}
body {
  background: #c7262c url("../images/landingpage/body_bg.png") repeat-y center center;
}
.landing-page-container {
  width: 100%;
  height: 4700px;
  background: url("../images/landingpage/container_bg.png") no-repeat center top;
  .banner {
    height: 518px;
    background: url("../images/landingpage/pc_banner.png") no-repeat center center;
  }
}