@media screen and (max-width: 768px) {
  html {
    font-size: 102.4px;
  }
}
@media screen and (max-width: 750px) {
  html {
    font-size: 100px;
  }
}
@media screen and (max-width: 720px) {
  html {
    font-size: 96px;
  }
}
@media screen and (max-width: 640px) {
  html {
    font-size: 85.33px;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 80px;
  }
}
@media screen and (max-width: 540px) {
  html {
    font-size: 72px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 64px;
  }
}
@media screen and (max-width: 414px) {
  html {
    font-size: 55.2px;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 53.33px;
  }
}
@media screen and (max-width: 384px) {
  html {
    font-size: 51.2px;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 50px;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 48px;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 42.66px;
  }
}
@media screen and (max-width: 240px) {
  html {
    font-size: 32px;
  }
}