* {
  margin: 0;
  padding: 0;
}
h1,h2 {
  font-weight: normal;
}



@media screen and (max-width:1023px){

  .header {
    width: 100%;
    height:350px;
    background:url("../images/2017/mid-national/wap_banner.jpg") no-repeat center center;
  }
  .page-width {
    width: 92%!important;
    margin: 0 auto;
  }
  .mid-tit1 {
    width: 92%;

    background: url("../images/2017/mid-national/wap_1_bg.png") no-repeat center top;
  }
  .mid-tit1>h2{
    background-size: 92%!important;
    width: 90%!important;

  }
  .mid-tit1 .house-mortgage {
    margin-top: 38px;
    border:7px solid #ffdbab;
    position:relative;

    background: #fdf9f4;
  }
  .mid-tit1 .house-mortgage .hourse-con {
    width: 92%!important;
    height: 231px!important;
    margin: 25px auto!important;
    background: url("../images/2017/mid-national/wap_mid_con1.png")!important;

  }

}
/*@media screen and (width:360px){*/
/*html{*/
/*font-size:360/20px;*/
/*}*/
/*}*/
/*@media screen and (width:375px){*/
/*html{*/
/*font-size:375/20px;*/
/*}*/
/*}*/
/*@media screen and (width:414px){*/
/*html{*/
/*font-size:414/20px;*/
/*}*/
/*}*/
/*@media screen and (width:412px){*/
/*html{*/
/*font-size:412/20px;*/
/*}*/
/*}*/


body {
  font-size: 12px;

}
.clearfix:after {
  content: '';
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
.page-width {
  width: 1000px;
  margin: 0 auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.header {
  width: 100%;
  height:354px;
  background:url("../images/2017/mid-national/banner_big.jpg") no-repeat center center;
}
.mid-tit1 {
  width: 100%;
  background-size: 100%;
  background: url("../images/2017/mid-national/1_bg.jpg") no-repeat center top;
}
.mid-tit1>h2{
  width: 812px;
  height: 65px;
  margin: 0 auto;
  background: url("../images/2017/mid-national/mid_tit_1.png") no-repeat center center;
}
.mid-tit1 .house-mortgage {
  margin-top: 38px;
  border:7px solid #ffdbab;
  position:relative;

  background: #fdf9f4;
}
.mid-tit1 .house-mortgage .pos {
  width: 60px;
  height: 60px;
  position: absolute;


}
.mid-tit1 .house-mortgage .pos.left_top {
  width: 60px;
  height: 60px;
  position: absolute;
  left: -7px;
  top:-7px;
  background:#fc393f url("../images/2017/mid-national/left_top.png");
}
.mid-tit1 .house-mortgage .pos.left_bottom {
  width: 60px;
  height: 60px;
  position: absolute;
  left: -7px;
  bottom:-7px;
  background:#fc393f url("../images/2017/mid-national/left_bottom.png");
}
.mid-tit1 .house-mortgage .pos.right_top {
  width: 60px;
  height: 60px;
  position: absolute;
  right: -7px;
  top:-7px;
  background:#fc393f url("../images/2017/mid-national/right_top.png");
}
.mid-tit1 .house-mortgage .pos.right_bottom {
  width: 60px;
  height: 60px;
  position: absolute;
  right: -7px;
  bottom:-7px;
  background:#fc393f url("../images/2017/mid-national/right_bottom.png");
}
.mid-tit1 .house-mortgage .hourse-con {
  width: 869px;
  height: 153px;
  margin: 40px auto;
  background: url("../images/2017/mid-national/mid_con_1.png");

}

.house-mortgage .red-ware {
  width: 676px;
  margin: 40px auto;
}
.house-mortgage .red-ware-info{
  width: 270px;

}
.house-mortgage .red-ware-info .top {
  width: 270px;
  background: #fdf050;
  color: #cd3132;
  padding: 12px;
  border-radius: 14px;
}

.house-mortgage .red-ware-info .top h2 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
.house-mortgage .red-ware-info .top p {
  font-size: 12px;
  line-height: 22px;
}
.house-mortgage .red-ware-info .bottom {
  width: 22px;
  height:16px;
  margin: 0 auto;
  background:url("../images/2017/mid-national/ware_big.png") ;
}
.house-mortgage .red-ware-info .ware {
  width: 270px;
  height:320px;
  background:url("../images/2017/mid-national/ware_big.png") ;
}
.house-mortgage .red-ware-info.fl .ware {
  background:url("../images/2017/mid-national/ware_small.png") ;
}

.house-mortgage .tip p {
  font-size: 16px;
  text-align: center;
  color: #e84e47;
}

.house-mortgage .tip p {
  font-size: 16px;
  text-align: center;
  color: #e84e47;
}
.house-mortgage .invest {
  width: 274px;
  height: 76px;
  margin: 30px auto;
}
.house-mortgage .invest a {
  width: 274px;
  height: 76px;
  display: block;
  background: url("../images/2017/mid-national/yellow_button.png");
}