$yellow: #fecb00;
$yellow2: #fcf101;
$yelllow3: #f9f368;
$yellow4:#ffbc03;
html {
  font-size: 100px;
}

body {
  font-size: 12px;
  background: $yellow;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.main-frame {
  width: 100%;
  margin: 0 auto;
}

strong, em {
  font-weight: normal;
}

* {
  -webkit-tap-highlight-color: transparent;
}

.page-width {
  width: 1200px;
}

.my-page {
  width: 1006px;
  margin: 0 auto;
}

.mid-banner {
  height: 751px;
  background: url("../images/2018/mid-autumn-festival/banner.png") no-repeat top center;
}

.activity-rules {
  height: 168px;
  background: #323232;
  .inner {
    padding-left: 70px;
    padding-right: 70px;
    box-sizing: border-box;
    .rule-title {
      line-height: 168px;
      font-size: 58px;
      color: $yellow2;
      text-align: center;
      float: left;
    }
    .rule-content {
      width: 760px;
      float: right;
      padding-top: 17px;
      box-sizing: border-box;
      ul {
        li {
          color: $yelllow3;
          line-height: 44px;
          font-size: 24px;
        }
      }
    }
  }

}

.prize-wrap {
  margin-top: 90px;
  .big-prize-title {
    margin: 0 auto;
    width: 568px;
    height: 93px;
    background: url("../images/2018/mid-autumn-festival/today_prize.png") no-repeat top center;
    background-size: 100%;
  }
  .big-prize-des {
    font-size: 48px;
    color: #7f472c;
    margin-top: 55px;
    margin-bottom: 55px;
    text-align: center;
  }

  .three-prize-bg {
    margin: 0 auto;
    position: relative;
    width: 1175px;
    height: 694px;
    margin-top: 302px;
    background: url("../images/2018/mid-autumn-festival/big_prize_bg.png") no-repeat top center;
    background-size: 100%;
    .phone {
      position: absolute;
      top: -236px;
      left: 50%;
      transform: translateX(-50%);
      height: 440px;
      text-align: center;
      img {
        height: 440px;
      }
    }
  }
  .other-prize {
    width: 1048px;
    margin: 0 auto;
    margin-top: 20px;
    .prize-box {
      width: 510px;
      height: 600px;
      &.seconed {
        background: url("../images/2018/mid-autumn-festival/seconed_prize.png") no-repeat top center;
        background-size: 100%;
      }
      &.third {
        background: url("../images/2018/mid-autumn-festival/third_prize.png") no-repeat top center;
        background-size: 100%;
      }
    }
  }

}
.cut-down-section {
  .top {
    height: 85px;
    background: url("../images/2018/mid-autumn-festival/cut_down_top.png") no-repeat top center;
  }
  .bot {
    height: 101px;
    background: url("../images/2018/mid-autumn-festival/cut_down_bot.png") no-repeat top center;
  }
  .content {
    background: $yellow4;
    padding-top: 60px;
    .cut-tip {
      width: 706px;
      height: 159px;
      background: url("../images/2018/mid-autumn-festival/cut_down_tip.png") no-repeat top center;
      background-size: 100%;
      margin: 0 auto;
    }
    .cut-down-wrap {
      font-size: 50px;
      color: #e30000;
      margin-top: 40px;
      background: url("../images/2018/mid-autumn-festival/cut_down_bg.png") no-repeat top center;
      background-size: 100%;
    }
  }
}
























