$gray:#333;
$grayFont:#4b4b4b;
$red:#ec192c;
$red2:#fa5678;
$yellow:#f6f2da;
$yellow2:#fcee77;
$yellowTable:#ffffcc;
$green:#7cba59;
$greenInvest:#36ab60;
$brown:#9f6d5a;
strong {
  font-weight: normal;
}
.main-frame,.activity-wrap-main {
  width: 100%;
}

.spring-banner {
  height: 403px;
  background: url("../images/2018/peach-blossom-festival/peach_banner.png") no-repeat center center;
}
.part-wrap {
  &.part-one-wrap {
    background: $yellow;
    padding-bottom: 44px;
  }

  &.part-two-wrap {
    background: none;
    padding-bottom: 0;
    position: relative;
    top: -32px;
  }
  &.part-three-wrap {
    position: relative;
    .wrap-bg {
      width: 100%;
      position: absolute;
      top: 160px;
      height: 1211px;
      background: url("../images/2018/peach-blossom-festival/prize_bg.png") no-repeat;
      z-index: -22;
    }
  }
  .part-bg {
    width: 1001px;
    height: 525px;
    background: url("../images/2018/peach-blossom-festival/spring_bg.png") no-repeat;
    background-size: 100%;
    margin: 0 auto;
    padding-top: 36px;
    box-sizing: border-box;
    padding-bottom: 60px;
    position: relative;
    &.part-one-bg {
      .left-leaf {
        position: absolute;
        width: 200px;
        height: 191px;
        background: url("../images/2018/peach-blossom-festival/left_top_leaf.png") no-repeat;
        background-size: contain;
        left: -180px;
        top: 100px;
      }
      .right-leaf {
        position: absolute;
        right: -44px;
        top: 400px;
        width: 227px;
        height: 373px;
        background: url("../images/2018/peach-blossom-festival/right_top_leaf.png") no-repeat;
        background-size: contain;
        z-index: 2;
      }
    }
    &.part-two-bg {
      height:622px;
      background: url("../images/2018/peach-blossom-festival/part_two_bg.png") no-repeat;
      background-size: 100%;
      padding-bottom: 0;
      position: relative;
      .left-leaf {
        position: absolute;
        width: 227px;
        height: 372px;
        background: url("../images/2018/peach-blossom-festival/left_bot_leaf.png") no-repeat;
        background-size: contain;
        left: -50px;
        top: 460px;
        z-index: 5;
      }
      .right-leaf {
        position: absolute;
        right: -210px;
        top: 170px;
        width: 200px;
        height: 191px;
        background: url("../images/2018/peach-blossom-festival/right_bot_leaf.png") no-repeat;
        background-size: contain;
        z-index: 8;
      }
      .branch {
        width: 43px;
        height: 107px;
        position: absolute;

        &.left-top-branch {
          background: url("../images/2018/peach-blossom-festival/branch.png") no-repeat left top;
          left: 160px;
          top: -94px;
        }
        &.right-top-branch {
          background: url("../images/2018/peach-blossom-festival/branch.png") no-repeat left top;
          right: 160px;
          top: -102px;
        }
        &.left-bot-branch {
          background: url("../images/2018/peach-blossom-festival/branch.png") no-repeat left bottom;
          left: 160px;
          bottom: -104px;
        }
        &.right-bot-branch {
          background: url("../images/2018/peach-blossom-festival/branch.png") no-repeat left bottom;
          right: 160px;
          bottom: -97px;
        }

      }
    }
    &.part-three-bg {
      position: relative;
      height: 1184px;
      margin-top: 44px;
      background: url("../images/2018/peach-blossom-festival/part_three_bg.png") no-repeat;
      background-size: 100%;
      .left-leaf {
        position: absolute;
        left: -190px;
        bottom: 330px;
        width: 200px;
        height: 143px;
        background: url("../images/2018/peach-blossom-festival/big_leaf.png") no-repeat;
        background-size: 100%;
      }
    }
    .part-title {
      width: 545px;
      height: 88px;
      background: url("../images/2018/peach-blossom-festival/spring_title.png") no-repeat;
      &.part-two-title {
        background: url("../images/2018/peach-blossom-festival/part_two_title.png") no-repeat;
      }
      &.part-three-title {
        background: url("../images/2018/peach-blossom-festival/peach_title.png") no-repeat;
      }
      background-size: 100%;
      text-indent: -9999px;
      margin: 0 auto;
      margin-bottom: 32px;
    }
    .part-desc,.example {
      p {
        font-size: 16px;
        line-height: 30px;
        color: $gray;
        text-align: center;
        .mobile-style {
          display: block;
        }
        strong {
          font-size: 18px;
          color: $red;
          font-weight: bold;
        }
        .exam-title {
          font-size: 16px;
          color: $yellow2;
          background: $red2;
          padding:  4px  0 4px 8px;
          margin-right: 10px;
        }
      }
    }
    .part-img {
      &.qr-code {
        width: 210px;
        height: 210px;
        margin: 0 auto;
        margin-top: 50px;
        background: url("../images/2018/peach-blossom-festival/qr_code.png") no-repeat;
      }
      &.calendar {
        width: 359px;
        height: 252px;
        margin: 0 auto;
        margin-top: 16px;
        margin-bottom: 14px;
        background: url("../images/2018/peach-blossom-festival/invest_calendar.png") no-repeat;
      }
      &.heroes-list {
        margin-top: 30px;
        width: 969px;
        margin: 0 auto;
        .top {
          width: 971px;
          height: 108px;
          background: url("../images/2018/peach-blossom-festival/heros_title.png") no-repeat;
          background-size: 100%;
        }
        .heroes-content {
          width: 963px;
          background: url("../images/2018/peach-blossom-festival/hero_bg.png") repeat-y;
          background-size: 100%;
            .prize-wrap {
              width: 870px;
              margin: 0 auto;
              .prize {
                width: 155px;
                height: 80px;
                margin: 0 auto;
              }
              .prize-desc {
                color: #fff;
                font-size: 16px;
                padding-left: 20px;
                box-sizing: border-box;
                line-height: 18px;
                background: rgba(50,122,9,0.5);
                border-radius: 0 0 8px 8px;
                margin-top: 20px;
                padding-top: 10px;
                padding-bottom: 10px;
              }
              .ranking-seconed {
                width: 250px;
                float: left;
                margin-top: 84px;
                .prize {
                  background: url("../images/2018/peach-blossom-festival/coupon1.png") no-repeat;
                  background-size: 100%;
                }
              }
              .ranking-third {
                float: right;
                width: 250px;
                margin-top: 84px;
                  .prize {
                    background: url("../images/2018/peach-blossom-festival/coupon05.png") no-repeat;
                    background-size: 100%;
                  }

              }
              .big-prize {
                width: 300px;
                margin: 0 auto;
                .prize {
                  width: 170px;
                  height: 160px;
                  background: #bfbfbf;
                  margin: 0 auto;
                  text-align: center;
                  line-height: 160px;
                  img {
                    width: 60%;
                  }
                }
                .prize-desc {
                  width: 300px;
                  text-align: center;
                  padding-left: 0;
                  font-size: 20px;
                  line-height: 20px;
                }
              }
            }
          .ranking-list {
            width: 870px;
            margin: 0 auto;
            li {
              float: left;
            }
            .ranking-title {
              height: 48px;
              border-radius: 10px;
              background: $green;
              line-height: 48px;
              color: #fff;
              font-size: 16px;
              margin-top: 22px;
              margin-bottom: 28px;
              strong {
                color: $grayFont;
              }
              .date-time {
                float: left;
                padding-left: 30px;
              }
              .my-rank {
                width: 150px;
                text-align: center;
                margin: 0 auto;
              }
              .total-invest {
                float: right;
                padding-right: 30px;
              }
            }
            .ranking-con {
              .ranking-list-item {
                border-radius: 10px;
                overflow: hidden;
                table {
                  background: $yellowTable;
                  padding: 0;
                  margin: 0;
                  thead {
                    th {
                      padding: 0;
                      color: $grayFont;
                      font-size: 20px;
                      background: $green;
                      line-height: 58px;

                    }
                  }
                  tbody {
                    tr {
                      height: 40px;
                      line-height: 40px;
                      &:nth-child(2n){
                        background: $green;
                      }
                      td {
                        padding: 0;
                        font-size: 16px;

                      }
                    }
                  }
                }
              }

              .read-more {
                margin-top: 15px;
                margin-bottom: 24px;
                text-align: center;
                a {
                  font-size: 20px;
                  color: $brown;
                }

              }
              .ranking-btns {
                color: #fff;
                height: 60px;
                .look-btn {
                  width: 140px;
                  background: $green;
                  border-radius: 17px;
                  font-size: 14px;
                  height: 34px;
                  line-height: 34px;
                  text-align: center;
                  margin-top: 13px;
                  cursor: pointer;
                }
                .pre-btn {
                  float: left;
                  margin-left: 80px;
                }
                .next-btn {
                  float: right;
                  margin-right: 80px;
                }
                .invest-btn{
                  width: 320px;
                  height: 60px;
                  font-size: 20px;
                  line-height: 60px;
                  text-align: center;
                  border-radius: 30px;
                  margin: 0 auto;
                  background: $greenInvest;
                }
              }
            }
          }

        }
        .bot {
          width: 963px;
          height: 57px;
          background: url("../images/2018/peach-blossom-festival/heros_bot_bg.png") no-repeat;
          background-size: contain;
        }
      }
      background-size: 100%;
    }
  }
}
.part-one-bot {
  height: 79px;
  background: url("../images/2018/peach-blossom-festival/spring_bot_bg.png") no-repeat center center;
}
.noData {
  height: 178px;
}
.kindly-tips {
  position: relative;
  top: -40px;
  width: 1024px;
  margin-top: 56px;
  margin: 0 auto;
  box-sizing: border-box;
  padding-left: 60px;
  padding-bottom: 100px;
  color: #682d1a;
  font-size: 16px;
  line-height: 30px;
  .title {
    font-size: 20px;
  }
}