@charset "utf-8";

.main-frame {
  width: 100%;
  margin: 0 auto;
}
.sport-play-container{
  .media-pc{
    display: block;
    @media (max-width:700px) {
      display:none;
    }
  }
  .media-phone{
    display: none;
    @media (max-width:700px) {
      display:block;
    }
  }
  .top-img{
    float:left;
    width:100%;
  }
  .shaking-item{
    float:left;
    width:100%;
    background:#ff4955 url('../images/2017/sport-play/shaking-bg.png') no-repeat center top;
  }
  .select-item{
    float:left;
    width:100%;
  }
  .wp{
    width:1200px;
    margin:0 auto;
    .content-item{
      float:left;
      width:100%;
    }
    .rule-item{
      float:left;
      width:100%;
    }
  }
}



