@charset "utf-8";

@-webkit-keyframes win-effect {
  0% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 100%
  }
  20% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 100%
  }
  40% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }
  60% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 100%
  }
  80% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 100%
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }
}

@keyframes win-effect {
  0% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }
  20% {
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }
  40% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }
  60% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }
  80% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%
  }
}
.main-frame {
  width: 100%;
  margin: 0 auto;
}
.sport-play-container{
  float:left;
  width:100%;
  background:#1740ab;
  .media-pc{
    display: block;
    @media (max-width:700px) {
      display:none;
    }
  }
  .media-phone{
    display: none;
    @media (max-width:700px) {
      display:block;
    }
  }
  .layui-layer{
    background:none;
  }
  .lottery-tip{
    float:left;
    width:100%;
    height:100%;
    background:url('../images/2017/sport-play/tip-bg.png') no-repeat center;
    background-size:100%;
    position: relative;
    display:none;
    .lottery-close{
      position: absolute;
      top:10px;
      right:10px;
      width:20px;
      height:20px;
      cursor:pointer;
      background:url('../images/2017/sport-play/lottery-close.png') no-repeat center;
      background-size:100%;
    }
    .lottery-content{
      float:left;
      width:100%;
      height:140px;
      padding-top: 20px;
      box-sizing: border-box;
      @media (max-width:700px) {
        height:95px;
      }
      p{
        text-align:center;
        margin-bottom: 0;
        &.info-text{
          font-size:28px;
          color:#b5332a;
          line-height: 28px;
          @media (max-width:700px) {
            font-size:14px;
          }
        }
        &.gift-name{
          font-size:36px;
          color:#b5332a;
          line-height: 36px;
          @media (max-width:700px) {
            font-size:18px;
          }
        }
        &.tip-text{
          font-size:28px;
          color:#b5332a;
          line-height: 36px;
          @media (max-width:700px) {
            font-size:14px;
            line-height: 20px;
          }
        }
        &.no-chance{
          font-size:28px;
          color:#b5332a;
          line-height: 110px;
          @media (max-width:700px) {
            font-size:14px;
            line-height: 55px;
          }
        }
      }
    }
    .lottery-link{
      float:left;
      width:100%;
      height:80px;
      line-height: 80px;
      text-align:center;
      @media (max-width:700px) {
        height:58px;
        line-height: 58px;
      }
      a{
        display:inline-block;
        width:110px;
        height:45px;
        line-height: 45px;
        text-align:center;
        font-size:24px;
        color:#fff;
        background: #e85e57;
        border-radius:10px;
        margin:0 30px;
        @media (max-width:700px) {
          width:60px;
          height:30px;
          line-height: 30px;
          font-size:12px;
          border-radius:5px;
        }
      }
    }
  }
  .exchange-tip{
    float:left;
    width:100%;
    height:100%;
    background:url('../images/2017/sport-play/exchange-bg.png') no-repeat center;
    background-size:100%;
    position: relative;
    display:none;
    .exchange-close{
      position: absolute;
      top:10px;
      right:10px;
      width:20px;
      height:20px;
      cursor:pointer;
      background:url('../images/2017/sport-play/exchange-close.png') no-repeat center;
      background-size:100%;
    }
    .exchange-content{
      float:left;
      width:100%;
      height:180px;
      box-sizing:border-box;
      padding-top:30px;
      @media (max-width:700px) {
        height:125px;
      }
      p{
        font-size:28px;
        color:#ffe973;
        text-align:center;
        margin-bottom: 0;
        @media (max-width:700px) {
          font-size:16px;
        }
        &.tip-info{
          font-size:34px;
          margin-top: 40px;
          @media (max-width:700px) {
            font-size:16px;
            margin-top:20px;
          }
        }
        &.title-item{
          font-size:34px;
          margin-top: 10px;
          background:url('../images/2017/sport-play/tip-title.png') no-repeat center;
          background-size: 90%;
          box-sizing: border-box;
          padding-top: 40px;
          @media (max-width:700px) {
            font-size:16px;
            padding-top: 20px;
            background-size: 70%;
          }
        }
      }
    }
    .exchange-link{
      float:left;
      width:100%;
      line-height: 120px;
      text-align:center;
      @media (max-width:700px) {
        height:60px;
        line-height: 60px;
      }
      a{
        display:inline-block;
        width:160px;
        height:60px;
        line-height: 60px;
        text-align:center;
        font-size:30px;
        color:#e34758;
        background: #ffea77;
        border-radius:10px;
        margin:0 30px;
        @media (max-width:700px) {
          width:80px;
          height:30px;
          line-height: 30px;
          font-size:14px;
          border-radius:5px;
        }
        &.close-item{
          color:#c0b67c;
          background:none;
          border:2px solid #c0b67c;
        }
        &.exchange-btn{
          width:200px;
          @media (max-width:700px) {
            width:100px;
          }
        }
      }
    }
  }
  .top-img{
    width:100%;
  }
  .shaking-item{
    width:100%;
    background:#ff4955 url('../images/2017/sport-play/shaking-bg.png') no-repeat center;
    background-size: 90%;
    background-position-y: 100px;
    .wp{
      box-sizing:border-box;
      padding:0 45px;
      @media (max-width:700px) {
        padding:0 10px;
      }
    }
    .title-one{
      float:left;
      width:100%;
      height:80px;
      background:#ff4955 url('../images/2017/sport-play/title-one.png') no-repeat center;
      @media (max-width:700px) {
        background:#ff4955 url('../images/2017/sport-play/title-one-phone.png') no-repeat center;
        background-size: 50%;
      }
    }
    .info-item{
      float:left;
      width:100%;
      box-sizing:border-box;
      padding:40px 60px;
      background:#ff4955 url('../images/2017/sport-play/info-bg.png') no-repeat center;
      @media (max-width:320px) {
        padding:20px 15px;
        background:#ff4955 url('../images/2017/sport-play/info-bg-phone.png') no-repeat center;
        background-size: 100%;
      }
      @media (min-width:321px) and (max-width:375px) {
        padding:40px 30px;
        background:#ff4955 url('../images/2017/sport-play/info-bg-phone.png') no-repeat center;
        background-size: 100%;
      }
      @media (min-width:376px) and (max-width:414px) {
        padding:40px 30px;
        background:#ff4955 url('../images/2017/sport-play/info-bg-phone.png') no-repeat center;
        background-size: 100%;
      }
      li{
        float:left;
        width:100%;
        font-size:18px;
        color:#fff;
        @media (max-width:320px){
          font-size:12px;
        }
        @media (min-width:321px) and (max-width:375px) {
          font-size:13px;
        }
        @media (min-width:376px) and (max-width:414px) {
          font-size:14px;
        }
      }
    }
    .lottery-times{
      float:left;
      width:100%;
      font-size:28px;
      color:#fff;
      text-align:center;
      margin-bottom: 50px;
      @media (max-width:700px) {
        font-size:18px;
      }
      span{
        color:#fff100;
        strong{
          font-weight:normal;
        }
      }
    }
    .draw-item{
      float:left;
      width:100%;
      text-align:center;
      .draw-model{
        display:inline-block;
        width:660px;
        padding-bottom: 35px;
        background:url('../images/2017/sport-play/draw-bg.png') no-repeat center bottom;
        @media (max-width:700px) {
          width: 100%;
          background-size: 100%;
        }
        .draw-btn{
          cursor:pointer;
          &.lottering {
            -webkit-animation-duration: 0.25s;
            animation-duration: 0.25s;
            -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
            -webkit-animation-name: win-effect;
            animation-name: win-effect;
            -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
          }
          @media (max-width:700px) {
            width:50%;
          }
        }
      }
    }
  }
  .wp{
    width:1000px;
    margin:0 auto;
    @media (max-width:700px) {
      width:100%;
      padding:0 10px;
      box-sizing:border-box;
    }
    .content-item{
      float:left;
      width:100%;
      .title-two{
        float:left;
        width:100%;
        height:110px;
        margin: 40px 0;
        background:url('../images/2017/sport-play/title-two.png') no-repeat center;
        @media (max-width:700px) {
          height:60px;
          background-size:90%;
          margin:20px 0;
        }
      }
      .user-info{
        float:left;
        width:100%;
        border:4px solid #ff5a5d;
        border-radius:10px;
        box-sizing: border-box;
        margin-bottom: 60px;
        p{
          font-size:24px;
          color:#fff;
          text-align:center;
          margin-bottom: 0;
          line-height: 70px;
          @media (max-width:700px) {
            font-size:13px;
            line-height: 30px;
          }
          &.tip-text{
            font-size:18px;
            color:#fff;
            background:#ff5a5d;
            @media (max-width:700px) {
              font-size:12px;
              line-height: 26px;
            }
          }
          span{
            color:#fff836;
            &.to-login{
              cursor:pointer;
            }
          }
        }
      }
      .gift-list{
        float:left;
        width:100%;
        .gift-item{
          float:left;
          width:100%;
          background:url('../images/2017/sport-play/gift-bg.png') no-repeat center;
          background-size:100%;
          margin-bottom: 60px;
          position: relative;
          @media (max-width: 700px) {
            background:url('../images/2017/sport-play/gift-bg-phone.png') no-repeat center;
            background-size:cover;
            border-radius: 10px;
            margin-bottom: 30px;
          }
          h3{
            position: absolute;
            top:-20px;
            left:50%;
            margin-left:-110px;
            width:220px;
            height:48px;
            line-height: 48px;
            text-align: center;
            font-size:24px;
            color:#fff;
            background: url('../images/2017/sport-play/gift-title.png') no-repeat center;
            @media (max-width:700px) {
              width:110px;
              height:24px;
              line-height: 24px;
              top:-10px;
              margin-left: -55px;
              font-size:12px;
              background-size:100%;
            }
          }
          .row-item{
            float:left;
            width:33.333333%;
            height: 100%;
            padding:18px 0;
            position: relative;
            text-align:center;
            box-sizing:border-box;
            &.active{
              .select-icon{
                &.left-item{
                  background:url('../images/2017/sport-play/left-icon-select.png') no-repeat center;
                  @media (max-width:700px) {
                    background-size: 100%;
                  }
                }
                &.right-item{
                  background:url('../images/2017/sport-play/right-icon-select.png') no-repeat center;
                  @media (max-width:700px) {
                    background-size: 100%;
                  }
                }
              }
            }
            &.select-item{
              cursor:pointer;
            }
            .select-icon{
              position: absolute;
              top:0;
              width:64px;
              height:63px;
              @media (max-width:700px) {
                width:32px;
                height:31px;
              }
              &.left-item{
                left:0;
                background:url('../images/2017/sport-play/left-icon.png') no-repeat center;
                @media (max-width:700px) {
                  background-size: 100%;
                }
              }
              &.right-item{
                right:0;
                background:url('../images/2017/sport-play/right-icon.png') no-repeat center;
                @media (max-width:700px) {
                  background-size: 100%;
                }
              }
            }
            p{
              font-size:18px;
              color:#fff;
              margin-bottom: 0;
              @media (max-width:700px) {
                font-size:12px;
              }
              &.text-item{
                display: inline-block;
                width:115px;
                height:50px;
                line-height: 50px;
                background:#fde54d;
                font-size:26px;
                color:#f14227;
                border-radius:10px;
                margin-top: 150px;
                cursor:pointer;
                @media (max-width:700px) {
                  width:60px;
                  height:30px;
                  line-height: 30px;
                  font-size:13px;
                  border-radius:5px;
                  margin-top: 75px;
                }
              }
              &.gift-img{
                height:180px;
                @media (max-width:700px) {
                  height:90px;
                }
                &.one-1{
                  background:url('../images/2017/sport-play/one-1.png') no-repeat center;
                  @media (max-width:700px) {
                    background-size:70%;
                  }
                }
                &.one-2{
                  background:url('../images/2017/sport-play/one-2.png') no-repeat center;
                  @media (max-width:700px) {
                    background-size:60%;
                  }
                }
                &.two-1{
                  background:url('../images/2017/sport-play/two-1.png') no-repeat center;
                  @media (max-width:700px) {
                    background-size:50%;
                  }
                }
                &.two-2{
                  background:url('../images/2017/sport-play/two-2.png') no-repeat center;
                  @media (max-width:700px) {
                    background-size:50%;
                  }
                }
                &.three-1{
                  background:url('../images/2017/sport-play/three-1.png') no-repeat center;
                  @media (max-width:700px) {
                    background-size:90%;
                  }
                }
                &.three-2{
                  background:url('../images/2017/sport-play/three-2.png') no-repeat center;
                  @media (max-width:700px) {
                    background-size:70%;
                  }
                }
                &.four-1{
                  background:url('../images/2017/sport-play/four-1.png') no-repeat center;
                  @media (max-width:700px) {
                    background-size:80%;
                  }
                }
                &.four-2{
                  background:url('../images/2017/sport-play/four-2.png') no-repeat center;
                  @media (max-width:700px) {
                    background-size:50%;
                  }
                }
                &.five-1{
                  background:url('../images/2017/sport-play/five-1.png') no-repeat center;
                  @media (max-width:700px) {
                    background-size:80%;
                  }
                }
                &.five-2{
                  background:url('../images/2017/sport-play/five-2.png') no-repeat center;
                  @media (max-width:700px) {
                    background-size:60%;
                  }
                }
                &.six-1{
                  background:url('../images/2017/sport-play/six-1.png') no-repeat center;
                  @media (max-width:700px) {
                    background-size:50%;
                  }
                }
                &.six-2{
                  background:url('../images/2017/sport-play/six-2.png') no-repeat center;
                  @media (max-width:700px) {
                    background-size:60%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .rule-item{
    width:1100px;
    margin:0 auto 40px;
    color:#fff;
    box-sizing:border-box;
    padding:80px 80px 55px;
    background:url('../images/2017/sport-play/rule-bg.png') no-repeat center;
    position: relative;
    
    @media (max-width:320px){
      width:100%;
      background:url('../images/2017/sport-play/rule-bg-phone.png') no-repeat center;
      background-size:100%;
      padding:10px 10px;
      height:320px;
      margin:0 auto 20px;
    }
    @media (min-width:321px) and (max-width:375px) {
      width:100%;
      background:url('../images/2017/sport-play/rule-bg-phone.png') no-repeat center;
      background-size:100%;
      padding:10px 10px;
      height:380px;
      margin:0 auto 20px;
    }
    @media (min-width:376px) and (max-width:414px) {
      width:100%;
      background:url('../images/2017/sport-play/rule-bg-phone.png') no-repeat center;
      background-size:100%;
      padding:10px 10px;
      height:400px;
      margin:0 auto 20px;
    }
    dt{
      position: absolute;
      top:14px;
      left:50%;
      margin-left:0;
      font-size:16px;
      line-height: 50px;
      text-align:center;
      @media (max-width:700px) {
        display: none;
      }
    }
    dd{
      font-size:14px;
      @media (max-width:700px) {
        display: none;
      }
    }
  }
}



