$orange: #ff5d0e;
$orangeBorder:#ffd43d;
$redActivityTime:#d20304;
$redStrong:#e53d22;
$redInvest:#ff5d0d;
$grayContentFont:#8f8f8f;
$gray8f:#8f8f8f;
$greenBtn:#119d4c;
$greenAmout:#016739;
$gray333:#333333;
$grayd1:#d1d1d1;
html {
  font-size: 100px;
}
body {
  font-size: 12px;
}

html,
body {
      height: 100%;
      overflow: hidden;
}
p {
  margin-bottom: 5px;
}
.main-frame {
  width: 100%;
  margin: 0 auto;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
body {
  background: $orange;
}
.activity-page {
  width: 1219.5px;
  margin: 0 auto;
}
.content-page {
  width: 1080px;
  margin: 0 auto;
}
.borderYellow {
  border-bottom: 3.5px solid $orangeBorder;
  border-right: 3.5px solid $orangeBorder;
  border-left: 3.5px solid $orangeBorder;
}
.gold-btn {
  width: 307px;
  height: 118px;
  display: block;
  margin: 0 auto;
  &.open-ball-btn {
    background: url("../images/2018/july-activity/open_ball_btn.png") no-repeat center center;
    background-size: 100%;
    margin-bottom: 56px;
    margin-top: 20px;
  }
  &.to_invest_btn {
    margin-top: 20px;
    background: url("../images/2018/july-activity/to_invest_btn.png") no-repeat center center;
    background-size: 100%;
  }
}
.swiper-container {
  float: none!important;
}
.layui-layer-dialog .layui-layer-content {
  font-size: 11px!important;
}
.july-banner {
  height: 800px;
  background: url("../images/2018/july-activity/pc_banner.png") no-repeat center center;
  position: relative;
  padding-top: 760px;
  box-sizing: border-box;
  .risk-tip {
    color: rgba(255,255,255,0.6);
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
  }
}

.july-container {
  padding-bottom: 547px;
  background: url("../images/2018/july-activity/bot_bg.png") no-repeat center bottom;
}
.part-wrap-line {
  margin: 0 auto;
  width: 1374px;
 background: none;
}
.part {
  position: relative;
  .part-top {
    position: absolute;
    height: 111px;
    margin: 0 auto;
    background: url("../images/2018/july-activity/part_one_title.png") no-repeat center center;
    background-size: 100%;
    z-index: -100;
    top: -127px;
    left: 2px;
  }
  .main-content {
    width: 1166px;
    padding-top: 0;
    margin: 0 auto;
    padding-bottom: 60px;
  }
}
.country-btn {
  box-sizing: border-box;
  padding-left: 36px;
  padding-right: 36px;
  height: 34px;
  line-height: 31px;
  border: 2px solid $greenBtn;
  border-radius: 17px;
  color: $gray333;
  display: inline-block;
  font-size: 11px;

}
.swiper-pagination-bullet-active {
  background: $greenBtn!important;
}
.content-section {
  position: relative;
  background: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 60px;
  padding-right: 60px;
  .content-title {
    position: absolute;
    width: 511px;
    height: 47px;
    line-height: 49px;
    left: 50%;
    top: -23px;
    margin-left: -255px;
    background: url("../images/2018/july-activity/pc_content_title.png") no-repeat center center;
    background-size: 100%;
    color: $redActivityTime;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
  }

}

.team-logo-wrap {
  .part-top {
    width: 1374px;
    height: 213px;
    background: url("../images/2018/july-activity/part_one_title.png") no-repeat center center;
    background-size: 100%;
  }
  .main-content {
    margin-top: 80px;
    padding-top: 80px;
  }
  .team-logo-rules {
    padding-top: 60px;
    padding-bottom: 30px;
    p {
      line-height: 36px;
      margin-bottom: 36px;
      font-size: 24px;
      color: $grayContentFont;
      strong {
        color: $redStrong;
        font-size: 24px;
      }
      &.last {
        margin-bottom: 0;
      }
    }
  }
  .open-balls-content {
    margin-top: 40px;
    .big-ball {
      width: 701px;
      height: 409px;
      margin: 0 auto;
      background: url("../images/2018/july-activity/ball_big.png") no-repeat center center;
      background-size: 100%;
      position: relative;
      left: 29px;
      z-index: 2;
    }
    .my-logo {
      margin: 0 auto;
      margin-bottom: 30px;
      margin-top: 30px;
      width: 265px;
      font-size: 35px;
      font-weight: bold;
      height: 80px;
      line-height: 80px;
      text-indent: 90px;
      color: $redStrong;
      background: url("../images/2018/july-activity/icon_my_ball.png") no-repeat left center;
      &.collected-all {
        text-indent: 100px;
        background: url("../images/2018/july-activity/collected_all.png") no-repeat left center;
      }
    }
    .my-team-logos {
      padding-bottom: 70px;


    }
    .prize {
      color: $gray8f;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      padding-bottom: 40px;
      strong {
        font-size: 26px;
        color: $redStrong;
      }
    }
  }
}
.part-two {
  margin-top: 180px;
  .content-section {
    padding-bottom: 50px;
  }
  .part-top {
    width: 1374px;
    height: 222px;
    left: 2px;
    background: url("../images/2018/july-activity/part_two_title.png") no-repeat center center;
    background-size: 100%;
  }
  .main-content {
    width: 1170px;
    padding-top: 90px;
    box-sizing: border-box;
  }
  .invest-records {
    padding-top: 54px;
    ul {
      margin-left: -47px;
      li {
        color: $redInvest;
        font-size: 16px;
        font-weight: bold;
        float: left;
        margin-left: 40px;
        &.first {
          width: 460px;
        }
        &.thrid {
          float: right;
        }
        strong {
          font-size: 18px;
        }
        .wap-left {
          display: inline-block;
        }
        .wap-right {
          display: inline-block;
        }
      }
    }
  }
  .progress-wrap {
    .progress {
      margin: 0 auto;
      margin-top: 15px;
      width: 1003px;
      height: 41px;
      background: url("../images/2018/july-activity/progress_bg.png") no-repeat;
      background-size: 100%;
      border-radius: 20px;
      margin-left: -17px;
      .percent {
        height: 41px;

        .percent-left {
          display: block;
          float: left;
          width: 17px;
          height: 40px;
          background: url("../images/2018/july-activity/percent_left.png") no-repeat;
          background-size: 100%;
        }
        .percent-con {
          position: relative;
          display: block;
          float: left;
          height: 41px;
          background: url("../images/2018/july-activity/percent_bg.png") repeat-x;
          .ball {
            width: 179px;
            height: 129px;
            position: absolute;
            right: -44px;
            top: -34px;
            background: url("../images/2018/july-activity/progress_ball.png") no-repeat;
            background-size: 100%;
          }
        }
      }
    }
    .invest-money {
      margin-top: 25px;
      >div {
        color: $redInvest;
        font-size: 24px;
        font-weight: bold;
      }
    }
    .support-amout {
      >a {
        display: block;
        width: 278px;
        height: 99px;
        cursor: pointer;
        span {
          display: inline-block;
          color: #fff;
          font-size: 18px;
          margin-top: 26px;

        }
        &.red-square {
          background: url("../images/2018/july-activity/red_squre.png") no-repeat;
          background-size: 100%;
          span {
            padding-left:152px;
          }
          &.disabled {
            span {
              padding-left:152px;
            }
            background: url("../images/2018/july-activity/red_disabled.png") no-repeat;
            background-size: 100%;
          }
          &.already_support {
            span {
              padding-left: 121px;
            }
            background: url("../images/2018/july-activity/already_support_red.png") no-repeat;
            background-size: 100%;
          }

        }
        &.blue-square {
          background: url("../images/2018/july-activity/blue_squre.png") no-repeat;
          background-size: 100%;
          span {
            float: right;
            padding-right:140px;
          }
          &.disabled {
             span {
               padding-right:140px;
             }
            background: url("../images/2018/july-activity/blue_disabled.png") no-repeat;
            background-size: 100%;
          }
          &.already_support {
            span {
              padding-right:104px;
            }
            background: url("../images/2018/july-activity/already_support_blue.png") no-repeat;
            background-size: 100%;
          }
        }

      }
    }
  }
  .which-to-chose {
    width: 710px;
    margin: 0 auto;
    margin-top: 60px;
    color: $redStrong;
    font-size: 40px;
    font-weight: bold;
    height: 73px;
    line-height: 73px;
    background: url("../images/2018/july-activity/calendar.png") no-repeat left center;
    text-indent: 85px;
  }
  .red-and-blue-rules {
    p {
      font-size: 24px;
      color: $gray8f;
      margin-top: 34px;
      line-height: 36px;
    }
  }
  .invest-wrap {
    margin-top: 50px;
  }
}
.part-three {
  margin-top: 180px;
  .part-top {
    width: 1374px;
    height: 249px;
    left: 0px;
    background: url("../images/2018/july-activity/part_three_title.png") no-repeat center center;
    background-size: 100%;
    top: -146px;
  }
  .main-content {
    padding-top: 90px;
    width: 1148px;
    .content-section {
      padding-top: 50px;
      padding-bottom: 30px;
      padding-left: 50px;
      padding-right: 50px;
    }
    .inveite-friend-desc {

      p {
        line-height: 38px;
        font-size: 24px;
        color: $gray8f;
        strong {
          color: $redStrong;
          font-size: 24px;
          font-weight: bold;
        }

      }
      .open-red-ware-tab {
        border: 1px solid $grayd1;
        border-bottom: none;
        border-right:none;
        margin-top: 46px;
        margin-bottom: 40px;
        table {
          tr {
            td {
              border-bottom: 1px solid $grayd1;
              border-right: 1px solid $grayd1;
              padding: 0;
              height: 66px;
              line-height: 66px;
              font-size: 24px;
              color: $gray8f;
              &.ren {
                width: 305px;
              }
            }
          }
        }
      }
      .qrcode  {
        width: 324px;
        height: 326px;
        margin: 0 auto;
        padding-top: 18px;
        box-sizing: border-box;
        img {
          width: 100%;
        }

      }
      .qrcpde-tip {
        width: 186px;
        height: 28px;
        margin: 35px auto;
        background: url("../images/2018/july-activity/qrcode_tip.png") no-repeat center center;
        background-size: 100%;
        img {
          width: 100%;
        }
      }
    }
  }




}
.part-four {
  margin-top: 185px;
  .part-top {
    width: 1316px;
    height: 177px;
    left: 28px;
    background: url("../images/2018/july-activity/part_title_four.png") no-repeat center center;
    background-size: 100%;
    top: -107px;
  }
  .main-content {
    padding-top: 64px;
    box-sizing: border-box;
    .content-section {
      padding-top: 50px;
      padding-bottom: 30px;
      P {
        line-height: 34px;
        font-size: 21px;
        color: $gray8f;
      }
      .calculation-formula {
        border: 1px solid $grayd1;
        border-bottom: none;
        border-right:none;
        table {
          tr {
            td {
              border-bottom: 1px solid $grayd1;
              border-right: 1px solid $grayd1;
              font-size: 21px;
              color: $gray8f;
            }
          }
        }
      }
    }
  }
}
.logos-con {
  ul {
    li {
      text-align: center;
      float: left;
      .team-logo {
        display: inline-block;
        width: 160px;
        height: 160px;
        position: relative;
        .amount {
          position: absolute;
          right: 8px;
          top: 8px;
          width: 42px;
          height: 42px;
          line-height: 42px;
          font-size: 16px;
          text-align: center;
          border-radius: 21px;
          background: $greenAmout;
          color: #fff;
        }
        &.agenting {
          background: url("../images/2018/july-activity/agenting.png") no-repeat;
          background-size: 100%;
        }
        &.aiji {
          background: url("../images/2018/july-activity/aiji.png") no-repeat;
          background-size: 100%;
        }
        &.aodaliya {
          background: url("../images/2018/july-activity/aodaliya.png") no-repeat;
          background-size: 100%;
        }
        &.banama {
          background: url("../images/2018/july-activity/banama.png") no-repeat;
          background-size: 100%;
        }
        &.baxi {
          background: url("../images/2018/july-activity/baxi.png") no-repeat;
          background-size: 100%;
        }
        //5

        &.bilishi {
          background: url("../images/2018/july-activity/bilishi.png") no-repeat;
          background-size: 100%;
        }
        &.bingdao {
          background: url("../images/2018/july-activity/bingdao.png") no-repeat;
          background-size: 100%;
        }
        &.bolan {
          background: url("../images/2018/july-activity/bolan.png") no-repeat;
          background-size: 100%;
        }
        &.danmai {
          background: url("../images/2018/july-activity/danmai.png") no-repeat;
          background-size: 100%;
        }
        &.deguo {
          background: url("../images/2018/july-activity/deguo.png") no-repeat;
          background-size: 100%;
        }
        //10

        &.eluosi {
          background: url("../images/2018/july-activity/eluosi.png") no-repeat;
          background-size: 100%;
        }
        &.faguo {
          background: url("../images/2018/july-activity/faguo.png") no-repeat;
          background-size: 100%;
        }
        &.gelunbiya {
          background: url("../images/2018/july-activity/gelunbiya.png") no-repeat;
          background-size: 100%;
        }
        &.gesidani {
          background: url("../images/2018/july-activity/gesidani.png") no-repeat;
          background-size: 100%;
        }
        &.hanguo {
          background: url("../images/2018/july-activity/hanguo.png") no-repeat;
          background-size: 100%;
        }
        //15

        &.keluodiya {
          background: url("../images/2018/july-activity/keluodiya.png") no-repeat;
          background-size: 100%;
        }
        &.bilu {
          background: url("../images/2018/july-activity/bilu.png") no-repeat;
          background-size: 100%;
        }
        &.moluoge {
          background: url("../images/2018/july-activity/moluoge.png") no-repeat;
          background-size: 100%;
        }
        &.moxige {
          background: url("../images/2018/july-activity/moxige.png") no-repeat;
          background-size: 100%;
        }
        &.niriliya {
          background: url("../images/2018/july-activity/niriliya.png") no-repeat;
          background-size: 100%;
        }
        //20

        &.putaoya {
          background: url("../images/2018/july-activity/putaoya.png") no-repeat;
          background-size: 100%;
        }
        &.riben {
          background: url("../images/2018/july-activity/riben.png") no-repeat;
          background-size: 100%;
        }
        &.ruidian {
          background: url("../images/2018/july-activity/ruidian.png") no-repeat;
          background-size: 100%;
        }
        &.ruishi {
          background: url("../images/2018/july-activity/ruishi.png") no-repeat;
          background-size: 100%;
        }
        &.saierweiya {
          background: url("../images/2018/july-activity/saierweiya.png") no-repeat;
          background-size: 100%;
        }
        //25
        &.saineijiaer {
          background: url("../images/2018/july-activity/saineijiaer.png") no-repeat;
          background-size: 100%;
        }
        &.shatealabo {
          background: url("../images/2018/july-activity/shatealabo.png") no-repeat;
          background-size: 100%;
        }
        &.tunisi {
          background: url("../images/2018/july-activity/tunisi.png") no-repeat;
          background-size: 100%;
        }
        &.wulagui {
          background: url("../images/2018/july-activity/wulagui.png") no-repeat;
          background-size: 100%;
        }
        &.xibanya {
          background: url("../images/2018/july-activity/xibanya.png") no-repeat;
          background-size: 100%;
        }
        //30

        &.yilang {
          background: url("../images/2018/july-activity/yilang.png") no-repeat;
          background-size: 100%;
        }
        &.yinggelan {
          background: url("../images/2018/july-activity/yinggelan.png") no-repeat;
          background-size: 100%;
        }

      }
      .country {

      }
    }
  }
}
.tip-wrap {
  width: 100%;
  position: fixed;
  z-index: 99999;
  top: 0;
  min-height: 100%;
  background: rgba(0,0,0,0.75);
  padding-top: 160px;
  .get-ball-tip {
    margin: 0 auto;
    width: 650px;
    background: #fff;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 60px;
    padding-top: 60px;
    .top {
      position: absolute;
      left: 50%;
      margin-left: -533px;
      width: 1000px;
      height: 214px;
      top: -166px;
      background: url("../images/2018/july-activity/tip_top.png") no-repeat center center;
      background-size: contain;
    }
    .bot{
      position: absolute;
      width: 833px;
      height: 200px;
      left: 50%;
      margin-left: -400px;
      bottom: -123px;
      //background: url("../images/2018/july-activity/bot_front.png") no-repeat center center;
      //background-size: contain;
      .ren {
        position: absolute;
        left: 41px;
        bottom: 60px;
        width: 95px;
        height: 168px;
        background: url("../images/2018/july-activity/ren.png") no-repeat center center;
        background-size: contain;
      }
      .money {
        position: absolute;
        bottom: 54px;
        left: 39px;
        width: 747px;
        height: 232px;
        z-index: -300;
        background: url("../images/2018/july-activity/money.png") no-repeat center center;
        background-size: 100%;
      }
    }
    .known-btn {
      position: absolute;
      width: 338px;
      height: 38px;
      left: 50%;
      margin-left: -169px;
      bottom: -8px;
      background: url("../images/2018/july-activity/i_known.png") no-repeat center center;
      background-size: contain;
    }
    .left-shan {
      position: absolute;
      bottom: -8px;
      left: 94px;
      width: 169px;
      height: 41px;
      background: url("../images/2018/july-activity/left_shan.png") no-repeat center center;
      background-size: contain;
    }
    .right-shan {
      position: absolute;
      bottom: -8px;
      right: 104px;
      width: 147px;
      height: 41px;
      background: url("../images/2018/july-activity/right_shan.png") no-repeat center center;
      background-size: contain;
    }
    .con {
      max-height: 300px;
      overflow-y: auto;
    }

    ul {
      padding-bottom: 30px;
      li {
        margin-bottom: 10px;
        .team-logo {
          width: 100px;
          height: 100px;
          background-size: contain;
          .amount {
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-size: 14px;
          }
        }
        .country-btn {
          padding-left: 10px;
          padding-right: 10px;
          height: 30px;
          line-height: 27px;
          font-size: 11px;
        }
        margin-left: 10px;
      }
    }
  }
}

.layui-layer-shade {
  background: rgba(0,0,0,0.75)!important;
  opacity: 0.75!important;
}
@media screen and(max-width: 1024px){
  .part-wrap-line {
    width: 7.5rem;
    background: url("../images/2018/july-activity/wap_line.png") repeat-y;
    background-size: contain;
  }
  .activity-page {
    width: 6.58rem;
  }
  .content-page {
    width: 5.8rem;
  }
  .borderYellow {
   border: none;
  }
  .gold-btn {
    width: 1.96rem;
    height: 0.76rem;
    &.open-ball-btn {
      margin-bottom: 0.38rem;
      position: static;
      margin-top: 0.15rem;
    }
    &.to_invest_btn {
      margin-top: 0.15rem;
      background: url("../images/2018/july-activity/to_invest_btn.png") no-repeat center center;
      background-size: contain;
    }
  }
  .july-banner {
    height: 4rem;
    padding-top: 3.6rem;
    background: url("../images/2018/july-activity/wap_banner.png") no-repeat center center;
    background-size: 100%;

  }

  .july-container {
    padding-bottom: 2rem;
    background: url("../images/2018/july-activity/bot_bg.png") no-repeat center bottom;
    background-size: 100%;
  }
  .part {
    position: relative;
    margin-top: 1rem;
    .part-top {
      position: absolute;
      width: 6.82rem;
      height: 1.23rem;
      top: -1rem;
      left: 0;
    }
    .main-content {
      width: 6.5rem;
      padding-bottom: 0.3rem;
      border-bottom: 0.04rem solid $orangeBorder;
      margin-top: 0.1rem;
    }
  }
  .country-btn {
    border-radius: 0.17rem;
    padding-left: 0.1rem;
    padding-right:  0.1rem;
    height: 0.4rem;
    line-height: 0.36rem;
    font-size: 11px;
  }

  .content-section {
    border-radius: 0.12rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    .content-title {
      position: absolute;
      width: 3.24rem;
      height: 0.44rem;
      line-height: 0.44rem;
      top: -0.2rem;
      margin-left: -1.62rem;
      background: url("../images/2018/july-activity/wap_content_title.png") no-repeat center center;
      background-size: 100%;
      font-size: 0.24rem;
    }

  }

  .team-logo-wrap {
    .part-top {
      width: 7.5rem;
      height: 1.11rem;
      background: url("../images/2018/july-activity/wap_part_one_title.png") no-repeat center center;
      background-size: 100%;
    }
    .main-content {
      padding-top: 0.11rem;
    }
    .team-logo-rules {
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;
      p {
        line-height: 0.36rem;
        margin-bottom: 0.22rem;
        font-size: 0.24rem;
        strong {
          font-size: 0.24rem;
        }
        &.last {
          margin-bottom: 0;
        }
      }
    }
    .open-balls-content {
      margin-top: 0.3rem;
      .big-ball {
        width: 3.77rem;
        height: 2.27rem;
        position: relative;
        left: 0.15rem;
      }
      .my-logo {
        margin-bottom: 0.1rem;
        margin-top: 0.2rem;
        width: 2.4rem;
        font-size: 0.28rem;
        height: 0.8rem;
        line-height: 0.8rem;
        text-indent: 0.8rem;
        background: url("../images/2018/july-activity/wap_icon_my_ball.png") no-repeat left center;
        background-size: 28%;
        &.collected-all {
          text-indent: 0.9rem;
          background: url("../images/2018/july-activity/wap_collected_all.png") no-repeat left center;
          background-size: 35%;
        }
      }
      .my-team-logos {
        padding-bottom: 0.7rem;
        padding-top: 0.4rem;
        ul {
          li {
            .team-logo {
              display: inline-block;
              width: 0.88rem;
              height: 0.88rem;
              .amount {
                right: -0.1rem;
                top: 0rem;
                width: 0.4rem;
                height: 0.4rem;
                line-height: 0.4rem;
                font-size: 11px;
                border-radius: 0.2rem;
              }


            }
            .country {

            }
          }
        }

      }
      .prize {
        font-size: 0.24rem;
        padding-bottom: 0.3rem;
        strong {
          font-size: 0.24rem;
        }
      }
    }
  }
  .part-two {
    margin-top: 1.5rem;
    .content-section {
      padding-bottom: 0.3rem;
    }
    .part-top {
      width: 7.5rem;
      height: 1.38rem;
      background: url("../images/2018/july-activity/wap_part_two_title.png") no-repeat center center;
      background-size: 100%;
    }
    .main-content {
      padding-top: 0.3rem;
    }
    .invest-records {
      padding-top: 0.5rem;
      ul {
        margin-left: 0;
        li {
          font-size: 12px;
          margin-left: 0;
          float: none;
          width: 100%;
          text-align: center;
          &.first {
            width: 100%;
          }
          .wap-left {
            display: inline-block;
            width: 50%;
            text-align: right;
          }
          .wap-right {
            box-sizing: border-box;
            padding-left: 0.1rem;
            display: inline-block;
            width: 50%;
            text-align: left;
          }
          //&.second {
          //  width: 1.5rem;
          //}
          //.wap-style {
          //  display: block;
          //}
          strong {
            font-size: 0.24rem;
          }
        }
      }
    }
    .progress-wrap {
      .progress {
        margin-top: 0.15rem;
        width: 5.44rem;
        height: 0.24rem;
        background: url("../images/2018/july-activity/wap_progress_bg.png") no-repeat;
        background-size: 100%;
        border-radius: 0.12rem;
        margin-left: -0.07rem;
        .percent {
          height: 0.24rem;
          border-radius: 0.12rem;
          .percent-left {
            display: none;
            width: 0.18rem;
            height: 0.24rem;
            background: url("../images/2018/july-activity/wap_percent_left.png") no-repeat;
            background-size: 100%;
          }
          .percent-con {
            border-radius: 0.12rem;
            height: 0.24rem;
            background: url("../images/2018/july-activity/wap_percent_bg.png") repeat-x;
            .ball {
              width: 0.93rem;
              height: 0.6rem;
              right: -0.4rem;
              top: -0.2rem;
            }
          }
        }
      }
      .invest-money {
        margin-top: 0.2rem;
        >div {
          font-size: 0.24rem;
        }
      }
      .support-amout {
        >a {
          width: 2.41rem;
          height: 0.74rem;
          span {
            font-size: 12px;
            margin-top: 0;

          }
          &.red-square {
            background: url("../images/2018/july-activity/wap_red_squre.png") no-repeat;
            background-size: contain;
            span {
              padding-left: 0.95rem;
            }
            &.disabled {
              span {
                padding-left: 0.95rem;
              }
              background: url("../images/2018/july-activity/wap_red_squre_disabled.png") no-repeat;
              background-size: contain;
            }
            &.already_support {
              span {
                padding-left: 0.75rem;
              }
              background: url("../images/2018/july-activity/wap_red_squre_already.png") no-repeat;
              background-size: contain;
            }

          }
          &.blue-square {
            width: 2.86rem;
            background: url("../images/2018/july-activity/wap_blue_squre.png") no-repeat;
            background-size: contain;
            span {
              padding-right: 1rem;
            }
            &.disabled {
              background: url("../images/2018/july-activity/wap_blue_squre_disabled.png") no-repeat;
              background-size: contain;
              span {
                padding-right: 1rem;
              }
            }
            &.already_support {
              background: url("../images/2018/july-activity/wap_blue_squre_already.png") no-repeat;
              background-size: contain;
              span {
                padding-right: 0.75rem;
              }
            }
          }

        }
      }
    }
    .which-to-chose {
      width: 5rem;
      margin-top: 0.5rem;
      font-size: 0.28rem;
      height: 0.5rem;
      line-height: 0.5rem;
      background: url("../images/2018/july-activity/wap_calendar.png") no-repeat left center;
      background-size: 10%;
      text-indent: 0.7rem;
    }
    .red-and-blue-rules {
      p {
        font-size: 0.24rem;
        margin-top: 0.3rem;
        line-height: 0.36rem;
      }
    }
    .invest-wrap {
      margin-top: 0.4rem;
    }
  }
  .part-three {
    margin-top: 1.5rem;
    .part-top {
      width: 7.5rem;
      height: 1.34rem;
      background: url("../images/2018/july-activity/wap_part_three_title.png") no-repeat center center;
      background-size: 100%;
    }
    .main-content {
      padding-top: 0.34rem;
      .content-section {
        padding-top: 0.45rem;
        padding-bottom: 0.35rem;
      }
      .inveite-friend-desc {

        p {
          line-height: 0.38rem;
          font-size: 0.24rem;
          strong {
            font-size: 0.24rem;
          }

        }
        .open-red-ware-tab {
          margin-top: 0.2rem;
          margin-bottom: 0.34rem;
          table {
            tr {
              td {

                height: 0.66rem;
                line-height: 0.33rem;
                font-size: 0.24rem;
                &.ren {
                  width: 1.64rem;
                }
              }
            }
          }
        }
        .qrcode  {
          width: 1.9rem;
          height: 1.9rem;
          padding-top: 0.1rem;
        }
        .qrcpde-tip {
          width: 1.49rem;
          height: 0.22rem;
          margin-top: 0.15rem;
        }
      }
    }




  }
  .part-four {
    margin-top: 1.7rem;
    .part-top {
      width: 7.5rem;
      height: 1.03rem;
      background: url("../images/2018/july-activity/wap_part_four_title.png") no-repeat center center;
      background-size: 100%;
    }
    .main-content {
      padding-top: 0.03rem;
      .content-section {
        padding-top: 0.3rem;
        padding-bottom: 0.6rem;
        P {
          line-height: 0.4rem;
          font-size: 0.24rem;
        }
        .calculation-formula {
          table {
            tr {
              td {
                font-size: 0.2rem;
              }
            }
          }
        }
      }
    }
  }

  .tip-wrap {
    width: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
    min-height: 100%;
    background: rgba(0,0,0,0.75);
    padding-top: 2.2rem;
    .get-ball-tip {
        margin: 0 auto;
        width: 6.52rem;
        background: #fff;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
        box-sizing: border-box;
        padding-top: 1.2rem;
        position: relative;
        padding-bottom: 0.6rem;
      .top {
        position: absolute;
        left: 50%;
        margin-left: -4.1rem;
        width: 7.5rem;
        height: 2.8rem;
        top: -1.4rem;
        background: url("../images/2018/july-activity/tip_top.png") no-repeat center center;
        background-size: contain;
      }
      .bot{
        position: absolute;
        width: 7.5rem;
        height: 3rem;
        left: 50%;
        margin-left: -3.75rem;
        bottom: -1.2rem;
        .money {
          bottom: 0.6rem;
          left: 0.75rem;
          width: 6.5rem;
          height: 2rem;
          z-index: -400;
        }
        .ren {
          position: absolute;
          left: -0.05rem;
          bottom: 0.6rem;
          width: 0.95rem;
          height: 1.68rem;
          background: url("../images/2018/july-activity/ren.png") no-repeat center center;
          background-size: contain;
        }
        .money {
          position: absolute;
          bottom: 0.54rem;
          left: 0.1rem;
          width: 7.47rem;
          height: 2.32rem;
          z-index: -300;
          background: url("../images/2018/july-activity/money.png") no-repeat center center;
          background-size: 100%;
        }
      }
        .known-btn {
          position: absolute;
          width: 3.38rem;
          height: 0.6rem;
          left: 50%;
          margin-left: -1.69rem;
          bottom: -0.08rem;
          background: url("../images/2018/july-activity/i_known.png") no-repeat center center;
          background-size: contain;
        }
        .con {
          max-height: 10rem;
          overflow-y: auto;
        }
      ul {
        padding-bottom: 0.3rem;
        li {
          margin-bottom: 0.1rem;
          margin-left: 0.1rem;
          width: 1.72rem;
          .team-logo {
            width: 0.88rem;
            height: 0.88rem;
            background-size: contain;
            .amount {
              right: -0.1rem;
              top: 0rem;
              width: 0.4rem;
              height: 0.4rem;
              line-height: 0.4rem;
              font-size: 0.24rem;
              border-radius: 0.2rem;
            }
          }
          .country-btn {
            padding-left: 0.1rem;
            padding-right:  0.1rem;
            height: 0.4rem;
            line-height: 0.36rem;
            font-size: 11px;
          }

        }

      }
      .left-shan {
        position: absolute;
        bottom: -0.08rem;
        left: 0.94rem;
        width: 1.69rem;
        height: 0.41rem;
        background: url("../images/2018/july-activity/left_shan.png") no-repeat center center;
        background-size: contain;
      }
      .right-shan {
        position: absolute;
        bottom: -0.08rem;
        right: 0.8rem;
        width: 1.47rem;
        height: 0.41rem;
        background: url("../images/2018/july-activity/right_shan.png") no-repeat center center;
        background-size: contain;
      }

    }
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 102.4px;
  }
}
@media screen and (max-width: 750px) {
  html {
    font-size: 100px;
  }
}
@media screen and (max-width: 720px) {
  html {
    font-size: 96px;
  }
}
@media screen and (max-width: 640px) {
  html {
    font-size: 85.33px;
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 80px;
  }
}
@media screen and (max-width: 540px) {
  html {
    font-size: 72px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 64px;
  }
}
@media screen and (max-width: 414px) {
  html {
    font-size: 55.2px;
  }
}
@media screen and (max-width: 400px) {
  html {
    font-size: 53.33px;
  }
}
@media screen and (max-width: 384px) {
  html {
    font-size: 51.2px;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 50px;
  }
}
@media screen and (max-width: 360px) {
  html {
    font-size: 48px;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 42.66px;
  }
}
@media screen and (max-width: 240px) {
  html {
    font-size: 32px;
  }
}