.tip-list-frame {
  display: none;
}

.tip-list {
  width: 470px;
  background: #db291b url('../images/lantern-festival/circle-bg.png') no-repeat left top;
  background-size: 103%;
  border: 2px solid #532a09;
  @media (max-width: 700px) {
    width: 300px !important;
    height: 240px !important;
    top: 50% !important;
    left: 50% !important;
    margin-left: -150px !important;
    margin-top: -120px !important;
    .text-tip {
      height: auto;
      p {
        &.success-text {
          font-size: 20px;
          line-height: 35px;
        }
        &.reward-text {
          font-size: 20px;
          line-height: 35px;
        }
        &.login-text {
          font-size: 20px;
          padding-top: 30px;
        }
        &.des-text {
          font-size: 14px;
        }
      }
    }
    .btn-list {
      a {
        padding: 8px 30px;
        font-size: 16px;
      }
    }
  }
  .close-btn {
    width: 40px;
    height: 40px;
    top: -20px;
    right: -20px;
    background: url('../images/lantern-festival/close-btn.png') no-repeat center;
    background-size: 100%;
    @media (max-width: 700px) {
      width: 28px;
      height: 28px;
      top: -15px;
      right: -5px;
    }
  }
  .btn-list {
    a {
      background: #f7bf0d;
      color: #970000;
      box-shadow: 0 4px 0 #ff9600;
    }
  }
}

.main-frame {
  width: 100%;
  margin: 0;
}

.img-item {
  @media (max-width: 700px) {
    display: none;
  }
}

.img-item-phone {
  display: none;
  @media (max-width: 700px) {
    display: inline-block;
  }
}

.activity-container {
  float: left;
  width: 100%;
  background: #ff423a;
  .text-c {
    text-align: center;
  }
  .top-item {
    width: 100%;
    height: 130px;
    background: url('../images/wx-lottery/top-img.png') no-repeat center top;
    background-size: 100%;
  }
  .actor-content-group {
    float: left;
    width: 100%;
    .wp {
      width: 100%;
      margin: 0 auto;
      padding: 0 10px;
      box-sizing: border-box;
      &:after {
        clear: both;
        display: block;
      }
      .wechat-model {
        float: left;
        width: 100%;
        box-sizing: border-box;
        .info-item {
          display: inline-block;
          width: 100%;
          box-sizing: border-box;
          font-size: 12px;
          color: #fef43d;
        }
        .gift-item {
          display: inline-block;
          width: 100%;
          margin-top: 20px;
          background: url('../images/wx-lottery/gift-bg.png') no-repeat center top;
          background-size: 100%;
          .gift-circle-frame{
            position: relative;
            text-align:center;
            .gift-circle-out {
              display:inline-block;
              width: 300px;
              height: 310px;
              background: url('../images/wx-lottery/lottery-bg.png') no-repeat center;
              background-size: 100%;
              position: relative;
              padding: 30px 36px 40px;
              box-sizing: border-box;
              .pointer-img {
                width: 70px;
                height: 102px;
                background: url('../images/wx-lottery/pointer.png') no-repeat center;
                background-size: 100%;
                cursor: pointer;
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 8;
                margin: auto;
              }
              .rotate-btn {
                float:left;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background: url('../images/wx-lottery/gift-draw.png') no-repeat center;
                background-size: 100%;
              }
            }
            .lottery-times{
              display:inline-block;
              width:300px;
              text-align:center;
              font-size:16px;
              color:#fff;
              margin-top:20px;
              span{
                color:#fef43d;
              }
            }
            .loan-btn{
              display:inline-block;
              width:300px;
              height:50px;
              line-height:50px;
              background: #ffe718;
              text-align: center;
              font-size:18px;
              color:#ae5b11;
              position: relative;
              border-radius: 5px;
              border-bottom: 3px solid #cc8800;
              margin-top:40px;
              &:hover,&:active{
                top: 2px;
                border-bottom: 2px solid #cc8800;
              }
            }
            .gift-circle-detail{
              display:inline-block;
              width:300px;
              margin-top: 20px;
              .gift-info-box{
                float:left;
                width:100%;
                .gift-record{
                  float:left;
                  width:100%;
                  background:#ff8b84;
                  border-radius:5px;
                  border:1px dotted #fffc0b;
                  overflow:hidden;
                  position: relative;
                  &:before{
                    display:block;
                    width:5px;
                    height:48px;
                    content:'';
                    position: absolute;
                    top:0;
                    left:0;
                    background:url('../images/wx-lottery/line-item.png') no-repeat center;
                  }
                  li{
                    float:left;
                    width:50%;
                    font-size:16px;
                    color:#ffa500;
                    line-height:40px;
                    box-sizing:border-box;
                    &.active{
                      color:#fffc0b;
                      background:#ff6b63;
                      border-right:1px dotted #fffc0b;
                    }
                    &:last-child.active{
                      border-right:none;
                      border-left:1px dotted #fffc0b;
                    }
                  }
                }
                .record-list{
                  float:left;
                  width:100%;
                  height: 145px;
                  margin-top:25px;
                  background:#ff8b84;
                  border-radius:5px;
                  border:1px dotted #fffc0b;
                  overflow:hidden;
                  font-size:12px;
                  color:#fff;
                  .record-model{
                    float:left;
                    width:100%;
                  }
                }
              }
            }
          }
        }
      }
    }
    .rule-item{
      float:left;
      width:100%;
      background: #fedc78 url('../images/wx-lottery/rule-bg.jpg') no-repeat center top;
      background-size: 100%;
      padding: 60px 20px 30px;
      box-sizing: border-box;
      dt{
        float:left;
        width:100%;
        font-size:16px;
        color:#ff423a;
      }
      dd{
        float:left;
        width:100%;
        font-size:12px;
        color:#ff423a;
      }
    }
  }
}