.errorMessage {
  color: #f4e823;
}

.main-frame {
  width: 100%;
  margin: 0;
  background: #fffbe3;
}
.activity-container {
  float: left;
  width: 100%;
  padding-bottom: 30px;
  display: none;

  .actor-content-group {
    float: left;
    width: 100%;

    .wp {
      width: 100%;
      padding: 0 10px;
      box-sizing: border-box;

      &:after {
        clear: both;
        display: block;
      }
      .register-item {
        float: left;
        width: 100%;
        margin-top: 10px;
        min-height: 530px;
        background: url('../images/wx-register/register-bg.png') no-repeat center;
        background-size: 100%;

        @media (min-width:321px) and (max-width:375px) {
          min-height: 625px;
        }
        @media (min-width:376px) and (max-width:414px) {
          min-height: 695px;
        }
        .top-intro-img {
          float: left;
          width: 100%;
          margin-bottom: 35px;

          p {
            margin-bottom: 0;

            &.big-title {
              font-size: 25px;
              color: #7d0019;
              line-height: 30px;
              margin-top: 10px;
            }
            &.intro-text {
              font-size: 15px;
              color: #fc7018;
              line-height: 30px;
              margin: 5px 0;

              span {
                font-size: 25px;
                color: #ff0000;
              }
            }
          }
        }
        .reg-tag-current {
          float: left;
          width: 100%;
          margin-top: 70px;

          @media (min-width:321px) and (max-width:375px) {
            margin-top: 150px;
          }
          @media (min-width:376px) and (max-width:414px) {
            margin-top: 180px;
          }
          .register-box {
            background: none;

            label.error {
              color: #f4e823;
            }
            .register-user-form {
              padding: 0 10px;

              @media (min-width:321px) and (max-width:414px) {
                padding: 0 30px;
              }
            }
            ul.reg-list {
              li {
                position: relative;
                margin-bottom: 10px;
                label{
                  display:none;
                }
                &.mobile-agreement {
                  color: #f4e823;
                  font-size: 14px;
                  @media(max-width:320px){
                    font-size:12px;
                  }
                  a {
                    color: #f4e823;
                  }
                }
                span.error{
                  color: #f4e823;
                }
                i {
                  display: none;
                }
                input[type="password"], input[type="text"] {
                  padding: 5px 15px;
                  line-height: 23px;
                  width: 100%;
                  background: #fefcec;
                  border-radius: 5px;
                  border: 1px solid #7b1c1f;
                  box-sizing:border-box;
                }
                .long {
                  width: 100%;
                }
                .register-user {
                  width: 100%;
                  height:50px;
                  text-indent: -9999em;
                  background: url('../images/wx-register/submit-bg.png') no-repeat center;
                  background-size: 80%;
                  border:none;
                }
                .captcha-tag {
                  .fetch-captcha {
                    height: 35px;
                    padding: 5px 10px;
                    position: absolute;
                    right: 0;
                    top: 0;
                    border-radius: 0;
                    border-left: 1px solid #ccc;
                  }
                }
                .image-captcha {
                  position: absolute;
                  right: 0;
                  top: 0;
                  height: 35px;
                  width: 105px;

                  img {
                    width: 100%;
                    height: 35px;
                  }
                }
                .img-change {
                  position: absolute;
                  right: 0;
                  bottom: 0;
                  height: 35px;
                  width: 105px;
                  z-index: 99;
                  text-indent: -9999em;
                }
              }
            }
          }
        }
      }
      .intro-group {
        float: left;
        width: 100%;
        dt {
          float: left;
          width: 100%;
          margin: 20px 0 10px;
          height:30px;
          background: url('../images/wx-register/title-text.png') no-repeat center;
          background-size: 100%;
        }
        dd {
          float: left;
          width: 100%;
          margin-bottom: 10px;

          i {
            float: left;
            width: 100px;
            height: 50px;

            &.icon-one {
              background: url('../images/wx-register/icon-one.png') no-repeat center;
              background-size: 100%;
            }
            &.icon-two {
              background: url('../images/wx-register/icon-two.png') no-repeat center;
              background-size: 100%;
            }
            &.icon-three {
              background: url('../images/wx-register/icon-three.png') no-repeat center;
              background-size: 100%;
            }
            &.icon-four {
              background: url('../images/wx-register/icon-four.png') no-repeat center;
              background-size: 100%;
            }
            &.icon-five {
              background: url('../images/wx-register/icon-five.png') no-repeat center;
              background-size: 100%;
            }
            &.icon-six {
              background: url('../images/wx-register/icon-six.png') no-repeat center;
              background-size: 100%;
            }
          }
          span {
            float: left;
            width: auto;
            padding-left: 20px;
            font-size: 20px;
            line-height: 50px;
            color: #cd2e34;
          }
        }
      }
    }
  }
}
.getbag-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 50px;
  box-sizing: border-box;
  background: #fffbe3 url('../images/wx-register/red-bag.png') no-repeat center;
  background-size:100%;
  .get-bag{
    width:100%;
    position: absolute;
    top:50%;
    left:50%;
    margin-top:80px;
    margin-left:-50%;
    text-align:center;
    span{
      display:inline-block;
      width:200px;
      height:60px;
      background: url('../images/wx-register/get-btn.png') no-repeat center;
      background-size:100%;
    }
  }
}
.success-container {
  display:none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../images/wx-register/success-bg.jpg') no-repeat center;
  background-size: 100%;
  padding: 0 50px;
  box-sizing: border-box;

  p {
    margin-bottom: 0;
    text-align: center;
    &.success-title {
      margin-top: 105px;
      height:30px;
      background: url('../images/wx-register/success-title.png') no-repeat center;
      background-size: 100%;
    }
    &.info-text {
      color: #ffe715;
      font-size: 15px;
      text-align: center;
    }
    &.logo-item{
      margin-top:50px;
      .logo-icon {
        display:inline-block;
        background: url('../images/wx-register/logo-icon.png') no-repeat center;
        background-size: 100%;
        width: 80px;
        height: 85px;
      }
    }
    &.footer-text{
      width:100%;
      position: absolute;
      left:0;
      bottom:20px;
      text-align:center;
      color:#652093;
      font-size:15px;
    }
    .btn-item{
      display: inline-block;
      width:100%;
      height:70px;
      background: url('../images/wx-register/download-btn.png') no-repeat center;
      background-size: 100%;
    }
  }
}
.header-container, .nav-container, .footer-container {
  display: none;
}