<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
		   http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		   http://www.springframework.org/schema/security
		   http://www.springframework.org/schema/security/spring-security-4.0.xsd">

    <beans:bean id="saltSource" class="org.springframework.security.authentication.dao.ReflectionSaltSource">
        <beans:property name="userPropertyToUse" value="salt"/>
    </beans:bean>

    <beans:bean id="myAccessDeniedHandler" class="com.tuotiansudai.security.MyAccessDeniedHandler">
        <beans:property name="errorPage" value="/403"/>
        <beans:property name="onlyUserAccessDeniedRedirect" value="/register/account"/>
        <beans:property name="errorPageMapping">
            <beans:map>
                <beans:entry key="/register/user" value="/"/>
                <beans:entry key="/login" value="/"/>
            </beans:map>
        </beans:property>
    </beans:bean>

    <beans:bean id="captchaHelper" class="com.tuotiansudai.util.CaptchaHelper"/>

    <beans:bean id="webExpressionVoter" class="org.springframework.security.web.access.expression.WebExpressionVoter"/>

    <beans:bean id="affirmativeBased" class="com.tuotiansudai.security.MyAffirmativeBased">
        <beans:constructor-arg ref="webExpressionVoter"/>
    </beans:bean>

    <http auto-config="true" use-expressions="true">
        <access-denied-handler ref="myAccessDeniedHandler"/>

        <!--<intercept-url pattern="/*" access="isAnonymous()"/>-->
        <intercept-url pattern="/" access="permitAll()"/>
        <intercept-url pattern="/monitor" access="permitAll()"/>
        <intercept-url pattern="/register" access="isAnonymous()"/>

        <intercept-url pattern="/mobile-retrieve-password*" access="isAnonymous()"/>

        <intercept-url pattern="/login" access="isAnonymous()"/>
        <intercept-url pattern="/login-handler" access="isAnonymous()"/>
        <intercept-url pattern="/recharge" access="hasAuthority('USER')"/>
        <intercept-url pattern="/withdraw" access="hasAuthority('USER')"/>
        <intercept-url pattern="/bind-card" access="hasAuthority('USER')"/>
        <intercept-url pattern="/*" access="hasAuthority('USER')"/>
        <csrf disabled="true"/>
    </http>

</beans:beans>