@import 'variables';
@mixin user-select($bool) {
  -webkit-user-select: $bool;
  -moz-user-select: $bool;
  -ms-user-select: $bool;
  user-select: $bool;
}
.btn {
  font: {
    size: 18px;
    weight: normal;
    family: $fontStack;
  }
  display: inline-block;
  padding: 8px 22px;
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.3;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  @include user-select(none);
  background: nth($btnColor1,1);
  border:0;
  color: #fff;
  &:hover,
  &:focus,
  &.focus {
    text-decoration: none;
    background: nth($btnColor1,2);
    color:#fff;
  }
  &:active,
  &.active {
    background-image: none;
    outline: 0;
  }
  &:disabled, &:disabled:hover {
    background: #ccc;
    border:1px solid #ccc;
    cursor: default;
    color: #fff;
  }
  &[disabled], &[disabled]:hover {
    background: #ccc;
    border:1px solid #ccc;
    cursor: default;
    color: #fff;
  }
}
.btn-main {
  @extend .btn;
  background: nth($btnColor2,1);
  color: #fff!important;
  font-size:22px;
  letter-spacing: 3px;
  padding: 8px 35px;
  &:hover {
    background: nth($btnColor2,2);
  }
}

