$fontStack:Microsoft YaHei,Helvetica, sans-serif;
$baseColor:#fff;
$linkColor:#4c4c4c #ff752a;
$btnColor1:#ff9d1a #ffbe66;
$btnColor2:#ff7200 #ff8f33;
$required:red;
$checkValid:#f71010 #6bc21e;

$headings: (h1: 2em, h2: 1.5em, h3: 1.2em,h4:18px, h5:16px);

$baseIconUrl:'/images/icons/';

@each $header, $size in $headings {
  #{$header} {
    font-size: $size;
    font-weight: normal;

  }
}
@mixin center-block {
  margin-left:auto;
  margin-right:auto;
}

@mixin text-overflow{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin border-radius ($sizing) {
  -webkit-border-radius:$sizing;
  -moz-border-radius:$sizing;
  border-radius:$sizing;
}
@mixin border-color ($color) {
  border:1px solid $color;
}

/* background gradient */
@mixin gradient-linear($angle,$fromColor,$toColor) {
  //Bottom -Top: 0deg
  //Top-Bottom:180deg
  //right-left: 270deg or -90deg
  //left-right :90deg or -270deg
  //right bottom- left top :315deg
  background-image:-webkit-linear-gradient($angle, $fromColor, $toColor);
  background-image:linear-gradient($angle,$fromColor,$toColor);
}




