<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.point.repository.mapper.PointBillMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache"/>

    <resultMap id="pointBillResultMap" type="PointBillModel">
        <id column="id" property="id"></id>
        <result column="order_id" property="orderId"></result>
        <result column="login_name" property="loginName"></result>
        <result column="point" property="point"></result>
        <result column="sudai_point" property="sudaiPoint"></result>
        <result column="channel_point" property="channelPoint"></result>
        <result column="business_type" property="businessType"></result>
        <result column="note" property="note"></result>
        <result column="created_time" property="createdTime"></result>
        <result column="mobile" property="mobile"></result>
        <result column="user_name" property="userName"></result>

    </resultMap>

    <resultMap id="userTotalPointResultMap" type="UserTotalPointViewDto">
        <result column="login_name" property="loginName"></result>
        <result column="total_sudai_point" property="totalSudaiPoint"></result>
        <result column="total_channel_point" property="totalChannelPoint"></result>
        <result column="total_point" property="totalPoint"></result>
    </resultMap>

    <resultMap id="pointBillViewResultMap" type="PointBillViewDto" extends="pointBillResultMap">
        <result column="channel" property="channel"></result>
    </resultMap>

    <insert id="create" parameterType="PointBillModel" useGeneratedKeys="true" keyProperty="id">
        insert into point_bill (order_id, login_name,mobile,user_name ,point, sudai_point, channel_point, business_type, note, created_time)
        value(#{orderId}, #{loginName},#{mobile},#{userName}, #{point}, #{sudaiPoint}, #{channelPoint}, #{businessType}, #{note}, #{createdTime})
    </insert>

    <select id="findByLoginName" parameterType="string" resultMap="pointBillResultMap">
        select * from point_bill where login_name = #{loginName}
        order by created_time desc, id desc;
    </select>

    <select id="findPointBillPagination" parameterType="map" resultMap="pointBillResultMap">
        select * from point_bill
        <where>
            <if test="loginName != null and loginName != ''">
                and login_name = #{loginName}
            </if>
            <if test="pointType == 'INCOME'">
                and point >= 0
            </if>
            <if test="pointType == 'EXPENSE'">
                <![CDATA[ and point < 0 ]]>
            </if>
            <if test="businessTypes != null and businessTypes.size() > 0 ">
                and business_type IN
                <foreach collection="businessTypes" item="businessType" open="(" separator="," close=")">
                    #{businessType}
                </foreach>
            </if>
            <if test="startTime != null  &amp;&amp;  endTime != null">
                and created_time between #{startTime} and #{endTime}
            </if>
        </where>
        order by created_time desc
        limit #{index}, #{pageSize}
    </select>

    <select id="findCountPointBillPagination" parameterType="map" resultType="long">
        select count(1)
        from point_bill
        <where>
            <if test="loginName != null and loginName != ''">
                and login_name = #{loginName}
            </if>
            <if test="pointType == 'INCOME'">
                and point >= 0
            </if>
            <if test="pointType == 'EXPENSE'">
                <![CDATA[ and point < 0 ]]>
            </if>
            <if test="businessTypes != null and businessTypes.size() > 0">
                and business_type IN
                <foreach collection="businessTypes" item="businessType" open="(" separator="," close=")">
                    #{businessType}
                </foreach>
            </if>
            <if test="startTime != null &amp;&amp; endTime != null">
                and created_time between #{startTime} and #{endTime}
            </if>
        </where>
    </select>

    <select id="findPointBillByLoginName" parameterType="map" resultMap="pointBillResultMap">
        select * from point_bill
        <where>
            <if test="loginName != null and loginName != ''">
                and login_name = #{loginName}
            </if>
        </where>
        order by created_time desc
        limit #{index}, #{pageSize}
    </select>

    <select id="findCountPointBillByLoginName" parameterType="map" resultType="long">
        select count(1)
        from point_bill
        <where>
            <if test="loginName != null and loginName != ''">
                and login_name = #{loginName}
            </if>
        </where>
    </select>

    <select id="findLatestSignInPointBillByLoginName" parameterType="map" resultMap="pointBillResultMap">
        select * from point_bill where login_name = #{loginName} and business_type = 'SIGN_IN' order by created_time desc LIMIT 1
    </select>

    <select id="findUserTotalPoint" parameterType="string" resultMap="userTotalPointResultMap">
        SELECT
            #{loginName} as login_name,
            IFNULL(SUM(point),0) as total_point,
            IFNULL(SUM(sudai_point),0) as total_sudai_point,
            IFNULL(SUM(channel_point),0) as total_channel_point
        FROM point_bill
        WHERE point > 0 AND login_name = #{loginName}
    </select>

    <select id="findSumPointByLoginNameAndBusinessType" parameterType="map" resultType="long">
        select IFNULL(SUM(point),0) from point_bill
        <where>
            <if test="loginName != null and loginName != ''">
                and login_name = #{loginName}
            </if>
            <if test="businessTypes != null and businessTypes.size() > 0">
                and business_type IN
                <foreach collection="businessTypes" item="businessType" open="(" separator="," close=")">
                    #{businessType}
                </foreach>
            </if>
            <if test="startTime != null &amp;&amp; endTime != null">
                and created_time between #{startTime} and #{endTime}
            </if>
        </where>
    </select>

    <select id="getPointBillPaginationConsole" parameterType="map" resultMap="pointBillViewResultMap">
        select p.*,up.channel from point_bill p
        join user_point up on p.login_name = up.login_name
        <where>
            <if test="startTime != null">
                and p.created_time &gt;= #{startTime}
            </if>

            <if test="endTime != null ">
                and p.created_time &lt;= #{endTime}
            </if>
            <if test="businessType != null">
                and p.business_type = #{businessType}
            </if>
            <if test="channel != null and channel == ''">
                and abs(p.point) >= 0
            </if>

            <if test="channel != null and channel == '' and minPoint != null">
                and abs(p.point) >= #{minPoint}
            </if>
            <if test="channel != null and channel == '' and maxPoint != null">
                and abs(p.point) &lt;= #{maxPoint}
            </if>

            <if test="channel != null and channel == 'SUDAI' ">
                and abs(p.sudai_point) >= 0
            </if>

            <if test="channel != null and channel == 'SUDAI' and minPoint != null">
                and abs(p.sudai_point) >= #{minPoint}
            </if>
            <if test="channel != null and channel == 'SUDAI' and maxPoint != null">
                and abs(p.sudai_point) &lt;= #{maxPoint}
            </if>

            <if test="channel != null and channel != 'SUDAI' and channel != ''">
                and abs(p.channel_point) >= 0 and up.channel = #{channel}
            </if>

            <if test="channel != null and channel != 'SUDAI' and channel !='' and minPoint != null">
                and abs(p.channel_point) >= #{minPoint}
            </if>
            <if test="channel != null and channel != 'SUDAI' and channel !='' and maxPoint != null">
                and abs(p.channel_point) &lt;= #{maxPoint}
            </if>
            <if test="userNameOrMobile != null and userNameOrMobile != ''">
                and (p.user_name = #{userNameOrMobile} or p.mobile = #{userNameOrMobile})
            </if>
            <if test="pointConsumeBusinessType != null and pointConsumeBusinessType.size() > 0 ">
                and business_type IN
                <foreach collection="pointConsumeBusinessType" item="businessTypeTemp" open="(" separator="," close=")">
                    #{businessTypeTemp}
                </foreach>
            </if>

        </where>
        ORDER BY p.created_time desc
        limit #{index}, #{pageSize}
    </select>

    <select id="getCountPointBillPaginationConsole" resultType="long" parameterType="map">
        select count(1) from point_bill p
        join user_point up on p.login_name = up.login_name
        <where>
            <if test="startTime != null">
                and p.created_time &gt;= #{startTime}
            </if>

            <if test="endTime != null ">
                and p.created_time &lt;= #{endTime}
            </if>
            <if test="businessType != null">
                and p.business_type = #{businessType}
            </if>
            <if test="channel != null and channel == ''">
                and abs(p.point) >= 0
            </if>

            <if test="channel != null and channel == '' and minPoint != null">
                and abs(p.point) >= #{minPoint}
            </if>
            <if test="channel != null and channel == '' and maxPoint != null">
                and abs(p.point) &lt;= #{maxPoint}
            </if>

            <if test="channel != null and channel == 'SUDAI' ">
                and abs(p.sudai_point) >= 0
            </if>

            <if test="channel != null and channel == 'SUDAI' and minPoint != null">
                and abs(p.sudai_point) >= #{minPoint}
            </if>
            <if test="channel != null and channel == 'SUDAI' and maxPoint != null">
                and abs(p.sudai_point) &lt;= #{maxPoint}
            </if>

            <if test="channel != null and channel != 'SUDAI' and channel != ''">
                and abs(p.channel_point) >= 0 and up.channel = #{channel}
            </if>

            <if test="channel != null and channel != 'SUDAI' and channel !='' and minPoint != null">
                and abs(p.channel_point) >= #{minPoint}
            </if>
            <if test="channel != null and channel != 'SUDAI' and channel !='' and maxPoint != null">
                and abs(p.channel_point) &lt;= #{maxPoint}
            </if>
            <if test="userNameOrMobile != null and userNameOrMobile != ''">
                and (p.user_name = #{userNameOrMobile} or p.mobile = #{userNameOrMobile})
            </if>
            <if test="pointConsumeBusinessType != null and pointConsumeBusinessType.size() > 0 ">
                and business_type IN
                <foreach collection="pointConsumeBusinessType" item="businessTypeTemp" open="(" separator="," close=")">
                    #{businessTypeTemp}
                </foreach>
            </if>

        </where>
    </select>
</mapper>