<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.paywrapper.repository.mapper.BankCardNotifyMapper">




    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="BankCardNotifyRequestModel">
        insert into mer_bind_card_notify_request (service, sign_type, sign, mer_id, version, user_id, order_id, gate_id, last_four_cardid, user_bind_agreement_list, mer_date, ret_code, request_time, response_time, request_data, response_data)
        values (#{service}, #{signType}, #{sign}, #{merId}, #{version}, #{userId}, #{orderId}, #{gateId}, #{lastFourCardid}, #{userBindAgreementList}, #{merDate}, #{retCode}, #{requestTime}, #{responseTime}, #{requestData}, #{responseData})
    </insert>

</mapper>