<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.paywrapper.repository.mapper.InvestNotifyRequestMapper">

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="InvestNotifyRequestModel">
        insert into invest_notify_request (service, sign_type, sign, mer_id, version, order_id, mer_date, trade_no, mer_check_date, ret_code, ret_msg, request_time, response_time, request_data, response_data)
        values (#{service}, #{signType}, #{sign}, #{merId}, #{version}, #{orderId}, #{merDate}, #{tradeNo}, #{merCheckDate}, #{retCode}, #{retMsg}, #{requestTime}, #{responseTime}, #{requestData}, #{responseData})
    </insert>

    <select id="getTodoList" parameterType="map" resultType="com.tuotiansudai.paywrapper.repository.model.async.callback.InvestNotifyRequestModel">
        <![CDATA[
          select * from invest_notify_request where status='0' order by request_time asc limit #{limitCount};
         ]]>
    </select>

    <update id="updateStatus" keyColumn="id" keyProperty="id" parameterType="map">
        update invest_notify_request set status = #{status} where id = #{id}
    </update>

</mapper>