<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.paywrapper.repository.mapper.MerBindProjectMapper">

    <resultMap id="requestMap" type="MerBindProjectRequestModel">
        <id property="id" column="id" />
        <result property="service" column="service"/>
        <result property="signType" column="sign_type"/>
        <result property="sign" column="sign"/>
        <result property="charset" column="charset"/>
        <result property="merId" column="mer_id"/>
        <result property="version" column="version"/>
        <result property="projectId" column="project_id"/>
        <result property="projectName" column="project_name"/>
        <result property="projectAmount" column="project_amount"/>
        <result property="loanUserId" column="loan_user_id"/>
        <result property="ctrlOverInvest" column="ctrl_over_invest"/>
        <result property="requestUrl" column="request_url"/>
        <result property="requestData" column="request_data"/>
        <result property="requestTime" column="request_time"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="findRequestById" resultMap="requestMap" parameterType="java.lang.Long">
        select * from mer_bind_project_request where id = #{id}
    </select>

    <insert id="createRequest" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="MerBindProjectRequestModel">
        insert into mer_bind_project_request (service, sign_type, sign, charset, mer_id, version, project_id,project_name,project_amount,loan_user_id, ctrl_over_invest, request_url, request_data,request_time,status)
        values (#{service}, #{signType}, #{sign}, #{charset}, #{merId}, #{version}, #{projectId}, #{projectName}, #{projectAmount}, #{loanUserId}, #{ctrlOverInvest}, #{requestUrl}, #{requestData}, #{requestTime}, #{status})
    </insert>

    <update id="updateRequestStatus" keyColumn="id" keyProperty="id" parameterType="map">
        update mer_bind_project_request set status = #{status} where id = #{id}
    </update>

    <insert id="createResponse" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="MerBindProjectResponseModel">
        insert into mer_bind_project_response (request_id, sign_type, sign, mer_Id, version, project_account_id, project_state, mer_check_date,ret_code,ret_msg,response_data,response_time)
        values (#{requestId}, #{signType}, #{sign}, #{merId}, #{version}, #{projectAccountId}, #{projectState}, #{merCheckDate}, #{retCode}, #{retMsg}, #{responseData}, #{responseTime})
    </insert>

</mapper>