<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.paywrapper.repository.mapper.PtpMerReplaceCardMapper">

    <resultMap id="requestMap" type="PtpMerReplaceCardRequestModel">
        <id property="id" column="id" />
        <result property="service" column="service"/>
        <result property="signType" column="sign_type"/>
        <result property="sign" column="sign"/>
        <result property="charset" column="charset"/>
        <result property="merId" column="mer_id"/>
        <result property="version" column="version"/>
        <result property="retUrl" column="ret_url"/>
        <result property="notifyUrl" column="notify_url"/>
        <result property="orderId" column="order_id"/>
        <result property="merDate" column="mer_date"/>
        <result property="userId" column="user_id"/>
        <result property="cardId" column="card_id"/>
        <result property="accountName" column="account_name"/>
        <result property="identityType" column="identity_type"/>
        <result property="identityCode" column="identity_code"/>
        <result property="requestTime" column="request_time"/>
        <result property="requestUrl" column="request_url"/>
        <result property="requestData" column="request_data"/>
        <result property="status" column="status"/>
    </resultMap>

    <select id="findById" resultMap="requestMap" parameterType="java.lang.Long">
        select * from ptp_mer_replace_card_request where id = #{id}
    </select>

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="PtpMerReplaceCardRequestModel">
        insert into ptp_mer_replace_card_request (service, sign_type, sign, charset, mer_Id, version, ret_url,notify_url, order_id, mer_date,user_id, card_id, account_name, identity_type, identity_code,request_time,request_url, request_data, status)
        values (#{service}, #{signType}, #{sign}, #{charset}, #{merId}, #{version},#{retUrl}, #{notifyUrl}, #{orderId}, #{merDate}, #{userId}, #{cardId}, #{accountName}, #{identityType},#{identityCode},#{requestTime}, #{requestUrl}, #{requestData}, #{status})
    </insert>


</mapper>