<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.paywrapper.repository.mapper.WithdrawNotifyMapper">

    <insert id="create" keyColumn="id" keyProperty="id" useGeneratedKeys="true" parameterType="WithdrawNotifyRequestModel">
        insert into withdraw_notify_request (sign_type, sign, mer_id, version, order_id, mer_date, trade_no, amount, com_amt, com_amt_type, trade_state, transfer_date, transfer_settle_date, ret_code, ret_msg, request_time, response_time, request_data, response_data)
        values (#{signType}, #{sign}, #{merId}, #{version}, #{orderId}, #{merDate}, #{tradeNo}, #{amount}, #{comAmt}, #{comAmtType}, #{tradeState}, #{transferDate}, #{transferSettleDate}, #{retCode}, #{retMsg}, #{requestTime}, #{responseTime}, #{requestData}, #{responseData})
    </insert>

</mapper>