
.edit-payment-password {
  margin-top:8px;

  .forget-password {
    text-align: right;
    padding-top: 10px;
    padding-right:20px;
  }

}

.reset-payment-password {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 16px;
    color: #808080;
    padding:30px 0px 20px 0px;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .input-box {
      width:90%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      box-sizing: border-box;
      height:45px;
      background: #FFFFFF;
      border: 1px solid #C9C9C9;
      border-radius: 57px;
      overflow: hidden;
      margin-bottom:20px;
      input {
        flex: 1;
        border: 0;
        width: 25%;
        font-size: 20px;
        color: #525252;
        text-align: center;
        & + input {
          border-left:1px solid #C9C9C9;
        }
      }
    }

  }

}