.account-overview {
  padding: 0 !important; }
  .account-overview .new-user-award {
    background: #fff1e5;
    margin-top: 10px;
    height: 38px;
    line-height: 38px;
    border: 1px solid #ff7200;
    border-radius: 2px; }
    .account-overview .new-user-award span {
      background: #ff0000;
      color: #fff;
      padding: 3px 8px;
      border-radius: 10px;
      margin: 0 10px; }
  .account-overview .sign-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none; }
    .account-overview .sign-layer .sign-layer-list {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -150px;
      margin-left: -250px;
      width: 500px;
      height: 300px;
      background: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      overflow: hidden; }
      .account-overview .sign-layer .sign-layer-list .sign-top {
        float: left;
        width: 100%;
        height: 250px;
        position: relative; }
        .account-overview .sign-layer .sign-layer-list .sign-top .close-btn {
          position: absolute;
          top: 15px;
          right: 15px;
          width: 15px;
          height: 15px;
          background: url("/images/sign/bean-bg.png") no-repeat;
          background-position: 0px -23px;
          cursor: pointer; }
        .account-overview .sign-layer .sign-layer-list .sign-top p {
          text-align: center; }
          .account-overview .sign-layer .sign-layer-list .sign-top p.sign-text {
            margin-top: 10px;
            color: #ff7200;
            font-size: 18px;
            margin-bottom: 0; }
          .account-overview .sign-layer .sign-layer-list .sign-top p.tomorrow-text {
            font-size: 14px;
            color: #4c4c4c; }
          .account-overview .sign-layer .sign-layer-list .sign-top p.img-beans {
            position: relative; }
            .account-overview .sign-layer .sign-layer-list .sign-top p.img-beans .add-dou {
              position: absolute;
              left: 50%;
              margin-left: -30px;
              bottom: 0;
              width: 40px;
              height: 30px;
              padding-right: 20px;
              font-size: 20px;
              line-height: 25px;
              color: #fff;
              text-align: center;
              background: url("/images/sign/add-bean.png") no-repeat right; }
          .account-overview .sign-layer .sign-layer-list .sign-top p.intro-text {
            font-size: 14px;
            color: #4d4d4d; }
            .account-overview .sign-layer .sign-layer-list .sign-top p.intro-text span {
              color: #ff7200; }
      .account-overview .sign-layer .sign-layer-list .sign-bottom {
        float: left;
        width: 100%;
        height: 50px; }
        .account-overview .sign-layer .sign-layer-list .sign-bottom ul {
          float: left;
          width: 100%;
          border-top: 1px solid #e6e6e6; }
          .account-overview .sign-layer .sign-layer-list .sign-bottom ul li {
            float: left;
            width: 59px;
            height: 50px;
            text-align: center;
            border-right: 1px solid #e6e6e6; }
            .account-overview .sign-layer .sign-layer-list .sign-bottom ul li.last-day {
              width: 79px; }
              .account-overview .sign-layer .sign-layer-list .sign-bottom ul li.last-day .day-beans span {
                margin-left: 30px;
                line-height: 15px;
                margin-top: -5px; }
            .account-overview .sign-layer .sign-layer-list .sign-bottom ul li p {
              margin-bottom: 0;
              line-height: 25px; }
              .account-overview .sign-layer .sign-layer-list .sign-bottom ul li p.day-name {
                font-size: 12px;
                color: #7f7f7f; }
              .account-overview .sign-layer .sign-layer-list .sign-bottom ul li p.day-beans {
                font-size: 14px;
                color: #4d4d4d; }
                .account-overview .sign-layer .sign-layer-list .sign-bottom ul li p.day-beans span {
                  float: left;
                  width: 20px;
                  text-align: right;
                  line-height: 15px;
                  margin-left: 10px; }
                .account-overview .sign-layer .sign-layer-list .sign-bottom ul li p.day-beans .bean-img {
                  float: left;
                  width: 15px;
                  height: 15px;
                  background: url("/images/sign/bean-bg.png") no-repeat;
                  background-position: 0 0;
                  margin-top: 2px; }
  .account-overview.content-container {
    border: 0;
    border-radius: 0;
    background: none; }
  .account-overview .birth-icon {
    float: left;
    width: 20px;
    height: 20px;
    background: url(/images/sign/birthday.png) no-repeat center;
    background-size: 15px;
    left: 50px;
    position: relative; }
  .account-overview .accountImg {
    margin-right: 10px;
    width: 71px;
    height: 71px; }
  .account-overview .proList {
    margin-top: 4px; }
    .account-overview .proList li a {
      display: block; }
    .account-overview .proList li.fl {
      font-size: 20px;
      line-height: 0;
      margin-top: 14px;
      margin-right: 3px; }
      .account-overview .proList li.fl a {
        display: block; }
      .account-overview .proList li.fl.sign-top {
        margin-top: 5px !important;
        padding: 5px 0;
        background: #ff7200;
        color: #fff;
        border-radius: 0px;
        width: 80px;
        height: 20px;
        line-height: 20px;
        text-align: center; }
        .account-overview .proList li.fl.sign-top.no-click {
          background: #ccc; }
        .account-overview .proList li.fl.sign-top span {
          float: left;
          text-align: center;
          line-height: 20px;
          font-size: 14px; }
          .account-overview .proList li.fl.sign-top span.will-sign {
            float: left;
            width: 60px;
            text-align: center;
            line-height: 20px;
            background: url("/images/sign/icon-sign.png") no-repeat left;
            background-position: 15px 2px;
            padding-left: 20px;
            font-size: 14px;
            cursor: pointer; }
          .account-overview .proList li.fl.sign-top span.finish-sign {
            width: 100%;
            cursor: no-drop; }
      .account-overview .proList li.fl.beans-number {
        margin-top: 18px !important;
        margin-left: 25px !important;
        font-size: 14px !important;
        color: #4c4c4c;
        line-height: 14px !important; }
      .account-overview .proList li.fl.fl {
        font-size: 20px;
        line-height: 0;
        margin-top: 14px;
        margin-right: 3px; }
        .account-overview .proList li.fl.fl a {
          color: #ffac2a;
          cursor: pointer; }
          .account-overview .proList li.fl.fl a.fa-mobile {
            font-size: 24px;
            margin-top: -3px; }
          .account-overview .proList li.fl.fl a.fa-envelope-o {
            color: #666; }
        .account-overview .proList li.fl.fl.fa-mobile {
          font-size: 24px;
          margin-top: -3px; }
        .account-overview .proList li.fl.fl.fa-envelope-o {
          color: #666; }
    .account-overview .proList li .btn-primary, .account-overview .proList li .btn-normal {
      margin-left: 10px;
      padding: 8px 20px; }
  .account-overview .vip {
    display: inline-block;
    width: 38px;
    height: 14px;
    vertical-align: middle; }
    .account-overview .vip.vip0 {
      background: url("/images/icons/vip/account-vip/v0.png") no-repeat; }
    .account-overview .vip.vip1 {
      background: url("/images/icons/vip/account-vip/v1.png") no-repeat; }
    .account-overview .vip.vip2 {
      background: url("/images/icons/vip/account-vip/v2.png") no-repeat; }
    .account-overview .vip.vip3 {
      background: url("/images/icons/vip/account-vip/v3.png") no-repeat; }
    .account-overview .vip.vip4 {
      background: url("/images/icons/vip/account-vip/v4.png") no-repeat; }
    .account-overview .vip.vip5 {
      background: url("/images/icons/vip/account-vip/v5.png") no-repeat; }
  .account-overview .user-info {
    display: inline-block;
    width: 20px;
    height: 14px;
    vertical-align: middle;
    background: url("/images/icons/vip/account-vip/user-info.png") no-repeat; }
  .account-overview .newProjects.bRadiusBox {
    padding: 0;
    border-bottom-width: 0px; }
    .account-overview .newProjects.bRadiusBox caption {
      border-width: 0px;
      font-size: 16px;
      padding-left: 15px; }
      .account-overview .newProjects.bRadiusBox caption .fr {
        font-size: 13px;
        padding-top: 5px; }
  .account-overview .newProjects .birth-icon {
    float: left;
    width: 20px;
    height: 20px;
    background: url(/images/sign/birthday.png) no-repeat center;
    background-size: 15px;
    left: 50px;
    position: relative; }
  .account-overview .newProjects .trade-detail {
    width: 170px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .account-overview .LastMonth table, .account-overview .tMonthPayment table {
    border: 1px solid #ffac2a; }
    .account-overview .LastMonth table caption, .account-overview .tMonthPayment table caption {
      border-color: #ffac2a;
      color: #ffac2a; }
    .account-overview .LastMonth table tr:nth-last-child(1) > td, .account-overview .tMonthPayment table tr:nth-last-child(1) > td {
      border-bottom-width: 0; }
  .account-overview .tMonthPayment table tr:nth-last-child(1) > td {
    border-bottom-width: 0; }
  .account-overview .tMonthPayment table tfoot tr td {
    border-top: 1px solid #ffac2a;
    border-bottom: 1px solid #ffac2a; }
  .account-overview .assets-box {
    overflow: hidden;
    box-sizing: border-box; }
    .account-overview .assets-box .assets-report {
      width: 39%;
      height: 142px; }
      .account-overview .assets-box .assets-report h3 {
        line-height: 15px;
        padding-bottom: 10px; }
    .account-overview .assets-box .assets-detail {
      height: 142px;
      width: 53%; }
      .account-overview .assets-box .assets-detail .detail-list {
        margin-top: 30px; }
        .account-overview .assets-box .assets-detail .detail-list li {
          float: left;
          width: 50%;
          box-sizing: border-box;
          padding-left: 20px; }
          .account-overview .assets-box .assets-detail .detail-list li b {
            font-weight: normal; }
          .account-overview .assets-box .assets-detail .detail-list li span {
            display: inline-block;
            padding-left: 20px;
            color: #ffac2a;
            padding-right: 3px; }
  .account-overview .PaymentSwitch li {
    float: left;
    font-size: 16px;
    margin-right: 18px;
    margin-bottom: 10px; }
    .account-overview .PaymentSwitch li a {
      color: #000; }
    .account-overview .PaymentSwitch li.current a {
      color: #ffac2a; }

/*# sourceMappingURL=_account_overview.css.map */