.login-tip {
  float: left;
  width: 750px;
  height: 410px;
  display: none;
  position: relative; }
  @media (max-width: 700px) {
    .login-tip {
      width: 320px;
      height: auto; } }
  .login-tip .login-box {
    float: left;
    width: 290px;
    font-size: 13px;
    text-align: left;
    margin: 0 70px; }
    @media (max-width: 700px) {
      .login-tip .login-box {
        margin: 0 15px; } }
    .login-tip .login-box h3 {
      font-size: 20px;
      color: #4c4c4c;
      font-weight: normal;
      line-height: 24px;
      margin: 30px 0 10px 0; }
    .login-tip .login-box label {
      float: left;
      width: 100%;
      margin-top: 20px;
      border: #dadada 1px solid;
      box-sizing: border-box;
      position: relative; }
      .login-tip .login-box label.error {
        position: absolute;
        bottom: -23px;
        left: 0;
        margin-bottom: 0;
        border: none;
        width: 100%; }
      .login-tip .login-box label input {
        float: left;
        width: 240px;
        border: none;
        line-height: 30px; }
        .login-tip .login-box label input.captcha {
          width: 120px; }
      .login-tip .login-box label .image-captcha {
        width: 120px;
        overflow: hidden;
        height: 43px;
        cursor: pointer; }
      .login-tip .login-box label .name {
        float: left;
        width: 30px;
        height: 30px;
        text-align: left;
        margin: 5px 0 0 5px;
        background: url("/images/logintip/result_20160901.png") no-repeat; }
        .login-tip .login-box label .name.user {
          background-position: 2px 1px; }
        .login-tip .login-box label .name.pass {
          background-position: 5px -36px; }
        .login-tip .login-box label .name.capt {
          background-position: 3px -70px; }
    .login-tip .login-box .forgot-password {
      float: left;
      width: 100%;
      font-size: 12px;
      margin-top: 20px; }
      .login-tip .login-box .forgot-password .btn-normal {
        width: 100%;
        font-size: 20px;
        margin-bottom: 10px;
        line-height: 27px; }
      .login-tip .login-box .forgot-password .fl a {
        color: #e64d0a; }
      .login-tip .login-box .forgot-password a {
        font-size: 14px;
        color: #545353; }
        .login-tip .login-box .forgot-password a.register {
          color: #e64d0a; }
  .login-tip .code-item {
    float: left;
    width: 310px;
    height: 305px;
    margin-top: 75px;
    background: url("/images/logintip/code-line.png") no-repeat;
    background-position: 0 0; }
    @media (max-width: 700px) {
      .login-tip .code-item {
        display: none; } }
    .login-tip .code-item p {
      font-size: 14px;
      color: #4c4c4c;
      text-align: center;
      margin-bottom: 0; }
      .login-tip .code-item p.code-img {
        margin: 15px 0 30px; }
  .login-tip .close-btn {
    position: absolute;
    top: 10px;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url("/images/logintip/result_20160901.png") no-repeat;
    background-position: 0 -108px; }

.main-frame {
  width: 100%;
  margin: 0 auto; }

.want-loan-group {
  float: left;
  width: 100%; }
  .want-loan-group .wp {
    width: 1000px;
    margin: 0 auto; }
    @media (max-width: 700px) {
      .want-loan-group .wp {
        width: 100%; } }
    .want-loan-group .wp:after {
      clear: both; }
  .want-loan-group .loan-top-group {
    float: left;
    width: 100%; }
    .want-loan-group .loan-top-group .top-images {
      display: block; }
      @media (max-width: 700px) {
        .want-loan-group .loan-top-group .top-images {
          display: none; } }
    .want-loan-group .loan-top-group .top-images-phone {
      display: none; }
      @media (max-width: 700px) {
        .want-loan-group .loan-top-group .top-images-phone {
          display: block; } }
  .want-loan-group .content-group {
    float: left;
    width: 100%;
    padding-bottom: 50px; }
    .want-loan-group .content-group.white-bg {
      background: #fff; }
    .want-loan-group .content-group .title-group {
      float: left;
      width: 100%;
      font-size: 24px;
      color: #4c4c4c;
      line-height: 30px;
      box-sizing: border-box;
      padding-left: 20px;
      margin: 30px 0 50px;
      position: relative; }
      @media (max-width: 700px) {
        .want-loan-group .content-group .title-group {
          font-size: 16px;
          padding-left: 40px;
          margin: 15px 0; } }
      .want-loan-group .content-group .title-group .border-item {
        position: absolute;
        top: 50%;
        left: 0;
        width: 10px;
        height: 30px;
        margin-top: -15px;
        border-radius: 5px;
        background: #8bbeff; }
        @media (max-width: 700px) {
          .want-loan-group .content-group .title-group .border-item {
            left: 20px;
            width: 5px;
            height: 14px;
            margin-top: -7px; } }
    .want-loan-group .content-group .intro-group {
      float: left;
      width: 100%; }
      .want-loan-group .content-group .intro-group li {
        float: left;
        width: 25%;
        text-align: center; }
        @media (max-width: 700px) {
          .want-loan-group .content-group .intro-group li {
            width: 100%;
            margin: 10px 0; } }
        .want-loan-group .content-group .intro-group li .model-item {
          display: inline-block;
          width: 100px; }
          @media (max-width: 700px) {
            .want-loan-group .content-group .intro-group li .model-item {
              width: 100%;
              box-sizing: border-box;
              padding-left: 100px;
              position: relative;
              text-indent: 1em; } }
          .want-loan-group .content-group .intro-group li .model-item p {
            float: left;
            width: 100%;
            font-size: 14px;
            color: #999999;
            margin-bottom: 0;
            text-align: center; }
            .want-loan-group .content-group .intro-group li .model-item p.icon-one {
              width: 100px;
              height: 100px;
              background: url("/images/wantloan/icon-one.png") no-repeat center;
              background-size: 100%; }
              @media (max-width: 700px) {
                .want-loan-group .content-group .intro-group li .model-item p.icon-one {
                  position: absolute;
                  top: 50%;
                  left: 25px;
                  margin-top: -35px;
                  width: 70px;
                  height: 70px; } }
            .want-loan-group .content-group .intro-group li .model-item p.icon-two {
              width: 100px;
              height: 100px;
              background: url("/images/wantloan/icon-two.png") no-repeat center;
              background-size: 100%; }
              @media (max-width: 700px) {
                .want-loan-group .content-group .intro-group li .model-item p.icon-two {
                  position: absolute;
                  top: 50%;
                  left: 25px;
                  margin-top: -35px;
                  width: 70px;
                  height: 70px; } }
            .want-loan-group .content-group .intro-group li .model-item p.icon-three {
              width: 100px;
              height: 100px;
              background: url("/images/wantloan/icon-three.png") no-repeat center;
              background-size: 100%; }
              @media (max-width: 700px) {
                .want-loan-group .content-group .intro-group li .model-item p.icon-three {
                  position: absolute;
                  top: 50%;
                  left: 25px;
                  margin-top: -35px;
                  width: 70px;
                  height: 70px; } }
            .want-loan-group .content-group .intro-group li .model-item p.icon-four {
              width: 100px;
              height: 100px;
              background: url("/images/wantloan/icon-four.png") no-repeat center;
              background-size: 100%; }
              @media (max-width: 700px) {
                .want-loan-group .content-group .intro-group li .model-item p.icon-four {
                  position: absolute;
                  top: 50%;
                  left: 25px;
                  margin-top: -35px;
                  width: 70px;
                  height: 70px; } }
            .want-loan-group .content-group .intro-group li .model-item p.name-text {
              font-size: 20px;
              color: #ff5400;
              margin-top: 10px; }
              @media (max-width: 700px) {
                .want-loan-group .content-group .intro-group li .model-item p.name-text {
                  text-align: left;
                  font-size: 16px;
                  margin-top: 0; } }
            .want-loan-group .content-group .intro-group li .model-item p.phone-info {
              display: none;
              text-align: left; }
              @media (max-width: 700px) {
                .want-loan-group .content-group .intro-group li .model-item p.phone-info {
                  display: block; } }
            .want-loan-group .content-group .intro-group li .model-item p.pc-info {
              display: block; }
              @media (max-width: 700px) {
                .want-loan-group .content-group .intro-group li .model-item p.pc-info {
                  display: none; } }
    .want-loan-group .content-group .project-list-group {
      float: left;
      width: 100%; }
      @media (max-width: 700px) {
        .want-loan-group .content-group .project-list-group {
          box-sizing: border-box;
          padding: 0 40px; } }
      .want-loan-group .content-group .project-list-group li {
        width: 350px;
        height: auto;
        background: #fff;
        border: 1px solid #e6e6e6;
        margin: 0 60px;
        padding: 30px 65px;
        box-sizing: border-box; }
        @media (max-width: 700px) {
          .want-loan-group .content-group .project-list-group li {
            width: 100%;
            margin: 10px 0;
            padding: 15px 60px; } }
        .want-loan-group .content-group .project-list-group li:hover {
          box-shadow: 0 0 15px 2px #e6e6e6;
          -webkit-transition: all .5s ease;
          transition: all .5s ease; }
        .want-loan-group .content-group .project-list-group li.home-loan-item {
          float: left; }
        .want-loan-group .content-group .project-list-group li.car-loan-item {
          float: right; }
        .want-loan-group .content-group .project-list-group li h3 {
          font-size: 20px;
          color: #ff5400;
          text-align: center; }
          @media (max-width: 700px) {
            .want-loan-group .content-group .project-list-group li h3 {
              font-size: 16px; } }
        .want-loan-group .content-group .project-list-group li i {
          width: 100%;
          height: 250px;
          display: inline-block; }
          @media (max-width: 700px) {
            .want-loan-group .content-group .project-list-group li i {
              height: 125px; } }
          .want-loan-group .content-group .project-list-group li i.icon-home {
            background: url("/images/wantloan/icon-home.png") no-repeat center; }
            @media (max-width: 700px) {
              .want-loan-group .content-group .project-list-group li i.icon-home {
                background-size: 70%; } }
          .want-loan-group .content-group .project-list-group li i.icon-car {
            background: url("/images/wantloan/icon-car.png") no-repeat center; }
            @media (max-width: 700px) {
              .want-loan-group .content-group .project-list-group li i.icon-car {
                background-size: 90%; } }
        .want-loan-group .content-group .project-list-group li .loan-btn {
          margin-bottom: 0;
          background: #ff5400;
          color: #fff;
          font-size: 24px;
          text-align: center;
          line-height: 56px;
          height: 56px;
          box-shadow: 0 4px #db4900;
          position: relative;
          cursor: pointer; }
          @media (max-width: 700px) {
            .want-loan-group .content-group .project-list-group li .loan-btn {
              font-size: 14px;
              line-height: 40px;
              height: 40px; } }
          .want-loan-group .content-group .project-list-group li .loan-btn:hover, .want-loan-group .content-group .project-list-group li .loan-btn:active {
            box-shadow: 0 2px #db4900;
            top: 2px; }
    .want-loan-group .content-group .step-list-group {
      float: left;
      width: 100%; }
      .want-loan-group .content-group .step-list-group li {
        float: left;
        width: 25%;
        text-align: center;
        box-sizing: border-box;
        position: relative; }
        .want-loan-group .content-group .step-list-group li .icon-line {
          position: absolute;
          top: 50%;
          right: -25px;
          width: 45px;
          height: 45px;
          margin-top: -45px;
          background: url("/images/wantloan/line-icon.png") no-repeat center;
          background-size: 100%; }
          @media (max-width: 700px) {
            .want-loan-group .content-group .step-list-group li .icon-line {
              background-size: 40%;
              margin-top: -40px;
              right: -22px; } }
        .want-loan-group .content-group .step-list-group li p {
          display: inline-block;
          margin-bottom: 0; }
          .want-loan-group .content-group .step-list-group li p.step-one {
            width: 100%;
            height: 120px;
            background: url("/images/wantloan/step-one.png") no-repeat center; }
            @media (max-width: 700px) {
              .want-loan-group .content-group .step-list-group li p.step-one {
                background-size: 60%;
                height: 60px; } }
          .want-loan-group .content-group .step-list-group li p.step-two {
            width: 100%;
            height: 120px;
            background: url("/images/wantloan/step-two.png") no-repeat center; }
            @media (max-width: 700px) {
              .want-loan-group .content-group .step-list-group li p.step-two {
                background-size: 60%;
                height: 60px; } }
          .want-loan-group .content-group .step-list-group li p.step-three {
            width: 100%;
            height: 120px;
            background: url("/images/wantloan/step-three.png") no-repeat center; }
            @media (max-width: 700px) {
              .want-loan-group .content-group .step-list-group li p.step-three {
                background-size: 60%;
                height: 60px; } }
          .want-loan-group .content-group .step-list-group li p.step-four {
            width: 100%;
            height: 120px;
            background: url("/images/wantloan/step-four.png") no-repeat center; }
            @media (max-width: 700px) {
              .want-loan-group .content-group .step-list-group li p.step-four {
                background-size: 60%;
                height: 60px; } }
          .want-loan-group .content-group .step-list-group li p.step-name {
            width: 100%;
            font-size: 18px;
            color: #ff5400;
            text-align: center; }
            @media (max-width: 700px) {
              .want-loan-group .content-group .step-list-group li p.step-name {
                font-size: 12px; } }
    .want-loan-group .content-group .step-problem-group {
      float: left;
      width: 100%;
      background: #fff; }
      .want-loan-group .content-group .step-problem-group .problem-item {
        float: left;
        width: 50%; }
        @media (max-width: 700px) {
          .want-loan-group .content-group .step-problem-group .problem-item {
            width: 100%; } }
        .want-loan-group .content-group .step-problem-group .problem-item .problem-list {
          float: left;
          width: 100%;
          padding: 20px 30px;
          box-sizing: border-box; }
          @media (max-width: 700px) {
            .want-loan-group .content-group .step-problem-group .problem-item .problem-list {
              padding: 0 15px; } }
          .want-loan-group .content-group .step-problem-group .problem-item .problem-list li {
            float: left;
            width: 100%; }
            .want-loan-group .content-group .step-problem-group .problem-item .problem-list li p {
              float: left;
              width: 100%; }
              @media (max-width: 700px) {
                .want-loan-group .content-group .step-problem-group .problem-item .problem-list li p {
                  margin-bottom: 10px; } }
              .want-loan-group .content-group .step-problem-group .problem-item .problem-list li p.info-text {
                font-size: 14px;
                color: #999;
                padding-left: 30px;
                box-sizing: border-box; }
                @media (max-width: 700px) {
                  .want-loan-group .content-group .step-problem-group .problem-item .problem-list li p.info-text {
                    font-size: 12px; } }
              .want-loan-group .content-group .step-problem-group .problem-item .problem-list li p .circle-icon {
                display: inline-block;
                width: 15px;
                height: 15px;
                margin-right: 15px;
                border-radius: 15px;
                box-shadow: 0 0 5px 0 #ffb759;
                background: #ff9c1b; }
              .want-loan-group .content-group .step-problem-group .problem-item .problem-list li p span {
                display: inline-block;
                font-size: 20px;
                color: #4d4d4d; }
                @media (max-width: 700px) {
                  .want-loan-group .content-group .step-problem-group .problem-item .problem-list li p span {
                    font-size: 14px; } }
  .want-loan-group .home-tip-group {
    float: left;
    width: 500px;
    height: 510px;
    display: none; }
    @media (max-width: 700px) {
      .want-loan-group .home-tip-group {
        width: 320px; } }
    .want-loan-group .home-tip-group .loan-form {
      float: left;
      width: 100%;
      padding: 20px 100px;
      box-sizing: border-box; }
      @media (max-width: 700px) {
        .want-loan-group .home-tip-group .loan-form {
          padding: 20px 50px; } }
      .want-loan-group .home-tip-group .loan-form .form-input-item {
        float: left;
        width: 100%;
        box-sizing: border-box;
        position: relative; }
        .want-loan-group .home-tip-group .loan-form .form-input-item.text-c {
          text-align: center; }
        .want-loan-group .home-tip-group .loan-form .form-input-item .int-item {
          float: left;
          width: 100%;
          margin-top: 20px;
          padding: 6px;
          font-size: 14px;
          box-sizing: border-box;
          border: 1px solid #ccc; }
          .want-loan-group .home-tip-group .loan-form .form-input-item .int-item.area-bg {
            background: #fafafa; }
        .want-loan-group .home-tip-group .loan-form .form-input-item .submit-btn {
          display: inline-block;
          width: 240px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          color: #fff;
          background: #ff6900;
          margin-top: 40px;
          padding: 0;
          border: none;
          cursor: pointer; }
          @media (max-width: 700px) {
            .want-loan-group .home-tip-group .loan-form .form-input-item .submit-btn {
              width: 100%; } }
        .want-loan-group .home-tip-group .loan-form .form-input-item label.error {
          width: 100%;
          position: absolute;
          bottom: -22px;
          left: 0; }
        .want-loan-group .home-tip-group .loan-form .form-input-item .area-list-group {
          position: absolute;
          top: 52px;
          left: 0;
          width: 100%;
          background: #fafafa;
          border: 1px solid #ccc;
          box-sizing: border-box;
          z-index: 9;
          display: none; }
          .want-loan-group .home-tip-group .loan-form .form-input-item .area-list-group li {
            float: left;
            width: 100%;
            height: 35px;
            line-height: 35px;
            text-indent: 2em;
            cursor: pointer; }
            .want-loan-group .home-tip-group .loan-form .form-input-item .area-list-group li:hover {
              background: #fff;
              -webkit-transition: all .5s ease;
              transition: all .5s ease; }
  .want-loan-group .is-user {
    float: left;
    width: 400px;
    display: none; }
    @media (max-width: 700px) {
      .want-loan-group .is-user {
        width: 320px; } }
    .want-loan-group .is-user p {
      font-size: 14px;
      color: #4c4c4c;
      text-align: center; }
      .want-loan-group .is-user p.tip-text {
        margin-top: 35px; }
      .want-loan-group .is-user p a {
        display: inline-block;
        width: 150px;
        height: 40px;
        line-height: 40px;
        color: #fff;
        text-align: center;
        font-size: 14px;
        background: #ff752a;
        margin-top: 15px; }
  .want-loan-group .success-tip {
    float: left;
    width: 400px;
    display: none; }
    @media (max-width: 700px) {
      .want-loan-group .success-tip {
        width: 320px; } }
    .want-loan-group .success-tip p {
      font-size: 14px;
      color: #4c4c4c;
      text-align: center; }
      .want-loan-group .success-tip p.tip-text {
        font-size: 20px;
        color: #4c4c4c; }
      .want-loan-group .success-tip p a {
        display: inline-block;
        width: 150px;
        height: 40px;
        line-height: 40px;
        color: #fff;
        text-align: center;
        font-size: 14px;
        background: #ff752a;
        margin-top: 15px; }

/*# sourceMappingURL=loan_application.css.map */