@import './variables.scss';
$imgUrl:'../../images';

h1 {
	color:$red;
	background:url($imgUrl+'/ic-register-account.png') left top no-repeat;
}
:global(h2) {
  color: blue;
}

ul ,li {
	list-style-type: none;
}
header li { 
	display:inline-block; 
	margin-right:20px; 

	a {
		font-weight:bold;
		color:red; 
	}

}