<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.2.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.1.xsd">

    <!-- enable autowire -->
    <context:annotation-config/>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <context:property-placeholder location="classpath*:ttsd-env.properties,classpath*:ttsd-biz.properties"/>

    <!-- enable component scanning (beware that this does not enable mapper scanning!) -->
    <context:component-scan base-package="com.tuotiansudai.security, com.tuotiansudai.util, com.tuotiansudai.client, com.tuotiansudai.service, com.tuotiansudai.coupon, com.tuotiansudai.point, com.tuotiansudai.cache"/>

    <bean id="hikariCPDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://${common.jdbc.host}:${common.jdbc.port}/aa?useUnicode=true&amp;characterEncoding=UTF-8"/>
        <property name="username" value="${common.jdbc.username}"/>
        <property name="password" value="${common.jdbc.password}"/>
        <property name="minimumIdle" value="${sms.sms_operations.minimumIdle}"/>
        <property name="maximumPoolSize" value="${sms.sms_operations.maximumPoolSize}"/>
        <property name="idleTimeout" value="${common.jdbc.idleTimeout}"/>
        <property name="dataSourceProperties">
            <props>
                <prop key="cachePrepStmts">${common.jdbc.cachePrepStmts}</prop>
                <prop key="prepStmtCacheSize">${common.jdbc.prepStmtCacheSize}</prop>
                <prop key="prepStmtCacheSqlLimit">${common.jdbc.prepStmtCacheSqlLimit}</prop>
            </props>
        </property>
    </bean>

    <bean id="jobHikariCPDataSource" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://${common.jdbc.host}:${common.jdbc.port}/job_worker?useUnicode=true&amp;characterEncoding=UTF-8"/>
        <property name="username" value="${common.jdbc.username}"/>
        <property name="password" value="${common.jdbc.password}"/>
        <property name="minimumIdle" value="${console.job_worker.minimumIdle}"/>
        <property name="maximumPoolSize" value="${console.job_worker.maximumPoolSize}"/>
        <property name="idleTimeout" value="${common.jdbc.idleTimeout}"/>
        <property name="dataSourceProperties">
            <props>
                <prop key="cachePrepStmts">${common.jdbc.cachePrepStmts}</prop>
                <prop key="prepStmtCacheSize">${common.jdbc.prepStmtCacheSize}</prop>
                <prop key="prepStmtCacheSqlLimit">${common.jdbc.prepStmtCacheSqlLimit}</prop>
            </props>
        </property>
    </bean>

    <!-- transaction manager, use JtaTransactionManager for global tx -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="hikariCPDataSource"/>
    </bean>

    <bean id="jobStoreBuilder" class="com.tuotiansudai.util.quartz.JobStoreBuilder">
        <property name="dataSource" ref="jobHikariCPDataSource"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="hikariCPDataSource"/>
        <property name="typeAliasesPackage" value="com.tuotiansudai.repository.model, com.tuotiansudai.point.repository.model, com.tuotiansudai.coupon.repository.model"/>
    </bean>

    <!-- define the SqlSessionFactory -->
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <!-- scan for mappers and let them be autowired -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.tuotiansudai.repository.mapper, com.tuotiansudai.point.repository.mapper, com.tuotiansudai.coupon.repository.mapper"/>
    </bean>

    <bean id="httpClient" class="com.squareup.okhttp.OkHttpClient"/>

    <bean class="com.tuotiansudai.util.SpringContextUtil"/>

    <bean class="com.tuotiansudai.client.RedisWrapperClient"/>

    <bean id="jedisPoolConfig" class="redis.clients.jedis.JedisPoolConfig">
        <property name="maxTotal" value="${signIn.jedis.pool.maxTotal}"/>
    </bean>

</beans>