@mixin user-select($bool) {
  -webkit-user-select: $bool;
  -moz-user-select: $bool;
  -ms-user-select: $bool;
  user-select: $bool;
}

@mixin touch-action($action) {
  -ms-touch-action: $action;
  touch-action: $action;
  //touch-action(manipulation)
}

.btn {
  font: {
    size: 14px;
    weight: normal;
    family: Microsoft YaHei,Helvetica, sans-serif;
  }
  display: inline-block;
  padding: 8px 35px;
  margin-bottom: 0;
  text-align: center;
  letter-spacing: 3px;
  line-height: 1.3;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  @include user-select(none);
  @include touch-action(manipulation);
  border-radius: 0px;
  background: #e6e6e6 none;
  color: #4c4c4c;
  border: 0;
  &:focus,
  &:active:focus,
  &.active:focus,
  &.focus,
  &:active.focus,
  &.active.focus {
    //outline: thin dotted;
    //outline: 5px auto -webkit-focus-ring-color;
    //outline-offset: -2px;
  }
  &:hover{
    color: #4c4c4c;
    text-decoration: none;
  }
  &:active,
  &.active {
    background-image: none;
    outline: 0;
    //-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
    //box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
  }
  &:disabled, &:disabled:hover {
    background: #ccc;
    border:1px solid #ccc;
    cursor: default;
    color: #fff;
  }
  &[disabled], &[disabled]:hover {
    background: #ccc;
    border:1px solid #ccc;
    cursor: default;
    color: #fff;
  }
}

.btn-normal {
  @extend .btn;
  background: rgba(255,117,42,1);
  border: 1px solid #f46916;
  color: #fff;
  &:hover {
    background: rgba(255,117,42,0.8);
    color: #fff;
  }
  &:disabled, &:disabled:hover {
    background: #ccc;
    border:1px solid #ccc;
    cursor: default;
    color: #fff;
  }
  &[disabled], &[disabled]:hover {
    background: #ccc;
    border:1px solid #ccc;
    cursor: default;
    color: #fff;
  }
}
.btn-success {
  @extend .btn;
  background: rgba(244,105,22,1);
  border: 1px solid #f46916;
  color: #fff;
  &:hover {
    background: rgba(244,105,22,0.8);
    color: #fff;
  }
  &:disabled, &:disabled:hover {
    background: #ccc;
    border:1px solid #ccc;
    cursor: default;
  }
}

.btn-primary {
  @extend .btn;
  background: rgba(255,172,42,1);
  border:1px solid rgba(255,172,42,1);
  color: #fff;
  &:hover {
    background: rgba(255,172,42,0.8);
    border:1px solid rgba(255,172,42,0.8);
  }
}

.btn-action {
  @extend .btn;
  background: rgba(85,190,229,1);
  border:1px solid rgba(85,190,229,1);
  color: #fff;
  &:hover {
    background: rgba(85,190,229,0.8);
    border:1px solid rgba(85,190,229,0.8);
  }
}

.btn-link {
  @extend .btn;
  font-weight: normal;
  color: #337ab7;
  border-radius: 0;
}
.btn-sm {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0px;
}

.btn-xs {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0px;
}

.btn-lg {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 0px;
}

select {
  vertical-align: middle;
  background: none;
  border: {
    color: #ccc;
    style: solid;
    width: 1px;
  }
  color: #333;
}

input {
  font-size: 14px;
  vertical-align: middle;
  color: #666;
  font-family: Microsoft YaHei,Helvetica, sans-serif;
  padding: 6px;
  border: 1px solid #ccc;
  background: #fff;
}

input[type="radio"] {
  margin-right: 5px;
}

input[type="checkbox"] {
  margin-right: 5px;
}

.input-control {
  width: 200px;
  border-radius: 0px;
}

.planSwitch {
  input[type="radio"],
  input[type="checkbox"] {
    display: none;
  }
}

label.radio {
  display: inline-block;
  cursor: pointer;
  margin: 5px;
  padding-left: 20px;
  line-height: 17px;
  background: url("../images/btn-radio.png") no-repeat 0 0px;
  &.checked {
    background: url("../images/btn-radio.png") no-repeat 0 -24px;
  }
}

label.checkbox {
  display: inline-block;
  cursor: pointer;
  margin: 5px 0;
  padding-left: 20px;
  line-height: 17px;
  background: url("../images/btn-checkbox.png") no-repeat 0 0px;
  &.checked {
    background: url("../images/btn-checkbox.png") no-repeat 0 -26px;
  }
}

.init-radio-style {
  width: 24px;
  height: 24px;
  padding-top: 3px;
  cursor: pointer;
  text-align: center;
  background: url("../images/btn-radio.png") no-repeat 0 0px;
  &.on {
    background: url("../images/btn-radio.png") no-repeat 0 -24px;
  }
  .radio-class {
    opacity: 0;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}

.init-checkbox-style {
  width: 24px;
  height: 24px;
  cursor: pointer;
  text-align: center;
  background: url("../images/btn-checkbox.png") no-repeat 0 0px;
  vertical-align: top;
  display: inline-block;
  margin-top:5px;
  position: relative;
  &.on {
    background: url("../images/btn-checkbox.png") no-repeat 0 -26px;
  }
  .default-checkbox {
    opacity: 0;
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    position: absolute;
    width:100%;
    height:100%;
    position: absolute;
    left:-5px;
    right:-5px;
  }
}





