@charset "utf-8";
@import 'plugins/font_awesome';

//用来兼容ie8
@import 'ie_hack_grid';
.error-box {
  visibility: visible;
  height:20px;
  color: red;
  padding-bottom:0px;
  padding-top:3px;
  text-align: left;
}
[class^='sprite-'], [class*=' sprite-'] {
  display: inline-block;
}
.btn-normal[disabled].loading {
  background: transparent url("../images/loading.gif") no-repeat center center!important;
  cursor: default!important;
  border: 0!important;
  text-indent: -9999px;
}
//微信扫码，app下载,微博关注

//微信服务好
.img-we-chat {
  background: url("../images/scanCode/code-wechat.png") center center no-repeat;
  width:248px;
  height:248px;
  display: inline-block;
}
//微信公众号
.wechat-public-img {
  background: url("../images/scanCode/wechat-public-img.png") center center no-repeat;
  width:100px;
  height:100px;
  display: inline-block;
  background-size: 100%;
}

.img-app-download {
  background: url("../images/scanCode/code-app.png") center center no-repeat;
  width:100px;
  height:100px;
  display: inline-block;
  background-size: 100%;
}
//微博
.img-micro-blog {
  background: url("../images/scanCode/code-sina.png") center center no-repeat;
  width:200px;
  height:200px;
  display: inline-block;
  background-size: 100%;
}

//顶部标题
.page-col-title, .column-title {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  span, em {
    display: inline-block;
    border-bottom: 4px solid #ff7200;
    font-size: 18px;
    font-weight: bold;
    color: #ff7200;
  }
  i {
    font-size: 13px;
    line-height: 3.5;
  }
  &.article {
    text-align: center;
    em {
      border-bottom-width: 0px;
      line-height: 1.3;
    }
    span {
      font-size: 12px;
      color: #666;
      display: block;
      margin-top: 15px;
      border-bottom: 0;
    }
  }
}

.borderBox {
  border: 1px solid #d9d9d9;
  padding: 12px;
  line-height: 2;
  height: auto;
  &.spad {
    padding: 5px;
  }
}

.bRadiusBox {
  @extend .borderBox;
  border-radius: 3px;
}

//成功提示弹框
.success-info-tip {
  padding: 20px 38px;
  .icon-tip {
    width: 32px;
    height: 32px;
    background: url("../images/success-tip.png") 0px 0px no-repeat;
    position: absolute;
    top: 30px;
    background-size: 100%;
  }
  .detail-word {
    padding-left: 52px;
    color: #808080;
    font-size: 12px;
    line-height: 18px;
    margin-top: 10px;
    h2 {
      font-size: 18px;
      color: #4c4c4c;
      padding-bottom: 6px;
    }
  }
}

/***************** web **********************/
.text-notice {
  color: #ff7a2a;
  font-size: 16px;
}

.requireOpt:before {
  color: red;
  padding-right: 2px;
  display: inline-block;
  content: '*';
}
.color-info {
  color: #f46916;
}

.color-note {
  color: #ffac2a;
}

.bg-w {
  background: #fff;
}
/* project schedule progress */
.project-schedule {
  .p-title {
    font-size: 12px;
    color: #b3b3b3;
    line-height: 1.8;
    .point {
      color: #ff752a;
    }
  }
  .process-percent {
    border-radius: 10px;
    background: #ffe3d4;
    height: 8px;
    width: 100%;
    overflow: hidden;
    position: relative;
    .percent {
      border-radius: 10px;
      width: 50px;
      position: absolute;
      height: 100%;
      background: #ffa16e;
    }
  }
}

/*国庆专享标*/
.arrow-tag-normal {
  display: inline-block;
  height: 22px;
  overflow: hidden;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 13px;
  float: left;
  .ic-left {
    border: 11px solid transparent;
    border-right: 11px solid #ff5400;
    font-size: 0;
    display: inline-block;
    float: left;
    margin-left: -11px;
  }
  em {
    height: 22px;
    line-height: 22px;
    background: #ff5400;
    color: #fff;
    padding: 0 0px 0 10px;
    display: inline-block;
    float: left;
    font-size: 12px;
  }
  .ic-right {
    border: 11px solid #ff5400;
    border-right: 11px solid transparent;
    font-size: 0;
    display: inline-block;
    float: left;
  }
}

.loading-effect {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 2px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  border: 2px solid #fff;
  border-bottom-color: transparent;
  height: 15px;
  width: 15px;
  background: transparent;
  display: inline-block;
  -webkit-animation: rotate-loading 1s 0s linear infinite;
  animation: rotate-loading 1s 0s linear infinite;
}

@-webkit-keyframes rotate-loading {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}
@keyframes rotate-loading {
  0% {
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotate(180deg) scale(1);
    transform: rotate(180deg) scale(1);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
    transform: rotate(360deg) scale(1);
  }
}


//注册图标

.register-icon-list {
  i {
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 8px;
    z-index: 20;
    width: 28px;
    height: 28px;
    display: inline-block;
    &.icon-mobile {
      background: url('../images/register/ic-mobile.png') left top no-repeat;
    }

    &.icon-password {
      background: url('../images/register/ic-password.png') left top no-repeat;
    }
    &.icon-captcha {
      background: url('../images/register/ic-captcha.png') left top no-repeat;
    }
    &.icon-img-captcha {
      background: url('../images/register/ic-img-code.png') left top no-repeat;
    }
    &.icon-referrer {

      background: url('../images/register/ic-referrer.png') left top no-repeat;
    }
    &.icon-yes-checked {
      background: url('../images/register/yes-checked.png') left top no-repeat;
    }
    &.icon-no-checked {
      background: url('../images/register/no-checked.png') left top no-repeat;
    }
    &.icon-arrow-right {
      background: url('../images/register/arrow-right.png') left top no-repeat;
    }
    &.icon-arrow-bottom {
      background: url('../images/register/arrow-bottom.png') left top no-repeat;
    }
  }
}

/********************** Responsive Page ****************************/

@media screen and (max-width: 700px) {

  .img-we-chat {

    zoom: 0.5;
  }
  .img-app-download {
    zoom: 0.5;
  }
  .img-micro-blog {
    zoom: 0.5;
  }

  .page-width {
    width: 100%;
  }

  .column-title {
    &.article {
      em {
        text-align: center;
        margin-top: 10px;
        line-height: 1.3;
      }
      time {
        margin-top: 0;
      }
    }

  }
  /* MAKE IMAGE GRAY */
  .img-gray {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: none;
  }

  /*RESET FROM ERROR TIP*/
  form {
    label.error {
      &:before {
        font: normal normal normal 13px/1 FontAwesome;
      }
    }
    input.valid + label.error {
      display: none !important;
      &:before {
        display: none !important;
      }
    }
  }

  .main-frame.full-screen {
    width: 100%;
    margin: 0 auto !important;
  }
  .responsive-width {
    width: 100% !important;
    margin: 0 !important;
  }
  .is-show {
    display: none !important;
  }

  .click-article {
    padding: 15px 10px !important;
  }
  .title-img {
    width: 30% !important;
  }

  .text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

}
.compliance-banner
{
  position: relative;
  .tip-width {
    width: 800px;
    margin: 0 auto;
  }
  .invest-tip {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-right: -400px;
    height: 40px;
    line-height: 40px;
    color: rgba(255,255,255,0.7);
    text-align: left;
    font-size: 12px;
  }

}
.compliance-center {
  position: relative;
  .invest-tips {
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 170px;
    height: 20px;
    line-height: 20px;
   text-align: center;
    background: rgba(0,0,0,0.25);
    color: #fff;
    border-radius: 10px;
    font-size: 12px;
  }
}
.compliance-index {
  .invest-tip-wrap {
    position: absolute;
    width: 1000px;
    height: 20px;
    bottom: 20px;
    left: 50%;
    margin-left: -246px;

    .invest-tip {
      width: 170px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      background: rgba(0,0,0,0.25);
      color: #fff;
      border-radius: 10px;
      font-size: 12px;
    }
  }
}
@media screen and (min-width: 700px) and(max-width:999px){

  .page-width {
    width: 100%;
  }

}


@media screen and(max-width:1024px){
.compliance-banner{
  .tip-width {
    width: auto;
  }
  .invest-tip {
    right: 10px;
    margin-right: 0;
    height: 30px;
    line-height: 30px;
    text-align: right;
    font-size: 12px;
  }
}


}