@charset "utf-8";
@import 'plugins/font_awesome';
@import 'reset', 'btn', 'table';
@import 'page_frame', 'pagination';
@import "error";

//用来兼容ie8
@import 'ie_hack_grid';
.error-box {
  visibility: visible;
  height:20px;
  color: red;
  padding-bottom:0px;
  padding-top:3px;
  text-align: left;
}

//顶部标题
.page-col-title, .column-title {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  span, em {
    display: inline-block;
    border-bottom: 4px solid #ff7200;
    font-size: 18px;
    font-weight: bold;
    color: #ff7200;
  }
  i {
    font-size: 13px;
    line-height: 3.5;
  }
  &.article {
    text-align: center;
    em {
      border-bottom-width: 0px;
      line-height: 1.3;
    }
    span {
      font-size: 12px;
      color: #666;
      display: block;
      margin-top: 15px;
      border-bottom: 0;
    }
  }
}

.borderBox {
  border: 1px solid #d9d9d9;
  padding: 12px;
  line-height: 2;
  height: auto;
  &.spad {
    padding: 5px;
  }
}

.bRadiusBox {
  @extend .borderBox;
  border-radius: 3px;
}

/***************** web **********************/
.text-notice {
  color: #ff7a2a;
  font-size: 16px;
}

.requireOpt:before {
  color: red;
  padding-right: 2px;
  display: inline-block;
  content: '*';
}
.color-info {
  color: #f46916;
}

.color-note {
  color: #ffac2a;
}

.bg-w {
  background: #fff;
}
/* project schedule progress */
.project-schedule {
  .p-title {
    font-size: 12px;
    color: #b3b3b3;
    line-height: 1.8;
    .point {
      color: #ff752a;
    }
  }
  .process-percent {
    border-radius: 10px;
    background: #ffe3d4;
    height: 8px;
    width: 100%;
    overflow: hidden;
    position: relative;
    .percent {
      border-radius: 10px;
      width: 50px;
      position: absolute;
      height: 100%;
      background: #ffa16e;
    }
  }
}

/*国庆专享标*/
.arrow-tag-normal {
  display: inline-block;
  height: 22px;
  overflow: hidden;
  vertical-align: middle;
  margin-left: 10px;
  margin-top: 13px;
  float: left;
  .ic-left {
    border: 11px solid transparent;
    border-right: 11px solid #ff5400;
    font-size: 0;
    display: inline-block;
    float: left;
    margin-left: -11px;
  }
  em {
    height: 22px;
    line-height: 22px;
    background: #ff5400;
    color: #fff;
    padding: 0 0px 0 10px;
    display: inline-block;
    float: left;
    font-size: 12px;
  }
  .ic-right {
    border: 11px solid #ff5400;
    border-right: 11px solid transparent;
    font-size: 0;
    display: inline-block;
    float: left;
  }
}
//投资计算器
.count-form {
  position: fixed;
  width: 330px;
  height: 400px;
  bottom: 20px;
  right: 110px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  z-index: 99;
  display: none;
  h3 {
    position: relative;
    text-align: center;
    background: #ffc527;
    line-height: 60px;
    span {
      font-size: 24px;
      color: #fff;
    }
    .close-count {
      display: block;
      position: absolute;
      top: 5px;
      right: 5px;
      @extend .sprite-global-close;
      z-index: 999;
      cursor: pointer;
    }
  }
  .form-text {
    width: 250px;
    margin: 10px 40px;
    position: relative;
    .error-box {
      margin-bottom:15px;
    }
    .int-text {
      //float: left;
      width: 178px;
      height: 28px;
      padding: 5px 35px;
      border: 1px solid #ccc;
      border-radius: 5px;
    }
    .unit-text {
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 16px;
      line-height: 40px;
      color: #808080;
    }
    .submit-btn {
      float: left;
      width: 110px;
      height: 30px;
      border: none;
      color: #fff;
      cursor: pointer;
      text-align: center;
      background: #ffc527;
      margin-right: 30px
    }
    .reset-btn {
      float: left;
      width: 110px;
      height: 30px;
      border: none;
      cursor: pointer;
      color: #fff;
      text-align: center;
      background: #ccc;
    }
    .result-text {
      font-size: 20px;
      color: #808080;
      line-height: 30px;
      margin-bottom: 0;
      span {
        font-size: 26px;
        color: #ff7200;
      }
    }
    .tip-text {
      font-size: 12px;
      color: #ccc;
      line-height: 20px;
      margin-bottom: 0;
    }
  }
  label.error {
    float: left;
    width: 250px;
    margin-left: 40px;
  }
}

.fix-nav-list {
  position: fixed;
  right: 22px;
  bottom: 120px;
  width: 60px;
  height: auto;
  z-index: 1000;
  border: 1px solid #fff;
  border-bottom: none;
  li {
    float: left;
    width: 60px;
    height: 60px;
    background: #e6e6e6;
    border-bottom: 1px solid #fff;
    position: relative;
    &.active, &:hover {
      background: #ff9c1b;
      i {
        display: none;
      }
      .nav-text, .fix-nav {
        display: block;
      }
    }
    i {
      float: left;
      cursor: pointer;
      &.icon-phone {
        @extend .sprite-global-mobile-icon;
      }
      &.icon-qq {
        @extend .sprite-global-qq-icon;
      }
      &.icon-calculator {
        @extend .sprite-global-calculator-icon;
      }
      &.icon-edit {
        @extend .sprite-global-edit-icon;
      }
    }
    .nav-text {
      float: left;
      width: 100%;
      cursor: pointer;
      margin-top: 10px;
      color: #fff;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      display: none;
    }
    .fix-nav {
      display: none;
      position: absolute;
      &.app-img {
        top: -25px;
        right: 60px;
        @extend .sprite-global-app-pc-top;
      }
    }
  }
}

//回到顶部
.back-top {
  position: fixed;
  right: 22px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  z-index: 100;
  border: 1px solid #fff;
  display: none;
  li {
    float: left;
    width: 60px;
    height: 60px;
    background: #e6e6e6;
    cursor: pointer;
    &.active, &:hover {
      background: #ccc;
      i {
        display: none;
      }
      .nav-text {
        display: block;
      }
    }
    i {
      float: left;
      &.icon-top {
        @extend .sprite-global-back-icon;
      }
    }
    .nav-text {
      float: left;
      width: 100%;
      margin-top: 10px;
      color: #fff;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      display: none;
    }
  }
}

//已经反馈
.feedback-container{
  position: fixed;
  width:600px;
  height:460px;
  right:100px;
  bottom:40px;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 99;
  display:none;
  .feed-top{
    float:left;
    width:100%;
    height:50px;
    background:#ff9c1b;
    h3{
      float:left;
      font-size:18px;
      line-height:50px;
      color:#fff;
      margin-left:30px;
    }
    .feed-close{
      float:right;
      width:24px;
      height:24px;
      margin:13px 20px;
      cursor:pointer;
      background-image: url("../images/compress/global_20160904.png");
      -webkit-background-size: 408px 290px;
      -moz-background-size: 408px 290px;
      background-size: 408px 290px;
      background-position: -308px -200px;
    }
  }
  .feed-content{
    float:left;
    width:540px;
    height:310px;
    padding:20px 30px;
    .content-list{
      float:left;
      width:100%;
      min-height: 10px;
      margin-bottom:20px;
      position: relative;
      .name-text{
        float:left;
        width:70px;
        line-height:35px;
        font-size:14px;
        color:#4c4c4c;
      }
      .type-list{
        position: absolute;
        top: 0;
        left: 70px;
        width:188px;
        cursor:pointer;
        background:#f6f6f6;
        border:1px solid #e6e6e6;
        z-index: 101;
        i{
          position: absolute;
          top: -5px;
          right: 10px;
          font-size: 30px;
          color: #808080;
        }
        dt{
          float:left;
          width:170px;
          line-height:35px;
          padding-left:20px;
          font-size:14px;
          color:#4c4c4c;
        }
        dd{
          float:left;
          width:170px;
          padding-left:20px;
          line-height:35px;
          font-size:14px;
          color:#4c4c4c;
          display:none;
          &:hover{
            background:#ccc;
          }
        }
      }
      .text-area{
        float:left;
        width:518px;
        height:98px;
        padding:10px;
        border:1px solid #e6e6e6;
        background:#f6f6f6;
        font-size:14px;
        color:#808080;
      }
      .captcha-error{
        display:none;
      }
      .code-text{
        width:86px;
        float: left;
      }
      .phone-text{
        width:190px;
      }
      .submit-btn{
        background:#ff9c1b;
        color:#fff;
        font-size:16px;
        padding:8px 85px;
        border:1px solid #ff9c1b;
      }
    }
  }
}
.feed-tip{
  position: fixed;
  top:50%;
  left:50%;
  width:600px;
  height:300px;
  margin-top:-150px;
  margin-left:-300px;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 100;
  display:none;
  .tip-top{
    float:left;
    width:100%;
    height:50px;
    background:#ff9c1b;
    h3{
      float:left;
      font-size:18px;
      line-height:50px;
      color:#fff;
      margin-left:30px;
    }
    .feed-close{
      float:right;
      width:24px;
      height:24px;
      margin:13px 20px;
      cursor:pointer;
      background-image: url("../images/compress/global_20160904.png");
      -webkit-background-size: 408px 290px;
      -moz-background-size: 408px 290px;
      background-size: 408px 290px;
      background-position: -308px -200px;
    }
  }
  .tip-content{
    float:left;
    width:540px;
    height:310px;
    padding:20px 30px;
    .content-list{
      float:left;
      width:100%;
      font-size:18px;
      color:#4d4d4d;
      min-height: 10px;
      &.btn-model{
        margin-top:70px;
      }
      &.mt-10{
        margin-top:10px;
      }
      .feed-close{
        background:#ff9c1b;
        color:#fff;
        font-size:16px;
        padding:8px 85px;
        border:1px solid #ff9c1b;
      }
    }
  }
}
/********************** Responsive Page ****************************/

@media screen and (max-width: 700px) {

  .page-width {
    width: 100%;
  }
  .layer-tip-box, .fix-nav-list {
    display: none;
  }
  .column-title {
    &.article {
      em {
        text-align: center;
        margin-top: 10px;
        line-height: 1.3;
      }
      time {
        margin-top: 0;
      }
    }

  }
  /* MAKE IMAGE GRAY */
  .img-gray {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    filter: none;
  }

  /*RESET FROM ERROR TIP*/
  form {
    label.error {
      &:before {
        font: normal normal normal 13px/1 FontAwesome;
      }
    }
    input.valid + label.error {
      display: none !important;
      &:before {
        display: none !important;
      }
    }
  }

  .main-frame.full-screen {
    width: 100%;
    margin: 0 auto !important;
  }
  .responsive-width {
    width: 100% !important;
    margin: 0 !important;
  }
  .is-show {
    display: none !important;
  }

  .click-article {
    padding: 15px 10px !important;
  }
  .title-img {
    width: 30% !important;
  }

  .text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .layer-tip-box, .fix-nav-list {
    display: none;
  }
}

