.header-download {
  display: none;
  padding: 10px 4px;
  border-bottom: 1px solid rgba(0,0,0,0.2);

  .icon-close {
    margin-right: 10px;
    width:18px;
    height:18px;
    float: left;
    margin-top: 18px;
    background: url('../images/icons/close01.png') center center no-repeat;
    background-size: 100%;
  }
  span {
    line-height: 1.8;
    display: inline-block;
    font-size: 14px;
    vertical-align: bottom;
    text-align: center;
    margin-left: 5px;
  }
  a.btn-normal {
    padding: 5px 8px;
    letter-spacing: 0;
    margin-top:5px;
  }
}

.header-container {
  background: #fcfcfc;
  font-size: 12px;
  color: #666;
  height:40px;
  line-height: 40px;
  border-bottom:1px solid #f0f0f0;

  .header-top {
    height:40px;
    margin: 0 auto;
    .service-time {
      display: inline-block;
      background: #fcfcfc;
    }
       time {
          color: #808080;
          margin-left: 8px;
        }
      ul {
        margin-top:12px;
        li {
          float: left;
          display: inline-block;
          line-height: 15px;
          border-right: 1px solid #666;
          padding: 0 10px;
          @media (min-width:701px) and (max-width:999px) {
            padding:0 5px;
          }
          &:nth-last-child(1) {
            padding-right: 0px;
            border-right-width: 0;
          }

          &.header-message {
            position: relative;
            .message-badge {
              &.zero {
                display: none;
              }
              position: absolute;
              background: #ea3622;
              color: #fff;
              top: -11px;
              right: -6px;
              font-size: 12px;
              border-radius: 5px;
              height: 15px;
              line-height: 15px;
              padding: 0 5px;
            }
          }

        }
      }
  }
}

.footer-container {
  width: 100%;
  background: #3f3f3f;
  color: #c2c2c2;
  overflow: hidden;
  .footer {
    height: 210px;
    margin: 0 auto;
    ul {
      float:left;
      min-width: 120px;
      text-align:left;
      li {
        height: 14px;
        margin-top: 14px;
        font-size: 12px;
        a {
          color: #c2c2c2;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      .f-title {
        font-size: 14px;
        color: #fff;
        margin:30px 0 25px 0;
      }
      &.last {
        margin-top: 40px;
        float:right;
        .img-app-download {
          width:90px;
          height:90px;
          background-size: 100%;
          border:5px solid #fff;

        }

        li{
          margin-left:20px;


        }
      }
    }
  }
  .copyright {
    height: 65px;
    border-top: #606060 1px solid;
    margin: 0 auto;
    padding-top: 10px;
    .img-gray:hover {
      -webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      -o-filter: none;
      filter: none;
    }
  }
  .link-list{
    border-top: #606060 1px solid;
    h3{
      float:left;
      width:100px;
      font-size:14px;
      color:#fff;
      margin:6px 0;
      text-align:center;
    }
    ul {
      float:left;
      width:837px;
      height:30px;
      margin:3px 0;
      overflow:hidden;
      @media (min-width:701px) and (max-width:999px) {
        width:100%;
      }
      li {
        float:left;
        width:93px;
        margin: 6px 0;
        font-size: 12px;
        text-align:left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        @media (min-width:701px) and (max-width:999px) {
          width:10%;
          text-align: center;
        }
        a {
          color: #c2c2c2;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
    .get-more{
      float:left;
      width:63px;
      margin: 6px 0;
      text-align:center;
      cursor:pointer;
      @media (min-width:701px) and (max-width:999px) {
        position: relative;
        left: 50%;
        margin-left: -32px;
      }
      &.active{
        .fa-chevron-down{
          display:none;
        }
        .fa-chevron-up{
          display:inline-block;
        }
      }
      .fa-chevron-up{
        display:none;
      }
    }
  }
  .footer-responsive{
    display:none;
    float:left;
    width:100%;
    background:#fafafa;
    padding:20px 0;
    p{
      text-align:center;
      margin-bottom:0;
      font-size:12px;
      color:#999;
    }
    ul{
      width: 300px;
      margin: 0 auto;
      overflow: hidden;
      margin-bottom: 5px;
      li{
        float:left;
        width:33.333333%;
        text-align:center;
        border-right:1px solid #ccc;
        box-sizing:border-box;
        line-height:14px;
        &:last-child{
          border-right:none;
        }
        a{
          font-size:12px;
          color:#999;
        }
      }
    }
  }
}

.nav-container {
  width: 100%;
  background: #fff;
  .img-top {
    position: relative;
    padding-bottom: 12px;
    .show-main-menu {
      display: none;
      margin-top: 17px;
      margin-right: 10px;
      font-size: 20px;
    }
    .logo {
      float: left;
      .logo-bg {
        background: url("../images/logo-index.png") left center no-repeat;
        width: 420px;
        height: 50px;
        display: block;
        float: left;
        margin-top: 15px;
      }

    }
    .login-pop-app {
      position: absolute;
      right: 0px;
      top: 14px;
      z-index: 90;
      em {
        display: inline-block;
        width:52px;
        height:52px;
        border: 1px solid #e5e5e5;
        background-size: 96%;
        vertical-align: middle;
      }
      .text {
        display: inline-block;
        vertical-align: middle;
        line-height: 20px;
         i {
           display: block;
         }
      }
      .img-app-pc-top {
        background: url("../images/scanCode/code-app.png") center center no-repeat;
        width:162px;
        height:162px;
        background-size: 96%;
        border: 1px solid #e5e5e5;
        position: absolute;
        top: 0;
        left: 56px;
      }
    }
  }
  .nav-menu {
      li {
        float: left;
        width: 120px;
        position: relative;
        height: 43px;
        line-height: 40px;
        box-sizing: border-box;
        border-top: #fff 3px solid;
        text-align: center;
        font-size: 16px;
        a {
          display: block;
          text-align: center;
          color: #4d4d4d;
        }
        .icon-has-submenu {
          display: inline-block;
          width:15px;
          height: 8px;
          margin-left: 7px;
          background: url("../images/icon-sub.png") left top no-repeat;
        }
        ul.sub-menu-list {
          display: none;
          position: absolute;
          z-index: 1001;
          top: 40px;
          background: #fff;
          li {
            width:100%;
            height: 40px;
            line-height: 40px;
            border-top-width: 0;
            text-align: left;
            font-size: 14px;
            a {
              color: #808080;
              padding-left: 20px;
              text-align: left;
            }
            i {
              display: inline-block;
              margin-right: 10px;
              font-size: 13px;
              vertical-align: top;
            }
            &:hover,&.active {
              background: #fff2e3;
              color:#ff6b00;
              border-top-width: 0;
              a {
                color: #ff770f;
              }
            }

          }

        }

        &:hover {
          cursor: pointer;
          color: #ff6b00;
          border-top: #ff7200 3px solid;
          a {
            color: #ff770f;
          }
          .icon-has-submenu {
            background: url("../images/icon-sub-hover.png") left top no-repeat;
          }
          ul.sub-menu-list {
            display: block;
            transition-delay: 0.5s;
            transition-duration: 1s;
          }
        }
        &.active {
          background: #ff7200;
          border-top: #ff7200 3px solid;
          a {
            color: #fff;
          }
          .icon-has-submenu {
            background: url("../images/icon-active-bottom.png") left top no-repeat;
          }
          &:hover {
            .icon-has-submenu {
              transform:rotate(180deg);
              -ms-transform:rotate(180deg); 	/* IE 9 */
              -moz-transform:rotate(180deg); 	/* Firefox */
              -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
              -o-transform:rotate(180deg); 	/* Opera */
            }
          }

        }
        &.top-membership, &.top-activity {
          display: none;
        }
      }

  }
}

//point style--积分商城的头部
.nav-container-point {
  width: 100%;
  background: #fff;
  .nav {
    width: 1000px;
    height: 75px;
    position: relative;
    margin: 0 auto;
    @media (max-width:999px) {
      width:100%;
    }
    .logo {
      background: url("../images/logo-index.png") left center no-repeat;
      width: 370px;
      height: 50px;
      display: block;
      float: left;
      margin-top: 15px;
    }
    .show-main-menu {
      display: none;
      margin-top: 25px;
      margin-right: 10px;
      font-size: 20px;
    }
    ul {
      height: 100%;
      float: right;
      @media (max-width:999px) {
        width:100%;
      }
      li {
        float: left;
        width: 90px;
        margin-left: 15px;
        position: relative;
        @media (max-width:999px) {
          width:16.666666%;
          margin-left: 0;
        }
        a {
          border-top: #fff 3px solid;
          display: block;
          height: 52px;
          text-align: center;
          padding-top: 20px;
          color: #4d4d4d;
          font-size: 15px;
          &:hover {
            cursor: pointer;
            color: #428edf;
            border-top: #428edf 3px solid;
          }
          &.active {
            color: #428edf;
            border-top: #428edf 3px solid;
          }
        }
        &.top-membership, &.top-activity {
          display: none;
        }
      }
    }
  }
}

.main-frame {
  width: 1000px;
  height: auto;
  margin: 0 auto;
  @media (min-width:701px) and (max-width:999px) {
    width:100%;
  }
  .swiper-container{
    float:left;
    @media (min-width:701px) and (max-width:999px) {
      float:none;
      overflow: hidden;
    }
  }
  .left-nav {
    width: 150px;
    height: auto;
    overflow: hidden;
    float: left;
    background: #e7eaef;
    margin: 0 15px 20px 0;
    .subMenu_hide {
      display: none;
    }
    .subMenu_show {
      display: block;
    }
    .text_icon {
      position: absolute;
      &.text_icon_open {
        top: 21px;
        left: 20px;
        width: 20px;
        height: 3px;
        background: url("../images/global/text_icon_open.png");
        background-size: contain;
      }
      &.text_icon_close {
        top: 13px;
        left: 20px;
        width: 20px;
        height: 20px;
        background: url("../images/global/text_icon_close.png");
        background-size: contain;
      }
    }
    .subMenuItem {
      display: block;
      height: 45px;
      line-height: 45px;
      padding-left: 70px;
      font-size: 16px;
      text-align: left;
      color: #595757;
      cursor: pointer;
      &.default_light_item {
        background: #ff7200;
        color: #fff;
      }
      &:hover {
        background: #ffe0c7;
      }
      &.active {
        background: #ff7200;
        color: #fff;
      }
    }
    @media (min-width:701px) and (max-width:999px) {
      width:100%;
    }
    li {
      float:left;
      width:100%;
      border-bottom: #f9f9f9 1px solid;
      @media (min-width:701px) and (max-width:999px) {
        width:10%;
      }
      a {
        position: relative;
        display: block;
        height: 45px;
        line-height: 45px;
        text-align: center;
        color: #595757;
        &:hover {
          background: #ffe0c7;
        }
        &.active {
          background: #ff7200;
          color: #fff;
          &.menuItem {
            position: relative;
            background: none;
            color: #ff7200;
            &.ipad_styles {
              background: #ff7200;
              color: #fff;
            }
          }
        }
        &:hover {
          background: #ffe0c7;
        }
      }
    }
  }
  .about-us-container,.content-container {
    background: #fff;
    padding:10px 30px 30px 40px;
    overflow: hidden;
    min-height: 400px;
    @media (min-width:701px) and (max-width:999px) {
      padding:0 10px;
    }
  }
}

.store-footer{
  float:left;
  width:100%;
  background:#ebebeb;
  .wp{
    width:1000px;
    margin:0 auto;
    position: relative;
    @media (max-width:999px) {
      width:100%;
    }
  }
  .footer-list{
    padding:40px 0;
    dl{
      float:left;
      &.list-normal{
        width:155px;
        @media (min-width:701px) and (max-width:999px) {
          width:33.333333%;
          box-sizing:border-box;
          padding-left: 40px;
        }
      }
      &.list-contact{
        width:420px;
        @media (min-width:701px) and (max-width:999px) {
          width:72%;
          box-sizing:border-box;
          padding-left: 40px;
        }
      }
      dt{
        float:left;
        width:100%;
        font-size:18px;
        color:#4c4c4c;
      }
      dd{
        float:left;
        width:100%;
        line-height:30px;
        a{
          font-size:14px;
          color:#808080;
          span{
            font-size:20px;
            color:#fc4a52;
            line-height:19px;
          }
        }
      }
    }
    .images-app{
      float:right;
      width:100px;
      @media (min-width:701px) and (max-width:999px) {
        float:left;
      }
      p{
        float:left;
        width:100%;
        margin-bottom:0;
      }
    }
  }
  .copyright-info{
    border-top:1px solid #ccc;
    line-height:60px;
    text-align:center;
    font-size:16px;
    color:#808080;
  }
}

@media screen and (max-width: 700px) {
  .header-download {
    display: block;
  }
  .header-container {
    height:auto;
    border-bottom-width: 0px;
    background: #333;
    color:#fff;
    padding-left: 5px;
    padding-right: 5px;

    .header-top {
      width:100%;
      &.page-width {
        padding:0px;
      }
      .service-time {
        background: #333;
      }
      ul li {
        margin-left:1px;
        margin-right:0;
        display: none;
        padding-left:3px;
        padding-right:3px;
        &.header-help-center,
        &.header-login,
        &.header-register {
          display: inline-block;
        }
        a { padding-left:2px; color: #fff;}


      }
      time,.login-pop-app {
        display: none;
      }
    }
  }
  .nav-container {
    position: relative;
    .page-width {
      padding:0px!important;
    }
    .img-top {
      .login-pop-app {
        display: none;
      }
      .logo {
        width: 270px;
        margin-left: 10px;
        .logo-bg {
          width: 100%;
          background-size: 85%;
          margin-top: 5px;
        }
      }
      .show-main-menu {
        display: block;
        cursor: pointer;
      }
    }
    .nav-menu {
        width: 100%;
        background: #fff;
        position: absolute;
        top: 53px;
        left: -100%;
        z-index: 100;
        overflow: hidden;
        height: auto;
        border-top: 1px solid #ccc;
        transition-delay: 0s;
        transition-duration: 0.5s;
        li {
          margin-left: 0;
          width:50%;
          line-height: 39px;
          border-bottom:1px solid #ccc;
          text-align: left;
          .icon-has-submenu {
            display: none;
          }
          &.active {
            color: #ff7200;
            border-bottom-width: 0px;
            border-top-width:0px;
            background: #ff7200;
          }
          &:hover {
            color: #4d4d4d;
            border-top-width:0;
            ul.sub-menu-list {
              display: none;
            }
          }
          a {
            text-align: left;
            padding-left:20px;
            display: inline-block;
            color:#4d4d4d;
          }
          &.top-membership, &.top-activity {
            display: block;
          }
        }
    }
  }
  .footer-container .page-width{
    display:none;
  }
  .footer-container .footer-responsive{
    display:block;
  }
  .main-frame{
    overflow-x: hidden;
    .content-container {
      padding: 10px!important;
    }
    .swiper-container {
      overflow: hidden;
      width:100%;
    }
    .left-nav{
      margin:0;
      li{
        float: left;

        a:hover {
          background: transparent;
        }
      }
    }

  }
}

@media screen and (min-width: 701px) and (max-width:999px){

  .header-container .header-top {
    padding: 0 10px;
  }
  .nav-container {
    box-sizing: border-box;
    padding: 0 10px;
  }

  .nav-container .nav-menu li {
    width:16%;
  }

  .footer-container .footer {
    padding:10px 20px;
    height:300px;
    ul.last {
      display: none;
    }
  }


}


.app-container {
  height: 70px;
  background: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  .logo {
    width: 50px;
    height: 50px;
    float: left;
    background: url("../images/share/logo.png") no-repeat;
    background-size: contain;
    margin-left: 16px;
    margin-top: 10px;
    margin-right: 10px;
  }
  .app-detail {
    float: left;
    color: #fff;
    line-height: 20px;
    font-size: 13px;
    margin-top: 15px;
  }
  .open-app {
    float: right;
    width: 87px;
    height: 30px;
    background: #FF473C;
    color: #fff;
    font-size: 15px;
    margin-right: 30px;
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
  }
  .close-app {
    width: 13px;
    height: 13px;
    position: absolute;
    top: 5px;
    right: 5px;
    background: url("../images/share/icon_close.png") no-repeat;
    background-size: contain;
    cursor: pointer;
  }
}


