:-moz-placeholder {
  color: #C9C9C9;
}

::-moz-placeholder {
  color: #C9C9C9;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #C9C9C9;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #C9C9C9;
}

form .error {
  height:22px;
  clear:both;
  display: block;
  font-size:12px;
  color: #fff;
}
.register-form {
  padding:10px;
}
.register-list {
  dd {
    position: relative;
    width:100%;
    .image-captcha {
      position: absolute;
      top:5px;
      right:5px;
      border-radius: 3px;
      height: 32px;
    }
    .get-captcha {
      border: 1px solid #fe4c4c;
      border-radius: 5px;
      padding: 8px 0px;
      font-size: 15px;
      color: #fe4c4c;
      position: absolute;
      right: 5px;
      top: 5px;
      background: #fff;
      width: 95px;
      &:disabled {
        border:1px solid #c9c9c9;
        color: #808080;
      }
    }
    .item-submit {
      background: #fff55b;
      color: #550014;
      font-size: 17px;
      box-shadow: 0px 5px 0px #f5b00e;
      border-radius: 6px;
      font-weight: bold;
      height: 40px;
      width: 80%;
      text-align: center;
      margin: 0 auto;
      border: 0;
    }
    .agreement {
      color: #f5b00e;
      display: inline-block;
      width: 80%;
      text-align: left;
      padding-top: 15px;
    }
  }
  input[type="text"],input[type="password"] {
    width:100%;
    background: #fff;
    border-radius:6px;
    padding:10px;
    box-sizing: border-box;
    height: 46px;
    font-size: 15px;
    color: #525252;

  }
}