<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.repository.mapper.LicaiquanArticleCommentMapper">

    <resultMap id="licaiquanArticleComment" type="LicaiquanArticleCommentModel">
        <id column="id" property="id"/>
        <result column="article_id" property="articleId"/>
        <result column="comment" property="comment"/>
        <result column="created_time" property="createTime"/>
    </resultMap>

    <insert id="createComment" parameterType="LicaiquanArticleCommentModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `aa`.`licaiquan_article_check_comment` (article_id, comment, created_time) VALUE (#{articleId},
        #{comment}, #{createTime})
    </insert>

    <select id="findCommentsByArticleId" resultMap="licaiquanArticleComment">
        SELECT id, article_id, comment, created_time FROM `aa`.`licaiquan_article_check_comment`
        WHERE article_id = #{articleId} ORDER BY created_time DESC
    </select>
</mapper>