@charset "utf-8";
@mixin transform-scale ($sizing) {
  transform:scale($sizing);
  -ms-transform:scale($sizing);
  -moz-transform:scale($sizing);
  -webkit-transform:scale($sizing);
  -o-transform:scale($sizing);
}
//弹框,用于抽奖弹框的样式

.shade-body-mask {
  width: 100%;
  background: rgba(0,0,0,0.4);
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}
.tip-list {
  position: fixed;
  z-index: 1000;
  background:none;
  background-size:100% ;
  width:460px;
  height:370px;
  border-radius: 25px;
  display: none;
  .close-btn {
    width:28px;
    height: 28px;
    position: absolute;
    top:10px;
    right:15px;
    cursor: pointer;
  }
  .text-tip {
    height:240px;
    p{
      margin-bottom:0;
      text-align:center;
      color:#fff778;
      line-height:50px;

      &.des-text{
        color:#fff;
        font-size:18px;
        padding: 0 20px;
        line-height: 36px;
      }
      &.login-text{
        padding-top:10px;
        font-size:30px;
        padding-top: 60px;
      }
      &.success-text {
        font-size: 30px;
        padding-top: 30px;
      }
      &.reward-text {
        font-size:30px;
      }
    }
  }
  .btn-list {
    text-align: center;
    a {
      background: #fceb5e;
      padding: 10px 38px;
      line-height: 20px;
      color: #9a3528;
      font-size: 18px;
      border-radius: 27px;
      display: inline-block;
      margin: 30px;
      box-shadow: 0 4px 0 #eeb33d;
      &:hover {
        top: 2px;
        box-shadow: 0 2px 0 #eeb33d;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  @-webkit-keyframes bounceIn2{
    100%{opacity:1;
      -webkit-transform:scale(0.7) !important;
      transform:scale(0.7)!important;
    }
  }
  @keyframes bounceIn2{
    100%{opacity:1;
      -webkit-transform:scale(0.7)!important;
      -ms-transform:scale(0.7);
      transform:scale(0.7);
    }
  }

  .tip-out-box {
    @include transform-scale(0.7);
    -webkit-animation-name:bounceIn2!important;animation-name:bounceIn2!important;

  }
}

