@import 'variables', "global_png";
$linkColor:#666 #ff770f;
a {
  color: nth($linkColor,1);
  &:hover {
    color: nth($linkColor,2);
  }
}
.header-container {
  background: #fcfcfc;
  font-size: 12px;
  color: #666;
  height:40px;
  line-height: 40px;
  border-bottom:1px solid #f0f0f0;
  .header-download {
    display: none;
    padding: 10px 4px;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    .icon-close {
      margin-right: 10px;
      width:16px;
    }
    span {
      line-height: 1.8;
      display: inline-block;
      font-size: 14px;
      vertical-align: bottom;
      text-align: center;
      margin-left: 5px;
    }
    a.btn-normal {
      padding: 5px 8px;
      letter-spacing: 0;
      margin-top:5px;
    }
  }
  .header {
    height:40px;
    margin: 0 auto;
    .service-time {
      display: inline-block;
      background: #fcfcfc;
    }
    time {
      color: #808080;
      margin-left: 8px;
    }
    ul {
      margin-top:12px;
      li {
        float: left;
        display: inline-block;
        line-height: 15px;
        border-right: 1px solid #666;
        padding-right: 10px;
        padding-left: 10px;
        &:nth-last-child(1) {
          padding-right: 0px;
          border-right-width: 0;
        }

        &.header-message {
          position: relative;
          .message-badge {
            &.zero {
              display: none;
            }
            position: absolute;
            background: #ea3622;
            color: #fff;
            top: -11px;
            right: -6px;
            font-size: 12px;
            border-radius: 5px;
            height: 15px;
            line-height: 15px;
            padding: 0 5px;
          }
        }

      }
    }
  }
}

.footer-container {
  width: 100%;
  background: #3f3f3f;
  color: #c2c2c2;
  overflow: hidden;
  .footer {
    height: 210px;
    margin: 0 auto;
    ul {
      float:left;
      min-width: 120px;
      text-align:left;
      li {
        height: 14px;
        margin-top: 14px;
        font-size: 12px;
        a {
          color: #c2c2c2;
        }
        a:hover {
          text-decoration: underline;
        }
      }
      .f-title {
        font-size: 14px;
        color: #fff;
        margin:30px 0 25px 0;
      }
      &.last {
        margin-top: 40px;
        float:right;
        li{
          margin-left:20px;
          .img-weixin-img {
            @extend .sprite-global-weixin-img;
            display: inline-block;
          }
          .img-app-download {
            @extend .sprite-global-app-download;
            display: inline-block;
          }
        }
      }
    }
  }
  .copyright {
    height: 65px;
    border-top: #606060 1px solid;
    margin: 0 auto;
    padding-top: 10px;
    .img-gray:hover {
      -webkit-filter: none;
      -moz-filter: none;
      -ms-filter: none;
      -o-filter: none;
      filter: none;
    }
  }
  .link-list{
    border-top: #606060 1px solid;
    h3{
      float:left;
      width:100px;
      font-size:14px;
      color:#fff;
      margin:6px 0;
      text-align:center;
    }
    ul {
      float:left;
      width:837px;
      height:30px;
      margin:3px 0;
      overflow:hidden;
      li {
        float:left;
        width:93px;
        margin: 6px 0;
        font-size: 12px;
        text-align:left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        a {
          color: #c2c2c2;
        }
        a:hover {
          text-decoration: underline;
        }
      }
    }
    .get-more{
      float:left;
      width:63px;
      margin: 6px 0;
      text-align:center;
      cursor:pointer;
      &.active{
        .fa-chevron-down{
          display:none;
        }
        .fa-chevron-up{
          display:inline-block;
        }
      }
      .fa-chevron-up{
        display:none;
      }
    }
  }
  .footer-responsive{
    display:none;
    float:left;
    width:100%;
    background:#fafafa;
    padding:20px 0;
    p{
      text-align:center;
      margin-bottom:0;
      font-size:12px;
      color:#999;
    }
    ul{
      width: 300px;
      margin: 0 auto;
      overflow: hidden;
      margin-bottom: 5px;
      li{
        float:left;
        width:33.333333%;
        text-align:center;
        border-right:1px solid #ccc;
        box-sizing:border-box;
        line-height:14px;
        &:last-child{
          border-right:none;
        }
        a{
          font-size:12px;
          color:#999;
        }
      }
    }
  }
}

.nav-container-point {
  width: 100%;
  background: #fff;
  .nav {
    width: 1000px;
    height: 75px;
    position: relative;
    margin: 0 auto;
    .logo {
      background: url("/point/images/icons/logo-index.png") left center no-repeat;
      width: 370px;
      height: 50px;
      display: block;
      float: left;
      margin-top: 15px;
    }
    .show-main-menu {
      display: none;
      margin-top: 25px;
      margin-right: 10px;
      font-size: 20px;
    }
    ul {
      height: 100%;
      float: right;
      li {
        float: left;
        width: 90px;
        margin-left: 15px;
        position: relative;
        a {
          border-top: #fff 3px solid;
          display: block;
          height: 52px;
          text-align: center;
          padding-top: 20px;
          color: #4d4d4d;
          font-size: 15px;
          &:hover {
            cursor: pointer;
            color: #428edf;
            border-top: #428edf 3px solid;
          }
          &.active {
            color: #428edf;
            border-top: #428edf 3px solid;
          }
        }
        &.top-membership, &.top-activity {
          display: none;
        }
      }
    }
  }
}

.main-frame {
  width: 1000px;
  height: auto;
  margin: 20px auto;
  .left-nav {
    width: 150px;
    height: auto;
    overflow: hidden;
    float: left;
    background: #e7eaef;
    margin: 0 15px 20px 0;
    li {
      border-bottom: #f9f9f9 1px solid;
      a {
        display: block;
        height: 45px;
        line-height: 45px;
        text-align: center;
        color: #4d4d4d;
        &:hover {
          background: #ffe0c7;
        }
        &.active {
          background: #ff7200;
          color: #fff;
        }
      }
    }
  }
  .about-us-container,.content-container {
    background: #fff;
    padding:10px 30px 30px 40px;
    overflow: hidden;
    min-height: 400px;
  }
}

.store-footer{
  float:left;
  width:100%;
  background:#ebebeb;
  .wp{
    width:1000px;
    margin:0 auto;
    position: relative;
  }
  .footer-list{
    padding:40px 0;
    dl{
      float:left;
      &.list-normal{
        width:155px;
      }
      &.list-contact{
        width:420px;
      }
      dt{
        float:left;
        width:100%;
        font-size:18px;
        color:#4c4c4c;
      }
      dd{
        float:left;
        width:100%;
        line-height:30px;
        a{
          font-size:14px;
          color:#808080;
          span{
            font-size:20px;
            color:#fc4a52;
            line-height:19px;
          }
        }
      }
    }
    .images-app{
      float:right;
      width:100px;
      .img-app-download{
        float:left;
        width:100px;
        height:100px;
        background-image: url("/point/images/global_20160904.png");
        background-position: -308px -100px;
        -webkit-background-size: 408px 290px;
        -moz-background-size: 408px 290px;
        background-size: 408px 290px;
      }
      p{
        float:left;
        width:100%;
        margin-bottom:0;
      }
    }
  }
  .copyright-info{
    border-top:1px solid #ccc;
    line-height:60px;
    text-align:center;
    font-size:16px;
    color:#808080;
  }
}

@media screen and (max-width: 700px) {
  .header-container {
    padding-left:10px;
    padding-right:10px;
    .header-download {
      display: block;
    }
    .header-membership, .header-activity-center {
      display: none;
    }
    .membership-store {
      display: none;
    }
    .header {
      width:100%;
      ul li {
        margin-left:2px;
        margin-right:0;
        a { padding-left:5px;}

      }
      time,.login-pop-app {
        display: none;
      }
    }
  }
  .nav-container-point {

    .nav {
      width:auto;
      .logo {
        width: 270px;
        background-size: 100%;
        margin-left: 10px;
      }

      .show-main-menu {
        display: inline-block;
        cursor: pointer;
      }
      ul {
        display: none;
        background: #fff;
        border:1px solid #ccc;
        position: absolute;
        top:48px;
        right:0;
        z-index: 100;
        overflow: auto;
        height: auto;

        li {
          float: none;
          clear: both;
          margin-left: 0;
          width:120px;
          a {
            height:25px;
            font-size: 13px;
            text-align:left;
            padding: 5px 10px;
            border-bottom: 1px solid #ccc;
            &:hover,&.active {
              color: #ff7200;
              border-bottom: #ff7200 1px solid;
              border-top:3px solid #fff;
            }
          }
          &.top-membership, &.top-activity {
            display: block;
          }
        }
      }
    }
  }
  .footer-container .page-width{
    display:none;
  }
  .footer-container .footer-responsive{
    display:block;
  }
  .main-frame{
    .content-container {
      padding: 10px!important;
    }
    .left-nav{
      width:640px;
      margin:0;
      li{
        float: left;
        width:16.666666%;
        &:nth-child(4) {
          display: none;
        }
      }
    }

  }
}