
.foot {
  width: 100%;
  background: #3f3f3f;
  height: 280px;
  overflow: hidden;
  margin-top: 20px;
}

.foot-main {
  width: 1000px;
  height: 210px;
  margin: 0px auto;
  color: #fff;
  & ul {
    width: 140px;
    float: left;
    text-align: left;
    & li {
      width: 140px;
      height: 14px;
      margin-top: 14px;
      & a {
        display: block;
        width: 140px;
        height: 14px;
        color: #fff;
        font-size: 12px;
      }
      & a:hover {
        text-decoration: underline;
      }
    }
    & p {
      width: 140px;
      height: 18px;
      line-height: 18px;
      margin-top: 52px;
      font-size: 14px;
    }
  }
  & ol {
    width: 610px;
    float: left;
    & span {
      width: 140px;
      height: 18px;
      line-height: 18px;
      margin-top: 52px;
      font-size: 14px;
      display: block;
    }
    & p {
      font-size: 18px;
      width: 600px;
      margin-top: 14px;
      & em {
        margin-left: 10px;
      }
    }
    & li {
      width: 600px;
      height: 14px;
      margin-top: 14px;
      font-size: 12px;
    }
  }

}

.copyright {
  width: 1000px;
  height: 68px;
  border-top: #606060 1px solid;
  margin: 0px auto;
  color: #fff;
  font-size: 15px;
  & span {
    width: 520px;
    float: left;
    display: block;
    height: 68px;
    line-height: 68px;
  }
  & p {
    float: left;
  }
}