.nav-main {
  width:1000px;
  margin:0px auto;
  height: 62px;
  & a{
    display: block;
    float:left;
    margin-top:10px;
  }
  & p {
    position: absolute;;
    width: 100px;
    height: 62px;
    text-align: center;
    line-height: 62px;
    border-left: #f68e3a 1px solid;
    top: 36px;
    left: 776px;
    display: block;
    font-size: 24px;
    color: #adacac;
  }
  & span {
    position: absolute;
    left: 880px;
    top: 60px;
    font-size: 12px;
    color: #1c1c1c;
    & a {
      color: #f68e3a;
    }
  }
}

.registered {
  width: 998px;
  height: auto;
  min-height: 570px;
  overflow: hidden;
  background: #fff;
  margin: 12px auto;
  border: #cecece 1px solid;
  border-radius: 3px;
  position: relative;
  & ul {
    width: 100%;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 20px;
    color: #f68e3a;
    margin-top: 8px;
    & li {
      float: left;
      height: 55px;
      & a {
        color: #f68e3a;
        display: block;
        height: 55px;
        line-height: 55px;
        & span {
          margin-right: 10px;
        }
      }
    }
    & li.reg-one {
      width: 330px;
      margin-left: 7px;
      background: url("../images/register/reg_one_active.png") no-repeat;
      color: #fff;
    }

    & li.reg-two {
      width: 324px;
      background: url("../images/register/reg_two.png") no-repeat;
    }
    & li.reg-three {
      width: 324px;
      margin-left: 6px;
      background: url("../images/register/reg_three.png") no-repeat;
    }
  }
}

.step-one {
  width: 610px;
  height: 410px;
  margin-left: 348px;
  display: block;
  & ol {
    width: 600px;
    & li {
      width: 600px;
      height: 40px;
      margin-top: 20px;
      position: relative;

      .form-error {
        font-weight: normal;
        color: #f68e3a;
        font-size: 12px;
        margin-left: 6px;
        width: 180px;
        float: left;
        line-height: 20px;
        display: block;
        padding-left: 28px;
        background: url("../images/register/registered.png") no-repeat 0px -81px;
      }

      & em {
        position: absolute;
        left: 330px;
        top: 8px;
        background: url("../images/register/registered.png") no-repeat 0px -465px;
        width: 22px;
        height: 22px;
        opacity: 0;
      }
      & strong {
        position: absolute;
        left: 330px;
        top: 8px;
        width: 180px;
        height: 22px;
        dispaly: block;
        font-weight: normal;
        display: none;
        background: url("../images/loading.gif") no-repeat;
      }
    }
    & input {
      width: 280px;
      height: 38px;
      line-height: 38px;
      border: #cecece 1px solid;
      border-radius: 3px;
      padding-left: 40px;
      float: left;
    }
    & .send-vcode {
      display: block;
      width: 90px;
      height: 28px;
      background: #f68e3a;
      color: #fff;
      border-radius: 3px;
      position: absolute;
      left: 224px;
      top: 3px;
      font-size: 12px;
      line-height: 28px;
      text-align: center;
      cursor: pointer;
    }
    & input.phone {
      background: url("../images/register/registered.png") no-repeat 6px -362px;
    }
    & input.vcode {
      background: url("../images/register/registered.png") no-repeat 6px -548px;
    }
    & input.email {
      background: url("../images/register/registered.png") no-repeat 6px 9px;
    }
    & input.password {
      background: url("../images/register/registered.png") no-repeat 6px -173px;
    }
    & input.user {
      background: url("../images/register/registered.png") no-repeat 6px -268px;
    }
    & input.username{
      background: url("../images/register/registered.png") no-repeat 6px -640px;
    }

  }

  & a {
    width: 174px;
    height: 48px;
    background: #fee2cb;
    border-radius: 3px;
    line-height: 48px;
    text-align: center;
    display: block;
    margin: 20px 0px 20px 66px;
    font-size: 20px;
    color: #f68e3a;
  }
  & p {
    width: 190px;
    height: 14px;
    line-height: 14px;
    margin-left: 68px;
    display: block;
    font-size: 12px;
    position: relative;
    padding-left: 20px;
    & input.check-input {
      width: 13px;
      height: 13px;
      float: left;
      display: inline-block;
      position: absolute;
      left: 0px;
      top: 1px;
    }
    & span {
      cursor: pointer;
    }
  }
}

.reg-mask {
  width: 100%;
  height: 643px;
  background: rgba(0, 0, 0, .8);
  overflow: hidden;
  z-index: 980;
  position: fixed;
  left: 0px;
  top: 0px;
  display: none;
}

.areen {
  width: 1000px;
  height: 643px;
  overflow: auto;
  background: #fff;
  position: fixed;
  left: 50%;
  top: 0px;
  margin-left: -500px;
  display: none;
  z-index: 990;
  & h3 {
    width: 940px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-top: 20px;
  }
  & p {
    width: 940px;
    text-indent: 30px;
    padding: 0px 20px;
    font-size: 14px;
    line-height: 24px;
    margin-top: 20px;
    margin: 20px 0px 0px 0px;
    height: auto;

  }
  & p:first-child {
    margin-top: 100px;
  }
  & p:last-child {
    margin-bottom: 100px;
  }
}

.step-two {
  width: 700px;
  height: 340px;
  overflow: hidden;
  margin: 70px 0px 0px 280px;

  display: none;

  & p {
    width: 700px;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
    position: relative;
    & input {
      float: left;
      width: 260px;
      height: 38px;
      line-height: 38px;
      border: #cecece 1px solid;
      border-radius: 3px;
      display: block;
      padding-left: 40px;
    }
    & input.register-name{
       background: url("../images/register/registered.png") no-repeat 6px -268px;
    }
    & input.register-idcard{
      background: url("../images/register/registered.png") no-repeat 6px -724px;
    }
    & span {
      width: 80px;
      display: block;
      text-align: right;
      float: left;
    }
    & b {
      font-size: 12px;
      color: #f68e3a;
      margin-left: 6px;
      width: 280px;
      padding-left: 26px;
      height: 38px;
      line-height: 38px;
      background: url("../images/register/registered.png") no-repeat 0px -82px;
      display: block;
      float: left;
      display: none;
    }
    & em {
      position: absolute;
      left: 370px;
      top: 10px;
      background: url("../images/register/registered.png") no-repeat 0px -465px;
      width: 22px;
      height: 22px;
      display: none;
    }
  }
  & a {
    width: 174px;
    height: 48px;
    background: #fee2cb;
    border-radius: 3px;
    line-height: 48px;
    text-align: center;
    display: block;
    margin: 90px 0px 0px 120px;
    font-size: 20px;
    color: #f68e3a;
  }

}