<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuotiansudai.cfca.mapper.AnxinContractResponseMapper">

    <cache eviction="LRU" type="com.tuotiansudai.cache.MybatisRedisCache"/>
    <resultMap id="anxinContractRequestModel" type="AnxinContractResponseModel">
        <id column="id" property="id"/>
        <result column="business_id" property="businessId"/>
        <result column="batch_no" property="batchNo"/>
        <result column="contract_no" property="contractNo"/>
        <result column="tx_time" property="txTime"/>
        <result column="locale" property="locale"/>
        <result column="ret_code" property="retCode"/>
        <result column="ret_message" property="retMessage"/>
        <result column="created_time" property="createdTime"/>
        <result column="updated_time" property="updatedTime"/>
    </resultMap>

    <insert id="create" parameterType="AnxinContractResponseModel" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `anxin_operations`.`anxin_contract_response`
        (`business_id`,`batch_no`,`contract_no`,`tx_time`,`locale`,`ret_code`,`ret_message`,`created_time`)
        VALUES
        (#{businessId},#{batchNo},#{contractNo},#{txTime},#{locale},#{retCode},#{retMessage},#{createdTime});
    </insert>

    <update id="update" parameterType="AnxinContractResponseModel">
        UPDATE `anxin_operations`.`anxin_contract_response`
        SET
        `business_id` = #{businessId},
        `batch_no` = #{batchNo},
        `contract_no` = #{contractNo},
        `tx_time` = #{txTime},
        `locale` = #{locale},
        `ret_code` = #{retCode},
        `ret_message` = #{retMessage},
        `created_time` = #{createdTime}
        WHERE id = #{id}
    </update>

    <update id="updateRetByContractNo" parameterType="map">
        UPDATE `anxin_operations`.`anxin_contract_response`
        SET
        `ret_code` = #{retCode},
        `ret_message` = #{retMessage},
        `updated_time` = #{updatedTime}
        WHERE `contract_no` = #{contractNo}
    </update>

</mapper>